{% extends "::new-design/public.html.twig" %}

{% block body %}
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Beneficios</title>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,800,600italic,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/home/beneficios.css') }}"/>
<link rel="stylesheet" href="{{ asset('public/css/home/flexslider.css') }}" type="text/css" media="screen" />
</head>

<body>

	<main>
    	<header>
        	<!--aca va el nav que ya esta hecho-->
        	<div id="banner-beneficios">
            	<div id="banner-beneficios-cont">
                  <h1 class="bold azuloscurofont">Los mejores beneficios</h1>
                  <h1 class="light azulmediofont">en un solo lugar</h1>
                  <p class="light-italic">Disminuya los riesgos y haga una gestión de sus empleados de forma eficiente y fácil</p>
                </div>
            </div>
        </header>


            <div id="breadcrumb">
            	<h2 class="light azulmediofont">Beneficios</h2>
            	<!--<div class="bread-style"><a href="#" class="light">› incio</a> <span class="bold naranjafont">› beneficios</span></div>-->
            </div>

            <!--<section><div id="fondo-video">
            	<h3  class="light espacio">Multiples tareas a solo un<br>clic de distancia</h3>
                <div id="slide">
                	<div class="flexslider">
                      <ul class="slides">
                        <li>
                            <img src="{{ asset('public/img/home/slider/gal1.png') }}" />
                            </li>
                            <li>
                            <img src="{{ asset('public/img/home/slider/gal1.png') }}" />
                            </li>
                            <li>
                            <img src="{{ asset('public/img/home/slider/gal1.png') }}" />
                            </li>
                            <li>
                            <img src="{{ asset('public/img/home/slider/gal1.png') }}" />
                            </li>
                      </ul>
                    </div>
                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a ex pulvinar, malesuada ante sed, commodo mi. Integer ac eros quis enim pellentesque mattis non.</p>
                </div>
                <div class="callto2 naranja bold">Prueba un mes gratis</div>
            </div>
        </section>-->

        <section class="centrar">
        	<div id="beneficios-title">
                <h3 class="light grisclarofont">¿Por qué Symplifica?</h3>
                <p class="light grisclarofont">Beneficios pensados para pequeñas<br>empresas o personas</p>
            </div>
            <div id="cont-beneficios-list">
                <div class="beneficios-list section group">
                    <div class="right col span_1_of_4">
                    	<img class="icon" src="{{ asset('public/img/home/icon.png') }}"/>
                    </div>
                    <div class="left col span_3_of_4 linea-punteada">
                    	<h4 class="light">Contrato acorde a <br><span class="extrabold">lo que necesitas</span></h4><br>
                        <p class="light">Te guiamos en la correcta contratación de tu empleado. Vive tranquilamente sabiendo que haces todo de acuerdo a la ley. Descomplícate y olvídate de hacer esos trámites que no conoces.</p>
                    </div>
                </div>

								<div class="beneficios-list section group">
                	<div class="right col span_3_of_4 linea-punteada">
                    	<h4 class="light">Afiliación sencilla <br><span class="extrabold">de tus empleados</span></h4><br>
                        <p class="light rightp">Afiliamos a tus empleados y a ti a las administradoras de seguridad social, podras disfrutar de tu tiempo mientras nosotros nos hacemos cargo de los complicados trámites de la afiliación</p>
                    </div>
                    <div class="left col span_1_of_4">
                    	<img class="icon" src="{{ asset('public/img/home/icon4.png') }}"/>
                    </div>
                </div>

                <div class="beneficios-list section group">
                    <div class="right col span_1_of_4">
                    	<img class="icon" src="{{ asset('public/img/home/icon3.png') }}"/>
                    </div>
                    <div class="left col span_3_of_4 linea-punteada">
                    	<h4 class="light">Pago <br><span class="extrabold">electrónico</span></h4><br>
                        <p class="light">Olvídate de estar sacando dinero cada vez que tienes que pagar a tus empleados, con Symplifica puedes liquidar y pagar la nómina con un sólo clic.</p>
                    </div>
                </div>

								<div class="beneficios-list section group">
                	<div class="right col span_3_of_4 linea-punteada">
                    	<h4 class="light">Guardamos <br><span class="extrabold">la documentación</span></h4><br>
                        <p class="light rightp">Generamos un historial con todos los documentos digitales de la relación laboral. Todos tus soportes los encontrarás en Symplifica.<br><br>A través del panel de control te notificaremos todos los asuntos que tengas pendientes, ya no olvidarás nada ¡Siempre estarás al día!</p>
                    </div>
                    <div class="left col span_1_of_4">
                    	<img class="icon" src="{{ asset('public/img/home/icon5.png') }}"/>
                    </div>
                </div>

                </div>
            <div id="callregistro">
                <p class="bold" style="margin:0px;font-size:20px">Registrate ahora</p>
                <p class="light">y obtén un mes de servicio gratis</p>
                <a href="/register"><div class="callto naranja bold">Prueba un mes gratis</div></a>
            </div>
        </section>
    </main>
	<!-- jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

  <!-- FlexSlider -->
  <script defer src="{{ asset('public/js/home/jquery.flexslider.js') }}"></script>

  <script type="text/javascript">
    $(function(){
      //SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
</body>
</html>

{% endblock %}
