<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lo Hago Bien</title>
    <style>
        *,a {margin: 0 auto; padding: 0; text-decoration: none}


        .grisclarofont  {color: #87868A}
        .grisoscurofont {color: #60605e}
        .naranjafont  {color: #FD9224}
        .azuloscurofont {color: #3c4b5a}
        .azulmediofont {color: #00838c}
        .azulclarofont {color: #00cccb}

        .fondo-section {background: #f7f7f7; padding-bottom: 50px;}

        .naranja {background: #FD9224}
        .azuloscuro {background: #3c4b5a}
        .azulmedio {background: #00838c}
        .azulclaro {background: #00cccb}
        .rojo {background: #fd5c5c}

        .light {font-family: 'Open Sans', sans-serif;font-weight: 300}
        .bold {font-family: 'Open Sans', sans-serif;font-weight: 700}
        .extrabold {font-family: 'Open Sans', sans-serif;font-weight: 800}


        main {
            width: 100%;
            height: auto;
            overflow: hidden;
            text-align: center;
            border-top: 20px solid #6c9da2;
        }
        header {
            margin-bottom: 30px;
        }
        #headerCont {
            width: 520px;
        }

        #headerCont span {
            display: block;
            margin: 15px 0;
        }
        #tiempoLimitado {
            position: absolute;
            left: 0;
            top: 0;
        }
        .back {
            background: #FD9224;
            padding: 10px 30px;
        }
        #campañaTitle {
            margin-bottom: 20px;
        }
        #campañaDesc {
            background: #ea861f;
            color: #FFF;
            padding: 10px 0 0;
        }
        #form {
            margin: 20px 0;
        }
        #form .half {
            width: 49%;
        }

        #form .full {
            width: 99%;
        }

        #form .input {
            margin: 5px 0;
            font-size: 15px;
            background: #f1f1f1;
            border: none;
            border-radius: 25px;
            padding: 5px 0;
            text-align: center;
            outline: none;
        }

        #form .info {
            background: #6c9da2;
            border: none;
            width: 49%;
            color: #FFF;
            white-space: normal;
        }

        #form .start {
            background: #3e6e73;
            border: none;
            width: 90%;
            color: #FFF
        }

        #form .terms {
            font-weight:  600;
            background: #FFF;
            border: 1px solid #CCC;
            width: 300px;
            margin: 5px 0 0;
            color: #5D5D5D
        }

        .buttonf {
            border-radius: 25px;
            padding: 10px 0;
            text-transform: uppercase;
            outline: none;
        }

        #pig {
            background: url({{ asset('public/img/landing/azul.png') }});
            background-size: cover;
            background-attachment: fixed;
            background-position: center center;
            height: 135px;
        }

        #pig img {
            width: 500px;
            height: auto;
        }
        .callTo {
            width: 300px;
            color: #FFF;
            margin: 25px auto 0;
        }
        #descubre {
            margin: 20px auto;
            width: 900px;
            padding: 15px 0;
        }
        #ganaCont {
            background: #fbfbfb;
            padding: 60px 0;
        }
        #gana .pasos {
            float: left;
            width: 25%;
        }
        #gana {
            width: 1100px;
            clear: both;
            height: auto;
            overflow: hidden;
        }
        .error {
          color: #5D5D5D;
          font-size: 12px;
          font-weight: 100;
        }
        .pasos span {
            font-size: 35px;
            color: #fd9224;
        }

        .postClic {
          color: #5d5d5d;
          border: dashed 1px #CCC;
          border-radius: 5px;
          padding: 15px;
          margin-top: 10px;
        }

        #video {
        	width: 100%;
        	height: 450px;
        	background: url("../../img/home/video.png");
        	background-size:cover;
        	background-position:center;
        	padding: 100px 0 0 0;
            box-sizing: border-box;
        	margin: 40px 0 0 0}

        #video-info {text-align: center}
        #video-info p {color: #FFFFFF; margin-bottom: 30px;font-size: 20px;}
        #video-info h3 {margin-top: 30px}
        .callto2 {
        	width: 200px;
        	height: 35px;
        	margin: 0 auto;
        	border-radius: 3px;
        	border-bottom:#D3731C 3px solid; color: #FFFFFF;
        	padding: 6px 12px;
        	box-sizing: border-box;
        	text-align: center;
        }
        video {
        	position: fixed;
        	right: 0;
        	top: 0;
        	left: 0;
        	bottom: 0;
        	min-width: 90%;
        	min-height: 100%;
        	width: 100%;
        	height: 88%;
        	z-index: -100;
        	background-size: cover;
        }

        /*modal 2*/
        .modalDialog {
            position: fixed;
            font-family: Arial, Helvetica, sans-serif;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.8);
            z-index: 99999;
            opacity:0;
            -webkit-transition: opacity 400ms ease-in;
            -moz-transition: opacity 400ms ease-in;
            transition: opacity 400ms ease-in;
            pointer-events: none;

        }
        .modalDialog:target {
            opacity:1;
            pointer-events: auto;
        }

        .xdiv {
        		background: #000;
            width: 100%;
            height: auto;
            text-align: center;
            overflow: hidden;
            padding: 15px 0;
            opacity: 0.8;
            font-weight: 800;
            font-size: 25px;
        }
        .close {
            width: 100%;
        		color: #FFF !important;
        		opacity: 1;
        }
        .close:hover {
            color: : #00d9ff;
        }

        .gratis {
          margin: 25px 0 50px;
        }

        #terminosText {
          width: 600px;
          margin: 0 auto;
          background: #fbfbfb;
          padding: 35px;
          text-align: left;
          box-sizing: border-box;
          color: #5D5D5D;
          overflow: hidden;
          overflow-y: scroll;
          height: 700px;
          }
        }
        /*animaciones*/
        .animated {
          animation: 1s 2s 2;
          animation-fill-mode: both;
        }
        .tada {
  -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes tada {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  10%, 20% {
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -0.5deg);
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -0.5deg);
  }
  30%, 50%, 70%, 90% {
  -webkit-transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 0.5deg);
  transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 0.5deg);
  }
  40%, 60%, 80% {
  -webkit-transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -0.5deg);
  transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -0.5deg);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  @keyframes tada {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  10%, 20% {
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -0.5deg);
  transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -0.5deg);
  }
  30%, 50%, 70%, 90% {
  -webkit-transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 0.5deg);
  transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 0.5deg);
  }
  40%, 60%, 80% {
  -webkit-transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -0.5deg);
  transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -0.5deg);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }

  /*responsive*/

    @media only screen and (max-width: 1100px) {
      #descubre, #gana {width: 90%}
    }

    @media only screen and (max-width: 520px) {
      #headerCont {width: 90%}
      #terminosText {width: 90%; height: 600px}
      #gana .pasos {width: 100%;margin: 30px 0;}
    }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,700,800" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js"></script>
    <script>
        // JavaScript
        window.sr = ScrollReveal();
    </script>
    <title>Responsive email</title>
</head>

<body>
    <main>
        <header>
            <div id="headerCont">
                <div id="tiempoLimitado">
                    <img src="{{ asset('public/img/landing/time.png') }}" alt="tiempo limitado">
                </div>
                <div class="demo">
                  <span><img alt="Hacer las cosas bien paga" src="{{ asset('public/img/landing/sello.png') }}"></span>
                  <span class="foo block"><img alt="Symplifica" src="{{ asset('img/logo.png') }}"></span>
                  <div id="campañaTitle" class="bar block">
                      <h2 class="bold azulmediofont">Gestiona de forma sencilla</h2>
                      <h3 class="light azulmediofont">a los empleados de tu hogar</h3>
                  </div>
                  <div id="campañaDesc" class="bar block tada animated">
                      <h1 class="bold">y recibe $150.000*</h1>
                      <p class="back light">
                          Regístrate y si pagas el salario por medios electrónicos te regalaremos
                          <strong>$150.000 pesos para pagar el sueldo de tu empleada*</strong>
                      </p>
                  </div>
                </div>
                <div id="form">
                    {{ form_start(form) }}
                        <input class="half input" type="text" name="firstname" value="" placeholder="Nombre">
                        <input class="half input" type="text" name="lastname" value="" placeholder="Apellido"><br>
                        <input class="input full" type="text" name="cellphone" value="" placeholder="Celular"><br>
                        <input class="input full" type="text" name="email" value="" placeholder="Correo electrónico">
                        <br>
                        <!--<input class="info buttonf" type="submit" value="¡Quiero más información!">-->
                        {{ form_widget(form.save, { 'attr': {'class': 'start buttonf'}}) }}
                    {{ form_end(form) }}<br />
                    <a href="#openModal" id="terminos"><input class="terms buttonf" type="submit" value="Términos y condiciones"></a>
                    <div class="postClic light" hidden=""><!--este es el div que apareceria si dan clic en ¡Quiero más información!-->
                      Muy pronto uno de nuestros asesores expertos se contactará contigo para darte toda la información que necesitas.<br />
                      <strong class="bold azulclarofont">¡Que tengas un buen día!</strong>
                      {{ form_widget(form.save, { 'attr': {'class': 'start buttonf'}}) }}
                    </div>
                </div>
            </div>
        </header>
        <section>
            <div id="pig"></div>
            <div id="descubre">
                <h1 class="light azulclarofont">Descubre Symplifica</h1>
                <p class="light grisclarofont">
                    Olvídate de los procesos tediosos y complicados, nosotros nos encargaremos de administrar el día a día de tus empleados domésticos de forma segura y según la ley.
                </p>

                <div onclick="playimg()" id="video2">
                  <a href="#openModal" id="vid"><div class="buttonf light azulmedio callTo">Ver video</div></a>
                </div>
            </div>

            <div id="openModal" class="modalDialog">
                <div id="secvid">
      							<div class="xdiv">
      								<a href="#close" title="Close" id="pausar" class="close">Cerrar</a>
      							</div>
      							<video controls="true" onclick="playPause()" id="video1" type='video/mp4'>
      							  <source src="{{ asset('public/video/video.mp4') }}" type='video/mp4'></source>
      							</video>
                </div>
                <div id="secterms">
      							<div class="xdiv">
      								<a href="#close" title="Close" id="pausar" class="close">Cerrar</a>
      							</div>
      							<div id="terminosText">
                      <h4>Términos y Condiciones de la Promoción “Hacer las Cosas Bien Paga”</h4><br />
                      <p>
                        <strong>SYMPLIFICA</strong> entregará un premio de valor equivalente hasta ciento cincuenta mil pesos ($150.000),
                        a los clientes que completen el registro de al menos un (1) empleado entre el 15 de noviembre de 2016 y el 30 de
                        noviembre de 2016 (o hasta agotar existencias, lo que ocurra primero).  El valor máximo de $150.000 será aplicado
                        como descuento en el pago de la nómina y/o seguridad social de uno de tu(s) empleado(s), siempre y cuando se cumplan
                         los siguientes Términos y Condiciones:<br /><br />

                        1). Promoción válida para clientes que completen el registro de al menos un (1) empleado entre el 15 de noviembre de
                        2016 y el 30 de noviembre de 2016, o hasta agotar existencias lo que ocurra primero. En caso de agotar existencias
                        antes del 30 de noviembre de 2016, SYMPLIFICA dará aviso de la terminación de la promoción a través de sus redes sociales.<br /><br />
                        2). Se debe completar el registro del trabajador en la Plataforma, incluyendo todos los documentos solicitados, en las
                        fechas establecidas.<br /><br />
                        3). Solo aplica para nuevos Usuarios de SYMPLIFICA, o para aquellos usuarios que completen el registro de un (1) nuevo
                        empleado durante las fechas establecidas.<br /><br />

                        4). Para poder registrarse, el Usuario debe tener una cuenta bancaria a su nombre en alguna de las entidades habilitadas en
                        la Plataforma para los pagos.<br /><br />

                        5). El premio de valor de hasta $150.000 se dividirá en dos cuotas mensuales de $75.000, que SYMPLIFICA abonará
                        al total a pagar por el Usuario en concepto de nómina o de seguridad social de uno (1) de sus trabajadores, en
                        la segunda quincena o último período de los respectivos meses, siempre y cuando: (i) el Usuario no pague la nómina
                         de su(s) trabajador(es) en efectivo; (ii) y los valores a pagar en la segunda quincena del respectivo mes sean de
                         mínimo $75.000; en caso de que el valor total a pagar en la segunda quincena del mes en concepto de nómina o seguridad
                         social del trabajador registrado por el Usuario, sea inferior a $75.000, SYMPLIFICA únicamente abonará dicho valor inferior
                          al pago del respectivo mes. El Usuario no tendrá derecho a reclamar en los meses siguientes la diferencia entre los $75.000
                           y el valor abonado por SYMPLIFICA.<br /><br />
                        6) .Si la nómina del empleado registrado es quincenal, el descuento se aplicará a la quincena correspondiente a final del mes.<br /><br />
                        7). Para los Usuarios que completen el registro de al menos un (1) trabajador nuevo en la Plataforma, incluyendo todos los
                        documentos solicitados, antes del día 20 del mes, SYMPLIFICA realizará el primer abono de $75.000 a los pagos del trabajador
                        en el último período de ese mismo mes, y el segundo pago de $75.000 en el último período del mes inmediatamente siguiente.
                        Para los Usuarios que completen el registro mencionado, el día 20 o siguientes del mes, SYMPLIFICA realizará
                        el primer abono de $75.000 a los pagos del trabajador en el último período del mes siguiente, y el segundo pago de $75.000 en
                        el último período del mes inmediatamente posterior a ese.<br /><br />
                        8). Para poder recibir el premio es necesario realizar el registro en Symplifica.com con un método de transferencia electrónica
                         para realizar los pagos de nómina (Cuenta de ahorros o Daviplata). Es decir, si se realizaran los pagos de
                         nómina al empleado en efectivo, no aplicará la promoción en curso.<br /><br />
                        9). Los $75.000 de cada mes deben ser gastados en su totalidad en el mes correspondiente, ya que no se podrán acumular saldos
                         para el segundo mes, ni para los meses siguientes.<br /><br />
                        10). Esta promoción solo aplica para el registro de empleados domésticos (Empleada doméstica, niñera, conductor, mayordomo de
                        finca de recreo, enfermera de adulto mayor).<br /><br />
                        11). El premio es por empleador, independientemente del número de trabajadores registrados. Es decir, el empleador que complete
                        el registro de más de un trabajador en las fechas de vigencia de la promoción, únicamente tendrá derecho a recibir un valor máximo
                         de $150.000 como descuento en los pagos del primer trabajador registrado.<br /><br />
                        12). Promoción válida sólo para Colombia, y aplica solo para aquellas ciudades donde symplifica pueda hacer afiliaciones a las entidades de seguridad social.<br /><br />
                        13). El premio no puede ser cambiado por dinero en efectivo o algún otro elemento.<br /><br />
                        14). Al Usuario acogerse a esta promoción, no implica permanencia mínima. El Usuario podrá cancelar su suscripción en cualquier
                        momento, inactivando todos los trabajadores que tenga registrados en SYMPLIFICA, a través de la Plataforma. No obstante, se aclara
                        que, si el Usuario inactiva en la Plataforma al trabajador a cuyos pagos aplica la promoción, durante alguno de los meses en que le
                         habría correspondido el abono de hasta $75.000 por parte de SYMPLIFICA, el Usuario no tendrá derecho a recibir esas sumas en efectivo
                          ni de ninguna otra forma, ni como descuento en los pagos de ningún otro de sus trabajadores.<br /><br />
                        15). Aplican restricciones; promoción no válida para la afiliación de trabajadores de tiempo parcial bajo el régimen contributivo.<br /><br />
                        16). Las demás condiciones de los Términos y Condiciones generales de SYMPLIFICA, incluyendo las restricciones para el acceso a
                        los servicios de SYMPLIFICA y los servicios excluidos de la Plataforma, aplicarán también para los Usuarios que se beneficien
                        de esta Promoción. Al registrarse, Usted está indicando su aceptación tanto a estos Términos y Condiciones especiales de la Promoción
                         “Hacer las Cosas Bien Paga”, como a los Términos y Condiciones generales de SYMPLIFICA; no obstante, en caso de alguna diferencia o
                         contradicción entre estos Términos y Condiciones especiales y los Términos y Condiciones generales de SYMPLIFICA, primará lo
                         establecido en los Términos y Condiciones especiales de la Promoción “Hacer las Cosas Bien Paga”para los Usuarios que se hayan
                         registrado bajo dicha promoción y aún la tengan vigente.

                      </p>
                    </div>
                </div>
            </div>

            <div id="ganaCont">
                <div id="gana">
                    <h1 class="light azulclarofont">¡Ganar es muy fácil!</h1><br><br>
                    <div class="pasos light grisoscurofont box">
                        <span>&#10122;</span><br>
                        <p>Regístrate en Symplifica.com</p>
                    </div>
                    <div class="pasos light grisoscurofont box">
                        <span>&#10123;</span><br>
                        <p>Ingresa tus datos y los de tus empleados</p>
                    </div>
                    <div class="pasos light grisoscurofont box">
                        <span>&#10124;</span><br>
                        <p>Registra el pago de nómina por medios electrónicos</p>
                    </div>
                    <div class="pasos light grisoscurofont box">
                        <span>&#10125;</span><br>
                        <p>Completa unos pocos documentos</p>
                    </div>
                </div>
            </div>
            <div class="light azulmediofont gratis">
              Obtén un mes gratis<br />
              <strong>en el uso de Symplifica</strong><br /><br />
            <a href="{{ path('home_landing') }}" class="buttonf light callTo naranja" style="padding:10px 45px">Ir a Symplifica</a>
            </div>
        </section>
    </main>
</body>
<script type="text/javascript">



    function playPause() {
        if (myVideo.paused)
            myVideo.play();
        else
            myVideo.pause();
    }
    $.getScript("//ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js").done(function () {
        validator = $("form[name='form']").validate({
            rules: {
                "firstname": "required",
                "lastname": "required",
                "cellphone": {required : true, maxlength : 10},
                "email": {required : true, email : true},
                "chktyc": "required"
            },
            messages: {
                "firstname": "&#8227; El nombre no puede estar vacio",
                "lastname": "&#8227; Los apellidos no pueden estar vacios",
                "cellphone": {required : "&#8227; El celular no puede estar vacio", maxlength : "&#8227; El celular no es válido"},
                "email": {required : "&#8227; El email no puede estar vacio", email : "&#8227; El email no es válido"},
                "chktyc": "&#8227; Acepta los Términos y Condiciones para continuar"
            },
            errorElement : 'div',
            errorLabelContainer: '.errorTxt'
        });
    });
    $('#terminos').click(function(){
        $('#secvid').hide();
        $('#secterms').show();
    });
    $('#vid').click(function(){
        $('#secterms').hide();
        $('#secvid').show();
    });
    $('#pausar').click(function(){
        document.getElementById('video1').pause();
    });
    $('#video2').click(function(){
        document.getElementById('video1').play();
    });

    var myVideo = document.getElementById("video1");

    $('#formfirstname').attr('oninvalid', 'setCustomValidity("El campo no puede estar vacio")');
    $('#formfirstname').attr('oninput', "setCustomValidity('')");

    $('#formlastname').attr('oninvalid', 'setCustomValidity("El campo no puede estar vacio")');
    $('#formlastname').attr('oninput', "setCustomValidity('')");

    $('#formcellphone').attr('oninvalid', 'setCustomValidity("El campo no puede estar vacio")');
    $('#formcellphone').attr('oninput', "setCustomValidity('')");

    $('#formemail').attr('oninvalid', 'setCustomValidity("El correo escrito no es valido")');
    $('#formemail').attr('oninput', "setCustomValidity('')");


//    $("form[name='form']").on('submit',function (e) {
//        if (document.getElementById('formfirstname').value!= null){
//            var nombre = document.getElementById('formfirstname').value;
//        }else{
//            var nombre = "anonymous";
//        }
//        if (document.getElementById('formlastname').value != null){
//            nombre +=' '+document.getElementById('formlastname').value;
//        }
//        if (document.getElementById('formcellphone').value != null){
//            var telefono = document.getElementById('formcellphone').value;
//        }else{
//            var telefono = "null";
//        }
//        if (document.getElementById('formemail').value != null){
//            var email = document.getElementById('formemail').value;
//        }else{
//            var email = "ninguno";
//        }
//        var dateNow = new Date();
//        var day = dateNow.getDate();
//        if(day<10)
//            day='0'+day;
//        var month = dateNow.getMonth()+1;
//        if (month<10)
//            month='0'+month;
//        var year = dateNow.getFullYear();
//        var hour = dateNow.getHours();
//        var min = dateNow.getMinutes();
//        var fecha = day+"/"+month+"/"+year+" "+hour+":"+min;
//        console.log(fecha);
//        fbq('track', 'Lead', {value: email});
//        window.Intercom("trackEvent", "Intento Registro Landing",{
//            "Fecha del intento": fecha,
//            "Nombre en formulario":nombre,
//            "Celular en formulario":telefono,
//            "Email en formulario":email,
//        });
//
//    });



    function stopVideo(){
        $('#mainVideoFrame').attr('src', $('#mainVideoFrame').attr('src'));
    }

    //reveal
    sr.reveal( ".demo .block", { reset: true, viewOffset: { top: 64 } } );
    sr.reveal('.foo');
    sr.reveal('.bar');
    sr.reveal( ".box", { reset: true, viewOffset: { top: 100 } }, 100 );

</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-70850811-3','auto');ga('send','pageview');
</script>
<!-- End Google Analytics -->

</html>
