{% extends "::new-design/public.html.twig" %}
{% block title %}Contactanos{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block body %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="{{ asset('public/css/home/contacto.css') }}">


    <header>
        <!--aca va el nav que ya esta hecho-->
        <div id="banner-beneficios">
            <div id="banner-beneficios-cont">
                <h1 class="bold azuloscurofont">Tu opinión es importante</h1>
                <h1 class="light azulmediofont">para nosotros, contáctanos</h1>
            </div>
        </div>
    </header>

    <section class="section">
        <div class="OptContent">
            <div class="nuevoContact">
              <h2 class="bold azulclarofont">Estamos contigo</h2>
              <p class="nuevop">Recuerda que en symplifica siempre estamos para hacer que tu vida sea más sencilla,
               puedes llamarnos o escribirnos si deseas</p>
            </div>
            <div class="row">
                {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        <div class="exito alert alert-{{ label }} semi-italic" for="alert">
                            {{ flash }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="contactOpt">
                <a href="#llamanosc" onclick = "controles(this)" data-form="1"><div class="OptCon" id="llamanos">
                    <img width="80" src="{{ asset('public/img/landing/benefit5.png') }}" alt="">
                    <div class="bold azulmediofont optText">Llámanos</div>
                </div></a>
                <a href="#scrollescribenos" onclick = "controles(this)" data-form="2"><div class="OptCon" id="escribenos">
                  <img width="80" src="{{ asset('public/img/landing/benefit6.png') }}" alt="">
                  <div class="bold azulmediofont optText">Escríbenos</div>
                </div></a>
            </div>
        </div>
        <div class="tellCont form-provider1" id="llamanosc">
            <p>
            <span class="light azulclarofont"><strong>Ventas</strong><br />350 833 0000</span><br>
            <span class="light azulclarofont"><strong>Servicio al cliente</strong><br />350 461 2013</span><br>
            <span class="bold azulmediofont">Horario de atención</span><br>
            <span class="light azulmediofont">Lunes a viernes</span><br>
            <span class="light azulmediofont">8:00 AM - 5:00 PM</span>
          </p>
        </div>

        <div id="formulario" class="escribenosc tellCont1 form-provider2">
            <h1 style="padding: 0 0 40px 0;">Resuelve tus dudas</h1>
            <div id="contact_form" enctype="multipart/form-data">
                {{ form_errors(form) }}
                {{ form_start(form) }}
                <div class="row">
                    {% for label, flashes in app.session.flashbag.all %}
                        {% for flash in flashes %}
                            <div class="alert alert-{{ label }} semi-italic" for="alert">
                                {{ flash }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="semi-italic grisclarofont" for="name">
                        {{ form_label(form.name) }}
                    </div>
                    <div id="name" class="input" name="name" type="text" value="" size="30">
                        {{ form_widget(form.name) }}
                        {{ form_errors(form.name) }}

                    </div>
                    <br/>

                </div>
                <div class="row">
                    <div class="semi-italic grisclarofont" for="phone">
                        {{ form_label(form.phone) }}
                    </div>
                    <div id="name" class="input" name="name" type="text" value="" size="30">
                        {{ form_widget(form.phone) }}
                        {{ form_errors(form.phone) }}

                    </div>
                    <br/>

                </div>
                <div class="row">
                    <div class="semi-italic grisclarofont" for="email">
                        {{ form_label(form.email) }}
                    </div>
                    <div id="email" class="input" name="email" type="text" value="" size="30">
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>
                    <br/>
                </div>
                <div class="row" id="scrollescribenos">
                    <div class="semi-italic grisclarofont" for="email">
                        {{ form_label(form.subject) }}
                    </div>
                    <div class="input">
                        {{ form_widget(form.subject) }}
                        {{ form_errors(form.subject) }}
                    </div>
                    <br/>
                </div>
                <div class="row">
                    <div class="semi-italic grisclarofont" for="message">
                        {{ form_label(form.message) }}
                    </div>
                    <div id="message" name="message" rows="15" cols="30">
                        {{ form_widget(form.message) }}
                        {{ form_errors(form.message) }}
                    </div>
                    <br/>
                </div>
                <div>
                    {{ form_widget(form) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>

{% endblock %}
{% block javascripts %}
    <script>
      //ajuste nata


function controles(elemento)
{
    var form = elemento.getAttribute("data-form");
    var data = elemento.getAttribute("data-active");

    if(data == undefined || data == null)
    {
        data = 0;

    }

    if(data == 0)
    {
        var sForm = document.querySelector(".form-provider" + form);
        $(sForm).slideDown();

        data = 1;
        elemento.setAttribute("data-active", data);

        if(form == 1)
        {

            var sOtForm = document.querySelector('[data-form ="'  + 2 + '"]');
            sOtForm.setAttribute("data-active", 0);
            var formAx = sOtForm.getAttribute("data-form");
            var sAForm = document.querySelector(".form-provider" + formAx);
            $(sAForm).slideUp();
        }
        else
        {
            var sOtForm = document.querySelector('[data-form ="'  + 1 + '"]');
            sOtForm.setAttribute("data-active", 0);
            var formAx = sOtForm.getAttribute("data-form");
            var sAForm = document.querySelector(".form-provider" + formAx);
            $(sAForm).slideUp();
        }
    }
    else if(data == 1)
    {
        var sForm = document.querySelector(".form-provider" + form);
        $(sForm).slideUp();
        data = 0;
        elemento.setAttribute("data-active", data);

    }



}

      //ajuste nata
        var state = "/old";
        jQuery(document).ready(function () {

            if (!jsLoader(location.href)) {
                $("#main").find("a").not(".notAjax").on("click", function (e) {
                    e.preventDefault();
                    var href = $(this).attr('href');
                    history.pushState({}, '', href);
                    sendAjax(href);
                });
            } else {
                {#$(".body-container a:not(#main a)").not(".notAjax").on("click", function (e) {
                    e.preventDefault();
                    var href = $(this).attr('href');
                    history.pushState({}, '', href);
                    sendAjax(href);
                });
                #}
            }
//                  ajax que maneja los requests
            $(window).on("popstate", function (e) {
                sendAjax(location.href);
            });
            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
            // Simple ajax url manager
            var redirector = getParameterByName('redirector');
            //console.log(redirector);
            if (redirector) {
                sendAjax(redirector);
            }
//                  addNoClick();
        });



        function jsLoader(url) {
            if (typeof url !== 'undefined') {
                if (url.lastIndexOf("/contactenos") !== -1) {
                    $.getScript("{{ asset('public/js/contact.js') }}").done(function () {
                        startContact();
                    });
                    return true;
                }
                return false;
            }
            return false;
        }

    </script>
{% endblock %}
