{% extends "::new-design/public.html.twig" %}
{% block body %}
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Preguntas frecuentes</title>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,800,600italic,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/home/preguntas.css') }}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
</head>

<body>

	<main>
    	<header>
        	<!--aca va el nav que ya esta hecho-->
        	<div id="banner-beneficios">
            	<div id="banner-beneficios-cont">
                  <h1 class="bold azuloscurofont">Tus preguntas son</h1>
                  <h1 class="light azulmediofont">importantes para nosotros</h1>
                </div>
            </div>
        </header>

        <section>
            <div class="breadcrumb" style="background:none !important">
            	<h2 class="light">Preguntas frecuentes</h2>
            </div>

            <div id="texto-descript">
            	<h4 class="light grisclarofont">Encuentre toda la información que requiere para resolver sus dudas e inquietudes.
Contamos con suficientes recursos que le permitirán conocer y aprender más de nuestra herramienta.</h4>
            </div>
        </section>

        <section>
        	<div id="categories">
            	<div class="section group">
                	<a href="/categories/1"><div class="col span_1_of_3 contenido-cat">
                         <img src="{{ asset('public/img/home/cat1.png') }}">
                         <h3 class="light azulmediofont">Acerca de symplifica</h3>
					</div></a>
                    <a href="/categories/2"><div class="col span_1_of_3 contenido-cat">
                         <img src="{{ asset('public/img/home/cat2.png') }}">
                         <h3 class="light azulmediofont">Regístro</h3>
                    </div></a>
                    <a href="/categories/3"><div class="col span_1_of_3 contenido-cat">
                        <img src="{{ asset('public/img/home/cat3.png') }}">
                        <h3 class="light azulmediofont">Precio y facturación</h3>
                    </div></a>

                	<a href="/categories/4"><div class="col span_1_of_3 contenido-cat">
                         <img src="{{ asset('public/img/home/cat4.png') }}">
                         <h3 class="light azulmediofont">Gestión del empleado</h3>
					</div></a>
                    <a href="/categories/5"><div class="col span_1_of_3 contenido-cat">
                         <img src="{{ asset('public/img/home/cat5.png') }}">
                         <h3 class="light azulmediofont">Apoyo en tramites</h3>
                    </div></a>
                    <a href="/categories/6"><div class="col span_1_of_3 contenido-cat">
                        <img src="{{ asset('public/img/home/cat6.png') }}">
                        <h3 class="light azulmediofont">Reporte de novedades</h3>
                    </div></a>
                </div>
            </div>

            <div id="callregistro">
                <p class="bold">Registrate ahora</p>
                <p class="light">y obtén un mes de servicio gratis</p>
                <div class="callto naranja bold">Prueba un mes gratis</div>
            </div>

        </section>
    </main>

<script type="text/javascript">
	$(document).ready(function(){

	});
</script>

<script type="text/javascript">

	function preguntar (buttom) {

		var id = buttom.getAttribute("data-pregunta");
		var answer = document.querySelector("#" + id);
		console.log(answer);
		$(answer).slideToggle();


	}

</script>


</body>
</html>
{% endblock %}
