{% extends "::new-design/public.html.twig" %}
{% block body %}
<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<!--meta de facebook-->
<meta property="og:title" content="Symplifica."/>
<meta property="og:site_name" content="Symplifica."/>
<meta property="og:url" content="https://symplifica.com">
<meta property="og:description" content="Somos la solución online para la gestión de tus empleados domésticos."/>
<meta property="og:image" content="{{ asset('public/img/landing/link-face3.png', absolute=true) }}"/>
<!--meta de facebook-->

<title>Symplifica</title>
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/home/home.css') }}"/>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,800,600italic,700' rel='stylesheet' type='text/css'>
<link href="{{ asset('public/css/home/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('public/css/home/bootstrap-slider.css') }}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

</head>

<body>

	<main>
    	<header>
        	<!--aca va el nav que ya esta hecho-->
        	<div id="banner">
							<div id="headForm">
								<div class="contHeadForm">
									<h1>Afilia, paga y administra a tus empleados
									domésticos desde cualquier lugar</h1>
									<p>
										Te ayudamos a hacer las cosas bien
									</p>
									<div class="formCont">
										{{ form_start(form) }}
											<div>
												<input id="formfirstname" class="inputHalf" type="text" name="firstname" placeholder="Nombre" required>
												<input id="formlastname" class="inputHalf" type="text" name="lastname" placeholder="Apellido" required>
											</div>
											<input id="formcellphone" class="inputFull" type="text" name="cellphone" placeholder="Celular" required><br />
											<input id="formemail" class="inputFull" type="email" name="email" placeholder="Correo electrónico" required>
											{{ form_widget(form.save, { 'attr': {'class': 'btn naranja obten'}}) }}
											<div class="form-group txt-A1-terms">
										{{ form_end(form) }}
								    </div>
									</div>
								</div>
								<div style="clear:both">
									<div hidden class="errorTxt light"></div>
								</div>
							</div>

            	<!--<div id="cont-banner">
                	<div id="tbanner1">
                    	<h1 class="bold">Somos el área de nómina de los pequeños empleadores</h1>
                        <p class="light-italic">La herramienta más sencilla para administrar empleados domésticos</p>
                    </div>
                    <div id="tbanner2">
                    	<a href="/register"><div id="btn-prueba" class="semi-italic">Prueba un mes gratis</div></a>
                        <!-<a href="#openModal"><div class="btn-video semi-italic">Ver video</div></a>->
                    </div>
                </div>-->
            </div>
        </header>

         <!--------------------beneficios-------------------------->
        <section>
					<div class="titleSec">
						<h2 class="light grisclarofont">Soluciona cada mes, en un solo lugar todo lo relacionado a la gestión de tus empleados </h2>
					</div>
        	<div id="beneficios" class="section group">

                <div class="col span_1_of_4 beneficios">
                	<img src="{{ asset('public/img/landing/benefit1.png') }}" alt="">
                	<h3 class="light">Contrato</h3>

                	<p class="light">Te guiamos en la contratación de tu empleado y generamos un contrato de acuerdo a la ley.</p>
                </div>

                <div class="col span_1_of_4 beneficios">
                	<img src="{{ asset('public/img/landing/benefit2.png') }}" alt="">
                	<h3 class="light beneh3">Afiliación</h3>

                	<p class="light">Afiliamos a tus empleados a las entidades de seguridad social sin trámites complicados.

</p>
                </div>

                <div class="col span_1_of_4 beneficios">
                	<img src="{{ asset('public/img/landing/benefit3.png') }}" alt="">
                	<h3 class="light">Pago electrónico</h3>

                	<p class="light">Te damos la opción de pagar en línea la nómina y los aportes a seguridad con un solo clic.</p>
                </div>

                <div class="col span_1_of_4 beneficios">
                	<img src="{{ asset('public/img/home/cat6.png') }}" alt="">
                	<h3 class="light">Notificaciones</h3>

                	<p class="light">Te recordamos las fechas que no puedes olvidar y realizamos el trabajo duro por ti.</p>
                </div>
            </div>
            <!--<a href="{{ path('beneficios') }}"><div class="callto naranja bold">› Beneficios</div></a>-->
        </section>
				<!-------------------The Modal-------------------------->


        <div id="openModal" class="modalDialog">

            <div>
							<div class="xdiv">
								<a href="#close" title="Close" id="pausar" class="close">Cerrar</a>
							</div>
							<video controls="true" onclick="playPause()" id="video1" type='video/mp4'>
							  <source src="{{ asset('public/video/video.mp4') }}" type='video/mp4'></source>
							</video>
            </div>
        </div>
<!--seccion del video-------------------------------------------------->
        <section>
        	<div id="video">
            	<div id="video-info">
                		<div onclick="playimg()" id="video2">
											<a href="#openModal"><img src="{{ asset('public/img/home/play.png') }}" alt=""></a>
										</div>
                    <h3 class="naranjafont extrabold">Dale play al video y descubre en 2 minutos</h3>
                    <p class="light">por qué deberías usar Symplifica</p>
                    <a href="/register"><div class="callto2 naranja bold">Prueba un mes gratis</div></a>
                </div>
            </div>
        </section>

				<section class="back">
						<div id="cont-3precios" class="section group">
								<div style="margin-bottom: 35px">
									<h2 class="light grisclarofont">LA TRANQUILIDAD DE HACER LAS COSAS BIEN POR MUY POCO</h2>
								</div>
							<div class="col span_1_of_3 centrar">
									<img src="{{asset('public/img/home/parcial.png')}}">
										<h3 style="font-size: 18px;" class="light-italic grisclarofont">Para empleados que trabajan de <strong>1 a 2 días a la semana</strong></h3><br>
										<div class="caja-precio azuloscuro">
											<p class="bold"><span class="extrabold span">$16.500</span><br>mensual<br>Por empleado</p>
										</div>
								</div>

								<div class="col span_1_of_3 centrar">
									<img src="{{asset('public/img/home/medio.png')}}">
										<h3 style="font-size: 18px;" class="light-italic grisclarofont">Para empleados que trabajan de <strong>3 a 4 días a la semana</strong></h3><br>
										<div class="caja-precio azuloscuro">
											<p class="bold"><span class="extrabold span">$22.500</span><br>mensual<br>Por empleado</p>
										</div>
								</div>

								<div class="col span_1_of_3 centrar">
									<img src="{{asset('public/img/home/completo.png')}}">
										<h3 style="font-size: 18px;" class="light-italic grisclarofont">Para empleados que trabajan <strong>5 o más días a la semana</strong></h3><br>
										<div class="caja-precio azuloscuro">
											<p class="bold"><span class="extrabold span">$29.500</span><br>mensual<br>Por empleado</p>
										</div>
								</div>
								<div style="clear:both"></div>
								<div class="losPagos">
										<span>*Los pagos electrónicos de nómina tienen un costo de $5.500 por empleado por transacción más 4x1000.</span>
								</div>
						</div>
				</section>

        <!--<section>
        	<div id="calculadora" style="border-top: 1px dashed #CCC;margin-top: 50px;padding-top:20px">
            	<h2 class="light grisclarofont">LA TRANQUILIDAD DE HACER LAS COSAS BIEN POR MUY POCO</h2>
                <h4 style="font-size: 20px" class="light grisclarofont">Desliza para calcular el valor mensual de nuestro servicio de acuerdo al número y tipo
de empleados que quieras administrar</h4>
                <div class="calculadora-espacios section group"> --calculadora numero 1--
                	<div class="no-colorcont col span_1_of_5">
                    	<span class="light-italic">Empleados</span><br>
                        <span class="extrabold">de tiempo completo</span>
                    </div>
                    <div class="middle-cont col span_3_of_5">
                    	<div class="well1">
  							<input class="ex8" data-slider-value="3" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" value="3" data-slider-step="1" data-slider-value="3"/>
      					</div>
                    </div>
                    <div class="endcont grisclarofont col span_1_of_5">
                    	<span id="emp1" class="extrabold">0</span><br>
                        <span id="palabra-empleados1" class="extrabold">empleados</span>
                    </div>
                </div>

                <div class="calculadora-espacios section group"> --calculadora numero 2--
                	<div class="no-colorcont col span_1_of_5">
                    	<span class="light-italic">Empleados que van</span><br>
                        <span class="extrabold">3 - 4 días a la semana</span>
                    </div>
                    <div class="middle-cont col span_3_of_5">
                    	<div class="well1">
  							<input class="ex8" data-slider-id='ex2Slider' type="text" data-slider-min="0" data-slider-max="0" data-slider-step="1" data-slider-value="0"/>
      					</div>
                    </div>
                    <div class="endcont grisclarofont col span_1_of_5">
                    	<span id="emp2" class="extrabold">0</span><br>
                        <span id="palabra-empleados2" class="extrabold">empleados</span>
                    </div>
                </div>

                <div class="calculadora-espacios section group"> --calculadora numero 3--
                	<div class="no-colorcont col span_1_of_5">
                    	<span class="light-italic">Empleados que van</span><br>
                        <span class="extrabold">1 - 2 días a la semana</span>
                    </div>
                    <div class="middle-cont col span_3_of_5">
                    	<div class="well1">
  							<input class="ex8" data-slider-id='ex3Slider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="0"/>
      					</div>
                    </div>
                    <div class="endcont grisclarofont col span_1_of_5">
                    	<span id="emp3" class="extrabold">0</span><br>
                        <span id="palabra-empleados3" class="extrabold">empleados</span>
                    </div>
                </div>

								--Calculadora para medidas de menos de 800px--

                <div id="selectores-calcu">
                	<h4 class="semi-italic azulmediofont">¿Cuantos empleados de cada tipo de contrato vas a registrar?</h4>
                	<div id="calc">
                    	<form action="demo_form.asp">
                            <span class="spanForm light">Tiempo completo:<br><span class="spandescript">(mes completo)</span></span><input class="tipoContrato" type="text" name="TiempoCompleto" placeholder="Introduce el número de empleados"><br>
                            <span class="spanForm light">Tiempo parcial:<br><span class="spandescript">(1 - 2 días a la semana)</span></span><input class="tipoContrato" type="text" name="2dias" placeholder="Introduce el número de empleados"><br>
                            <span class="spanForm light">Tiempo parcial:<br><span class="spandescript">(3 - 4 días a la semana)</span></span><input class="tipoContrato" type="text" name="4dias" placeholder="Introduce el número de empleados"><br>
                        </form>
                    </div>

                </div>

								--Fin calculadora para medidas de menos de 800px--

                <div id="texto-finalcalculadora">
                	<p class="pcalculadora light">El valor mensual de nuestro servicio <span class="semi-italic">para tu caso es:</span></p>
                    <div id="resultado-calculadora" class="azulmedio">
                    	<p><span class="extrabold"><span  id="total-empleados" >0</span><span class="light-italic"> <span id="palabra-empleados">empleados</span> <span class="extrabold" id="precio">= $0 mensuales</span></p>
                    </div>
                    <p class="pcalculadora light-italic">Después del tercer empleado obten el 10% de descuento en la membresía de todos tus empleados</p><br>


                </div>

								--esto sale si va a registar mas de 10 empleados--
             <div id="limite-finalcalculadora">
                	<p class="light">Si vas a registrar<br><span class="semi-italic">más de 10 empleados</span></p><br>

                    <div id="limite-calculadora" class="azulmedio">
                    	<p class="light">Comunicate con nosotros a <span class="bold">contacto@symplifica.com</span></p>
                    </div><br>

             </div>

           </div>
        </section>-->

        <section class="fondo-section">
        	<div id="opiniones">
            	<h2 class="light grisclarofont">Lo que opinan nuestros usuarios</h2>
                <div id="personas">
                	<div class="col span_1_of_3 personascontent">
                    	<img src="{{ asset('public/img/home/foto1.png') }}"><br><br>
                        <span class="bold azuloscurofont">Mónica</span><br>
                        <!--<span class="light azuloscurofont">Empleada</span>--><br><br>
                        <p class="light grisclarofont">"Symplifica ha sido un apoyo en la gestión de mi empleada, el servicio al cliente ha sido genial, ha hecho que mi experiencia sea increíble."</p>
                    </div>

                    <div class="col span_1_of_3 personascontent">
                    	<img src="{{ asset('public/img/home/foto3.png') }}"><br><br>
                        <span class="bold azuloscurofont">Ana</span><br>
                        <!--<span class="light azuloscurofont">Empleada</span>--><br><br>
                        <p class="light grisclarofont">"Al ser mamá me han facilitado la vida con cosas con las que no tengo tiempo, mi niñera está feliz con los beneficios que recibe."</p>
                    </div>

                    <div class="col span_1_of_3 personascontent">
                    	<img src="{{ asset('public/img/home/foto2.png') }}"><br><br>
                        <span class="bold azuloscurofont">Carlos</span><br>
                        <!--<span class="light azuloscurofont">Ama de casa</span>--><br><br>
                        <p class="light grisclarofont">"Muchas gracias Symplifica por dignificar el trabajo doméstico y facilitar mi tranquilidad y seguridad como empleador."</p>
                    </div>

                </div>
            </div>
            <a href="/register"><div class="callto2 naranja bold">Prueba un mes gratis</div></a>
        </section>

        <div id="intro-pc">
        	<span class="azuloscurofont light">Hacemos tu vida más sencilla en muy pocos pasos</span><br>
            <span class="azuloscurofont extrabold">Inscríbete y disfruta de la tranquilidad</span>
        </div>

        <section>
        	<div id="contenido-pc" class="section group">
            	<div class="col span_1_of_2"><img class="img" src="{{ asset('public/img/home/pc.png') }}"></div>
                <div class="col span_1_of_2 texto-bullets">
                	<img class="numeros" src="{{ asset('public/img/home/numero1.png') }}"><p class="light">Completa unas preguntas<br><span class="bold">fáciles de responder</span></p><br>
                    <img class="numeros" src="{{ asset('public/img/home/numero2.png') }}"><p class="light">Carga unos pocos documentos<br><span class="bold">fáciles  de conseguir </span></p><br>
                    <img class="numeros" src="{{ asset('public/img/home/numero3.png') }}"><p class="light">Autorízanos a realizar por tí<br><span class="bold">los procesos que ocupan tu tiempo</span></p><br>
                    <img class="numeros" src="{{ asset('public/img/home/numero4.png') }}"><p class="light">Y  despreocúpate...<br><span class="bold">de acá en adelante te llevamos de la mano </span></p><br>
                </div>
            </div>
        </section>

      <!--seccion de logos del min-->
			<section class="grisclaro">
				<h2 class="light grisclarofont minH2">Hacemos parte del cambio</h2>
				<a href="http://www.mintrabajo.gov.co/images/documentos/red-formalizacion-laboral.pdf" target="_blank"><div id="contenido-pc" class="section group min">
					<div class="col span_1_of_3" align="center">
						<img src="{{ asset('public/img/home/minlogo1.png') }}" width="250" height="auto" />
					</div>
					<div class="col span_1_of_3" align="center">
						<img src="{{ asset('public/img/home/minlogo2.png') }}" width="200" height="auto" />
					</div>
					<div class="col span_1_of_3" align="center">
						<img src="{{ asset('public/img/home/minlogo3.png') }}" width="200" height="auto" />
					</div>
				</div></a>
			</section>
			<!--seccion de logos del min-->

		<!-- Modal campaña 150k  -->
		<div class="modal fade" id="150kCampaign" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body" align="center">
						<span><img alt="Symplifica" src="{{ asset('public/img/landing/sello.png') }}"></span>
						<div id="campañaTitle">
							<h2 class="bold azulmediofont">Gestiona de forma sencilla</h2>
							<h3 class="light azulmediofont" style="margin-top:0;">a los empleados de tu hogar</h3>
						</div>
						<div id="campañaDesc" style="background: #fd9224;color: #FFF;">
							<h1 class="bold">y recibe $150.000*</h1>
							<p class="back light" style="margin-bottom: 15px;padding: 20px;background: #ea8b2a;">
								Inicia tu registro hoy mediante un pago electrónico y te daremos
								<strong>$150.000 pesos para pagar el sueldo de tu empleada*</strong>
							</p>
						</div>
						<div><a class="btn azulmedio notAjax" href="{{ path('real_landing') }}" style="color:#FFF">Dime más</a></div>
					</div>
					<div class="modal-footer" style="background:#f1f1f1;text-align:center">
						<button type="button" class="btn" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
    </main>

</body>
<script>
	window.intercomSettings = {
		app_id: "mydavhzb",
		name: 'Anónimo', // Full name
		email: 'ninguno', // Email address
		created_at: new Date().getTime(), // Signup date as a Unix timestamp
	};
</script>
<script>
	(function(){
				var w=window;
				var ic=w.Intercom;
				if(typeof ic==="function"){
					ic('reattach_activator');
					ic('update',intercomSettings);
				}else{
					var d=document;
					var i=function(){
						i.c(arguments)
					};
					i.q=[];
					i.c=function(args){i.q.push(args)};
					w.Intercom=i;
					function l(){
						var s=d.createElement('script');
						s.type='text/javascript';
						s.async=true;
						s.src='https://widget.intercom.io/widget/mydavhzb';
						var x=d.getElementsByTagName('script')[0];
						x.parentNode.insertBefore(s,x);
					}
					if(w.attachEvent){
						w.attachEvent('onload',l);
					}else{
						w.addEventListener('load',l,false);
					}
				}
			}
	)()
</script>
<script type="text/javascript" src="{{ asset('public/js/home/bootstrap-slider.js') }}"></script>
<script type="text/javascript">

$('#pausar').click(function(){
 document.getElementById('video1').pause();
});
$('#video2').click(function(){
 document.getElementById('video1').play();
});

	var myVideo = document.getElementById("video1");

	function playPause() {
		if (myVideo.paused)
				myVideo.play();
		else
				myVideo.pause();
	}
$.getScript("//ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js").done(function () {
	validator = $("form[name='form']").validate({
		rules: {
			"firstname": "required",
			"lastname": "required",
			"cellphone": {required : true, maxlength : 10},
			"email": {required : true, email : true},
			"chktyc": "required"
		},
		messages: {
			"firstname": "&#8227; El nombre no puede estar vacio",
			"lastname": "&#8227; Los apellidos no pueden estar vacios",
			"cellphone": {required : "&#8227; El celular no puede estar vacio", maxlength : "&#8227; El celular no es válido"},
			"email": {required : "&#8227; El email no puede estar vacio", email : "&#8227; El email no es válido"},
			"chktyc": "&#8227; Acepta los Términos y Condiciones para continuar"
		},
		errorElement : 'div',
		errorLabelContainer: '.errorTxt'
	});
});


	$(".ex8").slider({
		tooltip: 'always'
	});
	$('#formfirstname').attr('oninvalid', 'setCustomValidity("El campo no puede estar vacio")');
	$('#formfirstname').attr('oninput', "setCustomValidity('')");

	$('#formlastname').attr('oninvalid', 'setCustomValidity("El campo no puede estar vacio")');
	$('#formlastname').attr('oninput', "setCustomValidity('')");

	$('#formcellphone').attr('oninvalid', 'setCustomValidity("El campo no puede estar vacio")');
	$('#formcellphone').attr('oninput', "setCustomValidity('')");

	$('#formemail').attr('oninvalid', 'setCustomValidity("El correo escrito no es valido")');
	$('#formemail').attr('oninput', "setCustomValidity('')");

	var counter = 0;
	var interval = setInterval(function() {
		counter++;
		if (counter == 10) {
			$("#150kCampaign").modal("show");
			clearInterval(interval);
		}
	}, 1000);


	$("form[name='form']").on('submit',function (e) {
		if (document.getElementById('formfirstname').value!= null){
			var nombre = document.getElementById('formfirstname').value;
		}else{
			var nombre = "anonymous";
		}
		if (document.getElementById('formlastname').value != null){
			nombre +=' '+document.getElementById('formlastname').value;
		}
		if (document.getElementById('formcellphone').value != null){
			var telefono = document.getElementById('formcellphone').value;
		}else{
			var telefono = "null";
		}
		if (document.getElementById('formemail').value != null){
			var email = document.getElementById('formemail').value;
		}else{
			var email = "ninguno";
		}
		var dateNow = new Date();
		var day = dateNow.getDate();
		if(day<10)
			day='0'+day;
		var month = dateNow.getMonth()+1;
		if (month<10)
			month='0'+month;
		var year = dateNow.getFullYear();
		var hour = dateNow.getHours();
		var min = dateNow.getMinutes();
		var fecha = day+"/"+month+"/"+year+" "+hour+":"+min;
		console.log(fecha);
        fbq('track', 'Lead', {value: email});
		window.Intercom("trackEvent", "Intento Registro Landing",{
			"Fecha del intento": fecha,
			"Nombre en formulario":nombre,
			"Celular en formulario":telefono,
			"Email en formulario":email,
		});

	});

    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

     var conta1 = 0;
     var conta2 = 0;
     var conta3 = 0;
     var slider1 = $("#ex1Slider" ).slider({
          value: 0,
          min: 0,
          max: 5,
    });
			/*slider1.on("change", function() {
				conta1 = $('#ex1Slider').val();
				$("#emp1").text(conta1);
				funcion();
				if(conta1 != 1)
					 $("#palabra-empleados1").text("empleados");
				else
							 $("#palabra-empleados1").text("empleado");
		 });*/

     /*slider1.on("slide", function(slideEvt) {
         //console.log($('#ex1Slider').val());
         //console.log(conta1);
         conta1 = $('#ex1Slider').val();
         $("#emp1").text(conta1);
         funcion();
         if(conta1 != 1)
            $("#palabra-empleados1").text("empleados");
         else
                $("#palabra-empleados1").text("empleado");
     });*/
     var slider2 = $("#ex2Slider" ).slider({
      value: 0,
      min: 0,
      max: 5,
    });

		/*slider2.on("change", function() {
				conta2 = $('#ex2Slider').val();
				$("#emp2").text(conta2);
				funcion();
				if(conta2 != 1)
					 $("#palabra-empleados2").text("empleados");
				else
					 $("#palabra-empleados2").text("empleado");
		});*/

    /* slider2.on("slide", function(slideEvt) {
         conta2 = $('#ex2Slider').val();
         $("#emp2").text(conta2);
         funcion();
         if(conta2 != 1)
            $("#palabra-empleados2").text("empleados");
         else
            $("#palabra-empleados2").text("empleado");
     });*/
     //var slider3 = new Slider("#ex3Slider");
    var slider3 = $("#ex3Slider" ).slider({
          value: 0,
          min: 0,
          max: 5,
        });

			/*slider3.on("change", function() {
	        conta3 = $('#ex3Slider').val();
	        $("#emp3").text(conta3);
	        funcion();
	        if(conta3 != 1)
	           $("#palabra-empleados3").text("empleados");
	        else
	           $("#palabra-empleados3").text("empleado");
	    });*/

     /*slider3.on("slide", function(slideEvt) {
         conta3 = $('#ex3Slider').val();
         $("#emp3").text(conta3);
         funcion();
         if(conta3 != 1)
            $("#palabra-empleados3").text("empleados");
         else
            $("#palabra-empleados3").text("empleado");
     });*/
    function funcion(){
        var valor = (conta1 * 29500) + (conta2 * 22500) + (conta3 * 16500);
				if((conta1 + conta2 + conta3) >= 4 )
					valor = valor * 0.9;
        $("#total-empleados").text(conta1 + conta2 + conta3);
        $("#precio").text(" = $"+numberWithCommas(valor) + " mensuales");
        //$("#total-empleados").text(conta1 + conta2 + conta3);
        if((conta1 + conta2 + conta3) != 1)
            $("#palabra-empleados").text("empleados");
         else
            $("#palabra-empleados").text("empleado");

    }



		function stopVideo(){
			$('#mainVideoFrame').attr('src', $('#mainVideoFrame').attr('src'));
		}


</script>

</html>
{% endblock %}
