{% extends "::new-design/public.html.twig" %}
{% block body %}
<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<!--meta de facebook-->
<meta property="og:title" content="www.symplifica.com"/>
<meta property="og:site_name" content="www.symplifica.com"/>
<meta property="og:url" content="https://symplifica.com">
<meta property="og:description" content="Symplifica, la tranquilidad de hacer las cosas bien hoy"/>
<meta property="og:image" content="{{ asset('public/img/landing/link-face5.png', absolute=true) }}"/>
<meta name="google-site-verification" content="ZJy3QlLha_gQ5H0AafyZ6UVE4ijwxpbsq1atDQmuwnE" />
<!--meta de facebook-->

<title>Symplifica</title>
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/home/home.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/home/home2.css') }}"/>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,800,600italic,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Raleway:200,700" rel="stylesheet">
<link href="{{ asset('public/css/home/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('public/css/home/bootstrap-slider.css') }}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

</head>

<body>

	<main>
    	<header>
        	<!--aca va el nav que ya esta hecho-->
        	<div id="banner">
							<div id="headForm">
								<div class="contHeadForm">
									<h1>Afilia, paga y administra a tus empleados
									domésticos desde cualquier lugar</h1>
									<p>
										Te ayudamos a hacer las cosas bien
									</p>
									<div class="formCont">
										{{ form_start(form) }}
											<div>
												<input id="formfirstname" class="inputHalf" type="text" name="firstname" placeholder="Nombre" required>
												<input id="formlastname" class="inputHalf" type="text" name="lastname" placeholder="Apellido" required>
											</div>
											<input id="formcellphone" class="inputFull" type="text" name="cellphone" placeholder="Celular" required><br />
											<input id="formemail" class="inputFull" type="email" name="email" placeholder="Correo electrónico" required>
											{{ form_widget(form.save, { 'attr': {'class': 'btn naranja obten'}}) }}
											<div class="form-group txt-A1-terms">
										{{ form_end(form) }}
										<span class="light grisoscurofont">Al dar clic en el botón estás aceptando los términos y condiciones de Symplifica</span>
								    </div>
									</div>
								</div>
								<div style="clear:both">
									<div hidden class="errorTxt light"></div>
								</div>
							</div>

            	<!--<div id="cont-banner">
                	<div id="tbanner1">
                    	<h1 class="bold">Somos el área de nómina de los pequeños empleadores</h1>
                        <p class="light-italic">La herramienta más sencilla para administrar empleados domésticos</p>
                    </div>
                    <div id="tbanner2">
                    	<a href="/register"><div id="btn-prueba" class="semi-italic">Prueba un mes gratis</div></a>
                        <!-<a href="#openModal"><div class="btn-video semi-italic">Ver video</div></a>->
                    </div>
                </div>-->
            </div>
        </header>

				<!--slide lateral informacion de campaña-->
					<div id="campanaSlide">
						<div class="campanaSlideContent2" align="center">
							<div class="cerrarSlide azulmedio bold">
								X
							</div>
							<img src="{{ asset('public/img/home/crown.png') }}" alt="">
							<div class="lightRale textoPromo">
								<h2 class="boldRale">¡Plan Cero Estrés!</h3>
								<img src="{{ asset('img/logo-white.png') }}" alt="" width="160" height="auto">
							</div>
						</div>
						<div id="slideBody">
							<div id="trigger1">
								<div class="azulmediofont lightRale titleSlide">
									Si no tienes tiempo pero quieres hacer las cosas bien<br />
									<strong class="boldRale">este plan es para ti:</strong>
								</div>
								<div class="incluye light grisclarofont" align="left">
									<ul>
										<li><span class="azulmediofont">&#10003;</span> Vamos a tu casa u oficina para tomar tu registro</li>
										<li><span class="azulmediofont">&#10003;</span> Hacemos por ti los trámites y papeleos necesarios</li>
										<li><span class="azulmediofont">&#10003;</span> Damos una charla a tu empleada sobre beneficios con un regalo especial</li>
										<li><span class="azulmediofont">&#10003;</span> Te damos un mes gratis de nuestra plataforma</li><br />
										<li style="text-align:center;color:#fd5c5c;" center>*Solo disponible en Bogotá</li>
									</ul>
								</div>
								<div class="azulmediofont adPLan">
									<div class="azulmediofont light">
										<strong>Adquiere nuestro plan</strong><br/>
										y por $149.000 olvídate de todo
									</div>
									<div><a class="btn notAjax" id="esfuerzoTrigg" style="text-transform: uppercase;background:#fd5c5c;color:#FFF">¡Quiero saber más!</a></div>
								</div>
							</div>

							<div class="formEsfuerzo" id="trigger2">
								<div class="azulmediofont lightRale formSlide">
									Datos para contactarte<br />
									<form id="0effort" action="{{ path('express_landing') }}" method="post">
										<input id="0formfirstname" class="inputSLide" type="text" name="firstname" placeholder="Nombres">
										<input id="0formlastname" class="inputSLide" type="text" name="lastname" placeholder="Apellidos">
										<input id="0formcellphone" class="inputSLide" type="number" name="cellphone" placeholder="Celular">
										<input id="0formemail" class="inputSLide" type="email" name="email" placeholder="Correo electrónico">
										<div style="clear:both">
											<div hidden class="0errorTxt light"></div>
										</div>
										<input id="sendTrigg" class="submitPLan" type="submit" value="Enviar">
									</form>
								</div>
							</div>


							<div id="trigger3">
								<div class="azulmediofont lightRale titleSlide">
									Muy pronto nos comunicaremos contigo
								</div>
								<p class="light grisclarofont">
									Nuestros asesores harán el trabajo duro por ti, así que relájate te llamaremos pronto.<br /><br />
								</p>
								<div><a class="btn notAjax" id="campanaBtn" style="text-transform: uppercase;background:#fd5c5c;color:#FFF">¡Entendido!</a></div>
							</div>
						</div>
					</div>

         <!--------------------beneficios-------------------------->
        <section>
					 <div class="bannerPromos btnBanner" align="center">
						<img src="{{ asset('public/img/home/crown.png') }}" alt="">
						<div class="lightRale textoPromo">
							<h3 class="boldRale">Plan Cero Estrés</h3>
							Hacemos los trámites para tener a tu empleada con todas las de la ley
						</div>
						<a><div class="callto2 rojo light" onClick="ga('send', 'event', 'Formulario', 'Click');">¡HAZ CLIC AQUÍ!</div></a>
					</div>
					{#<div class="titleSec">
						<h2 class="light grisclarofont">Soluciona cada mes, en un solo lugar todo lo relacionado a la gestión de tus empleados </h2>
					</div>#}
        	<div id="beneficios" class="section group">

                <div class="col span_1_of_4 beneficios">
                	<img src="{{ asset('public/img/landing/benefit1.png') }}" alt="">
                	<h3 class="light">Contrato</h3>

                	<p class="light">Te guiamos en la contratación de tu empleado y generamos un contrato de acuerdo a la ley.</p>
                </div>

                <div class="col span_1_of_4 beneficios">
                	<img src="{{ asset('public/img/landing/benefit2.png') }}" alt="">
                	<h3 class="light beneh3">Afiliación</h3>

                	<p class="light">Afiliamos a tus empleados a las entidades de seguridad social sin trámites complicados.

</p>
                </div>

                <div class="col span_1_of_4 beneficios">
                	<img src="{{ asset('public/img/landing/benefit3.png') }}" alt="">
                	<h3 class="light">Pago electrónico</h3>

                	<p class="light">Te damos la opción de pagar en línea la nómina y los aportes a seguridad con un solo clic.</p>
                </div>

                <div class="col span_1_of_4 beneficios">
                	<img src="{{ asset('public/img/home/cat6.png') }}" alt="">
                	<h3 class="light">Notificaciones</h3>

                	<p class="light">Te recordamos las fechas que no puedes olvidar y realizamos el trabajo duro por ti.</p>
                </div>
            </div>
            <!--<a href="{{ path('beneficios') }}"><div class="callto naranja bold">› Beneficios</div></a>-->
        </section>
				<!-------------------The Modal-------------------------->


        <div id="openModal" class="modalDialog">

            <div>
							<div class="xdiv">
								<a href="#close" title="Close" id="pausar" class="close">Cerrar</a>
							</div>
							<video controls="true" onclick="playPause()" id="video1" type='video/mp4'>
							  <source src="{{ asset('public/video/video.mp4') }}" type='video/mp4'></source>
							</video>
            </div>
        </div>
<!--seccion del video-------------------------------------------------->
        <section>
        	<div id="video">
            	<div id="video-info">
                		<div onclick="playimg()" id="video2">
											<a href="#openModal"><img src="{{ asset('public/img/home/play.png') }}" alt=""></a>
										</div>
                    <h3 class="naranjafont extrabold">Dale play al video y descubre en 2 minutos</h3>
                    <p class="light">por qué deberías usar Symplifica</p>
                    <a href="/register"><div class="callto2 naranja light">PPRUEBA UN MES GRATIS</div></a>
                </div>
            </div>
        </section>
<!--seccion precio-------------------------------------------------->
				<section class="back">
						<div id="cont-3precios" class="section group">
								<div style="margin-bottom: 35px">
									<h2 class="light grisclarofont">LA TRANQUILIDAD DE HACER LAS COSAS BIEN POR MUY POCO</h2>
								</div>
							<div class="col span_1_of_3 centrar">
									<img src="{{asset('public/img/home/parcial.png')}}">
										<h3 style="font-size: 18px;" class="light-italic grisclarofont">Para empleados que trabajan de <strong>1 a 2 días a la semana</strong></h3><br>
										<div class="caja-precio azuloscuro">
											<p class="bold"><span class="extrabold span">$18.500</span><br>mensual<br>Por empleado</p>
										</div>
								</div>

								<div class="col span_1_of_3 centrar">
									<img src="{{asset('public/img/home/medio.png')}}">
										<h3 style="font-size: 18px;" class="light-italic grisclarofont">Para empleados que trabajan de <strong>3 a 4 días a la semana</strong></h3><br>
										<div class="caja-precio azuloscuro">
											<p class="bold"><span class="extrabold span">$24.500</span><br>mensual<br>Por empleado</p>
										</div>
								</div>

								<div class="col span_1_of_3 centrar">
									<img src="{{asset('public/img/home/completo.png')}}">
										<h3 style="font-size: 18px;" class="light-italic grisclarofont">Para empleados que trabajan <strong>5 o más días a la semana</strong></h3><br>
										<div class="caja-precio azuloscuro">
											<p class="bold"><span class="extrabold span">$32.500</span><br>mensual<br>Por empleado</p>
										</div>
								</div>
								<div style="clear:both"></div>
								<div class="losPagos">
										<span>*Los pagos electrónicos tienen un costo de $5.900 por empleado por transacción más 4x1000.</span>
								</div>
						</div>
				</section>

        <!--<section>
        	<div id="calculadora" style="border-top: 1px dashed #CCC;margin-top: 50px;padding-top:20px">
            	<h2 class="light grisclarofont">LA TRANQUILIDAD DE HACER LAS COSAS BIEN POR MUY POCO</h2>
                <h4 style="font-size: 20px" class="light grisclarofont">Desliza para calcular el valor mensual de nuestro servicio de acuerdo al número y tipo
de empleados que quieras administrar</h4>
                <div class="calculadora-espacios section group"> --calculadora numero 1--
                	<div class="no-colorcont col span_1_of_5">
                    	<span class="light-italic">Empleados</span><br>
                        <span class="extrabold">de tiempo completo</span>
                    </div>
                    <div class="middle-cont col span_3_of_5">
                    	<div class="well1">
  							<input class="ex8" data-slider-value="3" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" value="3" data-slider-step="1" data-slider-value="3"/>
      					</div>
                    </div>
                    <div class="endcont grisclarofont col span_1_of_5">
                    	<span id="emp1" class="extrabold">0</span><br>
                        <span id="palabra-empleados1" class="extrabold">empleados</span>
                    </div>
                </div>

                <div class="calculadora-espacios section group"> --calculadora numero 2--
                	<div class="no-colorcont col span_1_of_5">
                    	<span class="light-italic">Empleados que van</span><br>
                        <span class="extrabold">3 - 4 días a la semana</span>
                    </div>
                    <div class="middle-cont col span_3_of_5">
                    	<div class="well1">
  							<input class="ex8" data-slider-id='ex2Slider' type="text" data-slider-min="0" data-slider-max="0" data-slider-step="1" data-slider-value="0"/>
      					</div>
                    </div>
                    <div class="endcont grisclarofont col span_1_of_5">
                    	<span id="emp2" class="extrabold">0</span><br>
                        <span id="palabra-empleados2" class="extrabold">empleados</span>
                    </div>
                </div>

                <div class="calculadora-espacios section group"> --calculadora numero 3--
                	<div class="no-colorcont col span_1_of_5">
                    	<span class="light-italic">Empleados que van</span><br>
                        <span class="extrabold">1 - 2 días a la semana</span>
                    </div>
                    <div class="middle-cont col span_3_of_5">
                    	<div class="well1">
  							<input class="ex8" data-slider-id='ex3Slider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="0"/>
      					</div>
                    </div>
                    <div class="endcont grisclarofont col span_1_of_5">
                    	<span id="emp3" class="extrabold">0</span><br>
                        <span id="palabra-empleados3" class="extrabold">empleados</span>
                    </div>
                </div>

								--Calculadora para medidas de menos de 800px--

                <div id="selectores-calcu">
                	<h4 class="semi-italic azulmediofont">¿Cuantos empleados de cada tipo de contrato vas a registrar?</h4>
                	<div id="calc">
                    	<form action="demo_form.asp">
                            <span class="spanForm light">Tiempo completo:<br><span class="spandescript">(mes completo)</span></span><input class="tipoContrato" type="text" name="TiempoCompleto" placeholder="Introduce el número de empleados"><br>
                            <span class="spanForm light">Tiempo parcial:<br><span class="spandescript">(1 - 2 días a la semana)</span></span><input class="tipoContrato" type="text" name="2dias" placeholder="Introduce el número de empleados"><br>
                            <span class="spanForm light">Tiempo parcial:<br><span class="spandescript">(3 - 4 días a la semana)</span></span><input class="tipoContrato" type="text" name="4dias" placeholder="Introduce el número de empleados"><br>
                        </form>
                    </div>

                </div>

								--Fin calculadora para medidas de menos de 800px--

                <div id="texto-finalcalculadora">
                	<p class="pcalculadora light">El valor mensual de nuestro servicio <span class="semi-italic">para tu caso es:</span></p>
                    <div id="resultado-calculadora" class="azulmedio">
                    	<p><span class="extrabold"><span  id="total-empleados" >0</span><span class="light-italic"> <span id="palabra-empleados">empleados</span> <span class="extrabold" id="precio">= $0 mensuales</span></p>
                    </div>
                    <p class="pcalculadora light-italic">Después del tercer empleado obten el 10% de descuento en la membresía de todos tus empleados</p><br>


                </div>

								--esto sale si va a registar mas de 10 empleados--
             <div id="limite-finalcalculadora">
                	<p class="light">Si vas a registrar<br><span class="semi-italic">más de 10 empleados</span></p><br>

                    <div id="limite-calculadora" class="azulmedio">
                    	<p class="light">Comunicate con nosotros a <span class="bold">contacto@symplifica.com</span></p>
                    </div><br>

             </div>

           </div>
        </section>-->

        <section class="fondo-section">
        	<div id="opiniones">
            	<h2 class="light grisclarofont">Lo que opinan nuestros usuarios</h2>
                <div id="personas">
                	<div class="col span_1_of_3 personascontent">
                    	<img src="{{ asset('public/img/home/foto1.png') }}"><br><br>
                        <span class="bold azuloscurofont">Mónica</span><br>
                        <!--<span class="light azuloscurofont">Empleada</span>--><br><br>
                        <p class="light grisclarofont">"Symplifica ha sido un apoyo en la gestión de mi empleada, el servicio al cliente ha sido genial, ha hecho que mi experiencia sea increíble."</p>
                    </div>

                    <div class="col span_1_of_3 personascontent">
                    	<img src="{{ asset('public/img/home/foto3.png') }}"><br><br>
                        <span class="bold azuloscurofont">Ana</span><br>
                        <!--<span class="light azuloscurofont">Empleada</span>--><br><br>
                        <p class="light grisclarofont">"Al ser mamá me han facilitado la vida con cosas con las que no tengo tiempo, mi niñera está feliz con los beneficios que recibe."</p>
                    </div>

                    <div class="col span_1_of_3 personascontent">
                    	<img src="{{ asset('public/img/home/foto2.png') }}"><br><br>
                        <span class="bold azuloscurofont">Carlos</span><br>
                        <!--<span class="light azuloscurofont">Ama de casa</span>--><br><br>
                        <p class="light grisclarofont">"Muchas gracias Symplifica por dignificar el trabajo doméstico y facilitar mi tranquilidad y seguridad como empleador."</p>
                    </div>

                </div>
            </div>
            <a href="/register"><div class="callto2 naranja light">PRUEBA UN MES GRATIS</div></a>
        </section>

        <div id="intro-pc">
        	<span class="azuloscurofont light">Hacemos tu vida más sencilla en muy pocos pasos</span><br>
            <span class="azuloscurofont extrabold">Inscríbete y disfruta de la tranquilidad</span>
        </div>

        <section>
        	<div id="contenido-pc" class="section group">
            	<div class="col span_1_of_2 texto-bullets">
								<img class="img" src="{{ asset('public/img/home/pc.png') }}">
							</div>
              <div class="col span_1_of_2 texto-bullets">
              	<img class="numeros" src="{{ asset('public/img/home/numero1.png') }}"><p class="light">Completa unas preguntas<br><span class="bold">fáciles de responder</span></p><br>
                  <img class="numeros" src="{{ asset('public/img/home/numero2.png') }}"><p class="light">Carga unos pocos documentos<br><span class="bold">fáciles  de conseguir </span></p><br>
                  <img class="numeros" src="{{ asset('public/img/home/numero3.png') }}"><p class="light">Autorízanos a realizar por tí<br><span class="bold">los procesos que ocupan tu tiempo</span></p><br>
                  <img class="numeros" src="{{ asset('public/img/home/numero4.png') }}"><p class="light">Y  despreocúpate...<br><span class="bold">de acá en adelante te llevamos de la mano </span></p><br>
              </div>
            </div>
        </section>

      <!--seccion de logos del min-->
			<section class="grisclaro section group">
				<h2 class="light grisclarofont minH2">Hacemos parte del cambio</h2>
				<a href="http://www.mintrabajo.gov.co/images/documentos/red-formalizacion-laboral.pdf" target="_blank"><div id="contenido-pc" class="section group min">
					<div class="col span_1_of_3" align="center">
						<img src="{{ asset('public/img/home/minlogo1.png') }}" width="250" height="auto" />
					</div>
					<div class="col span_1_of_3" align="center">
						<img src="{{ asset('public/img/home/minlogo2.png') }}" width="200" height="auto" />
					</div>
					<div class="col span_1_of_3" align="center">
						<img src="{{ asset('public/img/home/minlogo3.png') }}" width="200" height="auto" />
					</div>
				</div></a>
			</section>
			<!--seccion de logos del min-->


		<!--seccion de logos de quienes hablan de nostros-->
		<section class="section group" style="margin-bottom: 60px">
			<h2 class="light grisclarofont minH2">Están hablando de nosotros:</h2><br /><br />
			<div class="col span_1_of_5" align="center">
				<a href="http://www.wradio.com.co/escucha/archivo_de_audio/symplifica-la-aplicacion-enfocada-en-las-empleadas-domesticas/20161204/oir/3321961.aspx" target="_blank"><img src="{{ asset('public/img/home/minlogo4.png') }}" width="150" height="auto" /></a>
			</div>
			<div class="col span_1_of_5" align="center">
				<a href="http://www.dinero.com/edicion-impresa/negocios/articulo/nueva-aplicacion-simplifica-pagos-a-empleados-domesticos/237309" target="_blank"><img src="{{ asset('public/img/home/minlogo5.png') }}" width="150" height="auto" /></a>
			</div>
			<div class="col span_1_of_5" align="center">
				<a href="http://www.enter.co/especiales/empresas-del-futuro/aplicacion-para-contratar-empleada-domestica-como-la-ley-manda/" target="_blank"><img src="{{ asset('public/img/home/minlogo6.png') }}" width="150" height="auto" /></a>
			</div>
			<div class="col span_1_of_5" align="center">
				<a href="http://www.finanzaspersonales.com.co/trabajo-y-educacion/articulo/como-liquidar-aportes-de-una-empleada-domestica/67318" target="_blank"><img src="{{ asset('public/img/home/minlogo7.png') }}" width="150" height="auto" /></a>
			</div>
			<div class="col span_1_of_5" align="center">
				<a href="http://www.pulzo.com/economia/salario-empleada-domestica-colombia/PP150439" target="_blank"><img src="{{ asset('public/img/home/minlogo8.png') }}" width="150" height="auto" /></a>
			</div>
			<div class="col span_1_of_4" align="center">
				<a href="https://www.youtube.com/watch?v=2Yb6Oz8A2PY" target="_blank"><img src="{{ asset('public/img/home/minlogo9.png') }}" width="150" height="auto" /></a>
			</div>
			<div class="col span_1_of_4" align="center">
				<a href="http://www.bluradio.com/tecnologia/symplifica-una-solucion-online-para-la-administracion-de-empleados-domesticos-123116" target="_blank"><img src="{{ asset('public/img/home/minlogo10.png') }}" width="150" height="auto" /></a>
			</div>
			<div class="col span_1_of_4" align="center">
				<a href="http://www.semana.com/tecnologia/articulo/symplifica-procesos-y-tramites-de-un-empleado-domestico/507113" target="_blank"><img src="{{ asset('public/img/home/minlogo11.png') }}" width="150" height="auto" /></a>
			</div>
			<div class="col span_1_of_4" align="center">
				<a href="https://www.youtube.com/watch?v=sW76YECAvkQ" target="_blank"><img src="{{ asset('public/img/home/minlogo12.png') }}" width="150" height="auto" /></a>
			</div>
			<div class="col span_1_of_3" align="center">

			</div>
		</section>
		<!--seccion de logos de quienes hablan de nostros-->


		<!-- Modal campaña 150k  -->
		<div class="modal fade" id="150kCampaign" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-body" align="center">
						<div id="secterms">
								<div id="terminosText">
									<h4 class="bold azulmediofont">Términos y Condiciones de la Promoción “Hacer las Cosas Bien Paga”</h4><br />
									<p>
										<strong>SYMPLIFICA</strong> entregará un premio de valor equivalente hasta ciento cincuenta mil pesos ($150.000),
										a los clientes que completen el registro de al menos un (1) empleado entre el 15 de noviembre de 2016 y el 30 de
										noviembre de 2016 (o hasta agotar existencias, lo que ocurra primero).  El valor máximo de $150.000 será aplicado
										como descuento en el pago de la nómina y/o seguridad social de uno de tu(s) empleado(s), siempre y cuando se cumplan
										 los siguientes Términos y Condiciones:<br /><br />

										1). Promoción válida para clientes que completen el registro de al menos un (1) empleado entre el 15 de noviembre de
										2016 y el 30 de noviembre de 2016, o hasta agotar existencias lo que ocurra primero. En caso de agotar existencias
										antes del 30 de noviembre de 2016, SYMPLIFICA dará aviso de la terminación de la promoción a través de sus redes sociales.<br /><br />
										2). Se debe completar el registro del trabajador en la Plataforma, incluyendo todos los documentos solicitados, en las
										fechas establecidas.<br /><br />
										3). Solo aplica para nuevos Usuarios de SYMPLIFICA, o para aquellos usuarios que completen el registro de un (1) nuevo
										empleado durante las fechas establecidas.<br /><br />

										4). Para poder registrarse, el Usuario debe tener una cuenta bancaria a su nombre en alguna de las entidades habilitadas en
										la Plataforma para los pagos.<br /><br />

										5). El premio de valor de hasta $150.000 se dividirá en dos cuotas mensuales de $75.000, que SYMPLIFICA abonará
										al total a pagar por el Usuario en concepto de nómina o de seguridad social de uno (1) de sus trabajadores, en
										la segunda quincena o último período de los respectivos meses, siempre y cuando: (i) el Usuario no pague la nómina
										 de su(s) trabajador(es) en efectivo; (ii) y los valores a pagar en la segunda quincena del respectivo mes sean de
										 mínimo $75.000; en caso de que el valor total a pagar en la segunda quincena del mes en concepto de nómina o seguridad
										 social del trabajador registrado por el Usuario, sea inferior a $75.000, SYMPLIFICA únicamente abonará dicho valor inferior
											al pago del respectivo mes. El Usuario no tendrá derecho a reclamar en los meses siguientes la diferencia entre los $75.000
											 y el valor abonado por SYMPLIFICA.<br /><br />
										6) .Si la nómina del empleado registrado es quincenal, el descuento se aplicará a la quincena correspondiente a final del mes.<br /><br />
										7). Para los Usuarios que completen el registro de al menos un (1) trabajador nuevo en la Plataforma, incluyendo todos los
										documentos solicitados, antes del día 20 del mes, SYMPLIFICA realizará el primer abono de $75.000 a los pagos del trabajador
										en el último período de ese mismo mes, y el segundo pago de $75.000 en el último período del mes inmediatamente siguiente.
										Para los Usuarios que completen el registro mencionado, el día 20 o siguientes del mes, SYMPLIFICA realizará
										el primer abono de $75.000 a los pagos del trabajador en el último período del mes siguiente, y el segundo pago de $75.000 en
										el último período del mes inmediatamente posterior a ese.<br /><br />
										8). Para poder recibir el premio es necesario realizar el registro en Symplifica.com con un método de transferencia electrónica
										 para realizar los pagos de nómina (Cuenta de ahorros o Daviplata). Es decir, si se realizaran los pagos de
										 nómina al empleado en efectivo, no aplicará la promoción en curso.<br /><br />
										9). Los $75.000 de cada mes deben ser gastados en su totalidad en el mes correspondiente, ya que no se podrán acumular saldos
										 para el segundo mes, ni para los meses siguientes.<br /><br />
										10). Esta promoción solo aplica para el registro de empleados domésticos (Empleada doméstica, niñera, conductor, mayordomo de
										finca de recreo, enfermera de adulto mayor).<br /><br />
										11). El premio es por empleador, independientemente del número de trabajadores registrados. Es decir, el empleador que complete
										el registro de más de un trabajador en las fechas de vigencia de la promoción, únicamente tendrá derecho a recibir un valor máximo
										 de $150.000 como descuento en los pagos del primer trabajador registrado.<br /><br />
										12). Promoción válida sólo para Colombia, y aplica solo para aquellas ciudades donde symplifica pueda hacer afiliaciones a las entidades de seguridad social.<br /><br />
										13). El premio no puede ser cambiado por dinero en efectivo o algún otro elemento.<br /><br />
										14). Al Usuario acogerse a esta promoción, no implica permanencia mínima. El Usuario podrá cancelar su suscripción en cualquier
										momento, inactivando todos los trabajadores que tenga registrados en SYMPLIFICA, a través de la Plataforma. No obstante, se aclara
										que, si el Usuario inactiva en la Plataforma al trabajador a cuyos pagos aplica la promoción, durante alguno de los meses en que le
										 habría correspondido el abono de hasta $75.000 por parte de SYMPLIFICA, el Usuario no tendrá derecho a recibir esas sumas en efectivo
											ni de ninguna otra forma, ni como descuento en los pagos de ningún otro de sus trabajadores.<br /><br />
										15). Aplican restricciones; promoción no válida para la afiliación de trabajadores de tiempo parcial bajo el régimen contributivo.<br /><br />
										16). Las demás condiciones de los Términos y Condiciones generales de SYMPLIFICA, incluyendo las restricciones para el acceso a
										los servicios de SYMPLIFICA y los servicios excluidos de la Plataforma, aplicarán también para los Usuarios que se beneficien
										de esta Promoción. Al registrarse, Usted está indicando su aceptación tanto a estos Términos y Condiciones especiales de la Promoción
										 “Hacer las Cosas Bien Paga”, como a los Términos y Condiciones generales de SYMPLIFICA; no obstante, en caso de alguna diferencia o
										 contradicción entre estos Términos y Condiciones especiales y los Términos y Condiciones generales de SYMPLIFICA, primará lo
										 establecido en los Términos y Condiciones especiales de la Promoción “Hacer las Cosas Bien Paga”para los Usuarios que se hayan
										 registrado bajo dicha promoción y aún la tengan vigente.

									</p>
								</div>
						</div>
					</div>
					<a href="#"><div data-dismiss="modal" class="modal-footer" style="background:#e0e0e0;text-align: center;border-radius: 10px;">
						Cerrar
					</div></a>
				</div>
			</div>
		</div>
    </main>

</body>
<script>
	window.intercomSettings = {
		app_id: "mydavhzb",
		name: 'Anónimo', // Full name
		email: 'ninguno', // Email address
		created_at: new Date().getTime(), // Signup date as a Unix timestamp
	};
</script>
<script>
	(function(){
				var w=window;
				var ic=w.Intercom;
				if(typeof ic==="function"){
					ic('reattach_activator');
					ic('update',intercomSettings);
				}else{
					var d=document;
					var i=function(){
						i.c(arguments)
					};
					i.q=[];
					i.c=function(args){i.q.push(args)};
					w.Intercom=i;
					function l(){
						var s=d.createElement('script');
						s.type='text/javascript';
						s.async=true;
						s.src='https://widget.intercom.io/widget/mydavhzb';
						var x=d.getElementsByTagName('script')[0];
						x.parentNode.insertBefore(s,x);
					}
					if(w.attachEvent){
						w.attachEvent('onload',l);
					}else{
						w.addEventListener('load',l,false);
					}
				}
			}
	)()
</script>
<script type="text/javascript" src="{{ asset('public/js/home/bootstrap-slider.js') }}"></script>
<script type="text/javascript" src="{{ asset('public/js/home.js') }}"></script>

</html>
{% endblock %}
