{% extends "::new-design/public.html.twig" %}
{% block body %}
<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Symplifica</title>
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/home/home.css') }}"/>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,800,600italic,700' rel='stylesheet' type='text/css'>
<link href="{{ asset('public/css/home/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('public/css/home/bootstrap-slider.css') }}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

</head>

<body>

	<main>
    	<header>
        	<!--aca va el nav que ya esta hecho-->
        	<div id="banner">
            	<div id="cont-banner">
                	<div id="tbanner1">
                    	<h1 class="bold">Somos el área de nómina de los pequeños empleadores</h1>
                        <p class="light-italic">La herramienta más sencilla para administrar empleados domésticos y de pequeñas empresas</p>
                    </div>
                    <div id="tbanner2">
                    	<a href="/register"><div id="btn-prueba" class="semi-italic">Prueba un mes gratis</div></a>
                        <!--<a href="#openModal"><div class="btn-video semi-italic">Ver video</div></a>-->
                    </div>
                </div>
            </div>
        </header>

        <!-------------------- The Modal------------------------ -->


        <div id="openModal" class="modalDialog">
            <div>	<a href="#close" title="Close" class="close" onclick="stopVideo()">X</a>

                <iframe id="mainVideoFrame" width="100%" height="400" src="https://www.youtube.com/embed/ScMzIvxBSi4" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

         <!-------------------- beneficios------------------------ -->
        <section>
        	<div id="beneficios" class="section group">
            	<h2 class="light grisclarofont">Soluciona cada mes, en un solo lugar todo lo relacionado a la gestión de tus empleados </h2>
                <div class="col span_1_of_4 beneficios">
                	<img src="{{ asset('public/img/landing/benefit1.png') }}" alt="">
                	<h3 class="light">Contratación guiada</h3>

                	<p class="light-italic">Te guiamos en la correcta contratación del todos tus empleados</p>
                </div>

                <div class="col span_1_of_4 beneficios">
                	<img src="{{ asset('public/img/landing/benefit3.png') }}" alt="">
                	<h3 class="light">Fácil afiliación</h3>

                	<p class="light-italic">Te afiliamos a ti y a tu empleado a las administradoras de seguridad social

</p>
                </div>

                <div class="col span_1_of_4 beneficios">
                	<img src="{{ asset('public/img/landing/benefit4.png') }}" alt="">
                	<h3 class="light">Pago electrónico</h3>

                	<p class="light-italic">Te ahorramos tiempo gestionando tus pagos y aportes con un solo clic</p>
                </div>

                <div class="col span_1_of_4 beneficios">
                	<img src="{{ asset('public/img/landing/benefit2.png') }}" alt="">
                	<h3 class="light">Fácil administración</h3>

                	<p class="light-italic">Administramos todos los detalles del día a día de tus empleados</p>
                </div>
            </div>
            <a href="{{ path('beneficios') }}"><div class="callto naranja bold">› Beneficios</div></a>
        </section>

        <!--<section>
        	<div id="video">
            	<div id="video-info">
                	<a href="#openModal"><img src="{{ asset('public/img/home/play.png') }}" alt=""></a>
                    <h3 class="naranjafont extrabold">Explora nuestro producto en 1 minuto</h3>
                    <p class="light">Conoce cómo te hacemos la vida más fácil</p>
                    <a href="/register"><div class="callto2 naranja bold">Prueba un mes gratis</div></a>
                </div>
            </div>
        </section>-->

        <section>
        	<div id="calculadora" style="border-top: 1px dashed #CCC;margin-top: 50px;padding-top:20px">
            	<h2 class="light grisclarofont">LA TRANQUILIDAD DE HACER LAS COSAS BIEN POR MUY POCO</h2>
                <h4 style="font-size: 20px" class="light grisclarofont">Desliza para calcular el valor mensual de nuestro servicio de acuerdo al número y tipo
de empleados que quieras administrar</h4>
                <div class="calculadora-espacios section group"> <!--calculadora numero 1-->
                	<div class="no-colorcont col span_1_of_5">
                    	<span class="light-italic">Empleados</span><br>
                        <span class="extrabold">de tiempo completo</span>
                    </div>
                    <div class="middle-cont col span_3_of_5">
                    	<div class="well1">
  							<input class="ex8" data-slider-value="3" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" value="3" data-slider-step="1" data-slider-value="3"/>
      					</div>
                    </div>
                    <div class="endcont grisclarofont col span_1_of_5">
                    	<span id="emp1" class="extrabold">0</span><br>
                        <span id="palabra-empleados1" class="extrabold">empleados</span>
                    </div>
                </div>

                <div class="calculadora-espacios section group"> <!--calculadora numero 2-->
                	<div class="no-colorcont col span_1_of_5">
                    	<span class="light-italic">Empleados que van</span><br>
                        <span class="extrabold">3 - 4 días a la semana</span>
                    </div>
                    <div class="middle-cont col span_3_of_5">
                    	<div class="well1">
  							<input class="ex8" data-slider-id='ex2Slider' type="text" data-slider-min="0" data-slider-max="0" data-slider-step="1" data-slider-value="0"/>
      					</div>
                    </div>
                    <div class="endcont grisclarofont col span_1_of_5">
                    	<span id="emp2" class="extrabold">0</span><br>
                        <span id="palabra-empleados2" class="extrabold">empleados</span>
                    </div>
                </div>

                <div class="calculadora-espacios section group"> <!--calculadora numero 3-->
                	<div class="no-colorcont col span_1_of_5">
                    	<span class="light-italic">Empleados que van</span><br>
                        <span class="extrabold">1 - 2 días a la semana</span>
                    </div>
                    <div class="middle-cont col span_3_of_5">
                    	<div class="well1">
  							<input class="ex8" data-slider-id='ex3Slider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="0"/>
      					</div>
                    </div>
                    <div class="endcont grisclarofont col span_1_of_5">
                    	<span id="emp3" class="extrabold">0</span><br>
                        <span id="palabra-empleados3" class="extrabold">empleados</span>
                    </div>
                </div>

                <div id="texto-finalcalculadora">
                	<p class="pcalculadora light">El valor mensual de nuestro servicio<br><span class="semi-italic">para tu caso es:</span></p><br>
                    <div id="resultado-calculadora" class="azulmedio">
                    	<p><span class="extrabold"><span  id="total-empleados" >0</span><span class="light-italic"> <span id="palabra-empleados">empleados</span> <span class="extrabold" id="precio">= $0 mensuales</span></p>
                    </div><br>
                    <p class="pcalculadora light-italic">Después del tercer empleado obtén el 10% de descuento.</p><br>


                </div>

           </div>
        </section>

        <section class="fondo-section">
        	<div id="opiniones">
            	<h2 class="light grisclarofont">Lo que opinan nuestros usuarios</h2>
                <div id="personas">
                	<div class="col span_1_of_3 personascontent">
                    	<img src="{{ asset('public/img/home/foto1.png') }}"><br>
                        <span class="bold azuloscurofont">Sara Martinez</span><br>
                        <span class="light azuloscurofont">Dueña de su negocio</span><br><br>
                        <p class="light grisclarofont">"Symplifica es una gran solución para mi negocio"</p>
                    </div>

                    <div class="col span_1_of_3 personascontent">
                    	<img src="{{ asset('public/img/home/foto3.png') }}"><br>
                        <span class="bold azuloscurofont">Alejandro Gómez</span><br>
                        <span class="light azuloscurofont">Pequeño empresario</span><br><br>
                        <p class="light grisclarofont">"Con Symplifica le puedo dedicar más tiempo a las cosas que generan más valor en mi empresa"</p>
                    </div>

                    <div class="col span_1_of_3 personascontent">
                    	<img src="{{ asset('public/img/home/foto2.png') }}"><br>
                        <span class="bold azuloscurofont">Carolina Zarate</span><br>
                        <span class="light azuloscurofont">Ama de casa</span><br><br>
                        <p class="light grisclarofont">"No tengo que ser una experta en liquidación de nómina, ni tengo que estar pendiente de cuándo debo realizar el pago a mi empleada, Symplifica me dice cuánto pagar y me avisa con días de antelación"</p>
                    </div>

                </div>
            </div>
            <a href="/register"><div class="callto2 naranja bold">Prueba un mes gratis</div></a>
        </section>

        <div id="intro-pc">
        	<span class="azuloscurofont light">Hacemos tu vida más sencilla en muy pocos pasos</span><br>
            <span class="azuloscurofont extrabold">Inscríbete y disfruta de la tranquilidad</span>
        </div>

        <section>
        	<div id="contenido-pc" class="section group">
            	<div class="col span_1_of_2"><img class="img" src="{{ asset('public/img/home/pc.png') }}"></div>
                <div class="col span_1_of_2 texto-bullets">
                	<img class="numeros" src="{{ asset('public/img/home/numero1.png') }}"><p class="light">Completa unas preguntas<br><span class="bold">fáciles de responder</span></p><br>
                    <img class="numeros" src="{{ asset('public/img/home/numero2.png') }}"><p class="light">Carga unos pocos documentos<br><span class="bold">fáciles  de conseguir </span></p><br>
                    <img class="numeros" src="{{ asset('public/img/home/numero3.png') }}"><p class="light">Autorízanos a realizar por tí<br><span class="bold">los procesos que ocupan tu tiempo</span></p><br>
                    <img class="numeros" src="{{ asset('public/img/home/numero4.png') }}"><p class="light">Y  despreocúpate...<br><span class="bold">de acá en adelante te llevamos de la mano </span></p><br>
                </div>
            </div>
        </section>

      <!--aca va el footer que ya esta hecho-->


    </main>

</body>
<script type="text/javascript" src="{{ asset('public/js/home/bootstrap-slider.js') }}"></script>
<script type="text/javascript">
	$(".ex8").slider({
		tooltip: 'always'
	});

    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

     var conta1 = 0;
     var conta2 = 0;
     var conta3 = 0;
     var slider1 = $("#ex1Slider" ).slider({
          value: 0,
          min: 0,
          max: 5,
    });
     slider1.on("slide", function(slideEvt) {
         //console.log($('#ex1Slider').val());
         //console.log(conta1);
         conta1 = $('#ex1Slider').val();
         $("#emp1").text(conta1);
         funcion();
         if(conta1 != 1)
            $("#palabra-empleados1").text("empleados");
         else
                $("#palabra-empleados1").text("empleado");
     });
     var slider2 = $("#ex2Slider" ).slider({
      value: 0,
      min: 0,
      max: 5,
    });
     slider2.on("slide", function(slideEvt) {
         conta2 = $('#ex2Slider').val();
         $("#emp2").text(conta2);
         funcion();
         if(conta2 != 1)
            $("#palabra-empleados2").text("empleados");
         else
            $("#palabra-empleados2").text("empleado");
     });
     //var slider3 = new Slider("#ex3Slider");
    var slider3 = $("#ex3Slider" ).slider({
          value: 0,
          min: 0,
          max: 5,
        });
     slider3.on("slide", function(slideEvt) {
         conta3 = $('#ex3Slider').val();
         $("#emp3").text(conta3);
         funcion();
         if(conta3 != 1)
            $("#palabra-empleados3").text("empleados");
         else
            $("#palabra-empleados3").text("empleado");
     });
    function funcion(){
        var valor = (conta1 * 29500) + (conta2 * 22500) + (conta3 * 16500);
				if((conta1 + conta2 + conta3) >= 3 )
					valor = valor * 0.9;
        $("#total-empleados").text(conta1 + conta2 + conta3);
        $("#precio").text(" = $"+numberWithCommas(valor) + " mensuales");
        //$("#total-empleados").text(conta1 + conta2 + conta3);
        if((conta1 + conta2 + conta3) != 1)
            $("#palabra-empleados").text("empleados");
         else
            $("#palabra-empleados").text("empleado");

    }

		function stopVideo(){
			$('#mainVideoFrame').attr('src', $('#mainVideoFrame').attr('src'));
		}


</script>
</html>
{% endblock %}
