{% extends "::new-design/public.html.twig" %}
{% block body %}
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Nosotros</title>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,800,600italic,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/home/nostros.css') }}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
</head>

<body>

	<main>
    	<header>
        	<!--aca va el nav que ya esta hecho-->
        	<div id="banner-beneficios">
            	<div id="banner-beneficios-cont">
                  <h1 class="bold azuloscurofont">Detrás de Symplifica</h1>
                  <h1 class="light azulmediofont">estamos nosotros</h1>
                </div>
            </div>
        </header>

        <section>
            <div id="texto-descript">
            	<p class="light grisclarofont">Queremos revolucionar la formalización del trabajo en Colombia poniendo al alcance de los empleadores una herramienta que les permita cumplir con los deberes con sus empleados de la manera más sencilla y agradable, sin necesidad de ser expertos en gestión de nómina.
<br><br>
Nuestro objetivo es generar un alto impacto social con nuestro trabajo, construir país con nuestros clientes y sentirnos orgullosos de lo que hacemos.</p>

            </div>

            <div id="fondo">
                <div id="team">
                    <h2 class="light grisclarofont">Nuestro equipo</h2>

                    <div class="members" class="section group">
                        <div class="col span_1_of_3">
                            <img src="{{ asset('public/img/home/camilo.png') }}">
														<br><br>
                            <p class="bold azulmediofont">Camilo Méndez</p>
                        </div>
                        <div class="col span_1_of_3">
                            <img src="{{ asset('public/img/home/esteban.png') }}">
														<br><br>
                            <p class="bold azulmediofont">Esteban Palma</p>
                        </div>
                        <div class="col span_1_of_3">
                            <img src="{{ asset('public/img/home/salua.png') }}">
														<br><br>
                            <p class="bold azulmediofont">Salua García</p>
                        </div>
                    </div>
                    <div class="members" class="section group">
                        <div class="col span_1_of_3">
                            <img src="{{ asset('public/img/home/diana.png') }}">
														<br><br>
                            <p class="bold azulmediofont">Diana Lopez</p>
                        </div>
                        <div class="col span_1_of_3">
                            <img src="{{ asset('public/img/home/johonson.png') }}">
														<br><br>
                            <p class="bold azulmediofont">Johonson Aguirre</p>
                        </div>
                        <div class="col span_1_of_3">
                            <img src="{{ asset('public/img/home/gabriel.png') }}">
														<br><br>
                            <p class="bold azulmediofont">Gabriel Montero</p>
                        </div>
                    </div>
										<div class="members" class="section group">
                        <div class="col span_1_of_3">
													<img src="{{ asset('public/img/home/daniel.png') }}">
													<br><br>
													<p class="bold azulmediofont">Daniel Rico</p>
                        </div>
                        <div class="col span_1_of_3">
                            <img src="{{ asset('public/img/home/andres.png') }}">
														<br><br>
                            <p class="bold azulmediofont">Andrés Ramírez</p>
                        </div>
                        <div class="col span_1_of_3">
                            <img src="{{ asset('public/img/home/alfredo.png') }}">
														<br><br>
                            <p class="bold azulmediofont">Alfredo Santamaria</p>
                        </div>
                    </div>
                     <div id="principal">
                        <img src="{{ asset('public/img/home/gustavo.png') }}">
												<br><br>
                            <p class="bold azulmediofont">Gustavo Rojas</p>
                    </div>
                </div>

             </div>
        </section>

    </main>
</body>
</html>

{% endblock %}
