{% extends "::new-design/public.html.twig" %}

{% block body %}
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title>Precio</title>
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/home/precio.css') }}"/>
<link href="{{ asset('public/css/home/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ asset('public/css/home/bootstrap-slider.css') }}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
</head>

<body>

	<main>
    	<header>
        	<!--aca va el nav que ya esta hecho-->
        	<div id="banner-beneficios">
            	<div id="banner-beneficios-cont">
                  <h1 class="bold azuloscurofont">La tranquilidad de</h1>
                  <h1 class="light azulmediofont">hacer las cosas bien</h1>
                </div>
            </div>
        </header>

        <section>
            <div id="cont-3precios" class="section group">
            	<div class="col span_1_of_3 centrar">
                	<img src="{{asset('public/img/home/parcial.png')}}">
                    <h3 style="font-size: 18px;" class="light-italic grisclarofont">Para empleados que trabajan de <strong>1 a 2 días a la semana</strong></h3><br>
                    <div class="caja-precio azuloscuro">
                    	<p class="bold"><span class="extrabold span">$18.500</span><br>mensual<br>Por empleado</p>
                    </div>
                </div>

                <div class="col span_1_of_3 centrar">
                	<img src="{{asset('public/img/home/medio.png')}}">
                    <h3 style="font-size: 18px;" class="light-italic grisclarofont">Para empleados que trabajan de <strong>3 a 4 días a la semana</strong></h3><br>
                    <div class="caja-precio azuloscuro">
                    	<p class="bold"><span class="extrabold span">$24.500</span><br>mensual<br>Por empleado</p>
                    </div>
                </div>

                <div class="col span_1_of_3 centrar">
                	<img src="{{asset('public/img/home/completo.png')}}">
                    <h3 style="font-size: 18px;" class="light-italic grisclarofont">Para empleados que trabajan <strong>5 o más días a la semana</strong></h3><br>
                    <div class="caja-precio azuloscuro">
                    	<p class="bold"><span class="extrabold span">$32.500</span><br>mensual<br>Por empleado</p>
                    </div>
                </div>
								<div style="clear:both"></div>
								<div class="losPagos">
										<span>*Los pagos electrónicos tienen un costo de $5.900 por empleado por transacción más 4x1000.</span>
								</div>
            </div>
        </section>

        <section class="fondo-calculadora">
        	<div id="calculadora">
            	<h2 class="light grisclarofont">LA TRANQUILIDAD DE HACER LAS COSAS BIEN POR MUY POCO</h2>
                <h4 class="bold grisclarofont textocal1">Desliza para calcular el valor mensual de nuestro servicio de acuerdo al número y tipo
de empleados que quieras administrar</h4>
								<h4 class="bold grisclarofont textocal2">Introduce el número de empleados que vas a contratar para poder calcular el valor mensual de nuestro servicio.</h4>
                <div class="calculadora-espacios section group"> <!--calculadora numero 1-->
                	<div class="no-colorcont col span_1_of_5">
                    	<span class="light-italic">Empleados</span><br>
                        <span class="extrabold">de tiempo completo</span>
                    </div>
                    <div class="middle-cont col span_3_of_5">
                    	<div class="well1">
  							<input class="ex8" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="0"/>
      					</div>
                    </div>
                    <div class="endcont grisclarofont col span_1_of_5">
                    	<span  id="emp1" class="extrabold">0</span><br>
                        <span id="palabra-empleados1" class="extrabold">empleados</span>
                    </div>
                </div>

                <div class="calculadora-espacios section group"> <!--calculadora numero 2-->
                	<div class="no-colorcont col span_1_of_5">
                    	<span class="light-italic">Empleados que van</span><br>
                        <span class="extrabold">3 - 4 días a la semana</span>
                    </div>
                    <div class="middle-cont col span_3_of_5">
                    	<div class="well1">
  							<input class="ex8" data-slider-id='ex2Slider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="0"/>
      					</div>
                    </div>
                    <div class="endcont grisclarofont col span_1_of_5">
                    	<span  id="emp2" class="extrabold">0</span><br>
                        <span id="palabra-empleados2" class="extrabold">empleados</span>
                    </div>
                </div>

                <div class="calculadora-espacios section group"> <!--calculadora numero 3-->
                	<div class="no-colorcont col span_1_of_5">
                    	<span class="light-italic">Empleados que van</span><br>
                        <span class="extrabold">1 - 2 días a la semana</span>
                    </div>
                    <div class="middle-cont col span_3_of_5">
                    	<div class="well1">
  							<input class="ex8" data-slider-id='ex3Slider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step="1" data-slider-value="0"/>
      					</div>
                    </div>
                    <div class="endcont grisclarofont col span_1_of_5">
                    	<span  id="emp3" class="extrabold">0</span><br>
                        <span id="palabra-empleados3" class="extrabold">empleados</span>
                    </div>
                </div>

								<!--Calculadora para medidas de menos de 800px

                <div id="selectores-calcu">
                	<h4 class="semi-italic azulmediofont">¿Cuantos empleados de cada tipo de contrato vas a registrar?</h4>
                	<div id="calc">
                    	<form action="demo_form.asp">
                            <span class="spanForm light">Tiempo completo:<br><span class="spandescript">(mes completo)</span></span><input class="tipoContrato" type="text" name="TiempoCompleto" placeholder="Introduce el número de empleados"><br>
                            <span class="spanForm light">Tiempo parcial:<br><span class="spandescript">(1 - 2 días a la semana)</span></span><input class="tipoContrato" type="text" name="2dias" placeholder="Introduce el número de empleados"><br>
                            <span class="spanForm light">Tiempo parcial:<br><span class="spandescript">(3 - 4 días a la semana)</span></span><input class="tipoContrato" type="text" name="4dias" placeholder="Introduce el número de empleados"><br>
                        </form>
                    </div>

                </div>

								Fin calculadora para medidas de menos de 800px-->

                <div id="texto-finalcalculadora">
                	<p class="light pcalculadora">El valor mensual de nuestro servicio<br><span class="semi-italic">para tu caso es:</span></p>
                    <div id="resultado-calculadora" class="azulmedio">
                        <p><span class="extrabold"><span  id="total-empleados" >0</span><span class="light-italic"> <span id="palabra-empleados">empleados</span> <span class="extrabold"  id="precio">= $0 mensuales</span></p>
                    </div>
                    <br>
             </div>

           </div>
        </section>
        <div id="callregistro">
                <!--<p class="bold" style="margin:0px;font-size:20px">Prueba un mes gratis</p>-->
                <a href="/register"><div class="callto4 naranja bold">Prueba un mes gratis</div></a>
            </div>
    </main>
<script type="text/javascript" src="{{asset('public/js/home/bootstrap-slider.js')}}"></script>
<script type="text/javascript">
	$(".ex8").slider({
		tooltip: 'always'
	});

       function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

     var conta1 = 0;
     var conta2 = 0;
     var conta3 = 0;
     var slider1 = $("#ex1Slider" ).slider({
          value: 0,
          min: 0,
          max: 5,
    });
     slider1.on("change", function(slideEvt) {
         //console.log($('#ex1Slider').val());
         //console.log(conta1);
         conta1 = $('#ex1Slider').val();
         $("#emp1").text(conta1);
         funcion();
         if(conta1 != 1)
            $("#palabra-empleados1").text("empleados");
         else
                $("#palabra-empleados1").text("empleado");
     });
     var slider2 = $("#ex2Slider" ).slider({
      value: 0,
      min: 0,
      max: 5,
    });
     slider2.on("change", function(slideEvt) {
         conta2 = $('#ex2Slider').val();
         $("#emp2").text(conta2);
         funcion();
         if(conta2 != 1)
            $("#palabra-empleados2").text("empleados");
         else
            $("#palabra-empleados2").text("empleado");
     });
     //var slider3 = new Slider("#ex3Slider");
    var slider3 = $("#ex3Slider" ).slider({
          value: 0,
          min: 0,
          max: 5,
        });
     slider3.on("change", function(slideEvt) {
         conta3 = $('#ex3Slider').val();
         $("#emp3").text(conta3);
         funcion();
         if(conta3 != 1)
            $("#palabra-empleados3").text("empleados");
         else
            $("#palabra-empleados3").text("empleado");
     });
    function funcion(){
        var valor = (conta1 * 32500) + (conta2 * 24500) + (conta3 * 18500);
				if((conta1 + conta2 + conta3) >= 4 )
					valor = valor * 0.9;
        $("#total-empleados").text(conta1 + conta2 + conta3);
        $("#precio").text(" = $"+numberWithCommas(valor) + " mensuales");
        //$("#total-empleados").text(conta1 + conta2 + conta3);
        if((conta1 + conta2 + conta3) != 1)
            $("#palabra-empleados").text("empleados");
         else
            $("#palabra-empleados").text("empleado");

    }



</script>
</body>
</html>

{% endblock %}
