{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}
    <style>
        .container-tab1 .top-container{
            text-align: center;
            border-bottom: dotted grey;
        }
        .label-title{
            font-weight: bold;
        }
        .container-tab1 .bottom-container{
            text-align: center;
        }
        .button-bottom{
            text-align: center;
        }
    </style>
{% endblock %}
<ul class="nav nav-tabs">
    <li class="active col-md-6"><a data-toggle="tab" href="#home">Datos basicos y de contacto</a></li>
    <li class="col-md-6"><a data-toggle="tab" href="#menu1">Lugar(es) donde trabajan los empleados</a></li>
</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <div class="container-tab1 col-md-12">
            <div class="top-container">
                <h3 class="col-md-12">{{ user.personPerson.names }} {{ user.personPerson.lastName1 }}</h3>
                <p>{{ user.personPerson.document}}</p>
            </div>
            <div class="bottom-container col-md-12">
                <div class="lef-panel col-md-6">
                    <p class="col-md-12 label-title">Fecha de nacimiento:</p>
                    <p class="col-md-12"> {{ user.personPerson.birthDate|date("F") }} {{ user.personPerson.birthDate|date("d") }} de {{ user.personPerson.birthDate|date("Y") }}</p>

                    <p class="col-md-12 label-title">Dirección principal:</p>
                    <p class="col-md-12">{{ user.personPerson.mainAddress}} </p>

                    <p class="col-md-12 label-title">Departamento:</p>
                    <p class="col-md-12">{{ user.personPerson.department}} </p>
                </div>
                <div class="right-panel col-md-6">
                    <p class="col-md-12 label-title">Ciudad:</p>
                    <p class="col-md-12">{{ user.personPerson.city}}</p>

                    {% set phones = user.personPerson.phones %}
                    <p class="col-md-12 label-title">Telefonos:</p>
                    {% for phone in phones %}
                        <p class="col-md-12">{{ phone.phoneNumber}} </p>
                    {% endfor %}
                    <p class="col-md-12 label-title">Código para compartir:</p>
                    <p class="col-md-12">{{ user.code }} <a btn class="btn btn-default" href="{{ path('invitation') }}" class="nav-link">Referir</a></p>
                </div>
            </div>
        </div>
    </div>
    <div id="menu1" class="tab-pane fade">
        {% if employer is defined %}
            {% set workplaces = employer.workplaces %}
            {% for work in workplaces %}
                {{ work.mainAddress}}
            {% endfor %}
        {% endif %}
    </div>

</div>
