{% extends "::new-design/public.html.twig" %}
{% block stylesheet %}
{{ parent() }}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
<style type="text/css">
.calculator-block {
    width: 100%;
    text-align: center;
}

.header-cal {
    margin: 10px;
}
.calculator-block form {
    margin: 20px
}
.tipo-empleado .radio {

}

#registrationFormContainer {
    width: 90%;
    margin: 0 auto;
}
#registrationFormContainer .tipo-empleado .radio label {
    font-size: 14px !important;
}
#registrationFormContainer .radio  {
    float: left;
    margin: 10px 0 0;
    width: 50%;

}
.tipo-empleado .radio input {
    font-size: 13px;
}
.form-group {
    overflow: hidden;
}
#form_sisben .radio, #form_auxilio .radio, #form_transporte .radio {
    float: left;
    overflow: hidden;
    width: 90px;
}
.dual {
    overflow: hidden;
    margin:0 0 10px 0;

}
.dual label {
    display: block;
    float: left;
    width: 45%;
    margin-right: 30px;
    text-align: right;
}

.dual .input-group, {

}
.dual select.form-control {
    width: 50%;
}

.form-control {
}
#form-sisben {
}
#form-sisben .radio {
}
</style>
{% endblock %}
{% block body %}

<style type="text/css">
#banner7 {
   background: url("{{ asset('public/img/home/banner7.png') }}") no-repeat;
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 310px;
}
  #bannercal {padding-top: 100px}
  #bannercal h1 {padding-top: 50px}
  .col-sm-12, .col-xs-12 {
    padding:0;
  }
  .header-cal p {
    text-align: center;
  font-size: 18px;
  color: #808080
}

.calculator-block{
  text-align: left
}

  .light-italic {font-family: 'Open Sans', sans-serif;font-weight: 300;font-style:italic}
  .light {font-family: 'Open Sans', sans-serif;font-weight: 300}
  .semi-italic {font-family: 'Open Sans', sans-serif;font-weight: 600;font-style:italic}
  .bold {font-family: 'Open Sans', sans-serif;font-weight: 700}
  .extrabold {font-family: 'Open Sans', sans-serif;font-weight: 800}

  #estilo_calculadora {
    width: 600px;
    margin: 50px auto;
    padding-bottom: 50px;
    color: #6D6D6D
  }

  @media only screen and (max-width: 640px) {
    #estilo_calculadora {
      width: 85%;
    }
    .header-cal p {
      width: 80%;
      margin: 0 auto;
  }
}
</style>

<div class="col-sm-12 col-xs-12 align-Resp" id="bannercal" style="margin-bottom: 30px;">
    <div id="" class="col-sm-12 col-xs-12 blockStep inline banner">
        <div id="banner7" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">
            <h1>Calculadora salarial</h1>
            <h2>El valor mensual que debes pagar a tu empleado</h2>
        </div>
    </div>
</div>
<div id="registrationFormContainer" class="calculator-block">
    <div class="header-cal">
        <p class="light">A continuación podrás ejecutar los cálculos necesarios para estimar<br> la forma como debes pagar a tu
        empleado de acuerdo a lo que la ley define:</p>
    </div>
    {{ form_start(form, {'attr': {'id': 'estilo_calculadora'}}) }}
    {{ form_errors(form) }}
    <div class="tipo-empleado">
        {{ form_row(form.tipo) }}
    </div>
    <hr />
    <div class="all">
        <div class="days dual">
            {{ form_row(form.salarioD) }}
        </div>
        <div class="complete dual">
            {{ form_row(form.salarioM) }}
        </div>

        <div class="days dual">
            {{ form_row(form.numberOfDays) }}
            {{ form_row(form.sisben) }}
        </div>
        <div class="common dual">
            {{ form_row(form.transporte) }}

            {{ form_row(form.auxilio) }}
            <div class="aid">
                {{ form_row(form.auxilioD) }}
            </div>
        </div>
        <div class="col-sm-12 col-xs-12 center">
            {{ form_row(form.save) }}
        </div>
    </div>
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
<div class="modal fade" id="calculatorResultsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Detalles Calculadora</h3>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button id="employerDismiss" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ asset('public/js/accounting.min.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

    <script>
        $(document).ready(function(){
            $.getScript("{{ asset('public/js/calculator.js') }}").done(function () {
                calculatorCalculate();
            });
        });


    </script>


{% endblock %}
