{% extends "::base.html.twig" %}
{% block stylesheet %}
{{ parent() }}
<style>
.calculator-block {
    width: 100%;
    text-align: center;
}

.header-cal {
    margin: 10px;
}
.calculator-block form {
    margin: 20px
}
.tipo-empleado .radio {

}

#registrationFormContainer {
    width: 90%;
    margin: 0 auto;
}
#registrationFormContainer .tipo-empleado .radio label {
    font-size: 14px !important;
}
#registrationFormContainer .radio  {
    float: left;
    margin: 10px 0 0;
    width: 50%;

}
.tipo-empleado .radio input {
    font-size: 13px;
}
.form-group {
    overflow: hidden;
}
#form_sisben .radio, #form_auxilio .radio, #form_transporte .radio {
    float: left;
    overflow: hidden;
    width: 90px;
}
.dual {
    overflow: hidden;
    margin:0 0 10px 0;

}
.dual label {
    display: block;
    float: left;
    width: 45%;
    margin-right: 30px;
    text-align: right;
}

.dual .input-group, {

}
.dual select.form-control {
    width: 50%;
}

.form-control {
    
}
#form-sisben {
     
}
#form-sisben .radio {
     
}
</style>
{% endblock %}
{% block fos_user_content %}
<div class="col-sm-12 col-xs-12 align-Resp" style="margin-bottom: 30px;">
    <div id="" class="col-sm-12 col-xs-12 blockStep inline">
        <div id="" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">
            <img src="/img/block-complete.png" class="center-block">
        </div>
        <div id="" class="col-md-10 col-xs-12 txt-AD1">
            <div id="" class="text-left">
                Calculadora salarial
            </div>
        </div>
    </div>
</div>
<div id="registrationFormContainer" class="calculator-block">
    <div class="header-cal">
        <p>A continuación podrá ejecutar los cálculos necesarios para estimar la forma como debe pagar a su
        empleado de acuerdo a lo que la ley define:</p>
    </div>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="tipo-empleado">
        {{ form_row(form.tipo) }}
    </div>
    <hr />
    <div class="all">
        <div class="days dual">
            {{ form_row(form.salarioD) }}
        </div>
        <div class="complete dual">
            {{ form_row(form.salarioM) }}
        </div>

        <div class="days dual">
            {{ form_row(form.numberOfDays) }}
            {{ form_row(form.sisben) }}
        </div>
        <div class="common dual">
            {{ form_row(form.transporte) }}

            {{ form_row(form.auxilio) }}
            <div class="aid">
                {{ form_row(form.auxilioD) }}
            </div>
        </div>
        <div class="col-sm-12 col-xs-12 center">
            {{ form_row(form.save) }}
        </div>
    </div>
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
<div class="modal fade" id="calculatorResultsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Detalles Calculadora</h3>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button id="employerDismiss" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>
{% endblock fos_user_content %}