{% extends "::base.html.twig" %}
{% block fos_user_content %}
<div id="registrationFormContainer">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.tipo) }}
    <div class="all">
        <div class="days">
            {{ form_row(form.salarioD) }}
        </div>
        <div class="complete">
            {{ form_row(form.salarioM) }}
        </div>

        <div class="days">
            {{ form_row(form.numberOfDays) }}
            {{ form_row(form.sisben) }}
        </div>
        <div class="common">
            {{ form_row(form.transporte) }}

            {{ form_row(form.auxilio) }}
            <div class="aid">
                {{ form_row(form.auxilioD) }}
            </div>
        </div>
        <div class="col-sm-12 col-xs-12 center">
            {{ form_row(form.save) }}
        </div>
    </div>

    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
    <div class="modal fade" id="calculatorResultsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Detalles Calculadora</h3>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button id="employerDismiss" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}