{% extends "::new-design/public.html.twig" %}
{% block stylesheet %}
{{ parent() }}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <style type="text/css">
    .calculator-block {
        width: 100%;
        text-align: center;
    }

    .header-cal {
        margin: 10px;
    }
    .calculator-block form {
        margin: 20px
    }
    .tipo-empleado .radio {

    }

    #registrationFormContainer {
        width: 90%;
        margin: 0 auto;
    }
    #registrationFormContainer .tipo-empleado .radio label {
        font-size: 14px !important;
    }
    #registrationFormContainer .radio  {
        float: left;
        margin: 10px 0 0;
        width: 50%;

    }
    .tipo-empleado .radio input {
        font-size: 13px;
    }
    .form-group {
        overflow: hidden;
    }
    #form_sisben .radio, #form_auxilio .radio, #form_transporte .radio {
        float: left;
        overflow: hidden;
        width: 90px;
    }
    .dual {
        overflow: hidden;
        margin:0 0 10px 0;

    }
    .dual label {
        display: block;
        float: left;
        width: 45%;
        margin-right: 30px;
        text-align: right;
    }

    .dual .input-group, {

    }
    .dual select.form-control {
        width: 50%;
    }

    .form-control {
    }
    #form-sisben {
    }
    #form-sisben .radio {
    }

    </style>
{% endblock %}
{% block body %}

<style type="text/css">
#banner7 {
   background: url("{{ asset('public/img/home/banner7.png') }}") no-repeat;
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 310px;
}
  #bannercal {padding-top: 95px}
  #bannercal h1 {padding-top: 0px}
  .col-sm-12, .col-xs-12 {
    padding:0;
  }
  .header-cal p {
    text-align: center;
  font-size: 18px;
  color: #808080
}

.calculator-block{
  text-align: left
}

  .light-italic {font-family: 'Open Sans', sans-serif;font-weight: 300;font-style:italic}
  .light {font-family: 'Open Sans', sans-serif;font-weight: 300}
  .semi-italic {font-family: 'Open Sans', sans-serif;font-weight: 600;font-style:italic}
  .bold {font-family: 'Open Sans', sans-serif;font-weight: 700}
  .extrabold {font-family: 'Open Sans', sans-serif;font-weight: 800}

  #estilo_calculadora {
    width: 600px;
    margin: 50px auto;
    padding-bottom: 50px;
    color: #6D6D6D
  }

  @media only screen and (max-width: 640px) {
    #estilo_calculadora {
      width: 85%;
    }
    .header-cal p {
      width: 80%;
      margin: 0 auto;
  }
}
</style>

<div class="col-sm-12 col-xs-12 align-Resp" id="bannercal" style="margin-bottom: 30px;">
    <div id="" class="col-sm-12 col-xs-12 blockStep inline banner">
        <div id="banner7" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">
          <div id="banner-beneficios-cont">
              <h1 class="bold azuloscurofont">Calculadora salarial</h1>
              <h1 class="light azulmediofont">El valor mensual que debes pagar a tu empleado</h1>
            </div>
        </div>
    </div>
</div>
<div id="registrationFormContainer" class="calculator-block">
    <div class="header-cal">
        <p class="light">A continuación podrás ejecutar los cálculos necesarios para estimar<br> la forma como debes pagar a tu
        empleado de acuerdo a lo que la ley define:</p>
    </div>
    {{ form_start(form, {'attr': {'id': 'estilo_calculadora'}}) }}
    {{ form_errors(form) }}

    <div class="position">
        {{ form_row(form.position) }}
    </div>
    <div class="tipo-empleado">
        {{ form_row(form.tipo) }}
    </div>
    <hr />
    <div class="all">
        <div class="common dual">
            {{ form_row(form.pension) }}
            {{ form_row(form.transporte) }}
        </div>
        <div class="days dual">
            {{ form_row(form.salarioD) }}
            {{ form_row(form.minimumXD) }}
        </div>
        <div class="complete dual">
            {{ form_row(form.salarioM) }}
            {{ form_row(form.minimumTC) }}
        </div>

        <div class="days dual">
            {{ form_row(form.numberOfDays) }}
        </div>

        <div class="col-sm-12 col-xs-12 center">
            {{ form_row(form.save) }}
        </div>
    </div>
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>


    <div class="modal fade" id="calculatorResultsModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--
                <div class="modal-header">
                    <h3 class="modal-title">Detalles Calculadora</h3>
                </div>
            -->
                <button id="cerrarModalDetalle" type="button" class="close"
                        data-dismiss="modal" aria-label="Close"
                        style="position: absolute; right: 15px; top: 15px;z-index: 100; color: #fff;">
                    <span aria-hidden="true">&times;</span></button>
                <div class="row-fluid block-Intro-green clearfix" id="msgSinVerificar1"
                     style="margin-top: 0;">
                    <div class="col-sm-12 col-xs-12 up-Intro" style="font-size: 20px;">
                        &nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-usd"
                                             style="font-size:17px"></i>&nbsp; Estimación
                        del costo de tu empleado
                    </div>
                </div>
                <div class="modal-body">

                    <!--Aca debe ir lo del modal que hizo Gustavo -->
                    <style>
                        /* Estilo del modal de la calculadora salarial */

                    </style>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
                    <script>
                        $(document).ready(function () {
                            $("#tool1tr").click(function () {
                                $("#tool1").toggle();
                            });
                            $("#tool2tr").click(function () {
                                $("#tool2").toggle();
                            });
                            $("#tool3tr").click(function () {
                                $("#tool3").toggle();
                            });
                        });
                    </script>


                    <div id="detalle-calculadora">
                        <section>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <table align="center" border="0" cellpadding="0"
                                               cellspacing="0">
                                            <tr>
                                                <!---------------------------------------------empieza Ingresos promedio del empleado (sin prestaciones)-->
                                                <td class="padding">
                                                    <p class="centrar">
                                                        Ingreso estimado del empleado (sin
                                                        prestaciones) <span id="tool1tr"
                                                                            class="glyphicon glyphicon-question-sign"></span>
                                                        <span id="tool1"
                                                              class="toolstyle light">Este es el valor neto que recibirá el empleado. No incluye prestaciones y puede variar según los días trabajados y novedades reportadas. Las prestaciones se pueden ver más abajo</span>
                                                    </p>
                                                    <table class="border" border="0"
                                                           cellpadding="0" cellspacing="0"
                                                           width="100%">
                                                        <tr>
                                                            <td class="franja-gris">
                                                                Salario y Auxilios (+)
                                                            </td>
                                                        </tr>
                                                        <tr><!--empieza doble columna-->
                                                            <td>
                                                                <table border="0"
                                                                       cellpadding="0"
                                                                       cellspacing="0"
                                                                       width="100%">
                                                                    <tr>
                                                                        <td class="concepto"
                                                                            width="260"
                                                                            valign="top">
                                                                            Salario
                                                                        </td>
                                                                        <td id="salario_ingreso_bruto"
                                                                            class="concepto"
                                                                            width="260"
                                                                            valign="top">
                                                                            $68.141
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr><!--termina doble columna-->
                                                        <tr><!--empieza doble columna-->
                                                            <td>
                                                                <table border="0"
                                                                       cellpadding="0"
                                                                       cellspacing="0"
                                                                       width="100%">
                                                                    <tr>
                                                                        <td class="concepto"
                                                                            width="260"
                                                                            valign="top">
                                                                            Auxilio de
                                                                            transporte
                                                                        </td>
                                                                        <td id="subsidio_transporte"
                                                                            class="concepto"
                                                                            width="260"
                                                                            valign="top">
                                                                            $69.120
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr><!--termina doble columna-->
                                                        <tr>
                                                            <td class="franja-gris">
                                                                Descuentos (-)
                                                            </td>
                                                        </tr>
                                                        <tr><!--empieza doble columna-->
                                                            <td>
                                                                <table border="0"
                                                                       cellpadding="0"
                                                                       cellspacing="0"
                                                                       width="100%">
                                                                    <tr>
                                                                        <td class="concepto"
                                                                            width="260"
                                                                            valign="top">
                                                                            Salud
                                                                        </td>
                                                                        <td id="descuento_salud"
                                                                            class="concepto"
                                                                            width="260"
                                                                            valign="top">
                                                                            $69.120
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr><!--termina doble columna-->
                                                        <tr><!--empieza doble columna-->
                                                            <td>
                                                                <table border="0"
                                                                       cellpadding="0"
                                                                       cellspacing="0"
                                                                       width="100%">
                                                                    <tr>
                                                                        <td class="concepto"
                                                                            width="260"
                                                                            valign="top">
                                                                            Pensión
                                                                        </td>
                                                                        <td id="descuento_pension"
                                                                            class="concepto"
                                                                            width="260"
                                                                            valign="top">
                                                                            $69.120
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr><!--termina doble columna-->
                                                        <tr><!--empieza doble columna-->
                                                            <td>
                                                                <table border="0"
                                                                       cellpadding="0"
                                                                       cellspacing="0"
                                                                       width="100%">
                                                                    <tr>
                                                                        <td class="pagos"
                                                                            width="260"
                                                                            valign="top">
                                                                            Esto recibe el
                                                                            empleado
                                                                        </td>
                                                                        <td id="pagos_netos"
                                                                            class="pagos"
                                                                            width="260"
                                                                            valign="top">
                                                                            $69.120
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr><!--termina doble columna-->
                                                    </table>
                                                </td>
                                            </tr>
                                            <!------------------------------------termina Ingresos promedio del empleado (sin prestaciones)-->
                                            <tr>
                                                <!--------------------------------------Empieza Pagos recurrentes promedio diarios-->
                                                <td class="padding">
                                                    <p class="centrar">
                                                        Costo del empleado (sin
                                                        prestaciones) <i id="tool2tr"
                                                                         class="glyphicon glyphicon-question-sign"></i>
                                                        <span id="tool2"
                                                              class="toolstyle light">Este es el resumen del costo recurrente que va a tener el empleador. No incluye prestaciones y puede variar según los días trabajados y novedades reportadas. Más abajo se detalla el costo de las prestaciones</span>
                                                    </p>
                                                    <table class="border" border="0"
                                                           cellpadding="0" cellspacing="0"
                                                           width="100%">
                                                        <tr>
                                                            <td class="franja-gris">
                                                                Salario y Auxilios (+)
                                                            </td>
                                                        </tr>
                                                        <tr><!--empieza doble columna-->
                                                            <td>
                                                                <table border="0"
                                                                       cellpadding="0"
                                                                       cellspacing="0"
                                                                       width="100%">
                                                                    <tr>
                                                                        <td class="concepto"
                                                                            width="260"
                                                                            valign="top">
                                                                            Salario
                                                                        </td>
                                                                        <td id="salario_ingreso_bruto2"
                                                                            class="concepto"
                                                                            width="260"
                                                                            valign="top">
                                                                            $68.140
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr><!--termina doble columna-->
                                                        <tr><!--empieza doble columna-->
                                                            <td>
                                                                <table border="0"
                                                                       cellpadding="0"
                                                                       cellspacing="0"
                                                                       width="100%">
                                                                    <tr>
                                                                        <td class="concepto"
                                                                            width="260"
                                                                            valign="top">
                                                                            Auxilio de
                                                                            transporte
                                                                        </td>
                                                                        <td id="subsidio_transporte2"
                                                                            class="concepto"
                                                                            width="260"
                                                                            valign="top">
                                                                            $68.140
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr><!--termina doble columna-->
                                                        <tr>
                                                            <td class="franja-gris">
                                                                Aportes a seguridad social
                                                                (+)
                                                            </td>
                                                        </tr>
                                                        <tr><!--empieza doble columna-->
                                                            <td>
                                                                <table border="0"
                                                                       cellpadding="0"
                                                                       cellspacing="0"
                                                                       width="100%">
                                                                    <tr>
                                                                        <td class="concepto"
                                                                            width="260"
                                                                            valign="top">
                                                                            Salud
                                                                        </td>
                                                                        <td id="salud_empleador"
                                                                            class="concepto"
                                                                            width="260"
                                                                            valign="top">
                                                                            $68.140
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr><!--termina doble columna-->
                                                        <tr><!--empieza doble columna-->
                                                            <td>
                                                                <table border="0"
                                                                       cellpadding="0"
                                                                       cellspacing="0"
                                                                       width="100%">
                                                                    <tr>
                                                                        <td class="concepto"
                                                                            width="260"
                                                                            valign="top">
                                                                            Pensión
                                                                        </td>
                                                                        <td id="pension_empleador"
                                                                            class="concepto"
                                                                            width="260"
                                                                            valign="top">
                                                                            $68.140
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr><!--termina doble columna-->
                                                        <tr><!--empieza doble columna-->
                                                            <td>
                                                                <table border="0"
                                                                       cellpadding="0"
                                                                       cellspacing="0"
                                                                       width="100%">
                                                                    <tr>
                                                                        <td class="concepto"
                                                                            width="260"
                                                                            valign="top">
                                                                            Caja de
                                                                            compensación
                                                                        </td>
                                                                        <td id="ccf_empleador"
                                                                            class="concepto"
                                                                            width="260"
                                                                            valign="top">
                                                                            $68.140
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr><!--termina doble columna-->
                                                        <tr><!--empieza doble columna-->
                                                            <td>
                                                                <table border="0"
                                                                       cellpadding="0"
                                                                       cellspacing="0"
                                                                       width="100%">
                                                                    <tr>
                                                                        <td class="concepto"
                                                                            width="260"
                                                                            valign="top">
                                                                            Riesgos
                                                                            profesionales
                                                                        </td>
                                                                        <td id="arl_empleador"
                                                                            class="concepto"
                                                                            width="260"
                                                                            valign="top">
                                                                            $68.140
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr><!--termina doble columna-->
                                                        <tr><!--empieza doble columna-->
                                                            <td>
                                                                <table border="0"
                                                                       cellpadding="0"
                                                                       cellspacing="0"
                                                                       width="100%">
                                                                    <tr>
                                                                        <td class="pagos"
                                                                            width="260"
                                                                            valign="top">
                                                                            Costo sin
                                                                            prestaciones
                                                                        </td>
                                                                        <td id="costo_total"
                                                                            class="pagos"
                                                                            width="260"
                                                                            valign="top">
                                                                            $200.140
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr><!--termina doble columna-->
                                                    </table>
                                                </td>
                                            </tr>
                                            <!----------------------------------------------------------------termina Pagos recurrentes promedio diarios-->
                                            <tr>
                                                <!----------------------------------------------------------------Empieza Prestaciones promedio por diarios-->
                                                <td class="padding">
                                                    <p class="centrar">
                                                        Prestaciones promedio <i
                                                                id="tool3tr"
                                                                class="glyphicon glyphicon-question-sign"></i>
                                                        <span id="tool3"
                                                              class="toolstyle light">Estas son las provisiones. Es decir, lo que deberías ahorrar promedio en el periodo para pagar las prestaciones cuando se ejecutan. Estos valores en realidad se pagan una vez al año o cuando se termina el contrato</span>
                                                    </p>
                                                    <table class="border" border="0"
                                                           cellpadding="0" cellspacing="0"
                                                           width="100%">
                                                        <tr>
                                                            <td class="franja-gris">
                                                                Cesantías (+)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <!--------------empieza doble columna cesantias------------------------->
                                                            <td>
                                                                <table border="0"
                                                                       cellpadding="0"
                                                                       cellspacing="0"
                                                                       width="100%">
                                                                    <tr>
                                                                        <td class="concepto"
                                                                            width="260"
                                                                            valign="top">
                                                                            Cesantías
                                                                        </td>
                                                                        <td id="cesantias"
                                                                            class="concepto"
                                                                            width="260"
                                                                            valign="top">
                                                                            $68.812
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr><!--termina doble columna-->
                                                        <tr><!--empieza doble columna-->
                                                            <td>
                                                                <table border="0"
                                                                       cellpadding="0"
                                                                       cellspacing="0"
                                                                       width="100%">
                                                                    <tr>
                                                                        <td class="concepto"
                                                                            width="260"
                                                                            valign="top">
                                                                            Intereses de
                                                                            cesantías
                                                                        </td>
                                                                        <td id="int_cesantias"
                                                                            class="concepto"
                                                                            width="260"
                                                                            valign="top">
                                                                            $68.140
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <!--------------termina doble columna cesantias------------------------->
                                                        <tr>
                                                            <td class="franja-gris">
                                                                Vacaciones
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <!--------------empieza doble columna vacaciones------------------------->
                                                            <td>
                                                                <table border="0"
                                                                       cellpadding="0"
                                                                       cellspacing="0"
                                                                       width="100%">
                                                                    <tr>
                                                                        <td class="concepto"
                                                                            width="260"
                                                                            valign="top">
                                                                            Vacaciones
                                                                        </td>
                                                                        <td id="vacaciones"
                                                                            class="concepto"
                                                                            width="260"
                                                                            valign="top">
                                                                            $68.812
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <!--------------termina doble columna vacaciones------------------------->
                                                        <tr>
                                                            <td class="franja-gris">
                                                                Prima
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <!--------------empieza doble columna prima------------------------->
                                                            <td>
                                                                <table border="0"
                                                                       cellpadding="0"
                                                                       cellspacing="0"
                                                                       width="100%">
                                                                    <tr>
                                                                        <td class="concepto"
                                                                            width="260"
                                                                            valign="top">
                                                                            Prima
                                                                        </td>
                                                                        <td id="prima"
                                                                            class="concepto"
                                                                            width="260"
                                                                            valign="top">
                                                                            $68.812
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <!--------------termina doble columna prima------------------------->
                                                        <tr>
                                                            <!--------------empieza doble columna total prestaciones------------------------->
                                                            <td>
                                                                <table border="0"
                                                                       cellpadding="0"
                                                                       cellspacing="0"
                                                                       width="100%">
                                                                    <tr>
                                                                        <td class="pagos"
                                                                            width="260"
                                                                            valign="top">
                                                                            Total
                                                                            prestaciones
                                                                        </td>
                                                                        <td id="total_prestaciones"
                                                                            class="pagos"
                                                                            width="260"
                                                                            valign="top">
                                                                            $68.812
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <!--------------termina doble columna total prestaciones------------------------->
                                                    </table>
                                                </td>
                                            </tr><!--termina tercera tabla-->
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </section>
                    </div>
                </div>
                <p id="diasTrabajadosMod" class="centrar"><i>
                    </i></p>
                <div class="modal-footer" style="text-align: center;">
                    <button id="employerDismiss" type="button" class="btn btn-orange"
                            data-dismiss="modal">Cerrar
                    </button>

                </div>
            </div>
        </div>
    </div>




{% endblock %}
{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ asset('public/js/accounting.min.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

    <script>
        $(document).ready(function(){
            $.getScript("{{ asset('public/js/calculator.js') }}").done(function () {
                calculatorCalculate();
            });
        });


    </script>


{% endblock %}
