{% extends "::base.html.twig" %}
{% block fos_user_content %}
<div id="registrationFormContainer">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.tipo) }}
    <div class="all">
        <div class="days">
            {{ form_row(form.salarioD) }}
        </div>
        <div class="complete">
            {{ form_row(form.salarioM) }}
        </div>

        <div class="days">
            {{ form_row(form.numberOfDays) }}
            {{ form_row(form.sisben) }}
        </div>
        <div class="common">
            {{ form_row(form.auxilio) }}
            <div class="aid">
                {{ form_row(form.auxilioD) }}
            </div>
            {{ form_row(form.transporte) }}
        </div>
        <div class="col-sm-12 col-xs-12 center">
            {{ form_row(form.save) }}
        </div>
    </div>

    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock fos_user_content %}