{% macro modal(template_parameter,modal_id,param) %}
    {% if template_parameter is not defined %}

        {% set modal_id = 'default_modal' %}

        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}

        {% endset %}

        {% set modal_style %}
            padding: 0;line-height: 1;
        {% endset %}

        {% set modal_header_style %}
            style="background-color: #9C2F2F;border-color:#9C2F2F; padding: 0px 0px"
        {% endset %}

        {% set modal_header %}
            Modal Parameter Error
        {% endset %}

        {% set modal_content_class %}
            class="text-center"
        {% endset %}

        {% set modal_content_style %}
        {% endset %}

        {% set modal_content %}
            You don't defined the modal parameter
        {% endset %}

        {% set modal_style_button %}
        {% endset %}

        {% set modal_button %}
            cerrar
        {% endset %}

        {% set modal_style_button2 %}
            style="display: none"
        {% endset %}

        {% set modal_button2 %}
            cerrar2
        {% endset %}

    {% elseif  template_parameter == 1 %}

        {% set modal_id = 'success_email_modal' %}

        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}
        {% set modal_style %}width: 70%;{% endset %}
        {% set modal_header_style %}
            style="background-color:#3c4b5a;
            padding: 0px 0px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;"
        {% endset %}

        {% set modal_header %}
            <h1 style="font-weight: 700;font-size: 100%;margin: 0;padding: 10px 0 10px 15px;  ">Envío Exitoso</h1>
        {% endset %}

        {% set modal_content_class %}
            class="text-center"
        {% endset %}

        {% set modal_content_style %}
        {% endset %}

        {% set modal_content %}
            <p style="color: #5D5D5D; padding: 4%;font-size: 17px;margin-bottom: 1%;margin-left: 10px; margin-right: 10px">
                ¡Tu correo se envió de manera exitosa!</p>
        {% endset %}

        {% set modal_style_button %}
            style="width: 110px; font-size:18px;font-weight: 500;padding: 5px 12px;"
        {% endset %}

        {% set modal_button %}
            aceptar
        {% endset %}

        {% set modal_style_button2 %}
            style="display: none"
        {% endset %}

        {% set modal_button2 %}
            cerrar2
        {% endset %}


    {% elseif  template_parameter == 2 %}

        {% set modal_id = 'fail_email_modal' %}

        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set modal_style %}width: 70%;{% endset %}
        {% set modal_header_style %}
            style="background-color: #9C2F2F;
            border-color:#9C2F2F;
            padding: 0px 0px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;"
        {% endset %}

        {% set modal_header %}
            <h1 style="font-weight: 700;font-size: 100%;margin: 0;padding: 10px 0 10px 15px;  ">Falló el envío</h1>
        {% endset %}

        {% set modal_content_class %}
            class="text-center"
        {% endset %}

        {% set modal_content_style %}
        {% endset %}

        {% set modal_content %}
            <p style="color: #5D5D5D; padding: 4%;font-size: 17px;margin-bottom: 1%;margin-left: 10px; margin-right: 10px">
                ¡Ocurrió un error enviando el correo!</p>
        {% endset %}

        {% set modal_style_button %}
            style="width: 110px; font-size:18px;font-weight: 500;padding: 5px 12px;"
        {% endset %}

        {% set modal_button %}
            aceptar
        {% endset %}

        {% set modal_style_button2 %}
            style="display: none"
        {% endset %}

        {% set modal_button2 %}
            cerrar2
        {% endset %}

    {% elseif template_parameter == 3 %}

        {% set modal_id = 'error_salario' %}

        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set primary_modal_header %}
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Advertencia salario</h4>
            </div>
        {% endset %}

        {% set modal_style %}padding: 0;line-height: 1;{% endset %}

        {% set primary_modal_body %}
            <p style="padding: 15px 10px 5px 15px;">El salario no puede estar vacio.</p>
        {% endset %}

        {% set primary_modal_footer %}
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Entendido</button>
            </div>
        {% endset %}

    {% elseif  template_parameter == 4 %}

        {% set modal_id = 'succes_payment_modal' %}

        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set modal_style %}padding: 0;line-height: 1;{% endset %}

        {% set modal_header_style %}
            style="background-color: #3c4b5a; padding: 0px 0px"
        {% endset %}

        {% set modal_header %}
            <h1 style="font-weight: 700;font-size: 100%;margin: 0; padding: 10px 0 10px 15px">Confirmación de pago</h1>
        {% endset %}

        {% set modal_content_class %}
        {% endset %}

        {% set modal_content_style %}
            style="padding: 10px 20px"
        {% endset %}

        {% set modal_content %}
            <p style="color: #5D5D5D; padding: 20px; font-size: 20px">¡El pago fue realizado de manera exitosa!</p>
        {% endset %}

        {% set modal_style_button %}
            style="width: 30%; font-size:20px"
        {% endset %}

        {% set modal_button %}
            cerrar
        {% endset %}

        {% set modal_style_button2 %}
            style="display:none"
        {% endset %}

    {% elseif  template_parameter == 5 %}
        <!--pago fallido-->
        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set modal_id = 'fail_payment_modal' %}

        {% set modal_style %}padding: 0;line-height: 1;{% endset %}

        {% set modal_header_style %}
            style="background-color: #fd5c5c; padding: 0px 0px"
        {% endset %}

        {% set modal_header %}
            <h1 style="font-weight: 700;font-size: 100%;margin: 0; padding: 10px 0 10px 15px">Error confirmación de
                pago</h1>
        {% endset %}

        {% set modal_content_class %}
        {% endset %}

        {% set modal_content_style %}
            style="padding: 10px 20px"
        {% endset %}

        {% set modal_content %}
            <p style="color: #5D5D5D; padding: 20px; font-size: 20px">¡El pago no pudo ser efectuado!<br>
                Por favor intente nuevamente más tarde, si el problema persiste pongase en contacto con nosotros
                <strong>350 833 0000</strong></p>
        {% endset %}

        {% set modal_style_button %}
            style="width: 30%; font-size:20px"
        {% endset %}

        {% set modal_style_button2 %}
            style="display:none"
        {% endset %}

    {% elseif  template_parameter == 6 %}
        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set modal_id = 'end_documents_modal' %}

        {% set modal_style %}padding: 0;line-height: 1;{% endset %}

        {% set modal_header_style %}
            style="background-color: #3c4b5a; padding: 0px 0px"
        {% endset %}

        {% set modal_header %}
            <h1 style="font-weight: 700;font-size: 100%;margin: 0; padding: 10px 0 10px 15px">Carga de documentos</h1>
        {% endset %}

        {% set modal_content_style %}
            style="padding: 10px 20px"
        {% endset %}

        {% set modal_content %}
            <span style="text-align:center"><img src="{{ asset('public/img/landing/benefit1.png') }}" width="80"/></span>
            <p style="color: #8a8a8a;padding: 20px 35px;font-size: 17px;text-align: center;font-weight: 100;"><strong style="color:#00858c">¡Haz subido todos los documentos de<br>{% if param is defined %}{{ param }}{% endif %}!</strong><br><br>
            Validaremos la información y en un día hábil te informaremos del resultado. Si tienes tareas pendientes puedes seguir con ellas.</p>
        {% endset %}

        {% set param = '' %}

        {% set modal_style_button %}
            style="width: 30%; font-size:20px"
        {% endset %}

        {% set modal_style_button2 %}
            style="display:none"
        {% endset %}

    {% elseif  template_parameter == 7 %}

        <!--modal de abogado-->
        {% set modal_id = 'modal_abogado' %}

        {% set modal_style %}padding: 0;line-height: 1;{% endset %}

        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set modal_header_style %}
            style="background-color: #3c4b5a; padding: 0px 0px"
        {% endset %}

        {% set modal_header %}
            <h1 style="font-weight: 700;font-size: 100%;margin: 0; padding: 10px 0 10px 15px">Asesoría Symplifica</h1>
        {% endset %}

        {% set modal_content_class %}
        {% endset %}

        {% set modal_content_style %}
            style="padding: 10px 20px"
        {% endset %}

        {% set modal_content %}
            <p style="color: #969696; padding: 20px 45px 0 45px; font-size: 17px;font-weight: 100;text-align: center;">
                Para darte la mejor solución a tu situación actual, nos gustaría conocer más detalles de la relación
                laboral con tu empleado.
                Déjanos tus datos de contacto y realizaremos una pre-evaluación para que empieces a usar Symplifica lo
                antes posible.
            </p>
        {% endset %}

        {% set modal_style_button %}
            style="width: 40%; font-size:15px" id="continuarAbogado"
        {% endset %}

        {% set modal_button = 'Quiero ser contactado' %}

        {% set modal_style_button2 %}
            style="width: 30%; font-size:15px" id="cerrarAbogado"
        {% endset %}

        {% set modal_button2 = 'Atrás' %}

    {% elseif  template_parameter == 8 %}


        <!--modal salir consulte legal-->
        {% set modal_id = 'exit_legal_modal' %}

        {% set modal_style %}padding: 0;line-height: 1;{% endset %}

        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set modal_header_style %}
            style="background-color: #3c4b5a; padding: 0px 0px"
        {% endset %}
        {% set modal_header %}
            <h1 style="font-weight: 700;font-size: 100%;margin: 0; padding: 10px 0 10px 15px">Salir del proceso de
                registro</h1>
        {% endset %}
        {% set modal_content %}
            <p style="color: #7b7b7b;padding: 20px 55px;font-size: 18px;text-align: center;font-weight: 100;">Has
                decidido no continuar con el registro de tu empleado.
                <br>Nos estaremos contactando contigo para entender cómo podemos ayudarte. Recuerda que puedes volver a
                ingresar en
                cualquier momento y continuar con el registro usando tu usuario y contraseña.</p>
        {% endset %}
        {% set modal_style_button %}
            style="width: 30%; font-size:20px" id="atrasConsultoria"
        {% endset %}
        {% set modal_button = 'Atras' %}
        {% set modal_style_button2 %}
            style="width: 30%; font-size:20px" id="salirConsultoria"
        {% endset %}
        {% set modal_button2 = 'Salir' %}

    {% elseif  template_parameter == 9 %}

        {% set modal_id = 'default_modal_9' %}

        {% set modal_style %}padding: 0;line-height: 1;{% endset %}

        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}

        {% endset %}

        {% set modal_header_style %}
            style="background-color: #3c4b5a; padding: 0px 0px"
        {% endset %}

        {% set modal_header %}
            <h1 style="font-weight: 700;font-size: 100%;margin: 0; padding: 10px 0 10px 15px">Notificación de
                Cambio</h1>
        {% endset %}

        {% set modal_content_style %}
        {% endset %}

        {% set modal_content %}
            <p style="color: #5D5D5D; padding: 20px; font-size: 20px">Cambiaste la situación actual desde la última vez
                que evaluamos tu caso,
                esta opción ya no es valida para ti, vuelve a evaluar tu situación para observar tus nuevas
                opciones.</p>
        {% endset %}

        {% set modal_style_button %}
            style="width: 30%; font-size:20px" id="cerrarAviso"
        {% endset %}

        {% set modal_button %}
            Entendido
        {% endset %}

        {% set modal_style_button2 %}
            style="display: none"
        {% endset %}

    {% elseif  template_parameter == 10 %}
        <!--modal de exito de pago de consultoria juroidica-->
        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set modal_id = 'consultoria_juridica_modal' %}

        {% set modal_style %}padding: 0;line-height: 1;{% endset %}

        {% set modal_header_style %}
            style="background-color: #3c4b5a; padding: 0px 0px"
        {% endset %}

        {% set modal_header %}
            <h1 style="font-weight: 700;font-size: 100%;margin: 0; padding: 10px 0 10px 15px">Consultoría Juridica</h1>
        {% endset %}

        {% set modal_content_style %}
            style="padding: 10px 20px"
        {% endset %}

        {% set modal_content %}
            <p style="color: #5D5D5D; padding: 20px; font-size: 20px">¡El pago fue exitoso!<br>
                En las siguientes 24 horas uno de nuestros representantes se estará comunicando contigo para agendar tu
                cita</p>
        {% endset %}

        {% set modal_style_button %}
            style="width: 30%; font-size:20px"
        {% endset %}

        {% set modal_style_button2 %}
            style="display:none"
        {% endset %}
    {% elseif template_parameter == 11 %}

        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set modal_id = 'detalle_costo_trans_modal' %}

        {% set modal_header_style %}
            style="background-color: #3c4b5a; padding: 0px 0px"
        {% endset %}

        {% set modal_header %}
            <h1 style="font-weight: 700;font-size: 100%;margin: 0; padding: 10px 0 10px 15px">Costo Transaccional</h1>
        {% endset %}

        {% set modal_content_style %}
            style="padding: 10px 20px"
        {% endset %}

        {% set modal_content %}
            <p style="color: #888888;padding: 20px;font-size: 17px;font-weight: 100;text-align:center">
                *Los pagos electrónicos tienen un costo por transacción bancaria de $5.900 pesos por transacción por
                empleado + 4x1.000.</p>
        {% endset %}

        {% set modal_style_button %}
            style="width: 30%; font-size:20px"
        {% endset %}

        {% set modal_style_button2 %}
            style="display:none"
        {% endset %}

    {% elseif template_parameter == 12 %}

        {% set modal_id = 'error_dias_laborales' %}

        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set primary_modal_header %}
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Advertencia días laborales</h4>
            </div>
        {% endset %}

        {% set modal_style %}padding: 0;line-height: 1;{% endset %}

        {% set primary_modal_body %}
            <p style="padding: 15px 10px 5px 15px;">No has seleccionado los días de trabajo de tu empleado.</p>
        {% endset %}

        {% set primary_modal_footer %}
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Entendido</button>
            </div>
        {% endset %}

    {% elseif template_parameter == 13 %}

        {% set modal_id = 'error_modal_transporte' %}

        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set primary_modal_header %}
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Advertencia sobre lugar de residencia</h4>
            </div>
        {% endset %}

        {% set modal_style %}padding: 0;line-height: 1;{% endset %}

        {% set primary_modal_body %}
            <p style="padding: 15px 10px 5px 15px;">Por favor selecciona una opción sobre donde residira el
                trabajador.</p>
        {% endset %}

        {% set primary_modal_footer %}
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Entendido</button>
            </div>
        {% endset %}

    {% elseif template_parameter == 14 %}

        {% set modal_id = 'confirmation_token_modal' %}

        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set primary_modal_header %}
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Aviso código de Confirmación</h4>
            </div>
        {% endset %}

        {% set modal_style %}padding: 0;line-height: 1;{% endset %}

        {% set primary_modal_body %}
            <p style="padding: 15px 10px 5px 15px;">Hemos enviado un nuevo codigo a tu celular.</p>
        {% endset %}

        {% set primary_modal_footer %}
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Entendido</button>
            </div>
        {% endset %}
    {% elseif template_parameter == 15 %}
        {% set modal_id = 'forbidden_format_modal' %}

        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set modal_style %}width: 90%;{% endset %}
        {% set modal_header_style %}
            style="background-color: #3c4b5a; padding: 0px 0px"
        {% endset %}

        {% set modal_header %}
            <h1 style="font-weight: 700;font-size: 100%;margin: 0;padding: 10px 0 10px 15px;  ">Error en el formato del
                documento</h1>
        {% endset %}

        {% set modal_content_class %}
        {% endset %}

        {% set modal_content_style %}
        {% endset %}

        {% set modal_content %}
            <div style="width: 80%;margin: 0 auto;text-align: center;padding-top: 15px;">
                <p style="color: #808080;font-weight: 100;padding: 4%;font-size: 17px;margin-bottom: 1%;margin-left: 10px; margin-right: 10px">El archivo que intentaste subir no tiene un formato permitido. Los formatos permitidos son:</p>
                <div style="width: 80%;margin: 0 auto;text-align: center;">
                  <ul style="padding:0">
                    <li style="display: inline-block;width: 55px;background:#e0e0e0;border-radius: 5px;padding: 6px 0;font-weight: 600;margin: 5px 0">.jpg</li>
                    <li style="display: inline-block;width: 55px;background:#e0e0e0;border-radius: 5px;padding: 6px 0;margin: 5px 10px;font-weight: 600;">.png</li>
                    <li style="display: inline-block;width: 55px;background:#e0e0e0;border-radius: 5px;padding: 6px 0;font-weight: 600;margin: 5px 0">.jpeg</li>
                    <li style="display: inline-block;width: 55px;background:#e0e0e0;border-radius: 5px;padding: 6px 0;font-weight: 600;margin:5px 0 5px 10px;">.pdf</li>
                  </ul>
                </div>
            </div>
        {% endset %}

        {% set modal_style_button %}
            style="width: 110px; font-size:18px;font-weight: 500;padding: 5px 12px;margin-bottom: 20px;"
        {% endset %}

        {% set modal_button %}
            cerrar
        {% endset %}

        {% set modal_style_button2 %}
            style="display: none"
        {% endset %}

        {% set modal_button2 %}
            cerrar2
        {% endset %}

    {% elseif template_parameter == 16 %}
        {% set modal_id = 'forbidden_format_modal' %}

        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set modal_style %}width: 90%;{% endset %}
        {% set modal_header_style %}
            style="background-color: #3c4b5a; padding: 0px 0px"
        {% endset %}

        {% set modal_header %}
            <h1 style="font-weight: 700;font-size: 100%;margin: 0;padding: 10px 0 10px 15px;  ">Error en el formato del
                documento</h1>
        {% endset %}

        {% set modal_content_class %}
        {% endset %}

        {% set modal_content_style %}
        {% endset %}

        {% set modal_content %}
            <div style="width: 80%;margin: 0 auto;text-align: center;padding-top: 15px;">
                <p style="color: #808080;font-weight: 100;padding: 4%;font-size: 17px;margin-bottom: 1%;margin-left: 10px; margin-right: 10px">Se produjo un error al intentar crear el archivo.<br>Recuerda que si tu archivo tiene varias imágenes los formatos permitidos son: </p>
                <div style="width: 80%;margin: 0 auto;text-align: center;">
                    <ul style="padding:0">
                        <li style="display: inline-block;width: 55px;background:#e0e0e0;border-radius: 5px;padding: 6px 0;font-weight: 600;margin: 5px 0">.jpg</li>
                        <li style="display: inline-block;width: 55px;background:#e0e0e0;border-radius: 5px;padding: 6px 0;margin: 5px 10px;font-weight: 600;">.png</li>
                        <li style="display: inline-block;width: 55px;background:#e0e0e0;border-radius: 5px;padding: 6px 0;font-weight: 600;margin: 5px 0">.jpeg</li>
                        <li style="display: inline-block;width: 55px;background:#e0e0e0;border-radius: 5px;padding: 6px 0;font-weight: 600;margin:5px 0 5px 10px;">.bmp</li>
                    </ul>
                </div>
            </div>
        {% endset %}

        {% set modal_style_button %}
            style="width: 110px; font-size:18px;font-weight: 500;padding: 5px 12px;margin-bottom: 20px;"
        {% endset %}

        {% set modal_button %}
            cerrar
        {% endset %}

        {% set modal_style_button2 %}
            style="display: none"
        {% endset %}

        {% set modal_button2 %}
            cerrar2
        {% endset %}
    {% elseif template_parameter == 17 %}
        {% set modal_id = 'modal_image_Error' %}

        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set modal_style %}width: 70%;{% endset %}
        {% set modal_header_style %}
            style="background-color: #9C2F2F;
            border-color:#9C2F2F;
            padding: 0px 0px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;"
        {% endset %}

        {% set modal_header %}
            <h1 style="font-weight: 700;font-size: 100%;margin: 0;padding: 10px 0 10px 15px;  ">¡Error: No se puede eliminar!</h1>
        {% endset %}

        {% set modal_content_class %}
            class="text-center"
        {% endset %}

        {% set modal_content_style %}
        {% endset %}

        {% set modal_content %}
            <p style="color: #5D5D5D; padding: 4%;font-size: 17px;margin-bottom: 1%;margin-left: 10px; margin-right: 10px">
                El archivo debe tener al menos una imágen</p>
        {% endset %}

        {% set modal_style_button %}
            style="width: 110px; font-size:18px;font-weight: 500;padding: 5px 12px;"
        {% endset %}

        {% set modal_button %}
            aceptar
        {% endset %}

        {% set modal_style_button2 %}
            style="display: none"
        {% endset %}

        {% set modal_button2 %}
            cerrar2
        {% endset %}

    {% elseif  template_parameter == 18 %}

        {% set modal_id = 'welcome_dashboard_modal' %}

        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set modal_style %}width: 70%;{% endset %}

        {% set primary_modal_body %}
            <div class="row-fluid clearfix" >
                <div class="row">
                    <div  class="text-center" style="padding: 10px 20px" >
                        <h1 style="font-weight: 700;font-size: 20px;margin: 5px 0px;padding: 0;color: #1cbeca;">¡Bienvenido a tu tablero de control!</h1>
                        <p style="color: #5D5D5D; padding: 4%;font-size: 17px;margin-bottom: 1%;margin-left: 10px; margin-right: 10px">
                            Aquí podrás:
                        </p>
                        <ul style="padding:0px 20%;text-align: left">
                            <li>Subir tus documentos</li>
                            <li>Subir los documentos de tus empleados</li>
                            <li>Ver las tareas pendientes del mes</li>
                        </ul>
                    </div>
                </div>
                <div class="row" style="margin: 10px 0;">
                    <div class="text-center">
                        <button type="button" class="btn btn-orange" data-dismiss="modal" style="width: 110px; font-size:18px;font-weight: 500;padding: 5px 12px;">Aceptar</button>
                    </div>
                </div>
            </div>
        {% endset %}

    {% elseif  template_parameter == 19 %}
        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set modal_id = 'end_documents_validation_modal' %}

        {% set modal_style %}padding: 0;line-height: 1;{% endset %}

        {% set modal_header_style %}
            style="background-color: #3c4b5a; padding: 0px 0px"
        {% endset %}

        {% set modal_header %}
            <h1 style="font-weight: 700;font-size: 100%;margin: 0; padding: 10px 0 10px 15px">Documentos validados</h1>
        {% endset %}

        {% set modal_content_style %}
            style="padding: 10px 20px"
        {% endset %}

        {% set modal_content %}
            <span style="text-align:center"><img src="{{ asset('public/img/landing/benefit1.png') }}" width="80"/></span>
            <p style="color: #8a8a8a;padding: 20px 15px;font-size: 17px;text-align: center;font-weight: 100;"><strong style="color:#00858c">¡Todos los documentos de<br>{% if param is defined %}{{ param }}{% endif %} han sido validados!</strong><br><br>
            Estamos validando tu proceso y radicandolo ante las entidades de seguridad social. En un plazo de 3 días hábiles te estaremos informando y
            podrás comenzar a gestionar tus empleados de la mejor manera.<br />
            Si tienes tareas pendientes puedes seguir con ellas.</p>
        {% endset %}

        {% set param = '' %}

        {% set modal_style_button %}
            style="width: 30%; font-size:20px"
        {% endset %}

        {% set modal_style_button2 %}
            style="display:none"
        {% endset %}

    {% elseif template_parameter == 21 %}

        <!--modal para sisben-->

        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set modal_id = 'modalSiben' %}

        {% set modal_style %}padding: 0;line-height: 1;{% endset %}

        {% set modal_header_style %}
            style="background-color: #3c4b5a; padding: 0px 0px"
        {% endset %}

        {% set modal_header %}
            <h1 style="font-weight: 700;font-size: 100%;margin: 0; padding: 10px 0 10px 15px">Recuerde que</h1>
        {% endset %}

        {% set modal_content_style %}
            style="padding: 10px 20px"
        {% endset %}

        {% set modal_content %}
        <p style="padding: 15px 10px 5px 15px;text-align: center;font-size: 17px;font-weight: 100;color: #808080;line-height: 20px;">Un empleado por días
          que no está en el régimen subsidiado (SISBEN) debe aportar a seguridad social sobre 30 días y cotizar salud. Si tienes dudas sobre esto escríbenos
           al Chat o llámanos al 350 833 0000.</p>
        {% endset %}

        {% set name = '' %}

        {% set modal_style_button %}
            style="width: 30%; font-size:20px"
        {% endset %}

        {% set modal_style_button2 %}
            style="display:none"
        {% endset %}

{% elseif template_parameter == 22 %}

        <!--modal transacciones-->

        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set modal_id = 'modalTransaccionesInfo' %}

        {% set modal_style %}padding: 0;line-height: 1;{% endset %}

        {% set modal_header_style %}
            style="background-color: #3c4b5a; padding: 0px 0px"
        {% endset %}

        {% set modal_header %}
            <h1 style="font-weight: 700;font-size: 100%;margin: 0; padding: 10px 0 10px 15px">Información costo de transacciones</h1>
        {% endset %}

        {% set modal_content_style %}
            style="padding: 10px 20px"
        {% endset %}

        {% set modal_content %}
        <p style="padding: 15px 40px 5px;text-align:left;font-size: 17px;font-weight: 100;color: #808080;line-height: 20px;">
        &#10095; 1 empleado: $5.900 + 4x1.000 de la transacción<br>
        <!-- &#10095; 2-5 empleados: $5.500 por empleado + 4x1.000 de la transacción<br>
        &#10095; +5 empleados: $3.500 por empleado + 4x1.000 de la transacción<br>
        &#10095; Sólo pago de Pila: $3.500</p> -->
        {% endset %}

        {% set name = '' %}

        {% set modal_style_button %}
            style="width: 30%; font-size:20px"
        {% endset %}

        {% set modal_style_button2 %}
            style="display:none"
        {% endset %}

 {% elseif template_parameter == 23 %}

        <!--modal éxito validacion usuario sin contrato-->
        {% set modal_id = 'modalContractPending' %}
        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set primary_modal_header %}
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">¡Tu empleado esta listo!</h4>
            </div>
        {% endset %}

        {% set modal_style %}padding: 0;line-height: 1;{% endset %}

        {% set primary_modal_body %}
            <p style="padding: 15px 10px 5px 15px;">
                Hemos terminado los tramites ante las entidades de seguridad social de tu empleado <strong>{% if param is defined %}{{ param }}{% endif %}</strong><br>
                Ya puedes comenzar a gestionar a tu empleado de la mejor manera. Recuerda que ya puedes descargar el
                contrato y subirlo.</p>
        {% endset %}

        {% set param = '' %}


        {% set primary_modal_footer %}
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Entendido</button>
            </div>
        {% endset %}

    {% elseif template_parameter == 24 %}

        <!--modal éxito validacion usuario con contrato-->
        {% set modal_id = 'modalContractUpdate' %}
        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set primary_modal_header %}
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">¡Proceso de validación exitoso!</h4>
            </div>
        {% endset %}

        {% set modal_style %}padding: 0;line-height: 1;{% endset %}

        {% set primary_modal_body %}
            <p style="padding: 15px 10px 5px 15px;">
                El proceso de validación fue éxitoso, realizaremos la afiliación a
                las diferentes entidades de seguridad social, en un máximo de 3 días hábiles podrás usar
                nuestra plataforma y comenzar a gestionar a tus empleados de la mejor manera.</p>
        {% endset %}

        {% set primary_modal_footer %}
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Entendido</button>
            </div>
        {% endset %}

    {% elseif template_parameter == 25 %}

        <!--modal validacion contrato-->

        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set primary_modal_header %}
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">¡Tu contrato fue validado con exito!</h4>
            </div>
        {% endset %}

        {% set modal_style %}padding: 0;line-height: 1;{% endset %}

        {% set primary_modal_body %}
            <p style="padding: 15px 10px 5px 15px;">
                El contrato se ha validado con exito</p>
        {% endset %}

        {% set primary_modal_footer %}
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Entendido</button>
            </div>
        {% endset %}
    {% elseif template_parameter == 26 %}

        <!--modal contactar para liquidacion-->

        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set modal_id = 'terminacion_contrato_modal' %}

        {% set primary_modal_header %}
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Aviso para terminar contrato</h4>
            </div>
        {% endset %}

        {% set modal_style %}padding: 0;line-height: 1;{% endset %}

        {% set primary_modal_body %}
            <p style="padding: 15px 10px 5px 15px;">
                Para terminar el contrato con tu empleado, te recomendamos recibir una llamada de nuestro asesor, el cual te guiará en cada uno de
                los pasos a seguir.
            </p>
            <p style="padding: 15px 10px 5px 15px;">
                Recibirás la llamada lo más pronto posible.
            </p>

        {% endset %}

        {% set primary_modal_footer %}
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button id="solicitar_llamada" type="button" class="btn btn-default" data-dismiss="modal">Solicitar llamada</button>
            </div>
        {% endset %}
    {% else %}

        {% set modal_style %}padding: 0;line-height: 1;{% endset %}

        {% set primary_modal_header %}
        {% endset %}

        {% set primary_modal_footer %}
        {% endset %}

        {% set modal_header_style %}
            style="background-color: #fd5c5c; padding: 0px 0px"
        {% endset %}
        {% set modal_header %}
            <h1 style="font-weight: 700;font-size: 100%;margin: 0; padding: 10px 0 10px 15px">Error Modal Template</h1>
        {% endset %}
        {% set modal_content %}
            <p style="color: #5D5D5D; padding: 20px; font-size: 20px">Modal no disponible</p>
        {% endset %}
        {% set modal_button = 'cerrar' %}

    {% endif %}

    {{ include('@RocketSellerTwoPick/modal_templates/modal.twig') }}



{% endmacro %}
