{% extends "::base.html.twig" %}
{% block content %}

	<div class="col-md-12">
	<h1>{{ person.names}} {{ person.lastName1}}</h1>
	{% if documents %}		
		<p>Tiene documentos</p>
		{% for doc in documents %}
			<p>{{ doc.documentTypeDocumentType.name }}</p>
			<p>{{ doc.mediaMedia.name }}</p>			
		{% endfor %}	
	{% else %}

		<p>No tiene documentos</p>
				
	{% endif %}
	</div>
	<div class="col-md-4">
		<a href="{{ path('documentos',{id : person.idPerson}) }}" class="btn btn-primary" role="button">Upload documents</a>	
	</div>	

{% endblock %}


