{% extends "::base.html.twig" %}
{% block header %}
<div class="row-fluid up-Help-Phone">
    <div class="container">
        <div class="txthelp">
            <span><em><strong>¿Necesita ayuda?</strong></em> <i class="fa fa-mobile"></i>Bogotá: 350 833 0000</span>
        </div>
    </div>
</div>
{% endblock header %}
{% block body %}
	<div class="container body-container navbar">
        <div class="row mainContentRow">
            <div id="sidebar" class="col-sm-3">
                
            </div>
            <div id="main" class="form-black col-sm-9">
            	<h3>Editar Datos</h3>
				{{ form_start(form) }}
                <div class="col-sm-12">
                    <div class="col-sm-12 label-group">
                        {{ form_label(form.names)}}
                    </div>
                    <div class="col-sm-12 form-group">
                        {{ form_widget(form.names) }}
                    </div>                    
                </div> 
                <div class="col-sm-12">
                    <div class="col-sm-12 label-group">
                        {{ form_label(form.lastName1)}}
                    </div>
                    <div class="col-sm-12 form-group">
                        {{ form_widget(form.lastName1) }}
                    </div>                    
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-12 label-group">
                        {{ form_label(form.lastName2)}}
                    </div>
                    <div class="col-sm-12 form-group">
                        {{ form_widget(form.lastName2) }}
                    </div>                    
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-12 label-group">
                        {{ form_label(form.birthDate)}}
                    </div>
                    <div class="col-sm-12 form-group">
                        {{ form_widget(form.birthDate) }}
                    </div>                    
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-12 label-group">
                        {{ form_label(form.mainAddress)}}
                    </div>
                    <div class="col-sm-12 form-group">
                        {{ form_widget(form.mainAddress) }}
                    </div>                    
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-12 label-group">
                        {{ form_label(form.department)}}
                    </div>
                    <div class="col-sm-12 form-group">
                        {{ form_widget(form.department) }}
                    </div>                    
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-12 label-group">
                        {{ form_label(form.city)}}
                    </div>
                    <div class="col-sm-12 form-group">
                        {{ form_widget(form.city) }}
                    </div>                    
                </div>
                <div class="col-sm-12">                    
                    <div class="col-sm-12 form-group">
                        {{ form_widget(form.save) }} 
                    </div>                    
                </div>
                   				
				{{ form_end(form) }}				
			</div>
		</div>
	</div>
{% endblock %}