{% extends "::base.html.twig" %}
{% block fos_user_content %}
    {% if app.user.status is defined%}
        {% set status = app.user.status %}
    {% else %}
        {% set status = 0 %}
    {% endif %}
    <script>
        window.intercomSettings = {
            app_id: "mydavhzb",
            name: '{{ app.user.username }}', // Full name
            email: '{{ app.user.email }}', // Email address
            created_at: {{ app.user.dateCreated|date("U") }}, // Signup date as a Unix timestamp
        };
    </script>
    <script>
        (function(){
                    var w=window;
                    var ic=w.Intercom;
                    if(typeof ic==="function"){
                        ic('reattach_activator');
                        ic('update',intercomSettings);
                    }else{
                        var d=document;
                        var i=function(){
                            i.c(arguments)
                        };
                        i.q=[];
                        i.c=function(args){i.q.push(args)};
                        w.Intercom=i;
                        function l(){
                            var s=d.createElement('script');
                            s.type='text/javascript';
                            s.async=true;
                            s.src='https://widget.intercom.io/widget/mydavhzb';
                            var x=d.getElementsByTagName('script')[0];
                            x.parentNode.insertBefore(s,x);
                        }
                        if(w.attachEvent){
                            w.attachEvent('onload',l);
                        }else{
                            w.addEventListener('load',l,false);
                        }
                    }
                }
        )()
    </script>
    <script>
        window.Intercom("trackEvent", "manage-employee");
    </script>
    <div class="row">
        <div class="col-sm-12 col-xs-12 align-Resp">
            <div id="" class=" col-sm-12 col-xs-12 blockStep inline  nav-link" >
                <div id="" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">
                     <img src="/img/block-inline.png" class="center-block">
                </div>
                <div id="" class="col-md-10 col-xs-12 txt-AD1">
                    <div id="" class="text-left title-center">
                        Empleados
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="agregarNovedad"></div>
    <div class="col-xs-12" id="employees">
        <div class="cantidadEmpleados"><h1>Mis empleados a la fecha</h1></div>
        <!--<div class="row employeesCount">
            <div class="col-md-4 col-xs-3"><p><b> {{ activeEmp }}</b><br>Empleados <br>activos</p></div>
            <div class="col-md-4 col-xs-3 division-line"><p><b> {{ inactiveEmp }} </b><br>Empleados <br>inactivos</p></div>
            <div class="col-md-4 col-xs-6"><p><b> {{ registerEmp }} </b><br>Empleados en proceso <br>de registro</p></div>
        </div>-->
        <br />
        <div class="row">
            <div class="col-sm-12 col-xs-12">

                {% for employee in employees %}
                    {% set employeeStatus= employee.state %}
                    <div class="row employeeListItem ajusteListEmpl"
                    style="{% if employeeStatus != 1 %}border-left: 5px solid #41D0CB !important; {% endif %}">

                        <div class="col-xxs-5 col-xs-5 col-sm-4 employeeItems bRight">
                            <b>{{ utils.mb_capitalize(employee.fullName) }}</b>
                            {% if employeeStatus > 3 and status >= 2 %}
                                <br />
                                <a class="notAjax addNovelty btn-xs azulclaro" href="/novelty/select/{{ employee.idPayroll }}">Agregar novedad</a>
                            {% endif %}
                        </div>
                        <div class="col-xxs-3 col-xs-3 col-sm-2 employeeItems center azulmediofont" style="padding-top: 29px;">
                            {% if employeeStatus < 1 %}
                              <p style="text-align:center;margin:0">
                                <span class="Empleados"><i class="glyphicon glyphicon-remove-circle"></i> Inactivo</span></p>
                            {% else %}
                                <p style="text-align:center;margin:0">
                                  <span class="Empleados"><i class="glyphicon glyphicon-ok-sign"></i>Activo</span></p>
                            {% endif %}

                        </div>
                        <div class="col-xxs-3 col-xs-3 col-sm-2 employeeItems grisoscurofont bLeft bRight">
                            <span class="bold">Salario {%  if employee.timeCommitment == "XD" %}diario{% else %}mensual{%  endif %}</span><br/>
                            {%  if employee.salary is defined %}
                                <span>$ {{ employee.salary|number_format(0) }}
                                </span>
                            {% else  %}
                                <span>-</span>
                            {%  endif %}
                        </div>
                        <div class="col-xxs-3 col-xs-3 col-sm-2 employeeItems grisoscurofont bRight">
                            <span class="bold">Tipo de contrato</span><br/>
                            {%  if employee.contractType is defined %}
                                <span>{{ employee.contractType }}</span>
                            {% else  %}
                                <span>-</span>
                            {%  endif %}
                        </div>
                        <div class="col-xxs-4 col-xs-4 col-sm-2 actionButton">
                            {% if employeeStatus <= 2 %}
                                {%  if employee.percentage is defined  and employee.percentage == 100  and employeeStatus == 0 %}
                                    <a href="/manage/employee/{{employee.idEmployee}}">&#10095; Ver detalles</a>
                                {%  else %}
                                    <a href="/register/employee/{{employee.idEmployee}}">&#10095; Editar</a>
                                {% endif %}
                            {% else %}
                                <!--<a href="{{ path('final_liquidation', { 'id': employee.idEmployerHasEmployee }) }}">Liquidacion</a>
                                /-->
                                <a href="/manage/employee/{{employee.idEmployee}}">&#10095; Ver detalles</a>
                            {% endif %}
                        </div>
                        {% if employeeStatus < 1 %}
                              <a class="removeEmployee EmpleadosRe"  href="{{ path('remove_employee', {'idEhe':employee.idEmployerHasEmployee  }) }}"><i class="glyphicon glyphicon-trash"></i> Remover empleado</a>
                        {% else %}
                              {% if  employee.stateRegister != 100 %}
                                  <a class="removeEmployee EmpleadosRe"  href="{{ path('remove_employee', {'idEhe':employee.idEmployerHasEmployee  }) }}"><i class="glyphicon glyphicon-trash"></i> Remover empleado</a>
                              {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-xs-12 bigAddLink text-right">
        <a  class="newEmplAd"href="/register/employee">
            <i class="fa fa-plus-circle azulmediofont"></i> Agregar empleado nuevo
        </a>
    </div>

    <!-- Modal Delete -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Advertencia - Borrando empleado</h4>
                </div>
                <div class="modal-body">
                  Al borrar este empleado no podrás verlo de nuevo en la lista de empleados y no podrás generar reportes ni acceder a su información.
                    <p>Al presionar borrar acepto que fui informado</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <a id="btn-erase" href="" class="btn btn-danger">Borrar</a>
                </div>
            </div>
        </div>
    </div>








{% endblock fos_user_content %}
