{% extends "::base.html.twig" %}
{% block header %}
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="row-fluid up-Help-Phone">
            <div class="container">
                <div class="txthelp">
                    <span><em><strong>¿Necesita ayuda?</strong></em> <i class="fa fa-mobile"></i>Bogotá: 350 833 0000</span>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    {% if not is_granted("IS_AUTHENTICATED_FULLY") %}
                        <img src="{{ asset('img/logo.png') }}" alt="Sympifica" style="display: block!important"/>
                    {% endif %}
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="https://medium.com/blog-symplifica" target="_blank">Blog</a></li>
                    <li><a href="{{ path('contact') }}">Contáctenos</a></li>
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>
{% endblock %}
{% block body %}
	<div class="container col-md-12">
		<h1 class="login_title" >Hola {{ employee.personPerson.names }}</h1>		
		<h3 class="login_title" >Revisa tu celular ({{ sendPhone.phoneNumber }}) e ingresa el codigo que te enviamos</h3>
		<div class="col-md-3">
			
		</div>
		<div class="col-md-6">
			<form class="form-black col-md-12" method="POST" action="{{ path('employee_login_two_auth', {id : employee.idEmployee }) }}">	
				<div class="form-group col-md-12">
				  <label>Codigo:</label>
				  <input class="form-control" name="codigoTwo">
				  </input>
				</div>
				<button class="btn btn-large btn-primary" type="submit">Ingresar</button>
			</form>
		</div>
		
	</div>
{% endblock %}