{% extends "::base.html.twig" %}
{% block fos_user_content %}
    <div class="employees">
        <div class="col-sm-12 col-xs-12">
            <h1>{{ employee.personPerson.names}} {{employee.personPerson.lastName1}}</h1>
        </div>
        <div class="col-sm-12 col-xs-12">
	        <ul class="nav nav-tabs nav-justified">
	            <li class="active"><a style="font-size:10px;" data-toggle="tab" data-target="#basicData">Datos b치sicos</a></li>
	            <li><a style="font-size:10px;" data-toggle="tab" data-target="#contactData">Informaci칩n de contrato</a></li>
	            <li><a style="font-size:10px;" data-toggle="tab" data-target="#workplacesData">Beneficiarios</a></li>
	            <li><a style="font-size:10px;" data-toggle="tab" data-target="#noveltiesData">Novedades</a></li>
	            <li><a style="font-size:10px;" data-toggle="tab" data-target="#payHistory">Historico de pagos</a></li>
	            <li><a  style="font-size:10px;" data-toggle="tab" data-target="#documents">Documentos</a></li>
	            <li><a style="font-size:10px;" data-toggle="tab" data-target="#certificates">Certificados</a></li>
	        </ul>

	        <div class="tab-content">
	        	<div id="basicData" class="tab-pane fade in active">
	        		<div class="col-sm-12 col-sm-offset-5">
	        			<h3>{{employee.personPerson.names}} {{employee.personPerson.lastName1}}</h3>
	        			<p>{{employee.personPerson.documentType}}: {{employee.personPerson.document}} {% if employee.personPerson.documentExpeditionPlace %}de {{employee.personPerson.documentExpeditionPlace}}{% endif %}</p>
	        		</div>
	        		<div class="col-sm-12 top-box-employee">
	        			<div class="col-sm-6 ">
	        				<div class="col-sm-3 left-box">
	        					<div class="col-sm-12 ">
	        						<p><strong>Tipo contrato</strong></p>
	        					</div>
	        					<div class="col-sm-12 ">
	        						<p>Termino fijo</p>
	        					</div>
	        				</div>
	        				<div class="col-sm-3 middle-box">
	        					<div class="col-sm-12">
	        						<p><strong>Duraci칩n contrato</strong></p>
	        					</div>
	        					<div class="col-sm-12">
	        						<p>Dias</p>
	        					</div>
	        				</div>
	        				<div class="col-sm-3 middle-box">
	        					<div class="col-sm-12">
	        						<p><strong>Salario</strong></p>
	        					</div>
	        					<div class="col-sm-12">
	        						<p>$1000</p>
	        					</div>
	        				</div>
	        				<div class="col-sm-3 right-box">
	        					<div class="col-sm-12">
	        						<p><strong>Dias vacaciones</strong></p>
	        					</div>
	        					<div class="col-sm-12">
	        						<p>10</p>
	        					</div>
	        				</div>
	        			</div>
	        			<div class="col-sm-6">
	        				
	        			</div>
	        		</div>
  
            	</div>
            	<div id="contactData" class="tab-pane">
  					<p>Informaci칩n de contrato</p>
            	</div>
            	<div id="workplacesData" class="tab-pane">
  					<p>Beneficiarios</p>
            	</div>
            	<div id="noveltiesData" class="tab-pane">
  					<p>Novelties</p>
            	</div>
            	<div id="payHistory" class="tab-pane">
  					<p>History</p>
            	</div>
            	<div id="documents" class="tab-pane">
  					<p>Documents</p>
            	</div>
            	<div id="certificates" class="tab-pane">
  					<p>Certificates</p>
            	</div>
	        </div>


        </div>
    </div>
{% endblock fos_user_content %}