{% extends "::base.html.twig" %}
{%  from '@RocketSellerTwoPick/modal_templates/modal_picker.twig' import modal %}
{% block modales %}
    {{ modal(26) }}
{% endblock %}
{% block fos_user_content %}
    <div class="employees">
        <div class="col-sm-12 col-xs-12 align-Resp no-Padding-Col">
            <div id="" class="col-sm-12 col-xs-12 blockStep inline  nav-link">
                <div id="" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">
                    <img src="/img/empleados.png" class="center-block">
                </div>
                <div id="" class="col-md-10 col-xs-12">
                    <div id="" class="text-left">
                        <h1 style="color:#FFF;margin:25px 0 0;font-size:25px" class="bold">Datos del empleado</h1>
                        <span clas="light" style="color:#FFF;margin:0;font-weight:100;font-size:20px">Esta es la información de de tu empleado a la fecha</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-sm-12 col-xs-12">
            <div class="btn col-sm-12 col-xs-12 blockTop">
                <div class="col-md-2">
                    <img src="/img/empleados.png" />
                </div>
                <div class="col-md-6 col-xs-12 txt-top-employee">
                    <div class="" id="">
                        <h3>Información del empleado</h3>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="col-sm-12 col-xs-12 noResponsive4tabs">
            <ul id="formNav" class="nav-justified nav-6-tabs">
                <li class="active"><a class="notAjax" data-toggle="tab" data-target="#basicData">Datos básicos</a></li>
                <li><a class="notAjax tabsEnabled" data-toggle="tab" data-target="#contactData">Información de contrato</a></li>
                <li><a class="notAjax tabsEnabled" data-toggle="tab" data-target="#workplacesData">Seguridad Social</a></li>
                <li><a class="notAjax tabsEnabled" data-toggle="tab" data-target="#noveltiesData">Novedades</a></li>
                <li><a class="notAjax tabsEnabled" data-toggle="tab" data-target="#payHistory">Histórico de pagos</a></li>
                <li><a  class="notAjax tabsEnabled" data-toggle="tab" data-target="#documents">Documentos</a></li>
            </ul>
        </div>
        <div class="col-sm-12 col-xs-12 responsive4tabs">
          <div class="titularEmployee bold">
            Datos Básicos
          </div>
          <nav class="navbar navbar-inverse">
            <div style="border: 1px solid #e4e4e4;padding: 0 10px;">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle btnRes">
                  <div class="light azulmediofont" style="font-size: 15px;text-align: left;"><span class="glyphicon glyphicon-chevron-down"></span> Ver más opciones</div>
                </button>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar" style="padding:0;border-color:white">
                <ul class="nav-justified nav-6-tabs">
                  <li class="active"><a class="prueba notAjax" data-toggle="tab" data-target="#basicData">Datos básicos</a></li>
                  <li><a class="prueba notAjax tabsEnabled" data-toggle="tab" data-target="#contactData">Información de contrato</a></li>
                  <li><a class="prueba notAjax tabsEnabled" data-toggle="tab" data-target="#workplacesData">Seguridad Social</a></li>
                  <li><a class="prueba notAjax tabsEnabled" data-toggle="tab" data-target="#noveltiesData">Novedades</a></li>
                  <li><a class="prueba notAjax tabsEnabled" data-toggle="tab" data-target="#payHistory">Histórico de pagos</a></li>
                  <li><a class="prueba notAjax tabsEnabled" data-toggle="tab" data-target="#documents">Documentos</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <div class="tab-content">
            <div id="basicData" class="tab-pane fade in active">
                <div class="col-sm-12 col-sm-offset-4"></div>
                <div class="col-sm-12 top-box-employee">
                  <div class="center emploInfo">
                      <div style="color:#00858c;">
                          <h3>{{utils.mb_capitalize(employee.personPerson.names)}} {{utils.mb_capitalize(employee.personPerson.lastName1)}} {{utils.mb_capitalize(employee.personPerson.lastName2)}}</h3>
                          <p class="document-text" style="font-weight: 100;color: #888686;padding-top: 5px;"><i>{{employee.personPerson.documentType}}: {{employee.personPerson.document}} {% if employee.personPerson.documentExpeditionPlace %}de {{employee.personPerson.documentExpeditionPlace}}{% endif %}</i>
                          </p>
                      </div>
                  </div>
                    <!--<div class="col-sm-4 left-top-box">
                        <div class="col-sm-12" style="color:#00858c;">
                            <p><strong>{{utils.mb_capitalize(employee.personPerson.names)}}</strong></p>
                            <p>{{utils.mb_capitalize(employee.personPerson.lastName1)}} {{utils.mb_capitalize(employee.personPerson.lastName2)}}</p>
                            <p class="document-text" style="font-weight: 100;color: #888686;padding-top: 5px;"><i>{{employee.personPerson.documentType}}: {{employee.personPerson.document}} {% if employee.personPerson.documentExpeditionPlace %}de {{employee.personPerson.documentExpeditionPlace}}{% endif %}</i>
                            </p>
                        </div>
                    </div>-->
                    <div>
                    <div class="col-sm-12"><!--estaba en sm-8-->
                        <!--<div id="special-buttons">
                            {% if employerHasEmployee.state > 3 %}
                            <div class="col-sm-5">
                                {#<button class="btn btn-top-left btn-default addNovelty btn-add-novelty" data-employee-name="{{ employee.personPerson.names }}"  href="/novelty/select/{{ contract.activePayroll.idPayroll }}"/>Ingresar Novedad</button>      #}
                                <a class="btn btn-top-left notAjax addNovelty" href="/novelty/select/{{ contract.activePayroll.idPayroll  }}">
                                    Agregar Novedad
                                </a>
                            </div>
                            <div class="col-sm-5">
                                <a class="btn btn-sm btn-top-red btn-primary  notAjax" href="{{ path('final_liquidation', { 'id': employerHasEmployee.idEmployerHasEmployee }) }}">Terminar contrato</a>
                            </div>
                            {% endif %}
                        </div>-->
                        <div class="col-sm-12 center">
                            {% if  not employerHasEmployee.state > 0 %}
                                <a class="btn  btn-top-red btn-sm btn-primary notAjax" href="{{ path('change_state_employer_employee', { 'id': employerHasEmployee.idEmployerHasEmployee }) }}">Activar empleado</a>
                            {% else %}
                                <a class="btn btn-top-red btn-sm btn-primary notAjax" href="{{ path('change_state_employer_employee', { 'id': employerHasEmployee.idEmployerHasEmployee }) }}">Desactivar empleado</a>
                            {% endif %}
                        </div>
                    </div>
                  </div>
                </div>
                <!--<div class="col-sm-12 middle-box" style="border: 1px solid #E6E6E6;border-radius: 5px;margin-top: 15px;height:auto;overflow:hidden">
                    <div class="col-sm-6" style="border:0;padding:15px 0 0 0">
                        {% if employerHasEmployee.state >0 %}
                            <p><i class="fa fa-check-circle" style="color:#FD9224;font-size: 20px;padding-top: 10px;"></i>Activo</p>
                        {% else %}
                            <p><i class="fa fa-check-cross"></i>Inactivo</p>
                        {% endif %}
                    </div>

                    <div class="col-sm-6" style="margin:0;padding: 15px 0;">
                        <div class="col-sm-12 title" style="font-style:italic;">Salario</div>
                        <div class="col-sm-12 text-below"><strong>${{contract.salary|number_format(0, ',', '.')}}</strong></div>
                    </div>
                </div>-->
                <div class="col-sm-12 bottom-box" style="height:auto;overflow:hidden">
                    <div class="col-sm-6 dataInfo">
                        <ul class="col-sm-12" style="background: #fbfbfb">
                            <h4 class="col-sm-12">Datos básicos</h4>
                            <li style="clear: both;">
                                <p class="title left"><i>Estado civil</i></p>
                                <p class="liEmpl right"><strong>{{ employee.personPerson.civilStatus}}</strong></p>
                            </li>
                            <li>
                                <p class="title left"><i>Fecha de nacimiento</i></p>
                                <p class="liEmpl right"><strong>{{ employee.personPerson.birthDate|date('F')|trans}} {{ employee.personPerson.birthDate|date('d')}} de {{  employee.personPerson.birthDate|date('Y')}}</strong></p>
                            </li>
                            <li>
                                <p class="title left"><i>País</i></p>
                                <p class="liEmpl right"><strong>{{employee.personPerson.birthCountry.name}}</strong></p>
                            </li>
                            <li>
                                <p class="title left"><i>Departamento</i></p>
                                <p class="liEmpl right"><strong>{{employee.personPerson.birthDepartment.name}}</strong></p>
                            </li>
                            <li>
                                <p class="title left"><i>Ciudad</i></p>
                                <p class="liEmpl right"><strong>{{employee.personPerson.birthCity.name}}</strong></p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 dataInfo">
                        <ul class="col-sm-12" style="background: #fbfbfb">
                            <h4 class="col-sm-12">Datos de contacto</h4>
                            <li style="clear: both;">
                                <p class="title left"><i>Dirección</i></p>
                                <p class="liEmpl right"><strong>{{employee.personPerson.mainAddress}}</strong></p>
                            </li>
                            <li>
                                <p class="title left"><i>Email</i></p>
                                <p class="liEmpl right"><strong>{{employee.personPerson.email}}</strong></p>
                            </li>
                            <li>
                                <p class="title left"><i>Teléfono</i></p>
                                <p class="liEmpl right"><strong>{{employee.personPerson.phones[0].phoneNumber}}</strong></p>
                            </li>
                            <li>
                                <p class="title left"><i>Departamento</i></p>
                                <p class="liEmpl right"><strong>{{employee.personPerson.department.name}}</strong></p>
                            </li>
                            <li>
                                <p class="title left"><i>Ciudad</i></p>
                                <p class="liEmpl right"><strong>{{employee.personPerson.city.name}}</strong></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="bottom-box-edit col-sm-12" hidden="true" style="height:auto;overflow:hidden">
                    <div class="col-sm-6 dataInfo">
                        <ul class="col-sm-12" style="background: #fbfbfb">
                            <h4 class="col-sm-12">Datos básicos</h4>
                            <li>
                                {{ form_start(form2)}}
                                <p class="title"><i>Estado civil</i></p>
                                {{form_widget(form2.civilStatus) }}
                            </li>
                            <li>
                                <p class="title"><i>Fecha de nacimiento</i></p>
                                {{form_widget(form2.birthDate) }}
                            </li>
                            <li>
                                <p class="title"><i>País</i></p>
                                {{form_widget(form2.birthCountry) }}
                            </li>
                            <li>
                                <p class="title"><i>Departamento</i></p>
                                {{form_widget(form2.birthDepartment) }}
                            </li>
                            <li>
                                <p class="title"><i>Ciudad</i></p>
                                {{form_widget(form2.birthCity) }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 dataInfo">
                        <ul class="col-sm-12">
                            <h4 class="col-sm-12">Datos de contacto</h4>
                            <li>
                                <p class="title"><i>Dirección</i></p>
                                {{form_widget(form2.mainAddress)}}
                            </li>
                            <li>
                                <p class="title"><i>Email</i></p>
                                {{form_widget(form2.email)}}
                            </li>
                            <li>
                                <p class="title"><i>Teléfono</i></p>
                                {{form_widget(form2.phone)}}
                            </li>
                            <li>
                                <p class="title"><i>Departamento</i></p>
                                {{form_widget(form2.department)}}
                            </li>
                            <li>
                                <p class="title"><i>Ciudad</i></p>
                                {{form_widget(form2.city)}}
                            </li>
                        </ul>

                    </div>
                    <div class="col-sm-4 center">
                        <span class="edit-employee-save btn btn-orange notAjax" href="/api/public/v1/edits/employees">Guardar</span>
                        {{form_end(form2)}}
                    </div>

                </div>
                <div class="col-sm-12 center" style="margin-top: 20px">
                    <span class="editEmployee btn btn-orange notAjax" href="/api/public/v1/employees/{{employee.idEmployee}}/info">Editar</span>
                </div>
            </div>
            <div id="contactData" class="tab-pane">
                <div class="col-sm-12 col-sm-offset-4"></div>
                <div class="col-sm-12 top-box-employee">
                  <div class="col-sm-12 center emploInfo">
                      <div class="col-sm-12" style="color:#00858c;">
                          <h3>{{utils.mb_capitalize(employee.personPerson.names)}} {{utils.mb_capitalize(employee.personPerson.lastName1)}} {{utils.mb_capitalize(employee.personPerson.lastName2)}}</h3>
                          <p class="document-text" style="font-weight: 100;color: #888686;padding-top: 5px;"><i>{{employee.personPerson.documentType}}: {{employee.personPerson.document}} {% if employee.personPerson.documentExpeditionPlace %}de {{employee.personPerson.documentExpeditionPlace}}{% endif %}</i>
                          </p>
                      </div>
                  </div>
                    <div class="col-sm-12">
                            {% if employerHasEmployee.state > 3 %}
                            <div class="col-sm-12 center">
                                <a id="terminar_contrato_button" class="btn btn-sm btn-top-red btn-primary  notAjax" href="{{ path('final_liquidation', { 'id': employerHasEmployee.idEmployerHasEmployee }) }}" >Terminar contrato</a>
                                <input type="hidden" id="ehe-id" name="ehe-id" value="{{ employerHasEmployee.idEmployerHasEmployee }}"/>
                            </div>
                            {% endif %}
                    </div>

                    <div class="col-sm-12 bottom-box-contract">
                        <input type="hidden" id="contract-id" name="contract-id" value="{{ contract.idContract }}"/>
                        <div class="contract-info">
                            <div class="col-sm-12 dataInfo">
                                <ul class="col-sm-12">
                                  <h4 class="col-sm-12">Datos de contrato</h4>
                                    <li>
                                        <p class="title left"><i>Tipo de empleado</i></p>
                                        <p class="liEmpl right"><strong>{{ contract.positionPosition.name }}</strong></p>
                                    </li>
                                    <li>
                                        <p class="title left"><i>Fecha inicio de contrato</i></p>
                                        <p class="liEmpl right"><strong>{{ contract.startDate|date('F')|trans }} {{ contract.startDate|date('d')}} de {{  contract.startDate|date('Y')}}</strong></p>
                                    </li>
                                    <li>
                                        <p class="title left"><i>Tipo de contrato</i></p>
                                        <p class="liEmpl right"><strong>{{contract.contractTypeContractType.name}}</strong></p>
                                    </li>
                                    <li>
                                        <p class="title left"><i>Salario</i></p>
                                        {% if contract.timeCommitmentTimeCommitment.code == "XD" %}
                                            <p class="liEmpl right"><strong>${{contract.salary/ contract.workableDaysMonth }}</strong></p>
                                        {% elseif contract.timeCommitmentTimeCommitment.code == "TC" %}
                                            <p class="liEmpl right"><strong>${{contract.salary}}</strong></p>
                                        {%  endif %}
                                    </li>
                                    <li>
                                        <p class="title left"><i>Cargo</i></p>
                                        <p class="liEmpl right"><strong>{{contract.positionPosition.name}}</strong></p>
                                    </li>
                                    {% if contract.contractTypeContractType.name == "Término fijo" %}
                                      <li>
                                          <p class="title left"><i>Fecha fin de contrato</i></p>
                                          <p class="liEmpl right"><strong>{{ contract.endDate|date('F')|trans }} {{ contract.endDate|date('d')}} de {{  contract.endDate|date('Y')}}</strong></p>
                                      </li>
                                    {% endif %}
                                    <li>
                                        <p class="title left"><i>Lugar de trabajo</i></p>
                                        <p class="liEmpl right"><strong>{{contract.workplaceWorkplace.mainAddress}}</strong></p>
                                    </li>
                                    <li>
                                        <p class="title left"><i>Metodo de pago</i></p>
                                        <p class="liEmpl right"><strong>{{contract.payMethodPayMethod.payTypePayType.name}}</strong>|
                                            <a  class="notAjax" id="change_payment_method" data-toggle="modal" data-target="#change_payment_modal">Cambiar</a></p>
                                    </li>
                                    <li>
                                        <p class="title left"><i>Dedicación de tiempo</i></p>
                                        <p class="liEmpl right"><strong>{{contract.timeCommitmentTimeCommitment.name}}</strong></p>
                                    </li>
                                    <li>
                                        <p class="title left"><i>Días laborales al mes</i></p>
                                        <p class="liEmpl right"><strong>{{contract.workableDaysMonth}}</strong></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="modal fade" id="change_payment_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button id="close_change_payment_method" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title bold azulmediofont" id="myModalLabel">Cambiar método de pago del empleado</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col-md-12" id="error_payment_change" style="display: none">
                                            <h3 style="color: #7b0000;"><strong>Ocurrio un error. Verifica la información</strong></h3>
                                        </div>
                                        {{ form_start(changePaymentMethod) }}
                                        <input id="id_contract" value="{{ contract.idContract }}" style="display: none">
                                        <div class="col-md-12">
                                            {{ form_row(changePaymentMethod.payMethod,{'attr':{'id':'payment_option'}}) }}
                                        </div>
                                        <div class="col-md-12" id="change_pay_method_content">
                                        </div>
                                        <div class="col-md-12" id="submit_change_pay_method" style="display: none">
                                            {{ form_widget(changePaymentMethod.submit,{'attr':{'style':'margin-bottom:20px'}}) }}
                                        </div>
                                        {{ form_end(changePaymentMethod) }}
                                    </div>
                                    <div class="modal-footer text-center" style="clear:both">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contract-edit-form" style="display:none;">
                            <div class="col-sm-12 dataInfo">
                                <ul class="col-sm-12">
                                  <h4 class="col-sm-12">Datos de contrato</h4>
                                    <li>
                                        <p class="title left"><i>Tipo de empleado</i></p>
                                        <p class="liEmpl right"><strong>{{ contract.positionPosition.name }}</strong></p>
                                    </li>
                                    <li>
                                        <p class="title left"><i>Fecha inicion de contrato</i></p>
                                        <p class="liEmpl right"><strong>{{ contract.startDate|date('F')|trans }} {{ contract.startDate|date('d')}} de {{  contract.startDate|date('Y')}}</strong></p>
                                    </li>
                                    <li>
                                        <p class="title left"><i>Tipo de contrato</i></p>
                                        <p class="liEmpl right"><strong>{{contract.contractTypeContractType.name}}</strong></p>
                                    </li>
                                    <li>
                                        <p class="title left"><i>Salario</i></p>
                                        {% if contract.timeCommitmentTimeCommitment.code == "XD" %}
                                            <p class="liEmpl right"><strong>${{contract.salary/ contract.workableDaysMonth }}</strong></p>
                                        {% elseif contract.timeCommitmentTimeCommitment.code == "TC" %}
                                            <p class="liEmpl right"><strong>${{contract.salary}}</strong></p>
                                        {%  endif %}
                                    </li>
                                    <li>
                                        <p class="title left"><i>Dedicación de tiempo</i></p>
                                        <p class="liEmpl right"><strong>{{contract.timeCommitmentTimeCommitment.name}}</strong></p>
                                    </li>
                                    <li>
                                        <p class="title left"><i>Dias laborales al mes</i></p>
                                        <p class="liEmpl right"><strong>{{contract.workableDaysMonth}}</strong></p>
                                    </li>
                                    <li>
                                        <p class="title left"><i>Cargo</i></p>
                                        <p class="liEmpl right"><strong>{{contract.positionPosition.name}}</strong></p>
                                    </li>
                                    <li>
                                        <p class="title left"><i>Fecha fin de contrato</i></p>
                                        <p class="liEmpl right"><strong>{{ contract.endDate|date('F')|trans }} {{ contract.endDate|date('d')}} de {{  contract.endDate|date('Y')}}</strong></p>
                                    </li>
                                    <li>
                                        {% set workplaces = employerHasEmployee.EmployerEmployer.workplaces %}
                                        <p class="title left"><i>Lugar de trabajo</i></p>
                                        <select style="margin: 10px 0;" id="form_contract_workplace" name="contract[workplace]" required="required" class="form-control liEmpl">
                                            <option value="" selected="selected">Seleccionar una opción</option>
                                            {% for workplace in workplaces %}
                                                <option value="{{workplace.idWorkplace}}">{{ workplace.name}}</option>
                                            {% endfor %}

                                        </select>
                                    </li>
                                    <li>
                                        <p class="title left"><i>Metodo de pago</i></p>
                                        <select style="margin: 10px 0;" id="form_contract_method_type" name="contract[method_type]" required="required" class="form-control liEmpl">
                                            <option value="" selected="selected">Seleccionar una opción</option>
                                            {% for payMethodType in payMethodTypes %}
                                                <option value="{{payMethodType.idPayType}}">{{ payMethodType.name}}</option>
                                            {% endfor %}

                                        </select>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 paymethod-fields" style="color: black !important;">

                        </div>
                    </div>
                        {% if contractEmployee %}
                          <div class="col-sm-12 file-download-contract downcopy" >
                              <div class="col-sm-1 icon-pdf">
                                  <i class="fa fa-file-pdf-o fa-2x"></i>
                              </div>
                              <div class="col-sm-11">
                                <h4 style="font-weight: bold;color: #00858C;">Copia firmada del contrato</h4>
                                <p>Consulta aquí la copia digitalizada del contrato que guardaste en el sistema el día {{ contractDate|localizeddate('long', 'none', 'es-CO') }}.
                                  <a href="{{ path('download_document', {'id': employee.personPerson.idPerson , 'idDocument':contractEmployee.idDocument}) }}" class="notAjax" target="_blank">
                                  <strong>&#10095; Descargar contrato</strong></a></p>
                              </div>
                          </div>
                          {% else %}
                            <div class="col-sm-12 file-download-contract downcopy" >
                              <div class="col-sm-1 icon-pdf">
                                  <i class="fa fa-file-pdf-o fa-2x"></i>
                              </div>
                                <div class="col-sm-11">
                                  <h4 style="font-weight: bold;color: #00858C;">No hay copia firmada del contrato</h4>
                                  <p>No haz subido el contrato del empleado, para hacerlo ve al tablero de control y subelo.<br><a href="{{ path('show_dashboard')}}" class="notAjax">
                                  <strong>&#10095; Ir al tablero de control</strong></a></p>
                                </div>
                            </div>
                        {% endif %}

                    {#<div class="col-sm-12 col-sm-offset-5">
                        <span class="edit-contract btn btn-orange notAjax" href="">Editar</span>
                    </div>#}
                    <div class="contract-save col-sm-12 col-sm-offset-5">
                        <span class="save-contract btn btn-orange notAjax" style="display:none;" href="{{ path('api_public_post_save_edit_contract') }}">Salvar</span>
                    </div>
                </div>
            </div>
            <div id="workplacesData" class="tab-pane">
              <div class="col-sm-12 center emploInfo">
                  <div class="col-sm-12" style="color:#00858c;">
                      <h3>{{utils.mb_capitalize(employee.personPerson.names)}} {{utils.mb_capitalize(employee.personPerson.lastName1)}} {{utils.mb_capitalize(employee.personPerson.lastName2)}}</h3>
                      <p class="document-text" style="font-weight: 100;color: #888686;padding-top: 5px;"><i>{{employee.personPerson.documentType}}: {{employee.personPerson.document}} {% if employee.personPerson.documentExpeditionPlace %}de {{employee.personPerson.documentExpeditionPlace}}{% endif %}</i>
                      </p>
                  </div>
              </div>
                <div class="col-sm-12 social-security dataInfo" >
                  <ul class="col-sm-12">
                    <h4>Datos de seguridad social</h4>
                            <li style="clear: both;">
                              {% if entidades["EPS"].name is defined %}
                                <p class="title left">EPS</p>
                              {% endif %}
                              {% if entidades["EPS"].name is defined %}
                                <p class="liEmpl right"><i><strong>{{entidades["EPS"].name}}</strong></i></p>
                              {% endif %}
                            </li>
                            <li>
                              <p class="title left">Fondo de Pensiones</p>
                              <p class="liEmpl right"><i><strong>{{entidades["Pension"].name}}</strong></i></p>
                            </li>
                            <!--<p class="title"><i><strong>Arl</strong></i></p>-->
                            <li>
                              <p class="title left">Caja de Compensación</p>
                              <p class="liEmpl right"><i><strong>{{entidades["CC"].name}}</strong></i></p>
                            </li>
                            <!--<li>
                              <p class="title left">Arl</p>
                              <p class="liEmpl right"><i><strong>{{entidades["ARL"].name}}</strong></i></p>
                            </li>-->
                  </ul>
                </div>
                <!--<div class="col-sm-8 col-sm-offset-2 middle-content">
                    <div class="col-sm-12" style="text-align:center;">
                        <div class="col-sm-4">
                            <p><strong>Beneficiario</strong></p>
                        </div>
                        <div class="col-sm-4">
                            <p><strong>Entidad</strong></p>
                        </div>
                        <div class="col-sm-4">
                            <p><strong>Acción</strong></p>
                        </div>
                    </div>
                    {% for  beneficiary in nonRepeatedBenef %}

                        <div class="col-sm-12 row-novelty" style="text-align:center;">
                            <div class=" element-table col-sm-4">

                                <p><strong>{{beneficiary.personPerson.names}} {{ beneficiary.personPerson.lastName1}}</strong></p>

                            </div>
                            <div class="element-table col-sm-4">
                                <p><strong>{{entidades["EPS"].name}} {{entidades["CC"].name}}</strong></p>
                            </div>
                            <div class="element-detail col-sm-4">
                                <span class="editBeneficiary" style="cursor:pointer" href="/api/public/v1/beneficiaries/{{beneficiary.idBeneficiary}}"><p><strong class="editBeneficiary">Editar</strong></p></span>

                            </div>
                        </div>

                    {% endfor %}
                </div>-->
                {{ form_start(form , {'attr': {'id': 'form'}})}}
                <!--<div class="col-sm-12 form-upper">
                    <div class="content col-sm-8 col-sm-offset-2" style="cursor:pointer" onclick="showCreateForm()">
                        <h4 >Agregar beneficiario de {{employee.personPerson.names}} {{employee.personPerson.lastName1}}</h4>

                    </div>
                </div>-->
                <div id="form-beneficiary" class="col-sm-12 form-lower" style="display:none;">

                    <div class="content col-sm-6 col-sm-offset-3">

                        <div class="col-sm-6 form-group form-black input form-dummy">
                            <p class="title"><i><strong>Tipo de beneficiario</strong></i></p>
                            <select id="benefType" name="relation" class="form-control valid" >
                                <option value="" selected="true" >Seleccionar una opción</option>
                                <option value="Cónyugue">Cónyuge</option>
                                <option value="Hijo">Hijo</option>
                                <option value="Hermano">Hermano</option>
                                <option value="Padre">Padre</option>
                            </select>
                        </div>
                        <div class="col-sm-6 form-group form-black input form-dummy">
                            <p class="title"><i><strong>Tiene discapacidad?</strong></i></p>
                            <div style="text-align:left;">
                                <input type="radio" name="disability" value="1"> Si
                                <input type="radio" name="disability" value="0"> No
                            </div>

                        </div>

                        <br>

                        <div class="col-sm-12 form-black form-group">
                            {{form_row(form.names)}}
                        </div>
                        <div class="col-sm-12 form-black form-group">
                            {{form_row(form.lastName1)}}
                        </div>
                        <div class="col-sm-12 form-black form-group">
                            {{form_row(form.lastName2)}}
                        </div>
                        <div class="col-sm-12 form-black form-group">
                            {{form_row(form.civilStatus)}}
                        </div>
                        <div class="col-sm-12 form-black form-group">
                            {{form_row(form.documentType)}}
                        </div>
                        <div class="col-sm-12 form-black form-group">
                            {{form_row(form.document)}}
                        </div>
                        <div class="col-sm-12 form-black form-group">
                            {{form_row(form.birthDate)}}
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="content col-sm-6 col-sm-offset-3">
                            <h4>Ubicación</h4>
                            <div class="form-black form-group">
                                {{form_row(form.mainAddress)}}
                            </div>
                            <div class="form-black form-group">
                                {{form_row(form.department)}}
                            </div>
                            <div class="form-black form-group">
                                {{form_row(form.city)}}
                            </div>
                            <input id="register_beneficiary_mainAddress" name="idEmployee" required="required" class="form-control" type="hidden" hidden="true" value="{{employee.idEmployee}}">
                            {% if entidades["EPS"].name is defined %}
                              <input id="register_beneficiary_mainAddress" name="idEPS" required="required" class="form-control" type="hidden" hidden="true" value="{{entidades["EPS"].idEntity}}">
                            {% endif %}
                            <input id="register_beneficiary_mainAddress" name="idCC" required="required" class="form-control" type="hidden" hidden="true" value="{{entidades["CC"].idEntity }}">
                            <input id="" name="idBeneficiary" required="required" class="form-control" type="hidden" hidden="true" value="">
                            <div class="col-sm-12 col-xs-12 center">
                                <span id="btn-create"  href="/api/public/v1/news/beneficiaries" class="btn btn-orange submit" style="display: none;">Salvar y continuar</span>
                                <span id="btn-edit"  href="/api/public/v1/edits/beneficiaries" class="btn btn-orange btn-edit" style="display: none;">Editar y continuar</span>
                                <br><br>
                            </div>
                        </div>
                    </div>

                    {{ form_end(form)}}


                </div>
                <!--<div class="col-sm-12 buttons-box">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="col-sm-6 " style="text-align:right;">
                            <a class="btn btn-orange btn-inverted notAjax" href="">Agregar otro beneficiario</a>
                        </div>
                        <div class="col-sm-6" style="text-align:left;">
                            <a class="btn btn-orange notAjax" href="">Siguiente</a>
                        </div>
                    </div>
                </div>-->
            </div>
            <div id="noveltiesData" class="tab-pane">
                <div class="col-sm-12 middle-content">
                  <div class="col-sm-12 center emploInfo">
                      <div class="col-sm-12" style="color:#00858c;">
                          <h3>{{utils.mb_capitalize(employee.personPerson.names)}} {{utils.mb_capitalize(employee.personPerson.lastName1)}} {{utils.mb_capitalize(employee.personPerson.lastName2)}}</h3>
                          <p class="document-text" style="font-weight: 100;color: #888686;padding-top: 5px;"><i>{{employee.personPerson.documentType}}: {{employee.personPerson.document}} {% if employee.personPerson.documentExpeditionPlace %}de {{employee.personPerson.documentExpeditionPlace}}{% endif %}</i>
                          </p>
                      </div>
                  </div>
                  {% if employerHasEmployee.state > 3 %}
                      <div class="col-sm-12  top-box-employee" style="border:none;padding:0">
                              <div class="col-sm-12 center">
                                  <a class="addNovelty btn btn-sm btn-top-red notAjax" href="/novelty/select/{{ contract.activePayroll.idPayroll  }}">Agregar Novedad</a>
                              </div>
                      </div>

                  {% endif %}
                    <div class="content col-sm-12 center">
                        <h4 style="font-weight: 100;color: #808080;font-size: 21px;margin: 20px 0 10px 0;">Novedades reportadas al día de hoy</h4>
                    </div>
                    {% set noveltycount = 0 %}
                    {% set payrolls = contract.payrolls %}
                    {% for payroll in payrolls %}
                        {% set novelties = payroll.novelties %}
                        {% for novelty in novelties %}
                            <div class="col-sm-12 row-novelty" style="text-align:center;padding:0;">
                                <div class=" element-table col-sm-4">
                                  <span><strong style="color: #5D5D5D;">Fecha inicio</strong></span>
                                    {% if novelty.dateStart %}
                                        <p>{{ novelty.dateStart|date('d/m/y') }}</p>
                                    {% else %}
                                        <p><strong>-</strong></p>
                                    {% endif %}
                                </div>
                                <div class="element-table col-sm-4">
                                  <span><strong style="color: #5D5D5D;">Fecha fin</strong></span>
                                    {% if novelty.dateEnd %}
                                        <p>{{ novelty.dateEnd|date('d/m/y') }}</p>
                                    {% else %}
                                        <p>-</p>
                                    {% endif %}
                                </div>
                                <div class="element-table col-sm-4">
                                    <span><strong style="color: #5D5D5D;">Estado</strong></span>
                                    <p>{{ novelty.noveltyTypeNoveltyType.name}}</p>
                                </div>
                                <div class="element-detail col-sm-12">
                                    <p>&#10095; Ver detalle</p>
                                </div>
                            </div>
                            {% set noveltycount = noveltycount + 1 %}
                        {% endfor %}
                        {% endfor %}

                          {% if noveltycount == 0 %}
                          <link rel="stylesheet" type="text/css" href="{{ asset('../css/pantallas.css') }}"/>
                          <div id="cont-succesdocs" style="clear:both">
                              <div id="texto-succesdocs">
                                  <div id="pagoadelantado">
                                      <div id="contenidopagoadelando">
                                          <img src="{{ asset('/public/img/home/cat6.png') }}" width="100px" height="auto">
                                          <h1 class="azulclarofont bold centrar">No tienes novedades reportadas</h1>
                                          <p class="light grisclarofont">Si deseas reportar alguna novedad solo debes dar clic en el botón <strong>agregar novedad</strong> que
                                          aparece abajo.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          {% endif %}


                </div>
            </div>
            <div id="payHistory" class="tab-pane">
                <div class="col-sm-12 payment-content">
                    <!--div class="col-sm-4 search-box">
                        <h4>Buscar por:</h4>
                        <div class="col-sm-12 form-group form-black input form-dummy">
                            <p class="title"><i><strong>Fecha</strong></i></p>
                            <input type="text" id="edit_employer_person_names" name="edit_employer[person][names]" class="form-control" aria-required="true">
                        </div>
                        <div class="col-sm-12 form-group form-black input form-dummy">
                            <p class="title"><i><strong>Valor</strong></i></p>
                            <input type="text" id="edit_employer_person_names" name="edit_employer[person][names]" class="form-control" aria-required="true">
                        </div>
                        <div class="col-sm-12 search-button">
                            <a class="btn btn-orange notAjax" href="">Buscar</a>
                        </div>
                    </div!-->
                    <div class="col-sm-12">
                          <div class="col-sm-12 center emploInfo">
                              <div class="col-sm-12" style="color:#00858c;">
                                  <h3>{{utils.mb_capitalize(employee.personPerson.names)}} {{utils.mb_capitalize(employee.personPerson.lastName1)}} {{utils.mb_capitalize(employee.personPerson.lastName2)}}</h3>
                                  <p class="document-text" style="font-weight: 100;color: #888686;padding-top: 5px;"><i>{{employee.personPerson.documentType}}: {{employee.personPerson.document}} {% if employee.personPerson.documentExpeditionPlace %}de {{employee.personPerson.documentExpeditionPlace}}{% endif %}</i>
                                  </p>
                              </div>
                          </div>
                          <div class="col-sm-12 center" style="margin-bottom: 20px;">
                              <h4 style="font-weight: 100;color: #808080;font-size: 21px;margin: 20px 0 10px 0;">Pagos efectuados al día de hoy</h4>
                          </div>
                        {% for payroll in payrolls if payroll.paid!=0  %}
                                {% for pod in payroll.purchaseOrdersDescription if pod.purchaseOrdersStatus != null and pod.purchaseOrdersStatus.idNovoPay == "-1" %}
                                        <div class="col-sm-12 row-payment">
                                            <div class="element col-sm-4">
                                                <p style="font-style:normal;" class="light grisclarofont">{{ utils.period_number_to_name(payroll.period) }} {{payroll.month}}/{{payroll.year}}</p>
                                            </div>
                                            <div class="element col-sm-4">
                                                <p style="font-style:normal;" class="light grisclarofont">${{ pod.value|number_format(0, '.', ',')  }}</p>
                                            </div>
                                            <div class="detail-element col-sm-4" data-toggle="modal" data-target="#detailModal{{ loop.parent.loop.index }}">
                                                <p style="font-style:normal;cursor:pointer" class="bold grisclarofont">&#10095; Ver detalles</p>
                                            </div>
                                            {% set deducidos = [] %}
                                            {% set devengados = [] %}
                                            {% for detail in payroll.sqlNovelties %}
                                                {% if detail.noveltyTypeNoveltyType.naturaleza == "DEV" %}
                                                    {% set devengados = devengados|merge([detail]) %}
                                                {% else %}
                                                    {% set deducidos = deducidos|merge([detail]) %}
                                                {% endif %}
                                            {% endfor %}
                                            <div class="modal fade" id="detailModal{{ loop.parent.loop.index }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title" id="myModalLabel">Detalles</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h4>Devengados<br/></h4>
                                                            {% for dev in devengados %}
                                                                {{ dev.noveltyTypeNoveltyType.name }} ${{ dev.sqlValue|number_format(0, '.', ',')  }} <br/>
                                                            {% endfor %}
                                                            <h4>Deducidos<br/></h4>
                                                            {% for ded in deducidos %}
                                                                {{ ded.noveltyTypeNoveltyType.name }} ${{ ded.sqlValue|number_format(0, '.', ',')  }} <br/>
                                                            {% endfor %}

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="documents" class="tab-pane">
                <div class="documents col-sm-12">
                  <div class="col-sm-12 center emploInfo">
                      <div class="col-sm-12" style="color:#00858c;">
                          <h3>{{utils.mb_capitalize(employee.personPerson.names)}} {{utils.mb_capitalize(employee.personPerson.lastName1)}} {{utils.mb_capitalize(employee.personPerson.lastName2)}}</h3>
                          <p class="document-text" style="font-weight: 100;color: #888686;padding-top: 5px;"><i>{{employee.personPerson.documentType}}: {{employee.personPerson.document}} {% if employee.personPerson.documentExpeditionPlace %}de {{employee.personPerson.documentExpeditionPlace}}{% endif %}</i>
                          </p>
                      </div>
                  </div>
                    <div class="documents-title col-sm-12">
                        <h4 style="text-align:center;font-weight: 100;color: #808080;font-size: 21px;margin: 20px 0 10px 0;">Documentos asociados a {{employee.personPerson.names}} al día de hoy</h4>
                    </div>
                    <div class="col-sm-12 documents-content">
                        {% set numDocs = 0 %}
                        {% if employee.personPerson.documentDocument != '' %}
                            {% set numDocs = numDocs+1 %}
                            {% set cedula = employee.personPerson.documentDocument %}
                        {% endif %}
                        {% if employerHasEmployee.authDocument != '' %}
                            {% set numDocs = numDocs+1 %}
                            {% set carta = employerHasEmployee.authDocument %}
                        {% endif %}
                        {% if contractEmployee %}
                            {% set numDocs = numDocs+1 %}
                        {% endif %}
                        {% if numDocs > 0 %}
                            {% if cedula is defined %}
                                <div class="docs col-md-4">
                                    <div class="col-sm-12 icon-pdf">
                                        <i class="fa fa-file-pdf-o fa-2x"></i>
                                    </div>
                                    <div class="col-sm-12 title-doc">
                                        <p><strong>{{ cedula.documentTypeDocumentType.name}}</strong></p>
                                    </div>
                                    <div class="col-sm-12">
                                        <p>{{employee.personPerson.names}} {{ employee.personPerson.lastName1}}</p>
                                    </div>
                                    <div class="panel_btn_action">
                                        <a class="btn btn-docs notAjax " href="{{ path('download_document', {'id': employee.personPerson.idPerson , 'idDocument':cedula.idDocument}) }}">Descargar Cedula</a>
                                    </div>
                                </div>
                            {% endif %}
                            {% if carta is defined %}
                                <div class="docs col-md-4">
                                    <div class="col-sm-12 icon-pdf">
                                        <i class="fa fa-file-pdf-o fa-2x"></i>
                                    </div>
                                    <div class="col-sm-12 title-doc">
                                        <p><strong>{{ carta.documentTypeDocumentType.name}}</strong></p>
                                    </div>
                                    <div class="col-sm-12">
                                        <p>{{employee.personPerson.names}} {{ employee.personPerson.lastName1}}</p>
                                    </div>
                                    <div class="panel_btn_action">
                                        <a class="btn btn-docs notAjax " href="{{ path('download_document', {'id': employee.personPerson.idPerson , 'idDocument':carta.idDocument}) }}">Descargar Cedula</a>
                                    </div>
                                </div>
                            {% endif %}
                            {% if contractEmployee %}
                                <div class="docs col-md-4">
                                    <div class="col-sm-12 icon-pdf">
                                        <i class="fa fa-file-pdf-o fa-2x"></i>
                                    </div>
                                    <div class="col-sm-12 title-doc">
                                        <p><strong>{{contractEmployee.documentTypeDocumentType.name}}</strong></p>
                                    </div>
                                    <div class="col-sm-12">
                                        <p>{{employee.personPerson.names}} {{ employee.personPerson.lastName1}}</p>
                                    </div>
                                    <div class="panel_btn_action">
                                        <a class="btn btn-docs notAjax " href="{{ path('download_document', {'id': employee.personPerson.idPerson , 'idDocument':contractEmployee.idDocument}) }}">Descargar Contrato</a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if numDocs == 0  %}
                            <div class="nonovedad">
                                Hásta el momento no hay documentos de {{employee.personPerson.names}} disponibles
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="agregarNovedad"></div>
{% endblock fos_user_content %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/manageEmployees.js') }}"></script>
    <script type="text/javascript">
                        $(document).ready(function () {
                            disableLockedFields();
                            manageEmployees();
                            editEmployee();
                            var validator = null;
                            $.getScript("/public/js/jquery.validate.min.js").done(function () {
                                validator = $("form[name='register_beneficiary']").validate({
                                    //onfocusout: true,
                                    rules: {
                                        "register_beneficiary[document]": {required: true, number: true},
                                        "register_beneficiary[documentType]": "required",
                                        "register_beneficiary[names]": {required: true},
                                        "register_beneficiary[lastName1]": {required: true},
                                        "register_beneficiary[lastName2]": {required: true},
                                        "register_beneficiary[mainAddress]": {required: true},
                                        "register_beneficiary[birthDate][year]": {required: true},
                                        "register_beneficiary[birthDate][month]": {required: true},
                                        "register_beneficiary[birthDate][day]": {required: true},
                                        "relation": {required: true},
                                        "disability": {required: true},
                                    },
                                    messages: {
                                        "register_beneficiary[document]": {
                                            required: "Por favor ingrese el numero de documento",
                                            number: "ingresa solamente dígitos",
                                        },
                                        "register_beneficiary[documentType]": {
                                            required: "Por favor seleccione el tipo de documento",
                                        },
                                        "register_beneficiary[names]": {
                                            required: "Por favor ingrese el nombre",
                                        },
                                        "register_beneficiary[lastName1]": {
                                            required: "Por favor ingrese el primer apellido",
                                        },
                                        "register_beneficiary[lastName2]": {
                                            required: "Por favor ingrese el segundo apellido",
                                        },
                                        "register_beneficiary[mainAddress]": {
                                            required: "Por favor ingrese la dirección",
                                        },
                                        "realation": {
                                            required: "Por favor seleccione una opción",
                                        },
                                        "disability": {
                                            required: "Por favor seleccione una opción",
                                        },
                                        "register_beneficiary[department]": {
                                            required: "Por favor seleccione el departamento",
                                        },
                                        "register_beneficiary[city]": {
                                            required: "Por favor seleccione la ciudad",
                                        },
                                        "register_beneficiary[birthDate][year]": {
                                            required: "Por favor seleccione el año de nacimiento",
                                        },
                                        "register_beneficiary[birthDate][month]": {
                                            required: "Por favor seleccione el mes de nacimiento",
                                        },
                                        "register_beneficiary[birthDate][day]": {
                                            required: "Por favor seleccione el dia de nacimiento",
                                        },
                                    }
                                });
                            });
                            if("{{ employerHasEmployee.state }}" <=2 ){
                                $("#special-buttons").hide();
                            }
                        });

                        $( ".prueba" ).click(function() {
                          $( "#myNavbar" ).slideToggle();
                        });
                        $( ".navbar-header" ).click(function() {
                          $( "#myNavbar" ).slideToggle();
                        });
    </script>

{% endblock %}
