{% extends "::base.html.twig" %}
{% block fos_user_content %}
    <div class="employees">
        <div class="col-sm-12 col-xs-12">
            <h1>{{ employee.personPerson.names}} {{employee.personPerson.lastName1}}</h1>
        </div>
        <div class="col-sm-12 col-xs-12">
	        <ul class="nav nav-tabs nav-justified">
	            <li class="active"><a style="font-size:10px;" data-toggle="tab" data-target="#basicData">Datos básicos</a></li>
	            <li><a style="font-size:10px;" data-toggle="tab" data-target="#contactData">Información de contrato</a></li>
	            <li><a style="font-size:10px;" data-toggle="tab" data-target="#workplacesData">Beneficiarios</a></li>
	            <li><a style="font-size:10px;" data-toggle="tab" data-target="#noveltiesData">Novedades</a></li>
	            <li><a style="font-size:10px;" data-toggle="tab" data-target="#payHistory">Historico de pagos</a></li>
	            <li><a  style="font-size:10px;" data-toggle="tab" data-target="#documents">Documentos</a></li>
	            <li><a style="font-size:10px;" data-toggle="tab" data-target="#certificates">Certificados</a></li>
	        </ul>

	        <div class="tab-content">
	        	<div id="basicData" class="tab-pane fade in active">
	        		<div class="col-sm-12 col-sm-offset-5">
	        			<h3>{{employee.personPerson.names}} {{employee.personPerson.lastName1}}</h3>
	        			<p>{{employee.personPerson.documentType}}: {{employee.personPerson.document}} {% if employee.personPerson.documentExpeditionPlace %}de {{employee.personPerson.documentExpeditionPlace}}{% endif %}</p>
	        		</div>
	        		<div class="col-sm-12 top-box-employee" style="border-bottom:1px dotted; padding-bottom:20px;">
	        			<div class="col-sm-6 ">
	        				<div class="col-sm-3 left-box">
	        					<div class="col-sm-12 ">
	        						<p><strong>contrato</strong></p>
	        					</div>
	        					<div class="col-sm-12 ">
	        						<p>Termino fijo</p>
	        					</div>
	        				</div>
	        				<div class="col-sm-3 middle-box">
	        					<div class="col-sm-12">
	        						<p><strong>Duración</strong></p>
	        					</div>
	        					<div class="col-sm-12">
	        						<p>Dias</p>
	        					</div>
	        				</div>
	        				<div class="col-sm-3 middle-box">
	        					<div class="col-sm-12">
	        						<p><strong>Salario</strong></p>
	        					</div>
	        					<div class="col-sm-12">
	        						<p>$1000</p>
	        					</div>
	        				</div>
	        				<div class="col-sm-3 right-box">
	        					<div class="col-sm-12">
	        						<p><strong>Dias vacaciones</strong></p>
	        					</div>
	        					<div class="col-sm-12">
	        						<p>10</p>
	        					</div>
	        				</div>
	        			</div>
	        			<div class="col-sm-6">
	        				<div class="col-sm-4 right-box">
	        					<a class="btn btn-primpary btn-orange notAjax" href="">Novedad</a>
	        				</div>
	        				<div class="col-sm-4 right-box">
	        					<a class="btn btn-primpary btn-orange notAjax" href="{{ path('final_liquidation', { 'id': employerHasEmployee.idEmployerHasEmployee }) }}">Liquidar</a>
	        				</div>
	        				<div class="col-sm-4 right-box">
	        					<a class="btn btn-primpary btn-orange notAjax" href="">Inactivar</a>
	        				</div>
	        			</div>
	        		</div>
	        		<div class="col-sm-12 main-basicData" style="border-bottom:1px dotted;">	        						
	        			<div class="col-sm-12">
	        				<ul class="col-sm-6">
	        					<li>
	        						<p><strong>Estado civil</strong></p>
	        						<p>Pais</p>
	        					</li>
	        				</ul>
	        				<h4 class="col-sm-12"><strong>Datos de nacimiento</strong></h4>
	        				<ul class="col-sm-6">
	        					
	        					<li>
	        						<p><strong>Fecha</strong></p>
	        						<p>{{employee.personPerson.birthDate|date('d/m/y')}}</p>
	        					</li>
	        					<li>
	        						<p><strong>País</strong></p>
	        						<p>
	        							{% if employee.personPerson.birthCountry %}
	        								{{ employee.personPerson.birthCountry.name}}
	        							{% else %}
	        								-
	        							{% endif %}

        							</p>
	        					</li>
	        				</ul>
	        				<ul class="col-sm-6">
	        					<li>
	        						<p><strong>Departament</strong></p>
	        						<p>	        							
	        							{% if employee.personPerson.birthDepartment %}
	        								{{ employee.personPerson.birthDepartment.name}}
	        							{% else %}
	        								-
	        							{% endif %}
	        						</p>
	        					</li>
	        					<li>
	        						<p><strong>Ciudad/municipio</strong></p>
	        						<p>
	        							{% if employee.personPerson.birthCity %}
	        								{{ employee.personPerson.birthCity.name}}
	        							{% else %}
	        								-
	        							{% endif %}
	        						</p>
	        					</li>
	        				</ul>
	        			</div>
	        			
	        		</div>
	        		<div class="col-sm-12 main-basicData">	        						
	        			<div class="col-sm-12">
	        				<h4 class="col-sm-12"><strong>Datos de contacto</strong></h4>
	        				<ul class="col-sm-6">
	        					
	        					<li>
	        						<p><strong>Direccion</strong></p>
	        						<p>{{employee.personPerson.mainAddress}}</p>
	        					</li>
	        					<li>
	        						<p><strong>Departamento</strong></p>
	        						<p>{{employee.personPerson.department.name}}</p>
	        					</li>
	        					<li>
	        						<p><strong>Ciudad</strong></p>
	        						<p>{{employee.personPerson.city.name}}</p>
	        					</li>
	        				</ul>
	        				<ul class="col-sm-6">
	        					<li>
	        						<p><strong>Teléfono</strong></p>
	        						<p>{{employee.personPerson.phones[0].phoneNumber}}</p>
	        					</li>
	        					<li>
	        						<p><strong>Ciudad/municipio</strong></p>
	        						<p>Ciudad</p>
	        					</li>
	        				</ul>
	        			</div>
	        			
	        		</div>
  					<div class="col-sm-12 col-sm-offset-5">
  						<a class="btn btn-primpary btnNext notAjax" href="/register/employee/{{employee.idEmployee}}">Editar Datos</a>
  					</div>
            	</div>
            	<div id="contactData" class="tab-pane">
  					<p>Información de contrato</p>
            	</div>
            	<div id="workplacesData" class="tab-pane">
  					<p>Beneficiarios</p>
            	</div>
            	<div id="noveltiesData" class="tab-pane">
  					<p>Novelties</p>
            	</div>
            	<div id="payHistory" class="tab-pane">
  					<p>History</p>
            	</div>
            	<div id="documents" class="tab-pane">
  					<p>Documents</p>
            	</div>
            	<div id="certificates" class="tab-pane">
  					<p>Certificates</p>
            	</div>
	        </div>


        </div>
    </div>
{% endblock fos_user_content %}