{% extends "::base.html.twig" %}
{% block fos_user_content %}
    <div class="employees">
             <div class="col-sm-12 col-xs-12">
            <div class="btn col-sm-12 col-xs-12 blockTop">
                <div class="col-md-2">
                	<img src="/img/employ_white.png">                    
                </div>
                    
                
                <div class="col-md-6 col-xs-12 txt-top-employee">
                    <div class="" id="">                        
                        <h3>Información del empleado</h3>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-xs-12 ">
	        <ul class="nav nav-tabs nav-justified tab-header">
	            <li class="active"><a style="font-size:10px;" data-toggle="tab" data-target="#basicData">Datos básicos</a></li>
	            <li><a style="font-size:10px;" data-toggle="tab" data-target="#contactData">Información de contrato</a></li>
	            <li><a style="font-size:10px;" data-toggle="tab" data-target="#workplacesData">Beneficiarios</a></li>
	            <li><a style="font-size:10px;" data-toggle="tab" data-target="#noveltiesData">Novedades</a></li>
	            <li><a style="font-size:10px;" data-toggle="tab" data-target="#payHistory">Historico de pagos</a></li>
	            <li><a  style="font-size:10px;" data-toggle="tab" data-target="#documents">Documentos</a></li>
	            <li><a style="font-size:10px;" data-toggle="tab" data-target="#certificates">Certificados</a></li>
	        </ul>
	     </div>
	        <div class="tab-content">
	        	<div id="basicData" class="tabsEnabled fade in active">
	        		<div class="col-sm-12 col-sm-offset-4">

	        		</div>
	        		<div class="col-sm-12 top-box-employee">
		        			<div class="col-sm-4 left-top-box">
		        				<div class="col-sm-12">
		        					<p><strong>{{employee.personPerson.names}}</strong></p>
		        					<p>{{employee.personPerson.lastName1}} {{employee.personPerson.lastName2}}</p>	        				
		        					<p class="document-text"><i>{{employee.personPerson.documentType}}: {{employee.personPerson.document}} {% if employee.personPerson.documentExpeditionPlace %}de {{employee.personPerson.documentExpeditionPlace}}{% endif %}</i>
		        					</p>
		        				</div>

		        			</div>
		        			<div class="col-sm-8">
		        				<div class="col-sm-5">
	        						<a class="btn btn-sm btn-top-left btn-primary notAjax" onclick="addNoveltySelectListener()">Ingresar novedad</a>
								</div>
		        				<div class="col-sm-5">
	        						<a class="btn btn-sm btn-top-red btn-primary  notAjax" href="{{ path('final_liquidation', { 'id': employerHasEmployee.idEmployerHasEmployee }) }}">Liquidar empleado</a>
	        					</div>
		        				<div class="col-sm-2">
		        					{% if  not employerHasEmployee.state %}
		        						<a class="btn  btn-top-red btn-sm btn-primary notAjax" href="{{ path('change_state_employer_employee', { 'id': employerHasEmployee.idEmployerHasEmployee }) }}">Activar</a>
		        					{% else %}
		        						<a class="btn btn-top-red btn-sm btn-primary notAjax" href="{{ path('change_state_employer_employee', { 'id': employerHasEmployee.idEmployerHasEmployee }) }}">Inactivar</a>
		        					{% endif %}
	        					</div>
	        				</div>

        			</div>
        			<div class="col-sm-12 middle-box">
        				<div class="col-sm-4 left">
        					{% if employerHasEmployee.state %}
        						<p><i class="fa fa-check-circle">Activo</i></p>
        					{% else %}
        						<p><i class="fa fa-check-cross">Inactivo</i></p>
        					{% endif %}
        					
        				</div>
        				<div class="col-sm-4 middle">
        					<div class="col-sm-12 title" style="font-style:italic;">Vacaciones</div>
        					<div class="col-sm-12 text-below"><strong>10 dias</strong></div>
        					
        				</div>
        				<div class="col-sm-4 right">
        					<div class="col-sm-12 title" style="font-style:italic;">Salario</div>
        					<div class="col-sm-12 text-below"><strong>${{contract.salary}}</strong></div>
        				</div>

        			</div>
        			<div class="col-sm-12 bottom-box">
        				<div class="col-sm-4 col-sm-offset-2 left">
	        				<ul class="col-sm-12">
		        				<h4 class="col-sm-12">Datos basicos</h4>
	        					<li>
	        						<p class="title"><i>Estado civil</i></p>
	        						<p><strong>{{ employee.personPerson.civilStatus}}</strong></p>
	        					</li>
	        					<li>
	        						<p class="title"><i>Fecha de nacimiento</i></p>
	        						<p><strong>{{ employee.personPerson.birthDate|date('m')}} {{ employee.personPerson.birthDate|date('d')}} de {{  employee.personPerson.birthDate|date('Y')}}</strong></p>
	        					</li>
	        					<li>
	        						<p class="title"><i>País</i></p>
	        						<p><strong>{{employee.personPerson.birthCountry.name}}</strong></p>
	        					</li>
	        					<li>
	        						<p class="title"><i>Departamento</i></p>
	        						<p><strong>{{employee.personPerson.birthDepartment.name}}</strong></p>
	        					</li>
	        					<li>
	        						<p class="title"><i>Ciudad</i></p>
	        						<p><strong>{{employee.personPerson.birthCity.name}}</strong></p>
	        					</li>
	        				</ul>
        				</div>
        				<div class="col-sm-4 col-sm-offset-1 right">
	        				<ul class="col-sm-12">
		        				<h4 class="col-sm-12">Datos de contacto</h4>
	        					<li>
	        						<p class="title"><i>Dirección</i></p>
	        						<p><strong>{{employee.personPerson.mainAddress}}</strong></p>
	        					</li>
	        					<li>
	        						<p class="title"><i>Email</i></p>
	        						<p><strong>{{employee.personPerson.email}}</strong></p>
	        					</li>
	        					<li>
	        						<p class="title"><i>Teléfono</i></p>
	        						<p><strong>{{employee.personPerson.phones[0].phoneNumber}}</strong></p>
	        					</li>
	        					<li>
	        						<p class="title"><i>Departamento</i></p>
	        						<p><strong>{{employee.personPerson.department.name}}</strong></p>
	        					</li>
	        					<li>
	        						<p class="title"><i>Ciudad</i></p>
	        						<p><strong>{{employee.personPerson.city.name}}</strong></p>
	        					</li>
	        				</ul>
        				</div>
        			</div>
  					<div class="col-sm-12 col-sm-offset-5">
  						<a class="btn btn-orange notAjax" href="/register/employee/{{employee.idEmployee}}">Editar</a>
  					</div>
        		</div>

            	<div id="contactData" class="tabsEnabled tab-pane">
					<div class="col-sm-12 col-sm-offset-4">

	        		</div>
	        		<div class="col-sm-12 top-box-employee">
		        			<div class="col-sm-4 left-top-box">
		        				<div class="col-sm-12">
		        					<p><strong>{{employee.personPerson.names}}</strong></p>
		        					<p>{{employee.personPerson.lastName1}} {{employee.personPerson.lastName2}}</p>	        				
		        					<p class="document-text"><i>{{employee.personPerson.documentType}}: {{employee.personPerson.document}} {% if employee.personPerson.documentExpeditionPlace %}de {{employee.personPerson.documentExpeditionPlace}}{% endif %}</i>
		        					</p>
		        				</div>

		        			</div>
		        			<div class="col-sm-8">

		        				<div class="col-sm-2 col-sm-offset-10">
		        					{% if  not employerHasEmployee.state %}
		        						<a class="btn  btn-top-red btn-sm btn-primary notAjax" href="{{ path('change_state_employer_employee', { 'id': employerHasEmployee.idEmployerHasEmployee }) }}">Activar</a>
		        					{% else %}
		        						<a class="btn btn-top-red btn-sm btn-primary notAjax" href="{{ path('change_state_employer_employee', { 'id': employerHasEmployee.idEmployerHasEmployee }) }}">Inactivar</a>
		        					{% endif %}
	        					</div>
	        				</div>

        			</div>
        			<div class="col-sm-12 middle-box">
        				<div class="col-sm-4 left">
        					{% if employerHasEmployee.state %}
        						<p><i class="fa fa-check-circle">Activo</i></p>
        					{% else %}
        						<p><i class="fa fa-check-cross">Inactivo</i></p>
        					{% endif %}
        					
        				</div>
        				<div class="col-sm-4 middle">
        					<div class="col-sm-12 title" style="font-style:italic;">Vacaciones</div>
        					<div class="col-sm-12 text-below"><strong>10 dias</strong></div>
        					
        				</div>
        				<div class="col-sm-4 right">
        					<div class="col-sm-12 title" style="font-style:italic;">Salario</div>
        					<div class="col-sm-12 text-below"><strong>${{contract.salary}}</strong></div>
        				</div>

        			</div>
        			<div class="col-sm-12 bottom-box">
        				<div class="col-sm-4 left">
	        				<ul class="col-sm-12">
		        				<h4 class="col-sm-12">Datos basicos</h4>
	        					<li>
	        						<p class="title"><i>Estado civil</i></p>
	        						<p><strong>{{ employee.personPerson.civilStatus}}</strong></p>
	        					</li>
	        					<li>
	        						<p class="title"><i>Fecha de nacimiento</i></p>
	        						<p><strong>{{ employee.personPerson.birthDate|date('m')}} {{ employee.personPerson.birthDate|date('d')}} de {{  employee.personPerson.birthDate|date('Y')}}</strong></p>
	        					</li>
	        					<li>
	        						<p class="title"><i>País</i></p>
	        						<p><strong>{{employee.personPerson.birthCountry.name}}</strong></p>
	        					</li>
	        					<li>
	        						<p class="title"><i>Departamento</i></p>
	        						<p><strong>{{employee.personPerson.birthDepartment.name}}</strong></p>
	        					</li>
	        					<li>
	        						<p class="title"><i>Ciudad</i></p>
	        						<p><strong>{{employee.personPerson.birthCity.name}}</strong></p>
	        					</li>
	        				</ul>
        				</div>
        				<div class="col-sm-4 right">
	        				<ul class="col-sm-12">
		        				<h4 class="col-sm-12">Datos de contacto</h4>
	        					<li>
	        						<p class="title"><i>Dirección</i></p>
	        						<p><strong>{{employee.personPerson.mainAddress}}</strong></p>
	        					</li>
	        					<li>
	        						<p class="title"><i>Email</i></p>
	        						<p><strong>{{employee.personPerson.email}}</strong></p>
	        					</li>
	        					<li>
	        						<p class="title"><i>Teléfono</i></p>
	        						<p><strong>{{employee.personPerson.phones[0].phoneNumber}}</strong></p>
	        					</li>
	        					<li>
	        						<p class="title"><i>Departamento</i></p>
	        						<p><strong>{{employee.personPerson.department.name}}</strong></p>
	        					</li>
	        					<li>
	        						<p class="title"><i>Ciudad</i></p>
	        						<p><strong>{{employee.personPerson.city.name}}</strong></p>
	        					</li>
	        				</ul>
        				</div>
        				<div class="col-sm-4 right">
	        				<ul class="col-sm-12">
		        				<h4 class="col-sm-12">Datos de contacto</h4>
	        					<li>
	        						<p class="title"><i>Dirección</i></p>
	        						<p><strong>{{employee.personPerson.mainAddress}}</strong></p>
	        					</li>
	        					<li>
	        						<p class="title"><i>Email</i></p>
	        						<p><strong>{{employee.personPerson.email}}</strong></p>
	        					</li>
	        					<li>
	        						<p class="title"><i>Teléfono</i></p>
	        						<p><strong>{{employee.personPerson.phones[0].phoneNumber}}</strong></p>
	        					</li>
	        					<li>
	        						<p class="title"><i>Departamento</i></p>
	        						<p><strong>{{employee.personPerson.department.name}}</strong></p>
	        					</li>
	        					<li>
	        						<p class="title"><i>Ciudad</i></p>
	        						<p><strong>{{employee.personPerson.city.name}}</strong></p>
	        					</li>
	        				</ul>
        				</div>
        			</div>
  					<div class="col-sm-12 col-sm-offset-5">
  						<a class="btn btn-orange notAjax" href="/register/employee/{{employee.idEmployee}}">Editar</a>
  					</div>



            	</div>
            	<div id="workplacesData" class="tabsEnabled tab-pane">
  					<p>Beneficiarios</p>
            	</div>
            	<div id="noveltiesData" class="tabsEnabled tab-pane">
  					<p>Novelties</p>
            	</div>
            	<div id="payHistory" class="tabsEnabled tab-pane">
  					<p>History</p>
            	</div>
            	<div id="documents" class="tabsEnabled tab-pane">
  					<p>Documents</p>
            	</div>
            	<div id="certificates" class="tabsEnabled tab-pane">
  					<p>Certificates</p>
            	</div>
	        </div>


        </div>
    </div>
{% endblock fos_user_content %}