{% extends "::base.html.twig" %}
{% block title %}Symplifica - Activar Suscripción{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <style type="text/css">
        .text-small{
            font-size: 10px;
        }
        span{
            overflow: visible;
        }
        .infoFacturacion{
            text-align: center;
        }
        .infoFacturacion label{
            font-weight: normal;
        }
        /*.infoTarjeta input[type="text"] {
            background-color: #fff;
            border: 1px solid #e5e5e5;
            color: #333;
            display: block;
            font-size: 18px;
            height: 32px;
            padding: 0 5px;
            width: 275px;
            -moz-box-sizing: content-box;
            -webkit-box-sizing: content-box;
        }*/
        .infoTarjeta #credit_card {
            background-image: url(/public/img/creditCard.png), url(/public/img/creditCard.png);
            background-position: 2px -117px, 233px -55px;
            background-size: 120px 361px, 120px 361px;
            background-repeat: no-repeat;
            padding-left: 54px;
            /*width: 225px;*/
        }
        .infoTarjeta #credit_card.visa {
            background-position: 2px -159px, 260px -61px;
        }
        .infoTarjeta #credit_card.visa_electron {
            background-position: 2px -201px, 260px -61px;
        }
        .infoTarjeta #credit_card.mastercard {
            background-position: 2px -243px, 260px -61px;
        }
        .infoTarjeta #credit_card.maestro {
            background-position: 2px -285px, 260px -61px;
        }
        .infoTarjeta #credit_card.discover {
            background-position: 2px -327px, 260px -61px;
        }
        .infoTarjeta #credit_card.amex {
            background-position: 2px -327px, 260px -61px;
        }
        .infoTarjeta #credit_card.diners_club_carte_blanche {
            background-position: 2px -327px, 260px -61px;
        }
        .infoTarjeta #credit_card.valid.visa {
            background-position: 2px -159px, 233px -82px;
        }
        .infoTarjeta #credit_card.valid.visa_electron {
            background-position: 2px -201px, 233px -82px;
        }
        .infoTarjeta #credit_card.valid.mastercard {
            background-position: 2px -243px, 233px -82px;
        }
        .infoTarjeta #credit_card.valid.maestro {
            background-position: 2px -285px, 233px -82px;
        }
        .infoTarjeta #credit_card.valid.discover {
            background-position: 2px -327px, 233px -82px;
        }
        .infoTarjeta #credit_card.valid.amex {
            background-position: 2px -327px, 233px -82px;
        }
        .infoTarjeta #credit_card.valid.diners_club_carte_blanche {
            background-position: 2px -327px, 233px -82px;
        }
        .toHide{
            display: none;
        }
        .blockUpData .radio {
            width: 50%;
            display: inline-flex;
        }
        .blockUpData label{
            min-height: 1px;
        }
        #pagoMembresiaFormContainer input{
            color: #919191;
        }
        #expiry_date_month, #expiry_date_year, #cvv{
            width: 70px;
        }
        .cvvHelp{
            display: inline-block;
            margin: 10px;
            padding: 10px;
            border: 1px black dotted;
        }
        .cvvHelp:hover{
            cursor: pointer;
        }
        .codigo_referido_valido{
            color: green;
        }
        .codigo_referido_invalido{
            color: red;
        }
        .form-group select{            
            width: 100%
        }
    </style>
{% endblock stylesheet %}
{% block fos_user_content %}

    <div class="row-fluid" id='pagoMembresiaFormContainer'>
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div id="infoFacturacion" class="infoFacturacion">
            <span style="margin: 20px">Ingrese la información de pago. Los campos marcados con * son obligatorios:</span>
            <div style="margin: 20px">
                <span><b>Nombre del titular y dirección de facturación*</b></span>
                <input type="checkbox" name="chkSameAdress" id="chkSameAdress" value="1" checked="true"/>
                <label for="chkSameAdress">Los mismos datos del empleador</label>
                <div name="divSameAdress" id="divSameAdress" class="toHide2">
                    <label style="font-weight: bold;">{{ employer.names ~" "~ employer.lastName1 ~" "~ employer.lastName2  }}</label><br>
                    <label>{{ employer.mainAddress }}</label><br>
                    <label>{{ employer.city.name ~", "~ employer.department.name }}</label>
                </div>
                <div name="divOtherAdress" id="divOtherAdress" class="toHide">
                    <div class="col-sm-12 col-xs-12 blockUpData" >
                        <div class="col-sm-4 col-xs-12">
                            <img id="typePerson" src="/img/typePerson.png">
                            {{ form_row(form.personType) }}
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <img id="documentType" src="/img/documentType.png">
                            {{ form_row(form.documentType) }}
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <img id="documentNumber" src="/img/documentNumber.png">
                            {{ form_row(form.document) }}
                        </div>
                    </div>

                    <div class="col-sm-12 col-xs-12 blockUpData">                        
                        <div id="datosNIT" name="datosNIT" class="toHide">
                            <div class="col-sm-12 col-xs-12">
                                {{ form_row(form.razonSocial) }}
                            </div>
                            <br><span>Datos del administrador de la herramienta</span><br>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            {{ form_row(form.names) }}
                            {{ form_row(form.lastName1) }}
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            {{ form_row(form.lastName2) }}
                        </div>
                    </div>

                    <div class="col-sm-12 col-xs-12 blockUpData">
                        <div class="col-sm-6 col-xs-12">
                            {{ form_row(form.department) }}
                            {{ form_row(form.city) }}
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            {{ form_row(form.address) }}
                            {{ form_row(form.phone) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="infoTarjeta" class="infoTarjeta form-group">
            <div class="col-md-12 center">
                <span style="margin-top: 20px"><b>Información de la tarjeta de crédito*</b></span>
                <!--<input type="checkbox" name="chkSameTCC" id="chkSameTCC" value="1" checked/>
                <label for="chkSameTCC" style="font-weight: normal">Usar la misma tarjeta de crédito del pago de sueldo de los empleados</label>  -->    
            </div>     
            <div class="col-md-12" style="margin-top: 20px">
                <div class="col-md-12">
                    <div class="col-md-7">
                        <label>Nombre en la tarjeta</label><br>
                        <div id="divCardName" >
                            <input type="text" id="name_on_card" name="name_on_card" class="form-control" placeholder="nombre" required="required">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label>Número tarjeta de crédito</label><br>
                        <div id="divCardNumber" >
                            <input type="number" min="1"  step="1" id="credit_card" name="credit_card" class="form-control" placeholder="1234 5678 9012 3456" required="required">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div id="cType"></div>
                    </div>
                    <!--<div class="col-md-2">
                        <label>Cuotas</label><br>
                        <select id="cuotas" name="cuotas" class="form-control" required="required">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                        </select>
                    </div>-->
                </div>
                <div class="col-md-3" style="margin-top: 10px">
                    <label>Fecha de vencimiento</label><br>
                    <div style="display: inline-block">
                        <label>Mes</label><br>
                        <select id="expiry_date_month" name="expiry_date_month" class="form-control" required="required">
                            <option value="01">1</option>
                            <option value="02">2</option>
                            <option value="03">3</option>
                            <option value="04">4</option>
                            <option value="05">5</option>
                            <option value="06">6</option>
                            <option value="07">7</option>
                            <option value="08">8</option>
                            <option value="09">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        <!-- <input type="number" min="01" max="12" step="1" maxlength="2" name="expiry_date_month" id="expiry_date_month" placeholder="mm" required="required"> -->
                    </div>                    
                    <div style="display: inline-block">
                        <label>Año</label><br>
                        <input type="number" min="2016" max="9999" step="1" maxlength="4" minlength="4" name="expiry_date_year" id="expiry_date_year" placeholder="yy" required="required">
                    </div>
                </div>
                <div class="col-md-3" style="margin-top: 10px">
                    <label>Código de seguridad</label><br>
                    <div style="display: inline-block">
                        <label></label><br>
                        <input type="number" name="cvv" id="cvv" min="0" minlength="3" maxlength="3" placeholder="123" required="required"><div class="cvvHelp">?</div>
                        <div id="cvvHelp" class="toHide">
                            Corresponde a los tres dígitos ubicados al respaldo de su tarjeta de crédito
                            <img src="/img/cvvHelp.png"> 
                        </div>
                    </div>
                </div>

            </div>
        </div>

        {% if descuento_isRefered['object']|length <=0 %}
            <div id="codigoReferido" class="codigoReferido form-group">
                <div class="col-md-12 center" style="margin-top: 20px">
                    <label>¿Cuenta con algún código de promoción?</label>
                    <span>Ingrese aquí el código promocional que recibió como usuario referido o en alguna de nuestras comunicaciones</span>
                    <input type="text" name="codigo_referido" id="codigo_referido" maxlength="10" placeholder="Código"  style="margin-top: 20px">
                    <div id="codigo_referido_estado" class="text-small"></div>
                </div>
            </div>
        {% endif %}

        <input type="hidden" id="tieneReferidos" value="{{ descuento_haveRefered['object']|length }}"> 
        <input type="hidden" id="esReferido" value="{{ descuento_isRefered['object']|length }}">
        <input type="hidden" id="esReferidoPercent" value="{{ descuento_isRefered['percent'] }}">

        <div id="confirmacionPago" class="confirmacionPago form-group" style="margin: 10px 0px 10px 0px">
            <div class="col-md-12 center" style="margin-top: 30px">
                <div class="col-md-12" style="margin-bottom: 20px;">
                    <label>Confirmación de pago</label>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-8 text-left" style="border-bottom: 1px #919191 dotted; padding-bottom: 10px;">
                        <div class="col-md-8 center" style="margin-bottom: 10px;">
                            <b>Producto</b>
                        </div>
                        <div class="col-md-8 text-left">
                            Servicio mensual Symplifica por:
                        </div>
                        {% for employeeData in employees %}
                            {% set employee = employeeData['employee'] %}
                            {% set contrato = employeeData['contrato'] %}
                            {% set product = employeeData['product'] %}
                            <div class="col-md-12">
                                <div class="col-md-1">
                                    <div class="glyphicon glyphicon-user"></div>
                                </div>                            
                                <div class="col-md-8">       
                                    {{ employee.employeeEmployee.personPerson.names ~' '~ employee.employeeEmployee.personPerson.lastName1 }}, 
                                    labora {{ contrato.workableDaysMonth }} días al mes.
                                </div>  
                                <div class="col-md-3">
                                    <b>$ {{ (product!=null?product.price:0)|number_format }}</b>
                                    {% if employee.isFree > 0 %}
                                        <span style="font-size: 10px;">{{ employee.isFree?"(* promo sin costo "~employee.isFree~" mes)":"" }}</span>                                    
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-md-2">

                        </div>
                    </div>

                    <div class="col-md-12">        
                        <div class="col-md-2">

                        </div>              
                        <div class="col-md-8">
                            {% if total_sin_descuentos > 0 %}
                                <div class="col-md-12">
                                    <div class="col-md-1">
                                    </div>                            
                                    <div class="col-md-8 text-right" style="font-size: 15px; padding-top: 5px;">
                                        <b>SUBTOTAL:</b>
                                    </div>  
                                    <div class="col-md-3 text-right" style="padding-top: 5px;">
                                        <div  style="font-size: 15px;"><b>$ {{ total_sin_descuentos|number_format  }}</b></div>
                                        <input type="hidden" id="subtotal" value="{{ total_sin_descuentos }}">  
                                    </div>
                                </div> 
                            {% endif %}
                            {% if descuento_3er['value'] and descuento_3er['value']  > 0%}
                                <div class="col-md-12">
                                    <div class="col-md-1">
                                    </div>                            
                                    <div class="col-md-8 text-right" style="font-size: 10px; padding-top: 5px;">
                                        <b>Descuento por tener 3 o mas empleados:</b>
                                    </div>  
                                    <div class="col-md-3 text-right" style="padding-top: 5px;">                                       
                                        <div  style="font-size: 10px;"><b>$ {{ descuento_3er['value']|number_format }}</b></div>
                                    </div>
                                </div> 
                            {% endif%}
                            <div class="col-md-12" id="descuento_isRefered">
                                {% if descuento_isRefered['object'] and descuento_isRefered['value'] > 0 %}
                                    <div class="col-md-1">
                                    </div>                            
                                    <div class="col-md-8 text-right" style="font-size: 10px; padding-top: 5px;">
                                        <b>Descuento por ser referido:</b>
                                    </div>  
                                    <div class="col-md-3 text-right" style="padding-top: 5px;">
                                        <div  style="font-size: 10px;"><b>$ {{ descuento_isRefered['value']|number_format }}</b></div>
                                    </div>
                                {% endif%}
                            </div> 
                            {% if descuento_haveRefered['object'] and descuento_haveRefered['value'] > 0 %}
                                <div class="col-md-12">
                                    <div class="col-md-1">
                                    </div>                            
                                    <div class="col-md-8 text-right" style="font-size: 10px; padding-top: 5px;">
                                        <b>Descuento por tener {{ descuento_haveRefered['object']|length }} referido(s):</b>
                                    </div>  
                                    <div class="col-md-3 text-right" style="padding-top: 5px;">                                       
                                        <div  style="font-size: 10px;"><b>$ {{ descuento_haveRefered['value']|number_format }}</b></div>
                                    </div>
                                </div> 
                            {% endif%}
                            <div class="col-md-12">
                                <div class="col-md-1">
                                </div>                            
                                <div class="col-md-8 text-right" style="font-size: 20px; padding-top: 5px;">
                                    <b>TOTAL:</b>
                                </div>  
                                <div class="col-md-3 text-right" style="padding-top: 5px;">
                                    <div id="divTotal" style="font-size: 20px;"><b>$ {{ (total_con_descuentos)|number_format  }}</b></div>
                                    <input type="hidden" id="total" value="{{ total_con_descuentos }}">  
                                    <div style="font-size: 10px;">IVA incluido</div>
                                </div>
                            </div> 
                        </div>
                        <div class="col-md-2">

                        </div> 

                    </div>      
                    <div class="col-md-12" style="margin: 30px 0 20px 0;">
                        <input type="checkbox" id="tos" name="tos">
                        <label for="tos">Acepto los <a target="_blank" href="{{ path('terminos_condiciones') }}">términos y condiciones</a> de Symplifica para el cargo mensual del valor del plan</label>                        
                    </div>
                </div>
            </div> 

            <div class="row buttons center">
                <div class="col-xs-12 center">
                    <input type="button" class="btn btn-default" id="btnBack" value="Volver Atrás" onclick="history.go(-1);"/> 
                    <input type="submit" id="sumbit" class="btn btn-default btn-orange disabled" value="Finalizar" />
                </div>
            </div>
            {{ form_end(form) }}
        </div>

    {% endblock %}