{% extends "::base.html.twig" %}
{% block title %}Symplifica - Activar Suscripción{% endblock %}

{% block fos_user_content %}
    {% for flash_message in app.session.flashbag.get('error') %}
        <div class="alert alert-danger flashSubscription" role="alert"> 
            {{ flash_message }}
        </div>
    {% endfor %}
    <div class="col-sm-12 col-xs-12 align-Resp">
        <a id="" class="btn col-sm-12 col-xs-12 blockStep inline  nav-link" href="#">
            <div id="" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">
                <img src="/img/block-inline.png" class="center-block">                    
            </div>
            <div id="" class="col-md-10 col-xs-12 txt-AD1">
                <div id="" class="text-left">
                    <span class="step">Paso 3 de 4</span>                            
                    Pago afiliación
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-12 text-center">
        {% set day = startDate|date("d") %}
        {% set month = startDate|date("F")|trans %}
        {% set year = startDate|date("Y") %}
        {% set day_pay = startDate|date("d") %}
        {% set month_pay = startDate|date("F")|trans %}
        {% set year_pay = startDate|date("Y") %}   
        <p>
            En este momento cuenta con SERVICIO GRATUITO hasta el {{ day }} de {{ month }} de {{ year }}. Sin embargo ya puede llevar a cabo la activación de la suscripción al servicio de Symplifica.
        </p>
        <p>
            De acuerdo a la información registrada, usted cuenta con los siguientes empleados:
        </p> 
    </div>
    <form action="{{ path('subscription_confirm') }}" method="POST">  
        <div id="employees" class="col-xs-12">
            <div class="row-fluid clearfix">
                <input type="hidden" id="descuento_percent" value="{{ descuento_3er['percent'] }}"/>  
                <input type="hidden" id="descuento_value" value="{{ descuento_3er['value'] }}"/>      
                {% for key, producto in productos %}
                    <input type="hidden" id="{{ producto.simpleName }}" value="{{ producto.price }}"/>
                    <input type="hidden" id="{{ producto.simpleName }}_IVA" value="{{ producto.taxTax.value }}"/>
                {% endfor %}
                <div class="col-md-12 text-center">
                    {% for employeeData in employees %}

                        {% set employee = employeeData['employee'] %}
                        {% set contrato = employeeData['contrato'] %}
                        {% set producto = employeeData['product'] %}

                        <div class="col-md-4 employee text-center {{ employee.state>0 ?'activo':'inactivo' }}">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="employee_name">
                                        <b>{{ employee.employeeEmployee.personPerson.names }}</b>
                                    </div>
                                    {% set tipo_tiempo_contrato = contrato.workableDaysMonth %}
                                    <div class="{{ ((contrato.workableDaysMonth) >= 20)? 'tiempo_completo':(((contrato.workableDaysMonth) >= 11)? "medio_tiempo":"trabajo_por_dias" ) }}">
                                        Labora {{ (contrato.workableDaysMonth)|number_format }} días al mes
                                    </div>
                                    <div>
                                        <div class="btn btn-default btn-change-state-contract" data-contrato-id="{{ path('change_state_employer_employee', {'id': employee.idEmployerHasEmployee }) }}"  data-value="{{ (producto?producto.price:0)|number_format }}" data-toggle="modal" data-target="#modal_confirm">{{ employee.state?'Inhabilitar':'Activar' }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="col-md-4 col-sm-6 employee add" style="text-align: center">
                        <div class="row">
                            <div class="col-xs-12">
                                <a href="/register/employee" class="notAjax"><i class="fa fa-plus-circle fa-4x"></i><br />
                                    Agregar empleado</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div style="text-align: center; margin-top: 20px; font-weight: bold">
                            <span id="open_pricing_calc" data-toggle="modal" data-target="#modal_price_calculator">Calcule el valor de suscripción</span>
                        </div>
                        <span style="color: #B0B2B5">Calcula cuánto sería el valor de la suscripción mensual si ingresas más empleados</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-lg-1 result_ajax"></div>
                <div class="" style="display: inline-block; text-align: center; width: 100%; margin-top: 20px;">
                    <span style="font-size: 20px;">Con el número de empleados<br /> nuestro servicio tendrá un costo mensual de:</span>
                    <div class="div_price">     
                        <div id="result_price"></div>
                        <div>A partir del {{ day_pay }} de {{ month_pay }} de {{ year_pay }}</div>
                        <div id="result_discount"></div>    
                    </div>
                </div>
                <div style="text-align: center; margin-top: 20px;">
                    Recuerda que el primer mes es gratis y que te obsequiamos otro mes si  completas antes de 48 horas el registro y carga documentación 
                </div>
                {% if descuento_3er['value'] == 0 %}
                    <div style="text-align: center; margin-top: 20px;">
                        <strong>Recibe un 10% de descuento adicional</strong>, si registras tres o más de tus empleados.
                    </div>
                {% endif %}
                <div style="text-align: center; margin-top: 20px;">
                    <input type="submit" class="btn btn-orange" value="Continuar con el pago"/>
                </div>
            </div>
        </div>
    </form>
    <!-- Modal Confirm-->
    <div class="modal fade"  role="dialog" id="modal_confirm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Confirmación de inactivación de empleado</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Si inactiva al empleado no se llevará a cabo a través de nuestra herramienta el pago de sueldo ni aportes a seguridad social así como tampoco se gestionará la información relacionada con él.
                    </p>
                    <p>
                        Tenga en cuenta que debe tener como mínimo un (1) empleado activo.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Volver atrás</button>
                    <button type="button" class="btn btn-default btn-change-state-contract-confirm">Confirmar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Modal Pricing Calculator-->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal_price_calculator">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Cálculo del valor de la suscripción a Symplifica</h4>
                </div>
                <div class="modal-body">
                    <div class="divSlider">                        
                        <div class="type_employee">
                            <span class="type_time">Tiempo Parcial</span>
                            <span class="type_time_desc">Trabaja(n) 1 a 10 días al mes</span>
                        </div>           
                        <div class="slider_employee" id="tiempo_parcial"></div>
                    </div>
                    <div class="divSlider">                        
                        <div class="type_employee">
                            <span class="type_time">Medio Tiempo</span>
                            <span class="type_time_desc">Trabaja(n) 11 a 19 días al mes</span>
                        </div>              
                        <div class="slider_employee" id="medio_tiempo"></div>
                    </div>
                    <div class="divSlider">                          
                        <div class="type_employee">
                            <span class="type_time">Tiempo Completo</span>
                            <span class="type_time_desc">Trabaja(n) más de 20 días al mes</span>
                        </div>        
                        <div class="slider_employee" id="tiempo_completo"></div>
                    </div>
                    <div class="" style="display: inline-block; text-align: center; width: 100%;">
                        Valor suscripción mensual
                        <div class="div_price">     
                            <div id="result_price_calc"></div>      
                            <div id="result_discount_calc"></div>    
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Volver atrás</button>
                    <a type="button" class="btn btn-default btn-add-employee notAjax" href="{{ path('register_employee') }}">Agregar un empleado</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}
