{% extends "::base.html.twig" %}
{% block title %}Symplifica - Activar Suscripción{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <style>
        .result_ajax{
            font-weight: bold;
            padding: 10px;
            text-align: center;
            width: 100%;
        }
        .div_price{
            padding: 10px;
            border: 1px solid lightgrey;
            margin-top: 10px;
        }
        #result_price, #result_price_calc{
            font-weight: bold;
            font-size: 30px;
        }
        #open_pricing_calc{
            font-weight: bold;
            cursor: pointer; 
        }
        .divSlider{
            margin: 0px 10px 40px 10px;
        }
        .type_time{
            font-weight: bold;
        }
        .type_time_desc{
            font-size: 10px;
        }
        .type_employee{
            display: inline-block;
            width: 30%;
            /*float: left;*/
        }
        .slider_employee{
            display: inline-block;
            width: 60%;
            float: right;
        }
        .modal {
            text-align: center;
        }

        @media screen and (min-width: 768px) { 
            .modal:before {
                display: inline-block;
                vertical-align: middle;
                content: " ";
                height: 100%;
            }
        }

        .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
        }
    </style>
{% endblock %}

{% block fos_user_content %}
    <h3>Activación de la suscripción</h3>
    <div style="margin: 10px;padding: 10px; text-align: center; display: inline-block;">
        {% set time_free = user.status==2? 30:(user.status==3?60:0) %}
        {% set day = user.getDateCreated|date_modify("+"~time_free~" day")|date("d") %}
        {% set month = user.getDateCreated|date_modify("+"~time_free~" day")|date("F")|trans %}
        {% set year = user.getDateCreated|date_modify("+"~time_free~" day")|date("Y") %}
        {% set day_pay = user.getDateCreated|date_modify("+"~(time_free+1)~" day")|date("d") %}
        {% set month_pay = user.getDateCreated|date_modify("+"~(time_free+1)~" day")|date("F")|trans %}
        {% set year_pay = user.getDateCreated|date_modify("+"~(time_free+1)~" day")|date("Y") %}        
        <p>
            A partir de este momento y hasta el próximo {{ day }} de {{ month }} de {{ year }} tienes GRATIS los servicios de Symplifica.
        </p>
        <p>
            A continuación podrás activar tu suscripción.
        </p>
        <p>
            Has registrado los siguientes empleados:
        </p> 
    </div>

    {% for employee in employerHasEmployee %}

        <div class="col-md-3 {{ employee.state ?'activo':'inactivo' }}" style="text-align: center">
            <div> 
                <img class="{{ employee.employeeEmployee.personPerson.gender == 'FEM'?'female':'male'  }}" src="{{ employee.employeeEmployee.personPerson.gender == 'FEM'?'/img/female.png':'/img/male.png'  }}" alt="Smiley face" height="42" width="42">
            </div>
            <div class="employee_name">
                {{ employee.employeeEmployee.personPerson.names }}
            </div>
            {% set tipo_tiempo_contrato = contratos[employee.idEmployerHasEmployee].timeCommitmentTimeCommitment.name|lower|split(' ') %}
            <div class="{{ tipo_tiempo_contrato|join("_") }}">
                {{ contratos[employee.idEmployerHasEmployee].timeCommitmentTimeCommitment.name }}
            </div>
            <div>
                <button class="btn btn-default btn-change-state-contract" data-contrato-id="{{ path('change_state_employer_employee', {'id': employee.idEmployerHasEmployee }) }}"  data-toggle="modal" data-target="#modal_confirm">{{ employee.state?'Inactivar':'Activar' }}</button>
            </div>
        </div>


    {% endfor %}

    <div class="col-lg-1 result_ajax"></div>
    <div class="" style="display: inline-block; text-align: center; width: 100%; margin-top: 20px;">
        Este servicio tendrá el siguiente valor:
        <div class="div_price">     
            <div id="result_price"></div>      
            A partir del {{ day_pay }} de {{ month_pay }} de {{ year_pay }}.
            <div id="result_discount"></div>    
        </div>
    </div>
    <div style="text-align: center; margin-top: 20px;">Recibe un <b>10% de descuento</b> adicional, si registras tres o más de tus  empleados.</div>
    <div style="text-align: center; margin-top: 20px; font-weight: bold">Calculadora para suscripciones</div>
    <div style="text-align: center; margin-top: 20px;">
        <span id="open_pricing_calc" data-toggle="modal" data-target="#modal_price_calculator">Seleccione el tipo y cantidad de empleados</span> para que calculesel valor por simplificar la manera de gestionarlos.
    </div>
    <div style="text-align: center; margin-top: 20px;">
        <a class="btn btn-default notAjax"  href="{{ path('activate_subscription') }}">Continuación del pago</a>
    </div>

    <!-- Modal Confirm-->
    <div class="modal fade"  role="dialog" id="modal_confirm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Confirmación de inactivación de empleado</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Si inactiva al empleado no se llevará a cabo a través de nuestra herramienta el pago de sueldo ni aportes a seguridad social así como tampoco se gestionará la información relacionada con él.
                    </p>
                    <p>
                        Tenga en cuenta que debe tener como mínimo un (1) empleado activo.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Volver atrás</button>
                    <button type="button" class="btn btn-default btn-change-state-contract-confirm">Confirmar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Modal Pricing Calculator-->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal_price_calculator">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Cálculo del valor de la suscripción a Symplifica</h4>
                </div>
                <div class="modal-body">
                    <div class="divSlider">                        
                        <div class="type_employee">
                            <span class="type_time">Tiempo Parcial</span>
                            <span class="type_time_desc">Trabaja(n) 1 a 10 días al mes</span>
                        </div>           
                        <div class="slider_employee" id="tiempo_parcial"></div>
                    </div>
                    <div class="divSlider">                        
                        <div class="type_employee">
                            <span class="type_time">Medio Tiempo</span>
                            <span class="type_time_desc">Trabaja(n) 11 a 19 días al mes</span>
                        </div>              
                        <div class="slider_employee" id="medio_tiempo"></div>
                    </div>
                    <div class="divSlider">                          
                        <div class="type_employee">
                            <span class="type_time">Tiempo Completo</span>
                            <span class="type_time_desc">Trabaja(n) más de días al mes</span>
                        </div>        
                        <div class="slider_employee" id="tiempo_completo"></div>
                    </div>
                    <div class="" style="display: inline-block; text-align: center; width: 100%;">
                        Valor suscripción mensual
                        <div class="div_price">     
                            <div id="result_price_calc"></div>      
                            A partir del {{ day_pay }} de {{ month_pay }} de {{ year_pay }}.
                            <div id="result_discount_calc"></div>    
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Volver atrás</button>
                    <a type="button" class="btn btn-default btn-add-employee notAjax" href="{{ path('register_employee') }}">Agregar un empleado</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var tiempo_parcialSlider, medio_tiempoSlider, tiempo_completoSlider;
        $(document).ready(function () {

            tiempo_parcialSlider = document.getElementById('tiempo_parcial');
            noUiSlider.create(tiempo_parcialSlider, {
                start: 0,
                step: 1,
                range: {
                    min: 0,
                    max: 5
                },
                pips: {
                    mode: 'values',
                    values: [0, 1, 2, 3, 4, 5],
                    density: 100
                }
            });
            tiempo_parcialSlider.noUiSlider.on('set', function () {
                calculatePrice("_calc");
            });
            tiempo_parcialSlider.noUiSlider.on('change', function () {
                calculatePrice("_calc");
            });
            tiempo_parcialSlider.noUiSlider.set($(".activo > .trabajo_por_días").length);

            medio_tiempoSlider = document.getElementById('medio_tiempo');
            noUiSlider.create(medio_tiempoSlider, {
                start: 0,
                step: 1,
                range: {
                    min: 0,
                    max: 5
                },
                pips: {
                    mode: 'values',
                    values: [0, 1, 2, 3, 4, 5],
                    density: 100
                }
            });
            medio_tiempoSlider.noUiSlider.on('set', function () {
                calculatePrice("_calc");
            });
            medio_tiempoSlider.noUiSlider.on('change', function () {
                calculatePrice("_calc");
            });
            medio_tiempoSlider.noUiSlider.set($(".activo > .medio_tiempo").length);

            tiempo_completoSlider = document.getElementById('tiempo_completo');
            noUiSlider.create(tiempo_completoSlider, {
                start: 0,
                step: 1,
                range: {
                    min: 0,
                    max: 5
                },
                pips: {
                    mode: 'values',
                    values: [0, 1, 2, 3, 4, 5],
                    density: 100
                }
            });
            tiempo_completoSlider.noUiSlider.on('set', function () {
                calculatePrice("_calc");
            });
            tiempo_completoSlider.noUiSlider.on('change', function () {
                calculatePrice("_calc");
            });
            tiempo_completoSlider.noUiSlider.set($(".activo > .tiempo_completo").length);

            calculatePrice('');
        });

        var contratoid = '';
        var button = '';
        $('#modal_confirm').on('show.bs.modal', function (event) {
            button = $(event.relatedTarget);
            contratoid = button.data('contrato-id');
            if ($(".activo").length > 1 || $(button).html() == "Activar") {
                $(".btn-change-state-contract-confirm").show();
            } else {
                $(".btn-change-state-contract-confirm").hide();
            }
        });
        //$(".btn-change-state-contract").on('click', function (e) {
        //    $('#modal_confirm').modal('show');
        //});
        $(".btn-change-state-contract-confirm").on('click', function (e) {
            if ($(".activo").length > 1 || $(button).html() == "Activar") {
                ajax(button, contratoid);
            } else {
                $('#modal_confirm').modal('hide');
            }
        });
        //$("#open_pricing_calc").on('click', function (e) {
        //    $('#modal_price_calculator').modal('show');
        //});
        function ajax(obj, url) {
            $.ajax({
                url: url,
                type: 'GET'
            }).done(function (data) {
                parent = $(obj).parent().parent();
                female = parent.find(".female").length;
                male = parent.find(".male").length;
                state = '';
                if (data.state == 'Inactivo') {
                    $(obj).html("Activar");
                    if (female > 0) {
                        state = "inactivada";
                    } else if (male > 0) {
                        state = "inactivado";
                    }
                    parent.removeClass("activo");
                    parent.addClass("inactivo");
                }
                if (data.state == 'Activo') {
                    $(obj).html("Inactivar");
                    if (female > 0) {
                        state = "activada";
                    } else if (male > 0) {
                        state = "activado";
                    }
                    parent.removeClass("inactivo");
                    parent.addClass("activo");
                }
                $('#modal_confirm').modal('hide');
                name = parent.find(".employee_name").html();
                $('.result_ajax').html(name + " fue " + state + " exitosamente.").show(1000);
                setTimeout(function () {
                    $('.result_ajax').html("").hide(1000);
                }, 2000);
                calculatePrice('');
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
                $('#modal_confirm').modal('hide');
            });
        }
        function calculatePrice(contenedor) {
            var Tiempo_Completo = 0, Medio_tiempo = 0, Trabajo_por_días = 0;
            var descuento_html = '';
            var descuento = 0;
            var total = 0;
            if (contenedor == '_calc') {
                Tiempo_Completo = tiempo_completoSlider ? parseInt(tiempo_completoSlider.noUiSlider.get()) : 0;
                Medio_tiempo = medio_tiempoSlider ? parseInt(medio_tiempoSlider.noUiSlider.get()) : 0;
                Trabajo_por_días = tiempo_parcialSlider ? parseInt(tiempo_parcialSlider.noUiSlider.get()) : 0;
            } else {
                Tiempo_Completo = $(".activo > .tiempo_completo").length;
                Medio_tiempo = $(".activo > .Medio_tiempo").length;
                Trabajo_por_días = $(".activo > .trabajo_por_días").length;
            }
            if (Tiempo_Completo > 0) {
                total = total + (Tiempo_Completo * 25000);
            }
            if (Medio_tiempo > 0) {
                total = total + (Medio_tiempo * 20000);
            }
            if (Trabajo_por_días > 0) {
                total = total + (Trabajo_por_días * 15000);
            }

            if ((Tiempo_Completo + Medio_tiempo + Trabajo_por_días) >= 3) {
                descuento = (total * 0.1);
                descuento_html = "El descuento del 10% por valor de " + getPrice(descuento) + " ya fue aplicado.";
                $("#result_discount" + contenedor).html(descuento_html);
            } else {
                $("#result_discount" + contenedor).html('');
            }

            $("#result_price" + contenedor).html(getPrice(total - descuento));
        }
        function getPrice(valor) {
            price = parseFloat(valor.toString().replace(/,/g, ""))
                    .toFixed(0)
                    .toString()
                    .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            return "$ " + price;
        }
    </script>
{% endblock %}