{% extends "::base.html.twig" %}
{% block title %}Symplifica - Activar Suscripción{% endblock %}
{% set day = startDate|date("d") %}
{% set month = startDate|date("F")|trans %}
{% set year = startDate|date("Y") %}
{% set day_pay = startDate|date("d") %}
{% set month_pay = startDate|date("F")|trans %}
{% set year_pay = startDate|date("Y") %}
{% block stylesheet %}
    {{ parent() }}
    <style type="text/css">
        .text-small{
            font-size: 10px;
        }
        span{
            overflow: visible;
        }
        .infoFacturacion{
            text-align: center;
        }
        .infoFacturacion label{
            font-weight: normal;
        }
        /*.infoTarjeta input[type="text"] {
            background-color: #fff;
            border: 1px solid #e5e5e5;
            color: #333;
            display: block;
            font-size: 18px;
            height: 32px;
            padding: 0 5px;
            width: 275px;
            -moz-box-sizing: content-box;
            -webkit-box-sizing: content-box;
        }*/

        .form-inline input[type="number"] {
            height: 46px;
            margin-left: 10px;
            padding: 6px 12px;
            padding-right: 2px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
        }
        .infoTarjeta #credit_card {
            background-image: url(/public/img/creditCard.png), url(/public/img/creditCard.png);
            background-position: 2px -117px, 233px -55px;
            background-size: 120px 361px, 120px 361px;
            background-repeat: no-repeat;
            padding-left: 54px;
            /*width: 225px;*/
        }
        .infoTarjeta #credit_card.visa {
            background-position: 2px -159px, 260px -61px;
        }
        .infoTarjeta #credit_card.visa_electron {
            background-position: 2px -201px, 260px -61px;
        }
        .infoTarjeta #credit_card.mastercard {
            background-position: 2px -243px, 260px -61px;
        }
        .infoTarjeta #credit_card.maestro {
            background-position: 2px -285px, 260px -61px;
        }
        .infoTarjeta #credit_card.discover {
            background-position: 2px -327px, 260px -61px;
        }
        .infoTarjeta #credit_card.amex {
            background-position: 2px -327px, 260px -61px;
        }
        .infoTarjeta #credit_card.diners_club_carte_blanche {
            background-position: 2px -327px, 260px -61px;
        }
        .infoTarjeta #credit_card.valid.visa {
            background-position: 2px -159px, 233px -82px;
        }
        .infoTarjeta #credit_card.valid.visa_electron {
            background-position: 2px -201px, 233px -82px;
        }
        .infoTarjeta #credit_card.valid.mastercard {
            background-position: 2px -243px, 233px -82px;
        }
        .infoTarjeta #credit_card.valid.maestro {
            background-position: 2px -285px, 233px -82px;
        }
        .infoTarjeta #credit_card.valid.discover {
            background-position: 2px -327px, 233px -82px;
        }
        .infoTarjeta #credit_card.valid.amex {
            background-position: 2px -327px, 233px -82px;
        }
        .infoTarjeta #credit_card.valid.diners_club_carte_blanche {
            background-position: 2px -327px, 233px -82px;
        }
        .toHide{
            display: none;
        }
        .blockUpData .radio {
            width: 50%;
            display: inline-flex;
        }
        .blockUpData label{
            min-height: 1px;
        }
        #pagoMembresiaFormContainer input[type="text"],#pagoMembresiaFormContainer input[type="number"]{
            color: #919191;
        }
        #expiry_date_month, #expiry_date_year, #cvv{
            width: 70px;
        }
        .cvvHelp{
            display: inline-block;
            padding: 10px;
        }
        .cvvHelp:hover{
            cursor: pointer;
        }
        .codigo_referido_valido{
            color: green;
        }
        .codigo_referido_invalido{
            color: red;
        }
        .form-group select{
            width: 100%
        }

        #pago_membresia_personType .radio:last-child {
            color: #c2c2c2;
        }

        /*
        .blockStep2 {
            margin-top: 10px;
            background: #3b4b5a !important;
            background-image: none;
            background: 0 0;
            border: 1px solid #919191;
            border-radius: 0;
            box-shadow: none;
            margin-bottom: 20px;
            padding: 15px;
            text-shadow: none;
            color: #fff;
            opacity: 0.8;
        }
        .blockStep2 .txt-AD1 {
            font-family: "Open Sans";
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
            color: #fff;
            white-space: normal;
        }

        .blockStep2 .txt-AD1 p {
            font-size: 14px;
            font-family: @lato;
            font-weight: 100;
            margin-bottom: 0px;
        }
        */
        .label-group{
            text-align: right !important;
        }
        .form-select{
            color: yellow !important;
        }
        input[type='number'] {
            -moz-appearance:textfield;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    </style>
{% endblock stylesheet %}
{% block fos_user_content %}
    <div class="col-sm-12 col-xs-12 align-Resp">
        <div id="" class="col-sm-12 col-xs-12 blockStep inline">
            <div id="" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">
                <img src="/img/block-inline.png" class="center-block">
            </div>
            <div id="" class="col-md-10 col-xs-12 txt-AD1">
                <div id="" class="text-left">
                    <span class="step">Paso 3 de 3</span>
                    Subscripción a Symplifica
                </div>
            </div>
        </div>
    </div>
    <ul id="formNav" class="nav nav-tabs nav-justified">
        {% set tab = 1 %}
        <li {%   if tab is defined and tab==0 %} class="active" {% endif %}><a data-toggle="tab" data-target="#newOrOldTab"></a>Validar</li>
        <li {%   if tab is defined and tab==1 %} class="active" {% endif %}><a data-toggle="tab" data-target="#basicData"></a>Confirmar</li>
        <li {%   if tab is defined and tab==2 %} class="active" {% endif %}><a data-toggle="tab" data-target="#contactData"></a>Finalizar</li>
    </ul>

    <div class="row-fluid" id='pagoMembresiaFormContainer'>
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <div id="infoFacturacion" class="infoFacturacion">
            <div style="margin: 20px">
                <h4>Nombre del titular y dirección de facturación*</h4>
                <input type="checkbox" name="chkSameAdress" id="chkSameAdress" value="1" checked="true"/>
                <label for="chkSameAdress">Mismos datos del empleador</label>
                <div name="divSameAdress" id="divSameAdress" class="toHide2">
                    <label style="font-weight: bold;">{{ employer.names ~" "~ employer.lastName1 ~" "~ employer.lastName2  }}</label><br>
                    <label>{{ employer.mainAddress }}</label><br>
                    <label>{{ employer.city.name ~", "~ employer.department.name }}</label>
                </div>
                <div name="divOtherAdress" id="divOtherAdress" class="toHide">
                    <div class="formulario col-xs-12" style="border: none;">
                        <div class="col-sm-10 col-xs-12 blockUpData content-input" style="border-bottom: none;">
                            <div class="col-sm-12 col-xs-12 blockUpData" >
                                <div class="col-sm-6 col-xs-12 col-sm-push-3">
                                    {{ form_row(form.personType) }}
                                </div>
                            </div>
                            <div class="col-sm-12 col-xs-12">
                                <div class="col-sm-6 label-group">
                                    {{ form_label(form.documentType) }}
                                </div>
                                <div class="col-sm-6 form-group">
                                    {{ form_widget(form.documentType) }}
                                </div>
                                <!--<img src="/img/typePerson.png">-->
                            </div>
                            <div class="col-sm-12 col-xs-12">
                                <div class="col-sm-6 label-group">
                                    {{ form_label(form.document) }}
                                </div>
                                <div class="col-sm-6 form-group">
                                    {{ form_widget(form.document) }}
                                </div>
                                <!--<img src="/img/typePerson.png">-->
                            </div>
                            <div class="col-sm-12 col-xs-12">
                                <div class="col-sm-6 label-group">
                                    {{ form_label(form.names) }}
                                </div>
                                <div class="col-sm-6 form-group">
                                    {{ form_widget(form.names) }}
                                </div>
                                <!--<img src="/img/typePerson.png">-->
                            </div>
                            <div class="col-sm-12 col-xs-12 hidden">
                                <div class="col-sm-6 label-group">
                                </div>
                                <div class="col-sm-6 form-group">
                                    {{ form_widget(form.razonSocial) }}
                                </div>
                                <!--<img src="/img/typePerson.png">-->
                            </div>
                            <div class="col-sm-12 col-xs-12">
                                <div class="col-sm-6 label-group">
                                    {{ form_label(form.lastName1) }}
                                </div>
                                <div class="col-sm-6 form-group">
                                    {{ form_widget(form.lastName1) }}
                                </div>
                                <!--<img src="/img/typePerson.png">-->
                            </div>
                            <div class="col-sm-12 col-xs-12">
                                <div class="col-sm-6 label-group">
                                    {{ form_label(form.lastName2) }}
                                </div>
                                <div class="col-sm-6 form-group">
                                    {{ form_widget(form.lastName2) }}
                                </div>
                                <!--<img src="/img/typePerson.png">-->
                            </div>
                            <div class="col-sm-12 col-xs-12">
                                <div class="col-sm-6 label-group">
                                    {{ form_label(form.department) }}
                                </div>
                                <div class="col-sm-6 form-group">
                                    {{ form_widget(form.department) }}
                                </div>
                                <!--<img src="/img/typePerson.png">-->
                            </div>
                            <div class="col-sm-12 col-xs-12">
                                <div class="col-sm-6 label-group">
                                    {{ form_label(form.city) }}
                                </div>
                                <div class="col-sm-6 form-group">
                                    {{ form_widget(form.city) }}
                                </div>
                                <!--<img src="/img/typePerson.png">-->
                            </div>
                            <div class="col-sm-12 col-xs-12">
                                <div class="col-sm-6 label-group">
                                    {{ form_label(form.address) }}
                                </div>
                                <div class="col-sm-6 form-group">
                                    {{ form_widget(form.address) }}
                                </div>
                                <!--<img src="/img/typePerson.png">-->
                            </div>
                            <div class="col-sm-12 col-xs-12">
                                <div class="col-sm-6 label-group">
                                    {{ form_label(form.phone) }}
                                </div>
                                <div class="col-sm-6 form-group">
                                    {{ form_widget(form.phone) }}
                                </div>
                                <!--<img src="/img/typePerson.png">-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="infoTarjeta" class="infoTarjeta form-group">
            <div class="col-md-12 center">
                <span style="margin-top: 20px"><h3>Información de la tarjeta de crédito*</h3></span>
                <!--<input type="checkbox" name="chkSameTCC" id="chkSameTCC" value="1" checked/>
                <label for="chkSameTCC" style="font-weight: normal">Usar la misma tarjeta de crédito del pago de sueldo de los empleados</label>  -->
            </div>
            <div class="formulario col-xs-12" style="border: none;">
                <div class="col-sm-10 col-xs-12 blockUpData content-input" style="border-bottom: none;">
                    <div class="col-sm-12 col-xs-12">
                        <div class="col-sm-6 label-group">
                            <label>Nombre en la tarjeta:</label>
                        </div>
                        <div class="col-sm-6 form-group">
                            <input type="text" id="name_on_card" name="name_on_card" class="form-control" placeholder="Nombre" required="required">
                        </div>
                        <!--<img src="/img/typePerson.png">-->
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <div class="col-sm-6 label-group">
                            <label>Número tarjeta de crédito:</label>
                        </div>
                        <div class="col-sm-6 form-group">
                            <input type="number" min="1"  step="1" id="credit_card" name="credit_card" class="form-control" placeholder="1234 5678 9012 3456" required="required">
                        </div>
                        <!--<img src="/img/typePerson.png">-->
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <div class="col-sm-6 label-group">
                            <label>Fecha de vencimiento:</label>
                        </div>
                        <div class="col-sm-6 form-group">
                            <div class="form-inline">
                                <select id="expiry_date_month" name="expiry_date_month" class="form-control" required="required">
                                    <option value="">Mes</option>
                                    <option value="01">1</option>
                                    <option value="02">2</option>
                                    <option value="03">3</option>
                                    <option value="04">4</option>
                                    <option value="05">5</option>
                                    <option value="06">6</option>
                                    <option value="07">7</option>
                                    <option value="08">8</option>
                                    <option value="09">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                                <input type="number" min="2016" max="9999" step="1" maxlength="4" minlength="4" name="expiry_date_year" id="expiry_date_year" placeholder="Año" required="required">
                            </div>
                        </div>
                        <!--<img src="/img/typePerson.png">-->
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <div class="col-sm-6 label-group">
                            <label>Código de seguridad:</label>
                        </div>
                        <div class="col-sm-6 form-group">
                            <input type="number" class="form-control" name="cvv" id="cvv" min="0" minlength="3" maxlength="4" placeholder="123" required="required" style="float: left;">
                        </div>
                        <!--<img src="/img/typePerson.png">-->
                    </div>
                </div>
            </div>
        </div>

        {% if descuento_isRefered['object']|length <=0 %}
            <div id="codigoReferido" class="codigoReferido form-group">
                <div class="col-md-12 center">
                    <span style="margin-top: 20px"><h3>¿Código de referido?</h3></span>
                    <!--<input type="checkbox" name="chkSameTCC" id="chkSameTCC" value="1" checked/>
                    <label for="chkSameTCC" style="font-weight: normal">Usar la misma tarjeta de crédito del pago de sueldo de los empleados</label>  -->
                </div>
                <div class="formulario col-xs-12" style="border: none;">
                    <div class="col-sm-10 col-xs-12 blockUpData content-input" style="border-bottom: none;">
                        <div class="col-sm-12 col-xs-12">
                            <div class="col-sm-6 form-group col-sm-push-4">
                                <input type="text" name="codigo_referido" id="codigo_referido" class="form-control" maxlength="10" placeholder="Código"  style="margin-top: 20px">
                            </div>
                            <!--<img src="/img/typePerson.png">-->
                        </div>
                    </div>
                </div>
            </div>
            <!--
                <div class="col-md-12 center" style="margin-top: 20px">
                    <label>¿Cuenta con algún código de promoción?</label>
                    <span>Ingrese aquí el código promocional que recibió como usuario referido o en alguna de nuestras comunicaciones</span>
                    <input type="text" name="codigo_referido" id="codigo_referido" maxlength="10" placeholder="Código"  style="margin-top: 20px">
                    <div id="codigo_referido_estado" class="text-small"></div>
                </div>
            </div>-->
        {% endif %}

        <input type="hidden" id="tieneReferidos" value="{{ descuento_haveRefered['object']|length }}">
        <input type="hidden" id="esReferido" value="{{ descuento_isRefered['object']|length }}">
        <input type="hidden" id="esReferidoPercent" value="{{ descuento_isRefered['percent'] }}">
        <div id="confirmacionPago" class="confirmacionPago" style="margin: 10px 0px 10px 0px">
            <div class="col-xs-12">
                <div class="row">
                    <div class="" style="display: inline-block; text-align: center; width: 100%; margin-top: 20px;">
                        <span style="font-size: 20px;">Con el número de empleados<br /> nuestro servicio tendrá un costo mensual de:</span>
                        <br />
                        <div class="priceContainer" style="padding-bottom:10px">
                            <h1 style="color: #fff;text-align: center;">$ {{ (total_con_descuentos)|number_format  }}</h1>
                            <h2 style="color: #fff;font-size: 14px;font-weight: 100;">A partir del {{ day_pay }} de {{ month_pay }} de {{ year_pay }}</h2>
                        </div>
                    <!--
                        <div class="div_price">
                            <div id="result_price">$ {{ (total_con_descuentos)|number_format  }}</div>
                            <div>A partir del {{ day_pay }} de {{ month_pay }} de {{ year_pay }}</div>
                            {#<div id="result_discount">$ {{ total_sin_descuentos|number_format  }}</div>    #}
                        </div>
                    -->
                    </div>
                    <div style="text-align: center; margin-top: 20px;">
                        Recuerda que el primer mes es gratis y que te obsequiamos otro mes si  completas antes de 48 horas el registro y carga documentación
                    </div>
                    {% if descuento_3er['value'] == 0 %}
                        <div style="text-align: center; margin-top: 20px;">
                            <strong>Recibe un 10% de descuento adicional</strong>, si registras tres o más de tus empleados.
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row buttons center">
                <div class="col-md-12" style="margin: 30px 0 20px 0;">
                    <input type="checkbox" id="tos" name="tos">
                    <label for="tos">Acepto los <a target="_blank" href="{{ path('terminos_condiciones') }}">términos y condiciones</a> de Symplifica para el cargo mensual del valor del plan</label>
                </div>
                <div class="col-xs-12 center">
                    <input type="button" class="btn btnPrevious" id="btnBack" value="Volver Atrás" onclick="window.location.href = '{{ path('subscription_choices') }}'"/>
                    <input type="submit" id="sumbit" class="btn btn-orange " value="Finalizar" disabled/>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}