{% extends "::base.html.twig" %}
{% block title %}Symplifica - Medio de pago{% endblock %}

{% block fos_user_content %}
    <style>
        .noUi-horizontal {
            height: 6px;
            background-color: #00CBC9;
        }

        .noUi-horizontal .noUi-handle {
            border-radius: 10px;
            box-shadow: none;
            width: 20px;
            left: -10px;
            height: 20px;
            top: -8px;
        }

        .noUi-horizontal .noUi-handle:before, .noUi-horizontal .noUi-handle:after {
            display: none;
        }

        .noUi-target {
            box-shadow: none;
        }

        #employees {
            margin: 0px;
            padding: 0px;
            padding-bottom: 30px;
            border-bottom: 1px solid #E6E7E8;
        }

        .timeCommitmentTimeCommitment {
            font-size: small;
            font-weight: 100;
            color: lightslategray;
        }

        .labora {
            font-size: smaller;
            font-weight: 100;
            color: lightslategray;
        }

        .x-large {
            font-size: 18px;
        }

        .border-all-darkGray {
            border: 1px solid #CCC;
            border-radius: 5px;
        }

        .border-botton-darkGray {
            border-bottom: 1px solid #E6E7E8;
        }

        .border-botton-darkGray2 {
            border-bottom: 1px solid #C5C8C8;
        }

        .padding-all {
            padding: 20px;
        }

        .center {
            margin: auto;
            width: 60%;
        }

        .padding-left-right-20 {
            padding: 0px 20px 0px 20px;
        }

        .padding-left-right-40 {
            padding: 0px 40px 0px 40px;
        }

        .padding-top-botton-20 {
            padding: 20px 0px 20px 0px;
        }

        .padding-top-botton-10 {
            padding: 10px 0px 10px 0px;
        }

        .font-bold {
            font-weight: bold;
        }

        .dark-blue {
            color: #197982;
        }

        .nopadding {
            padding: 0 !important;
            margin: 0 !important;
        }

        .padding-all-10 {
            padding: 10px 10px 0 10px;
        }

        .margin-left-right-25-40 {
            margin: 0px 40px 0px 25px;
        }

        .margin-all-right-botton-10 {
            margin: 0px 10px 10px 0px;
        }

        .div-btn-change-state-contract {
            bottom: 0;
            position: absolute;
            margin: 0px 10px 10px 0px;
            padding: 0px;
            /* left: 0; */
            right: 0;
            width: 100px;
        }

        .btn-change-state-contract.on {
            width: 100px;

        }

        .btn-change-state-contract.off {
            width: 100px;
        }

        .codigo_referido_valido {
            color: green;
        }

        .codigo_referido_invalido {
            color: red;
        }

        #btnRedimir.off {
            background-color: #B8B2AC;
        }

        .result_ajax_icon {
            color: orange;
            font-size: 30px;
        }

        .result_ajax {
            text-align: left;
        }

        .result_ajax_msg {
            display: inline-block;
            vertical-align: super;
            margin-left: 5px;
            color: darkgrey;
        }

        .margin-top-bottom-10 {
            margin: 10px 0px 10px 0px;
        }

        #divSubtotal {
            font-size: 35px;
        }

        .subtotalTitle {
            font-size: 16px;
        }

        .codigo_referido {
            width: 300px;
            margin: 0 auto;
        }



        /* MEDIA QUERIES PARA RESPONSIVE - 20160608 NATALIABH */

            @media (max-width: 768px){
                .label-primer-pago { text-align: center; }
            }


            @media (max-width: 480px){
                .codigo_referido { width: 100%; }
            }




    </style>
    {#
    {% for flash_message in app.session.flashbag.get('error') %}
        <div class="alert alert-danger flashSubscription" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}
    #}
    <div class="col-sm-12 col-md-12 align-Resp">
        <div id="" class="col-sm-12 col-md-12 blockStep inline">
            <div id="" class="col-md-2 col-md-12 txt-AD0" style="text-align: left;">
                <img src="/img/block-inline.png" class="center-block">
            </div>
            <div id="" class="col-md-10 col-md-12 txt-AD1">
                <div id="" class="text-left title-center">
                    <span class="step">Paso 3 de 3</span>
                    Medio de pago
                </div>
            </div>
        </div>
    </div>
    {#
        <ul id="formNav" class="nav nav-tabs nav-justified">
            {% set tab = 0 %}
            <li {%   if tab is defined and tab==0 %} class="active" {% endif %}><a data-toggle="tab" data-target="#newOrOldTab"></a>Validar</li>
            <li {%   if tab is defined and tab==1 %} class="active" {% endif %}><a data-toggle="tab" data-target="#basicData"></a>Confirmar</li>
            <li {%   if tab is defined and tab==2 %} class="active" {% endif %}><a data-toggle="tab" data-target="#contactData"></a>Finalizar</li>
        </ul>
    #}
    <div class="row padding-left-right-20">
        <div class="col-md-12 text-center">
            <br/>
            <div class="col-md-12">
                <b style="color:#00858C;font-size: 25px;" class="x-large">Estimación de Cargos Mensuales</b>
            </div>
            <div class="col-md-12">
                <div class="center padding-top-botton-20">
                    A continuación encontrará una estimación de los
                    cargos que haremos al medio de pago que usted registró basada en la información registrada.
                </div>
            </div>
        </div>
    </div>

    <div class="bordermediopay">
        <div id="salariosmed">
            <div class="infosalarios">
                <div class="left">Salarios a pagar*</div>
                <div id="totalSal" class="right" ></div>
            </div>
            <div class="empleadosmed">
              {% for employeeData in employees %}

                  {% set employee = employeeData['employee'] %}
                  {% set contrato = employeeData['contrato'] %}

                  {% if employee.state > 0 %}
                  <div class="empleadomed">
                      <div class="left lightpay">{{ employee.employeeEmployee.personPerson.names}} {{employee.employeeEmployee.personPerson.lastname1}}</div>
                      <div class="right numberpay salaryIndVal"
                      data-id="{{ employee.idEmployerHasEmployee }}"></div>
                  </div>
                  {% endif %}
              {% endfor %}
            </div>
        </div>
        <div id="salariosmed">
            <div class="infosalarios">
                <div class="center">Aportes a seguridad social*</div>
            </div>
            <div class="empleadosmed">
                <div class="empleadomed">
                    <div class="left monto">Total</div>
                    <div id="totalSeguridadSocial" class="right numberpay"></div>
                </div>
            </div>
        </div>
        <div id="salariosmed">
            <div class="infosalarios suscripcion">
                <div class="center">Suscripción symplifica</div>
            </div>
            <div class="empleadosmed">
              <div class="suscripempleados">
                  <div class="col-md-6 contsuscripcionpago" style="{% if employees|length < 2 %}{% endif %}">
                      {% for employeeData in employees %}

                          {% set employee = employeeData['employee'] %}
                          {% set contrato = employeeData['contrato'] %}
                          {% set producto = employeeData['product'] %}

                          <div class="row clearfix paddingbottom">
                              <div class="col-md-12 padding-all-10 employee text-left nombrecont {{ employee.state>0 ?'activo':'inactivo' }}">
                                  <div class="col-md-8 nopadding {{ employee.employeeEmployee.personPerson.gender!='MAS'?'female':'male' }} ">
                                      <div>
                                          <b class="employee_name nombrecont"
                                             style="font-size:large;">{{ employee.employeeEmployee.personPerson.names|upper }}</b><br/>
                                          <span style="font-weight:80;">{{ (employee.employeeEmployee.personPerson.lastname1|lower|capitalize) ~ ' ' ~(employee.employeeEmployee.personPerson.lastname2 |lower|capitalize) }}</span>
                                      </div>
                                      {% set tipo_tiempo_contrato = contrato.workableDaysMonth %}
                                      <div style="font-style:italic; font-weight:100; font-size: small;"
                                           class="{{ ((contrato.workableDaysMonth) >= 20)? 'tiempo_completo':(((contrato.workableDaysMonth) >= 11)? 'medio_tiempo':'trabajo_por_dias' ) }}  "
                                           data-employeeId="{{ employee.idEmployerHasEmployee }}">
                                          Trabaja {{ (contrato.workableDaysMonth)|number_format(0, '.', ',') }} días
                                          al mes
                                      </div>
                                  </div>

                              </div>
                              <div class="col-md-3 padding-all-10">
                                  <div class="btn btn-change-state-contract {{ employee.state>0 ?'on btn-grey':'off btn-orange ' }}"
                                       data-id="{{ employee.idEmployerHasEmployee }}"
                                       data-href="{{ path('change_state_employer_employee', {'id': employee.idEmployerHasEmployee }) }}">{{ employee.state >0?'Inactivar':'Activar' }}</div>
                              </div>
                              <div class="right-susc numberpay suscriptionInd padding-all-10"
                                data-id="{{ employee.idEmployerHasEmployee }}">
                              </div>
                          </div>

                      {% endfor %}
                  </div>

                </div>
            </div>
        </div>
        <div class="col-md-12 result_ajax" style="display: none">
            <span class="glyphicon glyphicon-ok-circle result_ajax_icon"></span>
            <span class="result_ajax_msg"></span>
        </div>
        <div id="salariosmed">
            <div class="infosalarios">
                <div class="center">Costo de transacciones*</div>
            </div>
            <div class="empleadosmed">
                <div class="empleadomed">
                    <div class="left monto">Total</div>
                    <div class="right numberpay">$7.000</div>
                </div>
            </div>
        </div>
        <div id="salariosmed">
            <div class="empleadofoot">
                    <div class="left">Total</div>
                    <div id="totalCostAll" class="right"></div>
            </div>
        </div>
    </div>
    <!--<div class="row padding-left-right-40">
        <div class="col-md-12 nopadding text-left border-botton-darkGray">
            <div class="col-md-6 padding-top-botton-20">
                <span class="x-large" style="padding: 10px 0px 10px 0px;"><em>Sueldos y Seguridad social</em></span>
                <p>
                    El cálculo se basa en la información ingresada por
                    concepto de sueldos y puede variar mes a mes por cada
                    empleado según las novedades que se reporten,
                    cálculos de mora, etc.
                </p>
            </div>
            <div class="col-md-5 pull-right text-center border-all-darkGray "
                 style="height: 90px; vertical-align: middle; padding-top: 20px; margin-top: 45px;">
                <div id="sueldos" class="x-large font-bold dark-blue" style="font-size:35px">
                    $ {{ "0" }}
                </div>
            </div>
        </div>
    </div>

    <div class="row padding-left-right-40">
        <div class="col-md-12 nopadding">
            <div class="col-md-12 text-left padding-top-botton-20">
                <span class="x-large" style="padding: 10px 0px 10px 0px;"><em>Suscripción a Symplifica</em></span>
                <p>
                    El cálculo se basa en la información ingresada por
                    concepto de sueldos y puede variar mes a mes por cada
                    empleado según las novedades que se reporten,
                    cálculos de mora, etc.
                </p>
            </div>

            <div class="col-md-12 text-left">

                <div class="row clearfix">

                    <div class="col-md-5 pull-right text-center">
                        <div class="col-md-12">
                            <span class="subtotalTitle"><em>Este es el valor por:</em><br><b
                                        id="count_employee">{{ employees|length }} Empleados</b></span>
                        </div>
                        <div class="col-md-12 pull-right text-center border-all-darkGray "
                             style="height: 90px; vertical-align: middle; padding-top: 17px; margin-top: 20px;">
                            <div id="divSubtotal" class="x-large font-bold dark-blue">
                                $ {{ total_sin_descuentos|number_format(0,'.',',') }}</div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="col-md-12 result_ajax" style="display: none">
                <span class="glyphicon glyphicon-ok-circle result_ajax_icon"></span>
                <span class="result_ajax_msg"></span>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row padding-left-right-40" style="margin-bottom:10px;">
        <div class="col-md-12 text-center">

        </div>
    </div>

    {% for key, producto in productos %}
        <input type="hidden" id="{{ producto.simpleName }}" value="{{ producto.price }}"/>
        <input type="hidden" id="{{ producto.simpleName }}_IVA" value="{{ producto.taxTax.value }}"/>
    {% endfor %}

    {% if descuento_isRefered['object']|length <=0 %}

        <div class="row text-center margin-left-right-25-40 border-all-darkGray padding-all-10">
            <div class="col-md-12  ">
                <h4 style="font-style: italic; color: #777;"<b>¿Cuentas con algún código de promoción?</b></h4>
                Ingresa un código de referido y recibe un 20% de<br/>
                descuento en la suscripción de ese mes.<br/>
            </div>
            <div class="col-md-12 margin-top-bottom-10">
                <input type="text" name="codigo_referido" id="codigo_referido" class="form-control codigo_referido" maxlength="10"
                       placeholder="Ingresa un código de referido">
                <button id="btnRedimir" class="btn btn-default" value="Redimir"
                        style="margin-top: 0px; font-size: 13px;">Redimir
                </button>
            </div>
            <div class="col-md-12" id="codigo_referido_estado"></div>
        </div>

    {% endif %}
    <br/>
    <div class="row padding-left-right-40">
        <div class="col-md-12 nopadding margin-top-bottom-10">
            <h4 style="font-style: italic; color: #777;"><b>Total a pagar mensualmente</b></h4>
        </div>
        <div class="col-md-12" style="background-color: #F3F1F1; height: auto; overflow: hidden">
            <div class="col-md-12 border-botton-darkGray2 padding-top-botton-10" style="height: auto; overflow: hidden">
                <div class="col-xs-12 col-sm-7 label-primer-pago">
                    <div style="color:#314A5A; font-style: italic;">El primer mes de servicio</div>
                    <div style="color:#777;">(Symplifica te ha obsequiado un mes de servicio)</div>
                </div>
                <div class="col-xs-12 col-sm-5" style="text-align: center; padding-top: 5px">
                    <div id="primerPago" style="font-size: x-large; font-weight: bold; color: lightgrey;">
                        $ {{ total_sin_descuentos|number_format(0,'.',',') }}</div>
                </div>
            </div>
            <div class="col-md-12 padding-top-botton-10" style="height: auto; overflow: hidden">
                <div class="col-xs-12 col-sm-7 label-primer-pago">
                    {% set day_pay = startDate|date("d") %}
                    {% set month_pay = startDate|date("F")|trans %}
                    {% set year_pay = startDate|date("Y") %}
                    <div style="color:#314A5A;">A partir del {{ day_pay }} de {{ month_pay }} de {{ year_pay }}</div>
                </div>
                <div class="col-xs-12 col-sm-5" style="text-align: center; padding-top: 5px">
                    <div id="segundoPago" style="font-size: x-large; font-weight: bold; color: darkgrey;">
                        $ {{ total_sin_descuentos|number_format(0,'.',',') }}</div>
                </div>
            </div>
        </div>
    </div>-->

    <hr>
    <form action="{{ path('subscription_confirm') }}" method="POST">
        <div class="row padding-left-right-40">
            <div class="col-md-12 margin-top-bottom-10 text-center">
                <input type="submit" class="btn btn-orange" value="Asignar método de pago"/>
            </div>
        </div>
    </form>

    <div class="row">
        <br/>
        <div class="col-sm-12 remember text-center" style="opacity: 0.7;">
            <h4 style="font-size: 14px;">* El valor puede variar según las novedades ingresadas mes a mes por cada
                empleado así como también <br/>la cantidad de empleados que registre en el sistema</h4>
        </div>
    </div>




    <!-- Modal Confirm-->
    <div class="modal fade" role="dialog" id="modal_confirm">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-body" style="padding: 0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            style="position: absolute; right: 15px; top: 15px;z-index: 100; color: #fff;"><span
                                aria-hidden="true">&times;</span></button>


                    <div class="row-fluid block-Intro-green clearfix" id="msgSinVerificar1" style="padding: 10px;">
                        <div class="col-sm-2 " style="width: 40px;">
                            <i class="glyphicon glyphicon-ok-sign" style="color:#fff;font-size:27px"></i>
                        </div>
                        <div class="col-sm-10 col-xs-12 up-Intro" style="font-size: 20px;">Confirmación de inactivación
                            de empleado<span>
                        </div>
                    </div>


                    <div class="row-fluid clearfix" style="padding-top: 30px; padding-bottom: 30px;">
                        <div class="col-md-10 col-md-push-1">
                            <p class="text-center">
                                Si inactiva al empleado no se llevará a cabo a través de nuestra herramienta el pago de
                                sueldo ni aportes a seguridad social así como tampoco se gestionará la información
                                relacionada con él.
                            </p>
                            <br/>
                            <p class="text-center" style="font-style: italic;">
                                Tenga en cuenta que debe tener como mínimo un (1) empleado activo.
                            </p>
                            <br/>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-right">
                                <button type="button" class="btn btnPrevious" data-dismiss="modal">Volver atrás</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-orange btn-change-state-contract-confirm">
                                    Confirmar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.modal -->


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/public/js/calculatorSubscription.js"></script>
    <script type="text/javascript">
        var employee = new Array();
        var contrato = new Array();
        var producto = new Array();
        var constraints = new Array();
        {% for key, data in constrains %}
        constraints['{{ key }}'] = {{ data }};
        {% endfor %}

        {% for employeeData in employees %}

        {% set employee = employeeData['employee'] %}
        {% set contrato = employeeData['contrato'] %}
        {% set producto = employeeData['product'] %}

        if (typeof (employee[{{ employee.idEmployerHasEmployee }}]) === 'undefined') {
            employee[{{ employee.idEmployerHasEmployee }}] = new Array();
        }
        if (typeof (contrato[{{ employee.idEmployerHasEmployee }}]) === 'undefined') {
            contrato[{{ employee.idEmployerHasEmployee }}] = new Array();
        }
        if (typeof (producto[{{ employee.idEmployerHasEmployee }}]) === 'undefined') {
            producto[{{ employee.idEmployerHasEmployee }}] = new Array();
        }
        employee[{{ employee.idEmployerHasEmployee }}]['id'] ={{ employee.idEmployerHasEmployee }} ;
        employee[{{ employee.idEmployerHasEmployee }}]['state'] ={{ employee.state }} ;
        contrato[{{ employee.idEmployerHasEmployee }}]['state'] ={{ contrato.state }} ;
        contrato[{{ employee.idEmployerHasEmployee }}]['salary'] ={{ contrato.salary }} ;
        contrato[{{ employee.idEmployerHasEmployee }}]['timeCommitment'] = "{{ contrato.timeCommitmentTimeCommitment.code?contrato.timeCommitmentTimeCommitment.code:0 }}";
        contrato[{{ employee.idEmployerHasEmployee }}]['workableDaysMonth'] ={{ contrato.workableDaysMonth?contrato.workableDaysMonth:0 }} ;
        contrato[{{ employee.idEmployerHasEmployee }}]['transportAid'] ={{ contrato.transportAid?contrato.transportAid:0 }} ;
        contrato[{{ employee.idEmployerHasEmployee }}]['sisben'] ={{ contrato.sisben?contrato.sisben:0 }} ;
        producto[{{ employee.idEmployerHasEmployee }}]['price'] ={{ producto['price'] }} ;
        producto[{{ employee.idEmployerHasEmployee }}]['tax'] ={{ producto['object'].taxTax.value?producto['object'].taxTax.value:0 }} ;
        producto['{{ producto['object'].simpleName }}'] = {{ producto['price'] }};
        {% endfor %}

    </script>
{% endblock %}
