{% extends "::base.html.twig" %}
{% block title %}Symplifica - Suscripción Activada{% endblock %}

{% block stylesheet %}
    {{ parent() }}
{% endblock stylesheet %}
{% block fos_user_content %}
    {% set time_free = 1 %}
    {% set date = date|date_modify("+"~(time_free)~" month") %}
    {% set day_pay = date|date("d") %}
    {% set month_pay = date|date("F")|trans %}
    {% set year_pay = date|date("Y") %}



    <div class="basicConfirmation">

        <div class="col-sm-12 col-xs-12 align-Resp no-Padding-Col azulclaro">
            <div id="" class="col-sm-12 col-xs-12 blockStep inline  nav-link">
                <div id="" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">
                     <img src="/img/block-inline-good.png" class="center-block">
                </div>
                <div id="" class="col-md-10 col-xs-12">
                    <div id="" class="text-left">
                        <h1 style="color:#FFF;margin:25px 0 0;font-weight:600;font-size:25px">¡El registro fue exitoso!</h1>
                        <span style="font-weight:100;color:#FFF;font-size:15px">¡Tus datos y los de tus empleados fueron recibidos y guardados de manera exitosa!</span>
                    </div>
                </div>
            </div>
        </div>

        <dir class="confirmationBlock">
            <br />
            <h4>¿Qué pasos siguen? Sólo debes completar las siguientes tareas:</h4>
            <br>
            <div class="border">
                <div>
                  <div class="imgpaso">
                    <img src="{{ asset('../img/paso1.png') }}" alt="" width="35">
                  </div>
                  <div class="textpaso">
                      <span style="font-weight: bold;color: #35D4D1;">Subir documentos: </span>
                      <p style="color: #6F6F6F;">Escanea o tómale foto a los documentos solicitados en la siguiente página y sube los archivos dando clic en el botón correspondiente.</p>
                  </div>
                </div>
                <br />
                <div style="clear:both;padding-top:20px;">
                  <div class="imgpaso">
                    <img src="{{ asset('../img/paso2.png') }}" alt="" width="35">
                  </div>

                  <div class="textpaso">
                    <span style="font-weight: bold;color: #35D4D1;">Descargar documentos: </span>
                    <p style="color: #6F6F6F;">Verás en tu panel de tareas algunos documentos que debes descargar <strong>(Mandato Symplifica y autorización del empleado).</strong>
                      Estos documentos deberás bajarlos y firmarlos según corresponda (tú o tu empleado) y luego subirlos de nuevo. <strong>No podremos iniciar la validación
                       ni las afiliaciones sin estos documentos.</strong></p>
                  </div>
                </div>
            </div>
            <div class="border" style="margin: 10px 0 0;padding: 15px 30px 20px;">
              <div style="clear:both;">
                  <h4>¡Descarga la APP de Symplifica y sube tus documentos fácilmente!</h4>
                  <p style="color: #6F6F6F;">
                    Te enviamos un correo electrónico donde puedes descargar nuestra aplicación móvil desde tu celular completamente gratis.<br /><br />
                    <strong>Desde nuestra App podrás:</strong><br>
                    &#10003; Recibir notificaciones importantes directamente en tu celular<br>
                    &#10003; Pagar aportes y sueldo de tu empleado en pocos clics<br>
                    &#10003; Reportar incapacidades, adelantos u otras novedades<br>
                    &#10003; Firmar los comprobantes de pago si es en efectivo<br>
                    &#10003; Consultar tu historial de pagos y los datos de tu empleado</p>
               </div>
               <!--<a class="btn btn-azul notAjax" value="Continuar" href="{{ path('show_dashboard') }}" >¡Descarga nuestra App!</a>-->
            </div>

            <div class="referredArea col-sm-12">
                {% include '@RocketSellerTwoPick/User/referredCodeShare.html.twig' ignore missing %}
            </div>


            <div style="clear:both;">
              <hr />
                <h4>¡Aquí empieza el trabajo de Symplifica! </h4>
                <!--<span style="font-weight: bold;color: #35D4D1;">Verificar documentos: </span>-->
                <p style="color: #6F6F6F;">Una vez completadas tus tareas nos encargaremos de revisar tus documentos y hacer las afiliaciones si son necesarias. Muy pronto podrás gestionar a tus empleados desde la plataforma.</p>
              <hr />
           </div>


            <a class="btn btn-orange notAjax" value="Continuar" href="{{ path('show_dashboard') }}" >Continuar</a>
        </dir>

    </div>


    <!--<div>Gracias por contar con nosotros, estamos seguros que simplificaremos lo que hasta ahora era un proceso complejo y mejor aún, minizaremos al máximo el riesgo de eventualidades a futuro.</div>-->

{% endblock %}
