{% extends "::base.html.twig" %}
{% block title %}Symplifica - Activar Suscripción{% endblock %}
{% set day = startDate|date("d") %}
{% set month = startDate|date("F")|trans %}
{% set year = startDate|date("Y") %}
{% set day_pay = startDate|date("d") %}
{% set month_pay = startDate|date("F")|trans %}
{% set year_pay = startDate|date("Y") %}
{% block stylesheet %}
    {{ parent() }}
    <style type="text/css">
        .text-small{
            font-size: 10px;
        }
        span{
            overflow: visible;
        }
        .infoFacturacion{
            text-align: center;
        }
        .infoFacturacion label{
            font-weight: normal;
        }
        /*.infoTarjeta input[type="text"] {
            background-color: #fff;
            border: 1px solid #e5e5e5;
            color: #333;
            display: block;
            font-size: 18px;
            height: 32px;
            padding: 0 5px;
            width: 275px;
            -moz-box-sizing: content-box;
            -webkit-box-sizing: content-box;
        }*/

        .form-inline input[type="number"] {
            height: 46px;
            margin-left: 10px;
            padding: 6px 12px;
            padding-right: 2px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
        }
        .infoTarjeta #credit_card {
            background-image: url(/public/img/creditCard.png), url(/public/img/creditCard.png);
            background-position: 2px -117px, 233px -55px;
            background-size: 120px 361px, 120px 361px;
            background-repeat: no-repeat;
            padding-left: 54px;
            /*width: 225px;*/
        }
        .infoTarjeta #credit_card.visa {
            background-position: 2px -159px, 260px -61px;
        }
        .infoTarjeta #credit_card.visa_electron {
            background-position: 2px -201px, 260px -61px;
        }
        .infoTarjeta #credit_card.mastercard {
            background-position: 2px -243px, 260px -61px;
        }
        .infoTarjeta #credit_card.maestro {
            background-position: 2px -285px, 260px -61px;
        }
        .infoTarjeta #credit_card.discover {
            background-position: 2px -327px, 260px -61px;
        }
        .infoTarjeta #credit_card.amex {
            background-position: 2px -327px, 260px -61px;
        }
        .infoTarjeta #credit_card.diners_club_carte_blanche {
            background-position: 2px -327px, 260px -61px;
        }
        .infoTarjeta #credit_card.valid.visa {
            background-position: 2px -159px, 233px -82px;
        }
        .infoTarjeta #credit_card.valid.visa_electron {
            background-position: 2px -201px, 233px -82px;
        }
        .infoTarjeta #credit_card.valid.mastercard {
            background-position: 2px -243px, 233px -82px;
        }
        .infoTarjeta #credit_card.valid.maestro {
            background-position: 2px -285px, 233px -82px;
        }
        .infoTarjeta #credit_card.valid.discover {
            background-position: 2px -327px, 233px -82px;
        }
        .infoTarjeta #credit_card.valid.amex {
            background-position: 2px -327px, 233px -82px;
        }
        .infoTarjeta #credit_card.valid.diners_club_carte_blanche {
            background-position: 2px -327px, 233px -82px;
        }
        .toHide{
            display: none;
        }
        .blockUpData .radio {
            width: 50%;
            display: inline-flex;
        }
        .blockUpData label{
            min-height: 1px;
        }
        #pagoMembresiaFormContainer input[type="text"],#pagoMembresiaFormContainer input[type="number"]{
            color: #919191;
        }
        #expiry_date_month, #expiry_date_year, #cvv{
            /*width: 70px;*/
        }
        .cvvHelp{
            display: inline-block;
            padding: 10px;
        }
        .cvvHelp:hover{
            cursor: pointer;
        }
        .codigo_referido_valido{
            color: green;
        }
        .codigo_referido_invalido{
            color: red;
        }
        .form-group select{
            width: 100%
        }

        #pago_membresia_personType .radio:last-child {
            color: #c2c2c2;
        }

        /*
        .blockStep2 {
            margin-top: 10px;
            background: #3b4b5a !important;
            background-image: none;
            background: 0 0;
            border: 1px solid #919191;
            border-radius: 0;
            box-shadow: none;
            margin-bottom: 20px;
            padding: 15px;
            text-shadow: none;
            color: #fff;
            opacity: 0.8;
        }
        .blockStep2 .txt-AD1 {
            font-family: "Open Sans";
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
            color: #fff;
            white-space: normal;
        }

        .blockStep2 .txt-AD1 p {
            font-size: 14px;
            font-family: @lato;
            font-weight: 100;
            margin-bottom: 0px;
        }
        */
        .label-group{
            text-align: right !important;
        }
        .form-select{
            color: yellow !important;
        }
        input[type='number'] {
            -moz-appearance:textfield;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        .label{
            font-weight: normal;
        }
        .form-control{
            color: #555;
        }
        .form-group input{            
            color: #555;
        }
        .infoTarjeta, .infoDebito{
            padding-left: 150px;
            padding-right: 150px;

        }
        input[type="radio"] {
            -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
            -moz-appearance: checkbox;    /* Firefox */
            -ms-appearance: checkbox;     /* not currently supported */
        }
    </style>
{% endblock stylesheet %}
{% block fos_user_content %}
    <div class="col-md-12 align-Resp">
        <div id="" class="col-md-12 blockStep inline">
            <div id="" class="col-md-2 txt-AD0" style="text-align: left;">
                <img src="/img/block-inline.png" class="center-block">
            </div>
            <div id="" class="col-md-10 txt-AD1">
                <div id="" class="text-left">
                    <span class="step">Paso 3 de 3</span>
                    Subscripción a Symplifica
                </div>
            </div>
        </div>
    </div>

    <form name="pago_membresia" action="{{ path('subscription_pay') }}" method="POST">
        <div class="row">
            <div class="col-md-12 text-center" style="padding: 50px 200px 0px 200px;">
                Para que puedas realizar los pagos de nómina, aportes y nuestro
                servicio necesitamos que registres un medio de pago del cuál te
                haremos el cargo mensual
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center" style="padding: 20px 200px 0px 200px;">
                <div style="font-weight: bold">Selecciona el medio de pago</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 text-center" style="padding: 5px 5px 5px 5px;">
                <input type="radio" id="creditCard_radio" name="typeMethod" value="creditCard" checked="true"/>
                <label for="creditCard_radio" style="font-weight: normal;">Tarjeta de Crédito</label>
            </div>
            <div class="col-md-6 text-center" style="padding: 5px 5px 5px 5px;">
                <input type="radio" id="debito_radio" name="typeMethod" value="debito"/>
                <label for="debito_radio" style="font-weight: normal;">Cuenta de Ahorros</label>                
            </div>
            <div class="col-md-12 text-center" style="padding: 5px 5px 5px 5px;"> 
                Por su seguridad el medio de pago debe estar a nombre del empleador
            </div>
        </div>
        <hr>
        <div id="infoTarjeta" class="infoTarjeta blockUpData content-input">
            <div class="col-md-12 text-center">
                <span style="margin-top: 20px"><h4>Información de la tarjeta de credito*</h4></span>
                <!--<input type="checkbox" name="chkSameTCC" id="chkSameTCC" value="1" checked/>
                <label for="chkSameTCC" style="font-weight: normal">Usar la misma tarjeta de crédito del pago de sueldo de los empleados</label>  -->
            </div>
            <div class="col-md-12">
                <div class="col-md-12 ">
                    <div class="col-md-12">
                        <label>Nombre en la tarjeta:</label>
                    </div>
                    <div class="col-md-12 form-group">
                        <input type="text" id="name_on_card" name="name_on_card" class="form-control" placeholder="Nombre" required="required">
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-12 ">
                    <div class="col-md-12">
                        <label>Número tarjeta de crédito:</label>
                    </div>
                    <div class="col-md-12 form-group">
                        <input type="number" min="1"  step="1" id="credit_card" name="credit_card" class="form-control" placeholder="1234 5678 9012 3456" required="required">
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6 ">
                    <div class="col-md-12">
                        <label>Fecha de vencimiento</label>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6 form-group">
                            <select id="expiry_date_month" name="expiry_date_month" class="form-control" required="required">
                                <option value="">Mes</option>
                                <option value="01">1</option>
                                <option value="02">2</option>
                                <option value="03">3</option>
                                <option value="04">4</option>
                                <option value="05">5</option>
                                <option value="06">6</option>
                                <option value="07">7</option>
                                <option value="08">8</option>
                                <option value="09">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                        <div class=" col-md-6 form-group">
                            <input type="number" class="form-control"  min="2016" max="9999" step="1" maxlength="4" minlength="4" name="expiry_date_year" id="expiry_date_year" placeholder="Año" required="required">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="col-md-12">
                        <label>Código de seguridad:</label>
                    </div>
                    <div class="col-md-12 form-group">
                        <input type="number" class="form-control" name="cvv" id="cvv" min="1" max="9999" minlength="3" maxlength="4" placeholder="123" required="required">
                    </div>
                </div>
            </div>
        </div>

        <div id="infoDebito" class="infoDebito blockUpData content-input" style="display: none">
            <div class="col-md-12 text-center">
                <span style="margin-top: 20px"><h4>Información de la cuenta bancaria*</h4></span>
                <!--<input type="checkbox" name="chkSameTCC" id="chkSameTCC" value="1" checked/>
                <label for="chkSameTCC" style="font-weight: normal">Usar la misma tarjeta de crédito del pago de sueldo de los empleados</label>  -->
            </div>
            <div class="col-md-12">
                <div class="col-md-12 ">
                    <div class="col-md-12">
                        <label>Titular de la cuenta</label>
                    </div>
                    <div class="col-md-12 form-group">
                        <input type="text" id="name_on_card" name="name_on_card" class="form-control" placeholder="Nombre" required="required">
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-12 ">
                    <div class="col-md-12">
                        <label>Banco</label>
                    </div>
                    <div class="col-md-12 form-group">
                        {{ form_widget(form.bank) }}
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-12 ">
                    <div class="col-md-12">
                        <label>Tipo de Cuenta</label>
                    </div>
                    <div class="col-md-12 form-group">
                        {{ form_widget(form.accountType) }}
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-12 ">
                    <div class="col-md-12">
                        <label>Número de la cuenta</label>
                    </div>
                    <div class="col-md-12 form-group">
                        <input type="text" id="numberAccount" name="numberAccount" class="form-control" placeholder="Número de la cuenta" required="required">
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-12" style="margin: 30px 0 20px 0;">
            <div class="col-md-1">
            </div>
            <div class="col-md-11 center">
                <input type="checkbox" id="tos" name="tos">
                <label for="tos">Acepto los <a target="_blank" href="{{ path('terminos_condiciones') }}">términos y condiciones</a>  de Symplifica para que se me haga el cargo a esta tarjeta de<br/>los servicios prestados por Symplifica y de los pagos de nómina y aportes de mis empleados</label>                
            </div>
        </div>

        <div class="col-md-12 center">
            <input type="button" class="btn btnPrevious" id="btnBack" value="Volver Atrás" onclick="window.location.href = '{{ path('subscription_choices') }}'"/>
            <input type="submit" id="sumbit" class="btn btn-orange " value="Finalizar" disabled/>
        </div>


    </form>

{% endblock %}