{% extends "::base.html.twig" %}
{% block title %}Symplifica - Activar Suscripción{% endblock %}
{% set day = startDate|date("d") %}
{% set month = startDate|date("F")|trans %}
{% set year = startDate|date("Y") %}
{% set day_pay = startDate|date("d") %}
{% set month_pay = startDate|date("F")|trans %}
{% set year_pay = startDate|date("Y") %}
{% block stylesheet %}
    {{ parent() }}
    <style type="text/css">
        .text-small{
            font-size: 10px;
        }
        span{
            overflow: visible;
        }
        .infoFacturacion{
            text-align: center;
        }
        .infoFacturacion label{
            font-weight: normal;
        }
        /*.infoTarjeta input[type="text"] {
            background-color: #fff;
            border: 1px solid #e5e5e5;
            color: #333;
            display: block;
            font-size: 18px;
            height: 32px;
            padding: 0 5px;
            width: 275px;
            -moz-box-sizing: content-box;
            -webkit-box-sizing: content-box;
        }*/

        .form-inline input[type="number"] {
            height: 46px;
            margin-left: 10px;
            padding: 6px 12px;
            padding-right: 2px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
        }
        .infoTarjeta #pagoMembresia_credit_card {
            background-image: url(/public/img/creditCard.png), url(/public/img/creditCard.png);
            background-position: 2px -117px, 233px -55px;
            background-size: 120px 361px, 120px 361px;
            background-repeat: no-repeat;
            padding-left: 54px;
            /*width: 225px;*/
        }
        .infoTarjeta #pagoMembresia_credit_card.visa {
            background-position: 2px -159px, 260px -61px;
        }
        .infoTarjeta #pagoMembresia_credit_card.visa_electron {
            background-position: 2px -201px, 260px -61px;
        }
        .infoTarjeta #pagoMembresia_credit_card.mastercard {
            background-position: 2px -243px, 260px -61px;
        }
        .infoTarjeta #pagoMembresia_credit_card.maestro {
            background-position: 2px -285px, 260px -61px;
        }
        .infoTarjeta #pagoMembresia_credit_card.discover {
            background-position: 2px -327px, 260px -61px;
        }
        .infoTarjeta #pagoMembresia_credit_card.amex {
            background-position: 2px -327px, 260px -61px;
        }
        .infoTarjeta #pagoMembresia_credit_card.diners_club_carte_blanche {
            background-position: 2px -327px, 260px -61px;
        }
        .infoTarjeta #pagoMembresia_credit_card.valid.visa {
            background-position: 2px -159px, 233px -82px;
        }
        .infoTarjeta #pagoMembresia_credit_card.valid.visa_electron {
            background-position: 2px -201px, 233px -82px;
        }
        .infoTarjeta #pagoMembresia_credit_card.valid.mastercard {
            background-position: 2px -243px, 233px -82px;
        }
        .infoTarjeta #pagoMembresia_credit_card.valid.maestro {
            background-position: 2px -285px, 233px -82px;
        }
        .infoTarjeta #pagoMembresia_credit_card.valid.discover {
            background-position: 2px -327px, 233px -82px;
        }
        .infoTarjeta #pagoMembresia_credit_card.valid.amex {
            background-position: 2px -327px, 233px -82px;
        }
        .infoTarjeta #pagoMembresia_credit_card.valid.diners_club_carte_blanche {
            background-position: 2px -327px, 233px -82px;
        }
        .toHide{
            display: none;
        }
        .blockUpData .radio {
            width: 50%;
            display: inline-flex;
        }
        .blockUpData label{
            min-height: 1px;
        }
        #pagoMembresiaFormContainer input[type="text"],#pagoMembresiaFormContainer input[type="number"]{
            color: #919191;
        }
        #expiry_date_month, #expiry_date_year, #cvv{
            /*width: 70px;*/
        }
        .cvvHelp{
            display: inline-block;
            padding: 10px;
        }
        .cvvHelp:hover{
            cursor: pointer;
        }
        .codigo_referido_valido{
            color: green;
        }
        .codigo_referido_invalido{
            color: red;
        }
        .form-group select{
            width: 100%
        }

        #pago_membresia_personType .radio:last-child {
            color: #c2c2c2;
        }

        /*
        .blockStep2 {
            margin-top: 10px;
            background: #3b4b5a !important;
            background-image: none;
            background: 0 0;
            border: 1px solid #919191;
            border-radius: 0;
            box-shadow: none;
            margin-bottom: 20px;
            padding: 15px;
            text-shadow: none;
            color: #fff;
            opacity: 0.8;
        }
        .blockStep2 .txt-AD1 {
            font-family: "Open Sans";
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
            color: #fff;
            white-space: normal;
        }

        .blockStep2 .txt-AD1 p {
            font-size: 14px;
            font-family: @lato;
            font-weight: 100;
            margin-bottom: 0px;
        }
        */
        .label-group{
            text-align: right !important;
        }
        .form-select{
            color: yellow !important;
        }
        input[type='number'] {
            -moz-appearance:textfield;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        .label{
            font-weight: normal;
        }
        .form-control{
            color: #555;
        }
        .form-group input{            
            color: #555;
        }
        .infoTarjeta, .infoDebito{
            padding-left: 150px;
            padding-right: 150px;

        }
        input[type="radio"] {
            -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
            -moz-appearance: checkbox;    /* Firefox */
            -ms-appearance: checkbox;     /* not currently supported */
        }

        #infoDebito label, #infoTarjeta label {
            font-style: italic;
        }
    </style>
{% endblock stylesheet %}
{% block fos_user_content %}
    <div class="row">
        <div class="col-md-12 align-Resp">
            <div id="" class="col-md-12 blockStep inline">
                <div id="" class="col-md-2 txt-AD0" style="text-align: left;">
                    <img src="/img/block-inline.png" class="center-block">
                </div>
                <div id="" class="col-md-10 txt-AD1">
                    <div id="" class="text-left">
                        <span class="step">Paso 3 de 3</span>
                        Medio de pago
                    </div>
                </div>
            </div>
        </div>
        <div class="formulario" style="padding-top: 30px; border-bottom: 1px solid #E6E7E8;">
            <div class="col-sm-12 remember">
                <span style="color:#666; font-weight:300"><i class="fa fa-info-circle"></i> Recuerda que los campos marcados con * son obligatorios</span>
            </div>
        </div>
    </div>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center" style="padding: 20px">
            Para que puedas realizar los pagos de nómina, aportes y nuestro
            servicio necesitamos que registres un medio de pago del cuál te
            haremos el cargo mensual
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center" style="padding: 10px 200px 2px 200px;">
            <h4><strong>Selecciona el medio de pago</strong></h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-offset-3 text-center" style="padding: 5px 5px 5px 5px;">
            <input type="radio" id="creditCard_radio" name="typeMethod" value="creditCard" class="disabled" disabled />
            <label for="creditCard_radio" style="font-weight: normal;"><em style="color:#ccc">Tarjeta de Crédito</em></label>
        </div>
        <div class="col-md-3 text-center" style="padding: 5px 5px 5px 5px;">
            <input type="radio" id="debito_radio" name="typeMethod" value="debito" checked="true"/>
            <label for="debito_radio" style="font-weight: normal;"><em>Cuenta de Ahorros</em></label>                
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center text-muted" style="padding: 5px 5px 5px 5px;font-size:12px"> 
            Por su seguridad el medio de pago debe estar a nombre del empleador
        </div>
    </div>
    <hr>
    <div id="infoTarjeta" class="infoTarjeta blockUpData content-input" style="display: none">
        <div class="col-md-12 text-center">
            <span style="margin-top: 10px"><h4>Información de la tarjeta de credito*</h4></span>
            <!--<input type="checkbox" name="chkSameTCC" id="chkSameTCC" value="1" checked/>
            <label for="chkSameTCC" style="font-weight: normal">Usar la misma tarjeta de crédito del pago de sueldo de los empleados</label>  -->
        </div>

        <div class="col-md-12" style="margin-top: 10px;">
            <div class="col-md-12 ">
                <div class="col-md-12">
                    {{ form_label(form.name_on_card) }}
                </div>
                <div class="col-md-12 form-group">
                    {{ form_widget(form.name_on_card) }}
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-12 ">
                <div class="col-md-12">
                    {{ form_label(form.credit_card) }}
                </div>
                <div class="col-md-12 form-group">
                    {{ form_widget(form.credit_card) }}                        
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-6 ">
                <div class="col-md-12">
                    {{ form_label(form.expiry_month) }} 
                </div>
                <div class="col-md-12">
                    <div class="col-md-6 form-group">
                        {{ form_widget(form.expiry_month) }} 
                    </div>
                    <div class=" col-md-6 form-group">
                        {{ form_widget(form.expiry_year) }}                             
                    </div>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="col-md-12">
                    {{ form_label(form.cvv) }} <i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="left" title="Son los 3 dígitos de seguridad que encontrarás en la parte posterior de tu tarjeta"></i>
                </div>
                <div class="col-md-12 form-group">
                    {{ form_widget(form.cvv) }}                     
                </div>
            </div>
        </div>
    </div>

    <div id="infoDebito" class="infoDebito blockUpData content-input" style="display: block">
        <div class="col-md-12 text-center">
            <span style="margin-top: 10px"><h4>Información de la cuenta bancaria*</h4></span>
            <!--<input type="checkbox" name="chkSameTCC" id="chkSameTCC" value="1" checked/>
            <label for="chkSameTCC" style="font-weight: normal">Usar la misma tarjeta de crédito del pago de sueldo de los empleados</label>  -->
        </div>
        <div class="col-md-12">
            <div class="col-md-12 ">
                <div class="col-md-12">
                    {{ form_label(form.titularName) }}  
                </div>
                <div class="col-md-12 form-group">                        
                    {{ form_widget(form.titularName) }}  
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-12 ">
                <div class="col-md-12">
                    {{ form_label(form.documentType) }}  
                </div>
                <div class="col-md-12 form-group">                        
                    {{ form_widget(form.documentType) }}  
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-12 ">
                <div class="col-md-12">
                    {{ form_label(form.documentNumber) }}  
                </div>
                <div class="col-md-12 form-group">                        
                    {{ form_widget(form.documentNumber) }}  
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-12 ">
                <div class="col-md-12">
                    {{ form_label(form.bank) }}
                </div>
                <div class="col-md-12 form-group">
                    {{ form_widget(form.bank) }}
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-12 ">
                <div class="col-md-12">
                    {{ form_label(form.accountType) }}
                </div>
                <div class="col-md-12 form-group">
                    {{ form_widget(form.accountType) }}
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-12 ">
                <div class="col-md-12">
                    {{ form_label(form.numberAccount) }}
                </div>
                <div class="col-md-12 form-group">
                    {{ form_widget(form.numberAccount) }}
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-12" style="border-bottom: 1px solid #e6e7e8; padding-bottom: 10px; margin: 10px 0px 20px;">
        <div class="col-md-12 center">

              <div class="checkbox">
                <label>
                  <input type="checkbox" id="tos" name="tos"> <span style="display:inline;text-align: left; font-weight: 100; font-size: 12px;">Acepto los <a target="_blank" href="{{ path('terminos_condiciones') }}">términos y condiciones</a>  de Symplifica para que se me haga el cargo a esta tarjeta de<br/>los servicios prestados por Symplifica y de los pagos de nómina y aportes de mis empleados</span>   
                </label>
              </div>

            
                         
        </div>
    </div>

    <div class="col-md-12 center">
        <input type="button" class="btn btnPrevious" id="btnBack" value="Volver Atrás" onclick="window.location.href = '{{ path('subscription_choices') }}'"/>
        <input type="submit" id="sumbit" class="btn btn-orange " value="Finalizar" disabled/>
    </div>


    {{ form_end(form) }}

{% endblock %}