{% extends "::base.html.twig" %}
{% block title %}Symplifica - Suscripción Activada{% endblock %}

{% block stylesheet %}
    {{ parent() }}
{% endblock stylesheet %}
{% block fos_user_content %}
    {% set time_free = 1 %}
    {% set date = date|date_modify("+"~(time_free)~" month") %}
    {% set day_pay = date|date("d") %}
    {% set month_pay = date|date("F")|trans %}
    {% set year_pay = date|date("Y") %} 



<div class="basicConfirmation">

    <div class="col-sm-12 col-xs-12 align-Resp" style="margin-bottom: 30px;">
        <div id="" class="col-sm-12 col-xs-12 blockStep inline">
            <div id="" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">
                <img src="/img/block-complete.png" class="center-block">                    
            </div>
            <div id="" class="col-md-10 col-xs-12 txt-AD1">
                <div id="" class="text-left">
                    ¡El pago fue exitoso!
                </div>
            </div>
        </div>
    </div>

    <dir class="confirmationBlock">
        <h3>La suscripción fue realizada exitosamente</h3>
        <br />
        <p>El valor del servicio será cargado a tu tarjeta de crédito a partir del {{ day_pay }} de {{ month_pay }} de {{ year_pay }} calculado de acuerdo a la información de empleados registrada en el sistema.</p>
        <br />
        <p><strong>Recibe un 20% de descuento por cada persona use tu código de referido para pagar su suscripción:</strong></p>
        <h4>Código de referido:</h4>
        <h2>{{ user.code }}</h2>
        <hr />
        <a class="btn btn-orange" value="Continuar" href="{{ path('matrix_choose') }}" >Continuar</a>
    </dir>

</div>    


    <!--<div>Gracias por contar con nosotros, estamos seguros que simplificaremos lo que hasta ahora era un proceso complejo y mejor aún, minizaremos al máximo el riesgo de eventualidades a futuro.</div>-->
    
{% endblock %}