{% extends "::base.html.twig" %}
{% block content %}
    <div>
        <div class="col-sm-12 col-xs-12 align-Resp azulclaro">
            <div id="" class=" col-sm-12 col-xs-12 blockStep inline  nav-link" >
                <div id="" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">
                     <img src="/img/block-inline.png" class="center-block">
                </div>
                <div id="" class="col-md-10 col-xs-12">
                    <div id="" class="text-left">
                        <h1 style="color:#FFF;margin:25px 0 0;font-size:25px" class="bold">¡Hola {{ app.user.getPersonPerson().getNames() }}!</h1>
                        <span clas="light" style="color:#FFF;margin:0;font-weight:100;font-size:20px">Aquí podras generar tus certificados</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-xs-12 block-Data symplificate">
        <h1>Symplifícate</h1>
        <span>Genera los certificados que quieres para ti y tus empleados registrados.</span>
    </div>
    <br></br>
    {% if employerHasEmployees|length==0 %}
        <div class="col-sm-12 col-xs-12 block-Data symplificate">
            <span>En el momento que tus empleados estén activos podrás descargar los certificados que necesites.</span>
        </div>
    {% else %}
        {#<form class="form col-md-12" method="POST" enctype="multipart/form-data" action="{{path('show_certificates',{'id': employee.idEmployee})}}">#}
        <form class="form col-md-12" method="POST" enctype="multipart/form-data" action="{{path('show_certificates')}}">
            <div class="col-md-2"></div>
            <div class="form-group col-md-4">
                <label for="sel1">Nombre del solicitante</label>
                <select class="form-control" name="employee">
                    {% for employerHasEmployee in employerHasEmployees %}
                        <option value="{{ employerHasEmployee.employeeEmployee.idEmployee }}">{{ employerHasEmployee.employeeEmployee.personPerson.names ~ ' ' ~ employerHasEmployee.employeeEmployee.personPerson.lastname1}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="sel1">Tipo de certificado</label>
                <select class="form-control" name="certificate">
                    <option value="1">Certificado Laboral</option>{#
                    <option value="2">Certificado de aportes</option>
                    <option value="3">Certificado de ingresos y retenciones</option>#}
                </select>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-12 text-center">
                <br />
                <button class="btn btn-symplifica" type="submit">Generar certificado</button>
            </div>
        </form>
    {% endif %}

{% endblock %}
