{% block content %}
    <h1 align="center">{{ employer.personPerson.names|upper}} {{ employer.personPerson.lastName1|upper}} {{ employer.personPerson.lastName2|upper}}</h1>
    <p align="center">1037634890</p>
    <br align="center"></br>
    <h2 align="center">CERTIFICA QUE:</h1>
    <p align="center"></p>
    La persona {{ employee.personPerson.names }} {{employee.personPerson.lastName1 }} identificada con {{ employee.personPerson.documentType }} número {{ employee.personPerson.document }} de Bogotá desempeñó labores de servicio doméstico durante el periodo SEPTIEMBRE 1 de 2015 hasta {{ "now"|date("F")|upper }} {{ "now"|date("d") }} de {{ "now"|date("Y") }}, de acuerdo a la relación contractual que se encuentra establecida conmigo, con una asignación salarial de $45.000 pesos colombianos diarios.
    <br align="center">
    <p align="center"></p>
    La anterior certificación se expide a solicitud del interesado, a los {{ "now"|date("d") }} días del mes de {{ "now"|date("F") }} de {{ "now"|date("Y") }}.
{% endblock %}

