{% extends "::base.html.twig" %}
{% block fos_user_content %}
    {% block stylesheets %}
        <style>
            .dashboard_employer_pending_tasks {
                display: inline-block;
            }

            .dashboard_employer_pending_tasks > .col-xs-12 {
                padding-top: 20px;
                padding-bottom: 10px;
                background-color: #F5F5F6;
                border-radius: 5px;
                margin-bottom: 30px;
            }

            .dashboard_employer_pending_tasks_list {
                padding-left: 20px;
                border-radius: 7px;
                padding-top: 15px;
                display: inline-block;
                width: 100%;
                background: #FBFBFB;
                margin: 5px;
            }

            .panel_btn {
                margin: 0 auto;
                text-align: center;
                width: 80%;
                background-color: #BE1E2D;
                margin-bottom: 10px;
                color: #000;
                padding: 5px 5px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
            }

            .panel_btn_action {
                margin: 0 auto;
                text-align: center;
                width: 80%;
                margin-bottom: 10px;
                background-color: #3c4b5a;
                color: #000;
                padding: 5px 5px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
            }

            .panel-deadline {
                text-align: center;
                width: 100%;
                color: #f00;
            }

            .label-group {
                font-size: 13px;
                font-weight: 200;
                min-height: 60px;
            }

            .download-link, .download-link:hover {
                color: #fff;
                background-color: #FD9224;
                font-size: 12px;
                padding: 5px;
                cursor: pointer;
                min-width: 100px;
                border-radius: 3px;
                font-weight: bold;
                padding-left: 40px;
            }

            .action-link, .action-link:hover, action-link:visited {
                color: #fff;
                background-color: #1fcecb;
                font-size: 12px;
                font-weight: bold;
                padding: 5px;
                cursor: pointer;
                min-width: 107px;
                display: block;
                text-align: center;
                border-radius: 3px;
            }

            .panel-title {
                margin-left: 10px;
            }

            .type_alert {
                background-color: #BE1E2D;
            }

            .type_mensaje {
                background-color: lightskyblue;
            }

            .type_notification {
                background-color: lightgreen;
            }

            .type_informative {
                background-color: blue;
            }

            .type_reminder {
                background-color: green;
            }

            .badge_minimize:hover {
                background-color: darkgrey;
                cursor: pointer;
            }

            .description {
                font-weight: bold;
                font-style: normal;
                font-size: 13px;
            }

            .description_list {
                margin-bottom: 15px;
                font-weight: 100;
                font-style: normal;
                font-size: 16px;
                display: inline-block;
                vertical-align: -webkit-baseline-middle;
                margin-left: 10px;
                width: 75%;
            }

            .deadline {
                font-family: 'Arial Regular', 'Arial';
                font-weight: 400;
                font-style: normal;
                font-size: 13px;
                color: #666666;
            }

            .deadline_alert {
                font-family: 'Arial Regular', 'Arial';
                font-weight: 400;
                font-style: normal;
                font-size: 13px;
                color: red;
            }

            .deadline_warning {
                font-family: 'Arial Regular', 'Arial';
                font-weight: 400;
                font-style: normal;
                font-size: 13px;
                color: orange;
            }

            .panel-heading {
                padding: 0px !important;
            }

            .panel-body {
                text-align: center;
            }

            .panel-logo {
                height: 100px;
            }

            .label-as-badge {
                height: 20px;
                width: 100%;
                padding: 2px;
                color: black;
                font-size: 15px;
                border-radius: 0px !important;
            }

            .label_list {
                padding: 0px 10px 5px 10px;
                margin: 0px;
                display: inline;
                vertical-align: -webkit-baseline-middle;
            }

            .glyphicon-th-large {
                color: #3C4B5A;
            }

            .glyphicon-th-large:hover {
                color: #3C4B5A;
                cursor: pointer;
            }

            .glyphicon-th-list {
                color: #3C4B5A;
            }

            .dashboard_employer_order_by_select {
                width: 25%;
                height: 35px;
            }

            .dashboard_employer_contador_div {
                padding: 5px 30px 5px 30px;
                display: inline-block;
            }

            .dashboard_employer_reminder {
                display: -webkit-box;

            }

            .dashboard_employer_contador_text {
                font-weight: bold;
            }

            .dashboard_employer_head {
                width: 100%;
                padding: 10px;
                display: -webkit-inline-box;
                border-bottom: solid #efefef;
                border-width: 0;
            }

            .dashboard_employer_contador_type_alert {
                background-color: #df8728;
                height: 10px;
                width: 10px;
                margin-top: 4px;
                margin-right: 6px;
                display: inline-block;
                float: left;
                border-radius: 15px;
            }

            .contador_logo {
                height: 50px;
            }

            .dashboard_employer_contador_type_notification {
                background-color: #1fcecb;
                height: 10px;
                width: 10px;
                margin-top: 4px;
                margin-right: 6px;
                display: inline-block;
                float: left;
                border-radius: 15px;
            }

            .dashboard_employer_contador_type_mensaje {
                background-color: #00CDCC;
                height: 10px;
                width: 100%;
                display: inline-block;
            }

            .dashboard_employer_order_by {
                width: 100%;
                border-left: solid #efefef;
                border-width: 2px;
                padding-left: 20px;
                padding-bottom: 20px;
            }

            .dashboard_employer_contador {
                width: 60%;
            }

            .view {
                margin-left: 0;
                font-size: 15px;
            }

            .view:hover {
                text-decoration: none;
                cursor: pointer;
            }

            a:hover {
                text-decoration: none;
            }

            .dashboard_employer_order_by_select {
                margin-bottom: 10px;
            }

            .btn_list {
                display: -webkit-inline-box;
                vertical-align: -webkit-baseline-middle;
                padding: 0 10px;
            }

            .deadline_list {
                display: -webkit-inline-box;
                vertical-align: -webkit-baseline-middle;
            }



            .reminder_title {
                display: block;
                text-align: center;
                padding: 20px 10px 20px 10px;
                font-weight: 200;
                font-size: 21px;
                color: #808284;
                border-top-color: #efefef;
                border-top-style: solid;
                border-top-width: 1px;
                border-right-color: black;
                border-right-style: solid;
                border-right-width: 0px;
                border-bottom-color: black;
                border-bottom-style: solid;
                border-bottom-width: 0px;
                border-left-color: black;
                border-left-style: solid;
                border-left-width: 0px;
            }

            .notification_contenedor {
                display: table;
            }

            #modal-body {
                position: absolute;
                top: 0;
                width: 100%;
            }

            .form-group {
                text-align: center;
            }

            #add_document_save {
                text-align: center;
                margin-top: 40px;
            }
        </style>
    {% endblock %}
    <title>{% block title %}Tu tablero de control - Symplifica{% endblock %}</title>
    {# dump(user) #}
    {% if notifications %}
        <div class="row">
            <div class="col-sm-12 text-center">
                <img src="{{ asset('/img/hola.png') }}">
                <h3 class="blueHeadline">¡ Bienvenido {{ app.user.getPersonPerson().getNames() }} !</h3>
                <h5>Este es tu resumen de tareas</h5>
            </div>
        </div>
        {# dump(notifications) #}
        <div class="dashboard_employer_head">
            <div class="col-sm-7" style=" font-size: 12px;">
                <div class="row">
                    <div class="col-sm-5">
                        <p class="txthelp col-sm-12">Ordenar por:</p>
                        <select class="col-sm-12 form-group form-control dashboard_employer_order_by_select"
                                style="width: 100%;">
                            {% set view = {'view' : app.request.get('view')} %}
                            <option value="{{ path('show_dashboard_employer',  view|merge( { 'orderBy': 'deadline' })) }}"
                                    {{ app.request.get('orderBy') == 'deadline'?'selected':'' }}>Fecha Límite
                            </option>
                            <option value="{{ path('show_dashboard_employer', view|merge( { 'orderBy': 'type' })) }}"
                                    {{ app.request.get('orderBy') == 'type'?'selected':'' }}>Tipo Tarea
                            </option>
                        </select>
                    </div>
                    {% set orderBy = {'orderBy' : app.request.get('orderBy')} %}
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>&nbsp;</p>
                                <a href="{{ path('show_dashboard_employer', orderBy|merge( { 'view': 'panel' })) }}"
                                   style="color:#3C4B5A !important; font-size: 12px;"><span
                                            class="glyphicon glyphicon-th-large view"></span> Cuadricula</a>
                            </div>
                            <div class="col-sm-6">
                                <p>&nbsp;</p>
                                <a href="{{ path('show_dashboard_employer', orderBy|merge( { 'view': 'list' })) }}"
                                   style="color:#3C4B5A !important; font-size: 13px;"><span
                                            class="glyphicon glyphicon-th-list view"></span> Listado</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5" style=" font-size: 12px;">
                <div class="row">
                    <div class="col-sm-5 dashboard_employer_contador_div">
                        <p>&nbsp;</p>
                        <span class="dashboard_employer_contador_type_alert"></span>
                        <span class="txthelp" style=" font-size: 12px;"><p>Alertas</p></span>
                    </div>
                    <div class="col-sm-7 dashboard_employer_contador_div">
                        <p>&nbsp;</p>
                        <span class="dashboard_employer_contador_type_notification"></span>
                        <span class="txthelp" style=" font-size: 12px;"><p>Notificaciones</p></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="notification_contenedor col-md-12">
                {% for notification in notifications %}
                    {% if notification.status == 1 and (notification.type == 'alert'  or notification.type == 'notification' or notification.type == 'mensaje'  ) %}
                        {% if app.request.get('view') == 'panel' %}
                            <div class="dashboard_employer_pending_tasks col-md-4">
                                <div class="col-xs-12">
                                    <div class="panel-body">
                                        <p class="label-group">
                                            {{ notification.description }}
                                        </p>
                                        <div class="panel-deadline col-sm-12">
                                            {% if notification.deadline %}
                                                {% set str_deadline = 'Fecha límite: ' %}
                                                {% set deadline_type =  '' %}
                                                {% set difference = date().diff(date(notification.deadline)) %}
                                                {% if difference.invert== 1 %}
                                                    {% set deadline_type = '_alert' %}
                                                    {% set str_deadline =  str_deadline ~ '-' %}
                                                {% endif %}
                                                {% if difference.days == 1 %}
                                                    {% set deadline_type =  '_warning' %}
                                                    {% set str_deadline =  str_deadline ~ '1 día' %}
                                                {% else %}
                                                    {% set str_deadline =  str_deadline ~(  difference.days ~ ' días') %}
                                                {% endif %}
                                                <span class="deadline{{ deadline_type }}">{{ str_deadline }}</span>
                                            {% endif %}
                                        </div>
                                    </div>

                                    {% if notification.accion %}
                                        {% if (notification.accion|lower|trim) == "subir" %}
                                            <div class="panel_btn">
                                                <span href="{{ notification.relatedlink }}/{{ notification.id }}"
                                                      class="download-link">{{ notification.accion }}</span>
                                            </div>
                                        {% else %}
                                            <div class="">
                                                <a href="{{ notification.relatedlink }}" target="_blank"
                                                   class="action-link notAjax">{{ notification.accion }}</a>
                                            </div>
                                        {% endif %}

                                    {% else %}
                                        <a href="{{ notification.relatedlink }}" class="btn btn-default btn-block">View</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% else %}
                            <div class="dashboard_employer_pending_tasks_list col-md-12">
                                {% if notification.type %}

                                {% else %}
                                    <div class="label-as-badge label_list label-success">!</div>
                                {% endif %}
                                <div class="description_list col-md-8">
                                    {{ notification.description }}
                                </div>
                                <div class="deadline_list col-md-2">
                                    {% if notification.deadline %}
                                        {% set str_deadline = '' %}
                                        {% set deadline_type =  '' %}
                                        {% set difference = date().diff(date(notification.deadline)) %}
                                        {% if difference.invert== 1 %}
                                            {% set deadline_type = '_alert' %}
                                            {% set str_deadline =  str_deadline ~ '-' %}
                                        {% endif %}
                                        {% if difference.days == 1 %}
                                            {% set deadline_type =  '_warning' %}
                                            {% set str_deadline =  str_deadline ~ '1 día' %}
                                        {% else %}
                                            {% set str_deadline =  str_deadline ~(  difference.days ~ ' días') %}
                                        {% endif %}
                                        <span class="deadline{{ deadline_type }}">{{ str_deadline }}</span>
                                    {% endif %}
                                </div>
                                <div class="btn_list pull-right col-md-2">
                                    {% if notification.accion %}
                                        {% if (notification.accion|lower|trim) == "subir" %}
                                            <span href="{{ notification.relatedlink }}/{{ notification.id }}"
                                                  class="download-link"> {{ notification.accion }}</span>
                                        {% else %}
                                            <a href="{{ notification.relatedlink }}" target="_blank"
                                               class="action-link notAjax">{{ notification.accion }}</a>
                                        {% endif %}
                                    {% else %}
                                        <a href="{{ notification.relatedlink }}" class="btn btn-default">View</a>
                                    {% endif %}
                                </div>
                            </div>

                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row" style="margin-top:20px">
            <div class="text-center">
                <a class="btn btn-gray" href="{{ path('manage_employees') }}">Reportar novedad</a>
            </div>
        </div>
        {% set reminders = [] %}
        {% for notification in notifications %}
            {% if notification.type == 'reminder' %}
                {% set reminders = reminders | merge([notification]) %}
            {% endif %}
        {% endfor %}

        {% if(reminders|length>0) %}
            <div class="reminder_title">
                Symplifica te recuerda que
            </div>

            {% for notification in reminders %}
                <div class="dashboard_employer_reminder col-md-6">
                    <div class="label-as-badge label_list label-success">!</div>
                    <div class="description_list">
                        prueba
                        {{ notification.description }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}

    {% else %}
        <h4>No tienes tareas pendientes.</h4>
    {% endif %}
    <div id="myModal" class="modal fade" role="dialog">
        <div id="modal-body">
        </div>
    </div>
{% endblock fos_user_content %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $(".download-link").hover(function () {
                $(this).css('cursor', 'pointer');
            }, function () {
                $(this).css('cursor', 'auto');
            });

            $(".dashboard_employer_order_by_select").on('change', function () {
                window.location.replace($(this).val());
            });
            $(".dashboard_employer_contador_type_alert").on('click', function () {
                $(".type_alert").each(function (i) {
                    if ($(this).is(':visible')) {
                        $(this).parent().parent().hide();
                    } else {
                        $(this).parent().parent().show();
                    }
                });
            });
            $(".dashboard_employer_contador_type_notification").on('click', function () {
                $(".type_notification").each(function (i) {
                    if ($(this).is(':visible')) {
                        $(this).parent().parent().hide();
                    } else {
                        $(this).parent().parent().show();
                    }
                });
            });
            $(".dashboard_employer_contador_type_mensaje").on('click', function () {
                $(".type_mensaje").each(function (i) {
                    if ($(this).is(':visible')) {
                        $(this).parent().parent().hide();
                    } else {
                        $(this).parent().parent().show();
                    }
                });
            });
            $(".dashboard_employer_contador_alert_count").html($(".type_alert").length);
            $(".dashboard_employer_contador_notification_count").html($(".type_notification").length);
            $(".dashboard_employer_contador_mensaje_count").html($(".type_mensaje").length);


            $(".download-link").on('click', function (event) {
                event.preventDefault();
                var uri = $(this).attr("href");
                var html = '';

//                 alert(uri);
                $.ajax({
                    //method: "POST",
                    url: uri,
                    //(data: $('form[name="pago_membresia"]').serialize(),
                    beforeSend: function (xhr) {

                    }
                }).done(function (data) {
                    html = data;
                    $("#modal-body").html('');

                    //$('#modal-body').replaceWith($(html).find('#main'));
                    $('#modal-body').html($(html).find('#cuerpoModal'));

                    $("#myModal").modal('show');
                    var files;
                    // Add events
                    $('input[type=file]').on('change', prepareUpload);

                    // Grab the files and set them to our variable
                    function prepareUpload(event) {
                        files = event.target.files;
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                });

            });


        });
    </script>
{% endblock javascripts %}
