{% extends "::base.html.twig" %}
{% block fos_user_content %}   
    {% block stylesheets %}
        <style>
            .dashboard_employer_pending_tasks {
                border:1px solid black;
                background: lightgrey;
                margin: 10px;      
                height: 200px;
            }
            .panel_btn{    
                text-align: center;
                bottom: 0px;
                position: absolute;
                width: 100%;
                margin-left: -15px;
                margin-bottom: 10px;
            }       
            .panel-title{
                margin-left: 10px;
            }
            .type_alert{
                background-color:yellow;
            }
            .type_informative{                
                background-color:blue;
            }
            .type_reminder{
                background-color:green;
            }
            .badge_minimize:hover{
                background-color: darkgrey;
                cursor: pointer;
            }
            .description{
                font-weight: bold;
                font-family: 'Arial Negrita', 'Arial';
                font-style: normal;
                font-size: 13px;
            }
            .deadline{
                font-family: 'Arial Regular', 'Arial';
                font-weight: 400;
                font-style: normal;
                font-size: 13px;
                color: #666666;
            }
            .label-as-badge{    
                margin-top: -5px;
                margin-left: -25px;
                height: 20px;
                width: 20px;
                text-align: center;
                padding: 2px;
                color: black;
                font-size: 15px;
            </style>
        {% endblock %} 
        <h4>Tareas pendientes</h4>
        {% if notifications %}
            {% for notification in notifications %}	
                <div class="panel dashboard_employer_pending_tasks col-md-3">
                    <div class="panel-heading clear-fix">
                        {% if notification.type  %}
                            <div class="label label-as-badge type_{{ notification.type }} pull-left">!</div>
                        {% else %}
                            <div class="label label-as-badge label-success pull-left">!</div>
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        <p class="description">
                            {{ notification.description }}
                        </p>

                        {% if notification.deadline %}
                            <span class="deadline">Fecha límite:
                                {% set difference = date().diff(date(notification.deadline)) %}
                                {% set leftDays = difference.d %}
                                {% set leftHours = difference.h %}

                                {% if leftDays == 1 %}
                                    1 día
                                {% else %}
                                    {{ leftDays }} días
                                {% endif %}
                                {# if leftHours == 1 #}
                                {#1 hour#}
                                {# else #}
                                {# leftHours  hours#}
                                {# endif #}
                            </span>
                        {% endif %}

                    </div>
                    <div class="panel_btn">
                        {% if notification.accion %}
                            <a href="{{ notification.relatedlink }}" class="btn btn-default">{{ notification.accion }}</a>
                        {% else %}
                            <a href="{{ notification.relatedlink }}" class="btn btn-default">View</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endblock fos_user_content %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            $(document).ready(function () {
                $(".badge_minimize").click(function () {
                    if ($(this).html() === "-") {
                        $(this).html("+");
                    } else {
                        $(this).html("-");
                    }
                    $(this).parent().parent().children('.panel-body').slideToggle();
                    //$('.panel-body').slideToggle();
                });
            });
        </script>
    {% endblock javascripts %}
