{% extends "::base.html.twig" %}
{% block fos_user_content %}   
    {% block stylesheets %}
        <style>
            .dashboard_employer_pending_tasks {
                display: inline-block;
                border:1px solid #efefef;
                background: white;
                margin: 10px;      
                height: 300px;
                border-radius: 0px !important;
                padding-left: 0px !important;
                padding-right: 0px !important;
            }
            .dashboard_employer_pending_tasks_list {
                display: inline-block;
                width: 100%;
                background: #FBFBFB;
                margin: 5px;
            }

            .panel_btn{    
                text-align: center;
                bottom: 0px;
                position: absolute;
                width: 100%;
               
                margin-bottom: 10px;
            }       
            .panel-deadline{
                text-align: center;
                bottom: 40px;
                position: absolute;
                width: 100%;
                margin-left: -15px;
                height: 30px;
                background-color: #efefef;

            }
            .panel-title{
                margin-left: 10px;
            }
            .type_alert{
                background-color:orange;
            }
            .type_mensaje{
                background-color:lightskyblue;
            }
            .type_notification{
                background-color:lightgreen;
            }
            .type_informative{                
                background-color:blue;
            }
            .type_reminder{
                background-color:green;
            }
            .badge_minimize:hover{
                background-color: darkgrey;
                cursor: pointer;
            }
            .description{
                font-weight: bold;
                font-family: 'Arial Negrita', 'Arial';
                font-style: normal;
                font-size: 13px;
            }
            .description_list{
                font-weight: bold;
                font-family: 'Arial Negrita', 'Arial';
                font-style: normal;
                font-size: 13px;
                display: inline-block;
                vertical-align: -webkit-baseline-middle;
                margin-left: 10px;
                width: 75%;
            }
            .deadline{
                font-family: 'Arial Regular', 'Arial';
                font-weight: 400;
                font-style: normal;
                font-size: 13px;
                color: #666666;
            }
            .deadline_alert{
                font-family: 'Arial Regular', 'Arial';
                font-weight: 400;
                font-style: normal;
                font-size: 13px;
                color: red;
            }
            .deadline_warning{
                font-family: 'Arial Regular', 'Arial';
                font-weight: 400;
                font-style: normal;
                font-size: 13px;
                color: orange;
            }
            .panel-heading{
                padding: 0px !important;
            }
            .panel-body{
                text-align: center;
            }
            .panel-logo{
                height: 100px;
            }
            .label-as-badge{                  
                height: 20px;
                width: 100%;                
                padding: 2px;
                color: black;
                font-size: 15px;
                border-radius: 0px !important;
            }
            .label_list{    
                padding: 0px 10px 5px 10px;
                margin: 0px;
                display: inline;
                vertical-align: -webkit-baseline-middle;
            }
            .glyphicon-th-large{                
                color:#00CDCC;
            }
            .glyphicon-th-large:hover{ 
                color:#00CDCC;               
                cursor: pointer;
            }
            .glyphicon-th-list{              
                color:#00CDCC;
            }
            .dashboard_employer_order_by_select{
                width: 25%;
                height: 35px;
            }
            .dashboard_employer_contador_div{
                padding: 5px 30px 5px 30px;
                display: inline-block;
                text-align: center;
            }
            .dashboard_employer_reminder{
                display: -webkit-box;

            }
            .dashboard_employer_contador_text{
                font-weight: bold;
            }
            .dashboard_employer_head{
                padding: 10px;
                display: -webkit-inline-box;
                border-bottom: solid #efefef;
                border-width: 2px;
            }
            .dashboard_employer_contador_type_alert{
                background-color: orange;
                height: 10px;
                width: 100%;
                display: inline-block;                
            }
            .contador_logo{
                height: 50px;
            }
            .dashboard_employer_contador_type_notification{
                background-color: lightgreen;
                height: 10px;
                width: 100%;
                display: inline-block;                
            }
            .dashboard_employer_contador_type_mensaje{
                background-color: #00CDCC;
                height: 10px;
                width: 100%;
                display: inline-block;                
            }
            .dashboard_employer_order_by{
                width: 100%;
                border-left: solid #efefef;
                border-width: 2px;
                padding-left: 20px;
                padding-bottom: 20px;
            }
            .dashboard_employer_contador{
                width: 60%;
            }
            .view{
                margin-left: 10px;
                font-size: 15px;
            }
            .view:hover{
                text-decoration: none;
                cursor: pointer;
            }
            a:hover{
                text-decoration: none;
            }
            .dashboard_employer_order_by_select{
                margin-bottom: 10px;
            }
            .btn_list{
                display: -webkit-inline-box;
                vertical-align: -webkit-baseline-middle;
            }
            .deadline_list{                
                display: -webkit-inline-box;
                vertical-align: -webkit-baseline-middle;
            }
            .report_novedad{
                display: block;
                text-align: center;
                margin: 10px 10px 20px 10px;
            }
            .reminder_title{
                display: block;
                text-align: center;
                padding: 20px 10px 20px 10px;
                font-weight: bold;
                border-top-color: black;
                border-top-style: dotted;
                border-top-width: 1px;
                border-right-color: black;
                border-right-style: solid;
                border-right-width: 0px;
                border-bottom-color: black;
                border-bottom-style: solid;
                border-bottom-width: 0px;
                border-left-color: black;
                border-left-style: solid;
                border-left-width: 0px;
            }
            .notification_contenedor{
                display: table;
            }
        </style>
    {% endblock %} 
    <title>{% block title %}Dashboard - Employer{% endblock %}</title>  
    {# dump(user) #}
    {% if notifications %}
        <h4>¡Bienvenido a tu centro de control de tareas pendientes!</h4>
        {# dump(notifications) #}
        <div class="dashboard_employer_head">
            <div class="col-sm-12 dashboard_employer_contador">
                <div class="col-sm-4 dashboard_employer_contador_div">
                    <div class="contador_logo"> </div>
                    <span class="dashboard_employer_contador_type_alert"></span>
                    <span class="txthelp"><p>Alertas</p></span>
                </div>
                <div class="col-sm-4 dashboard_employer_contador_div">
                    <div class="contador_logo"> </div>
                    <span class="dashboard_employer_contador_type_notification"></span>
                    <span class="txthelp"><p>Notificaciones</p></span>                    
                </div>
                <div class="col-sm-4 dashboard_employer_contador_div">
                    <div class="contador_logo"> </div>
                    <span class="dashboard_employer_contador_type_mensaje"></span>
                    <span class="txthelp"><p>Mensajes</p></span>
                </div>
            </div>
            <div class="col-sm-12 dashboard_employer_order_by">
                <p class="txthelp col-sm-12">Ordenar por:</p>
                <select class="col-sm-12 form-group form-control dashboard_employer_order_by_select">
                    {% set view = {'view' : app.request.get('view')} %}
                    <option value="{{ path('show_dashboard_employer',  view|merge( { 'orderBy': 'deadline' })) }}"
                            {{ app.request.get('orderBy') == 'deadline'?'selected':''  }}>Fecha Límite</option>
                    <option value="{{ path('show_dashboard_employer', view|merge( { 'orderBy': 'type' })) }}"
                            {{ app.request.get('orderBy') == 'type'?'selected':''  }}>Tipo Tarea</option>
                </select>
                {% set orderBy = {'orderBy' : app.request.get('orderBy')} %}

                <div class="col-sm-12">
                    <span class="glyphicon glyphicon-th-large view">
                        <a href="{{ path('show_dashboard_employer', orderBy|merge( { 'view': 'panel' })) }}" style="color:#3C4B5A !important;">Cuadricula</a>                        
                    </span>
                    <span class="glyphicon glyphicon-th-list view">
                        <a href="{{ path('show_dashboard_employer', orderBy|merge( { 'view': 'list' })) }}" style="color:#3C4B5A !important;">Listado</a> 
                    </span>
                </div>                
            </div>
        </div>
        <div class="notification_contenedor">
            {% for notification in notifications %}
                {% if notification.status == 1 and (notification.type == 'alert'  or notification.type == 'notification' or notification.type == 'mensaje'  ) %}
                    {% if app.request.get('view') == 'list'  %}
                        <div class="dashboard_employer_pending_tasks_list">
                            {% if notification.type  %}
                                <div class=" label_list type_{{ notification.type }}"> </div>
                            {% else %}
                                <div class="label-as-badge label_list label-success">!</div>
                            {% endif %}
                            <div class="description_list">
                                {{ notification.description }}
                            </div>
                            <div class="deadline_list">
                                {% if notification.deadline %}
                                    {% set str_deadline = '' %}
                                    {% set deadline_type =  ''%}
                                    {% set difference = date().diff(date(notification.deadline)) %}
                                    {% if difference.invert== 1 %}
                                        {% set deadline_type = '_alert' %}
                                        {% set str_deadline =  str_deadline ~ '-' %}
                                    {% endif %}
                                    {% if difference.days == 1 %}
                                        {% set deadline_type =  '_warning' %}
                                        {% set str_deadline =  str_deadline ~ '1 día' %}                                    
                                    {% else %}
                                        {% set str_deadline =  str_deadline ~(  difference.days ~ ' días') %}
                                    {% endif %}
                                    <span class="deadline{{ deadline_type }}">{{ str_deadline }}</span>
                                {% endif %}
                            </div>
                            <div class="btn_list pull-right">
                                {% if notification.accion %}
                                    {% if notification.accion|lower == "subir documento" %}
                                        <span href="{{ notification.relatedlink }}/{{notification.id}}" class="download-link"><i class="fa fa-upload"></i> {{ notification.accion }}</span>
                                    {% else %}
                                        <a href="{{ notification.relatedlink }}" class="btn btn-default btn-block">{{ notification.accion }}</a>
                                    {% endif %}
                                {% else %}
                                    <a href="{{ notification.relatedlink }}" class="btn btn-default">View</a>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div class="panel dashboard_employer_pending_tasks col-md-3">
                            <div class="panel-heading clear-fix">
                                {% if notification.type  %}
                                    <div class="label label-as-badge type_{{ notification.type }} pull-left"> </div>
                                {% else %}
                                    <div class="label label-as-badge label-success pull-left">!</div>
                                {% endif %}
                            </div>
                            <div class="col-sm-12 panel-logo">
                                
                            </div>
                            <div class="panel-body">
                                <p class="label-group">
                                    {{ notification.description }}
                                </p>
                                <div class="panel-deadline col-sm-12">
                                {% if notification.deadline %}
                                    {% set str_deadline = 'Fecha límite: ' %}
                                    {% set deadline_type =  ''%}
                                    {% set difference = date().diff(date(notification.deadline)) %}
                                    {% if difference.invert== 1 %}
                                        {% set deadline_type = '_alert' %}
                                        {% set str_deadline =  str_deadline ~ '-' %}
                                    {% endif %}
                                    {% if difference.days == 1 %}
                                        {% set deadline_type =  '_warning' %}
                                        {% set str_deadline =  str_deadline ~ '1 día' %}                                    
                                    {% else %}
                                        {% set str_deadline =  str_deadline ~(  difference.days ~ ' días') %}
                                    {% endif %}
                                    <span class="deadline{{ deadline_type }}">{{ str_deadline }}</span>
                                {% endif %}
                            </div>
                            </div>
                            
                            <div class="panel_btn col-sm-12">
                                {% if notification.accion %}
                                    {% if notification.accion|lower == "subir documento" %}
                                        <span href="{{ notification.relatedlink }}/{{notification.id}}" class="download-link"><i class="fa fa-upload"></i> {{ notification.accion }}</span>
                                    {% else %}
                                        <a href="{{ notification.relatedlink }}" class="btn btn-default btn-block">{{ notification.accion }}</a>
                                    {% endif %}
                                    
                                {% else %}
                                    <a href="{{ notification.relatedlink }}" class="btn btn-default btn-block">View</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

        <div class="report_novedad">
            <a class="btn-bg btn-default" href="{{ path('manage_employees') }}">Reportar novedad</a>
        </div>     
        {% if(notifications) %}
            <div class="reminder_title">
                Requerde que
            </div>

            {% for notification in notifications %}
                {% if notification.type == 'reminder' %}
                    <div class="dashboard_employer_reminder col-md-6">
                        <div class="label-as-badge label_list label-success">!</div>
                        <div class="description_list">
                            {{ notification.description }}
                        </div>                   
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

    {% else %}
        <h4>No tienes tareas pendientes.</h4>
    {% endif %}
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body" id="modal-body">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
{% endblock fos_user_content %}

{% block javascripts %}
    {{ parent() }}
    <script>        
        $(document).ready(function () {

            $(".dashboard_employer_order_by_select").on('change', function () {
                window.location.replace($(this).val());
            });
            $(".dashboard_employer_contador_type_alert").on('click', function () {
                $(".type_alert").each(function (i) {
                    if ($(this).is(':visible')) {
                        $(this).parent().parent().hide();
                    } else {
                        $(this).parent().parent().show();
                    }
                });
            });
            $(".dashboard_employer_contador_type_notification").on('click', function () {
                $(".type_notification").each(function (i) {
                    if ($(this).is(':visible')) {
                        $(this).parent().parent().hide();
                    } else {
                        $(this).parent().parent().show();
                    }
                });
            });
            $(".dashboard_employer_contador_type_mensaje").on('click', function () {
                $(".type_mensaje").each(function (i) {
                    if ($(this).is(':visible')) {
                        $(this).parent().parent().hide();
                    } else {
                        $(this).parent().parent().show();
                    }
                });
            });
            $(".dashboard_employer_contador_alert_count").html($(".type_alert").length);
            $(".dashboard_employer_contador_notification_count").html($(".type_notification").length);
            $(".dashboard_employer_contador_mensaje_count").html($(".type_mensaje").length);
            

            $(".download-link").on('click',function(event){                
                event.preventDefault(); 
                var uri = $(this).attr("href");

                alert(uri);
                $.ajax({
                     //method: "POST",
                     url: uri,
                     //(data: $('form[name="pago_membresia"]').serialize(),
                     beforeSend: function (xhr) {
                        
                     }
                 }).done(function (data) {
                    //$("#modal-body").html(data);
                    $('#modal-body').replaceWith($(data).find('#main'));
                    $("#myModal").modal('show');
                    var files;
                    // Add events
                    $('input[type=file]').on('change', prepareUpload);

                    // Grab the files and set them to our variable
                    function prepareUpload(event)
                    {
                      files = event.target.files;
                    }
                 }).fail(function (jqXHR, textStatus, errorThrown) {
                     console.log(jqXHR);
                     console.log(textStatus);
                     console.log(errorThrown);                     
                 });

            });


        });
    </script>
{% endblock javascripts %}
