{% extends "::base.html.twig" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ asset('../css/pantallas.css') }}"/>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,800,600italic,700' rel='stylesheet' type='text/css'>
	<div id="cont-succesdocs">
		<div id="title-siccesdocs">
			<img src="{{ asset('../img/perfecto.png') }}" alt="">
			<h1 class="azulclarofont light">¡Ya eres parte de Symplifica!</h1><br>
			<h2 class="h2 light grisclarofont">Nos encontramos trabajando para ti, así que espéranos mientras:</h2>
		</div>

		<div id="texto-succesdocs">
			<div id="cont-genssuccescont">
				<div class="pasos">
					<div class="img"><img src="{{ asset('../img/paso1.png') }}" alt=""></div>
					<div class="pasos-text">
						<p class="light grisclarofont">Verificamos tus datos y tu información.</p>
					</div>
				</div>
				<div class="pasos">
					<div class="img"><img src="{{ asset('../img/paso2.png') }}" alt=""></div>
					<div class="pasos-text">
						<p class="light grisclarofont">Analizamos tu situación laboral actual.</p>
					</div>
				</div>
				<div class="pasos">
					<div class="img"><img src="{{ asset('../img/paso3.png') }}" alt=""></div>
					<div class="pasos-text">
						<p class="light grisclarofont">Te afiliamos a ti y a tus empleados a las entidades de seguridad social (si es necesario).</p>
					</div>
				</div>
			</div>
			<div id="recuerda">
				<h1 class="azulclarofont light">Recuerda que</h1><br>
				<p class="light grisclarofont">Validaremos tu información, este proceso puede tardar hasta <strong>3 días hábiles</strong>,
					nos pondremos en contacto contigo si necesitamos rectificar información. Te notificaremos a tu correo electrónico una vez
					puedas comenzar a gestionar a tus empleados desde la plataforma.<strong><br><br>Ahora debes descargar y subir la copia del 
						contrato firmada, tambien debes terminar
					tus tareas pendientes.</strong>

					<br><br><span class="azulmediofont bold">¡Nos veremos pronto!</span></p><br><br>
					<a class="btn btn-orange noAjax" href="{{ path('show_dashboard') }}">Continuar</a>
			</div>
		</div>
		<!--<div class="infogra">
				<a target="_blank" href="{{ asset('public/Infografia.pdf') }}" class="btn btn-orange notAjax">Conoce más sobre el proceso de contratación</a>
		</div>-->
	</div>
{% endblock %}
