{% extends "::base.html.twig" %}

{% block stylesheet %}
    {{ parent() }}
    <style type="text/css">
        .certificatesucces {
          padding: 30px 0;
          clear: both;
          color: #8a8a8a;
          font-size: 20px;
          font-weight: 100;
        }
        .certificatesucces .glyphicon {
          color: #fd9224;
        }
        .textocert {
          font-weight: 100;
          color: #8e8e8e;
          margin: 45px auto;
          width: 90%;
        }
        .campofechascert {
          border: #c3c3c3 dashed 1px;
          border-radius: 5px;
          padding: 13px 0;
          color: #00858c;
        }
        .center{
            text-align: center;
        }
        .glyphicon{
          margin: 0 10px 0 0
        }
        .divSubmit{
            margin: 10px;
        }
        .employerName{
            font-weight: bold;
        }
        .certificate{
            margin: 10px;
            padding: 30px;
            color: #5D5D5D;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="center certificatesucces">
        <div class="glyphicon glyphicon-ok-sign"></div>El certificado fue creado exitosamente.
    </div>

    <div class="center col-md-12 col-sm-12 campofechascert">
        <div class="col-md-3 col-sm-3">

        </div>
        <div class="col-md-3 col-sm-3">
            <div class="glyphicon glyphicon-refresh"></div><b>Fecha de creación</b>
                {{ "now"|date("d") ~' de ' ~ "now"|date("F")|trans|lower  ~ ' de ' ~ "now"|date("Y") }}
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="glyphicon glyphicon-list-alt"></div><b>Tipo de certifido</b>
                {{ certificate['name'] }}
        </div>
        <div class="col-md-3 col-sm-3">

        </div>
    </div>
    <form class="form col-md-12" method="POST" enctype="multipart/form-data" action="{{ path('download_certificate_post') }}">
        <div class="certificate">
            {{ content|raw }}
        </div>
        <div class="divSubmit center col-md-12">
            <input type="hidden" name="idEmployee" value="{{ employee.idEmployee }}"/>
            <input type="hidden" name="idCertificate" value="{{ certificate['id'] }}"/>
            <input type="hidden" name="idEhe" value="{{ eheId }}"/>
            <button class="btn btn-symplifica" type="submit">Descargar</button>
        </div>
    </form>
{% endblock %}
