{% extends "::base.html.twig" %}

{% block stylesheet %}
    {{ parent() }}
    <style type="text/css">
        .divider {
            height: 1px;
            width:100%;
            display:block; /* for use on default inline elements like span */
            margin: 9px 0;
            overflow: hidden;
            background-color: #e5e5e5;
        }
        .center{
            text-align: center;
        }
        .glyphicon{
            margin: 10px;
        }
        .divSubmit{
            margin: 10px;
        }
        .employerName{
            font-weight: bold;
        }
        .certificate{
            margin: 10px;
            padding: 30px;
            background-color: #efefef;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="divider"></div>
    <div class="center">
        <div class="glyphicon glyphicon-ok-sign"></div>El certificado fue creado exitosamente.

    </div>
    <div class="divider"></div>
    <div class="center col-md-12 col-sm-12">
        <div class="col-md-3 col-sm-3">

        </div>
        <div class="col-md-3 col-sm-3">
            <div class="glyphicon glyphicon-refresh"></div><b>Fecha de creación</b>
                {{ "now"|date("d") ~' de ' ~ "now"|date("F")|trans|lower  ~ ' de ' ~ "now"|date("Y") }} 
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="glyphicon glyphicon-list-alt"></div><b>Tipo de certifido</b>
                {{ certificate['name'] }}
        </div>
        <div class="col-md-3 col-sm-3">

        </div>
    </div>
    <div class="divider"></div>

    <form class="form col-md-12" method="POST" enctype="multipart/form-data" action="{{ path('download_certificate_post') }}">
        <div class="certificate">
            {{ content|raw }}
        </div>	
        <div class="divSubmit center col-md-12">
            <input type="hidden" name="idEmployee" value="{{ employee.idEmployee }}"/>
            <input type="hidden" name="idCertificate" value="{{ certificate['id'] }}"/>
            <button class="btn btn-symplifica" type="submit">Imprimir</button>	
        </div>		
    </form>
{% endblock %}