{% extends "::base.html.twig" %}
{% block content %}
    {% if notifications %}
        <p>Funcionó</p>	
        {% for notification in notifications %}
            {% if notification.status != 1 %}
                <div id='' class='col-xs-12'>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div id='' class='col-xs-2'>
                                {{ notification.id }}
                            </div>
                            <div id='' class='col-xs-6'>
                                <div id='' class='text-left' >
                                    {{ notification.sawDate|date("d/m/Y H:m") }}: {{ notification.description }}
                                </div>
                            </div>
                            <div id='' class='col-xs-2'>
                                {% if notification.relatedLink != null %}
                                    <a class="nav-link" href="{{ notification.relatedLink }}">Ver</a>
                                {% endif %}
                            </div>
                            <div id='' class='col-xs-2'>
                                    <a class="nav-link" href="{{ path('change_status_notification',{'idNotification':notification.id,'status':1}) }}">Descartar</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>No tienes notificaciones</p>
    {% endif %}
{% endblock %}