{% block content %}
<style type="text/css">
    .nopadding {
        padding: 0 !important;
        margin: 0 !important;
    }
    .nopadding .btn-sm {
        font-size: 12px !important;     
    }
    .employeesListHeader {
        padding: 0 0 15px;
    }
    .employeesListEmployer, .employeesListEmployee, .employeesListEmployee {
        border-bottom: 1px solid #ccc;
        padding: 0 0 10px;
    }
    
</style>
<div class="row employeesListHeader">
    <div class="col-sm-12 col-xs-12 blockUpData" style="border-bottom: none;">
        <div class="col-sm-3 col-xs-12 nopadding">
            <img src="/img/1-iconStep.png">
            <span>Nombre</span>
        </div>
        <div class="col-sm-2 col-xs-12 nopadding">
            <img src="/img/7-iconExit-Step.png">
            <span>Documento de Identidad</span>
        </div>
        <div class="col-sm-2 col-xs-12 nopadding">
            <img src="/img/8-iconExit-Step.png">
            <span>Registro único tributario (RUT)</span>
        </div>
        <div class="col-sm-2 col-xs-12 nopadding">
            <img src="/img/10-iconExit-Step.png">
            <span>Contrato de trabajo</span>
        </div>
        <div class="col-sm-3 col-xs-12 nopadding">
            <img src="/img/10-iconExit-Step.png">
            <span>Carta de Autorización a Symplifica</span>
        </div>
    </div>
</div>
<div class="row employeesListEmployer">
    {% set employerDocs = employer.docs %}
    <div class="col-sm-12 col-xs-12 text-center" style="border-bottom: none;">
        <div class="col-sm-3 col-xs-12 nopadding">
            <span>{{ employer.names }} {{ employer.lastName1}}</span>
        </div>
        <div class="col-sm-2 col-xs-12 nopadding text-center">
            {% if documents[0] in documentsTypeByEmployer %}
                {% for doc in employerDocs %}
                    {% if (documents[0] == doc.documentTypeDocumentType) %}
                        {% if doc.status %}
                            <a href="{{ path('download_document', {'id': employer.idPerson , 'idDocument':doc.idDocument}) }}">Descargar</a>
                        {% else %}
                            <a class="btn-default btn btn-sm" href="{{ path('documentos_employee', {'id': employer.idPerson , 'idDocumentType':documents[0].idDocumentType}) }}">Documento</a>
                        {% endif %}                                                                                             
                    {% endif %}                                                
                {% endfor %}
            {% else %}
                <a class="btn-default btn btn-sm" href="{{ path('documentos_employee', {'id': employer.idPerson , 'idDocumentType':documents[0].idDocumentType}) }}">Documento</a>                                           
            {% endif %}
        </div>
        <div class="col-sm-2 col-xs-12 nopadding text-center">
            {% if documents[1] in documentsTypeByEmployer %}
                {% for doc in employerDocs %}
                    {% if (documents[1] == doc.documentTypeDocumentType) %}
                        {% if doc.status %}
                            <a href="{{ path('download_document', {'id': employer.idPerson , 'idDocument':doc.idDocument}) }}">Descargar</a>
                        {% else %}
                            <a class="btn-default btn btn-sm" href="{{ path('documentos_employee', {'id': employer.idPerson , 'idDocumentType':documents[01].idDocumentType}) }}">Documento</a>
                        {% endif %}                                                                                             
                    {% endif %}                                                
                {% endfor %}
            {% else %}
                    <a class="btn-default btn btn-sm" href="{{ path('documentos_employee', {'id': employer.idPerson , 'idDocumentType':documents[1].idDocumentType}) }}">Documento</a>
            {% endif %}
        </div>
        <div class="col-sm-2 col-xs-12 nopadding text-center">
            <span>No necesitas</span>
        </div>
        <div class="col-sm-2 col-xs-12 nopadding text-center">
            {% if documents[3] in documentsTypeByEmployer %}
                    Ya lo firmaste
            {% else %}
                    <a id="auth-download-button" class="btn-default btn btn-sm" onclick="authDownload(this)">Descargar Carta</a>
                    <a id="auth-upload-button" style="display:none;" class="btn-default btn btn-sm" href="{{ path('documentos_employee', {'id': employer.idPerson , 'idDocumentType':documents[1].idDocumentType}) }}">Documento</a>
                    
            {% endif %}
        </div>
    </div>
</div>

  {% if employees|length < 2 %}
    {% set employeeDocs = employees[0].personPerson.docs %}
    <div class="row employeesListEmployee">
        <div class="col-sm-12 col-xs-12 firstEmployeeList" style="border-bottom: none;">
            <div class="col-sm-3 col-xs-12 nopadding text-center">
                <span>{{ employees[0].personPerson.names }} {{ employees[0].personPerson.lastName1 }}</span>
            </div>
            <div class="col-sm-2 col-xs-12 nopadding text-center">
                {% if documents[0] in documentsTypeByEmployee[0] %}
                    {% for doc in employeeDocs %}
                        {% if (documents[0] == doc.documentTypeDocumentType) %}
                            {% if doc.status %}
                                <a href="{{ path('download_document', {'id': employees[0].personPerson.idPerson , 'idDocument':doc.idDocument}) }}">Descargar</a>
                            {% else %}
                                <a class="btn-default btn btn-sm" href="{{ path('documentos_employee', {'id': employees[0].personPerson.idPerson , 'idDocumentType':documents[0].idDocumentType}) }}">Documento</a>
                            {% endif %}                                                                                             
                        {% endif %}                                                
                    {% endfor %}
                {% else %}
                    <a class="btn-default btn btn-sm" href="{{ path('documentos_employee', {'id': employees[0].personPerson.idPerson , 'idDocumentType':documents[0].idDocumentType}) }}">Documento</a>
                {% endif %} 
            </div>
            <div class="col-sm-2 col-xs-12 nopadding text-center">
                No lo necesitas
            </div>
            <div class="col-sm-2 col-xs-12 nopadding text-center">
                {% if documents[2] in documentsTypeByEmployee[0] %}
                    {% for doc in employeeDocs %}
                        {% if (documents[2] == doc.documentTypeDocumentType) %}
                            {% if doc.status %}
                                <a href="{{ path('download_document', {'id': employees[0].personPerson.idPerson , 'idDocument':doc.idDocument}) }}">Descargar</a>
                            {% else %}
                                <a class="btn-default btn btn-sm" href="{{ path('documentos_employee', {'id': employees[0].personPerson.idPerson , 'idDocumentType':documents[2].idDocumentType}) }}">Documento</a>
                            {% endif %}                                                                                             
                        {% endif %}                                                
                    {% endfor %}
                {% else %}
                    <a class="btn-default btn btn-sm" href="{{ path('documentos_employee', {'id': employees[0].personPerson.idPerson , 'idDocumentType':documents[2].idDocumentType}) }}">Documento</a>
                {% endif %}  
            </div>
            <div class="col-sm-2 col-xs-12 nopadding">
                
            </div>
        </div>
    </div>

  {% else %}
    {% for i in 0..employees|length-1  %}
        {% set employeeDocs = employees[i].personPerson.docs %}  
        <div class="row employeesListEmployee">
            <div class="col-sm-12 col-xs-12 restOfEmployeeList" style="border-bottom: none;">
                <div class="col-sm-3 col-xs-12 nopadding text-center">
                    <span>{{ employees[i].personPerson.names }} {{ employees[i].personPerson.lastName1 }}</span>
                </div>
                <div class="col-sm-2 col-xs-12 nopadding text-center">
                    {% if documents[0] in documentsTypeByEmployee[i] %}
                        {% for doc in employeeDocs %}
                            {% if (documents[0] == doc.documentTypeDocumentType) %}
                                {% if doc.status %}
                                    <a href="{{ path('download_document', {'id': employees[i].personPerson.idPerson , 'idDocument':doc.idDocument}) }}">Descargar</a>
                                {% else %}
                                    <a class="btn-default btn btn-sm" href="{{ path('documentos_employee', {'id': employees[i].personPerson.idPerson , 'idDocumentType':documents[0].idDocumentType}) }}">Documento</a>
                                {% endif %}                                                                                             
                            {% endif %}                                                
                        {% endfor %}
                    {% else %}
                        <a class="btn-default btn btn-sm" href="{{ path('documentos_employee', {'id': employees[i].personPerson.idPerson , 'idDocumentType':documents[0].idDocumentType}) }}">Documento</a>
                    {% endif %}  
                </div>
                <div class="col-sm-2 col-xs-12 nopadding text-center">
                    No lo necesitas
                </div>
                <div class="col-sm-2 col-xs-12 nopadding text-center">
                    {% if documents[2] in documentsTypeByEmployee[i] %}
                        {% for doc in employeeDocs %}
                            {% if (documents[2] == doc.documentTypeDocumentType) %}
                                {% if doc.status %}
                                    <a href="{{ path('download_document', {'id': employees[i].personPerson.idPerson , 'idDocument':doc.idDocument}) }}">Descargar</a>
                                {% else %}
                                    <a class="btn-default btn btn-sm" href="{{ path('documentos_employee', {'id': employees[i].personPerson.idPerson , 'idDocumentType':documents[2].idDocumentType}) }}">Documento</a>
                                {% endif %}                                                                                             
                            {% endif %}                                                
                        {% endfor %}
                    {% else %}
                        <a class="btn-default btn btn-sm" href="{{ path('documentos_employee', {'id': employees[i].personPerson.idPerson , 'idDocumentType':documents[2].idDocumentType}) }}">Documento</a>
                    {% endif %}  
                </div>
                <div class="col-sm-2 col-xs-12 nopadding">
                    
                </div>
            </div>
        </div>
        {% endfor %}
  {% endif %}


<!--
<table class="col-md-8">

 <thead>
  <tr>
	<th>Nombre</th>
	<th>Cedula</th>
   	<th>Rut</th>
	<th>Contrato</th>
  </tr>
 </thead>
 --
 <tbody>

  

 </tbody>
</table>
<table>
    <!--
	<thead>
		<tr><th>Carta de Autorización a Symplifica</th></tr>
	</thead>
    
	<tbody>
		<tr><td>algo</td></tr>
	</tbody>
</table>-->
<script>

    function authDownload() {                                                               
        window.open('/contractLayout/cartaAutSymplifica');
        var authDownload = document.getElementById('auth-download-button');
        authDownload.style.display = 'none'; //or
        var authUpload = document.getElementById('auth-upload-button');
        authUpload.style.display = 'inline';                                         
    }
</script>
{% endblock %}