{% block content %}
<style type="text/css">
    .nopadding {
        padding: 0 !important;
        margin: 0 !important;
    }
    .nopadding .btn-sm {
        font-size: 12px !important;
    }
    .employeesListHeader {
        padding: 0 0 15px;
    }
    .employeesListEmployer, .employeesListEmployee, .employeesListEmployee {
        border-bottom: 1px solid #ccc;

    }

</style>
<div class="row employeesListHeader" style="border-bottom: 1px solid #E9E9E9;">
    <div class="col-sm-12 col-xs-12 blockUpData" style="border-bottom: none;">
        <div class="col-sm-3 col-xs-12 nopadding title">

            <i class="fa fa-user"></i> Nombre
        </div>
        <div class="col-sm-2 col-xs-12 nopadding title">
            <i class="fa fa-user"></i> Documento de Identidad
        </div>
        <div class="col-sm-2 col-xs-12 nopadding title">
            <i class="fa fa-user"></i> Registro único tributario (RUT)
        </div>
        <div class="col-sm-2 col-xs-12 nopadding title">
            <i class="fa fa-user"></i> Contrato de trabajo
        </div>
        <div class="col-sm-3 col-xs-12 nopadding title">
            <i class="fa fa-user"></i> Carta de Autorización a Symplifica
        </div>
    </div>
</div>
<div class="row employeesListEmployer">
    {% set employerDocs = employer.docs %}
    <div class="col-sm-12 col-xs-12 employer-row text-center" style="border-bottom: none;">
        <div class="col-sm-3 col-xs-12 nopadding" style="text-align:right;">
            <span>{{ employer.names }} {{ employer.lastName1}}</span>
        </div>
        <div class="col-sm-2 col-xs-12 nopadding text-center">
            {% if documents[0] in documentsTypeByEmployer %}
                {% for doc in employerDocs if (doc.status) and documents[0]  == doc.documentTypeDocumentType.name%}
                            <a class="download-link" href="{{ path('download_document', {'id': employer.idPerson , 'idDocument':doc.idDocument}) }}"><i class="fa fa-cloud-download"></i> Descargar</a>
                      {% else %}
                            <a class="upload-link" href="{{ path('documentos_employee', {'id': employer.idPerson , 'idDocumentType':documents[0].idDocumentType}) }}"><i class="fa fa-upload"></i> Documento</a>
                {% endfor %}
            {% else %}
                <a class="upload-link" href="{{ path('documentos_employee', {'id': employer.idPerson , 'idDocumentType':documents[0].idDocumentType}) }}">
                <i class="fa fa-upload"></i> Documento</a>
            {% endif %}
        </div>
        <div class="col-sm-2 col-xs-12 nopadding text-center">
            {% if documents[1] in documentsTypeByEmployer %}
                {% for doc in employerDocs if (doc.status) and (documents[1]  == doc.documentTypeDocumentType.name) %}
                            <a class="download-link" href="{{ path('download_document', {'id': employer.idPerson , 'idDocument':doc.idDocument}) }}"><i class="fa fa-cloud-download"></i> Descargar</a>
                      {% else %}
                            <a class="upload-link" href="{{ path('documentos_employee', {'id': employer.idPerson , 'idDocumentType':documents[1].idDocumentType}) }}"><i class="fa fa-upload"></i> Documento</a>

                {% endfor %}
            {% else %}
                <a class="upload-link" href="{{ path('documentos_employee', {'id': employer.idPerson , 'idDocumentType':documents[1].idDocumentType}) }}">
                <i class="fa fa-upload"></i> Documento</a>
            {% endif %}
        </div>
        <div class="col-sm-2 col-xs-12 nopadding text-center">
            No lo necesitas
        </div>
        <div class="col-sm-2 col-xs-12 nopadding text-center">
            {% if documents[3] in documentsTypeByEmployer %}
                {% for doc in employerDocs if (doc.status) and (documents[3]  == doc.documentTypeDocumentType.name) %}
                        <a class="download-link" href="{{ path('download_document', {'id': employer.idPerson , 'idDocument':doc.idDocument}) }}"><i class="fa fa-cloud-download"></i> Descargar</a>
                    {% else %}
                        <a id="" class="download-link" href="{{ path('download_documents', {'id': employer.id, 'type': 'pdf', 'ref': 'mandato'} ) }}"><i class="fa fa-cloud-download"></i> Descargar Carta</a>
                        <a class="upload-link" href="{{ path('documentos_employee', {'id': employer.idPerson , 'idDocumentType':documents[3].idDocumentType}) }}"><i class="fa fa-upload"></i> Documento</a>
                {% endfor %}
            {% else %}
                <a id="" class="download-link" href="{{ path('download_documents', {'id': employer.employer.idEmployer, 'type': 'pdf', 'ref': 'mandato'} ) }}"><i class="fa fa-cloud-download"></i> Descargar Carta</a>
                <a id="" class="upload-link" href="{{ path('documentos_employee', {'id': employer.idPerson , 'idDocumentType':documents[3].idDocumentType}) }}">
                <i class="fa fa-upload"></i> Documento</a>
            {% endif %}
        </div>
    </div>
</div>

  {% if employees|length < 2 %}
    {% set employeeDocs = employees[0].personPerson.docs %}
    <div class="row employeesListEmployee">
        <div class="col-sm-12 col-xs-12 firstEmployeeList" style="border-bottom: none;">
            <div class="col-sm-3 col-xs-12 nopadding" style="text-align:right;">
                <span>{{ employees[0].personPerson.names }} {{ employees[0].personPerson.lastName1 }}</span>
            </div>
            <div class="col-sm-2 col-xs-12 nopadding text-center">
                {% if documents[0] in documentsTypeByEmployee[0] %}
                    {% for doc in employeeDocs if doc.status %}
                        {% if (documents[0] == doc.documentTypeDocumentType) %}
                                <a class="download-link" href="{{ path('download_document', {'id': employees[0].personPerson.idPerson , 'idDocument':doc.idDocument}) }}"><i class="fa fa-cloud-download"></i> Descargar</a>

                        {% endif %}
                        {% else %}
                              <a class="upload-link" href="{{ path('documentos_employee', {'id': employees[0].personPerson.idPerson , 'idDocumentType':documents[0].idDocumentType}) }}">
                                <i class="fa fa-upload"></i> Documento</a>
                        {% endfor %}
                {% else %}
                    <a class="upload-link" href="{{ path('documentos_employee', {'id': employees[0].personPerson.idPerson , 'idDocumentType':documents[0].idDocumentType}) }}">
                    <i class="fa fa-upload"></i> Documento</a>
                {% endif %}
            </div>
            <div class="col-sm-2 col-xs-12 nopadding text-center">
                No lo necesitas
            </div>
            <div class="col-sm-2 col-xs-12 nopadding text-center">
                {% if documents[2] in documentsTypeByEmployee[0] %}
                    {% for doc in employeeDocs  if doc.status %}
                        {% if (documents[2] == doc.documentTypeDocumentType) %}
                                <a class="download-link" href="{{ path('download_document', {'id': employees[0].personPerson.idPerson , 'idDocument':doc.idDocument}) }}"><i class="fa fa-cloud-download"></i> Descargar</a>
                        {% endif %}
                        {% else %}
                            <a id="" class="download-link" href="{{ path('download_documents', {'id': employees[0].idContract[0].idContract, 'type': 'pdf', 'ref': 'contrato'} ) }}"><i class="fa fa-cloud-download"></i> Descargar Contrato</a>
                            <a class="upload-link" href="{{ path('documentos_employee', {'id': employees[0].personPerson.idPerson , 'idDocumentType':documents[2].idDocumentType}) }}">
                                <i class="fa fa-upload"></i> Documento-</a>
                    {% endfor %}
                {% else %}
                    <a id="" class="download-link" href="{{ path('download_documents', {'id': employees[0].idContract[0].idContract, 'type': 'pdf', 'ref': 'contrato'} ) }}"><i class="fa fa-cloud-download"></i> Descargar Contrato</a>
                    <a class="upload-link" href="{{ path('documentos_employee', {'id': employees[0].personPerson.idPerson , 'idDocumentType':documents[2].idDocumentType}) }}">
                    <i class="fa fa-upload"></i> Documento+</a>
                {% endif %}
            </div>
            <div class="col-sm-2 col-xs-12 nopadding">

            </div>
        </div>
    </div>

  {% else %}
    {% for i in 0..employees|length-1  %}
        {% set employeeDocs = employees[i].personPerson.docs %}
        <div class="row employeesListEmployee">
            <div class="col-sm-12 col-xs-12 restOfEmployeeList" style="border-bottom: none;">
                <div class="col-sm-3 col-xs-12 nopadding" style="text-align:right;" >
                    <span>{{ employees[i].personPerson.names }} {{ employees[i].personPerson.lastName1 }}</span>
                </div>
                <div class="col-sm-2 col-xs-12 nopadding text-center">
                    {% if documents[0] in documentsTypeByEmployee[i] %}
                        {% for doc in employeeDocs if (doc.status) and (documents[0] == doc.documentTypeDocumentType) %}
                                    <a class="download-link" href="{{ path('download_document', {'id': employees[i].personPerson.idPerson , 'idDocument':doc.idDocument}) }}"><i class="fa fa-cloud-download"></i> Descargar</a>
                            {% else %}
                                <a class="upload-link" href="{{ path('documentos_employee', {'id': employees[i].personPerson.idPerson , 'idDocumentType':documents[0].idDocumentType}) }}">
                                    <i class="fa fa-upload"></i> Documento</a>
                        {% endfor %}
                    {% else %}
                        <a class="upload-link" href="{{ path('documentos_employee', {'id': employees[i].personPerson.idPerson , 'idDocumentType':documents[0].idDocumentType}) }}">
                        <i class="fa fa-upload"></i> Documento</a>
                    {% endif %}
                </div>
                <div class="col-sm-2 col-xs-12 nopadding text-center">
                    No lo necesitas
                </div>
                <div class="col-sm-2 col-xs-12 nopadding text-center">
                    {% if documents[2] in documentsTypeByEmployee[i] %}
                        {% for doc in employeeDocs if (doc.status) and  (documents[2] == doc.documentTypeDocumentType) %}
                                <a class="download-link" href="{{ path('download_document', {'id': employees[i].personPerson.idPerson , 'idDocument':doc.idDocument}) }}"><i class="fa fa-cloud-download"></i> Descargar</a>
                            {% else %}
                            <a id="" class="download-link" href="{{ path('download_documents', {'id': employees[i].idContract[0].idContract, 'type': 'pdf', 'ref': 'contrato'} ) }}"><i class="fa fa-cloud-download"></i> Descargar Contrato</a>
                                <a class="upload-link" href="{{ path('documentos_employee', {'id': employees[i].personPerson.idPerson , 'idDocumentType':documents[2].idDocumentType}) }}">
                                    <i class="fa fa-upload"></i> Documento--</a>
                        {% endfor %}
                    {% else %}
                    <a id="" class="download-link" href="{{ path('download_documents', {'id': employees[i].idContract[0].idContract, 'type': 'pdf', 'ref': 'contrato'} ) }}"><i class="fa fa-cloud-download"></i> Descargar Contrato</a>
                        <a class="upload-link" href="{{ path('documentos_employee', {'id': employees[i].personPerson.idPerson , 'idDocumentType':documents[2].idDocumentType}) }}"><i class="fa fa-upload"></i>
                        Documento++</a>
                    {% endif %}
                </div>
                <div class="col-sm-2 col-xs-12 nopadding">

                </div>
            </div>
        </div>
        {% endfor %}
  {% endif %}


<!--
<table class="col-md-8">

 <thead>
  <tr>
	<th>Nombre</th>
	<th>Cedula</th>
   	<th>Rut</th>
	<th>Contrato</th>
  </tr>
 </thead>
 --
 <tbody>



 </tbody>
</table>
<table>
    <!--
	<thead>
		<tr><th>Carta de Autorización a Symplifica</th></tr>
	</thead>

	<tbody>
		<tr><td>algo</td></tr>
	</tbody>
</table>-->
<script>

    function authDownload() {
        window.open('/documents/downloads/mandato//pdf');
        var authDownload = document.getElementById('auth-download-button');
    }
</script>
{% endblock %}