{% extends "::base.html.twig" %}
{% block fos_user_content %}
    {% block stylesheets %}
        <style>
            /*
            .blockStep2 {
                margin-top: 10px;
                background: #3b4b5a !important;
                background-image: none;
                background: 0 0;
                border: 1px solid #919191;
                border-radius: 0;
                box-shadow: none;
                margin-bottom: 20px;
                padding: 15px;
                text-shadow: none;
                color: #fff;
                opacity: 0.8;
            }
            .blockStep2 .txt-AD1 {
                font-family: "Open Sans";
                font-size: 24px;
                font-weight: 700;
                text-transform: uppercase;
                color: #fff;
                white-space: normal;
            }

            .blockStep2 .txt-AD1 p {
                font-size: 14px;
                font-family: @lato;
                font-weight: 100;
                margin-bottom: 0px;
            }
            */
           .label-group{
            text-align: right !important;
           }
           .form-select{
            color: yellow !important;
           }
        </style>
    {% endblock %}

    <div class="row"></div>
    <div class="row-fluid" id='registrationFormContainer'>

        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a data-toggle="tab" class="notAjax tabsEnabled" data-target="#basicData">Datos básicos</a></li>
            <li><a data-toggle="tab" class="notAjax tabsEnabled" data-target="#contactData">Datos de contacto</a></li>
            <li><a data-toggle="tab" class="notAjax tabsEnabled" data-target="#workplacesData">Lugares de trabajo</a></li>
        </ul>

        <div class="tab-content">
            <div id="basicData" class="tab-pane fade in active">
                {# render the task's only field: description #}
                <div class="col-sm-12 col-xs-12 block-Intro">
                    <span style="color:#666; font-weight:300"><i class="fa fa-info-circle"></i> Recuerda que los campos marcados con * son obligatorios</span>
                </div>
                <div class="col-sm-10 col-xs-12 blockUpData content-input" style="border-bottom: none;">
                    <div class="col-sm-12 col-xs-12">
                        <div class="col-sm-6 label-group">
                            Tipo de Documento
                        </div>
                        <div class="col-md-6 form-group">
                            {{ employer.personPerson.documentType}}
                        </div>
                        <!--<img src="/img/documentType.png">-->
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <div class="col-sm-6 label-group">
                            Número de documento
                        </div>
                        <div class="col-sm-6 form-group input">
                            {{ employer.personPerson.document}}
                        </div>
                        <!--<img src="/img/documentNumber.png">-->
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <div class="col-sm-6 label-group">
                            Nombres
                        </div>
                        <div class="col-sm-6 form-group input">
                            {{ employer.personPerson.names}}
                        </div>                        
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <div class="col-sm-6 label-group">
                            Primer Apellido
                        </div>
                        <div class="col-sm-6 form-group input">
                            {{ employer.personPerson.lastName1}}
                        </div>
                        <!--<img src="/img/documentNumber.png">-->
                    </div>
                    <div class="col-sm-12 col-sm-push-3">
                        <a id="btn-inquiry" href="{{ path('api_public_post_inquiry_document') }}" class="btn btn-primary btnNext" style="display: none;">Consultar</a>
                    </div>
                    <div class="col-sm-12 col-xs-12">
                        <div class="col-sm-6 label-group">
                            Segundo Apellido
                        </div>
                        <div class="col-sm-6 form-group input">
                            {{ employer.personPerson.lastName2}}
                        </div>                       
                    </div>
                    <div class="col-sm-12 col-xs-12"> 
                        <div class="col-sm-6 label-group">
                            Fecha de Nacimiento
                        </div>
                        <div class="col-sm-6 form-group">
                            {{ employer.personPerson.birthDate|date('Y-m-d')}}
                        </div>                                               
                    </div>
                </div>

                <br /><br />
            </div>
            
            <div id="contactData" class="tab-pane fade in">
                <div class="col-sm-12 col-xs-12 block-Intro">
                    <span style="color:#666; font-weight:300"><i class="fa fa-info-circle"></i> Recuerda que los campos marcados con * son obligatorios</span>
                </div>
                <br></br>
                <div class="col-sm-10 col-xs-12 blockUpData">
                    <div class="col-sm-12">
                        <div class="col-sm-6 label-group">
                            Dirección principal
                        </div>
                        <div class="col-sm-6 form-group input">
                            {{ employer.personPerson.mainAddress}}
                        </div>                    
                    </div>
                    <div class="col-sm-12">
                        <ul class="phones"  >
                            {% for phone in employer.personPerson.phones %}
                                <li id="phone_{{loop.index}}" class="phoneLi">
                                    <div class="col-sm-6 label-group">
                                        Número
                                    </div>
                                    <div class="col-sm-6 form-group input">
                                        {{ phone.phoneNumber}}
                                    </div>                                                                        
                                </li>
                            {% endfor %}
                        </ul>
                    </div> 
                    <div class="col-sm-12">
                        <div class="col-sm-6 label-group">
                            Departamento
                        </div>
                        <div class="col-sm-6 form-group">
                            {{ employer.personPerson.department}}
                        </div>                    
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6 label-group">
                            Ciudad
                        </div>
                        <div class="col-sm-6 form-group">
                            {{ employer.personPerson.city}}
                        </div>                    
                    </div>                                          
                    
                </div>
                <br/><br/>

            </div>
            <div id="workplacesData" class="tab-pane fade">


                {# iterate over each existing workplaces and render its fields #}
                <ul class="workplaces"  style="list-style: none">
                    {% for workplace in employer.workplaces %}
                        <div id="workSpace_{{loop.index}}" class="col-sm-12 workSpaceLi">
                            <div class="row">
                                <div class="col-sm-10 col-xs-12 blockUpData" style="border-bottom: none">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="col-sm-6 label-group">
                                            Nombre
                                        </div>
                                        <div class="col-sm-6 form-group input">
                                            {{ workplace.name}}
                                        </div>                                                                                
                                    </div>
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="col-sm-6 label-group">
                                            Dirección
                                        </div>
                                        <div class="col-sm-6 form-group input">
                                            {{ workplace.mainAddress}}
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="col-sm-6 label-group">
                                            Departamento
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            {{ workplace.department}}
                                        </div>                                                                            
                                    </div>
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="col-sm-6 label-group">
                                            Ciudad
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            {{ workplace.city}}
                                        </div>                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12" style="border-bottom: solid #ccc;border-bottom-width: 1px; margin-bottom:20px;">
                                        
                        </div>
                    {% endfor %}                    
                </ul>
            </div>
        </div>
        <br /><br />



    </div>
    <div class="row">
        <div class="col-sm-12" style="border-bottom: solid #ccc;border-bottom-width: 0px; margin-bottom:20px;">
            <div class="col-sm-12 col-xs-12 button-bottom center">
                <a btn class="btn btn-default" href="{{ path('edit_employer') }}" class="nav-link">Editar datos</a>
            </div>
        </div>

    </div>

{% endblock fos_user_content%}
