<link rel="stylesheet" type="text/css" href="{{ asset('css/public/referred.css') }}"/>
  <div class="col-sm-12 codShare">
    <p class="light">Tu código para referir es:<br />
      <h1 class="bold">{{ app.user.code }}</h1>
    </p>
  </div>
  <div class="col-md-5 col-sm-4 shareBox" style="padding-bottom: 12px;">
    <p class="bold">Comparte en:</p>
    <!-- Load Facebook SDK for JavaScript -->
    <span id="fb-root"></span>
    <a class="notAjax azulmediofont" target="_blank" href="https://www.facebook.com/sharer/sharer.php?app_id=404251236437754&sdk=joey&u={{ url('register_referido', {'referredCode':app.user.code}) }}&display=popup&ref=plugin&src=share_button">
      <img src="https://symplifica.com/public/img/home/face.png"> Facebook |
    </a>
    <a target="_blank" class="notAjax twitter-share-button azulmediofont"
     href="https://twitter.com/intent/tweet?text=Te invito a que pruebes Symplifica gratis para gestionar a los empleados de tu hogar. Usa mi código {{ url('register_referido', {'referredCode':app.user.code}) }}"
     data-size="large">
      <img src="https://symplifica.com/public/img/home/twee.png"> twitter |
    </a>
  </div>
  <div class="col-md-7 col-sm-8 shareBox">
    <p class="bold">o copia este link</p>
    <input value="{{ url('register_referido', {'referredCode':app.user.code}) }}" onclick="this.focus();this.select();document.execCommand('copy');">
  </div>

 <script>(function(d, s, id) {
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) return;
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.8&appId=404251236437754";
   fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
