{% extends '::base.html.twig' %}

{% block fos_user_content %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/public/referred.css') }}"/>
<div>
    <div class="col-sm-12 col-xs-12 align-Resp azulclaro">
        <div id="" class=" col-sm-12 col-xs-12 blockStep inline  nav-link" >
            <div id="" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">
                 <img src="/img/block-inline.png" class="center-block">
            </div>
            <div id="" class="col-md-10 col-xs-12">
                <div id="" class="text-left">
                    <h1 style="color:#FFF;margin:25px 0 0;font-size:25px" class="bold">¡Hola {{ app.user.getPersonPerson().getNames() }}!</h1>
                    <span clas="light" style="color:#FFF;margin:0;font-weight:100;font-size:20px">Refiere a Symplifica y gana dinero para tus pagos</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="referredContainer">
  <div class="col-md-12">
    <div class="col-md-12 refTitleCont">
      <div class="col-md-2">
        <img src="{{ asset('public/img/home/referredPig.png') }}" alt="">
      </div>
      <div class="col-md-10 refTitle azuloscurofont">
        <strong>¿Sabes que Symplifica</strong>
        <h2 class="bold">PODRÍA PAGAR</h2>
        <p>el sueldo y aportes a seguridad social de tu empleada?</p>
      </div>
    </div>
    <div class="col-md-12 referredBoxesCont">
      <div class="col-md-5">
          <h4 class="grisoscurofont light">&#8226; ¿Qué recibo?</h4>
          <p class="grisclarofont light">
            <strong>Recibes $100.000</strong> en crédito Symplifica por cada persona que complete su registro con tu código, el dinero será usado para el pago de sueldo y seguridad social de tu próxima fecha de pago.
          </p>
          <h4 class="grisoscurofont light">&#8226; ¿Qué reciben mis referidos?</h4>
          <p class="grisclarofont light">
              1 meses gratis de nuestro servicio adicional al mes que te regalamos (2 meses en total).
          </p>
          <h4 class="grisoscurofont light">&#8226; ¿Qué debo hacer?</h4>
          <p class="grisclarofont light">
            Contarle a todos tus amigos y familiares tu buena experiencia e invitarlos a usar Symplifica con tu código. ¡Cómpartelo ahora en tus redes sociales!
          </p>
      </div>
      <div class="col-md-7">
          <div class="col-md-6 referredBoxes azulmediofont" style="background: #f9f9fb">
              <img src="{{ asset('public/img/home/icon9.png') }}" width="56px" height="auto" alt="moneyBa">
              <p>Dinero <strong>acumulado</strong></p>
              <h2 id="target" class="extrabold">$<span class="span" id="realTarget">0</span></h2>
              <span class="noShow btn-azul btn regular">REDIMIR</span>
          </div>
          <div class="col-md-6 referredBoxes azulmediofont">
              <img src="{{ asset('public/img/home/icon6.png') }}" width="56px" height="auto" alt="referidos">
              <p>¿Tienes a quién <strong>referir?</strong></p>
              <h2 class="extrabold">¡Refiere ya!</h2>
              <span class="btn-azul btn regular" data-toggle="modal" data-target="#myModal">REFERIR AQUÍ</span>
          </div>
          <div class="col-md-12 azulmedio noPadding">
            <div class="col-md-6 codeShare">
              <p class="regular" style="margin:0">Tu código para referir es:</p>
              <span class="extrabold" style="font-size:20px">{{ app.user.code }}</span>
            </div>
            <div class="col-md-6 azuloscuro codeShare">
              Compártelo en:
              <div>
                <!-- Load Facebook SDK for JavaScript -->
                <span id="fb-root"></span>
                <a class="notAjax" target="_blank" href="https://www.facebook.com/sharer/sharer.php?app_id=404251236437754&sdk=joey&u={{ url('register_referido', {'referredCode':app.user.code}) }}&display=popup&ref=plugin&src=share_button">
                  <img src="https://symplifica.com/public/img/home/face.png">
                </a>
                <a target="_blank" class="notAjax twitter-share-button"
                 href="https://twitter.com/intent/tweet?text=Te invito a que pruebes Symplifica gratis para gestionar a los empleados de tu hogar. Usa mi código {{ url('register_referido', {'referredCode':app.user.code}) }}"
                 data-size="large">
                  <img src="https://symplifica.com/public/img/home/twee.png">
                </a>
                 ó 
                <a style="font-size: 10px;" id="copyref" class="btn btn-azul notAjax bold" href="{{ url('register_referido', {'referredCode':app.user.code}) }}">¡Copia el link!</a>
                <input id="hiddenCopy" value="{{ url('register_referido', {'referredCode':app.user.code}) }}">
              </div>


            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 center">
    <hr />
    <button class="btn btn-grisBorde" data-toggle="modal" data-target="#modal1">Términos y condiciones</button>
  </div>
</div>

<!-- Modal terminos y condiciones-->

  <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span class="grisclarofont" aria-hidden="true">&times;</span>
         </button>
          <h4 class="modal-title azulmediofont bold center" id="myModalLabel">Términos y condiones referidos</h4>
        </div>
        <div class="modal-body light grisoscurofont" style="padding: 20px 30px">
          <p>
            • Los usuarios de Symplifica que refieran a amigos, familiares o conocidos que completen el

            registro en Symplifica, incluyendo todos los documentos solicitados, recibirán un premio de valor

            equivalente a cien mil pesos ($100.000) por cada referido, los cuales pueden hacerse efectivos en

            los pagos que salgan desde Symplifica web o App.<br /><br />

            • Para recibir el premio, las personas referidas deben haber sido documentadas por un cliente

            activo, e ingresar el código promocional en la sección “¿Tienes un código promocional?” al

            momento de crear la cuenta y completar exitosamente el registro incluyendo los documentos

            solicitados.<br /><br />

            • El crédito no podrá ser utilizado para pago en efectivo, únicamente para las transacciones

            realizadas de forma electrónica dentro de Symplifica (Pago de aportes, costos transaccionales, 4 x

            1000, pago de sueldo y prestaciones).<br /><br />

            • El premio ganado deberá ser gastado en el siguiente periodo luego de ser recibido, a no ser que

            quede saldo a favor del usuario, en caso tal, será acumulado hasta gastar la totalidad del premio.<br /><br />

            • El premio se verá reflejado en la sección “Plan Referidos” de la app y web, y se realizará el

            descuento al momento de realizar transacciones desde la plataforma.<br /><br />

            • Al realizar los pagos con este crédito no se afectarán los pagos de aportes o sueldos, solamente

            serán asumidos por Symplifica hasta los montos máximos del crédito acumulado por periodo, el

            cual no tiene un límite (depende del número de referidos traídos por el usuario)<br /><br />

            • El premio no podrá ser cambiado por efectivo ni ningún otro elemento.<br /><br />

            • Symplifica se reserva el derecho de modificar los montos con previo aviso a través de redes

            sociales.<br /><br />

            •Los referidos recibirán 2 meses gratis en el uso de la plataforma, aplicados desde el momento en

            que se inscribe una cuenta bancaria en Symplifica.<br /><br />

            • En el caso de que una persona sea un referido activo por dos o más clientes, el premio será

            entregado a la primera persona que lo haya referido.<br /><br />

            • Esta promoción solo aplica para el registro de empleados domésticos (Empleada de servicio

            doméstico, niñera, conductor, mayordomo de finca de recreo y enfermera de adulto mayor).<br /><br />

            • No es acumulable con otras promociones vigentes.<br /><br />

            • El premio es por empleador registrado independiente del número de trabajadores que registre

            en la plataforma.<br /><br />

            • Promoción válida sólo para Colombia.<br /><br />

            • En caso de retiro o desactivación de un empleado, el saldo acumulado por esta campaña no

            podrá usarse para el pago de liquidación y no podrá ser recibido en efectivo o por algún otro

            método.<br /><br />

            • Las demás condiciones de los Términos y Condiciones generales de SYMPLIFICA, incluyendo las

            restricciones para el acceso a los servicios de SYMPLIFICA y los servicios excluidos de la Plataforma,

            aplicarán también para los Usuarios que se beneficien de esta Promoción.
          </p>
        </div>
        <div class="modal-footer center">
          <button type="button" class="btn btn-grisBorde" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

<!-- Modal datos referido-->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title center azulmediofont bold">¿A quién vas a referir?</h4></h4>
        </div>
        <div id="topmsn"  class="modal-body">
          <p class="regular grisclarofont center">Simplemente envíanos los datos de tus referidos. Nosotros los llamaremos y usaremos tu código si deciden usar Symplifica</p>
        </div>
        <div class="center">
          <form id="formReferred" method="post">
            <input id="realNames" class="refBorder center" name="names" type="text" placeholder="Nombres" />
            <input class="refBorder center" name="cellphone" type="text" placeholder="Número celular" />
            <br />
            <br />
            <button id="submitReferred" type="button" class="btn btn-azul">enviar</button>
          </form>
            <div id="thankMsn">
                <h3 class="light grisclarofont">¡Refiere cuantos quieras! <!--<span class="bold azulmediofont" id="nameReferred"></span></h3> -->
            </div>
          <br />
        </div>
        <div class="modal-footer center">
          <button type="button" class="btn btn-grisBorde notAjax" data-dismiss="modal" onclick="location.reload();">Cerrar</button>
        </div>
      </div>

    </div>
  </div>

<script>
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.8&appId=404251236437754";
    fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
 </script>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>

        //codigo de plata brrrr
        var tope={{ app.user.money}};
        var delay=1000;

         setTimeout(function() {
           window.setInterval(function(){

            var total = parseInt($("#realTarget").text())+2500;
            if( total> tope ){
              return;
            }

            $("#realTarget").text(total);
          }, 25);  }, delay)
        //codigo de plata brrrr

        $("#hiddenCopy").hide();
        $("#thankMsn").hide();
        $("#copyref").on('click', function (e) {
            e.preventDefault();
            var hiddentex = $("#hiddenCopy");
            hiddentex.show();
            hiddentex.focus();hiddentex.select();document.execCommand('copy');
            hiddentex.hide();

        });
        $("#submitReferred").on('click', function (e) {
            e.preventDefault();
            var form = $("#formReferred");
            if(!form.valid()){
                return
            }
            $.ajax({
                url: $(form).attr('action'),
                type: $(form).attr('method'),
                data: $(form).serializeArray(),
                statusCode: {
                    500: function () {
                        $("#errorModal").modal("show");
                    }
                }
            }).done(function (data) {
                $("#formReferred").hide();
                $("#topmsn").hide();
                $("#thankMsn").show();
                $("#nameReferred").html($("#realNames").val());
            }).fail(function (jqXHR, textStatus, errorThrown) {
                if (jqXHR == errorHandleTry(jqXHR)) {
                    $("#errorModal").modal("show");
                }
            });
        });
        $.getScript("//ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js").done(function () {
            validator2 = $("#formReferred").validate({
                rules: {
                    "names": "required",
                    "cellphone": {required: true, maxlength: 10,minlength: 10},
                },
                messages: {
                    "names": "&#8227; Los nombres no pueden estar vacios",
                    "cellphone": {
                        required: "&#8227; El celular no puede estar vacio",
                        maxlength: "&#8227; El celular no es válido",
                        minlength: "&#8227; El celular no es válido"
                    }
                },
            });
        });
    </script>
{% endblock %}
