{% extends "::base.html.twig" %}
{% block fos_user_content %}
    <div class="col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-sm-12 col-xs-12 align-Resp">
                <div class="col-sm-12 col-xs-12 blockStep inline">
                    <div class="col-md-12 col-xs-12 txt-AD1" id="">
                        Mi cuenta
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12 center">
            <div class="row">
                <h3>Datos básicos</h3>
                <br />
                <div class="col-sm-12 center">
                    <div id="basicDataTab" class="tab-pane fade in active col-sm-12 col-xs-12 contain-info-tab">
                        {{ form_start(form) }}
                            <div class="col-sm-12" id="formErrors">
                                <div id="dataSuccessEmail">Los datos fueron actualizados exitosamente.</div>
                                <div id="dataFailEmail">Hubo un problema guardando los datos intenta más tarde</div>
                            </div>
                            <div class="col-sm-12" id="showData">
                                <h5><strong>{{ form.documentType.vars.value }} {{ form.document.vars.value|number_format(0) }}</strong></h5>
                                <h5>{{ form.name.vars.value }} {{ form.lastName1.vars.value }} {{ form.lastName2.vars.value }}</h5>
                                <h5 id="emailValue">{{ form.email.vars.value }}</h5>
                            </div>
                            <div class="col-lg-5 input-group" style="margin: 10px; display: inline-block;" id="editData">
                                {{ form_widget(form.email) }}
                            </div>
                            <div class="col-sm-12" id="formButtons">
                                {{ form_widget(form.modify) }}
                                {{ form_widget(form.save) }}
                            </div>
                        {{ form_end(form) }}
                    </div>
                    <div class="col-sm-12">
                        <hr style="width: 75%;" />
                    </div>
                    <div class="col-sm-12" id="changePasswd">
                        {% if flag == true %}
                            <h4><i>¿Quieres cambiar tu contraseña?</i></h4>
                            <button type="button" class="btn btn-symplifica" aria-label="Left Align" onclick="$('#passwordTab').slideToggle(); $(this).hide();">Cambiar contraseña</button>
                            <div id="passwordTab" class="tab-pane fade in" style="display: none">
                                <div class="col-lg-5 input-group center" style="margin: 10px; display: inline-block;">
                                    {{ render(controller('RocketSellerTwoPickBundle:ChangePassword:changePassword')) }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <hr style="width: 75%;" />
            </div>

            <div class="row">
                <h3 style="color: #1fcecb;font-weight: 600;">Medios de pago</h3>
                <div class="col-sm-12 center">
                    <div class="col-sm-12 col-xs-12">
                        {% if (payMethods['creditCards'] is defined) %}
                        <div class="row panel panel-default table-responsive" id="creditCards">
                            <!-- Default panel contents -->
                            <div class="panel-heading center">Tarjetas de crédito</div>
                            <!-- Table -->
                            <table class="table table-bordered ">
                                <tbody>
                                    {% for payM in payMethods['creditCards'] %}
                                    <tr>
                                        <td class="vert-align">
                                            <span>Terminada en</span>
                                            <h4><strong>{{ payM["account"] }}</strong></h4>
                                        </td>
                                        <td class="vert-align">
                                            <span>Franquicia</span>
                                            <h4><strong>{{ payM["payment-type"] }}</strong></h4>
                                        </td>
                                        <td class="vert-align">
                                            <a class="fa-2x fa fa-trash-o"></a>
                                            <a class="" style="margin-left: 10px;">Eliminar tarjeta</a>
{#                                     <td><a class="DeleteCC" href="{{ path('api_public_get_delete_pay_method',{'idPayM': payM['method-id'], 'idUser': app.user.personPerson.document })  }}">Eliminar</a></td>#}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                        {% if (payMethods['bankAccounts'] is defined) %}
                        <div class="row panel panel-default table-responsive" id="bankAccounts">
                            <!-- Default panel contents -->
                            <div class="cuentas-heading center">Cuentas bancarias</div>
                            <!-- Table -->
                            <div class="table table-bordered ">
                                <div>
                                    {% for payM in payMethods['bankAccounts'] %}
                                    <div class="contCuentas">
                                        <div class="vert-align cuentasBanc">
                                            <span>Tipo de cuenta</span>
                                            <h4><strong>{{ payM["payment-type"] }}</strong></h4>
                                        </div>
                                        <div class="vert-align cuentasBanc borderun">
                                            <span>Número de cuenta</span>
                                            <h4><strong>{{ payM["account"] }}</strong></h4>
                                        </div>
                                        <div class="vert-align cuentasBanc">
                                            <span>Banco</span>
                                            <h4><strong>{{ payM["bank"] }}</strong></h4>
                                        </div>
{#                                         <td class="vert-align">#}
{#                                             <a class="fa-2x fa fa-trash-o"></a>#}
{#                                             <a class="" style="margin-left: 10px;">Eliminar cuenta</a>#}
{#                                     <td><a class="DeleteCC" href="{{ path('api_public_get_delete_pay_method',{'idPayM': payM['method-id'], 'idUser': app.user.personPerson.document })  }}">Eliminar</a></td>#}
{#                                         </td>#}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row text-center borderNewpayM">
                            <a style="color: #fd9224;" type="button" id="addPayMethod" class="" value="Agregar" href="{{ path('add_generic_payment_method',{userId:app.user.id}) }}"><i class="fa fa-plus-circle"></i> <i>Agregar método de pago</i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <hr style="width: 75%;" />
            </div>

            <style>
            .service-days {
              background-color: #1fcecb;
              margin: 0 auto;
              width: 300px;
              padding: 15px 10px;
              color: #fff;
              text-align: center;
              border-radius: 5px;
            }
            .service-days h1 {
                font-size: 30px;
                margin: 0;
                padding: 0;
                font-weight: 800;
            }
            .vert-align {
                vertical-align: middle !important;
            }
            @media only screen and (max-width: 480px) {
              .service-days {width: 90%;}
            }
            </style>
            <div class="row">
                <h3 style="color: #1fcecb;font-weight: 600;">Facturación</h3>
                <div class="col-sm-12 center">
                    <div class="col-sm-12 col-xs-12 center">
                        <div class="row">
                            <h4 style="color: gray;"><i>Días restantes de servicio gratuito</i></h4>
                            <div class="service-days">
                                <h1>{{ dayService }} días</h1>
                            </div>
                            <h5 style="color: gray;">Cliente desde {{ dateCreated|date("F")|trans|lower }} {{ dateCreated|date("d") }} de {{ dateCreated|date("Y") }}</h5>
                        </div>
                        {% if app.user.paymentState == 0 %}
                            <div class="NoPay row panel-default col-sm-12">
                                <h3>No haz activado tu suscripción a Symplifica</h3>
                                <a class="button btn btn-symplifica" href="{{ path("subscription_choices") }}">Activar suscripción</a>
                            </div>
                        {% else %}
                          {% if eHEToSend.partialTime + eHEToSend.fullTime > 0 %}
                            <div class="row panel panel-default table-responsive">
                                <!-- Default panel contents -->
                                <div class="panel-heading center">Fecha de próxima facturación</div>
                                <!-- Table -->
                                <table class="table table-bordered ">
                                    <tbody>
                                        <tr>
                                            <td class="vert-align"><span>{{ factDate|date("F")|trans }} {{ factDate|date("d") }} {{ factDate|date("Y") }}</span></td>
                                            <td class="vert-align">
                                                <span style="font-weight: 800;">$ {{ amountToPay|number_format(0) }} COP</span>
                                            </td>
                                            <td style="width: 40%;">
                                                <ul style="list-style:none; margin: 10px; text-align: justify;">
                                                  {% if eHEToSend.partialTime > 0 %}
                                                    {% if eHEToSend.partialTime == 1 %}
                                                      <li>{{ eHEToSend.partialTime }} Empleado de tiempo parcial</li>
                                                    {% else %}
                                                      <li>{{ eHEToSend.partialTime }} Empleados de tiempo parcial</li>
                                                    {% endif %}
                                                  {% else %}
                                                    {% if eHEToSend.fullTime == 1 %}
                                                      <li>{{ eHEToSend.fullTime }} Empleado de tiempo completo</li>
                                                    {% else %}
                                                      <li>{{ eHEToSend.fullTime }} Empleados de tiempo completo</li>
                                                    {% endif %}
                                                  {% endif %}
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                          {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <hr style="width: 75%;" />
            </div>
            <style>
            .no-border {
                border: 0 !important;
            }
            </style>
            <div class="row">
                <h3 style="color: #1fcecb;font-weight: 600;">Facturas emitidas</h3>
                <div class="col-sm-12 center">
                    <div class="col-sm-12 col-xs-12 table-responsive">
                        <table class="record_properties table table-bordered">
                            <thead>
                                <tr>
                                    <th class="no-border">Fecha de pago</th>
                                    <th class="no-border">Número factura</th>
                                    <th class="no-border">Concepto</th>
                                    <th class="no-border">Valor</th>
                                    <th class="no-border">PDF</th>
                                </tr>
                            </thead>
                            <tbody class="table-bordered">
                                {% for invoice in invoices %}
                                    <tr>
                                        <td class="vert-align">{{ invoice.purchaseOrders.DateCreated|date('d/m/Y') }}</td>
                                        <td class="vert-align">{{ invoice.purchaseOrders.invoiceNumber }}</td>
                                        <td class="vert-align">{{ invoice.description }}</td>
                                        <td class="vert-align">$ {{ invoice.value|number_format(0) }}</td>
                                        <td class="vert-align">
                                            <a class="fa fa-file-pdf-o fa-2x" href="{{ path('download_documents', { 'id': invoice.purchaseOrders.idPurchaseOrders, 'ref': 'factura', 'type': 'pdf' }) }}"></a>
                                            <a href="{{ path('download_documents', { 'id': invoice.purchaseOrders.idPurchaseOrders, 'ref': 'factura', 'type': 'pdf' }) }}"><i style="margin-left: 5px;">Ver PDF</i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal loader-->
    <div class="modal fade" role="dialog" id="modal_loader">
        <div class="modal-dialog text-center" style="text-align: center;">
{#             <div class="modal-content text-center">#}
{#                 <img src="/img/loader.gif">#}
                <i class="fa fa-spinner fa-5x fa-spin" aria-hidden="true" style="color: white;"></i>
{#             </div><!-- /.modal-content -->#}
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Modal add metodo de pago-->
    <div id="modal_add_pay_method"></div>

{% endblock fos_user_content%}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
    $(document).ready(function () {
        changePassword();
    });

    function changePassword() {
        $('form.fos_user_change_password').submit(function(e){
            e.preventDefault();

            var form = $(this);
            var div = form.parent();

			$.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: form.serialize()
            }).done( function(data){
                div.html(data);
                changePassword();
            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus + " - " + errorThrown);
            });

        });
    }

    $('#addPayMethod').click(function (event) {
        event.preventDefault();
        url = $(this).attr('href');
        $.ajax({
            url: url,
            //data: data,
            //success: success,
            //dataType: dataType,
            beforeSend: function (xhr) {
                $('#modal_loader').modal('show');
            }
        }).done(function (data) {
            //$('#modal_add_pay_method').html($(data).find("#main"));
            $('#modal_add_pay_method').html($(data).find("#main"));


            $('#addGenericPayMethodModal').modal('show');
            $.getScript("{{ asset('/public/js/addPayMethod.js') }}").done(function () {
                payMethodLoad();
            });
        }).fail(function (data) {
            //$("#modal_body_add_novelty").html(data);
        }).always(function () {
            $('#modal_loader').modal('hide');
        });
    });

    function updateListPaymentMethods(data) {
        console.log(data);
//         $(".paymentMethod").each(function () {
//             $(this).html(jsonToSelect(data));
//         });
        location.reload();
//         var html = '';
//         $.each(data['payment-methods'], function (key, obj) {
//             html += '<option value="' + obj['method-id'] + '">' + obj['account'] + '</option>';
//         });
    }
//     function jsonToSelect(data) {
//         html = '';
//         $.each(data['payment-methods'], function (key, obj) {
//             html += '<option value="' + obj['method-id'] + '">' + obj['account'] + '</option>';
//         });
//         return html;
//     }
    </script>
{% endblock javascripts %}
