{% extends "::base.html.twig" %}
{% block fos_user_content %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div id="formFields" class="form-black">
        <div class="row">
            <div class="col-md-10 col-md-push-1">
                <br/>
                <br/>
                <h2>¿Cómo creo una cuenta en Daviplata para mi empleado?</h2>
                <br/>
                <p>Puedes ver el video acontinuación que te explicara paso a paso como crear una cuenta en Daviplata
                  o puedes dar clic en el botón e ir a la página de Daviplata y crear la cuenta.</p>
                {% if form.cellphone is defined %}
                    <div id="step2">
                        {{ form_row(form.cellphone) }}
                        {{ form_row(form.save) }}
                    </div>
                {% endif %}
                {% if form.create is defined %}
                <div id="step1">
                    {{ form_row(form.create) }}
                </div>

                {% endif %}
                {% if form.discard is defined %}
                <div id="step3">
                    {{ form_row(form.discard) }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock fos_user_content %}
