{% extends "::base.html.twig" %}
{% block fos_user_content %}
	<div id="formForm">
		{% if errno is defined %}
			<div id="error">
				{{ errno }}
			</div>
		{% endif %}
	<div id="notaNovedad" style="font-style: italic;"></div>
	</br>
	{{ form_start(form) }}
	    {{ form_errors(form) }}
		<div id="formFields" class="form-black">
			{{ form_row(form.noveltyType) }}
			{% if form.documents is defined %}
				{% for document in form.documents %}
					<div style="display: none;">
						{{ form_row(document.mediaMedia.unlink) }}
					</div>

					<div style="display: none;">
						{{ form_row(document.documentTypeDocumentType) }}
					</div>
                    {% if (document.documentTypeDocumentType.vars.data.refPdf) %}
                        Tenemos un formato de {{ document.documentTypeDocumentType.vars.data.name }} diligenciado listo para ser firmado
                        <a id="" class="download-link notAjax" href="{{ path('download_documents', {'id': document.parent.parent.vars.data.idNovelty, 'type': 'pdf', 'ref': document.documentTypeDocumentType.vars.data.refPdf } ) }}"><i class="fa fa-cloud-download">PDF</i></a>
                    {% endif %}
					<div class="col-sm-10 col-xs-12 blockUpData content-input" style="border-bottom: none;">
						<div class="col-sm-12 col-xs-12">
							<div class="col-sm-6 label-group">
								{{ form_widget(document.name) }}
							</div>
							<div class="col-sm-6">
								{{ form_widget(document.mediaMedia.binaryContent) }}
							</div>
							<!--<img src="/img/typePerson.png">-->
						</div>
					</div>
				{% endfor %}
			{% endif %}
			<div style="display: none">{{ form_widget(form.save) }}</div>

			{{ form_widget(form) }}

			<div class="row">
				<div class="col-xs-6 text-right">
					<button type="button" class="btn btnPrevious" data-dismiss="modal">Cerrar</button>
				</div>
				<div class="col-xs-6 text-left">
					<button type="submit" id="form_save" name="form[save]" class="btn btn-orange">Siguiente</button>
				</div>
			</div>
		</div>
    {{ form_end(form) }}
	</div>
{% endblock fos_user_content %}
