{% extends "::base.html.twig" %}
{% block fos_user_content %}
	{{ form_start(form) }}
	    {{ form_errors(form) }}
		<h2>Selecciona el tipo de novedad</h2>
		<div id="formFields">
			{{ form_widget(form.noveltyTypeGroup) }}
			Separador
			<br>
			{% for child in form.noveltyType %}
					{% set index = child.vars.value %}
					<div class="{{ choices[index].grupo }}" class="noveltySelect" >
						{{ form_widget(child) }}
					</div>

			{% endfor %}
		</div>
	{{ form_end(form) }}
{% endblock fos_user_content %}
{% block javascripts %}
	{{ parent() }}
	<script>
		function addNoveltySelectListener() {

		}
		$(document).ready( function(){
			hideAll();
			$("input[name='form[noveltyTypeGroup]']").change(function(){
				var selectedVal = $("input[name='form[noveltyTypeGroup]']:checked");
				hideAll();
				var group=$("."+selectedVal.val());
				if(group.length==1){
					group.each(function(){
						$(this).show();
						$(this).find("input").prop( "checked", true );
					});
				}else{
					group.each(function(){
						$(this).show();
					});
				}
			})
			addNoveltySelectListener();
		});
		function hideAll(){
			$("input[name='form[noveltyTypeGroup]']").each(function(){

				$("."+$(this).val()).each(function(){
					$(this).hide();
				});
			})
		}
	</script>
{% endblock javascripts %}