{% extends "::base.html.twig" %}
{% block fos_user_content %}
	{{ form_start(form) }}
	    {{ form_errors(form) }}
		<div id="formFields">
			{% for child in form.noveltyType %}
					{% set index = child.vars.value %}
					<div class="{{ choices[index].group }}" class="noveltySelect" >
						{{ form_widget(child) }}
					</div>

			{% endfor %}
			{{ form_widget(form) }}
		</div>
	{{ form_end(form) }}
{% endblock fos_user_content %}