
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#noveltyModal">Agregar Novedad</button>

	<!-- Modal -->
	<div id="noveltyModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Agregar Novedad</h4>
				</div>
				<div class="modal-body">
					{{ form_start(form) }}
					{{ form_errors(form) }}
					<h2>Selecciona el tipo de novedad</h2>
					<div id="formFields">
						{{ form_widget(form.noveltyTypeGroup) }}
						<hr>
						<br>
						{% for child in form.noveltyType %}
							{% set index = child.vars.value %}
							<div class="{{ choices[index].grupo }}" class="noveltySelect" >
								{{ form_widget(child) }}
							</div>

						{% endfor %}
					</div>
					{{ form_widget(form.save) }}
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					{{ form_end(form) }}
				</div>
				<div class="modal-footer">

				</div>
			</div>

		</div>
	</div>