
<!--button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#noveltyModal">Agregar Novedad</button>

	<!-- Modal -->
	<div id="noveltyModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body" style="padding: 0">
                	<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute; right: 15px; top: 15px;z-index: 100; color: #fff;"><span aria-hidden="true">&times;</span></button>
                	<div class="row-fluid block-Intro-green clearfix" id="msgSinVerificar1" style="margin-top: 0;">
                    	<div class="col-sm-12 col-xs-12 up-Intro" style="font-size: 26px;">Agregar novedad</div>
                	</div>
                	<div class="row-fluid clearfix cuerpoNovelty" style="padding: 30px; 15px;">
                    	{{ form_start(form) }}
						{{ form_errors(form) }}
						<span class="seleccionar">Selecciona el tipo de novedad</span>
						</br>
						<div id="empId">{{empId}}</div>
						<div id="formFields">
							{{ form_widget(form.noveltyTypeGroup,{'attr': {'class':'clearfix'}}) }}
							<div id="subTypes" class="clearfix">
								{% for child in form.noveltyType %}
									{% set index = child.vars.value %}
									<div class="{{ choices[index].grupo }}" class="noveltySelect" >
										{{ form_widget(child) }}
									</div>

								{% endfor %}
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6 text-right">
								<button type="button" class="btn btnPrevious" data-dismiss="modal">Cerrar</button>
							</div>
							<div class="col-xs-6 text-left">
								<button type="submit" id="form_save" name="form[save]" class="btn btn-orange">Siguiente</button>
								<div style="display: none">{{ form_widget(form.save) }}</div>
							</div>
						</div>
						{{ form_end(form) }}
                	</div>
            	</div>
        	</div>
		</div>
	</div>
