{% extends "::base.html.twig" %}
{%  from '@RocketSellerTwoPick/modal_templates/modal_picker.twig' import modal %}
{% block modales %}
	{{ modal(1) }}
	{{ modal(2) }}
{% endblock %}
{% block fos_user_content %}

<div id='registrationFormContainer' class=''>
{{ form_start(form) }}



	    {# render the task's only field: description #}
	    {{ form_widget(form)}}




</div>



{{ form_end(form) }}
</div>

{% endblock fos_user_content %}
{% block javascripts%}
{{ parent() }}
<script>
jQuery(document).ready(function() {
	//funcion que agrega un listener a cada department
	addListeners();
});

function addListeners() {
    $('select').filter(function() {
	        return this.id.match(/department/);
	    }).change(function() {
	  var $department = $(this);
	  // ... retrieve the corresponding form.
	  var $form = $(this).closest('form');
	  // Simulate form data, but only include the selected department value.
	  var data = {};
	  data[$department.attr('name')] = $department.val();
	  var citySelectId = $department.attr("id").replace("_department", "_city");
	  // Submit data via AJAX to the form's action path.
	  $.ajax({
	    url : $form.attr('action'),
	    type: $form.attr('method'),
	    data : data,
	    success: function(html) {
	      // Replace current position field ...
	      $('#'+citySelectId).replaceWith(
	        // ... with the returned one from the AJAX response.
	        $(html).find('#'+citySelectId)
	      );
	      // Position field now displays the appropriate positions.
	    }
	  });
	});
}
</script>

{% endblock javascripts %}
