{% extends "::base.html.twig" %}

{% block fos_user_content %}

    <div id='registrationFormContainer' class=''>
        {{ form_start(form) }}

        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a data-toggle="tab" href="#employeeEntities">Entidades de tus empleados</a></li>
            <li><a data-toggle="tab" href="#employerEntities">Tus Entidades</a></li>
            <li><a data-toggle="tab" href="#docsMatrix">Documentos requeridos</a></li>
        </ul>

        <div class="tab-content">
            <div id="employeeEntities" class="tab-pane fade in active">
                {# render the task's only field: description #}
                {{ form_row(form.idEmployer) }}
                Para finalizar el proceso es necesario confirmar la información de afiliación a Seguridad Social de sus empleados. Los campos marcados con * son obligatorios.

                Tenga presente que deberá asignar la entidad con la cual tiene afiliación actualmente y de no contar con ella, Symplifica se encargará de realizarla. Si el empleado desea cambiar de entidad, deberá contactarse con nosotros para asesorarlo.
                <div>        
                    <div class="col-sm-12 col-xs-12 blockUpData" style="border-bottom: none;">
                        <div class="col-sm-3 col-xs-12">
                            <img src="/img/1-iconStep.png">
                            <span>Nombre</span>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <img src="/img/2-iconStep.png">
                            <span>Salud</span>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <img src="/img/3-iconStep.png">
                            <span>Pensión</span>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <img src="/img/4-iconStep.png">
                            <span>¿Registrará beneficiarios?</span>
                        </div>
                    </div>
                    {% for employee in form.employerHasEmployees %}
                        <div class="col-sm-12 col-xs-12 blockUpData" style="border-bottom: none;">
                            <div class="col-sm-3 col-xs-12">
                                {{ form_row(employee.nameEmployee) }}
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                {{ form_row(employee.wealth) }}
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                {{ form_row(employee.pension) }}
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                {{ form_row(employee.beneficiaries) }}
                                {{ form_row(employee.idEmployerHasEmployee) }}
                            </div>
                        </div>
                    {% endfor %}  
                </div>


                <a id="btn-1" href="{{ path('api_public_post_matrix_choose_submit_step1') }}" class="btn btn-primary btnNext" >Siguiente</a>

            </div>

            <div id="employerEntities" class="tab-pane fade in">

                Ahora es necesario que escoja la Administradora de Riesgos Laborales y la Caja de Compensación Familiar a las cuales se afiliará como empleador de acuerdo a la ley.
                Si ya se encuentra afiliado y desea continuar afiliado a ellas, selecciónelas a continuación. Los campos marcados con * son obligatorios:
                <div class="row text-center">
                    
                    <h3>{{ employerName }}<br /></h3>
                    <h4>{{ employerDocumentType }} {{ employerDocument }}</h4>
                    
                </div>
                <div class="row">        
                    <div class="col-sm-12 col-xs-12 blockUpData" style="border-bottom: none;">
                        <div class="col-sm-6 col-xs-12">
                            <img src="/img/10-iconExit-Step.png">
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <img src="/img/10-iconExit-Step.png">
                        </div>
                    </div>
                        <div class="col-sm-12 col-xs-12 blockUpData" style="border-bottom: none;">
                            <div class="col-sm-6 col-xs-12">
                                {{ form_row(form.severances) }}
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                {{ form_row(form.arl) }}
                            </div>
                        </div>
                </div>
                <br />
                Indique la Actividad económica establecida en su Registro Único Tributario (RUT) o en su defecto mantenga el código asignado por Symplifica el cual corresponde a Empleador de Servicio Doméstico.

                {{ form_row(form.economicalActivity) }}
                
                
                
                
                
                
                <a class="btn btn-primary btnPrevious" >< Anterior</a>

                <a id="btn-2" href="{{ path('api_public_post_matrix_choose_submit_step2') }}" class="btn btn-primary btnNext" >Siguiente</a>




            </div>
            <div id="docsMatrix" class="tab-pane fade in">
            <h4>¡Sólo queda este paso para finalizar la configuración inicial!</h4>
            Podrá terminar la configuración inicial una vez anexe los documentos que se relacionan a continuación
                <div id='' class='col-xs-12'>
                    <div class="">
                        <div class="">
                            {{ render(controller(
                		        'RocketSeller\TwoPickBundle:Employer:registrationDocuments'
                    		)) }}
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary btnPrevious" >< Anterior</a>

                {{ form_row(form.save) }}
            </div>


        </div>
        {{ form_end(form) }}
    </div>
{% endblock fos_user_content%}
