{% extends "::base.html.twig" %}

{% block fos_user_content %}

<div id='registrationFormContainer' class=''>
{{ form_start(form) }}

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#basicData">Datos básicos</a></li>
  <li><a data-toggle="tab" href="#contactData">Datos de contacto</a></li>
  <li><a data-toggle="tab" href="#workplacesData">Lugares de trabajo</a></li>
</ul>

<div class="tab-content">
	<div id="basicData" class="tab-pane fade in active">
	    {# render the task's only field: description #}
	    {{ form_row(form.idEmployer) }}
		{{ form_widget(form) }}
		{{ form_row(form.save) }}
	    <a id="btn-1" href="{{ path('api_public_post_edit_person_submit_step1') }}" class="btn btn-primary btnNext" >Siguiente</a>

	</div>

	<div id="contactData" class="tab-pane fade in">

	    <a class="btn btn-primary btnPrevious" >Anterior</a>
	    <a id="btn-2" href="{{ path('api_public_post_edit_person_submit_step2') }}" class="btn btn-primary btnNext" >Siguiente</a>

    </div>

    <div id="workplacesData" class="tab-pane fade h3">
	    <a class="btn btn-primary btnPrevious" >Anterior</a>

    </div>




</div>



{{ form_end(form) }}
</div>
{% endblock fos_user_content%}
