{% extends "::base.html.twig" %}

{% block fos_user_content %}

    <div id='registrationFormContainer' class=''>
        {{ form_start(form) }}

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#employeeEntities">employee Entities</a></li>
            <li><a data-toggle="tab" href="#employerEntities">employer Entities</a></li>
            <li><a data-toggle="tab" href="#docsMatrix">Matriz de Docs</a></li>
        </ul>

        <div class="tab-content">
            <div id="employeeEntities" class="tab-pane fade in active">
                {# render the task's only field: description #}
                {{ form_row(form.idEmployer) }}
                Para finalizar el proceso es necesario confirmar la información de afiliación a Seguridad Social de sus empleados. Los campos marcados con * son obligatorios.

                Tenga presente que deberá asignar la entidad con la cual tiene afiliación actualmente y de no contar con ella, Symplifica se encargará de realizarla. Si el empleado desea cambiar de entidad, deberá contactarse con nosotros para asesorarlo.
                <table>
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Salud
                        </th>
                        <th>
                            Pensión
                        </th>
                        <th>
                            ¿Registrará beneficiarios?
                        </th>
                    </tr>
                    {% for employee in form.employerHasEmployees %}
                        <tr>
                            <td>
                                {{ form_row(employee.nameEmployee) }}
                            </td>
                            <td>
                                {{ form_row(employee.wealth) }}
                            </td>
                            <td>
                                {{ form_row(employee.pension) }}
                            </td>
                            <td>
                                {{ form_row(employee.beneficiaries) }}
                                {{ form_row(employee.idEmployerHasEmployee) }}
                            </td>
                        </tr>
                    {% endfor %}

                </table>
                <a id="btn-1" href="{{ path('api_public_post_matrix_choose_submit_step1') }}" class="btn btn-primary btnNext" >Siguiente</a>

            </div>

            <div id="employerEntities" class="tab-pane fade in">
                Ahora es necesario que escoja la Administradora de Riesgos Laborales y la Caja de Compensación Familiar a las cuales se afiliará como empleador de acuerdo a la ley.
                Si ya se encuentra afiliado y desea continuar afiliado a ellas, selecciónelas a continuación. Los campos marcados con * son obligatorios:

                {{ employerName }}
                {{ employerDocumentType }} {{ employerDocument }}
                {{ form_row(form.severances) }}
                {{ form_row(form.arl) }}
                Indique la Actividad económica establecida en su Registro Único Tributario (RUT) o en su defecto mantenga el código asignado por Symplifica el cual corresponde a Empleador de Servicio Doméstico.
                {{ form_row(form.economicalActivity) }}
                <a class="btn btn-primary btnPrevious" >< Anterior</a>

                <a id="btn-2" href="{{ path('api_public_post_matrix_choose_submit_step2') }}" class="btn btn-primary btnNext" >Siguiente</a>




            </div>
            <div id="docsMatrix" class="tab-pane fade in">
                <div id='' class='col-xs-12'>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {{ render(controller(
		        'RocketSeller\TwoPickBundle:Employer:registrationDocuments'
    		)) }}
                        </div></div></div>
                <a class="btn btn-primary btnPrevious" >< Anterior</a>

                {{ form_row(form.save) }}
            </div>


        </div>
        {{ form_end(form) }}
    </div>
{% endblock fos_user_content%}
