{% extends "::base.html.twig" %}

{% block fos_user_content %}

    {% block stylesheets %}
        {{ parent() }}
        <style>
            .blockUpData label {
                min-height: 0px;
            }
            .blockUpData .radio {
                padding: 5px 5px 5px 5px;
                margin: 0px;
                display: inline;
                /* vertical-align: middle; */
            }
            .blockUpData{
                margin-top: 0;
                border-bottom: 1px solid #E6E7E8;
            }
            .saveControl{
                margin-left: 10px;
                display: inline-block;
            }

            .forma {
                margin-top: 60px;
                border-top: 1px solid #E6E7E8;
            }

            #employeeEntities .forma .title {
                font-size: 15px;
                font-weight: bold;
                color: #5D5D5D;
            }

            input[type="text"]:disabled {
                background-color: #00828B;
                border: none;
                color: #fff!important;
                text-align: center;
            }

            .formulario h3 {
                font-size: 18px;
                font-weight: bold;
                margin: 0;
                margin-top: 40px;
            }

            .formulario h4 {
                font-size: 15px;
                font-weight: 200;
            }

            #employerEntities label {
                font-size: 15px;
                color: #5D5D5D;
                font-weight: bold;
            }

            #modal-body {
                position: absolute;
                top: 0;
                width: 100%;
            }

            .form-group {
                text-align: center;
            }

            #add_document_save {
                text-align: center;
                margin-top: 40px;
            }
        </style>
    {% endblock %}

    <div id='registrationFormContainer' class='' style="margin-top: 10px;">
        {{ form_start(form) }}
        <div class="col-sm-12 col-xs-12 align-Resp" style="margin-bottom: 30px;">
            <div id="" class="col-sm-12 col-xs-12 blockStep inline">
                <div id="" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">
                    <img src="/img/block-inline.png" class="center-block">
                </div>
                <div id="" class="col-md-10 col-xs-12 txt-AD1">
                    <div id="" class="text-left">
                        <span class="step">Paso 4 de 4</span>
                        Finalizar registro
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <ul class="nav nav-tabs nav-justified">
                <li {%   if tab==1 %} class="active" {% endif %}><a data-toggle="tab" data-target="#employeeEntities">Entidades de los empleados</a></li>
                <li {%   if tab==2 %} class="active" {% endif %}><a data-toggle="tab" data-target="#employerEntities">Tus entidades</a></li>
                <li {%   if tab==3 %} class="active" {% endif %}><a data-toggle="tab" data-target="#docsMatrix">Documentos requeridos</a></li>
            </ul>

            <div class="tab-content">
                <div id="employeeEntities" class="tab-pane fade in {%   if tab==1 %}active{% endif %}">
                    {# render the task's only field: description #}
                    {{ form_row(form.idEmployer) }}
                    <div class="forma clearfix">
                        <div class="col-sm-12 col-xs-12 blockUpData" style="border: none;">
                            <div class="col-sm-3 col-xs-12">
                                <div class="title text-center">Nombre</div>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <div class="title text-center">Salud</div>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <div class="title text-center">Pensión</div>
                            </div>
                            <div class="col-sm-3 col-xs-12">
                                <div class="title text-center">¿Registrará beneficiarios?</div>
                            </div>
                        </div>
                        {% for employee in form.employerHasEmployees %}
                            {% if employee.wealth.vars.data.name is defined %}
                                {% set wname = employee.wealth.vars.data.name %}
                            {% else %}
                                {% set wname = "" %}
                            {% endif %}
                            {% if employee.pension.vars.data.name is defined %}
                                {% set pname = employee.pension.vars.data.name %}
                            {% else %}
                                {% set pname = "" %}
                            {% endif %}
                            <div class="col-sm-12 col-xs-12 blockUpData">
                                <div class="col-sm-3 col-xs-12">
                                    {{ employee.nameEmployee.vars.data }}
                                    {{ employee.lastNameEmployee.vars.data }}
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                    <div class="hidden">
                                        {{ form_row(employee.nameEmployee) }}
                                        {{ form_row(employee.lastNameEmployee) }}
                                        {{ form_row(employee.wealth) }}
                                    </div>
                                    {{ form_row(employee.wealthAC,{'value' : wname}) }}
                                </div>
                                <div class="wrapper">
                                    <div class="hidden">
                                        {{ form_row(employee.pension) }}
                                    </div>
                                    <div class="col-sm-3 col-xs-12">
                                        {{ form_row(employee.pensionAC,{'value' : pname}) }}
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                    {{ form_row(employee.beneficiaries) }}
                                </div>
                                {{ form_row(employee.idEmployerHasEmployee) }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-sm-12 col-xs-12 center" style="margin-top: 20px; margin-bottom: 20px;">
                        <label><input type="checkbox" name="chkAcept" id="chkAcept"/> Acepto que la información anterior fue verificada por los empleados.</label>
                    </div>
                    <div class="col-sm-12 col-xs-12 center">
                        <a id="btn-1" href="{{ path('api_public_post_matrix_choose_submit_step1') }}" class="btn btn-orange disabled" >Confirmar información</a>
                        <br></br>
                    <br></br>
                    </div>


                </div>

                <div id="employerEntities" class="tab-pane fade in {%   if tab==2 %}active{% endif %}">
                    <div class="formulario" style="padding-top: 30px; border-bottom: 1px solid #E6E7E8;">
                        <div class="col-sm-12 col-xs-12 text-center">
                            <p>
                                Escoge la Administradora de Riesgos Laborales y la Caja de Compensación Familiar a las cuales estas afiliado o te afiliarás como empleador. Symplifica no hace cambios de entidades.
                            </p>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-xs-12 blockUpData" style="border-bottom:none;">
                                <div class="row text-center">

                                    <h3>{{ employerName }}</h3>
                                    <h4>{{ employerDocumentType }} {{ employerDocument }}</h4>

                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="col-sm-12">
                                        {{ form_label(form.severances,null,{'label_attr': {'class': 'title'}})}}
                                    </div>
                                    {% if employee.severances.vars.data.name is defined %}
                                        {% set sname = employee.severances.vars.data.name %}
                                    {% else %}
                                        {% set sname = "" %}
                                    {% endif %}
                                    {% if employee.arl.vars.data.name is defined %}
                                        {% set aname = employee.arl.vars.data.name %}
                                    {% else %}
                                        {% set aname = "" %}
                                    {% endif %}
                                    <div class="wrapper">
                                        <div class="hidden">
                                            {{ form_row(form.severances) }}
                                        </div>
                                        <div class="col-xs-12">
                                            {{ form_row(form.severancesAC,{'value' : sname}) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="col-sm-12">
                                        {{ form_label(form.arl,null,{'label_attr': {'class': 'title'}})}}
                                    </div>
                                    <div class="wrapper">
                                        <div class="hidden">
                                            {{ form_row(form.arl) }}
                                        </div>
                                        <div class="col-xs-12">
                                            {{ form_row(form.arlAC,{'value' : aname}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12 remember">
                                <span style="color:#666; font-weight:300"><i class="fa fa-info-circle"></i> Recuerda que los campos marcados con * son obligatorios</span>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="col-sm-12 col-xs-12 center">
                        <a class="btn btnPrevious" >Anterior</a>
                        <a id="btn-2" href="{{ path('api_public_post_matrix_choose_submit_step2') }}" class="btn btn-orange" >Siguiente</a>
                    </div>
                </div>
                <div id="docsMatrix" class="tab-pane fade in {%   if tab==3 %}active{% endif %}">


                    <div id='' class='col-xs-12'>
                        <div class="">
                            <div class="">
                                {{ render(controller('RocketSeller\TwoPickBundle:Employer:registrationDocuments')) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 block-Intro">
                        <p>Para que puedas empezar a disfrutar Symplifica y nosotros podamos empezar a trabajar por tí, necesitamos que cargues los siguientes documentos.</p>
                        <p>Es mucho más facil cargar estos documentos desde nuestra aplicación tomando tan sólo una foto de los documentos.</p>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-xs-6">
                                <strong>Buscala en tu tienda de aplicaciones y descárgala</strong>
                                <img src="/img/tiendas.png" class="img-responsive" style="padding: 20px 0;" />
                            </div>
                            <div class="col-xs-6">
                                <strong>Descarga nuestra aplicación con este código</strong>
                                <img src="/img/qr.png" class="img-responsive" style="padding: 20px 0;" />
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="col-sm-12 col-xs-12 center" style="margin-top: 30px;">
                        <a class="btn btn-primary btnPrevious" > Anterior</a>
                        <div class="saveControl"><button type="submit" id="register_social_security_save" name="register_social_security[save]" class="btn btn-orange">Guardar</button><div style="display: none;">{{ form_row(form.save) }}</div></div>
                    </div>
                </div>


            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock fos_user_content%}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $(".upload-link").hover(function() {
                    $(this).css('cursor','pointer');
                }, function() {
                    $(this).css('cursor','auto');
            });
            $(".donwload-link").hover(function() {
                    $(this).css('cursor','pointer');
                }, function() {
                    $(this).css('cursor','auto');
            });
            $(".upload-link").on('click',function(event){
                event.preventDefault();
                var uri = $(this).attr("href");

//                 alert(uri);
                $.ajax({
                     //method: "POST",
                     url: uri,
                     //(data: $('form[name="pago_membresia"]').serialize(),
                     beforeSend: function (xhr) {

                     }
                 }).done(function (data) {
                    //$("#modal-body").html(data);
                    $('#modal-body').html($(data).find('#cuerpoModal'));
                    $("#myModal").modal('show');
                    var files;
                    // Add events
                    $('input[type=file]').on('change', prepareUpload);

                    // Grab the files and set them to our variable
                    function prepareUpload(event)
                    {
                      files = event.target.files;
                    }
                 }).fail(function (jqXHR, textStatus, errorThrown) {
                     console.log(jqXHR);
                     console.log(textStatus);
                     console.log(errorThrown);
                 });

            });


        });
    </script>
{% endblock javascripts %}
