{% extends "::base.html.twig" %}

{% block fos_user_content %}

    {% block stylesheets %}
        {{ parent() }}
        <style>
            .blockUpData label {
                min-height: 0px;
            }
            .blockUpData .radio {
                padding: 5px 5px 5px 5px;
                margin: 0px;
                display: inline;
                /* vertical-align: middle; */
            }
            .blockUpData{
                margin-top: 0;
                border-bottom: 1px solid #E6E7E8;
            }
            .saveControl{
                margin-left: 10px;
                display: inline-block;
            }

            .forma {
                margin-top: 60px;
                border-top: 1px solid #E6E7E8;
            }

            #employeeEntities .forma .title {
                font-size: 15px;
                font-weight: bold;
                color: #5D5D5D;
            }

            input[type="text"]:disabled {
                background-color: #00828B;
                border: none;
                color: #fff!important;
                text-align: center;
            }

            .formulario h3 {
                font-size: 18px;
                font-weight: bold;
                margin: 0;
                margin-top: 40px;
            }

            .formulario h4 {
                font-size: 15px;
                font-weight: 200;
            }

            #employerEntities label {
                font-size: 15px;
                color: #5D5D5D;
                font-weight: bold;
            }

            #modal-body {
                position: absolute;
                top: 0;
                width: 100%;
            }

            .form-group {
                text-align: center;
            }

            #add_document_save {
                text-align: center;
                margin-top: 40px;
            }
        </style>
    {% endblock %}

    <div id='registrationFormContainer' class='' style="margin-top: 10px;">
        {{ form_start(form) }}
        <div class="col-sm-12 col-xs-12 align-Resp" style="margin-bottom: 30px;">
            <div id="" class="col-sm-12 col-xs-12 blockStep inline">
                <div id="" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">
                    <img src="/img/block-inline.png" class="center-block">
                </div>
                <div id="" class="col-md-10 col-xs-12 txt-AD1">
                    <div id="" class="text-left">
                        <span class="step">Paso 4 de 4</span>
                        Finalizar afiliación
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <ul class="nav nav-tabs nav-justified">
                <li {%   if tab==3 %} class="active" {% endif %}><a data-toggle="tab" data-target="#docsMatrix">Documentos requeridos</a></li>
            </ul>

            <div class="tab-content">
                <div id="docsMatrix" class="tab-pane fade in {%   if tab==3 %}active{% endif %}">


                    <div id='' class='col-xs-12'>
                        <div class="">
                            <div class="">
                                {{ render(controller('RocketSeller\TwoPickBundle:Employer:registrationDocuments')) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 block-Intro">
                        <p>Para que puedas empezar a disfrutar Symplifica y nosotros podamos empezar a trabajar por tí, necesitamos que cargues los siguientes documentos.</p>
                        <p>Es mucho más facil cargar estos documentos desde nuestra aplicación tomando tan sólo una foto de los documentos.</p>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-xs-6">
                                <strong>Buscala en tu tienda de aplicaciones y descárgala</strong>
                                <img src="/img/tiendas.png" class="img-responsive" style="padding: 20px 0;" />
                            </div>
                            <div class="col-xs-6">
                                <strong>Descarga nuestra aplicación con este código</strong>
                                <img src="/img/qr.png" class="img-responsive" style="padding: 20px 0;" />
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="col-sm-12 col-xs-12 center" style="margin-top: 30px;">
                        <a class="btn btn-primary btnPrevious" > Anterior</a>
                        <div class="saveControl"><button type="submit" id="register_social_security_save" name="register_social_security[save]" class="btn btn-orange">Guardar</button><div style="display: none;">{{ form_row(form.save) }}</div></div>
                    </div>
                </div>


            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock fos_user_content%}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $(".upload-link").hover(function() {
                    $(this).css('cursor','pointer');
                }, function() {
                    $(this).css('cursor','auto');
            });
            $(".donwload-link").hover(function() {
                    $(this).css('cursor','pointer');
                }, function() {
                    $(this).css('cursor','auto');
            });
            $(".upload-link").on('click',function(event){
                event.preventDefault();
                var uri = $(this).attr("href");

//                 alert(uri);
                $.ajax({
                     //method: "POST",
                     url: uri,
                     //(data: $('form[name="pago_membresia"]').serialize(),
                     beforeSend: function (xhr) {

                     }
                 }).done(function (data) {
                    //$("#modal-body").html(data);
                    $('#modal-body').html($(data).find('#cuerpoModal'));
                    $("#myModal").modal('show');
                    var files;
                    // Add events
                    $('input[type=file]').on('change', prepareUpload);

                    // Grab the files and set them to our variable
                    function prepareUpload(event)
                    {
                      files = event.target.files;
                    }
                 }).fail(function (jqXHR, textStatus, errorThrown) {
                     console.log(jqXHR);
                     console.log(textStatus);
                     console.log(errorThrown);
                 });

            });


        });
    </script>
{% endblock javascripts %}
