{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}{% autoescape false %}Bienvenido {{ user.personPerson.names }} a Symplifica{% endautoescape %}{% endblock %}
{% block body_text %}
{% autoescape false %}
&#161;Bienvenido&#33;

A partir de ahora cuenta con acceso a todas las herramientas que Symplifica tiene para usted.

Gu&#214;a pr&#225;ctica para la contrataci&#243;n

Afiliaci&#243;n r&#225;pida de empleados y del empleador a las entidades de la Seguridad Social

Liquidaci&#243;n y pago de n&#243;mina y aportes en pocos pasos

Registro documental hist&#243;rico de la relaci&#243;n laboral

Todo de acuerdo con los requisitos de Ley

Symplifica le obsequia desde hoy UN MES de servicio completo, terminando el d&#237;a 17 de enero de 2016

Podr&#225; recibir OTRO MES ADICIONAL por cada persona a la que usted refiera y adquiera alguno de nuestros paquetes de servicio usando el siguiente c&#243;digo:
CAR2309ZY

¡Compártelo y recibe los beneficios!

Gracias por contar con nosotros, estamos seguros que simplificaremos lo que hasta ahora era un proceso complejo y mejor a&#250;n, minizaremos al m&#225;ximo el riesgo de eventualidades a futuro.

Atentamente,



CAMILO M&#201;NDEZ
Director Symplifica
{% endautoescape %}
{% endblock %}
{% block body_html %}

{% set fbURL %}
https://www.facebook.com/dialog/share?
app_id=145634995501895
&display=popup
&href={{ absolute_url(path("fos_user_registration_register",{"c": codigoReferidos})) }}
{# &redirect_uri=https%3A%2F%2Fdevelopers.facebook.com%2Ftools%2Fexplorer#}
&caption=Registrate en Symplifica con este codigo de referido {{ codigoReferidos }} y obten un descuento
&title=Registrate en Symplifica con este codigo de referido {{ codigoReferidos }} y obten un descuento
&description=Symplifica
{% endset %}

{% set twURL %}
https://twitter.com/intent/tweet?
text=Registrate en Symplifica con este codigo de referido {{ codigoReferidos }} y obten un descuento
&url={{ absolute_url(path("fos_user_registration_register",{"c": codigoReferidos})) }}
&via=symplifica
&source={{ absolute_url(path("fos_user_registration_register",{"c": codigoReferidos})) }}
{% endset %}

{% set gURL %}
https://plus.google.com/share?
url={{ absolute_url(path("fos_user_registration_register",{"c": codigoReferidos})) }}
&t=Registrate en Symplifica con este codigo de referido {{ codigoReferidos }} y obten un descuento
{% endset %}

{% set emailURL %}
mailto:?subject=Regístrate en Symplifica&body=Registrate en Symplifica con este codigo de referido {{ codigoReferidos }} y obten un descuento:{{ absolute_url(path("fos_user_registration_register",{"c": codigoReferidos})) }}
{% endset %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700" rel="stylesheet" type="text/css">
<title>Bienvenido Symplifica</title>
<style type="text/css">
    @media only screen and (max-width: 480px) {
        table {width: 100% !important}
    }
</style>
</head>
<body style="margin: 0; padding: 0;">
     <table align="center" border="0"" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
        <tr>
            {% include "RocketSellerTwoPickBundle:EmailTemplates:header.txt.twig" %}
        </tr>
        <tr>
            <td bgcolor="#FFFFFF" style="padding: 40px 30px 40px 30px;">
                <table border="0"" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td style="font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 20px; color:#5D5D5D" align="center">
                            ¡Bienvenido!
                        </td>
                    </tr>
                    <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr><!--espacios-->
                    <tr>
                        <td style="font-family: 'Open Sans', sans-serif; font-weight: 600; font-style:italic; font-size: 20px; color:#858789" align="center">
                            A partir de ahora cuentas con acceso a todas las herramientas de Symplifica.
                        </td>
                    </tr>
                    <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr><!--espacios-->
                    <tr>
                        <td style="font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 17px; color:#858789">
                            <span style="color: #DF9136">&#10003; </span>Guía práctica para la contratación.<br>
<span style="color: #DF9136">&#10003; </span>Afiliación rápida de empleados y del empleador a las entidades de la Seguridad Social.<br>
<span style="color: #DF9136">&#10003; </span>Liquidación y pago de nómina y aportes en pocos pasos.<br>
<span style="color: #DF9136">&#10003; </span>Registro documental histórico de la relación laboral.
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr><!--espacios-->
        <tr>
            <td bgcolor="#F7F7F8" style="padding: 40px 30px 40px 30px;">
                <table  border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td style="font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 20px; color:#858789" align="center">
                            Symplifica te recomienda
                        </td>
                    </tr>
                    <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr><!--espacios-->
                    <tr>
                        <td style="font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 15px; color:#858789" align="center">
                            Para mayor facilidad en el registro te recoemndamos tener a la mano los siguientes documentos en indormación.
                        </td>
                    </tr>
                     <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr><!--espacios-->
                    <tr>
                        <td height="30" bgcolor="#E09236" style="font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 15px; color:#FFFFFF" align="center">
                            Para el empleador
                        </td>
                    </tr>
                    <tr>
                        <td height="30" bgcolor="#FFFFFF" style="font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 15px; color:#808183" align="center">
                            Copia del documento de identidad
                        </td>
                    </tr>
                    <tr><td style="font-size: 0; line-height: 0;" height="5">&nbsp;</td></tr><!--espacios pequeños-->
                    <tr>
                        <td height="30" bgcolor="#FFFFFF" style="font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 15px; color:#808183" align="center">
                            Copia del RUT
                        </td>
                    </tr>
                    <tr><td style="font-size: 0; line-height: 0;" height="5">&nbsp;</td></tr><!--espacios pequeños-->
                    <tr>
                        <td height="30" bgcolor="#FFFFFF" style="font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 15px; color:#808183" align="center">
                            Datos de contacto
                        </td>
                    </tr>
                    <tr><td style="font-size: 0; line-height: 0;" height="5">&nbsp;</td></tr><!--espacios pequeños-->
                    <tr>
                        <td height="30" bgcolor="#FFFFFF" style="font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 15px; color:#808183" align="center">
                            Entidades de seguridad social seleccionadas (ARL y caja de compesación)
                        </td>
                    </tr>
                    <tr><td style="font-size: 0; line-height: 0;" height="5">&nbsp;</td></tr><!--espacios pequeños-->
                    <tr>
                        <td height="30" bgcolor="#FFFFFF" style="font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 15px; color:#808183" align="center">
                            Datos de cuenta bancaria para pago de nómina y aportes (banco, tipo de cuenta, número de cuenta)
                        </td>
                    </tr>
                    <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr><!--espacios-->
                    <tr>
                        <td height="30" bgcolor="#E09236" style="font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 15px; color:#FFFFFF" align="center">
                            Para el empleado
                        </td>
                    </tr>
                    <tr>
                        <td height="30" bgcolor="#FFFFFF" style="font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 15px; color:#808183" align="center">
                            Copia del documento de identidad
                        </td>
                    </tr>
                    <tr><td style="font-size: 0; line-height: 0;" height="5">&nbsp;</td></tr><!--espacios pequeños-->
                    <tr>
                        <td height="30" bgcolor="#FFFFFF" style="font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 15px; color:#808183" align="center">
                            Datos de contacto
                        </td>
                    </tr>
                    <tr><td style="font-size: 0; line-height: 0;" height="5">&nbsp;</td></tr><!--espacios pequeños-->
                    <tr>
                        <td height="30" bgcolor="#FFFFFF" style="font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 15px; color:#808183" align="center">
                            Datos del contrato (sueldo, fecha de ingreso, tipo de empleado, días que labora)
                        </td>
                    </tr>
                    <tr><td style="font-size: 0; line-height: 0;" height="5">&nbsp;</td></tr><!--espacios pequeños-->
                    <tr>
                        <td height="30" bgcolor="#FFFFFF" style="font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 15px; color:#808183" align="center">
                            Entidades de seguridad social seleccionadas (EPS y fondo de pensiones)
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td bgcolor="#FFFFFF" style="padding: 40px 30px 40px 30px;">
                <table  border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td align="center" style="font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 20px; color:#74BEC0">
                            Symplifica te obsequia desde hoy UN MES de servicio completo, que comienza en el momento activar el servicio.
                        </td>
                    </tr>
                    <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr><!--espacios-->
                    <tr>
                        <td align="center" style="font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 20px; color:#74BEC0">
{#                             Podrás recibir OTRO MES por cada persona que refieras y adquiera nuestro servicio usando el siguiente código:#}
                            Podrás recibir un 20% descuento sobre el valor de tu membresia por cada persona que refieras y adquiera nuestro servicio usaurio el siguiente código:
                        </td>
                    </tr>
                    <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr><!--espacios-->
                    <tr>
                        <td align="center" style="font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 35px; color:#5D5D5D">
                            {{ codigoReferidos }}
                        </td>
                    </tr>
                    <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr><!--espacios-->
                    <tr>
                        <td align="center" style="font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 20px; color:#474E5B">
                            Comparte el código en:
                        </td>
                    </tr>
                </table>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr><!--espacios-->
                    <tr align="center">
                        <td width="30%">
                            <a href="{{ fbURL }}" target="_blank">
                                <img src="https://symplifica.com/public/img/mail/face.png" alt="symplifica facebook" />
                            </a>
                        </td>
                        <td width="30%">
                            <a href="{{ twURL }}" target="_blank">
                                <img src="https://symplifica.com/public/img/mail/twe.png" alt="symplifica twitter" />
                            </a>
                        </td>
                        <td width="30%">
                            <a href="{{ gURL }}" target="_blank">
                                <img src="https://symplifica.com/public/img/mail/plus.png" alt="symplifica g+"/>
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            {% include "RocketSellerTwoPickBundle:EmailTemplates:footer.txt.twig" %}
        </tr>
     </table>
</body>
</html>
{% endblock %}