{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}{% autoescape false %}Bienvenido {{ user.personPerson.names }} a Symplifica{% endautoescape %}{% endblock %}
{% block body_text %}
{% autoescape false %}
&#161;Bienvenido&#33;

A partir de ahora cuenta con acceso a todas las herramientas que Symplifica tiene para usted.

Gu&#214;a pr&#225;ctica para la contrataci&#243;n

Afiliaci&#243;n r&#225;pida de empleados y del empleador a las entidades de la Seguridad Social

Liquidaci&#243;n y pago de n&#243;mina y aportes en pocos pasos

Registro documental hist&#243;rico de la relaci&#243;n laboral

Todo de acuerdo con los requisitos de Ley

Symplifica le obsequia desde hoy UN MES de servicio completo, terminando el d&#237;a 17 de enero de 2016

Podr&#225; recibir OTRO MES ADICIONAL por cada persona a la que usted refiera y adquiera alguno de nuestros paquetes de servicio usando el siguiente c&#243;digo:
CAR2309ZY

¡Compártelo y recibe los beneficios!

Gracias por contar con nosotros, estamos seguros que simplificaremos lo que hasta ahora era un proceso complejo y mejor a&#250;n, minizaremos al m&#225;ximo el riesgo de eventualidades a futuro.

Atentamente,



CAMILO M&#201;NDEZ
Director Symplifica
{% endautoescape %}
{% endblock %}
{% block body_html %}

{% set fbURL %}
https://www.facebook.com/dialog/share?
app_id=145634995501895
&display=popup
&href={{ absolute_url(path("fos_user_registration_register",{"c": codigoReferidos})) }}
{# &redirect_uri=https%3A%2F%2Fdevelopers.facebook.com%2Ftools%2Fexplorer#}
&caption=Registrate en Symplifica con este codigo de referido {{ codigoReferidos }} y obten un descuento
&title=Registrate en Symplifica con este codigo de referido {{ codigoReferidos }} y obten un descuento
&description=Symplifica
{% endset %}

{% set twURL %}
https://twitter.com/intent/tweet?
text=Registrate en Symplifica con este codigo de referido {{ codigoReferidos }} y obten un descuento
&url={{ absolute_url(path("fos_user_registration_register",{"c": codigoReferidos})) }}
&via=symplifica
&source={{ absolute_url(path("fos_user_registration_register",{"c": codigoReferidos})) }}
{% endset %}

{% set gURL %}
https://plus.google.com/share?
url={{ absolute_url(path("fos_user_registration_register",{"c": codigoReferidos})) }}
&t=Registrate en Symplifica con este codigo de referido {{ codigoReferidos }} y obten un descuento
{% endset %}

{% set emailURL %}
mailto:?subject=Regístrate en Symplifica&body=Registrate en Symplifica con este codigo de referido {{ codigoReferidos }} y obten un descuento:{{ absolute_url(path("fos_user_registration_register",{"c": codigoReferidos})) }}
{% endset %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700" rel="stylesheet" type="text/css">
<title>Bienvenido Symplifica</title>
<style type="text/css">
      body {margin: 10px 0; padding: 0 10px; background: #FFF; font-size: 13px;}
      table {border-collapse: collapse;}
      td {font-family: arial, sans-serif; color: #333333;}

      @media only screen and (max-width: 480px) {
        body,table,td,p,a,li,blockquote {
          -webkit-text-size-adjust:none !important;
        }
        table {width: 100% !important}

        .responsive-image img {
          height: auto !important;
          max-width: 50% !important;
          width: 50% !important;
        }
      }
    </style>
</head>
<body style="margin: 0; padding: 0;">
     <table align="center" border="0"" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
        <tr>
            {% include "RocketSellerTwoPickBundle:EmailTemplates:header.txt.twig" %}
        </tr>
        <tr>
            <td style="padding: 10px 10px 20px 10px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                      <td>
                        <div style="font-family: 'Open Sans', sans-serif; font-weight: 100; color:#40c1c3; font-size: 20px;width: 90%;margin: 0 auto;">¡Bienvenido!
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div style="font-family: 'Open Sans', sans-serif; font-weight: 100; color:#909090; font-size: 15px; width:90%;margin:0 auto"><span style="color:#13878e;font-weight:600">¡Es momento de empezar a hacer las cosas bien!</span><br>
                Registra tus datos y comienza a usar Symplifica.<br><br>
                          </div>
                      </td>
                  </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td style="padding: 10px 10px 20px 10px;">
                <table  border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td>
                            <div style="font-family: 'Open Sans', sans-serif; font-weight: 100; color:#909090; font-size: 15px; width:90%;margin:0 auto"><br>
                                <span style="color:#13878e;font-weight:600">Iniciar regístro</span><br>
                                <span>Antes de empezar te recomendamos tener a la mano estos documentos e información:</span>
                            </div>
                        </td>
                    </tr>
                     <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr><!--espacios-->
                    <tr>
                        <td height="30">
                            <div style="font-family: 'Open Sans', sans-serif; font-weight: 100; color:#909090; font-size: 15px; width:90%;margin:0 auto">
                                <span style="color:#13878e;font-weight:600">Para el empleador</span><br>
                                &#8226; Copia del documento de identidad.<br>
                                &#8226; Copia del RUT.<br>
                                &#8226; Datos de contacto.<br>
                                &#8226; Entidades de seguridad social seleccionadas (ARL y CAJA DE COMPENSACIÓN).<br>
                                &#8226; Datos de cuenta bancaria para pago de nómina y aportes (banco, tipo de cuenta, número de cuenta).<br>
                            </div><br>
                        </td>
                    </tr>
                    <tr>
                        <td height="30">
                            <div style="font-family: 'Open Sans', sans-serif; font-weight: 100; color:#909090; font-size: 15px; width:90%;margin:0 auto">
                                <span style="color:#13878e;font-weight:600">Para el empleador</span><br>
                                &#8226; Copia del documento de identidad.<br>
                                &#8226; Datos básicos (Nombre, Teléfono, dirección, Estado civil).<br>
                                &#8226; Datos del contrato (sueldo, fecha de ingreso, tipo de empleado, días que labora).<br>
                                &#8226; Entidades de seguridad social seleccionadas (ARL y CAJA DE COMPENSACIÓN).<br>
                                &#8226; Entidades de seguridad social seleccionadas (EPS y FONDO DE PENSIONES).<br>
                            </div><br>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
        <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr><!--espacios-->
        <tr>
          <td style="font-family: 'Open Sans', sans-serif; font-weight: 500; font-style:italic; font-size: 15px; color:#858789">
              <a href="{{ url('show_dashboard')}}" style="text-decoration:none;width: 90%;display:block;margin: 0 auto;" target="_blank;"><div style="background:#13878e;border-radius:25px; height: 25px; font-size:14px; width: 170px; color:#FFFFFF;font-family: 'Open Sans', sans-serif; font-weight: 600; padding: 5px 0 0 0; text-align:center">¡Estoy listo!</div></a><br /><br />
          </td>
        </tr>

        <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr><!--espacios-->
        <!--<tr>
            <td bgcolor="#FFFFFF" style="padding: 40px 30px 40px 30px;">
                <table  border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td align="center" style="font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 20px; color:#74BEC0">
                            Symplifica te obsequia desde hoy UN MES de servicio completo que comienza en el momento que activas el servicio.
                        </td>
                    </tr>
                    <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr><!--espacios
                    <tr>
                        <td align="center" style="font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 20px; color:#74BEC0">
{#                             Podrás recibir OTRO MES por cada persona que refieras y adquiera nuestro servicio usando el siguiente código:#}
                            Podrás recibir un 20% descuento sobre el valor de tu membresía por cada persona que refieras y adquiera nuestro servicio usuario el siguiente código:
                        </td>
                    </tr>
                    <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr><!--espacios
                    <tr>
                        <td align="center" style="font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 35px; color:#5D5D5D">
                            {{ codigoReferidos }}
                        </td>
                    </tr>
                    <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr><!--espacios
                    <tr>
                        <td align="center" style="font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 20px; color:#474E5B">
                            Comparte el código en:
                        </td>
                    </tr>
                </table>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr><!--espacios
                    <tr align="center">
                        <td width="30%">
                            <a href="{{ fbURL }}" target="_blank">
                                <img src="https://symplifica.com/public/img/mail/face.png" alt="symplifica facebook" />
                            </a>
                        </td>
                        <td width="30%">
                            <a href="{{ twURL }}" target="_blank">
                                <img src="https://symplifica.com/public/img/mail/twe.png" alt="symplifica twitter" />
                            </a>
                        </td>
                        <td width="30%">
                            <a href="{{ gURL }}" target="_blank">
                                <img src="https://symplifica.com/public/img/mail/plus.png" alt="symplifica g+"/>
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>-->
        <tr>
            {% include "RocketSellerTwoPickBundle:EmailTemplates:footer.txt.twig" %}
        </tr>
     </table>
</body>
</html>
{% endblock %}
