{% extends "::base.html.twig" %}
{% block fos_user_content %}
    {% block stylesheets %}
        <style>
            /*
            .blockStep2 {
                margin-top: 10px;
                background: #3b4b5a !important;
                background-image: none;
                background: 0 0;
                border: 1px solid #919191;
                border-radius: 0;
                box-shadow: none;
                margin-bottom: 20px;
                padding: 15px;
                text-shadow: none;
                color: #fff;
                opacity: 0.8;
            }
            .blockStep2 .txt-AD1 {
                font-family: "Open Sans";
                font-size: 24px;
                font-weight: 700;
                text-transform: uppercase;
                color: #fff;
                white-space: normal;
            }*/

            .register_employee_employeeHasEmployers_payMethod label input {

            }
            .paymentImage {
                float: left;
                margin: 0px 5px 0 0px;
            }

            .paymentImage img {

            }

            label label.error {
                position: absolute;
                top: -25px;
            }

            .paymentTitle {
                float: left;
                margin: 0px 0 0 10px;
                width: 600px;

            }

            .paymentDescription {
                float: left;
                margin: 0 0 20px 80px

            }


            .label-group{
                text-align: right !important;
            }
            .label-group > h3 {
                text-align: left;
            }
            .form-select{
                color: yellow !important;
            }
        </style>
    {% endblock %}
    <div class="col-sm-12 col-xs-12 align-Resp">
        <a id="" class="btn col-sm-12 col-xs-12 blockStep inline  nav-link" href="/register/edit">
            <div id="" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">
                <img src="/img/block-inline.png" class="center-block">
            </div>
            <div id="" class="col-md-10 col-xs-12 txt-AD1">
                <div id="" class="text-left">
                    <span class="step">Paso 2 de 4</span>
                    Datos de mis empleados
                </div>
            </div>
        </a>
    </div>


    <div class="row-fluid">
        <div class="col-sm-12 col-xs-12 block-Intro">
            <span>Por favor diligencia los siguientes campos para consultar los datos de tu empleado:</span>
        </div>
    </div>
    <div class="row"></div>
    <div id='registrationFormContainer' class=''>
        {{ form_errors(form) }}
        {{ form_start(form) }}

        <ul id="formNav" class="nav nav-tabs nav-justified">
            <li {%   if tab==1 %} class="active" {% endif %}><a data-toggle="tab" data-target="#basicData"></a>Datos básicos</li>
            <li {%   if tab==2 %} class="active" {% endif %}><a data-toggle="tab" data-target="#contactData"></a>Datos de Contacto</li>
            <li {%   if tab==3 %} class="active" {% endif %}><a data-toggle="tab" data-target="#contractData"></a>Información del contrato</li>
            <li {%   if tab==4 %} class="active" {% endif %}><a data-toggle="tab" data-target="#paymentMethod"></a>Método de pago</li>

        </ul>

        <div class="tab-content">
            <div id="basicData" class="tab-pane fade in  {%   if tab==1 %} active {% endif %}">
                <div class="formulario col-xs-12" style="border-bottom: none;">
                    <div class="col-sm-10 col-xs-12 blockUpData" style="border-bottom: none;">
                        <div class="col-sm-12 col-xs-12">
                            <div class="col-xs-12 label-group">
                                <h3>Datos básicos</h3>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="col-sm-6 label-group">
                                {{ form_label(form.person.documentType) }}
                            </div>
                            <div class="col-sm-6 form-group">
                                {{ form_widget(form.person.documentType) }}
                            </div>
                            <!--<img src="/img/typePerson.png">-->
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="col-sm-6 label-group">
                                {{ form_label(form.person.document) }}
                            </div>
                            <div class="col-sm-6 form-group">
                                {{ form_widget(form.person.document) }}
                            </div>
                            <!--<img src="/img/typePerson.png">-->
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="col-sm-6 label-group">
                                {{ form_label(form.person.names) }}
                            </div>
                            <div class="col-sm-6 form-group">
                                {{ form_widget(form.person.names) }}
                            </div>
                            <!--<img src="/img/typePerson.png">-->
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="col-sm-6 label-group">
                                {{ form_label(form.person.lastName1) }}
                            </div>
                            <div class="col-sm-6 form-group">
                                {{ form_widget(form.person.lastName1) }}
                            </div>
                            <!--<img src="/img/typePerson.png">-->
                        </div>
                        <!--<div class="col-sm-12 col-xs-12 center">
                            <div class="col-sm-6 col-sm-push-3">
                                <a id="btn-inquiry" href="{{ path('api_public_post_inquiry_document') }}" class="btn btn-primary btnNext">Consultar</a>
                            </div>
                        </div>-->

                        <div class="col-sm-12 col-xs-12">
                            <div class="col-sm-6 label-group">
                                {{ form_label(form.person.lastName2) }}
                            </div>
                            <div class="col-sm-6 form-group">
                                {{ form_widget(form.person.lastName2) }}
                            </div>
                            <!--<img src="/img/typePerson.png">-->
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="col-sm-6 label-group">
                                {{ form_label(form.personExtra.civilStatus) }}
                            </div>
                            <div class="col-sm-6 form-group">
                                {{ form_widget(form.personExtra.civilStatus) }}
                            </div>
                            <!--<img src="/img/typePerson.png">-->
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="col-sm-6 label-group">
                                {{ form_label(form.personExtra.gender) }}
                            </div>
                            <div class="col-sm-6 form-group">
                                {{ form_widget(form.personExtra.gender) }}
                            </div>
                            <!--<img src="/img/typePerson.png">-->
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="col-sm-6 label-group">
                                {{ form_label(form.personExtra.documentExpeditionDate) }}
                            </div>
                            <div class="col-sm-6 form-group">
                                {{ form_widget(form.personExtra.documentExpeditionDate) }}
                            </div>
                            <!--<img src="/img/typePerson.png">-->
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="col-sm-6 label-group">
                                {{ form_label(form.personExtra.documentExpeditionPlace) }}
                            </div>
                            <div class="col-sm-6 form-group">
                                {{ form_widget(form.personExtra.documentExpeditionPlace) }}
                            </div>
                            <!--<img src="/img/typePerson.png">-->
                        </div>
                    </div>
                </div>
                <div class="formulario col-xs-12">
                    <div class="col-sm-10 col-xs-12">
                        <div class="col-sm-12 col-xs-12">
                            <div class="col-xs-12 label-group">
                                <h3>Datos de nacimiento</h3>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="col-sm-6 label-group">
                                {{ form_label(form.person.birthDate) }}
                            </div>
                            <div class="col-sm-6 form-group">
                                {{ form_widget(form.person.birthDate) }}
                            </div>
                            <!--<img src="/img/typePerson.png">-->
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="col-sm-6 label-group">
                                {{ form_label(form.personExtra.birthCountry) }}
                            </div>
                            <div class="col-sm-6 form-group">
                                {{ form_widget(form.personExtra.birthCountry) }}
                            </div>
                            <!--<img src="/img/typePerson.png">-->
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="col-sm-6 label-group">
                                {{ form_label(form.personExtra.birthDepartment) }}
                            </div>
                            <div class="col-sm-6 form-group">
                                {{ form_widget(form.personExtra.birthDepartment) }}
                            </div>
                            <!--<img src="/img/typePerson.png">-->
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="col-sm-6 label-group">
                                {{ form_label(form.personExtra.birthCity) }}
                            </div>
                            <div class="col-sm-6 form-group">
                                {{ form_widget(form.personExtra.birthCity) }}
                            </div>
                            <!--<img src="/img/typePerson.png">-->
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 remember">
                        <span style="color:#666; font-weight:300"><i class="fa fa-info-circle"></i> Recuerda que los campos marcados con * son obligatorios</span>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 center">
                    <a id="btn-1" href="{{ path('api_public_post_new_employee_submit_step1') }}" class="btn btn-orange">Salvar y continuar</a>
                    <br /><br />
                </div>
            </div>

            <div id="contactData" class="tab-pane fade in {%   if tab==2 %} active {% endif %}">
                <div class="formulario col-xs-12">
                    <div class="col-sm-10 col-xs-12 content-input blockUpData">
                        <div class="col-sm-12">
                            <div class="col-sm-6 label-group">
                                {{ form_label(form.personExtra.email)}}
                            </div>
                            <div class="col-sm-6 form-group">
                                {{ form_widget(form.personExtra.email) }}
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <ul class="phones" data-prototype="{{ form_widget(form.person.phones.vars.prototype)|e }}" >
                                {% for phone in form.person.phones %}
                                    <li id="phone_{{loop.index}}" class="phoneLi">
                                        {{ form_row(phone.id) }}
                                        <div class="col-sm-6 label-group">
                                            {{ form_label(phone.phoneNumber)}}
                                        </div>
                                        <div class="col-sm-6 form-group input">
                                            {{ form_widget(phone.phoneNumber)}}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-6 label-group">
                                <label>Dirección donde vive el empleado*</label>
                            </div>
                            <div class="col-sm-6 form-group input">
                                {{ form_widget(form.person.mainAddress) }}
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-6 label-group">
                                {{ form_label(form.person.department)}}
                            </div>
                            <div class="col-sm-6 form-group">
                                {{ form_widget(form.person.department) }}
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-6 label-group">
                                {{ form_label(form.person.city)}}
                            </div>
                            <div class="col-sm-6 form-group">
                                {{ form_widget(form.person.city) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 remember">
                        <span style="color:#666; font-weight:300"><i class="fa fa-info-circle"></i> Recuerda que los campos marcados con * son obligatorios</span>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 center">

                    <a class="btn btn-primary btnPrevious-form btnPrevious">Anterior</a>


                    <a id="btn-2" href="{{ path('api_public_post_new_employee_submit_step2') }}" class="btn btn-orange">Salvar y continuar</a>
                    <br /><br />

                </div>
            </div>

            <div id="contractData" class="tab-pane fade in {%   if tab==3 %} active {% endif %}">
                <div class="col-md-10 col-md-push-1">
                    <div id="contractDataWiz">
                        <ul id="contractNav" class="nav nav-tabs nav-justified">
                            <li class="active" ><a data-toggle="tab" data-target="#newOrOldTab"></a></li>
                            <li><a data-toggle="tab" data-target="#contractTypeTab"></a></li>
                            <li><a data-toggle="tab" data-target="#employeeContractTypeTab"></a></li>
                            <li><a data-toggle="tab" data-target="#contractSalaryTab"></a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="newOrOldTab" class="tab-pane fade in active">
                                <div class="innerForm">
                                    <div class="title">
                                        <h2>
                                            Bienvenido a nuestro <br /><span>asistente de contratación de empleado</span>
                                        </h2>
                                    </div>
                                    <div id="existentQuestion">
                                        <p class="text-center typeQuestion">¿Tu empleado es nuevo o <br />ya se encuentra trabajando contigo?</p>

                                        <div class="row">
                                            <div class="col-xs-6 text-right">{{ form_row(form.employeeHasEmployers.new) }}</div>
                                            <div class="col-xs-6">{{ form_row(form.employeeHasEmployers.existent) }}</div>
                                        </div>
                                    </div>
                                    <div id="existentDataToShow">
                                        <div class="row">
                                            <ul class="col-md-10 col-md-push-1">
                                                <li>Para darte de alta en Symplifica debes generar un nuevo contrato con tu empleado.</li>
                                                <li>Este contrato reemplazará cualquier contrato o acuerdo anterior.</li>
                                                <li>Esto no significa que las obligaciones o deberes como empleador que adquiriste en el pasado queden cerradas.</li>
                                                <li>Esto es un mecanismo que usamos para generar un corte y poder garantizar que de aca en adelante estas haciendo las cosas bien.</li>
                                                <li>Si tienes dudas respecto a tu situación actual puedes hacer una consulta con nuestra firma de abogados aliada a unas tarifas especiales para clientes Symplifica.</li>
                                            </ul>
                                        </div>
                                        <div class="row">
                                            <p class="text-center typeQuestion">¿Estas de acuerdo en generar un nuevo contrato con tu empleado?</p>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-10 col-md-push-1">
                                                <div class="col-xs-6 text-right">{{ form_row(form.employeeHasEmployers.yesExistent) }}</div>
                                                <div class="col-xs-6">{{ form_row(form.employeeHasEmployers.noExistent) }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-center"><a class="btn btn-primary btnPrevious-form btnPrevious" >Anterior</a></div>
                                </div>
                            </div>
                            <div id="contractTypeTab" class="tab-pane fade in">
                                <div class="row">
                                    <p class="text-center typeQuestion">Escoge el tipo de contrato que más se ajusta a tus requerimientos</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-10 col-md-push-1">
                                        <div class="col-xs-6">
                                            {{ form_widget(form.employeeHasEmployers.existentNew.children[0]) }}
                                            <div class="form-group">
                                                <button type="button" id="btnToggleFijo" class="btn-default btn btn-toggle active">Término Fijo</button>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            {{ form_widget(form.employeeHasEmployers.existentNew.children[1]) }}
                                            <div class="form-group">
                                                <button type="button" id="btnToggleIndefinido" class="btn-default btn btn-toggle">Término Indefinido</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="contractFijo">
                                    <div class="row">
                                        <p class="text-center typeQuestion">Características</p>
                                    </div>
                                    <div class="row">
                                        <ul class="col-md-8 col-md-push-2">
                                            <li>El periodo de prueba máximo es de 15 días.</li>
                                            <li>Se renueva automáticamente si no se notifica su terminación 30 días antes de la fecha de terminación.</li>
                                            <li>Recomendado para empleadores que quieran contratar a un empleado por un tiempo determinado menor o igual a un año.</li>
                                            <li>Si el contrato es por menos de un año sólo se puede renovar por periodos más cortos o iguales al inicialmente pactado.</li>
                                        </ul>
                                    </div>
                                    <div class="row">
                                        <p class="text-center typeQuestion">A tener en cuenta</p>
                                    </div>
                                    <div class="row">
                                        <p class="col-md-8 col-md-push-2">Si el contrato se termina unilateralmente por el empleador después del periodo de prueba y sin justa causa, se debe indemnizar al empleado por el valor remanente del contrato.
                                            <br /><br />
                                            Además, este tipo de contrato debe cancelarse 30 días antes que finalice. 
                                        </p>
                                    </div>
                                </div>
                                <div id="contractIndefinido">
                                    <div class="row">
                                        <p class="text-center typeQuestion">Características</p>
                                    </div>
                                    <div class="row">
                                        <ul class="col-md-8 col-md-push-2">
                                            <li>No tiene una fecha determinada de terminación</li>
                                            <li>El periodo de prueba máximo es de 2 meses</li>
                                            <li>Recomendado para empleadores que quieran contratar a un empleado por un largo periodo de tiempo</li>
                                        </ul>
                                    </div>
                                    <div class="row">
                                        <p class="text-center typeQuestion">A tener en cuenta</p>
                                    </div>
                                    <div class="row">
                                        <p class="col-md-8 col-md-push-2">Si el contrato se termina unilateralmente por el empleador después del periodo de prueba y sin justa causa, la indeminzación es de 30 días por el primer año y 20 por cada año subsiguiente usando como base el salario actual.</p>
                                    </div>
                                </div>
                                <br/>
                                <div class="col-sm-12 col-xs-12">
                                    <div class="col-sm-6 label-group">
                                        {{ form_label(form.employeeHasEmployers.startDate) }}
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        {{ form_widget(form.employeeHasEmployers.startDate) }}
                                    </div>
                                </div>
                                <div class="col-sm-12 col-xs-12 definite">
                                    <div class="col-sm-6 label-group">
                                        {{ form_label(form.employeeHasEmployers.endDate) }}
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        {{ form_widget(form.employeeHasEmployers.endDate) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 text-right"><a class="btn btn-primary btnPrevious-contract btnPrevious" >Anterior</a></div>
                                    <div class="col-xs-6"><a class="btn btn-orange btnNext-contract" >Siguiente</a></div>
                                </div>

                            </div>


                            <div id="employeeContractTypeTab" class="tab-pane fade in">
                                <div class="formulario col-xs-12">
                                    <div class="col-sm-12 col-xs-12 blockUpData">
                                        <div class="col-sm-6 label-group">
                                            {{ form_label(form.employeeHasEmployers.position) }}
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            {{ form_widget(form.employeeHasEmployers.position) }}
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-xs-12">
                                        <div class="col-sm-6 label-group">
                                            {{ form_label(form.employeeHasEmployers.timeCommitment) }}
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            {{ form_widget(form.employeeHasEmployers.timeCommitment) }}
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-xs-12 days">
                                        <div class="col-sm-6 label-group">
                                            {{ form_label(form.employeeHasEmployers.sisben) }}
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            {{ form_widget(form.employeeHasEmployers.sisben) }}
                                        </div>
                                    </div>

                                    <div class="col-sm-12 col-xs-12">
                                        <div class="col-sm-6 label-group">
                                            {{ form_label(form.employeeHasEmployers.workplaces) }}
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            {{ form_widget(form.employeeHasEmployers.workplaces) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-xs-12 remember">
                                        <span style="color:#666; font-weight:300"><i class="fa fa-info-circle"></i> Recuerda que los campos marcados con * son obligatorios</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 text-right"><a class="btn btn-primary btnPrevious-contract btnPrevious" >Anterior</a></div>
                                    <div class="col-xs-6"><a class="btn btn-orange btnNext-contract" >Siguiente</a></div>
                                </div>

                            </div>


                            <div id="contractSalaryTab" class="tab-pane fade in">

                                <div class="col-sm-12 col-xs-12 complete">
                                    <div class="col-sm-6 label-group">
                                        {{ form_label(form.employeeHasEmployers.transportAid) }}
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        {{ form_widget(form.employeeHasEmployers.transportAid) }}
                                    </div>
                                </div>

                                <div class="col-sm-12 col-xs-12 days">
                                    <div class="col-sm-6 label-group">
                                        {{ form_label(form.employeeHasEmployers.weekDays) }}
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        {{ form_widget(form.employeeHasEmployers.weekDays) }}
                                    </div>
                                </div>

                                <div class="col-sm-12 col-xs-12 days">
                                    <div class="col-sm-6 label-group">
                                        {{ form_label(form.employeeHasEmployers.salaryD) }}
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <input id="ex6" type="text" data-slider-min="21000" data-slider-max="200000" data-slider-step="1000" data-slider-value="{{ form.employeeHasEmployers.salaryD.vars.value }}"/>
                                        {{ form_widget(form.employeeHasEmployers.salaryD) }}
                                    </div>
                                </div>
                                <div class="col-sm-12 col-xs-12 days">
                                    <div class="col-sm-6 label-group">
                                        <label>El costo mensual de este empleado es:</label>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">COP </span>
                                            <input type="text" id="totalExpensesVal" class="form-control">    
                                        </div>
                                        <div style="text-align: right">
                                            <a id="link_calculator" href="" class="notAjax">Mostrar detalles</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-xs-12 complete">
                                    <div class="col-sm-6 label-group">
                                        {{ form_label(form.employeeHasEmployers.salary) }}
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        {{ form_widget(form.employeeHasEmployers.salary) }}
                                        <div style="text-align: right">
                                            <a id="link_calculator" href="{{ path('show_calculator_form') }}" class="nav-link">Calculadora Salarial</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-xs-12 center">

                                    <a class="btn btn-primary btnPrevious-contract btnPrevious" >Anterior</a>
                                    <a id="btn-3" href="{{ path('api_public_post_new_employee_submit_step3') }}" class="btn btn-orange">Salvar y Continuar</a>
                                </div>
                                <!-- Modal -->
                                <!--div id="calculatorResultsModal" class="modal fade" role="dialog">
                                    <div class="modal-dialog">


                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h3 class="modal-title">Detalles Calculadora</h3>
                                            </div>
                                            <div class="modal-body">

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>

                                    </div>
                                </div-->
                                <div class="modal fade" id="calculatorResultsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3 class="modal-title">Detalles Calculadora</h3>
                                            </div>
                                            <div class="modal-body">

                                            </div>
                                            <div class="modal-footer">
                                                <button id="employerDismiss" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--
                <div class="col-sm-12 col-xs-12 worktime">
                    <div class="col-sm-6 label-group">
                {# form_label(form.employeeHasEmployers.workTimeStart) #}
            </div>
            <div class="col-sm-6">
                {# form_widget(form.employeeHasEmployers.workTimeStart) #}
            </div>
        </div>

        <div class="col-sm-12 col-xs-12 worktimeEnd">
            <div class="col-sm-6 label-group">
                {# form_label(form.employeeHasEmployers.workTimeEnd) #}
            </div>
            <div class="col-sm-6">
                {# form_widget(form.employeeHasEmployers.workTimeEnd) #}
            </div>
        </div>
                -->

                <!--
                <div class="col-sm-12 col-xs-12">
                    <div class="col-xs-12 label-group">
                        <h3>Beneficios extralegales</h3>
                    </div>
                </div>
                <ul id='' class="benefits" data-prototype="
                {% filter escape %}
                    {{ include('RocketSellerTwoPickBundle:DataPrototypes:benefitsPrototype.html.twig', { 'form': form.employeeHasEmployers.benefits.vars.prototype|e }) }}
                {% endfilter %}" style="list-style: none">
                {% for benefit in form.employeeHasEmployers.benefits %}
                    <li id="benefits_{{loop.index}}" class="benefitLi">
                    {{ form_row(benefit.idContractHasBenefits) }}
                    {{ form_row(benefit.benefitType) }}
                    {{ form_row(benefit.amount) }}
                    {{ form_row(benefit.periodicity) }}
                </li>
                {% endfor %}
            </ul>
            <div class="col-sm-12 col-xs-12">
                <div class="col-sm-6 label-group">
                {{ form_label(form.employeeHasEmployers.benefitsConditions) }}
            </div>
            <div class="col-sm-6">
                {{ form_widget(form.employeeHasEmployers.benefitsConditions) }}
            </div>
        </div>
        <div class="col-sm-12 col-xs-12">
            <div class="col-sm-6 label-group">
                ¿Ya cuenta con un contrato firmado?*
            </div>
            <div class="col-sm-1">
                <div class="radio" style="text-align: left;">
                    <label class="required" aria-required="true">
                        <input id="si_tiene_contrato" type="radio" name="tiene_contrato" checked="checked"> Si
                    </label>
                </div>
                <div class="radio" style="text-align: left;">
                    <label >
                        <input id="no_tiene_contrato" type="radio" name="tiene_contrato"> No
                    </label>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="collapse" id="noTarget" style="text-align: left; color: #ccc">
                        <p><i class="fa fa-info-circle"></i> ¡Nosotros le ayudamos!</p>
                        <p>Podemos generar el contrato con los datos ya ingresados. Una vez lo haya generado, descárguelo, revíselo y luego imprima dos (2) copias para que sean firmadas por usted y su empleado. Luego escanee o tome fotografía de cada una de las hojas del contrato y súbala al sistema. <a href="#generarModal" data-toggle="modal" style="color: #00CDCC;">Generar Contrato</a></p>
                </div>
            </div>
        </div>
                -->


            </div>
            <div id="paymentMethod" class="tab-pane fade in {%   if tab==4 %} active {% endif %}">
                <div class="formulario col-xs-12">
                    <div class="formulario col-xs-12">
                        <div class="col-sm-10 col-xs-12 col-sm-push-1">
                            <div class="introPayment" style="padding-bottom: 20px;">
                                <h3>Symplifica recomienda</h3>
                                <p>La trazabilidad de los pagos de nómina y aportes es muy importante para formalizar las relciones laborales</p>
                                <p>Los pagos electrónicos permiten llevar esta trazabilidad de forma muy eficiente</p>
                                <p>Symplifica recomienda por seguridad para el empleador y el empleado registrar un medio de pago electrónico.</p>
                                <img src="/img/daviplata.png" class="img-responsive" />
                                <p>Si su empleado no tiene una cuenta los guiamos a usted y a él para abrir de forma muy fácil una cuenta de cero costo en Daviplata </p>
                                <p>*Se requiere que su empleado tenga un celulara y sea el titular</p>
                                <p>Para usar Symplifica necesitará inscribir una cuenta bancaria desde donde debitaremos los pagos de nómina y de aportes</p>
                            </div>
                        </div>
                    </div>
                    <div class="formulario col-xs-12" style="border-top: none;">
                        <div class="col-sm-10 col-xs-12 col-sm-push-1">
                            <h3 class="blueFormTitle">Destino del pago *</h3>
                            <div class="row text-center" style="font-size: 15px;color: #7D7E81; font-weight: 300">Escoja el modelo de pago de la nómina para su empleado</div>
                            {% for child in form.employeeHasEmployers.payMethod %}
                                <div class="paymentMethodDetail">
                                    {% set index = child.vars.value %}
                                    {{ form_widget(child) }}
                                    <img src="/img/block-active.png" class="paymentMethodImage" />
                                    <div class="paymentMethodDescription">
                                        {{ choices[index].descripcion }}
                                        <br /><br />
                                        <a style="color:#00cdcc;text-decoration: none;" href="#"><i style="color:#00cdcc;" class="fa fa-info-circle"></i> Más Información</a>
                                        <br />
                                    </div>
                                    <div class="paymentMethodsOptions" id="putFields_{{ index }}"></div>
                                </div>

                            {% endfor %}

                            <div id="payMethodFields">

                            </div>
                            <br />

                            <div class="col-sm-12 col-xs-12 center">
                                <a class="btn btn-primary btnPrevious-form btnPrevious" >< Anterior</a>
                                <button id="register_employee_save" type="submit" name="register_employee[save]" class="btn btn-orange">Salvar</button>
                                <!--<div class="saveControl">{{ form_row(form.save) }}</div>-->
                            </div>
                            <div id="toHide">

                                <div class="col-sm-12 col-xs-12">
                                    <div class="col-sm-6 label-group">
                                        {{ form_label(form.employeeHasEmployers.contractType) }}
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        {{ form_widget(form.employeeHasEmployers.contractType) }}
                                    </div>
                                </div>
                                {{ form_widget(form) }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>



        {{ form_end(form) }}
    </div>


    <!-- Modal salario minimo -->
    <div class="modal fade" id="salarioMinimo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Advertencia salario minimo</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Entendido</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal TI -->
    <div class="modal fade" id="TIModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Advertencia Menor de edad</h4>
                </div>
                <div class="modal-body">
                    Un menor de edad no puede trabajar mas de 6 horas diarias y tiene que tener el consentimiento de los padres
                    <p>al presionar entendido acepta haber recibido esta información</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Entendido</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal no -->
    <div class="modal fade" id="generarModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Descargar documento</h4>

                </div>
                <div class="modal-body">
                    <p>El contrato se descargará automáticamente, si no sucede haga clic aquí para descargarlo.</p>
                    <p>Este documento es necesario para que Symplifica se pueda hacer cargo de los trámites de afiliación suyos y de sus empleados.</p>
                    <p>Recuerde que una vez impreso  ES MUY IMPORTANTE que lo firmen el empleador y los empleados; luedo tomarle foto al documento o escanearlo y posteriormente subirlo a Symplifica.</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="contractDownload(this)">Descargar Contrato</button>
                </div>
                <script>
                    function contractDownload() {
                        var value = $('select[id=register_employee_employeeHasEmployers_contractType]').val();
                        window.open('/contractLayout/' + value);
                    }
                </script>
            </div>
        </div>
    </div>

    <!-- Modal no -->
    <div class="modal fade" id="noNuevoContrato" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content"><div class="modal-body" style="padding: 0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute; right: 15px; top: 15px;z-index: 100; color: #fff;"><span aria-hidden="true">&times;</span></button>
                    <div class="row-fluid block-Intro-green clearfix" id="msgSinVerificar1" style="margin-top: 0;">
                        <div class="col-sm-12 col-xs-12 up-Intro" style="font-size: 26px;">Symplifica requiere la generación de un nuevo contrato</div>
                    </div>
                    <div class="row-fluid clearfix" style="padding-top: 30px; padding-bottom: 30px;">
                        <div class="col-md-8 col-md-push-2">
                            Sentimos no poder ayudarte. Si tienes dudas por favor revisa nuestra sección de <a href="/preguntas-frecuentes" target="_blank">ayuda</a> o <a href="mailto:contacto@symplifica.com?subject=Duda sobre generación del nuevo contrato">contáctanos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}