{% extends "::base.html.twig" %}
{% block fos_user_content %}
	<div id='registrationFormContainer' class=''>
		{{ form_errors(form) }}
		{{ form_start(form) }}

		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#basicData">Datos básicos</a></li>
			<li><a data-toggle="tab" href="#contactData">Datos de Contacto</a></li>
			<li><a data-toggle="tab" href="#contractData">Información del contrato</a></li>
			<li><a data-toggle="tab" href="#paymentMethod">Método de pago</a></li>
		</ul>

		<div class="tab-content">
			<div id="basicData" class="tab-pane fade in active">
				{{ form_row(form.person.documentType) }}
				{{ form_row(form.person.document) }}
				{{ form_row(form.personExtra.civilStatus) }}
				{{ form_row(form.person.names) }}
				{{ form_row(form.person.lastName1) }}
				{{ form_row(form.person.lastName2) }}
				{{ form_row(form.person.birthDate) }}
				{{ form_row(form.personExtra.birthDepartment) }}
				{{ form_row(form.personExtra.birthCity) }}
				{{ form_row(form.personExtra.birthCountry) }}
				<a class="btn btn-primary btnNext" >Siguiente</a>

			</div>

			<div id="contactData" class="tab-pane fade in">
				{{ form_row(form.person.mainAddress) }}
				{{ form_row(form.person.neighborhood) }}
				{{ form_row(form.person.phone) }}
				{{ form_row(form.person.department) }}
				{{ form_row(form.person.city) }}
				{{ form_row(form.personExtra.email) }}
				<a class="btn btn-primary btnPrevious" >Anterior</a>
				<a class="btn btn-primary btnNext" >Siguiente</a>

			</div>

			<div id="contractData" class="tab-pane fade h3">
				{{ form_row(form.employeeHasEmployers.employeeType) }}
				{{ form_row(form.employeeHasEmployers.contractType) }}
				{{ form_row(form.employeeHasEmployers.timeCommitment) }}
				{{ form_row(form.employeeHasEmployers.position) }}
				{{ form_row(form.employeeHasEmployers.salary) }}

				<h3>Benefits</h3>
				<ul id='' class="benefits" data-prototype="{{ form_widget(form.employeeHasEmployers.benefits.vars.prototype)|e }}">
					{% for benefit in form.employeeHasEmployers.benefits %}
						<li id="benefits_{{loop.index}}" class="benefitLi">
							{{ form_row(benefit.benefits) }}
						</li>
					{% endfor %}
				</ul>
				<h3>Work places</h3>
				<ul id='' class="workplaces" data-prototype="{{ form_widget(form.employeeHasEmployers.workplaces.vars.prototype)|e }}">
					{% for workplace in form.employeeHasEmployers.workplaces %}
						<li id="workplaces_{{loop.index}}" class="benefitLi">
							{{ form_row(workplace.workplaces) }}
						</li>
					{% endfor %}
				</ul>
				<a class="btn btn-primary btnPrevious" >Anterior</a>
				<a class="btn btn-primary btnNext" >Siguiente</a>
			</div>
			<div id="paymentMethod" class="tab-pane fade h3">
				{{ form_row(form.employeeHasEmployers.payMethod) }}



				<a class="btn btn-primary btnPrevious" >Anterior</a>
				{{ form_row(form.save) }}
				<div id="toHide">

					{{ form_widget(form) }}

				</div>
			</div>




		</div>



		{{ form_end(form) }}
	</div>
{% endblock fos_user_content %}
