{% extends "::base.html.twig" %}
{% block fos_user_content %}
	<div class="col-sm-12 col-xs-12 block-Intro">
		<span>Por favor diligencia los siguientes campos para consultar los datos de tu empleado:</span>
	</div>
	<div id='registrationFormContainer' class=''>
		{{ form_errors(form) }}
		{{ form_start(form) }}

		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#basicData">Datos básicos</a></li>
			<li><a data-toggle="tab" href="#contactData">Datos de Contacto</a></li>
			<li><a data-toggle="tab" href="#contractData">Información del contrato</a></li>
			<li><a data-toggle="tab" href="#paymentMethod">Método de pago</a></li>
		</ul>

		<div class="tab-content">
			<div id="basicData" class="tab-pane fade in active">
				{{ form_row(form.person.documentType) }}
				{{ form_row(form.person.document) }}
				{{ form_row(form.personExtra.civilStatus) }}
				{{ form_row(form.person.names) }}
				{{ form_row(form.person.lastName1) }}
				{{ form_row(form.person.lastName2) }}
				{{ form_row(form.personExtra.gender) }}
				{{ form_row(form.personExtra.documentExpeditionDate) }}
				{{ form_row(form.personExtra.documentExpeditionPlace) }}
				<h2>Datos de nacimiento</h2>
				{{ form_row(form.person.birthDate) }}
				{{ form_row(form.personExtra.birthDepartment) }}
				{{ form_row(form.personExtra.birthCity) }}
				{{ form_row(form.personExtra.birthCountry) }}
				<a id="btn-1" href="{{ path('api_public_post_new_employee_submit_step1') }}" class="btn btn-primary btnNext" >Siguiente</a>

			</div>

			<div id="contactData" class="tab-pane fade in">
				{{ form_row(form.person.mainAddress) }}
				{{ form_row(form.person.neighborhood) }}
				<ul class="phones" data-prototype="{{ form_widget(form.person.phones.vars.prototype)|e }}" >
					{% for phone in form.person.phones %}
						<li id="phone_{{loop.index}}" class="phoneLi">
							{{ form_row(phone.id) }}
							{{ form_row(phone.phoneNumber) }}
						</li>
					{% endfor %}
				</ul>
				{{ form_row(form.person.department) }}
				{{ form_row(form.person.city) }}
				{{ form_row(form.personExtra.email) }}
				<a class="btn btn-primary btnPrevious" >Anterior</a>
				<a id="btn-2" href="{{ path('api_public_post_new_employee_submit_step2') }}" class="btn btn-primary btnNext" >Siguiente</a>

			</div>

			<div id="contractData" class="tab-pane fade">
				{{ form_row(form.employeeHasEmployers.employeeType) }}
				{{ form_row(form.employeeHasEmployers.contractType) }}
				{{ form_row(form.employeeHasEmployers.timeCommitment) }}
				{{ form_row(form.employeeHasEmployers.position) }}
				{{ form_row(form.employeeHasEmployers.salary) }}
				{{ form_row(form.employeeHasEmployers.workplaces) }}
				{{ form_row(form.employeeHasEmployers.transportAid) }}

				<h3>Beneficios extralegales</h3>
				<ul id='' class="benefits" data-prototype="{{ form_widget(form.employeeHasEmployers.benefits.vars.prototype)|e }}">
					{% for benefit in form.employeeHasEmployers.benefits %}
						<li id="benefits_{{loop.index}}" class="benefitLi">
							{{ form_row(benefit.benefits) }}
						</li>
					{% endfor %}
				</ul>
				{{ form_row(form.employeeHasEmployers.benefitsConditions) }}

				<a class="btn btn-primary btnPrevious" >Anterior</a>
				<a id="btn-3" href="{{ path('api_public_post_new_employee_submit_step3') }}" class="btn btn-primary btnNext" >Siguiente</a>
			</div>
			<div id="paymentMethod" class="tab-pane fade">
				{{ form_row(form.employeeHasEmployers.payMethod) }}

				<div id="payMethodFields">

				</div>
				<div id="userPayMethod">
					{{ form_row(form.credit_card) }}
					{{ form_row(form.expiry_date) }}
					{{ form_row(form.cvv) }}
					{{ form_row(form.name_on_card) }}
				</div>
				<a class="btn btn-primary btnPrevious" >Anterior</a>
				{{ form_row(form.save) }}
				<div id="toHide">

					{{ form_widget(form) }}

				</div>
			</div>




		</div>



		{{ form_end(form) }}
	</div>
{% endblock fos_user_content %}
