{% extends "::base.html.twig" %}
{% block sidebar %}{% endblock %}
{% block fos_user_content %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="demo" href="{{ asset('public/css/demo.css') }}" />   
{% endblock stylesheets %}
	{% block body %}
		<div class="container">
			<div class="content col-md-12">
				<div class="col-md-4">
					{% if errno is defined %}
						Not a valid Credit Card check the data again
					{% endif %}
				  	{{ form_start(form) }}
					<div class="col-md-12">
						{{ form_label(form.credit_card) }}
						{{ form_errors(form.credit_card) }}
						{{ form_widget(form.credit_card) }}
					</div>
					<div class="col-md-6">
						{{ form_label(form.expiry_date_year) }}
						{{ form_errors(form.expiry_date_year) }}
						{{ form_widget(form.expiry_date_year) }}
					</div>
					<div class="col-md-6">
						{{ form_label(form.expiry_date_month) }}
						{{ form_errors(form.expiry_date_month) }}
						{{ form_widget(form.expiry_date_month) }}
					</div>
					<div class="col-md-6">
						{{ form_label(form.cvv) }}
						{{ form_errors(form.cvv) }}
						{{ form_widget(form.cvv) }}
					</div>
					<div class="col-md-12">
						{{ form_label(form.name_on_card) }}
						{{ form_errors(form.name_on_card) }}
						{{ form_widget(form.name_on_card) }}
					</div>
					<div class="col-md-4">
						{{ form_end(form) }}	
					</div>		
				</div>
				<p class="log"></p>
				</form>
			</div>
		</div>
		



	{% endblock %}
{% endblock fos_user_content %}