{% extends "::base.html.twig" %}
{% block stylesheet %}
    {{ parent() }}
    <style type="text/css">
        .form-group label {
        		font-weight: 100;
        		text-transform: lowercase;
        }

		.form-group label:first-letter {
		    text-transform: uppercase;
		}

		#form div:last-of-type {
		    border-top: 1px solid #E6E7E8;
		    margin-top: 30px;
    		padding-top: 20px;
		    text-align: center;
		}
    .ultimo {
      clear: both;
      width: 80%;
      margin: 0 auto;
      padding: 40px 0 0 0;
    }

    </style>
{% endblock stylesheet %}
{% block fos_user_content %}
<div class="col-sm-12 col-xs-12 align-Resp no-Padding-Col azulclaro">
    <div id="" class="col-sm-12 col-xs-12 blockStep inline  nav-link">
        <div id="" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">
             <img src="{{ asset('public/img/home/account.png') }}" class="center-block">
        </div>
        <div id="" class="col-md-10 col-xs-12">
            <div id="" class="text-left">
                <h1 style="color:#FFF;margin:25px 0 0;font-size:25px" class="bold">¡Ultimo paso!</h1>
                <span clas="light" style="color:#FFF;margin:0;font-weight:100;font-size:20px">Estas muy cerca de terminar</span>
            </div>
        </div>
    </div>
</div>
	<div class="row">
		<div class="ultimo" >
			<div>
				<div class="media" >
					<div class="media-body legalInCorrect grisclarofont light">
						<h4 class="media-heading" style="font-weight: bold;">Por tu seguridad validaremos tu identidad:</h4>
            &#10148; Tienes dos intentos para responder correctamente las preguntas<br>
            &#10148; En caso de que falles da clic en la la pestaña “ayuda” a tu izquierda y te contactaremos
					</div>
				</div>
			</div>
		</div>
	</div>
	<br /><br />
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 light grisclarofont">
			{{ form_start(form) }}
			{{ form_errors(form) }}
			<div id="formFields">
				{{ form_widget(form) }}
			</div>
			{{ form_end(form) }}
		</div>
	</div>

{% endblock fos_user_content %}
