{% extends "::base.html.twig" %}
{% block stylesheet %}
    {{ parent() }}
    <style type="text/css">
        .form-group label {
            font-style: italic;
    		font-weight: 100;
    		text-transform: lowercase;
        }

		.form-group label:first-letter {
		    text-transform: uppercase;
		}

		#form div:last-of-type {
		    border-top: 1px solid #E6E7E8;
		    margin-top: 30px;
    		padding-top: 20px;
		    text-align: center;
		}

    </style>
{% endblock stylesheet %}
{% block fos_user_content %}
	<br />
	<div class="row">
		<div class="col-sm-12" >
			<div class="roundContainer">
				<div class="media" >
					<div class="media-left">
						<i class="glyphicon glyphicon glyphicon-user bigIcon"></i>
					</div>
					<div class="media-body legalInCorrect">
						<h4 class="media-heading" style="font-weight: bold;">Último paso, tenemos que validar tu identidad</h4>
						Para garantizar tu seguridad, tenemos que confirmar tus datos, tienes dos intentos para contestar correctamente estas preguntas y validar tu identidad. En caso de que falles las dos veces te contactaremos para ayudarte a continuar con el registro.
					</div>
				</div>
			</div>
		</div>
	</div>
	<br /><br />
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1" >
			{{ form_start(form) }}
			{{ form_errors(form) }}
			<div id="formFields">
				{{ form_widget(form) }}
			</div>
			{{ form_end(form) }}
		</div>
	</div>

{% endblock fos_user_content %}
