{% extends "::base.html.twig" %}
{%  from '@RocketSellerTwoPick/modal_templates/modal_picker.twig' import modal %}
{% block modales %}
    {{ modal(1) }}
    {{ modal(2) }}
{% endblock %}
{% block fos_user_content %}
    {% block stylesheets %}
        <style>
            /*
            .blockStep2 {
                margin-top: 10px;
                background: #3b4b5a !important;
                background-image: none;
                background: 0 0;
                border: 1px solid #919191;
                border-radius: 0;
                box-shadow: none;
                margin-bottom: 20px;
                padding: 15px;
                text-shadow: none;
                color: #fff;
                opacity: 0.8;
            }
            .blockStep2 .txt-AD1 {
                font-family: "Open Sans";
                font-size: 24px;
                font-weight: 700;
                text-transform: uppercase;
                color: #fff;
                white-space: normal;
            }

            .blockStep2 .txt-AD1 p {
                font-size: 14px;
                font-family: @lato;
                font-weight: 100;
                margin-bottom: 0px;
            }
            */
            .label-group{
                text-align: right !important;
                padding-top: 10px;
            }

            .form-select{ color: yellow !important; }

            .form-control{ display: inherit !important; }

            .container-ul{ padding: 0; margin: 0; }

            .texto-cajacompensacion{ padding: 0 100px; }

            /* MEDIA QUERIES PARA RESPONSIVE - 20160608 NATALIABH */

            @media (max-width: 768px){
              .label-group{ text-align: left !important; }
            }

            @media (max-width: 480px){
                .btn-grey, .btnPrevious{ margin-bottom: 20px; }
                .btn-orange{ width: 300px; }
            }


        </style>
    {% endblock %}
    <!--
    <div class="col-sm-12 col-xs-12 block-Data">
        <h1>SYMPLIFÍCATE</h1>
        <span>
            Configura tu perfil para que nuestra herramienta haga el trabajo por ti.
            Con tu información como empleador sabremos qué necesitan tú y tus empleados y sabremos cómo ayudarte.
        </span>
    </div>
    -->

    <script>
        window.intercomSettings = {
            app_id: "mydavhzb",
            name: '{{ app.user.username }}', // Full name
            email: '{{ app.user.email }}', // Email address
            created_at: {{ app.user.dateCreated|date("U") }}, // Signup date as a Unix timestamp
        };
    </script>
    <script>
        (function(){
                    var w=window;
                    var ic=w.Intercom;
                    if(typeof ic==="function"){
                        ic('reattach_activator');
                        ic('update',intercomSettings);
                    }else{
                        var d=document;
                        var i=function(){
                            i.c(arguments)
                        };
                        i.q=[];
                        i.c=function(args){i.q.push(args)};
                        w.Intercom=i;
                        function l(){
                            var s=d.createElement('script');
                            s.type='text/javascript';
                            s.async=true;
                            s.src='https://widget.intercom.io/widget/mydavhzb';
                            var x=d.getElementsByTagName('script')[0];
                            x.parentNode.insertBefore(s,x);
                        }
                        if(w.attachEvent){
                            w.attachEvent('onload',l);
                        }else{
                            w.addEventListener('load',l,false);
                        }
                    }
                }
        )()
    </script>
    <script>
        window.Intercom("trackEvent", "register-edit");
    </script>
    <div class="col-sm-12 col-xs-12 align-Resp no-Padding-Col azulclaro">
        <div id="" class="col-sm-12 col-xs-12 blockStep inline  nav-link">
            <div id="" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">
                 <img src="/img/block-inline.png" class="center-block">
            </div>
            <div id="" class="col-md-10 col-xs-12 txt-AD1">
                <div id="" class="text-left title-center">
                    <span class="step">Paso 1 de 3</span>
                    Mis datos como empleador
                </div>
            </div>
        </div>
    </div>
<!--
    <div class="row-fluid">
        <div class="col-sm-12 col-xs-12 block-Intro">
            <span>Ingresa tu información para hacer efectivo tu registro</span>
        </div>
    </div>
-->
    <div class="row"></div>
    <div class="row-fluid" id='registrationFormContainer'>
        {{ form_start(form) }}
        <div class="noResponsive4tabs">
          <ul id="formNav" class="nav-justified nav-4-tabs">
              <li {%   if tab==1 %} class="active" {% endif %}><a data-toggle="tab" data-target="#basicData">Datos básicos</a></li>
              <li {%   if tab==2 %} class="active" {% endif %}><a data-toggle="tab" data-target="#contactData">Datos de contacto</a></li>
              <li {%   if tab==3 %} class="active" {% endif %}><a data-toggle="tab" data-target="#workplacesData">Lugares de trabajo</a></li>
              <li {%   if tab==4 %} class="active" {% endif %}><a data-toggle="tab" data-target="#employerEntities">Tus entidades</a></li>
          </ul>
        </div>
        <div style="background: #eaeaea;padding: 8px 0;" class="responsive4tabs title-center bold grisoscurofont">
          Datos básicos
        </div>
        <div class="tab-content">
            <div id="basicData" class="tab-pane fade in {%   if tab==1 %} active {% endif %}">
                {# render the task's only field: description #}
                <div class="formulario col-xs-12">
                    <div class="col-md-11 col-sm-12 col-xs-12 blockUpData content-input" style="border-bottom: none;">
                        <div class="col-sm-11 col-sm-offset-1 remember">
                            <span><i class="fa fa-info-circle"></i>Tus datos estan siendo guardados</span>
                        </div>

                        <div class="col-sm-12 col-xs-12">
                            <div class="col-sm-5 col-md-6 label-group">
                                {{ form_label(form.youAre) }}
                            </div>
                            <div class="col-sm-7 col-md-6">
                                {{ form_widget(form.youAre) }}
                            </div>
                            <!--<img src="/img/typePerson.png">-->
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="col-sm-5 col-md-6 label-group">
                                {{ form_label(form.person.documentType)}}
                            </div>
                            <div class="col-sm-7 col-md-6 form-group">
                                {{ form_widget(form.person.documentType) }}
                            </div>
                            <!--<img src="/img/documentType.png">-->
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="col-sm-5 col-md-6 label-group">
                                {{ form_label(form.person.document)}}
                            </div>
                            <div class="col-sm-7 col-md-6 form-group input">
                                {{ form_widget(form.person.document) }}
                            </div>
                            <!--<img src="/img/documentNumber.png">-->
                        </div>

                        <div class="col-sm-12 col-xs-12">
                            <div class="col-sm-5 col-md-6 label-group">
                                {{ form_label(form.documentExpeditionDate) }}
                            </div>
                            <div class="col-sm-7 col-md-6 form-group">
                                {{ form_widget(form.documentExpeditionDate) }}
                            </div>
                            <!--<img src="/img/typePerson.png">-->
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="col-sm-5 col-md-6 label-group">
                                {{ form_label(form.person.names)}}
                            </div>
                            <div class="col-sm-7 col-md-6 form-group input">
                                {{ form_widget(form.person.names) }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="col-sm-5 col-md-6 label-group">
                                {{ form_label(form.person.lastName1)}}
                            </div>
                            <div class="col-sm-7 col-md-6 form-group input">
                                {{ form_widget(form.person.lastName1) }}
                            </div>
                            <!--<img src="/img/documentNumber.png">-->
                        </div>
                        <div class="col-sm-12">
                            <a id="btn-inquiry" href="{{ path('api_public_post_inquiry_document') }}" class="btn btn-primary btnNext" style="display: none;">Consultar</a>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="col-sm-5 col-md-6 label-group">
                                {{ form_label(form.person.lastName2)}}
                            </div>
                            <div class="col-sm-7 col-md-6 form-group input">
                                {{ form_widget(form.person.lastName2) }}
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="col-sm-5 col-md-6 label-group">
                                {{ form_label(form.person.birthDate)}}
                            </div>
                            <div class="col-sm-7 col-md-6 form-group">
                                {{ form_widget(form.person.birthDate) }}
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 col-xs-12 center">
                    <div class="col-sm-6 col-sm-push-3">
                        <a id="btn-1" href="{{ path('api_public_post_edit_person_submit_step1') }}" style="text-transform: initial;" class="btn btn-orange">Guardar y continuar</a>
                        <br /><br />
                    </div>
                </div>
                <br /><br />
            </div>

            <div id="contactData" class="tab-pane fade in {%   if tab==2 %} active {% endif %}">
                <div class="formulario col-xs-12" style="padding-top:35px;">

                    <div class="col-sm-12 col-xs-12 blockUpData">
                        <div class="col-sm-12">
                            <div class="col-sm-5 col-md-6 label-group">
                                {{ form_label(form.person.mainAddress)}}
                            </div>
                            <div class="col-sm-7 col-md-6 form-group input">
                                {{ form_widget(form.person.mainAddress) }}
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <ul class="phones" data-prototype="{{ form_widget(form.person.phones.vars.prototype)|e }}" >
                                {% for phone in form.person.phones %}
                                    <li id="phone_{{loop.index}}" class="phoneLi">
                                        {{ form_row(phone.id) }}
                                        <div class="col-sm-5 col-md-6 label-group">
                                            {{ form_label(phone.phoneNumber)}}
                                            <br><span style="font-size:12px;position:relative;bottom:10px; color:#1fcecb">Enviaremos un código de seguridad a este número</span>
                                        </div>
                                        <div class="col-sm-7 col-md-6 form-group input">
                                            {{ form_widget(phone.phoneNumber)}}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-5 col-md-6 label-group">
                                {{ form_label(form.person.department)}}
                            </div>
                            <div class="col-sm-7 col-md-6 form-group">
                                {{ form_widget(form.person.department) }}
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-5 col-md-6 label-group">
                                {{ form_label(form.person.city)}}
                            </div>
                            <div class="col-sm-7 col-md-6 form-group">
                                {{ form_widget(form.person.city) }}
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-12 col-xs-12 center">

                    <a class="btn btn-grey btnPrevious">Volver atrás</a>


                    <a id="btn-2" href="{{ path('api_public_post_edit_person_submit_step2') }}" style="text-transform: initial" class="btn btn-orange">Guardar y continuar</a>
                    <br /><br />

                </div>
            </div>

            <div id="workplacesData" class="tab-pane fade in {%   if tab==3 %} active {% endif %}">
                <div class="col-xs-12 formulario">
                    <div class="col-sm-12 blockUpData content-input" style="border-bottom: none;">

                        <div class="col-sm-12 remember border">
                            <label class="control-label cajasd" style="color: #00858c !important;">Se deben incluir todos los sitios de trabajo en donde tu empleado ejercerá sus labores,
                              da clic en <strong>"Agrega otro lugar de trabajo"</strong> si tu empleado va a trabajar en más de un sitio de trabajo bajo el mismo empleador.</label>
                        </div>

                        <div class="col-sm-12" style="border-top: 1px solid #e6e7e8; padding-top: 20px; text-align: center; ">
                            {{ form_row(form.sameWorkHouse) }}
                        </div>
                    </div>

                    {# iterate over each existing workplaces and render its fields #}
                    <ul class="workplaces container-ul" data-prototype="
                        {% filter escape %}
                            {{ include('RocketSellerTwoPickBundle:DataPrototypes:workplacesPrototype.html.twig', { 'form': form.workplaces.vars.prototype|e }) }}
                        {% endfilter %} "  style="list-style: none">
                        {% for workplace in form.workplaces %}
                            <div id="workSpace_{{loop.index}}" class="col-sm-12 workSpaceLi">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 blockUpData" style="border-bottom: none">
                                        <div class="col-sm-12 col-xs-12">
                                            {{ form_row(workplace.id) }}
                                            <div class="col-sm-5 col-md-6 label-group">
                                                {{ form_label(workplace.name) }}
                                            </div>
                                            <div class="col-sm-7 col-md-6 form-group input">
                                                {{ form_widget(workplace.name) }}
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-xs-12">
                                            <div class="col-sm-5 col-md-6 label-group">
                                                {{ form_label(workplace.mainAddress) }}
                                            </div>
                                            <div class="col-sm-7 col-md-6 form-group input">
                                                {{ form_widget(workplace.mainAddress) }}
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12">
                                            <div class="col-sm-5 col-md-6 label-group">
                                                {{ form_label(workplace.department)}}
                                            </div>
                                            <div class="col-sm-7 col-md-6 form-group">
                                                {{ form_widget(workplace.department)}}
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12">
                                            <div class="col-sm-5 col-md-6 label-group">
                                                {{ form_label(workplace.city) }}
                                            </div>
                                            <div class="col-sm-7 col-md-6 form-group">
                                                {{ form_widget(workplace.city) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-12 col-xs-12 center">
                    <a class="btn btn-grey btnPrevious">Volver atrás</a>
                    <div class="saveControl">{{ form_widget(form.save) }}</div>
                    <br /><br />
                </div>
            </div>
            <div id="employerEntities" class="tab-pane fade in {%   if tab==4 %} active {% endif %}">
                <div class="formulario col-md-12" style="padding-top: 0px; border-bottom: 1px solid #E6E7E8;">

                    <div class="col-sm-12 col-xs-12 border">
                        <p class="cajasd" style="font-weight:600; font-size: 16px;">
                          Escoge la Caja de compensación Familiar y Administradora de riesgos Laborales a la que te gustaría afiliarte.
                          <span style="font-weight:100;color:#5D5D5D">&#10095; Si ya te encuentras afiliado debes seleccionar las mismas a las que estas afiliado.</span>
                          <span style="font-weight:100;color:#5D5D5D">&#10095; No realizamos cambios de entidades.</span>
                        </p>
                    </div>

                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 col-xs-12 blockUpData" style="border-bottom: medium none; padding-top: 20px;">
                            <div class="col-sm-12 col-xs-12">
                                <div class="col-sm-12" style="font-weight:100 !important;">
                                    {{ form_label(form.severances,null,{'label_attr': {'class': ''}})}}
                                </div>
                                {% if employee.severances.vars.data.name is defined %}
                                    {% set sname = employee.severances.vars.data.name %}
                                {% else %}
                                    {% set sname = "" %}
                                {% endif %}
                                <div class="col-sm-12 form-group">
                                    <ul class="severances" data-prototype="
                        {% filter escape %}
                            {{ include('RocketSellerTwoPickBundle:DataPrototypes:severancesPrototype.html.twig', { 'form': form.severances.vars.prototype|e }) }}
                        {% endfilter %} "  style="list-style: none; padding:0;">
                                        {% for caja in form.severances %}
                                            {% if caja.vars.data.entityEntity.name is defined %}
                                                {% set sname = caja.vars.data.entityEntity.name %}
                                            {% else %}
                                                {% set sname = "" %}
                                            {% endif %}
                                            <li>
                                                {{ form_row(caja.idEmployerHasEntity) }}
                                                <div class="hidden">
                                                    {{ form_row(caja.severances) }}
                                                </div>
                                                <div style="margin-top:10px;">
                                                    {{ form_widget(caja.severancesAC,{'value' : sname}) }}
                                                </div>
                                                </br>
                                                <div class="col-sm-12 col-xs-12">
                                                    <div class="col-sm-6 label-group">
                                                        {{ form_label(caja.severancesExists) }}
                                                    </div>
                                                    <div class="col-sm-6 form-group">
                                                        {{ form_widget(caja.severancesExists) }}
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <p id="errorSeverance" style="color:red;">Entidad no encontrada en la base de datos, por favor revisa lo escrito</p>
                                </div>
                            </div>
                            <div class="col-sm-12 col-xs-12">
                                <div class="wrapper">
                                    <div style="margin-top:10px;padding:0 15px;" class="form-group">
                                        {{ form_row(form.arl) }}
                                    </div>
                                </div>
                                <p id="msgARL" class="col-sm-12" style="font-weight:100 !important; color:red;">Temporalmente solo podemos gestionar las afiliaciones de primera vez a SURA</p>
                                <div class="col-sm-12 col-xs-12">
                                    <div class="col-sm-6 label-group">
                                        {{ form_label(form.arlExists) }}
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        {{ form_widget(form.arlExists) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <br />
                </div>
                <div class="col-sm-12 col-xs-12 center">
                    <a class="btn btn-grey btnPrevious" >Volver atrás</a>
                    <a id="btn-save-entities" href="{{ path('api_public_post_matrix_choose_submit_step2') }}" class="btn btn-orange" >Finalizar registro del empleador</a>
                </div>
                <div class="row">
                    <br /><br /><br />
                    <div class="col-sm-8 col-xs-12 col-sm-offset-2 remember text-center" style="opacity: 0.7;">
                        <h4 style="font-size: 14px;cursor: pointer" onclick="$(this).next().slideToggle()"><i class="glyphicon glyphicon-exclamation-sign"></i> ¿Por qué debo afiliarme si yo soy el empleador?</h4>
                        <span style="display:none;" id="textPorque">Para control de las administradoras se requiere que el empleador se inscriba como tal. La ARL y la Caja de Compensación son elección del empleador, esta última deben tener cobertura en el departamento donde labora el empleado.</span>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
        <br /><br />
        <div class="modal fade" id="createdModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content"><div class="modal-body" style="padding: 0">
                        <div class="row-fluid block-Intro-green clearfix" id="msgSinVerificar1" style="padding: 10px;">
                            <div class="col-sm-2 " style="width: 65px;">
                                <i class="glyphicon glyphicon-ok-sign" style="color:#fff;font-size:48px"></i>
                            </div>
                            <div class="col-sm-10 col-xs-12 up-Intro" style="font-size: 20px;">¡Muy Bien!<br />
                                <span style="font-weight:100;font-size:17px">¡Realizaste satisfactoriamente el registro del empleador!</span>
                            </div>
                        </div>
                        <div class="row-fluid clearfix" style="padding: 30px;">
                            <p>Ten a la mano los siguientes datos y documentos de tu empleado:</p>
                            <ul class="lista_check">
                                <li>Documento de identidad</li>
                                <li>Datos de  contacto (Teléfono, dirección, email)</li>
                                <li>Datos contractuales (Salario, fecha de ingreso)</li>
                                <li>Entidades de seguridad social (EPS y Fondo de pensión)</li>
                            </ul>
                            <br>
                            <div class="row text-center">
                                <button id="employerDismiss" type="button" class="btn btn-orange" data-dismiss="modal">Entendido</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="documentExistent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content"><div class="modal-body" style="padding: 0">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute; right: 15px; top: 15px;z-index: 100; color: #fff;"><span aria-hidden="true">&times;</span></button>
                        <div class="row-fluid block-Intro-green clearfix" id="msgSinVerificar1" style="margin-top: 0;">
                            <div class="col-sm-12 col-xs-12 up-Intro" style="font-size: 26px;">Documento existente</div>
                        </div>
                        <div class="row-fluid clearfix" style="padding-top: 30px; padding-bottom: 30px;">
                            <div class="col-md-8 col-md-push-2">
                                La cédula que nos proporcionaste ya existe en nuestro sistema, intenta buscando en tus cuentas de correo electrónico algún email de symplifica                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal success
        <div class="modal fade" id="otraCosa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" >
            <div class="vertical-alignment-helper">
                <div class="modal-dialog vertical-align-center" role="document">
                    <div class="modal-content">
                        <div  id="msgSinVerificar1" style="margin-top: 0;">
                        </div>
                        <div style="padding-top: 30px; padding-bottom: 30px;">
                            <div class="col-xs-4 " style="">
                                <p><img src="/img/check-in.png" style="width: 152px; margin: -105px 0 0 -15px; max-width: 100%;"></p>
                            </div>
                            <div class="col-md-9 col-md-push-3">
                                <p>Ahora tenga a la mano los siguientes documentos para continuar con el registro de la información de los empleados:</p>
                                <ul class="lista_listo">
                                    <li>Copia del documento de identificación</li>
                                    <li>Datos de contacto (Teléfono y dirección - email opcional)</li>
                                    <li>Contrato vigente (si cuenta con uno)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
    </div>
{% endblock fos_user_content%}
