{% extends "::base.html.twig" %}

{% block fos_user_content %}

<div id='registrationFormContainer' class=''>
{{ form_start(form) }}

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#basicData">Tab 1</a></li>
  <li><a data-toggle="tab" href="#contactData">Tab 2</a></li>
  <li><a data-toggle="tab" href="#workplacesData">Tab 3</a></li>
</ul>

<div class="tab-content">
	<div id="basicData" class="tab-pane fade in active">
	    {# render the task's only field: description #}
	    {{ form_row(form.youAre) }}
	    {{ form_row(form.person.documentType) }}
	    {{ form_row(form.person.document) }}
	    {{ form_row(form.person.names) }}
	    {{ form_row(form.person.lastName1) }}
	    {{ form_row(form.person.lastName2) }}
	    {{ form_row(form.person.birthDate) }}
	    <a id="btn-1" href="{{ path('api_public_post_edit_person_submit_step1') }}" class="btn btn-primary btnNext" >Siguiente</a>

	</div>

	<div id="contactData" class="tab-pane fade in">
	    {{ form_row(form.person.mainAddress) }}
	    {{ form_row(form.person.neighborhood) }}
		<ul class="phones" data-prototype="{{ form_widget(form.person.phones.vars.prototype)|e }}" >
			{% for phone in form.person.phones %}
				<li id="phone_{{loop.index}}" class="phoneLi">
					{{ form_row(phone.id) }}
					{{ form_row(phone.phoneNumber) }}
				</li>
			{% endfor %}
		</ul>
	    {{ form_row(form.person.department) }}
	    {{ form_row(form.person.city) }}
	    <a class="btn btn-primary btnPrevious" >Anterior</a>
	    <a id="btn-2" href="{{ path('api_public_post_edit_person_submit_step2') }}" class="btn btn-primary btnNext" >Siguiente</a>

    </div>

    <div id="workplacesData" class="tab-pane fade h3">
	    <h3>Workplaces</h3>
	    	{{ form_row(form.numberOfWorkplaces) }}
	    {# iterate over each existing workplaces and render its fields #}
		<ul class="workplaces" data-prototype="{{ form_widget(form.workplaces.vars.prototype)|e }}" >
	   	{% for workplace in form.workplaces %}
	        <li id="workSpace_{{loop.index}}" class="workSpaceLi">
				{{ form_row(workplace.id) }}
	        	{{ form_row(workplace.mainAddress) }}
	        	{{ form_row(workplace.department) }}
	        	{{ form_row(workplace.city) }}
	        </li>
	    {% endfor %}
	    </ul>
	    <a class="btn btn-primary btnPrevious" >Anterior</a>
	    {{ form_row(form.save) }}
    </div>




</div>



{{ form_end(form) }}
</div>
{% endblock fos_user_content%}