{% extends "::base.html.twig" %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="demo" href="{{ asset('public/css/demo.css') }}" />   
{% endblock %}
{% block content %}
	<div class="col-md-4">
	  	{{ form_start(form) }}
		<div class="col-md-12">
			{{ form_label(form.credit_card) }}
			{{ form_errors(form.credit_card) }}
			{{ form_widget(form.credit_card) }}
		</div>
		<div class="col-md-6">
			{{ form_label(form.expiry_date) }}
			{{ form_errors(form.expiry_date) }}
			{{ form_widget(form.expiry_date) }}
		</div>
		<div class="col-md-6">
			{{ form_label(form.cvv) }}
			{{ form_errors(form.cvv) }}
			{{ form_widget(form.cvv) }}
		</div>
		<div class="col-md-12">
			{{ form_label(form.name_on_card) }}
			{{ form_errors(form.name_on_card) }}
			{{ form_widget(form.name_on_card) }}
		</div>
		<div class="col-md-4">
			{{ form_end(form) }}	
		</div>		
	</div>
	<p class="log"></p>
	</form>
{% endblock %}
{% block javascripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="{{ asset('public/js/jquery.creditCardValidator.js') }}"></script>	
	<script>
	    $(function() {
	        $('input').validateCreditCard(function(result) {
	            $('.log').html('Card type: ' + (result.card_type == null ? '-' : result.card_type.name)
	                     + '<br>Valid: ' + result.valid
	                     + '<br>Length valid: ' + result.length_valid
	                     + '<br>Luhn valid: ' + result.luhn_valid);

	        });
	    });
	</script>	
{% endblock %}