{% extends "::base.html.twig" %}
{% block sidebar %}{% endblock %}
{% block fos_user_content %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="demo" href="{{ asset('public/css/demo.css') }}" />   
{% endblock stylesheets %}
	{% block body %}


<div id="registrationContainer" class="row-fluid clearfix" style="padding-bottom: 30px;">

    <div class="smallOrangeBox">
        <div class="smallOrangeBoxTitle"><span class="whiteFormTitle">Registro Express</span></div>
        
        <div class="smallOrangeBoxContent">
            
            <span>Lo último, confirma los datos del pago:</span>

            <span class="light-text"></span>
            <hr class="smallDivider" />
            

				<br />
					<table style="width:100%;text-align:left">
					<thead>
						<tr>
							<th>
								Concepto	
							</th>
							<th>
								Valor
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								{{ product.name}}
							</td>
							<td>
								${{ product.price}}
							</td>
						</tr>
						<tr>
							<td>
								{{ product.taxTax.name}}
							</td>
							<td>
								{{ product.taxTax.value}}%
							</td>
						</tr>
						<tr>
							<td>Total a pagar:</td>
							<td><strong>${{totalValue}}</strong></td>
						</tr>													
					</tbody>
				</table>
				<br /><br />
				<a href="{{path('express_pay',{'id':methodId})}}" class="btn btn-symplifica" role="button">Pagar</a>
				<br /><br />

        </div>
    </div>
</div>

	
	{% endblock %}
{% endblock fos_user_content %}