{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('express_start') }}" {{ form_enctype(form) }} method="POST" class="express_start">
    {{ form_widget(form) }}
    <input type="text" name="phone">
    <div class="form-group txt-A1-terms">
        <input type="checkbox" id="chkTOS"/> Al registrarme acepto todos los <a href="{{ path('terminos_condiciones') }}">Términos y Condiciones</a>
    </div>
    <div class="col-xs-12">
		   	    		    	
    		<input type="submit" id="btnSubmit" value="{{ 'registration.submit'|trans }}" class="btn register-AS1 btn-symplifica disabled"/>            
    </div>

</form>
