{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
	<div class="container">
		<div class="content">
			
			<form action="{{ path('express_start') }}" {{ form_enctype(form) }} method="POST" class="col-md-12 express_start">
			
			    <div class="form-black col-md-4">
			    	{{ form_row(form.names)}}	
			    </div>
			    <div class="col-md-4 form-black form-group">
			    	{{ form_row(form.lastName1)}}
			    </div>
			    <div class="col-md-4 form-black form-group">
			    	{{ form_row(form.lastName2)}}	    	
			    </div>
			    		    			    			    	    	
			    <div class="form-black form-group col-md-12">
			    	<label class="control-label required" for="app_user_registration_form_plainPassword">Telefono</label>
			    	<input type="text" name="phone" required="required" placeholder="Telefono" class="form-control">	    	
			    </div>
			    <div class="form-black form-group col-md-12">
			    	{{form_row(form.documentType)}}	    	
			    </div>
			    <div class="form-black form-group col-md-12">
			    	{{form_row(form.document)}}	    	
			    </div>
		    
			    {{ form_end(form)}}	
			</form>
		</div>		
	</div>	
{% endblock body %}
