{% trans_default_domain 'FOSUserBundle' %}
<head>
  <link rel="stylesheet" href="{{ asset('public/css/home/reset-pass.css') }}">
</head>

<div id="reset-pass-cont">

  <div id="banner-beneficios">
      <div id="banner-beneficios-cont">
          <h1 class="bold azuloscurofont">¿Olvidaste tu contraseña?</h1>
          <h1 class="light azulmediofont">Puedes cambiarla sin problema</h1>
        </div>
    </div>

    <div id="reset-pass">
      <p class="azulclarofont bold">Ingresa tu nueva contraseña</p>
      <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
          {{ form_widget(form) }}
          <div>
              <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
          </div>
      </form>
    </div>
</div>
