{% extends "::base.html.twig" %}
{% block content %}
    <h1>Listado de ordenes de compra</h1>
    <div class="list-group">
        {% for order in orders %}
            <div class="list-group-item">
                <a class="badge loading" data-loading-text="Cargando..." data-complete-text="Cerrar" onclick="javascript:verDetalle('{{ path("api_public_get_detail", {"id": order.id }) }}', {{ order.id }}, $(this))">Ver detalle</a>
                <h3 class="panel-title">
                    {{ order.id }} -
                    Tipo: {{ order.type }} -
                    Fecha creación: {{ order.dateCreated }}
                    Ultima modificación: {{ order.lastModified }}
                </h3>
            </div>
            <div class="panel panel-default" id="purchaseOrderDetail{{ order.id }}" style="display:none">
                <div class="panel-body"></div>
            </div>
        {% endfor %}
    </div>
</ul>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
function verDetalle(url, idPurchaseOrder, event) {
    var $btn = event;
    $btn.button('loading');
    $btn.parent().addClass('active');
    // Then whatever you actually want to do i.e. submit form
    // After that has finished, reset the button state using
    $btn.on("closeLoading", function(event) {
        $(this).button('reset');
        $btn.parent().removeClass('active');
    });

    divDetail = $("#purchaseOrderDetail" + idPurchaseOrder);

    if (divDetail.css("display") == "none"){
        $.getJSON( url )
        .done(function( json ) {
            if (!jQuery.isEmptyObject(json)) {

                panelBody = divDetail.find(".panel-body");
                panelBody.html('<ul class="list-group"></ul>');
                ulPanelBody = panelBody.find(".list-group");

                if (json.purchaseOrderData) {
                    po = json.purchaseOrderData;
                    if (po.invoiceNumber == null) {
                        invoiceNumber = "No hay factura asociada <a class='badge loading' data-loading-text='Cargando...' data-complete-text='Orden actualizada' onclick='javascript:updateInvoiceNumber(" + idPurchaseOrder + ", $(this))'>Actualizar número de Factura</a>";
                    } else {
                        invoiceNumber = po.invoiceNumber;
                    }
                    ulPanelBody.append('<li class="list-group-item">' +
                            "Fecha de creación: " + po.dateCreated + "</br>" +
                            "Última modificación: " + po.lastModified + "</br>" +
                            "Número de factura: " + invoiceNumber + "</br>" +
                            '</li>');
                }
                if (json.details){
                    $.each(json.details, function(indice, data){
                        ulPanelBody.append('<li class="list-group-item">' +
                                "Detalle: " + data.product + "</br>" +
                                "Producto: " + data.product + "</br>" +
                                "Descripción: " + data.description + "</br>" +
                                '</li>');
                    });
                }
                $btn.button("complete");
                divDetail.show("highlight");
            } else {
                divDetail.find(".panel-body").html("Esta orden de compra no tiene ");
                divDetail.find(".panel-body").append("detalle asociado");
                $btn.button("complete");
                divDetail.show("highlight");
            }
        }).fail(function( jqxhr, textStatus, error ) {
            var err = textStatus + ", " + error;
            $btn.trigger("closeLoading");
            console.log( "Request Failed: " + err );
        });
    } else {
        $btn.trigger("closeLoading");
        divDetail.hide("slow");
    }
}

function updateInvoiceNumber(idPurchaseOrder, event) {
    var $btn = event;
    $btn.button('loading');

    $.ajax({
        url: "{{ updateInvoiceNumberService }}",
        type: 'PUT',
        data: {idPO: idPurchaseOrder, invoiceNumber: "234243"},
        success: function(data) {
            $btn.button('complete');
        }
    });
}
</script>
{% endblock %}