{% set sname = "" %}
{{ form_row(form.idEmployerHasEntity) }}
<div class="hidden">
    {{ form_row(form.severances) }}
</div>
<div style="margin-top:10px;">
    {{ form_widget(form.severancesAC,{'value' : sname}) }}
</div>
<div class="col-sm-12 col-xs-12">
    <div class="col-sm-6 label-group">
        {{ form_label(form.severancesExists) }}
    </div>
    </br>
    <div class="col-sm-6 form-group">
        {{ form_widget(form.severancesExists) }}
    </div>
</div>
