<div class="row">
    <div class="col-sm-10 col-xs-12" style="border-bottom: none">
        <div class="col-sm-12 col-xs-12">
            {{ form_row(form.id) }}
        </div>
        <div class="col-xs-12 col-md-12">
            <div class="col-sm-6 label-group">
                {{ form_label(form.name) }}
            </div>
            <div class="col-sm-6 form-group">
                {{ form_widget(form.name) }}
            </div>                                        
        </div>
        <div class="col-xs-12 col-md-12">
            <div class="col-sm-6 label-group">
                {{ form_label(form.mainAddress) }}
            </div>
            <div class="col-sm-6 form-group">
                {{ form_widget(form.mainAddress) }}
            </div>                                        
        </div>
        <div class="col-xs-12 col-md-12">
            <div class="col-sm-6 label-group">
                {{ form_label(form.department) }}
            </div>
            <div class="col-sm-6 form-group">
                {{ form_widget(form.department) }}
            </div>                                        
        </div>
        <div class="col-xs-12 col-md-12">
            <div class="col-sm-6 label-group">
                {{ form_label(form.city) }}
            </div>
            <div class="col-sm-6 form-group">
                {{ form_widget(form.city) }}
            </div>                                        
        </div>
    </div>
</div>
