{% extends "::base.html.twig" %}
{% block fos_user_content %}
    <div class="modal-dialog modal-md" role="document" id="cuerpoModal">
        <div class="modal-content">
            <div class="modal-body" style="padding: 0">
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div class="row-fluid block-Intro-green clearfix" id="msgSinVerificar1" style="margin-top: 0;">
                    <div class="col-sm-12 col-xs-12 up-Intro">Subir {{ documentName  }} de {{ personName }}</div>
                </div>
                <div class="row-fluid clearfix" style="padding-top: 30px; padding-bottom: 30px;">
                    {{ form_start(form,{'action': path('documentos_employee',{'id': id , 'idDocumentType':idDocumentType,'idNotification':idNotification}), 'method': 'POST'}) }}
                    {{ form_errors(form) }}
                    <div style="display: none;">
                        {{ form_row(form.mediaMedia.unlink) }}
                    </div>

                    <div style="display: none;">
                        {{ form_row(form.documentTypeDocumentType) }}
                    </div>

                    <div class="row modal-responsive" style="border-bottom: none;">
                        <div class="col-sm-12 col-xs-12">
                            <div class="col-sm-12 col-xs-12 subir-archivo">
                                {{ form_label(form.mediaMedia.binaryContent,'Subir archivo') }}
                                <br/>
                                <h8 style="font-stretch: expanded">Los formatos aceptados son .pdf .jpg .png .jpeg</h8>
                            </div>
                            <div class="col-sm-9 text-left">
                                {{ form_widget(form.mediaMedia.binaryContent,{'attr':{'accept':"application/pdf,image/jpeg,image/tiff,image/png",'style':"margin-top:30px"}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row " style="border-bottom: none; padding-top: 20px;">
                        <div class="col-sm-12 col-xs-12 text-center">
                            {{ form_row(form.save) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}

