{% extends "::base.html.twig" %}
{% block fos_user_content %}
    <div class="col-sm-12 col-xs-12 align-Resp">
        <div class="btn col-sm-12 col-xs-12 blockStep complete nav-link">
            <div style="text-align: left;" class="col-md-2 col-xs-12 txt-AD0 statusBarIcon">
                <img src="/img/employ_white.png">                    
            </div>
            <div class="col-md-6 col-xs-12 txt-AD1">
                <div class="text-left" id="">
                    Subir documento nuevo
                </div>
            </div>
        </div>
    </div>
    <div class="row"></div>
    <div class="row-fluid" id='registrationFormContainer'>
        <div id="basicData" class="tab-pane fade in active">
            {{ form_start(form,{'action': path('documentos_employee',{'id': id , 'idDocumentType':idDocumentType,'idNotification':idNotification}), 'method': 'POST'}) }}
            {{ form_errors(form) }}
            <div style="display: none;">
            	{{ form_row(form.mediaMedia.unlink) }}
            </div>    
                
            <div style="display: none;">    	
            	{{ form_row(form.documentTypeDocumentType) }}  
            </div>      
            <div class="col-sm-10 col-xs-12 blockUpData content-input" style="border-bottom: none;">
                <div class="col-sm-12 col-xs-12">
                    <div class="col-sm-6 label-group">
                        {{ form_label(form.mediaMedia.binaryContent) }}    
                    </div>
                    <div class="col-sm-6">
                        {{ form_widget(form.mediaMedia.binaryContent) }}    
                    </div>
                    <!--<img src="/img/typePerson.png">-->                        
                </div>  
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock fos_user_content %}