<!DOCTYPE html>
<html lang="es">
<head>
<title>ACTA DE AUTORIZACIÓN DESCUENTO</title>
<meta charset="utf-8" />
<style>
body {
    height: 792px;
    width: 612px;
    /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;
}
</style>
<head>
<body>
<hr />
<p>&nbsp;</p>
{% set local = "now"|date("d-m-y") %}
{# <p><strong>{{ data.contract.city }}, {{ "now"|localizeddate('long', 'none', local) }}</strong><br />#}
<p style="text-align: center;"><strong>ACTA DE AUTORIZACIÓN DESCUENTO</strong></p>

<p><strong>Ciudad: {{ data.contract.city }}</strong></p>
<p><strong>Fecha: {{ "now"|localizeddate('long', 'none', local) }}</strong></p>
<p>&nbsp;</p>
<p style="text-align: justify;">Yo, {{ data.employee.name }}, mayor de edad, identificado con {{ data.employee.docType }} número
{{ data.employee.docNumber }}, por medio del presente documento manifiesto expresamente y de manera libre y voluntaria que
AUTORIZO a {{ data.employer.name }}. Para que descuenten del total de mis salarios, compensaciones, prestaciones sociales y
demás acreencias laborales a que tenga derecho, la suma de VALOR DEL PRESTAMO EN LETRAS ($XX.XXX.oo), por concepto de
(ESPECIFIQUE POR QUE FUE EL PRESTAMO). Esta suma la pagaré en NUMERO DE CUOTAS cuotas, a partir de FECHA DE INICIO DEL DESCUENTO</p>
<p style="text-align: justify;">En caso de retiro, sin importar cuál sea la causa, AUTORIZO expresamente para que el saldo que
se encuentre pendiente, me sea descontado de mi liquidación final de prestaciones sociales y demás acreencias laborales a las
que tenga derecho.</p>

<p>&nbsp;</p>

<p>Atentamente,</p>


_____________________________________
<p>Nombre: {{ data.employee.name }}</p>
{{ data.employee.docType }} No. {{ data.employee.docNumber }}

<hr />

</body>
</html>