<!DOCTYPE html>
<html lang="es">
<head>
<title>Certificación laboral activo</title>
<meta charset="utf-8" />
<style>
body {
    height: 792px;
    width: 612px;
    /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;
}
</style>
<head>
<body>
<hr />
<p>&nbsp;</p>
{% set local = "now"|date("d-m-y") %}
<p>&nbsp;</p>
<p style="text-align: center;"><strong>CERTIFICADO LABORAL</strong></p>
<p>&nbsp;</p>
<p style="text-align: justify;">Yo, {{ data.employer.name|upper }} identificado con
    {% if data.employer.docType == "CC" %}
        c&eacutedula de ciudadan&iacutea
    {% elseif data.employer.docType == "CE" %}
        c&eacutedula de extranjer&iacutea
    {% elseif data.employer.docType == "TI" %}
        tarjeta de identidad
    {% endif %} {{ data.employer.docNumber|number_format(0,',','.') }},
    CERTIFICO que {{ data.employee.name|upper }} identificado con c&eacutedula de ciudadan&iacutea {{ data.employee.docNumber|number_format(0,',','.') }} de {{ data.employee.docExpPlace }},
    trabaja para mi como {{ data.contract.position|upper }} desde el {{ data.contract.fechaInicio|localizeddate('none', 'none', 'es-CO', null, "dd 'de' MMMM 'de' Y") }}, a trav&eacutes de un contrato a {{ data.contract.type }}
    y devengando un salario de ${{ data.contract.salary|number_format(0,',','.') }} mensuales promedio.</p>

<p style="text-align: justify;">Esta constancia se expide a solicitud del interesado a los
    {{ "now"|localizeddate('none', 'none', 'es-CO', null, "d 'días del mes de' MMMM 'del año' Y") }}.</p>

<p>Atentamente,</p>
_____________________________________
<p>{{ data.employer.name|upper }}</p>
<p>{{ data.employer.docType }} {{ data.employer.docNumber|number_format(0,',','.') }}</p>
<p>Correo: {{ data.employer.email }} - Tel: {{ data.employer.tel }}</p>
<p>&nbsp;</p>
<hr />
</body>
</html>
