<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Documento sin título</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,800,600italic,700" rel="stylesheet" type="text/css">

    <style type="text/css">
        * {margin: 0 auto;padding: 0}
        ​,
        #contenedor-comp {
            width: 612px;
            height: auto;
        }
        ​,
        #tittle-comp {
            color: #5D5D5D;
            text-align: center;
            margin-top: 45px;
        }
        span,th {
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            font-size: 15px
        }
        #tittle-comp h2 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            text-transform: uppercase;
            line-height: 30px
        }
        ​,
        #data-empleado {
            border-top: 1px #CCC solid;
            margin: 20px 0 0 0;
            padding: 20px 0 0 0;
            color: #5D5D5D;
        }
        ​,
        .celdas-copm {
            border: 1px #CCC solid;
            height: auto;
            overflow: hidden;
            margin-top: 4px;
        }
        .info-celdas {
            width: 45%;
            float: left;
            padding: 10px 15px;
        }
        ​,
        p {
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
        }
        ​,
        th {
            color: #5D5D5D
        }
        ​,
        #descript-comp {
            margin: 35px 0 0 0;
            clear: both
        }
        ​,
        .border-comp td {
            border: 1px solid #e6e6e6;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            padding: 5px 15px;
            color: #828282;
            font-size: 13px;
        }
        ​,
        .bold {
            font-weight: 700 !important;
            color: #5D5D5D;
        }
        ​,
        .sub {
            background: #e4e4e4;
        }
        ​,
        .total {
            background: #c1c1c1;
        }
        ​,
        .border-comp th {
            background: #e4e4e4;
            padding: 5px 0;
            font-size: 13px;
        }
        .firmaImg {
            width: 100%;
            height: auto;
            margin: 15px 0 0 0
        }
        #firma-empleado {
            width: 300px;
            margin: 0 0 0 0;
            border-top: 1px #CCC solid;
            padding: 15px 0 0 0;
            color: #5D5D5D
        }
    </style>

</head>

{% if  data.isMobile %}
  <body style="zoom: 0.5;">
{% else %}
  <body>
{% endif %}
  <div id="contenedor-comp">
              <div id="tittle-comp">
                  <h2>Comprobante de pago</h2>
                  <span>{{ utils.period_number_to_name(data.employeeInfo.period) }} {{ utils.month_number_to_name(data.employeeInfo.month) }} {{ data.employeeInfo.year }}</span>
              </div>
              <div id="data-empleado">
                  <p>
                      <span>Empleador</span><br>
                      {{ data.client.name }}<br>
                      {{ data.client.docType }} {{ data.client.docNumber|number_format(0, '.', ',')   }}
                  </p>
                  <div id="descript-comp">
                      <table class="border-comp" width="612px" border="0" cellspacing="0">
                        <tr align="center" valign="middle">
                          <td class="bold" align="left">Empleado</td>
                          <td align="right">{{ data.employeeInfo.name }}</td>
                        </tr>
                        <tr align="center" valign="middle">
                          <td class="bold" align="left">Cédula</td>
                          <td align="right">{{ data.employeeInfo.docNumber|number_format(0, '.', ',')   }}</td>
                        </tr>
                        <tr align="center" valign="middle">
                          <td class="bold" align="left">Cargo</td>
                          <td align="right">{{ data.employeeInfo.position }}</td>
                        </tr>
                          <tr align="center" valign="middle">
                              <td class="bold" align="left">Ciudad</td>
                              <td align="right">{{ data.employeeInfo.workCity }}</td>
                            </tr>
                          <tr align="center" valign="middle">
                              <td class="bold" align="left">Medio de pago</td>
                              <td align="right">{{ data.employeeInfo.payMethod }}</td>
                            </tr>
                          <tr align="center" valign="middle">
                              <td class="bold" align="left">Salario {{ data.employeeInfo.type }}</td>
                              <td align="right">${{ data.employeeInfo.salary|number_format(0, '.', ',')   }}</td>
                            </tr>
                      </table>
                  </div>
              </div>
              <div id="descript-comp">
                  <table class="border-comp" width="612px" border="0" cellspacing="0">
                      <tr valign="middle">
                          <th>Item</th>
                          <th align="left">Descripción</th>
                          <th align="right">Devengado</th>
                          <th align="right">Deducido</th>
                      </tr>

                      {% set counter=1 %}
                      {% for desc in data.discriminatedInfo.devengado %}
                          <tr align="center" valign="middle">
                              <td>{{ counter }}</td>
                              <td align="left">{{ desc.name }} {{ desc.units }} {% if desc.noveltyTypeNoveltyType.period == 'dia'  %} dia(s) {% elseif desc.noveltyTypeNoveltyType.period == 'hora'  %} hora(s) {% elseif desc.noveltyTypeNoveltyType.period == 'unidad'  %} {% elseif desc.noveltyTypeNoveltyType.period == '%'  %} % {% endif %}</td>
                              <td align="right">${{ desc.sqlValue|number_format(0, '.', ',') }}</td>
                              <td align="right">$0</td>
                          </tr>
                          {% set counter=counter+1 %}
                      {% endfor %}
                      {% for desc in data.discriminatedInfo.deducido %}
                          <tr align="center" valign="middle">
                              <td>{{ counter }}</td>
                              <td align="left">{{ desc.name }} {{ desc.units }} {% if desc.noveltyTypeNoveltyType.period == 'dia'  %} dia(s) {% elseif desc.noveltyTypeNoveltyType.period == 'hora'  %} hora(s) {% elseif desc.noveltyTypeNoveltyType.period == 'unidad'  %} {% elseif desc.noveltyTypeNoveltyType.period == '%'  %} % {% endif %}</td>
                              <td align="right">$0</td>
                              <td align="right">${{ desc.sqlValue|number_format(0, '.', ',') }}</td>
                          </tr>
                          {% set counter=counter+1 %}
                      {% endfor %}

                      <tr valign="middle" class="sub">
                          <td class="bold" colspan="2" align="left">Total</td>
                          <td class="bold" align="right">${{ data.discriminatedInfo.totalDevengado|number_format(0, '.', ',')   }}</td>
                          <td class="bold" align="right">${{ data.discriminatedInfo.totalDeducido|number_format(0, '.', ',')   }}</td>
                      </tr>
                      <tr valign="middle" class="total">
                          <td class="bold" colspan="3" align="left">Neto a pagar</td>
                          <td class="bold" align="right">${{ data.discriminatedInfo.total|number_format(0, '.', ',')   }}</td>
                      </tr>
                  </table>
                  <p style="font-size: 14px;">
                    Confirmo que recibí de parte de la persona arriba mencionada como empleador,
                    la cantidad neta que aparece en este comprobante y estoy de acuerdo con los ingresos y deducciones aquí estipulados.</p>
              </div>

              {% if  data.signatureUrl != null %}
                  <div class="firmaImg">
                      <img src="{{ data.signatureUrl }}" width="auto" height="100"/>
                  </div>
              {% else %}
                  <div style="margin:100px 0">

                  </div>
              {% endif %}
              <div id="firma-empleado">
                  <p>
                      <span>Firma empleado</span><br>
                      {{ data.employeeInfo.name }}<br>
                      {{ data.employeeInfo.docType }} {{ data.employeeInfo.docNumber | number_format(0, '.', ',') }}

                  </p>
              </div>
              <div style="margin:50px 0 0 0;text-align:center">
                <p class="bold">www.symplifica.com | NIT 900862831-1 | 350 833 0000</p>
            </div>
          </div>
</body>
</html>
