<!DOCTYPE html>
<html lang="es">
<head>
<title>VERSION LIBRE Y ESPONTANEA DE HECHOS</title>
<meta charset="utf-8" />
<style>
body {
    height: 792px;
    width: 612px;
    /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;
}
</style>
<head>
<body>
<hr />
<p>&nbsp;</p>
{% set local = "now"|date("d-m-y") %}
{# <p><strong>{{ data.contract.city }}, {{ "now"|localizeddate('long', 'none', 'es-CO') }}</strong><br />#}
<p><strong>{{ data.contract.city }}, {{ "now"|localizeddate('long', 'none', 'es-CO') }}</strong></p>
<p>&nbsp;</p>
<p>Señor(a):</p>
<p>{{ data.employee.name }}</p>
<p>{{ data.contract.position }}</p>
<p>&nbsp;</p>
<p style="text-align: justify;"><strong>Acta de Descargos Nº</strong>{{ data.novelty.id }}</p>
<p style="text-align: justify;">Estimado (a) Trabajador (a) es importante que nos mencione lo sucedido el pasado
{{ data.novelty.dateStart|localizeddate('none', 'none', 'es-CO', null, "d ' de' MMMM 'del año' Y") }}, por favor descríbanos brevemente los hechos:</p>
<p>&nbsp;</p>
<p style="text-align: justify;">______________________________________________________________________</p>
<p style="text-align: justify;">______________________________________________________________________</p>
<p style="text-align: justify;">______________________________________________________________________</p>
<p style="text-align: justify;">______________________________________________________________________</p>
<p style="text-align: justify;">______________________________________________________________________</p>
<p style="text-align: justify;">______________________________________________________________________</p>
<p style="text-align: justify;">______________________________________________________________________</p>
<p style="text-align: justify;">______________________________________________________________________</p>
<p style="text-align: justify;">______________________________________________________________________</p>
<p style="text-align: justify;">______________________________________________________________________</p>
<p style="text-align: justify;">______________________________________________________________________</p>
<p style="text-align: justify;">______________________________________________________________________</p>
<p style="text-align: justify;">______________________________________________________________________</p>
<p>&nbsp;</p>

<p>Se firma</p>

<p>El Trabajador</p>


_____________________________________
<p>{{ data.employee.name }}</p>
<p>{{ data.contract.position }}</p>

<p>&nbsp;</p>

<p>El Empleador</p>


_____________________________________
<p>{{ data.employer.name }}</p>

<p>&nbsp;</p>

<p>Testigo</p>


_____________________________________
<p>Nombre:</p>
<p>CC:</p>

<p>&nbsp;</p>
<hr />

</body>
</html>
