<!DOCTYPE html>
<html lang="es">
<head>
<title>Factura de servicio de Symplifica</title>
<meta charset="utf-8" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,800,600italic,700' rel='stylesheet' type='text/css'>
<style>
body {
    height: 900px;
    width: 612px;
    /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;
}

.header {
    height: 100px;
}

.level {
    overflow: auto;
    text-align: center;
    padding: 10px;
}

.table {
/*     border-style: solid; */
    margin: 10px;
}

.border {
/*     border-style: solid; */
}

.title {
    text-align: center;
/*     background: gray; */
}

.columns {
    overflow: auto;
}
.columns p {
  margin: 5px 0
}
.columns .cols {
    float: left;
    width: 50%;
    text-align: justify;
}

.row {
    overflow: auto;
/*     border-bottom: solid; */
}
.subt {
        height: auto;
    overflow: hidden;
    clear: both;
    border-bottom: 1px solid;
    border-top: 1px solid;
    padding: 5px 0;
    margin: 5px 0;
    }

</style>
</head>
<body style="color:#5D5D5D">
{% set local = "now"|date("d-m-y") %}
<hr />
<div class="level">
    <div style="width: 100%;">
        <p><img src="https://symplifica.com/img/logo.png" alt="Symplifica"></p>
    </div>
    <div style="width: 100%;font-family: 'Open Sans', sans-serif;font-weight:700">
        <p style="margin:0">FACTURA DE VENTA <span>Nº {{ data.invoiceNumber }}</span></p>
        <p style="margin: 5px 0 20px 0;"><strong>Orden de compra: </strong>{{ data.purchaseOrder.number }}</p>
    </div>
    <div class="level" style="border: 1px solid;border-radius: 5px;">
        <div style="width: 33%; float:left"><small>SYMPLIFICA S.A.S.</small></div>
        <div style="width: 34%; float:left"><small>NIT 900.862.831-7</small></div>
        <div style="width: 33%; float:left"><small>BOGOTÁ - COLOMBIA</small></div>
    </div>
    <div style="width: 85%;margin:0 auto;padding: 10px 0 0 0;font-weight:100;font-family: 'Open Sans', sans-serif">
        <small>IVA Régimen Común</small>
        <small>No Somos Grandes Contribuyentes - No Somos Autorretenedores</small>
        <small>Actividad Económica 7020</small>
        <small>Resolución DIAN No. 320001302735 del 2015/08/19</small>
        <small>Numeración Autorizada por Computador del 01 al 1000</small>
    </div>

</div>



<div class="level table">
    <div class="title" style="padding: 0 0 5px 0;font-family: 'Open Sans', sans-serif;font-weight:700"><strong>DATOS DEL CLIENTE</strong></div>
    <div class="columns" style="border-top: 1px solid #CCC;border-bottom: 1px solid #CCC;padding: 10px 0;">
        <div class="cols">
            <p><strong>Nombre: </strong>{{ data.client.name }}</p>
            <p><strong>{{ data.client.docType }}: </strong>{{ data.client.docNumber|number_format(0, '.', ',')  }}</p>
            <p><strong>Dirección: </strong>{{ data.client.address|capitalize }}</p>
        </div>
        <div class="cols" style="text-align:right">
            <p><strong>Fecha: </strong>{{ data.dateCreated | date('d-m-y') }}</p>
            <p><strong>Teléfono: </strong>{{ data.client.phone[0].phoneNumber }}</p>
            <p><strong>Ciudad: </strong>{{ data.client.city }}</p>
        </div>
    </div>
</div>

<div class="level table" style="border-bottom: 1px solid;">
    <div class="columns">
        <div class="row" style="border-bottom: 1px solid;font-size: 13px;font-family: 'Open Sans', sans-serif;font-weight:700">
            <div class="title" style="width: 102px; float: left;"><strong>ÍTEM</strong></div>
            <div class="title" style="width: 265px; float: left;"><strong>DESCRIPCION</strong></div>
            <div class="title" style="width: 102px; float: left;"><strong>Sin IVA</strong></div>
            <div class="title" style="width: 102px; float: left;"><strong>Con IVA</strong></div>
        </div>
        {% for key, item in data.items %}
            <div class="row" style="width:100%">
                <div class="cols" style="width:102px;text-align:center;padding: 0;box-sizing: border-box;">
                    <p>{{ loop.index }}</p>
                </div>
                <div class="cols" style="width:265px;text-align: center">
                    <p>{{ item.desc }}</p>
                </div>
                <div class="cols" style="width:102px;text-align:right;padding: 0 15px 0 0;box-sizing: border-box;">
                    <p>${{ item.unitValue|number_format(0, '.', ',') }}</p>
                </div>
                <div class="cols" style="width:102px;text-align:right;padding: 0 15px 0 0;box-sizing: border-box;">
                    <p>${{ item.totalValue|number_format(0, '.', ',') }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="columns">

        <div class="subt">
            <div class="cols" style="width:50%;font-family: 'Open Sans', sans-serif;font-weight:700">
                <p><strong><small>SUB-TOTAL</small></strong></p>
                <p><strong><small>IVA</small></strong></p>
                <p><strong><small>TOTAL</small></strong></p>
            </div>
            <div class="cols" style="width:50%;text-align: right;padding: 0 15px 0 0;box-sizing: border-box;">
                <p>${{ data.purchaseOrder.subTotal|number_format(0, '.', ',') }}</p>
                <p>${{ data.purchaseOrder.iva|number_format(0, '.', ',') }}</p>
                <p>${{ data.purchaseOrder.total|number_format(0, '.', ',') }}</p>
            </div>
        </div>
    </div>
    <div class="columns">
        <small>No practicar retencion en la fuente de Renta, Según paragrafo 2, art. 4 de la ley 1429 de 2010 esta FACTURA, se asimila en todos sus efectos a un titulo valor según ley 1231 de 17 - 01 - 2008</small>
    </div>
</div>

<div class="level">

</div>

<div class="level table">
    <small>Direccion: CRA 13 Nº 93 - 68 OF 404   I  Telefono: +57 (1) 7953525   I servicioalcliente@symplifica.com</small>
</div>
<p>&nbsp;</p>
</body>
</html>
