<!DOCTYPE html>
<html lang="es">
<head>
<title>Carta de Autorización para tratamiento de datos personales</title>
<meta charset="utf-8" />
<style>
body {
    height: 792px;
    width: 612px;
    /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;
}
</style>
<head>
<body>
<hr />
<p>&nbsp;</p>
{% set local = "now"|date("d-m-y") %}
{# <p><strong>{{ data.contract.city }}, {{ "now"|localizeddate('long', 'none', 'es-CO') }}</strong><br />#}


<p><strong>Se&ntilde;ores</strong></p>
<p><strong>SYMPLIFICA SAS</strong></p>
<p><strong>Bogot&aacute;</strong></p>
<p>&nbsp;</p>
<p style="text-align: center;"><strong>REFERENCIA: AUTORIZACIÓN PARA TRATAMIENTO DE DATOS PERSONALES</strong></p>
<p>&nbsp;</p>
<p style="text-align: justify;">Mediante la presente, nosotros:</p>
<p style="text-align: justify;">
<ol type="i">
<li>{{ data.employer.name }}, identificado con {{ data.employer.docType }} No. {{ data.employer.docNumber }} expedida en {{ data.employer.docExpPlace }}, actuando en nombre propio, en adelante el “EMPLEADOR”.</li>
<li>{{ data.employee.name }}, identificado con {{ data.employee.docType }} No. {{ data.employee.docNumber }} expedida en {{ data.employee.docExpPlace }}, actuando en nombre propio, en adelante el “TRABAJADOR”;</li>
</ol>
</p>
<p style="text-align: justify;">Manifestamos que conocemos y aceptamos la Política de Privacidad y Manejo de la Información de Symplifica SAS (la “Política”), publicada en la página web “Symplifica.com” (la “Página Web”), y aceptamos que esta sea aplicada a nuestros datos personales suministrados a dicha compañía a través de la Página Web o posteriormente por cualquier otro medio.</p>

<p style="text-align: justify;">El TRABAJADOR manifiesta que ha autorizado al EMPLEADOR a suministrar sus datos personales a Symplifica SAS a través de la Página Web, incluyendo su nombre completo, número de cédula de ciudadanía y copia de la misma, datos bancarios, datos de contacto (correo electrónico, teléfono, dirección, etc.), entre otros. Por lo tanto, el TRABAJADOR expresamente autoriza a Symplifica SAS a darle a sus datos personales el tratamiento establecido en la Política, que consiste en recolectar, almacenar, depurar, usar, analizar, circular, actualizar y cruzar con información propia y/o de terceros autorizados, los datos personales, datos de contacto, la información sobre preferencias de consumo y el comportamiento en los canales de contacto, con las finalidades indicadas en la Política. Adicionalmente, y sin limitar lo anterior, el TRABAJADOR autoriza a Symplifica SAS a: (i) Compartir el perfil del TRABAJADOR, que haya sido creado por él mismo o por el EMPLEADOR, con otros usuarios de la Página Web que estén interesados en contratar, hayan contratado o en el futuro contraten al TRABAJADOR; (ii) Enviar al TRABAJADOR a través de los medios informados en sus datos de contacto, tales como SMS, correo electrónico, teléfono y cualquier otro medio reportado, información sobre los pagos realizados por parte del EMPLEADOR; (iii) Enviar al TRABAJADOR información de promociones, productos y servicios, así como material publicitario, de Symplifica SAS y sus aliados comerciales, por cualquiera de los medios   informados en los datos de contacto del TRABAJADOR; (iv) Consultar, en cualquier tiempo, en Datacredito o en cualquier otra central de información de riesgo, toda la información relevante del TRABAJADOR, con el fin de cruzar dicha información con aquella reportada a través de la Página Web, complementar la información suministrada a la Página Web, y facilitar al EMPLEADOR, al TRABAJADOR o a otros usuarios que hayan contratado o en el futuro contraten al TRABAJADOR, el diligenciamiento de los formularios disponibles en o utilizados por la Página Web, mediante el pre-llenado de los datos previamente reportados a las entidades mencionadas.
Mediante la presente, tanto el EMPLEADOR como el TRABAJADOR ratifican su aceptación a todas las condiciones estipuladas en la Política de Privacidad y Manejo de la Información de Symplifica.com.</p>

<p style="text-align: justify;">En constancia de lo anterior se firma y env&iacute;a a <strong>SYMPLIFICA SAS</strong> el {{ "now"|localizeddate('long', 'none', 'es-CO') }} </p>

<p>&nbsp;</p>

<p><strong>EL EMPLEADOR,</strong></p>

_____________________________________
<p>Nombre: {{ data.employer.name }}</p>
{{ data.employer.docType }} No. {{ data.employer.docNumber }} de {{ data.employer.docExpPlace }}

<p>&nbsp;</p>

<p><strong>EL TRABAJADOR,</strong></p>

_______________________
<p>Nombre: {{ data.employee.name }}</p>
{{ data.employee.docType }} No. {{ data.employee.docNumber }} de {{ data.employee.docExpPlace }}

<hr />

</body>
</html>
