{% extends "::base.html.twig" %}
{% block fos_user_content %}
    {#  {% include 'RocketSellerTwoPickBundle:Default:welcome-inicio-registro.html.twig' %}#}
    <div class="clearfix"></div>
    <br/>
    <div class="row legalInCorrect">
        <div class="col-sm-12">
            <div class="roundContainer">
                <div class="media">
                    <div class="media-left">
                        <i class="glyphicon glyphicon-exclamation-sign bigIcon"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" style="font-weight: bold;">Parece que has omitido algunas de las condiciones a las que tiene derecho tu empleado</h4>
                        Pero descuida estamos para apoyarte, aquí encuentras  varias opciones para que comiences a hacer las cosas bien. 
                        Mira las alternativas y elige la que prefieras:
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row legalCorrect">
        <div class="col-sm-12">
            <div class="roundContainer">
                <div class="media">
                    <div class="media-left">
                        <i class="glyphicon glyphicon-exclamation-sign bigIcon"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" style="font-weight: bold;">Aparentemente la situación legal con su empleado está al día.</h4>
                        Por lo tanto puede mantener su relación laboral como la lleva a este punto, comenzar una nueva con el mismo empleado o consultar nuestro consultorio jurídico para asegurarse, teniendo en cuenta las siguientes implicaciones:

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix "></div>
    <!--
    <div class="row" style="margin-top: 60px;">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12 text-center legalCorrect">
			De acuerdo a la información suministrada por usted, puede mantener su relación laboral como la lleva a este punto o consultar nuestro consultorio jurídico para asegurarse, teniendo en cuenta las siguientes implicaciones:
        </div>
    </div>

    <div class="row" style="margin-top: 60px;">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12 text-left legalInCorrect">
			Por lo tanto puede mantener su relación laboral como la lleva a este punto, comenzar una nueva con el mismo empleado o consultar nuestro consultorio jurídico para asegurarse, teniendo en cuenta las siguientes implicaciones:
		</div>
    </div>
-->
    <br/>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" frameborder="0" allowfullscreen
                        src="http://www.youtube.com/embed/ScMzIvxBSi4"></iframe>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12 text-center">
            <a href="javascript:return;" class="notAjax implicaciones" onclick="$('.legalStatusDescription').slideToggle();return false;">> Ver
                Implicaciones</a>
            <div class="legalStatusDescription text-left" style="display:none">
                <div id="alternativas">
                    <div class="alternativa">
                        <h3>Alternativa 1</h3>
                        <p>
                          - Continuas con las condiciones de tu contrato actual.<br>

                        -De ser necesario te afiliamos a ti y a tu empleado a las entidades de seguridad social.<br>

                        - Si te faltan aportes por cumplir, debes incluirlos y comenzar a pagarlos.<br>

                        -Las obligaciones omisas en tu situación actual son tu responsabilidad. Te damos la opción de recibir apoyo jurídico.<br>

                        -La fecha de antigüedad de tu empleado será la otorgada por ti al iniciar la relación laboral.
                        </p>
                    </div>
                    <div class="alternativa">
                      <h3>Alternativa 2</h3>
                      <p>-Finalizas tu contrato actual y te ayudamos con uno nuevo.<br>

                        -Realizaremos las afiliaciones correspondientes a seguridad social por ti.<br>

                        -Comenzarás a realizar los pagos y aportes según la ley.<br>

                        -Te damos la opción de normalizar tu situación actual con apoyo jurídico.<br>

                        -Tu empleado y tú comenzarán con una nueva fecha de inicio de contrato (5 días después de realizar el registro).
                      </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br/>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12 checkbox">

            <label for="userAccept">
                <input id="userAccept" type="checkbox" value="checkbox">
                <div id="u285" class="text">
                    <p><span>Acepto que he leído las implicaciones expuestas por Symplifica y me hago responsable de la elección que tomaré a continuación</span>
                    </p>
                </div>
            </label>

        </div>
    </div>
    <br/>
    <div class="row buttonsRow">
        <div class=" col-sm-7 col-sm-offset-2 multipleOptions">
        	<a class="btn btn-orange notAjax disabled legalInCorrect" href="{{ path('change_flag',{'flag':0}) }}">Iniciar una nueva relación laboral</a><br/>
        	<a class="btn btn-orange notAjax disabled" href="{{ path('change_flag',{'flag':1}) }}">Continuar con la relación laboral vigente</a><br/>
            <a class=" btn btn-orange notAjax disabled" href="{{ path('legal_payment') }}">Consultar con un abogado mi situación actual</a><br/>


            <br/>
            <a class="btn btn-grey notAjax" style="width: 30%;" href="{{ path('legal') }}">Volver atrás</a>
        </div>
    </div>
    <div class="row center">
        <div class="col-sm-8 col-xs-12 col-sm-offset-2 remember" style="opacity: 0.7; border: 2px;">
            <h4 onclick="$(this).next().slideToggle()" style="font-size: 14px;cursor: pointer" class=""><i
                        class="glyphicon glyphicon-info-sign"></i> ¿Qué riesgos puedo correr si no soluciono la situación actual con mi empleado?</h4>
            <span style="color:#666; font-weight:300; display:none; font-size: 14px;" id="textPorque">Si decides asumir la responsabilidad de tu situación actual y no haces lo necesario para normalizarla, estás expuesto a eventuales demandas por parte de tu empleado en razón de los deberes que debes cumplir con él/ella desde que inició a trabajar contigo.</span>
        </div>
    </div>



{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            var state = '{{ state }}';
            if (state == "correct") {
                $(".legalCorrect").each(function () {
                    $(this).show();
                })
                $(".legalInCorrect").each(function () {
                    $(this).hide();
                })
            } else {
                $(".legalCorrect").each(function () {
                    $(this).hide();
                })
                $(".legalInCorrect").each(function () {
                    $(this).show();
                })

            }
            $("#userAccept").attr('checked', false);
            $("#userAccept").change(function () {
                if ($(this).is(':checked')) {
                    $(".multipleOptions .btn-orange").removeClass("disabled");
                } else {
                    $(".multipleOptions .btn-orange").addClass("disabled");
                }
            });

        });
    </script>
{% endblock %}
