{% extends "::base.html.twig" %}

{% block fos_user_content %}
    {% block stylesheets %}
    {{ parent() }}

      <style type="text/css">
        #add_credit_card_credit_card{
            background-image: url(/public/img/creditCard.png), url(/public/img/creditCard.png);
            background-position: 2px -117px, 233px -55px;
            background-size: 120px 361px, 120px 361px;
            background-repeat: no-repeat;
            padding-left: 54px;
            /*width: 225px;*/
        }
        #add_credit_card_credit_card.visa {
            background-position: 2px -159px, 260px -61px;
        }
        #add_credit_card_credit_card.visa_electron {
            background-position: 2px -201px, 260px -61px;
        }
        #add_credit_card_credit_card.mastercard {
            background-position: 2px -243px, 260px -61px;
        }
        #add_credit_card_credit_card.maestro {
            background-position: 2px -285px, 260px -61px;
        }
        #add_credit_card_credit_card.discover {
            background-position: 2px -327px, 260px -61px;
        }
        #add_credit_card_credit_card.amex {
            background-position: 2px -327px, 260px -61px;
        }
        #add_credit_card_credit_card.diners_club_carte_blanche {
            background-position: 2px -327px, 260px -61px;
        }
        #add_credit_card_credit_card.valid.visa {
            background-position: 2px -159px, 233px -82px;
        }
        #add_credit_card_credit_card.valid.visa_electron {
            background-position: 2px -201px, 233px -82px;
        }
        #add_credit_card_credit_card.valid.mastercard {
            background-position: 2px -243px, 233px -82px;
        }
        #add_credit_card_credit_card.valid.maestro {
            background-position: 2px -285px, 233px -82px;
        }
        #add_credit_card_credit_card.valid.discover {
            background-position: 2px -327px, 233px -82px;
        }
        #add_credit_card_credit_card.valid.amex {
            background-position: 2px -327px, 233px -82px;
        }
        #add_credit_card_credit_card.valid.diners_club_carte_blanche {
            background-position: 2px -327px, 233px -82px;
        }

        input[type='number'] {
            -moz-appearance:textfield;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    </style>
{% endblock stylesheets %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-12 text-center">
            <br /><br />
            <h3>
                <strong><i>No corras riesgos, nuestro consultorio jurídico está listo para orientarte</i></strong>
            </h3>
            <br />
            <h5 style="font-weight: lighter;">
                Expón tu caso y nuestros abogados podrán ofrecerte un diagnóstico que te permita saber cómo abordarlo*
            </h5>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="priceContainer">
            <h2>Valor de la consulta</h2>
            <h1>$150.000</h1>
        </div>
    </div>
    <div class="row">
    <br />
        <div class="col-sm-8 col-sm-offset-2 col-xs-12 text-center">
            <h4>
                <i>Una vez recibido el pago, el consultorio se pondrá en contacto contigo en las siguientes </i><strong>24 horas hábiles</strong>
            </h4>
        </div>
    </div>
    <br />
    <div class="col-sm-8 col-sm-offset-2" style="text-align:center;">
        <h3>Pagar con:</h3>
        <div class="col-sm-4 col-sm-offset-2" style="text-align:rigth;">
            <span class="creditPayBtn btn btn-symplifica">Crédito</span>
        </div>
        <div class="col-sm-4">
            <span class="debitPayBtn btn btn-symplifica">Débito</span>
        </div>
        
    </div>
    <div id="" class="containerForm row-fluid clearfix col-sm-8 col-sm-offset-2" style="padding-bottom: 30px;">

        <div class="">
            <div class="">
                {% if errno is defined %}
                    <span class="alert alert-danger">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> {{ errno }}
                    </span>
                {% endif %}
                <div id='' class='creditCardForm col-md-12' style="display:none;">
                    <hr />
                    <h3 class="text-center">Información de tu tarjeta de crédito</h3>
                    <br />
                    {{ form_start(form) }}
                    <div class="form-black form-group">
                        {{form_row(form.credit_card)}}
                    </div>

                    <div class="form-black form-group">
                        {{form_row(form.name_on_card)}}
                    </div>
                    <div class="fields">
                        
                    </div>
                    <div class="form-black form-group">
                        {{form_row(form.phoneNumber)}}
                    </div>

                    <div class="form-black form-group">
                        <div class="col-md-4">
                            {{form_row(form.expiry_year)}}
                        </div>
                        <div class="col-md-4">
                            {{form_row(form.expiry_month)}}
                        </div>
                        <div class="col-md-4">
                            {{form_row(form.cvv)}}
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit"  class="btn register-AS1 btn-symplifica btn">Continuar</button>
                </div>
                </div>
                <div class="debitCardForm col-md-12" style="display:none;">
                    <hr />
                    <h3 class="text-center">Información de tu cuenta bancaria</h3>
                    <br />
                    <div class="commun-fields">
                        <div class="form-black form-group">
                        {{form_row(form.personName)}}
                        </div>
                        <div class="form-black form-group">
                            {{form_row(form.lastName1)}}
                        </div>
                        <div class="form-black form-group">
                            {{form_row(form.lastName2)}}
                        </div>
                        <div class="form-black form-group">
                            {{form_row(form.documentType)}}
                        </div>
                        <div class="form-black form-group">
                            {{form_row(form.documentNumber)}}
                        </div>
                    </div>
                    <div class="fields-debit">
                        
                    </div>
                    <div class="form-black form-group">
                        {{form_row(form.documentExpeditionDate)}}
                    </div>
                    <div class="form-black form-group">
                        {{form_row(form.phoneNumber)}}
                    </div>
                    <div class="form-black form-group">
                        {{form_row(form.civilStatus)}}
                    </div>
                    <div class="form-black form-group">
                        {{form_row(form.mainAddress)}}
                    </div>
                    <div class="form-black form-group">
                        {{form_row(form.department)}}
                    </div>
                    <div class="form-black form-group">
                        {{form_row(form.city)}}
                    </div>
                    <div class="form-black form-group">
                        {{form_row(form.bank)}}
                    </div>
                    <div class="form-black form-group">
                        {{form_row(form.accountType)}}
                    </div>
                    <div class="form-black form-group">
                        {{form_row(form.numberAccount)}}
                    </div>
                    <div class="col-md-12" style="margin: 30px 0 20px 0;">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-11 center">
                            <input type="checkbox" class="tos" id="tos" name="tos">
                            <label for="tos">Acepto los <a target="_blank" href="{{ path('terminos_condiciones') }}">términos y condiciones</a>  de Symplifica para que se me haga el cargo a esta tarjeta de<br/>los servicios prestados por Symplifica y de los pagos de nómina y aportes de mis empleados</label>                
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="submit-debit btn register-AS1 btn-symplifica btn" disabled="true">Continuar</button>
                </div>
                </div>
                <input class="methodTypeInput" name="methodType" value="" hidden="true"></input>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <hr style="width: 75%;" />
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-12 text-center">
            <small style="font-weight: lighter;"><i>
                 * De acuerdo a tu caso el abogado estimará el valor de sus honorarios si tu decides que él se
haga cargo lo cual también incluye completar tu registro en Symplifica</i>
            </small>
            <br />
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            
            
            var validator = null;
            $.getScript("/public/js/jquery.validate.min.js").done(function () {
                validator = $("form[name='legalAssistancePay']").validate({
                    //onfocusout: true,
                    rules: {
                        "legalAssistancePay[credit_card]": {required: true, number: true, min: 1, maxlength: 19},
                        "legalAssistancePay[name_on_card]": {required: true},
                        "legalAssistancePay[expiry_date_month]": {required: true, number: true, maxlength: 2, minlength: 1, max: 12, min: {
                                // min needs a parameter passed to it
                                param: function () {
                                    var date = new Date();
                                    var year = date.getFullYear();
                                    var month = date.getMonth() + 2;
                                    if ($("#legalAssistancePay_expiry_year").val() == year) {
                                        return month;
                                    }
                                    return 1;
                                },
                                depends: function (element) {
                                    var date = new Date();
                                    var year = date.getFullYear();
                                    var month = date.getMonth() + 2;
                                    if ($("#legalAssistancePay_expiry_year").val() == year) {
                                        return ($("#legalAssistancePay_expiry_month").val() < month);
                                    }
                                    return false;
                                }
                            }},
                        "legalAssistancePay[expiry_date_year]": {required: true, number: true, maxlength: 4, minlength: 4, max: 9999, min: 2016},
                        "legalAssistancePay[cvv]": {required: true, number: true, maxlength: 4, minlength: 3, max: 9999, min: 1},
                        "legalAssistancePay[documentType]": {required: true}

                    },
                    messages: {
                        "legalAssistancePay[credit_card]": {
                            required: "Por favor ingresa un número valido de la tarjeta",
                            number: "ingresa solamente dígitos",
                            maxlength: "maximo 19 digitos",
                            minlength: "minimo 1 digitos",
                            min: "minimo 1 digitos"

                        },
                        "legalAssistancePay[name_on_card]": {required: "Por favor ingrese el nombre que hay en la tarjeta"},
                        "legalAssistancePay[expiry_month]": {
                            required: "Por favor seleccione el mes de vencimiento",
                            number: "ingresa solamente dígitos",
                            maxlength: "maximo mes de 2 digitos",
                            minlength: "minimo mes de 1 digitos",
                            max: "mes del 01 al 12",
                            min: function () {
                                var date = new Date();
                                var year = date.getFullYear();
                                var month = date.getMonth() + 1;
                                if ($("#legalAssistancePay_expiry_year").val() == year) {
                                    if ($("#legalAssistancePay_expiry_month").val() == month) {
                                        return "Tarjeta vence este mes";
                                    } else if ($("#legalAssistancePay_expiry_month").val() < month) {
                                        return "Tarjeta vencida";
                                    }
                                }
                                return "mes del 01 al 12";
                            }
                        },
                        "legalAssistancePay[expiry_year]": {
                            required: "Por favor ingrese el año de vencimiento",
                            number: "ingresa solamente dígitos",
                            maxlength: "maximo año de 4 digitos",
                            minlength: "minimo año de 4 digitos",
                            max: "año maximo 9999",
                            min: "año minimo 2016"
                        },
                        "legalAssistancePay[cvv]": {
                            required: "Por favor ingrese el codigo de verificación",
                            number: "ingresa solamente dígitos",
                            maxlength: "maximo 4 digitos",
                            minlength: "minimo 3 digitos",
                            max: "minimo 001",
                            min: "maximo 9999"
                        },
                        "legalAssistancePay[documentType]": {required: "Por favor seleccione el tipo de documento"}

                        , "legalAssistancePay[phoneNumber]": {required: "Por favor ingresa un número de teléfono valido"}

                    }
                });
            });
            $.getScript("/public/js/jquery.creditCardValidator.js").done(function () {
                $('#add_credit_card_credit_card').validateCreditCard(function (result) {
                    $(this).removeClass();
                    $(this).addClass('form-control');

                    if (result.valid) {
                        $(this).addClass(result.card_type.name);
                        return $(this).addClass('valid');
                    } else {
                        return $(this).removeClass('valid');
                    }
                    alert(result);
                });
            });
            $('form').on('submit', function (event) {
                if (!validator.form()) {
                    return false;
                }
                //return false;
            });
            $('.creditPayBtn').on("click",function(){
                $('.creditCardForm').fadeIn("slow");
                $('.debitCardForm').fadeOut("slow");
                var commun = $(".commun-fields");
                $(".fields").append(commun);
                $('.methodTypeInput').val("cre");
            });
            $('.debitPayBtn').on("click",function(){
                $('.debitCardForm').fadeIn("slow");
                $('.creditCardForm').fadeOut("slow");
                var commun = $(".commun-fields");
                $(".fields-debit").append(commun);
                $('.methodTypeInput').val("deb");
            });
            $('.tos').on("click",function(){                
                if ( $('.tos').is(':checked') ) {
                    $(".submit-debit").removeAttr("disabled");
                }else{
                    $(".submit-debit").attr("disabled","true");
                }
            });

            

        });
    </script>
{% endblock %}