{% extends "::base.html.twig" %}

{% block fos_user_content %}
    {% block stylesheets %}
        {{ parent() }}

        <style type="text/css">
            #add_credit_card_credit_card {
                background-image: url(/public/img/creditCard.png), url(/public/img/creditCard.png);
                background-position: 2px -117px, 233px -55px;
                background-size: 120px 361px, 120px 361px;
                background-repeat: no-repeat;
                padding-left: 54px;
                /*width: 225px;*/
            }

            #add_credit_card_credit_card.visa {
                background-position: 2px -159px, 260px -61px;
            }

            #add_credit_card_credit_card.visa_electron {
                background-position: 2px -201px, 260px -61px;
            }

            #add_credit_card_credit_card.mastercard {
                background-position: 2px -243px, 260px -61px;
            }

            #add_credit_card_credit_card.maestro {
                background-position: 2px -285px, 260px -61px;
            }

            #add_credit_card_credit_card.discover {
                background-position: 2px -327px, 260px -61px;
            }

            #add_credit_card_credit_card.amex {
                background-position: 2px -327px, 260px -61px;
            }

            #add_credit_card_credit_card.diners_club_carte_blanche {
                background-position: 2px -327px, 260px -61px;
            }

            #add_credit_card_credit_card.valid.visa {
                background-position: 2px -159px, 233px -82px;
            }

            #add_credit_card_credit_card.valid.visa_electron {
                background-position: 2px -201px, 233px -82px;
            }

            #add_credit_card_credit_card.valid.mastercard {
                background-position: 2px -243px, 233px -82px;
            }

            #add_credit_card_credit_card.valid.maestro {
                background-position: 2px -285px, 233px -82px;
            }

            #add_credit_card_credit_card.valid.discover {
                background-position: 2px -327px, 233px -82px;
            }

            #add_credit_card_credit_card.valid.amex {
                background-position: 2px -327px, 233px -82px;
            }

            #add_credit_card_credit_card.valid.diners_club_carte_blanche {
                background-position: 2px -327px, 233px -82px;
            }

            input[type='number'] {
                -moz-appearance: textfield;
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
        </style>
    {% endblock stylesheets %}
    <div class="row">
        {% if errno is defined %}
            <span class="alert alert-danger">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> {{ errno }}
                    </span>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-12 text-center">

            <br/><br/>
            <h3 class="borderh3">
                <i class="i"><strong>No corras riesgos</strong><br>nuestro consultorio jurídico está listo para orientarte</i>
            </h3>
            <br/>
            <h4 style="font-weight: lighter;color: #989898;">
                Expón tu caso y nuestros abogados podrán ofrecerte un diagnóstico que te permita saber cómo abordarlo*
            </h4>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="priceContainer pricelegalpay">
            <h2>Valor de la consulta</h2>
            <h1>$150.000</h1>
        </div>
    </div>
    <div class="row condicioneslegalpay">
        <div class="col-sm-8 col-sm-offset-2 col-xs-12 text-center">
            <h5>
                <i>Una vez recibido el pago, el consultorio se pondrá en contacto contigo en las siguientes </i><strong>24
                    horas hábiles</strong>
            </h5>
        </div>
        <br>
        <div class="col-sm-8 col-sm-offset-2 col-xs-12 text-center">
            <small style="font-weight: lighter;"><i>
                    * De acuerdo a tu caso el abogado estimará el valor de sus honorarios si tu decides que él se
                    haga cargo lo cual también incluye completar tu registro en Symplifica</i>
            </small>
            <br/>
        </div>
    </div>
    <br/>
    <hr style="width: 75%;"/>
    <div class="col-sm-8 col-sm-offset-2" style="text-align:center;">
        <h3 style="font-weight: 700;color: #00858c">
Pago de consulta jurídicia inicial</h3>
<h4 style="font-weight: lighter;"><i>Valor de la consulta jurídica por una (1) hora</i></h4>
        <!--
        <div class="col-sm-4 col-sm-offset-2" style="text-align:rigth;">
            <span class="creditPayBtn btn btn-symplifica">Crédito</span>
        </div>-->
        <div class="row" style="margin-top:20px;">
            <div style="opacity:0.5;text-muted disabled" class="col-md-4 col-sm-offset-2 text-center ">
                <input type="radio" disabled value="creditCard" name="typeMethod" id="creditCard_radio">
                <label style="font-weight: normal;" for="creditCard_radio">Tarjeta de Crédito</label>
            </div>
            <div style="" class="col-md-4 text-center">
                <input type="radio" checked="true" value="debito" name="typeMethod" id="debito_radio" class="debitPayBtn">
                <label style="font-weight: normal;" for="debito_radio">Cuenta bancaria</label>
            </div>
        </div>
        <!--
        <div class="col-sm-12 text-center">
            <span class="debitPayBtn btn btn-symplifica">Tarjeta Débito</span>
        </div>
    -->









    </div>
    <div id="" class="containerForm row-fluid clearfix col-sm-8 col-sm-offset-2" style="padding-bottom: 30px;">

        <div class="">
            <div class="">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div id='' class='creditCardForm col-md-12' style="display:none;color:#7D7D7D">
                    <hr/>
                    <h4 class="text-center" style="color:#00c4c5">Información de tu tarjeta de crédito</h4>
                    <br/>
                    <div class="form-black form-group">
                        {{ form_row(form.credit_card) }}
                    </div>

                    <div class="form-black form-group">
                        {{ form_row(form.name_on_card) }}
                    </div>
                    <div class="fields">

                    </div>
                    <div class="form-black form-group">
                        <div class="col-md-4">
                            {{ form_row(form.expiry_year) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.expiry_month) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.cvv) }}
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn register-AS1 btn-symplifica btn">Continuar</button>
                    </div>
                </div>
                <div class="debitCardForm col-md-12" style="display:block;color:#7D7D7D">
                    <hr/>
                    <h4 class="text-center" style="color:#00c4c5">Información de tu cuenta bancaria</h4>
                    <br/>
                    <div class="commun-fields">
                        <div class="form-black form-group">
                            {{ form_row(form.personName) }}
                        </div>
                        <div class="form-black form-group">
                            {{ form_row(form.lastName1) }}
                        </div>
                        <div class="form-black form-group">
                            {{ form_row(form.lastName2) }}
                        </div>
                        <div class="form-black form-group">
                            {{ form_row(form.documentType) }}
                        </div>
                        <div class="form-black form-group">
                            {{ form_row(form.documentNumber) }}
                        </div>
                    </div>
                    <div class="fields-debit">

                    </div>
                    <div class="form-black form-group">
                        {{ form_row(form.documentExpeditionDate) }}
                    </div>
                    <div class="form-black form-group">
                        {{ form_row(form.phoneNumber) }}
                    </div>
                    <div class="form-black form-group">
                        {{ form_row(form.civilStatus) }}
                    </div>
                    <div class="form-black form-group">
                        {{ form_row(form.mainAddress) }}
                    </div>
                    <div class="form-black form-group">
                        {{ form_row(form.department) }}
                    </div>
                    <div class="form-black form-group">
                        {{ form_row(form.city) }}
                    </div>
                    <div class="form-black form-group">
                        {{ form_row(form.bank) }}
                    </div>
                    <div class="form-black form-group">
                        {{ form_row(form.accountType) }}
                    </div>
                    <div class="form-black form-group">
                        {{ form_row(form.accountNumber) }}
                    </div>
                    <div class="col-md-12" style="margin: 20px 0 20px 0;">
                        <div class="col-md-12 center">
                            <div class="checkbox ">
                              <label style="font-size: 12px;font-weight: lighter;text-align: left;">
                                <input type="checkbox" class="tos" id="tos" name="tos">
                                Acepto los <a target="_blank" href="{{ path('terminos_condiciones') }}">términos
                                    y condiciones</a> de Symplifica para que se me haga el cargo a esta tarjeta y/o cuenta bancarias de los servicios prestados por Symplifica.
                              </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!--<hr style="width: 75%;"/>-->
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-2 col-xs-12 multipleOptions">
                            <a class="btn btn-grey notAjax" href="{{ path('legal') }}">Volver atrás</a>
                        </div>
                        <div class="col-sm-4 col-xs-12 multipleOptions multipleRight" style="">
                            <button type="submit" class="submit-debit btn btn-symplifica btn" disabled="true">Pagar consulta</button>
                        </div>
                    </div>


                </div>
                <input class="methodTypeInput" name="methodType" value="" hidden="true"></input>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function jsonToHTML(data) {
            var htmls = "<option value=''>Seleccionar una opción</option>";
            for (var i = 0; i < data.length; i++) {
                htmls += "<option value='" + data[i].id_city + "'>" + data[i].name + "</option>";
            }
            return htmls;
        }

        $(document).ready(function () {

            $('#legalAssistancePay_department').filter(function () {
                return this.id.match(/department/);
            }).change(function () {
                var $department = $(this);
                $("#legalAssistancePay_city").html("<option value =''>Cargando Ciudades...</option>");

                // Submit data via AJAX to the form's action path.
                $.ajax({
                    method: "POST",
                    url: "/api/public/v1/cities",
                    data: {department: $department.val()}
                }).done(function (data) {
                    $('#legalAssistancePay_city').html(
                            // ... with the returned one from the AJAX response.
                            jsonToHTML(data)
                    );
                });
            });

            var validator = null;
            $.getScript("/public/js/jquery.validate.min.js").done(function () {
                validator = $("form[name='legalAssistancePay']").validate({
                    //onfocusout: true,
                    rules: {
                        "legalAssistancePay[personName]": {required: true},
                        "legalAssistancePay[lastName1]": {required: true},
                        "legalAssistancePay[lastName2]": {required: false},
                        "legalAssistancePay[documentType]": {required: true},
                        "legalAssistancePay[documentNumber]": {required: true},
                        "legalAssistancePay[documentExpeditionDate][day]": {required: true},
                        "legalAssistancePay[documentExpeditionDate][month]": {required: true},
                        "legalAssistancePay[documentExpeditionDate][year]": {required: true},
                        "legalAssistancePay[civilStatus]": {required: true},
                        "legalAssistancePay[mainAddress]": {required: true},
                        "legalAssistancePay[department]": {required: true},
                        "legalAssistancePay[city]": {required: true},
                        "legalAssistancePay[bank]": {required: true},
                        "legalAssistancePay[accountType]": {required: true},
                        "legalAssistancePay[accountNumber]": {required: true},
                        "legalAssistancePay[phoneNumber]": {required: true},
                        "legalAssistancePay[credit_card]": {required: true, number: true, min: 1, maxlength: 19},
                        "legalAssistancePay[name_on_card]": {required: true},
                        "legalAssistancePay[expiry_date_month]": {
                            required: true, number: true, maxlength: 2, minlength: 1, max: 12, min: {
                                // min needs a parameter passed to it
                                param: function () {
                                    var date = new Date();
                                    var year = date.getFullYear();
                                    var month = date.getMonth() + 2;
                                    if ($("#legalAssistancePay_expiry_year").val() == year) {
                                        return month;
                                    }
                                    return 1;
                                },
                                depends: function (element) {
                                    var date = new Date();
                                    var year = date.getFullYear();
                                    var month = date.getMonth() + 2;
                                    if ($("#legalAssistancePay_expiry_year").val() == year) {
                                        return ($("#legalAssistancePay_expiry_month").val() < month);
                                    }
                                    return false;
                                }
                            }
                        },
                        "legalAssistancePay[expiry_date_year]": {
                            required: true,
                            number: true,
                            maxlength: 4,
                            minlength: 4,
                            max: 9999,
                            min: 2016
                        },
                        "legalAssistancePay[cvv]": {
                            required: true,
                            number: true,
                            maxlength: 4,
                            minlength: 3,
                            max: 9999,
                            min: 1
                        },

                    },
                    messages: {
                        "legalAssistancePay[personName]": {
                            required: "Por favor ingresa tu nombre"
                        },
                        "legalAssistancePay[lastName1]": {
                            required: "Por favor ingresa tu primer apellido"
                        },
                        "legalAssistancePay[lastName2]": {
                            required: "Por favor ingresa tu segundo apellido"
                        },
                        "legalAssistancePay[documentType]": {
                            required: "Por favor seleccione el tipo de documento"
                        },
                        "legalAssistancePay[documentNumber]": {
                            required: "Por favor seleccione el número de documento"
                        },
                        "legalAssistancePay[documentExpeditionDate][day]": {
                            required: "Por favor indique dia de expedición"
                        },
                        "legalAssistancePay[documentExpeditionDate][month]": {
                            required: "Por favor indique mes de expedición"
                        },
                        "legalAssistancePay[documentExpeditionDate][year]": {
                            required: "Por favor indique año de expedición"
                        },
                        "legalAssistancePay[civilStatus]": {
                            required: "Por favor selecciona estado civil"
                        },
                        "legalAssistancePay[mainAddress]": {
                            required: "Por favor ingresa dirección"
                        },
                        "legalAssistancePay[department]": {
                            required: "Por favor seleccione departamento"
                        },
                        "legalAssistancePay[city]": {
                            required: "Por favor selecciona ciudad"
                        },
                        "legalAssistancePay[bank]": {
                            required: "Por favor selecciona banco"
                        },
                        "legalAssistancePay[accountType]": {
                            required: "Por favor selecciona tipo de cuenta"
                        },
                        "legalAssistancePay[accountNumber]": {
                            required: "Por favor ingresa número de cuenta"
                        },
                        "legalAssistancePay[phoneNumber]": {
                            required: "Por favor ingresa un número de teléfono valido"
                        },
                        "legalAssistancePay[credit_card]": {
                            required: "Por favor ingresa un número valido de la tarjeta",
                            number: "ingresa solamente dígitos",
                            maxlength: "maximo 19 digitos",
                            minlength: "minimo 1 digitos",
                            min: "minimo 1 digitos"

                        },
                        "legalAssistancePay[name_on_card]": {required: "Por favor ingrese el nombre que hay en la tarjeta"},
                        "legalAssistancePay[expiry_month]": {
                            required: "Por favor seleccione el mes de vencimiento",
                            number: "ingresa solamente dígitos",
                            maxlength: "maximo mes de 2 digitos",
                            minlength: "minimo mes de 1 digitos",
                            max: "mes del 01 al 12",
                            min: function () {
                                var date = new Date();
                                var year = date.getFullYear();
                                var month = date.getMonth() + 1;
                                if ($("#legalAssistancePay_expiry_year").val() == year) {
                                    if ($("#legalAssistancePay_expiry_month").val() == month) {
                                        return "Tarjeta vence este mes";
                                    } else if ($("#legalAssistancePay_expiry_month").val() < month) {
                                        return "Tarjeta vencida";
                                    }
                                }
                                return "mes del 01 al 12";
                            }
                        },
                        "legalAssistancePay[expiry_year]": {
                            required: "Por favor ingrese el año de vencimiento",
                            number: "ingresa solamente dígitos",
                            maxlength: "maximo año de 4 digitos",
                            minlength: "minimo año de 4 digitos",
                            max: "año maximo 9999",
                            min: "año minimo 2016"
                        },
                        "legalAssistancePay[cvv]": {
                            required: "Por favor ingrese el codigo de verificación",
                            number: "ingresa solamente dígitos",
                            maxlength: "maximo 4 digitos",
                            minlength: "minimo 3 digitos",
                            max: "minimo 001",
                            min: "maximo 9999"
                        },
                    }
                });
            });
            $.getScript("/public/js/jquery.creditCardValidator.js").done(function () {
                $('#add_credit_card_credit_card').validateCreditCard(function (result) {
                    $(this).removeClass();
                    $(this).addClass('form-control');

                    if (result.valid) {
                        $(this).addClass(result.card_type.name);
                        return $(this).addClass('valid');
                    } else {
                        return $(this).removeClass('valid');
                    }
                });
            });
            $('form').on('submit', function (event) {
                if (!validator.form()) {
                    return false;
                }
                //return false;
            });
            $('.creditPayBtn').on("click", function () {
                $('.creditCardForm').fadeIn("slow");
                $('.debitCardForm').fadeOut("slow");
                var commun = $(".commun-fields");
                $(".fields").append(commun);
                $('.methodTypeInput').val("cre");
            });
            $('.debitPayBtn').on("click", function () {
                $('.debitCardForm').fadeIn("slow");
                $('.creditCardForm').fadeOut("slow");
                var commun = $(".commun-fields");
                $(".fields-debit").append(commun);
                $('.methodTypeInput').val("deb");
            });
            $('.tos').on("click", function () {
                if ($(this).is(':checked')) {
                    $(".submit-debit").removeAttr("disabled");
                } else {
                    $(".submit-debit").attr("disabled", "true");
                }
            });


        });
    </script>
{% endblock %}
