{% extends "::base.html.twig" %}
{% block title %}Symplifica - Configuración inicial{% endblock %}
{% block header %}{% endblock header %}
{% block fos_user_content %}
    <div class="col-sm-12 col-xs-12 block-Data">
        <h1>Configuración inicial</h1>
        <span>Para obtener el mayor beneficio posible de nuestra herramienta, requerimos contar con su información como empleador, de sus empleados y lo referente a la afiliación a las administradoras de salud, pensión, riesgos laborales y Caja de Compensación Familiar.</span>
    </div>
    {% for step in steps %}
        <div id='' class='col-sm-12 col-xs-12 align-Resp'>
            <a id='' class='btn col-sm-12 col-xs-12 blockStep {% if step.state != 0 %} active {% else %}blocked{% endif %} nav-link' href="{{step.url}}">
                <div id='' class='col-sm-2 col-xs-12 txt-AD0'>
                    {% if step.state==100 %}<img src="/img/complete.png">{% else %}<img src="/img/employ.png">{% endif %}                    
                </div>
                <div id='' class='col-sm-4 col-xs-12 txt-AD1'>
                    <div id='' class='text-left' >
                        <p>Paso {{step.paso}} de 3</p>
                        {{step.name}}
                    </div>
                </div>
                <div id='' class='col-sm-3 col-xs-12 txt-AD2' style="font-family: 'Roboto Slab', serif;">
                    {{step.state}}% {% if step.state==100 %}{% endif %}
                </div>
                <div id='' class='col-sm-3 col-xs-12 txt-AD3'>
                    <div id='' class='btn stepIni' >
                        {{step.stateMessage}}
                    </div>

                </div>
            </a>
        </div>

    {% endfor %}

{% endblock fos_user_content %}
