{% extends "::base.html.twig" %}
{% block stylesheet %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('public/css/help.css') }}">
	<link rel="stylesheet" href="{{ asset('public/css/home/contacto.css') }}">
{% endblock %}
{% block content %}
		<h2 class="bold azulmediofont" style="margin-top:0px; clear:both; padding: 40px 0 0 15px">Symplifica te ayuda</h2>
		<h2 class="light azulclarofont" style="margin:0; padding: 0 0 0 15px">prueba integración continua</h2>
        <div class="search col-md-12" style="margin-top: 30px">
	        <div class="col-md-10 input-field">
						<form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
									<div class="row">
											<label class="semi-italic grisclarofont" for="name">Nombre:</label><br />
											<input id="name" class="input" name="name" type="text" value="" size="30" /><br />
									</div>
									<div class="row">
											<label class="semi-italic grisclarofont" for="name">Teléfono:</label><br />
											<input id="name" class="input" name="name" type="text" value="" size="30" /><br />
									</div>
									<div class="row">
											<label  class="semi-italic grisclarofont" for="email">Email:</label><br />
											<input id="email" class="input" name="email" type="text" value="" size="30" /><br />
									</div>
									<div class="row">
											<label  class="semi-italic grisclarofont" for="email">Tema de la pregunta</label><br />
											<select class="input">
											  <option value="Tema 1">Tema 1</option>
											  <option value="Tema 2">Tema 2</option>
											  <option value="Tema 3">Tema 3</option>
											  <option value="Tema 4">Tema 4</option>
											</select><br />
									</div>
									<div class="row">
											<label class="semi-italic grisclarofont" for="message">Mensaje:</label><br />
											<textarea placeholder="¿Tienes preguntas? escribela aquí y tendras respuestas lo antes posible" id="message" class="message" name="message" rows="7" cols="30"></textarea><br />
									</div>
									<input class="naranja bold" id="submit_button" type="submit" value="Enviar email" />
							</form>

	            <input type="text" class="form-control" placeholder="Envíenme un email cuando esté listo" id="emailSus">
	        </div>
	        <div class="col-md-2 submit" style="clear:both">
	            <button type="button" class="btn btn-default submit-button loading" onclick="javascript:suscribirme($(this))" data-loading-text="Cargando..." data-complete-text="Cerrar">Enviar ></button>
	        </div>
        </div>
        <div class="container col-md-12">
			{% for helpCategory in helpCategories %}
				<div class="col-md-4 help_container">
						<img class="help_icon" src="{{ asset('public/img/' ~ helpCategory.icon) }}"/>
				 		<p>{{ helpCategory.name }}</p>
				</div>
				<div id='' class='col-xs-2'>
						<a id='' class='nav-link' href="{{ path('help_detail' ,
												{'id': helpCategory.idHelpCategory}) }}">
							<div id='' class='text-right' >
								view Articles
							</div>
						</a>
					</div>
			{% endfor %}
        </div>
{% endblock %}
