<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Symplifica</title>
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('public/css/font-awesome.min.css') }}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,700,800" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="{{ asset('public/js/jquery.scrollme.js') }}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<style type="text/css">
html,body{
  margin:0px;
  height:100%;
}
</style>

    <header>
    	<div id="zona-logo">
            <div id="logo"><img class="logo-size" src="{{ asset('public/img/landing/logo.png') }}" width="190" height="auto"></div>
            <div id="redes">
                <ul>
                	<li>Siguenos</li>
                  <a href="https://www.facebook.com/Symplifica-1538503439800792/timeline" target="_blank"><li><img src="{{ asset('public/img/landing/face.png') }}"></i></li></a>
                   <a href="https://twitter.com/symplifica_" target="_blank"><li><img src="{{ asset('public/img/landing/tweet.png') }}"></li></a>
                   <a href="https://www.linkedin.com/company/10358058?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A10358058%2Cidx%3A1-1-1%2CtarId%3A1456525736089%2Ctas%3Asymplifica" target="_blank"><li class="blue redes"><li><img src="{{ asset('public/img/landing/link.png') }}"></li></a>
                </ul></div>
        </div>

        <div id="texto-banner">
        	<h1>La herramienta más sencilla para administrar empleados domésticos y de pequeñas empresas</h1>
            <h3>Nada como la tranquilidad de saber que estás haciendo las cosas bien</h2>

            <a href="#formulario"><div class="calltoaction">Obtén 1 mes gratis por pre-inscribirte</div></a>
        </div>

        <div id="bull-cont">
             <div id="bullets">
                <div class="bull-text">
                    FACILIDAD
                    <p>Convertimos los procesos complejos en simples</p>
                </div>
                <div class="bull-text">
                    CONVENIENCIA
                    <p>Desde la comodidad de tu casa u oficina</p>
                </div>
                <div class="bull-text">
                    TRANQUILIDAD
                    <p>Cumple los requisitos de ley sin ser un experto</p>
                </div>
            </div>
        </div>

    </header>

<!-----------------------------------------------------------------beneficios--------------------------------------------------------------------------->


	<section>

        <div id="beneficios">
        	<h2 class="espacio">Soluciona mes a mes todo en un sólo lugar</h2>

            <div class="cuadros-beneficios animateme scrollme" data-when="view" data-from="0.5" data-to="0.05" data-scale="0">
            	<img src="{{ asset('public/img/landing/benefit1.png') }}">
                <p>Te guiamos en la correcta contratación del empleado</p>
            </div>

            <div class="cuadros-beneficios animateme scrollme" data-when="view" data-from="0.5" data-to="0.05" data-scale="0">
            	<img src="{{ asset('public/img/landing/benefit2.png') }}">
                <p>Generamos un contrato laboral acorde a tus necesidades</p>
            </div>

            <div class="cuadros-beneficios animateme scrollme" data-when="view" data-from="0.5" data-to="0.05" data-scale="0">
            	<img src="{{ asset('public/img/landing/benefit3.png') }}">
                <p>Aﬁliamos tus empleados y a ti a las administradoras de seguridad social</p>
            </div>

            <div class="cuadros-beneficios animateme scrollme" data-when="view" data-from="0.5" data-to="0.05" data-scale="0">
            	<img src="{{ asset('public/img/landing/benefit4.png') }}">
                <p>Te damos la opción de pagar sueldo y planilla de aportes con un solo click</p>
            </div>

            <div class="cuadros-beneficios animateme scrollme" data-when="view" data-from="0.5" data-to="0.05" data-scale="0">
            	<img src="{{ asset('public/img/landing/benefit5.png') }}">
                <p>Te llevamos de la mano en la administración del día a día del empleado</p>
            </div>

            <div class="cuadros-beneficios animateme scrollme" data-when="view" data-from="0.5" data-to="0.05" data-scale="0">
            	<img src="{{ asset('public/img/landing/benefit6.png') }}">
                <p>Guardamos todos los documentos digitales de la relación laboral</p>
            </div>
        </div>

        <div id="precio">
            <h2 style="font-size: 25px">LA TRANQUILIDAD DE HACER LAS COSAS BIEN POR MUY POCO</h2><br>
            <p class="cuadro-precio">Hasta <span>$29.500</span> /mes x empleado</p>
            <a href="#formulario"><div class="calltoaction">¡Qué estas esperando pre-inscribete ya!</div></a>
        </div>

        <div id="man">
        	<div class="cont-gris">
            	<h2>Despreocúpate de gestionar a tus empleados</h2>
                <h4>Nosotros nos hacemos cargo del trabajo pesado</h4>
            </div>

            <div id="foto-hombre">

            	<div id="contenedor-info">
                    <div class="seccion-hombre">
                        <div class="info-hombre">
                            Nunca más se te va a olvidar pagar a tu empleado a tiempo, nosotros te recordamos
                        </div>
                        <div class="info-hombre">
                            Desde que te montas en Sympliﬁca vive con la tranquilidad de que estas haciendo todo de acuerdo a la ley
                        </div>
                        <div class="info-hombre">
                            No tienes que recordar la clave de la planilla ni cuándo pagarla, págala en un click con Sympliﬁca
                        </div>
                    </div>
                    <div class="seccion-hombre desaparece">
                        <img src="{{ asset('public/img/landing/man-noback.png') }}" class="imghombre">
                        <a href="#formulario"><div class="callto">¡Quiero Symplifica!</div></a>
                    </div>
                    <div class="seccion-hombre">
                        <div class="info-hombre">
                            Disfruta de tu tiempo mientras nosotros nos hacemos cargo de los complicados trámites a la aﬁliación
                        </div>
                        <div class="info-hombre">
                            Olvídate de estar sacando dinero cada vez que tienes que pagar a tus empleados, paga desde tu celular
                        </div>
                        <div class="info-hombre">
                            Despreocúpate por saber si estas liquidando bien a tu empleado Sympliﬁca lo hace por tí
                        </div>
                    </div>
                    <div class="boton-hombre aparece">
                        <a href="#formulario"><div class="callto">¡Quiero Symplifica!</div></a>
                    </div>
                 </div>
            </div>
        </div>
    </section>

    <section>
    	<div id="asi-de-facil">
        	<div class="cont-gris">
            	<h2>Hacemos tu vida más sencilla en muy pocos pasos</h2>
                <h4>Inscríbete y disfruta de la tranquilidad</h4>
            </div>

            <div id="info-facil" class="scrollme">
            	<div class="cont-facil">
                	<img class="pc-width" src="{{ asset('public/img/landing/pc.png') }}" width="90%" height="auto">
                </div>
                <div class="cont-facil animateme" data-when="enter" data-from="0.75" data-to="0" data-opacity="0" data-translatex="400">
                	<h1 style="color:#5D5D5D">¡Así de fácil!</h1>
                    <ul>
                    	<img class="img" src="{{ asset('public/img/landing/1.png') }}"><li>Completa unas preguntas<span> fáciles de responder</span></li>
                        <img class="img" src="{{ asset('public/img/landing/2.png') }}"><li>Carga unos documentos <span>fáciles de conseguir</span></li>
                        <img class="img" src="{{ asset('public/img/landing/3.png') }}"><li>Autorízanos a <span>realizar por tí</span> los procesos que ocupan tu tiempo</li>
                        <img class="img" src="{{ asset('public/img/landing/4.png') }}"><li>Y despreocúpate...<span>de acá en adelante te llevamos de la mano</span></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="formulario">
        	<div class="titulo">
                <h4>PRE-INSCRÍBETE Y OBTÉN 1 MES GRATIS</h4>
                <h2>ESPERA NUESTRO GRAN LANZAMIENTO EN <span>MAYO DE 2016</span></h2>
            </div>


            {# app/Resources/views/General/landing_with_form.html.twig #}

            {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.entity_type, { 'id': 'entity' }) }}
                {{ form_row(form.email) }}
                {{ form_row(form.phone) }}
                <button type="submit">Enviar</button>
            {{ form_end(form) }}
        </div>
    </section>
    <!--modal-------------------------->

          <div id="gracias" class="modal">
            <div id="done">
            	<div id="done1">
                	<div id="done1-check">
                    <img src="{{ asset('public/img/landing/check.png') }}" width="100%" height="auto">
                    </div>
                    <div id="done1-text">
                    	Tu inscripción<br>
                        se realizó con éxito
                    </div>
                    <span style="cursor: pointer" id="close">x</span>
                </div>
                <div id="done2">
                	Pronto estaremos listos para brindarte el mejor servicio y <span>symplificar tu día a día.</span>
                </div>
            </div>

          </div>

        <!--termina modal-------------------------->

    <footer>
        	<div id="footer-content">
            	<div class="text" style="text-align:right; border-right: 1px solid #71CBC9">
                 <img src="{{ asset('public/img/landing/logo-foot.png') }}"><br><br>
                </div>
                <div class="text">
                	<h4>¿Tienes preguntas?<br>escríbenos</h4>
                    <h3>contacto@symplifica.com</h3>
                </div>
            </div>
            <div id="derechos"> <!--añadi este div, es nuevo-->
            	Copyright © 2016 symplifica.com | Aviso de Privacidad<br>
                    Prohibida su reproducción total o parcial, así como su traducción a cualquier
                    idioma sin autorización escrita de su titular.
            </div>
        </footer>

    <script>

      //Este es para poner el modal cuando regrese.
      $(document).ready(function(){
        var url = window.location.href;
        if(url.indexOf('#thanks') > -1) {
          document.getElementById("gracias").style.display = "block";
          document.getElementById("done").style.display = "block";
        }
      });

    	$(document).ready(function(){

    		$("#texto-banner").fadeIn(1500);
        /*
    		$("button").click(function(){
    			$("#gracias").fadeIn("slow");
    			$("#done").delay(300).slideDown("slow");
    		});
        */
    		$("#close").click(function(){
    			$("#done").slideUp("slow");
    			$("#gracias").delay(200).fadeOut("slow");
    		});


    	$('a[href^="#"]').on('click',function (e) {
    	    e.preventDefault();

    	    var target = this.hash;
    	    var $target = $(target);

    	    $('html, body').stop().animate({
    	        'scrollTop': $target.offset().top
    	    }, 1500, 'swing', function () {
    	        window.location.hash = target;
    	    });
    	});
    });

    	</script>

        <!---codigo de analitics------------------------------------------------------------------->
        <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-70850811-1', 'auto');
      ga('send', 'pageview');

    </script>

</body>
</html>
