{% trans_default_domain 'FOSUserBundle' %}
{% if not last_username is defined %}
	{% set last_username = "" %}
{% endif %}
<div class="row">
	<div class="col-md-5" >
		{% include "RocketSellerTwoPickBundle:General:redes-login.html.twig" %}
	</div>
	<div class="col-md-7" style="border-left:1px solid #ccc;height:160px">
		{% if error is defined %}
			{% if error %}
			    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
		{% endif %}
		<form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
			<fieldset>
				<div>
					<input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}" />
				</div>
		  		<input id="username" name="_username" required="required" autofocus="" type="text" placeholder="{{ 'security.login.username'|trans }}" class="form-control input-md" value="{{ last_username }}" style="margin-bottom: 5px;"/>
		  		<input id="password" name="_password" type="password" placeholder="{{ 'security.login.password'|trans }}" class="form-control input-md" required="required" />
		  		<div class="spacing">
                    <input type="checkbox" name="_remember_me" id="remember_me" value="on" />
                    <small>Recordar mi usuario Symplifica.com</small>
                </div>
		  		<button id="_submit" name="_submit" type="submit" class="btn btn-info btn-sm pull-right" style="width: 100%">{{ 'security.login.submit'|trans }}</button>
		  		<div class="spacing"><a href="#forgotModal" data-toggle="modal" sty><small> Olvidó su contraseña?</small></a><br/></div>
			</fieldset>
		</form>
	</div>
</div>