{% extends '::base.html.twig' %}

{% block title %}Contacto{% endblock%}

{% block fos_user_content %}
    <header>
        <h1>Contacto Symplifica</h1>
    </header>

    <p>Quieres contactar a Symplifica?</p>

    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}

    <div>
        {{ form_errors(form) }}
        {{ form_start(form) }}

        <div class="col-sm-12 col-xs-12">
            <div class="col-sm-5 col-md-6 label-group">
                {{ form_label(form.subject) }}
            </div>
            <div class="col-sm-7 col-md-6 form-group">
                {{ form_widget(form.subject) }}
            </div>
            <!--<img src="/img/typePerson.png">-->
        </div>
    </div>

    <script>
    function setSubject(element) {
        $("form #contact").val(element.selectedOptions[0].label);
    }
    </script>
{% endblock %}