{% extends "::base.html.twig" %}

{% block usrName %}
{% endblock %}

{% block logout %}
{% endblock %}

{% block fos_user_content %}
    <div id="pregunta1" class="col-md-12">
        {% include 'RocketSellerTwoPickBundle:Default:welcome-inicio-registro.html.twig' %}
        <div class="row margin60">
            <div class="col-sm-10 col-sm-offset-1 col-xs-12 text-center">
                <h4 class="light grisclarofont">
                    <img src="{{ asset('public/img/home/icon6.png') }}" width="80" height="auto" alt="">
                    <br /><br /><br />
                    ¿El empleador es?
                </h4>
            </div>
            <div class="col-sm-4 col-sm-offset-2 col-xs-12 multipleOptions multipleRight" style="">
                <a id="p1b1" class="btn btn-grisBorde notAjax responsivestyle padd">Persona natural</a>
            </div>
            <div class="col-sm-4 col-xs-12 multipleOptions">
                <a id="p1b2" class="btn btn-grisBorde notAjax responsivestyle">Empresa</a>
            </div>
        </div>
    </div>

    <div id="work_status" style="display: none;" class="col-md-12">
      {% include 'RocketSellerTwoPickBundle:Default:welcome-inicio-registro.html.twig' %}
      <div class="row margin60">
          <div class="col-sm-10 col-sm-offset-1 col-xs-12 text-center">
              <h4 class="light grisclarofont">
                  <img src="{{ asset('public/img/home/icon6.png') }}" width="80" height="auto" alt="">
                  <br /><br /><br />
                  ¿Tu empleado ya se encuentra trabajando para tí?
              </h4>
          </div>
          <div class="col-sm-4 col-sm-offset-2 col-xs-12 multipleOptions multipleRight" style="">
              <a id="started" class="btn btn-grisBorde notAjax responsivestyle padd" >Sí, ya inició labores</a>
          </div>
          <div class="col-sm-4 col-xs-12 multipleOptions">
              <a id="notYet" class="btn btn-grisBorde notAjax responsivestyle">No, aún no ha iniciado
                  labores</a>
          </div>
      </div>
      <div class="row center">
          <div class="col-sm-8 col-xs-12 col-sm-offset-2 remember" style="opacity: 0.7;">
              <h4 onclick="$(this).next().slideToggle()" style="font-size: 14px;cursor: pointer" class=""><i
                          class="glyphicon glyphicon-exclamation-sign"></i> ¿Por qué te preguntamos esto?</h4>
              <span style="color:#666; font-weight:300; display:none; font-size: 14px;" id="textPorque">De acuerdo a la situación con tu empleado, podremos darte mejores alternativas para el manejo de la contratación.</span>
          </div>
      </div>
    </div>

    <div id="sisben_disclaimer" style="display: none;">
      <div class="row margin60">
          <div class="col-sm-8 col-sm-offset-2 col-xs-12 text-center borderDo padding30">
              <h3 class="light azulclarofont">
                  <img src="{{ asset('public/img/landing/benefit7.png') }}" width="80" height="auto" alt="">
                  <br /><br /><br />
                  Ten en cuenta que...
              </h3>
              <p class="light grisclarofont">
                En este momento no podemos administrar empleados de tiempo parcial que no pertenezcan al <strong>SISBEN</strong> es decir que no pertenezcan al régimen subsidiado.
              </p>
              <h4 class="light grisclarofont margin30">¿Cómo se si está en el SISBEN?</h4>
              <a id="check_sisben_1" class="btn btn-azul notAjax responsivestyle padd" href="http://www.fosyga.gov.co/BDUA/Consulta-Afiliados-BDUA" target="_blank">Revisar aquí</a>
              {#<a id="check_sisben_2" class="btn btn-azul notAjax responsivestyle padd" href="{https://www.sisben.gov.co/consultadepuntaje.aspx" target="_blank">Revisar aquí</a>#}
          </div>
          <div class="col-sm-12 col-xs-12 center margin30">
              <a id="btn-0" href="" class="btn btn-orange">Entendido</a>
          </div>
      </div>
    </div>

    <div id="pregunta7" style="display: none;">
        <div class="row center">
            <div class="col-md-12">
                <img src="{{ asset('public/img/home/atention.png') }}" width="80" height="auto" alt="">
                <br /><br /><br />
                <h3 class="bold azuloscurofont">¡Symplifica te recomienda!</h3>
                <p class="light grisclarofont">
                    Symplifica te recomienda asesorarte con nosotros antes de seguir tu proceso de registro.
                </p>
                <div class="cajaTexto textoBienve light grisclarofont">
                    Para darte la mejor solución a tu situación actual nos gustaría conocer más detalles de tu relación laboral.
                    Nos pondremos en contacto contigo y realizaremos una pre-evaluación para que inicies a usar Symplifica lo antes posible.
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12 center margin30">
            <a id="p7b1" class="btn btn-grey notAjax" >Aceptar y Continuar</a>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        var chosen = 0;

        $("#sisben_disclaimer").hide();
        $("#work_status").hide();

        $("#p1b1").click(function () {
            $("#pregunta1").hide();
            $("#work_status").show();
        });

        $("#p1b2").click(function () {
            $("#pregunta1").hide();
            $("#pregunta7").show();
            sendEmail("El Empleador es una empresa" , "El empleador es una empresa. Revisar.");
        });

        $("#started").click(function () {
           // console.log( {{ path('legal') }} );
            $("#work_status").hide();
            $("#sisben_disclaimer").show();
            chosen = 1;
        });

        $("#notYet").click(function () {
            // {{ path('change_flag',{'flag':0}) }}
            $("#work_status").hide();
            $("#sisben_disclaimer").show();
            chosen = 2;
        });

        $("#btn-0").click(function() {
           if( chosen == 1){
               window.location.href = "/legal-status";
           }
           else {
               window.location.href = "/change-flag/0";
           }
        });

        $("#p7b1").click(function (){
            window.location.href = "/logout";
        });

        function sendEmail(subject , message ){
            var name = "{{ user.personPerson.fullName }}";
            var phone = "{{ user.personPerson.phones.first.phoneNumber }}";
            var email = "{{ user.email }}";

            $.ajax( {
                type: "POST",
                url: '/api/public/v1/sends/registrations/stucks/emails',
                data: jQuery.param( { "name" : name , "phone": phone , "email" : email , "message" : message , "subject" : subject } )
            });

        }

    </script>

{% endblock %}
