{% extends "::base.html.twig" %}

{%  from '@RocketSellerTwoPick/modal_templates/modal_picker.twig' import modal %}
{% block modales %}
    {{ modal(7) }}
    {{ modal(8) }}
    {{ modal(9) }}
{% endblock %}

{% block fos_user_content %}
    {# 	{% include 'RocketSellerTwoPickBundle:Default:welcome-inicio-registro.html.twig' %}#}
    {% block stylesheets %}

    {% endblock %}
    <script>
        window.intercomSettings = {
            app_id: "mydavhzb",
            name: '{{ app.user.username }}', // Full name
            email: '{{ app.user.email }}', // Email address
            created_at: {{ app.user.dateCreated|date("U") }}, // Signup date as a Unix timestamp
        };
    </script>
    <script>
        (function(){
                    var w=window;
                    var ic=w.Intercom;
                    if(typeof ic==="function"){
                        ic('reattach_activator');
                        ic('update',intercomSettings);
                    }else{
                        var d=document;
                        var i=function(){
                            i.c(arguments)
                        };
                        i.q=[];
                        i.c=function(args){i.q.push(args)};
                        w.Intercom=i;
                        function l(){
                            var s=d.createElement('script');
                            s.type='text/javascript';
                            s.async=true;
                            s.src='https://widget.intercom.io/widget/mydavhzb';
                            var x=d.getElementsByTagName('script')[0];
                            x.parentNode.insertBefore(s,x);
                        }
                        if(w.attachEvent){
                            w.attachEvent('onload',l);
                        }else{
                            w.addEventListener('load',l,false);
                        }
                    }
                }
        )()
    </script>
    <script>
            window.Intercom("trackEvent", "Legal-status");
    </script>

    <div id="pregunta1">
        P1
        <button type="button" id="p1b1" >P1B1</button>
        <button type="button" id="p1b2" >P1B2</button>
    </div>
    <div id="pregunta2" style="display: none;">
        P2
        <button type="button" id="p2b1" >P2B1</button>
        <button type="button" id="p2b2" >P2B2</button>
    </div>
    <div id="pregunta3" style="display: none;">
        P3
        <button type="button" id="p3b1" >P3B1</button>
        <button type="button" id="p3b2" >P3B2</button>
    </div>
    <div id="pregunta4" style="display: none;">
        P4
        <button type="button" id="p4b1" >P4B1</button>
        <button type="button" id="p4b2" >P4B2</button>
    </div>
    <div id="pregunta5" style="display: none;">
        P5
        <button type="button" id="p5b1" >P5B1</button>
        <button type="button" id="p5b2" >P5B2</button>
    </div>
    <div id="pregunta6" style="display: none;">
        P6
        <button type="button" id="p6b1" >P6B1</button>
        <button type="button" id="p6b2" >P6B2</button>
    </div>
    <div id="pregunta7" style="display: none;">
        P7
        <button type="button" id="p7b1" >P7B1</button>
    </div>
    <div id="pregunta8" style="display: none;">
        P8
        <button type="button" id="p8b1" >P8B1</button>
        <button type="button" id="p8b2" >P8B2</button>
    </div>

    <div id="reiniciar">
        <button type="button" id="restart">Reiniciar</button>
    </div>

{% endblock fos_user_content %}

{% block javascripts %}
	{{ parent() }}
	<script>
  	$.getScript("{{ asset('/public/js/legal_status.js') }}").done(function () {
        displayForm();
  	});
	</script>
{% endblock %}
