{% extends "::base.html.twig" %}
{% block fos_user_content%}

    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
        <p>&#191;Quiere GRATIS DOS MESES M&Aacute;S de servicio de Symplifica&#63;</p>
        <p>IMG</p>
        <p>Tome 20 minutos de su tiempo, prep&aacute;rese un caf&eacute; y complete la</p>
        <p>configuraci&oacute;n inicial en menos de 48 horas y lo retribuiremos con</p>
        <p>m&aacute;s tiempo de servicio y un delicioso caf&eacute; de Juan Valdez.</p>
        <p><a class="nav-link btn btn-default" href="{{ path('show_dashboard') }}" role="button">
                Comenzar la configuraci&oacute;n incial
        </a></p>
    {% else %}
        Welcome Visitor!!
    {% endif %}

{% endblock fos_user_content%}
{% block javascripts %}
{{ parent() }}
<script>
	var state="/old";

	jQuery(document).ready(function() {
		$("a").on("click",function(e){
			e.preventDefault();
			sendAjax($(this).attr('href'));
		});
		{# ajax que maneja los requests #}
	// 	sendAjax(state);
	});

	function sendAjax (url, form) {

		$.ajax({
			url : url,
			type: $(form).attr('method'),
			data: $(form).serializeArray(),
			statusCode: {
				500: function() {
					alert(" 500 Server might not handle That yet");
				}
			}
			}).done(function(data) {
				if(data["url"]!=null){
					console.log(data["url"]);
					sendAjax(data["url"]);
				}else{
					$('#main').replaceWith(
							// ... with the returned one from the AJAX response.
							$(data).find('#main'));
					addClick();
					if (!jsLoader(url)) {
						addSumbit();
					}
				}
			}).fail(function( jqXHR, textStatus, errorThrown ) {
				alert(jqXHR+"Server might not handle That yet" + textStatus+" " + errorThrown);
		});
	}
	function addClick () {
		$("#main .nav-link").on("click",function(e){
			e.preventDefault();
			sendAjax($(this).attr('href'));
		});
	}
	function addSumbit () {
		$("form").on("submit",function(e){
			e.preventDefault();
			sendAjax($(this).attr('action'), $(this));
		});
	}
	function jsLoader(url){
		if(url.indexOf("{{ path('edit_profile') }}")!==-1){
			$.getScript( "{{ asset('public/js/newEmployer.js') }}").done(function(){
				startEmployer();
			})

			return true;
		}else if(url.indexOf("{{ path('register_employee') }}")!==-1){
			$.getScript( "{{ asset('public/js/newEmployee.js') }}").done(function(){
				startEmployee();
			})

			return true;
		}else if(url.indexOf("{{ path('show_calculator_form') }}")!==-1){
			$.getScript( "{{ asset('public/js/calculator.js') }}").done(function(){
				calculatorCalculate();
			})

			return true;
		}else if(url.indexOf("{{ path('matrix_choose') }}")!==-1){
			$.getScript( "{{ asset('public/js/afiliation.js') }}").done(function(){
				startAfiliation();
			})

			return true;
		}
		return false;
	}
</script>
{% endblock javascripts %}