{% extends "::base.html.twig" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/public/pagospage.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ asset('css/public/estadoPago.css') }}"/>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,800,600italic,700' rel='stylesheet' type='text/css'>

    {% if pod.productProduct.simpleName == "PN" %}
        {% set payMethod = pod.payMethod %}
        {% set bank = payMethod.bankBank.name %}
        {% if payMethod.accountNumber != null %}
            {% set account = payMethod.accountNumber %}
        {% else %}
            {% set account = payMethod.cellphone %}
        {% endif %}
        {% set accountType = payMethod.accountTypeAccountType.name %}
    {% else %}
        {% set bank = "---" %}
        {% set account = "---" %}
        {% set accountType = "---" %}
    {% endif %}
    <div class="contenedorItem">
        <div class="h1cont">
          <img src="{{ asset('public/img/landing/benefit3.png') }}" alt="">
          <h1 class="bold">Resumen de la compra</h1>
        </div>
        <div class="detalleCompra">
          <ul>
            <li class="liTitle">
              Detalle de compra
            </li>
            <li class="borderBottom">
              <p class="left borderRight">Producto</p>
              <p class="right bold">{{ pod.productProduct.name }}</p>
            </li>
            <li class="borderBottom">
              <p class="left borderRight">Valor</p>
              <p class="right bold">${{ pod.value }}</p>
            </li>
            <li class="borderBottom">
              <p class="left borderRight">Banco</p>
              <p class="right bold">{{ bank }}</p>
            </li>
            <li class="borderBottom">
              <p class="left borderRight">Tipo de cuenta</p>
              <p class="right bold">{{ accountType }}</p>
            </li>
            <li>
              <p class="left borderRight">Número de cuenta</p>
              <p class="right bold">{{ account }}</p>
            </li>
          </ul>
        </div>


        {% if pod.paymentStatus == "-2" %}
        <div class="botnDetailpod">
          <div class="boton">
            <a href="{{ path('user_retry_pay_po',{'idPOD':pod.idPurchaseOrdersDescription}) }}" class="notAjax">Reintentar</a><br/>
          </div>
          <div class="boton">
            <a href="{{ path('edit_pod_description',{'idPOD':pod.idPurchaseOrdersDescription}) }}" class="notAjax">Cambiar Datos</a><br/>
          </div>
          <div class="boton">
            <a href="{{ path('user_return_pay_pod',{'idPOD':pod.idPurchaseOrdersDescription}) }}" class="notAjax">Devolverme mi dinero</a><br/>
          </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
