{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}{% autoescape false %}Asesoria liquidación Symplifica{% endautoescape %}{% endblock %}
{% block body_html %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700" rel="stylesheet" type="text/css">
    <title>Responsive email</title>
  </head>
  <body>
     <strong>ATECIÓN, un empleador está interesado en terminar el contrato con su empleado, a continuación la información:</strong><br>
        Nombre del empleador:               {{ userName }}<br>
        Sociedad del empleador:             {{ employerSociety }}<br>
        Cédula del empleador:               {{ documentNumber }}<br>
		Correo del empleador:               {{ userEmail }}<br>
		Número de teléfono del empleador:    {{ phone }}<br>
		Nombre del empleado:                {{ employeeName }}<br>
		Número del empleado en SQL:         {{ sqlNumber }}<br>

  </body>
</html>
{% endblock %}