<!DOCTYPE html>
<html lang="es">
<head>
<title>Carta de renuncia</title>
<meta charset="utf-8" />
<style>
body {
    height: 842px;
    width: 595px;
    /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;
}
</style>
<head>
<body>
<hr />
<p>&nbsp;</p>
{% set local = "now"|date("d-m-y") %}
<p><strong>{{ data.contract.city }}, {{ "now"|localizeddate('long', 'none', local) }}</strong><br />
<em>Se&ntilde;or(a)</em><br />
<em>{{ data.employer.name }}</em><br />
<em>Asunto: Renuncia irrevocable</em><br />
<p style="text-align: justify;">
Por medio de la presente yo {{ data.employee.name }} identificado con documento de identidad n&uacute;mero
{{ data.employee.document }}, manifiesto mi deseo de renuncia irrevocable al cargo de
{{ data.contract.position }} el cual ven&iacute;a realizando para {{ data.employer.name }} con
NIT/CC {{ data.employer.document }}. Cumpliendo as&iacute; mis labores hasta el d&iacute;a {{ data.endDate }}.
Agradezco la oportunidad brindada.</p>
<p>Cordialmente,</p>
{# <p><em>FIRMA</em></p>#}
<p><em>{{ data.employee.name }}</em><br />
<strong>{{ data.employee.documentType }} {{data.employee.document  }}</strong></p>
<hr />
</body>
</html>