<!DOCTYPE html>
<html lang="es">
<head>
<title>Carta de aceptaci&oacute;n de renuncia</title>
<meta charset="utf-8" />
<style>
body {
    height: 842px;
    width: 595px;
    /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;
}
</style>
<head>
<body>
<hr />
<p>&nbsp;</p>
{% set local = "now"|date("d-m-y") %}
<p><strong>{{ data.contract.city }}, {{ "now"|localizeddate('long', 'none', 'es-CO') }}</strong><br />
<em>Se&ntilde;or(a)</em><br />
<em>{{ data.employee.name }}</em><br />
<em>{{ data.employee.documentType }} {{ data.employee.document }}</em><br />
<em>REF: ACEPTACION DE RENUNCIA</em><br />
<em>Asunto: Renuncia irrevocable</em><br />
<p style="text-align: justify;">
<em>Apreciado Trabajador</em>
Cordialmente me permito comunicarle que su carta de renuncia ha sido aceptada, por lo
tanto, su contrato de trabajo finaliza el día {{ data.endDate }} Adicional queremos
informarle que usted cuenta con 5 días hábiles para realizarse el examen médico de egreso,
dicha autorización deberá ser solicitada a su jefe directo.
Agradecemos los servicios prestados y le deseamos éxitos en sus actividades futuras.</p>
<p>Atentamente,</p>
{# <p><em>FIRMA</em></p>#}
<p><em>{{ data.employer.name }}</em><br />
<strong>{{ data.employer.documentType }} {{ data.employer.document }}</strong></p>
<hr />
</body>
</html>
