{% extends '::base.html.twig' %}
{% block title %}Symplifica - Detalle liquidación final del empleado{% endblock %}
{% block fos_user_content %}
{% block stylesheets %}
    <style>
        .glyphicon-th-large{
            color:#00CDCC;
        }
        .glyphicon-th-large:hover{
            color:#00CDCC;
            cursor: pointer;
        }
        .glyphicon-th-list{
            color:#00CDCC;
        }
        .employee_data_info{
            padding: 5px 30px 5px 30px;
            display: inline-block;
            text-align: center;
        }
        .employee_head_liquidation{
            padding: 10px;
            display: -webkit-inline-box;
            border-bottom: solid #efefef;
            border-top: solid #efefef;
            border-width: 2px;
        }
        .contador_logo{
            height: 50px;
        }
        a:hover{
            text-decoration: none;
        }
        .liq-container {
            border-bottom: solid #efefef;
            padding: 10px;
            display: -webkit-inline-box;
        }
    </style>
{% endblock %}
{# {{ dump(data) }}#}
    <h2 class="center">La liquidación fue calculada exitosamente</h2>
    <div class="employee_head_liquidation">
        <div class="col-sm-12 employee_data">
            <div class="col-sm-3 employee_data_info">
                <h4><strong>{{ employeeInfo.name }} {{ employeeInfo.lastName1 }} {{ employeeInfo.lastName2 }}</strong></h4>
                <span class="txthelp"><p>{{ employeeInfo.documentType }} {{ employeeInfo.document }}</p></span>
                <span class="txthelp"><p>de {{ employeeInfo.docExpeditionPlace }}</p></span>
            </div>
            <div class="col-sm-3 employee_data_info">
                <p><strong>Tipo contrato</strong></p>
                <span class="txthelp"><p>{{ contractInfo.contractType }}</p></span>
            </div>
            <div class="col-sm-3 employee_data_info">
                <p><strong>Duración contrato</strong></p>
                <span class="txthelp"><p>{{ contractInfo.contractPeriod }}</p></span>
            </div>
            <div class="col-sm-3 employee_data_info">
                <p><strong>Salario</strong></p>
                <span class="txthelp"><p>{{ contractInfo.salary }}</p></span>
            </div>
{#             <div class="col-sm-2 col-sm-20 employee_data_info">#}
{#                 <p><strong>Días tomados de vacaciones</strong></p>#}
{#                 <span class="txthelp"><p></p></span>#}
{#             </div>#}
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Concepto</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th><strong>Deducciones</strong></th>
                    <th></th>
                </tr>
    {#             {% set totalLiq = 0 %}#}
                {% for ded in deducciones %}
                    <tr>
                        <td>{{ ded.novelty.name }}</td>
                        <td class="formatValue">{{ ded.liq.NOMI_VALOR_LOCAL }}</td>
                    </tr>
    {#                 {% set totalLiq = totalLiq + liquidation.NOMI_VALOR_LOCAL %}#}
                {% endfor %}
                <tr class="info">
                    <td><strong>Total deducciones</strong></td>
                    <td><strong class="formatValue">{{ totalDeducciones }}</strong></td>
                </tr>
                    <tr>
                        <th><strong>Devengos</strong></th>
                        <th></th>
                    </tr>
                {% for dev in devengos %}
                    <tr>
                        <td>{{ dev.novelty.name }}</td>
                        <td class="formatValue">{{ dev.liq.NOMI_VALOR_LOCAL }}</td>
                    </tr>
    {#                 {% set totalLiq = totalLiq + liquidation.NOMI_VALOR_LOCAL %}#}
                {% endfor %}
                <tr class="info">
                    <td><strong>Total devengos</strong></td>
                    <td><strong class="formatValue">{{ totalDevengos }}</strong></td>
                </tr>
                <tr class="info">
                    <td><strong>Valor de la liquidación</strong></td>
                    <td id="totLiq"><strong class="formatValue">{{ totalLiq }}</strong></td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="warning">
                    <td class="text-center"><strong>Valor a pagar</strong></td>
                    <td><strong class="formatValue">{{ totalLiq }}</strong></td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="col-sm-12">
        <h4><strong>Se hace constar:</strong></h4>
        <span class="txthelp"><strong>1.</strong> Que el empleador ha incorporado en la presente liquidación los importes
        correspondientes a salarios, horas extras, descansos compensatorios, cesantías, vacaciones,
        prima de servicios, auxilio de transporte, y en sí, todo concepto relacionado con salarios,
        prestaciones o indemnizaciones causadas al quedar extinguido el contrato de trabajo.</span>
        <span class="txthelp"><strong>2.</strong> Que con el pago del dinero anotado en la presente liquidación, queda
        transada cualquier diferencia relativa al contrato de trabajo extinguido, o a cualquier diferencia
        anterior. Por lo tanto, esta transacción tiene como efecto la terminación de las obligaciones
        provenientes de la relación laboral que existió entre {{ employer.name }} {{ employer.lastName1 }} {{ employer.lastName2 }}.
        y el empleado, quienes declaran estar a paz y salvo por todo concepto.</span>
    </div>

    <div class="col-sm-12">
        <div class="col-sm-4">
            <h4><strong>{{ employeeInfo.name }} {{ employeeInfo.lastName1 }} {{ employeeInfo.lastName2 }}</strong></h4>
            <span>{{ employeeInfo.documentType }} {{ employeeInfo.document }}</span>
            <span>Empleado</span>
        </div>
        <div class="col-sm-4">
            <h4><strong>{{ employer.name }} {{ employer.lastName1 }} {{ employer.lastName2 }}</strong></h4>
            <span>{{ employer.documentType }} {{ employer.document }}</span>
            <span>Empleador</span>
        </div>
        <div class="col-sm-4">
            Powered by Logo Symplifica
        </div>
    </div>
{# <form method="post" action="{{ path('pay_liquidation', { 'id': id_liq }) }}" id="formPay">#}
<form method="post" action="{{ path('api_public_post_pay_liquidation') }}" id="formPay">
    <div class="col-sm-12 center" role="toolbar">
        <div class="col-xs-12 center">
            <button type="button" class="btn btn-default">Volver atrás</button>
            <button type="button" class="btn btn-default btn-orange formatValueTotal" id="btnCont" total="{{ totalLiq }}" >Pagar {{ totalLiq }}</button>
        </div>
{#         <div id="postLiq" class="btn-group" style="display: none">#}
{#             <button type="button" onclick="window.print()" class="btn btn-default">Imprimir</button>#}
{#             <button type="button" onclick="downloadPDF()" class="btn btn-default">Guardar PDF</button>#}
{#             <button type="button" class="btn btn-default">Enviar Email</button>#}
{#         </div>#}
    </div>
{# </form>#}

    <div class="modalPayLiquidation" style="display: none">
        <div class="row">
            <div class="col-md-12 text-center">
                La suma total para pago corresponde a <h2 class="formatValue">{{ totalLiq }}</h2>
            </div>
            <div class="col-xs-11">
    {#             {% if (data['payMethod'].payTypePayType.name|lower == 'en efectivo' and data['PILA']['total'] != 0) or (data['payMethod'].payTypePayType.name|lower != 'en efectivo')  %}#}


                    <div style="display: -webkit-inline-box;vertical-align: middle;">
    {#                     <select name="paymentMethod" class="form-control" required="required">#}
{#     {{ dump(paymentMethods) }}#}
                        {% for key,paymentMethod in paymentMethods %}
                            <div style="display: -webkit-inline-box;">
                                <strong>Medio de pago {{ key }}: </strong>
                            </div>
                            <div>
    {#                             {{ paymentMethod }}#}
                                {{ paymentMethod['method-id'] }}
    {#                             <option value="{{ paymentMethod['method-id'] }}">{{ paymentMethod['account-number'] }}</option>#}
                                <input type="radio" name="paymentMethodLiq" value="{{ paymentMethod['method-id'] }}"> {{ paymentMethod['account-number'] }}<br>
                            </div><br />
                        {% endfor  %}
    {#                     </select>#}
                        <a style="vertical-align: -webkit-baseline-middle;" class="notAjax" href="{{ path('payments_method') }}">&gt; Agregar</a>
                    </div>
    {#             {% endif %}#}
            </div>
            <div class="col-md-12">
                <label id="lbl_chkAccept" for="chkAccept" ><input type="checkbox" class="chkAccept" id="chkAccept"/> Acepto que los valores calculados por Symplifica corresponden a la información que como pagador declaro que es verdadera.</label>
            </div>
        </div>
    </div>
    <input type="hidden" value="{{ id_liq }}" />
</form>
<script type="text/javascript">
<!--
// jQuery( document ).ready(function() {
//     formatMoney($("td[id='totLiq']"));
// });

// function consolidateLiq(element) {
//     var btn = $(element);

//     $.ajax({
//        url: "{{ path('api_public_post_final_liquidation_submit') }}",
//         type: 'POST',
//         data: {
//            employee_id: "{{ employee_id }}",
//            period: "{{ period }}"
//         }
//     }).done(function (data) {
//         $("#bntCont").html("Pagar");
//         $("#postLiq").show();
//     }).fail(function (jqXHR, textStatus, errorThrown) {
//         alert(jqXHR + "Server might not handle That yet" + textStatus + " " + errorThrown);
//     });
// }
//-->
</script>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script>
        $(document).ready(function () {

            updateValues();

            $('#btnCont').click(function () {
                total = "{{ totalLiq }}";
                message = $(".modalPayLiquidation");
                var dialog = bootbox.dialog({
                    title: "Confirmación de pago",
                    closeButton: false,
                    message: message,
                    buttons: {
                        cancel: {
                            label: "Cancelar",
                            className: "btn-default",
                            callback: function () {
                                $("#btnPay").prop('disabled', false);
                                console.log("Prueba");
                            }
                        },
                        success: {
                            label: "Pagar",
                            className: "btn-default btn-orange btn-pay",
                            callback: function () {
                                $('#formPay').submit();
                                $("#btnCont").prop('disabled', true);
                            }
                        }
                    }
                });
                $(message).show();
                $(dialog.find('.btn-pay')[0]).prop('disabled', true);
                $(dialog.find('.chkAccept')).change(function (e) {
                    $(dialog.find('.btn-pay')[0]).prop('disabled', !e.currentTarget.checked);
                });
                $("#btnPay").prop('disabled', true);

            });

            $('#btnBack').click(function () {
                console.log("click");
                //document.location = "{{ path('payroll') }}";
            });
        });

        $('#formPay').on("submit", function(e) {
            e.preventDefault();
//             alert($('#formPay').serialize());
            var form = $('#formPay');

            var url = form.attr('action');


            $.ajax({
                url: url,
                type: form.attr('method'),
                data: {
                    id_liq: "{{ id_liq }}",
                    payment_method_liq: 2
                }
            }).done(function (data) {
                if (data["url"] != null) {
                    console.log(data["url"]);
                    console.log(data);
                    redirUri = data["url"];

//                     sendAjax(redirUri);
                    window.location.href = redirUri;
                } else {
                    $('#main').replaceWith(
                            // ... with the returned one from the AJAX response.
                            $(data).find('#main'));
                    addClick();
                    if (!jsLoader(url)) {
                        addSumbit();
                    }
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR + "Server might not handle That yet" + textStatus + " " + errorThrown);
            });

        });

        function updateValues() {
            var total = 0;
            $('.formatValue').each(function (index, element) {
                val = $(element).html();
                $(element).html( numeral(val).format("$ 0,0.00") );
            });

            total = $('.formatValueTotal').attr("total");
            $('.formatValueTotal').html("Pagar " + numeral(total).format('$ 0,0.00'));
        }
    </script>
{% endblock %}