{% extends '::base.html.twig' %}
{% block title %}Symplifica - Detalle liquidación final del empleado{% endblock %}
{% block fos_user_content %}
{% block stylesheets %}
    <style>
        .glyphicon-th-large{
            color:#00CDCC;
        }
        .glyphicon-th-large:hover{
            color:#00CDCC;
            cursor: pointer;
        }
        .glyphicon-th-list{
            color:#00CDCC;
        }
        .employee_data_info{
            padding: 5px 30px 5px 30px;
            display: inline-block;
            text-align: center;
        }
        .employee_head_liquidation{
            padding: 10px;
            display: -webkit-inline-box;
            border-bottom: solid #efefef;
            border-top: solid #efefef;
            border-width: 2px;
        }
        .contador_logo{
            height: 50px;
        }
        a:hover{
            text-decoration: none;
        }
        .liq-container {
            border-bottom: solid #efefef;
            padding: 10px;
            display: -webkit-inline-box;
        }
    </style>
{% endblock %}
    <h2 class="center">La liquidación fue calculada exitosamente</h2>
    <div class="employee_head_liquidation">
        <div class="col-sm-12 employee_data">
            <div class="col-sm-3 employee_data_info">
                <h4><strong>{{ employeeInfo.name }} {{ employeeInfo.lastName1 }} {{ employeeInfo.lastName2 }}</strong></h4>
                <span class="txthelp"><p>{{ employeeInfo.documentType }} {{ employeeInfo.document }}</p></span>
                <span class="txthelp"><p>de {{ employeeInfo.docExpeditionPlace }}</p></span>
            </div>
            <div class="col-sm-3 employee_data_info">
                <p><strong>Tipo contrato</strong></p>
                <span class="txthelp"><p>{{ contractInfo.contractType }}</p></span>
            </div>
            <div class="col-sm-3 employee_data_info">
                <p><strong>Duración contrato</strong></p>
                <span class="txthelp"><p>{{ contractInfo.contractPeriod }}</p></span>
            </div>
            <div class="col-sm-3 employee_data_info">
                <p><strong>Salario</strong></p>
                <span class="txthelp"><p>{{ contractInfo.salary }}</p></span>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Concepto</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th><strong>Deducciones</strong></th>
                    <th></th>
                </tr>
                {% for ded in deducciones %}
                    <tr>
                        <td>{{ ded.novelty.name }}</td>
                        <td class="formatValue">{{ ded.liq.NOMI_VALOR_LOCAL }}</td>
                    </tr>
                {% endfor %}
                <tr class="info">
                    <td><strong>Total deducciones</strong></td>
                    <td><strong class="formatValue">{{ totalDeducciones }}</strong></td>
                </tr>
                    <tr>
                        <th><strong>Devengos</strong></th>
                        <th></th>
                    </tr>
                {% for dev in devengos %}
                    <tr>
                        <td>{{ dev.novelty.name }}</td>
                        <td class="formatValue">{{ dev.liq.NOMI_VALOR_LOCAL }}</td>
                    </tr>
                {% endfor %}
                <tr class="info">
                    <td><strong>Total devengos</strong></td>
                    <td><strong class="formatValue">{{ totalDevengos }}</strong></td>
                </tr>
                <tr class="info">
                    <td><strong>Valor de la liquidación</strong></td>
                    <td id="totLiq"><strong class="formatValue">{{ totalLiq }}</strong></td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="warning">
                    <td class="text-center"><strong>Valor a pagar</strong></td>
                    <td><strong class="formatValue">{{ totalLiq }}</strong></td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="col-sm-12">
        <h4><strong>Se hace constar:</strong></h4>
        <span class="txthelp"><strong>1.</strong> Que el empleador ha incorporado en la presente liquidación los importes
        correspondientes a salarios, horas extras, descansos compensatorios, cesantías, vacaciones,
        prima de servicios, auxilio de transporte, y en sí, todo concepto relacionado con salarios,
        prestaciones o indemnizaciones causadas al quedar extinguido el contrato de trabajo.</span>
        <span class="txthelp"><strong>2.</strong> Que con el pago del dinero anotado en la presente liquidación, queda
        transada cualquier diferencia relativa al contrato de trabajo extinguido, o a cualquier diferencia
        anterior. Por lo tanto, esta transacción tiene como efecto la terminación de las obligaciones
        provenientes de la relación laboral que existió entre {{ employer.name }} {{ employer.lastName1 }} {{ employer.lastName2 }}.
        y el empleado, quienes declaran estar a paz y salvo por todo concepto.</span>
    </div>

    <div class="col-sm-12">
        <div class="col-sm-4">
            <h4><strong>{{ employeeInfo.name }} {{ employeeInfo.lastName1 }} {{ employeeInfo.lastName2 }}</strong></h4>
            <span>{{ employeeInfo.documentType }} {{ employeeInfo.document }}</span>
            <span>Empleado</span>
        </div>
        <div class="col-sm-4">
            <h4><strong>{{ employer.name }} {{ employer.lastName1 }} {{ employer.lastName2 }}</strong></h4>
            <span>{{ employer.documentType }} {{ employer.document }}</span>
            <span>Empleador</span>
        </div>
        <div class="col-sm-4">
            Powered by Logo Symplifica
        </div>
    </div>
<form method="post" action="{{ path('api_public_post_pay_liquidation') }}" id="formPay">
    <div class="col-sm-12 center" role="toolbar">
        <div class="col-xs-12 center">
            <button type="button" class="btn btn-default" onclick="history.back(-1)">Volver atrás</button>
            <button type="button" class="btn btn-orange formatValueTotal" id="btnCont2" total="{{ totalLiq }}" data-toggle="modal" data-target="#modalPayLiquidation2" >Pagar {{ totalLiq }}</button>
        </div>
    </div>

    <div id="modalPayLiquidation2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">La suma total para pago corresponde a </h4>
                    <h2 class="formatValue">{{ totalLiq }}</h2>
                </div>
                <div class="modal-body">
                    <div id="paymethods">
                    {% for key,paymentMethod in paymentMethods %}
                        {% set data = paymentMethod["payment-type"] %}
                        <div>
                            <strong>{{ key }}: </strong>
                        </div>
                        <div>
                            {{ paymentMethod['method-id'] }}
                            <input type="radio" name="paymentMethodLiq" value="{{ paymentMethod['method-id'] }}" required /> {{ paymentMethod['account'] }}<br>
                        </div>
                    {% endfor  %}
                    </div>
                    <a href="#myModalAddPaymentMethod2" class="btn notAjax" data-toggle="modal" data-target="#myModalAddPaymentMethod2">&gt; Agregar otro método de pago</a>
                    <label id="lbl_chkAccept" for="chkAccept" ><input type="checkbox" class="chkAccept" id="chkAccept"/> Acepto que los valores calculados por Symplifica corresponden a la información que como pagador declaro que es verdadera.</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-symplifica btn-pay" disabled="true">Pagar</button>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" value="{{ id_liq }}" />
</form>

<div id="myModalAddPaymentMethod2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Agregar un nuevo método de pago</h4>
            </div>
            <!-- dialog body -->
            <div class="modal-body">
                <form name="addPaymentMethod" method="post" action="{{ path('api_public_post_add_credit_card') }}">
                    <label class="control-label required" for="form_credit_card">Credit card</label>
                    <input type="text" id="form_credit_card" name="form[credit_card]" required="required" class="form-control">
                    <label class="control-label required" for="form_expiry_date_year">Expiry date year</label>
                    <input type="text" id="form_expiry_date_year" name="form[expiry_date_year]" required="required" class="form-control">
                    <label class="control-label required" for="form_expiry_date_month">Expiry date month</label>
                    <input type="text" id="form_expiry_date_month" name="form[expiry_date_month]" required="required" class="form-control">
                    <label class="control-label required" for="form_cvv">Cvv</label>
                    <input type="text" id="form_cvv" name="form[cvv]" required="required" class="form-control">
                    <label class="control-label required" for="form_name_on_card">Name on card</label>
                    <input type="text" id="form_name_on_card" name="form[name_on_card]" required="required" class="form-control">
                    <input type="hidden" id="form_document" name="form_document" value="{{ employer.document }}" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-symplifica" onclick='$("form[name=addPaymentMethod]").submit();'>Guardar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
    <script>
        $(document).ready(function () {
            updateValues();

            $('#formPay').on("submit", function(e) {
                e.preventDefault();
                var form = $('#formPay');

                var url = form.attr('action');

                $.ajax({
                    url: url,
                    type: form.attr('method'),
                    data: {
                        id_liq: "{{ id_liq }}",
                        payment_method_liq: form.find('input[name="paymentMethodLiq"]:checked').val()
                    }
                }).done(function (data) {
                    if (data["url"] != null) {
                        console.log(data["url"]);
                        console.log(data);
                        redirUri = data["url"];
                        window.location.href = redirUri;
                    } else {
                        $('#main').replaceWith(
                            $(data).find('#main'));
                        addClick();
                        if (!jsLoader(url)) {
                            addSumbit();
                        }
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR + "Server might not handle That yet" + textStatus + " " + errorThrown);
                });
            });

            $("form[name='addPaymentMethod']").submit(function(e){
                e.preventDefault();

                form = $(this);
                var url = form.attr('action');
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: {
                        credit_card: form.find("input[name='form[credit_card]']").val(),
                        expiry_date_year: form.find("input[name='form[expiry_date_year]']").val(),
                        expiry_date_month: form.find("input[name='form[expiry_date_month]']").val(),
                        cvv: form.find("input[name='form[cvv]']").val(),
                        name_on_card: form.find("input[name='form[name_on_card]']").val()
                    }
                }).done(function (data) {
                    console.log(data);
                    updatePaymethods(form.find("input[name='form_document']").val());
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus + " - " + errorThrown);
                    alert(jqXHR);
                });
            });

            $('.chkAccept').change(function (e) {
                $('.btn-pay').prop('disabled', !e.currentTarget.checked);
            });
        });

        function updateValues() {
            var total = 0;
            $('.formatValue').each(function (index, element) {
                val = $(element).html();
                $(element).html( numeral(val).format("$ 0,0.00") );
            });
            total = $('.formatValueTotal').attr("total");
            $('.formatValueTotal').html("Pagar " + numeral(total).format('$ 0,0.00'));
        }

        function updatePaymethods(documentNumber) {
            $.ajax({
                url: '/api/public/v1/clients/' + documentNumber + '/list/paymentmethods',
                type: 'GET',
            }).done(function (data) {
                $('#modalPayLiquidation2').find(".modal-body").prepend("Metodo de pago agregado con exito");
                $('#myModalAddPaymentMethod2').modal('toggle');

                $('#modalPayLiquidation2').find(".modal-body #paymethods").empty();

                $.each( data['payment-methods'], function( key, value ) {

                    html = "<div>" +
                        "<strong> " + key + ": </strong>" +
                        "</div>" +
                        "<div>" + value['method-id'] +
                        "<input type='radio' name='paymentMethodLiq' value='" + value['method-id'] + "' required />" +
                        value['account'] + "<br>" +
                    "</div>";

                    $('#modalPayLiquidation2').find(".modal-body #paymethods").append(html);
                });

            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus + " - " + errorThrown);
                alert(jqXHR);
            });
        }
    </script>
{% endblock %}