{% extends '::base.html.twig' %}
{% block title %}Symplifica - Detalle liquidación final del empleado{% endblock %}
{% block fos_user_content %}
{% block stylesheets %}
    <style>
        .glyphicon-th-large{
            color:#00CDCC;
        }
        .glyphicon-th-large:hover{
            color:#00CDCC;
            cursor: pointer;
        }
        .glyphicon-th-list{
            color:#00CDCC;
        }
        .employee_data_info{
            padding: 5px 30px 5px 30px;
            display: inline-block;
            text-align: center;
        }
        .employee_head_liquidation{
            padding: 10px;
            display: -webkit-inline-box;
            border-bottom: solid #efefef;
            border-top: solid #efefef;
            border-width: 2px;
        }
        .contador_logo{
            height: 50px;
        }
        a:hover{
            text-decoration: none;
        }
        .liq-container {
            border-bottom: solid #efefef;
            padding: 10px;
            display: -webkit-inline-box;
        }
    </style>
{% endblock %}
{# {{ dump(data) }}#}
    <h2 class="center">La liquidación fue calculada exitosamente</h2>
    <div class="employee_head_liquidation">
        <div class="col-sm-12 employee_data">
            <div class="col-sm-3 employee_data_info">
                <h4><strong>{{ employeeInfo.name }} {{ employeeInfo.lastName1 }} {{ employeeInfo.lastName2 }}</strong></h4>
                <span class="txthelp"><p>{{ employeeInfo.documentType }} {{ employeeInfo.document }}</p></span>
                <span class="txthelp"><p>de {{ employeeInfo.docExpeditionPlace }}</p></span>
            </div>
            <div class="col-sm-3 employee_data_info">
                <p><strong>Tipo contrato</strong></p>
                <span class="txthelp"><p>{{ contractInfo.contractType }}</p></span>
            </div>
            <div class="col-sm-3 employee_data_info">
                <p><strong>Duración contrato</strong></p>
                <span class="txthelp"><p>{{ contractInfo.contractPeriod }}</p></span>
            </div>
            <div class="col-sm-3 employee_data_info">
                <p><strong>Salario</strong></p>
                <span class="txthelp"><p>{{ contractInfo.salary }}</p></span>
            </div>
{#             <div class="col-sm-2 col-sm-20 employee_data_info">#}
{#                 <p><strong>Días tomados de vacaciones</strong></p>#}
{#                 <span class="txthelp"><p></p></span>#}
{#             </div>#}
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Concepto</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th><strong>Deducciones</strong></th>
                    <th></th>
                </tr>
    {#             {% set totalLiq = 0 %}#}
                {% for ded in deducciones %}
                    <tr>
                        <td>{{ ded.novelty.name }}</td>
                        <td>{{ ded.liq.NOMI_VALOR_LOCAL }}</td>
                    </tr>
    {#                 {% set totalLiq = totalLiq + liquidation.NOMI_VALOR_LOCAL %}#}
                {% endfor %}
                <tr class="info">
                    <td><strong>Total deducciones</strong></td>
                    <td><strong>{{ totalDeducciones }}</strong></td>
                </tr>
                    <tr>
                        <th><strong>Devengos</strong></th>
                        <th></th>
                    </tr>
                {% for dev in devengos %}
                    <tr>
                        <td>{{ dev.novelty.name }}</td>
                        <td>{{ dev.liq.NOMI_VALOR_LOCAL }}</td>
                    </tr>
    {#                 {% set totalLiq = totalLiq + liquidation.NOMI_VALOR_LOCAL %}#}
                {% endfor %}
                <tr class="info">
                    <td><strong>Total devengos</strong></td>
                    <td><strong>{{ totalDevengos }}</strong></td>
                </tr>
                <tr class="info">
                    <td><strong>Valor de la liquidación</strong></td>
                    <td id="totLiq"><strong>{{ totalLiq }}</strong></td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="warning">
                    <td class="text-center"><strong>Valor a pagar</strong></td>
                    <td><strong>{{ totalLiq }}</strong></td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <button type="button" class="btn btn-default">Volver atrás</button>
            <button type="button" class="btn btn-default" onclick="consolidateLiq($(this))">Continuar</button>
        </div>
        <div id="postLiq" class="btn-group" style="display: none">
            <button type="button" class="btn btn-default">Imprimir</button>
            <button type="button" class="btn btn-default">Guardar PDF</button>
            <button type="button" class="btn btn-default">Enviar Email</button>
        </div>
     </div>

<script type="text/javascript">
<!--
jQuery( document ).ready(function() {
    formatMoney($("td[id='totLiq']"));
});

function consolidateLiq(element) {
    var btn = $(element);

    $.ajax({
        url: "{{ path('api_public_post_final_liquidation_submit') }}",
        type: 'POST',
        data: {
            employee_id: "{{ employee_id }}",
            period: "{{ period }}"
        }
    }).done(function (data) {
        $("#postLiq").show();
    }).fail(function (jqXHR, textStatus, errorThrown) {
        alert(jqXHR + "Server might not handle That yet" + textStatus + " " + errorThrown);
    });
}
//-->
</script>

{% endblock %}

{# {% block javascripts %}#}
{# {{ parent() }}#}

{# {% endblock %}#}