{% extends '::base.html.twig' %}
{% block title %}Symplifica - Detalle liquidación final del empleado{% endblock %}
{% block fos_user_content %}
{% block stylesheets %}
    <style>
        .glyphicon-th-large{
            color:#00CDCC;
        }
        .glyphicon-th-large:hover{
            color:#00CDCC;
            cursor: pointer;
        }
        .glyphicon-th-list{
            color:#00CDCC;
        }
        .employee_data_info{
            padding: 5px 30px 5px 30px;
            display: inline-block;
            text-align: center;
        }
        .employee_head_liquidation{
            padding: 10px;
            display: -webkit-inline-box;
            border-bottom: solid #efefef;
            border-top: solid #efefef;
            border-width: 2px;
        }
        .contador_logo{
            height: 50px;
        }
        a:hover{
            text-decoration: none;
        }
        .liq-container {
            border-bottom: solid #efefef;
            padding: 10px;
        }
    </style>
{% endblock %}
{# <div class="col-sm-12 col-xs-12 align-Resp" style="margin-bottom: 30px;">#}
{#     <div id="" class="col-sm-12 col-xs-12 blockStep inline">#}
{#         <div id="" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">#}
{#             <img src="/img/block-complete.png" class="center-block">#}
{#         </div>#}
{#         <div id="" class="col-md-10 col-xs-12 txt-AD1">#}
{#             <div id="" class="text-left">#}
{#                 <strong>Liquidación final</strong><br /><span style="font-weight: 200; font-size: 24px;">del empleado</span>#}
{#             </div>#}
{#         </div>#}
{#     </div>#}
{# </div>#}
{% include 'RocketSellerTwoPickBundle:Liquidation:header-liquidation.html.twig' %}
    <div class="col-sm-12">
        <h2 class="center">La liquidación fue calculada exitosamente</h2>
        {% include 'RocketSellerTwoPickBundle:Liquidation:header-info-liquidation.html.twig' %}
{#         <div class="col-xs-12">#}
{#             <div class="row">#}
{#                 <div class="col-xs-12">#}
{#                     <h4><strong>{{ employeeInfo.name }}</strong><br />{{ employeeInfo.lastName1 }} {{ employeeInfo.lastName2 }}</h4>#}
{#                 </div>#}
{#             </div>#}
{#         </div>#}
{#         <div class="employee_head_liquidation" style="width: 100%;">#}
{#             <div class="col-sm-12 employee_data">#}
{#                 <div class="row">#}
{#                     <div class="col-sm-3 employee_data_info">#}
{#                         <span class="txthelp text-left"><h5 class="text-left">Documento</h5><p>{{ employeeInfo.documentType }} {{ employeeInfo.document }}<br />{{ employeeInfo.docExpeditionPlace }}</p></span>#}
{#                     </div>#}
{#                     <div class="col-sm-3 employee_data_info">#}
{#                         <span class="txthelp"><h5>Tipo de contrato</h5><p>{{ contractInfo.contractType }}</p></span>#}
{#                     </div>#}
{#                     <div class="col-sm-3 employee_data_info">#}
{#                         <span class="txthelp"><h5>Duración contrato</h5><p>{{ contractInfo.contractPeriod }}</p></span>#}
{#                     </div>#}
{#                     <div class="col-sm-3 employee_data_info">#}
{#                         <span class="txthelp"><h5>Salario</h5><p>${{ contractInfo.salary|number_format }}</p></span>#}
{#                     </div>#}
{#                 </div>#}
{#             </div>#}
{#         </div>#}
        <div class="col-sm-12">
            <div class="col-sm-4">
                <h4><strong>Días a liquidar:</strong></h4>
            </div>
            <div class="col-sm-4">
                <h4><strong>Desde:</strong>
                {{ contractInfo.startDate|date("F") }} {{ contractInfo.startDate|date("d") }} de {{ contractInfo.startDate|date("Y") }}</h4>
            </div>
            <div class="col-sm-4">
                <h4><strong>Hasta:</strong>
                {{ lastWorkDay|date("F") }} {{ lastWorkDay|date("d") }} de {{ lastWorkDay|date("Y") }}</h4>
            </div>
        </div>
        <div class="col-sm-12 table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Concepto</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th><strong>Deducciones</strong></th>
                        <th></th>
                    </tr>
                    {% for ded in deducciones %}
                        <tr>
                            <td>{{ ded.novelty.name }}</td>
                            <td class="formatValue">{{ ded.liq.NOMI_VALOR_LOCAL }}</td>
                        </tr>
                    {% endfor %}
                    <tr class="info">
                        <td><strong>Total deducciones</strong></td>
                        <td><strong class="formatValue">{{ totalDeducciones }}</strong></td>
                    </tr>
                        <tr>
                            <th><strong>Devengos</strong></th>
                            <th></th>
                        </tr>
                    {% for dev in devengos %}
                        <tr>
                            <td>{{ dev.novelty.name }}</td>
                            <td class="formatValue">{{ dev.liq.NOMI_VALOR_LOCAL }}</td>
                        </tr>
                    {% endfor %}
                    <tr class="info">
                        <td><strong>Total devengos</strong></td>
                        <td><strong class="formatValue">{{ totalDevengos }}</strong></td>
                    </tr>
                    <tr class="info">
                        <td><strong>Valor de la liquidación</strong></td>
                        <td id="totLiq"><strong class="formatValue">{{ totalLiq }}</strong></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="warning">
                        <td class="text-center"><strong>Valor a pagar</strong></td>
                        <td><strong class="formatValue">{{ totalLiq|number_format(0) }}</strong></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="col-sm-12">
        <h5><strong>Se hace constar:</strong></h5>
        <h6 style="text-align: justify;"><strong>1.</strong> Que el empleador ha incorporado en la presente liquidación los importes
        correspondientes a salarios, horas extras, descansos compensatorios, cesantías, vacaciones,
        prima de servicios, auxilio de transporte, y en sí, todo concepto relacionado con salarios,
        prestaciones o indemnizaciones causadas al quedar extinguido el contrato de trabajo.</h6>
        <h6 style="text-align: justify;"><strong>2.</strong> Que con el pago del dinero anotado en la presente liquidación, queda
        transada cualquier diferencia relativa al contrato de trabajo extinguido, o a cualquier diferencia
        anterior. Por lo tanto, esta transacción tiene como efecto la terminación de las obligaciones
        provenientes de la relación laboral que existió entre {{ employer.name }} {{ employer.lastName1 }} {{ employer.lastName2 }}.
        y el empleado, quienes declaran estar a paz y salvo por todo concepto.</h6>
    </div>

    <div class="col-sm-12" style="margin-top: 30px;">
        <div class="col-sm-4">
            <hr>
            <h4><strong>{{ employeeInfo.name }} {{ employeeInfo.lastName1 }} {{ employeeInfo.lastName2 }}</strong></h4>
            <h6>{{ employeeInfo.documentType }} {{ employeeInfo.document|number_format(0) }}</h6>
            <h6>Empleado</h6>
        </div>
        <div class="col-sm-4">
            <hr>
            <h4><strong>{{ employer.name }} {{ employer.lastName1 }} {{ employer.lastName2 }}</strong></h4>
            <h6>{{ employer.documentType }} {{ employer.document|number_format(0) }}</h6>
            <h6>Empleador</h6>
        </div>
        <div class="col-sm-4 text-center">
            <img src="{{ asset('img/logo.png') }}" alt="Sympifica" style="margin-top: 45px;"/>
        </div>
    </div>

    <div class="col-sm-12"><hr/></div>

    <form method="post" action="{{ path('api_public_post_pay_liquidation') }}" id="formPay">
        <div class="col-sm-12 center" role="toolbar" style="margin-top: 30px;">
            <div class="col-xs-12 center">
                <button type="button" class="btn btnPrevious" onclick="history.back(-1)">Volver atrás</button>
                <button type="button" class="btn btn-symplifica formatValueTotal" id="btnCont2" total="{{ totalLiq }}" data-toggle="modal" data-target="#modalPayLiquidation2" >Pagar {{ totalLiq }}</button>
            </div>
        </div>

        <div id="modalPayLiquidation2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body" style="padding: 0">
                        <div class="row-fluid block-Intro-green clearfix" id="msgSinVerificar1" style="margin-top: 0;">
                            <div class="col-sm-12">
                                <div class="col-sm-1">
                                    <i class="fa fa-check-circle fa-3x" style="color: white;" aria-hidden="true"></i>
                                </div>
                                <div class="col-sm-11 col-xs-12 up-Intro" ><h4>Confirmación de pago</h4></div>
                            </div>
                        </div>
                        <div class="row-fluid clearfix text-center" id="bodyContent" style="padding: 30px 15px;">
                            <div class="col-sm-12">
                                <h4><i>La suma total para pago corresponde a</i></h4>
                                <h2 style="font-weight: bold;">$ {{ totalLiq|number_format(0) }}</h2>
                            </div>
                            <div id="paymethods" class="col-sm-12">
                                <h6>Selecciona un método de pago:</h6>
{#                             {% for key,paymentMethod in paymentMethods %}#}
{#                                 {% set data = paymentMethod["payment-type"] %}#}
{#                                 <div>#}
{#                                     <input type="radio" name="paymentMethodLiq" value="{{ paymentMethod['method-id'] }}" required />Tarjeta terminada en: {{ paymentMethod['account'] }}<br>#}
{#                                 </div>#}
{#                             {% endfor  %}#}
                                {% if (paymentMethods['creditCards'] is defined) %}
                                    {% for payM in paymentMethods['creditCards'] %}
                                        <div class="col-sm-12">
                                            <input type="radio" name="paymentMethodLiq" value="{{ payM['method-id'] }}" required /> Tarjeta terminada en: {{ payM['account'] }}<br>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                {% if (paymentMethods['bankAccounts'] is defined) %}
                                    {% for payM in paymentMethods['bankAccounts'] %}
                                        <div class="col-sm-12">
                                            <input type="radio" name="paymentMethodLiq" value="{{ payM['method-id'] }}" required /> Cuenta bancaria terminada en: {{ payM['account'] }}<br>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
{#                             <div class="col-sm-12" style="text-align: center;">#}
{#                                 <a href="#myModalAddPaymentMethod2" class="notAjax" data-toggle="modal" data-target="#myModalAddPaymentMethod2">&gt; Agregar otro método de pago</a>#}
{#                             </div>#}
                            <div class="row text-center" style="padding: 10px;">
                                <a type="button" id="addPayMethod" class="" value="Agregar" href="{{ path('add_credit_card') }}"><i class="fa fa-plus-circle"></i> <i>Agregar método de pago</i></a>
                            </div>
                            <label class="col-sm-10 col-sm-offset-1" id="lbl_chkAccept" for="chkAccept" style="margin-top: 25px;">
                                <input type="checkbox" class="chkAccept" id="chkAccept"/>
                                <small>Acepto que los valores calculados por Symplifica corresponden a la información que como pagador declaro que es verdadera.</small>
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align: center;">
                        <button type="button" class="btn btnPrevious" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-orange btn-pay" disabled="true">Pagar</button>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" value="{{ id_liq }}" />
    </form>

    <div class="col-sm-12"><hr/></div>
    <div class="col-sm-12" style="opacity: 0.5;">
        <div class="col-sm-2 text-right">
            <i class="fa fa-exclamation fa-4x" aria-hidden="true"></i>
        </div>
        <div class="col-sm-10">
            <span class="cols-sm-12" style="font-size: 20px;">Importante</span>
            <span class="cols-sm-12" style="font-size: 15px;">Recuerde que este formato deber ser firmado por su empleado lo cual constatará su
    aceptación del valor y las condiciones de liquidación. Una vez firmado deberá escanearlo
    o fotografiarlo y cargarlo dentro de la ficha del empleado.</span>
        </div>
    </div>

    <!-- Modal loader-->
    <div class="modal fade" role="dialog" id="modal_loader">
        <div class="modal-dialog text-center" style="text-align: center;">
{#             <div class="modal-content text-center">#}
{#                 <img src="/img/loader.gif">#}
                <i class="fa fa-spinner fa-5x fa-spin" aria-hidden="true" style="color: white;"></i>
{#             </div><!-- /.modal-content -->#}
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Modal add metodo de pago-->
    <div id="modal_add_pay_method"></div>

<div id="myModalAddPaymentMethod2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
{#             <div class="modal-header">#}
{#                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
{#                 <h4 class="modal-title">Agregar un nuevo método de pago</h4>#}
{#             </div>#}
            <!-- dialog body -->
            <div class="modal-body" style="padding: 0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute; right: 15px; top: 15px;z-index: 100; color: #fff;"><span aria-hidden="true">&times;</span></button>
                <div class="row-fluid block-Intro-green clearfix" id="msgSinVerificar1" style="margin-top: 0; text-align: center;">
                    <div class="col-sm-12 col-xs-12 up-Intro" style="font-size: 24px;">Agregar un nuevo método de pago</div>
                </div>
                <div class="row-fluid clearfix" style="padding: 30px 15px;">
                    <form name="addPaymentMethod" method="post" action="{{ path('api_public_post_add_credit_card') }}">
                        <label class="control-label required" for="form_credit_card">Credit card</label>
                        <input type="text" id="form_credit_card" name="form[credit_card]" required="required" class="form-control">
                        <label class="control-label required" for="form_expiry_date_year">Expiry date year</label>
                        <input type="text" id="form_expiry_date_year" name="form[expiry_date_year]" required="required" class="form-control">
                        <label class="control-label required" for="form_expiry_date_month">Expiry date month</label>
                        <input type="text" id="form_expiry_date_month" name="form[expiry_date_month]" required="required" class="form-control">
                        <label class="control-label required" for="form_cvv">Cvv</label>
                        <input type="text" id="form_cvv" name="form[cvv]" required="required" class="form-control">
                        <label class="control-label required" for="form_name_on_card">Name on card</label>
                        <input type="text" id="form_name_on_card" name="form[name_on_card]" required="required" class="form-control">
                        <input type="hidden" id="form_document" name="form_document" value="{{ employer.document }}" />
                    </form>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button type="button" class="btn btnPrevious" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-symplifica" onclick='$("form[name=addPaymentMethod]").submit();'>Guardar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
    <script>
        $(document).ready(function () {
            updateValues();

            $('#formPay').on("submit", function(e) {
                e.preventDefault();
                var form = $('#formPay');

//                 if (!form.valid()) {
//                     return;
//                 }

                var url = form.attr('action');

                $.ajax({
                    url: url,
                    type: form.attr('method'),
                    data: {
                        id_liq: "{{ id_liq }}",
                        payment_method_liq: form.find('input[name="paymentMethodLiq"]:checked').val()
                    }
                }).done(function (data) {
                    if (data["url"] != null) {
                        console.log(data["url"]);
                        console.log(data);
                        redirUri = data["url"];
                        window.location.href = redirUri;
                    } else {
                        $('#main').replaceWith(
                            $(data).find('#main'));
                        addClick();
                        if (!jsLoader(url)) {
                            addSumbit();
                        }
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR + "Server might not handle That yet" + textStatus + " " + errorThrown);
                });
            });

//             $("form[name='addPaymentMethod']").submit(function(e){
//                 e.preventDefault();

//                 form = $(this);
//                 if (!form.valid()) {
//                     return;
//                 }
//                 var url = form.attr('action');
//                 $.ajax({
//                     url: url,
//                     type: 'POST',
//                     data: {
//                         credit_card: form.find("input[name='form[credit_card]']").val(),
//                         expiry_date_year: form.find("input[name='form[expiry_date_year]']").val(),
//                         expiry_date_month: form.find("input[name='form[expiry_date_month]']").val(),
//                         cvv: form.find("input[name='form[cvv]']").val(),
//                         name_on_card: form.find("input[name='form[name_on_card]']").val()
//                     }
//                 }).done(function (data) {
//                     console.log(data);
//                     updatePaymethods(form.find("input[name='form_document']").val());
//                 }).fail(function (jqXHR, textStatus, errorThrown) {
//                     console.log(textStatus + " - " + errorThrown);
//                     alert(jqXHR);
//                 });
//             });

            $('.chkAccept').change(function (e) {
                $('.btn-pay').prop('disabled', !e.currentTarget.checked);
            });
        });

        $('#addPayMethod').click(function (event) {
            event.preventDefault();
            url = $(this).attr('href');
            $.ajax({
                url: url,
                //data: data,
                //success: success,
                //dataType: dataType,
                beforeSend: function (xhr) {
                    $('#modal_loader').modal('show');
                }
            }).done(function (data) {
                //$('#modal_add_pay_method').html($(data).find("#main"));
                $('#modal_add_pay_method').html(data);

                $('#modal_add_credit_card').modal({
                    show: false,
                    keyboard: false,
                    backdrop: 'static'
                });

                $('#modal_add_credit_card').modal('show');
                $.getScript("/public/js/addCreditCard.js").done(function () {
                    startAddCreditCard();
                });
            }).fail(function (data) {
                //$("#modal_body_add_novelty").html(data);
            }).always(function () {
                $('#modal_loader').modal('hide');
            });
        });

        function updateListPaymentMethods(data) {
            console.log("paymentMethods " + data);

            updateHtmlPaymethods(data);
        }

        function updateValues() {
            var total = 0;
            $('.formatValue').each(function (index, element) {
                val = $(element).html();
                $(element).html( numeral(val).format("$ 0,0.00") );
            });
            total = $('.formatValueTotal').attr("total");
            $('.formatValueTotal').html("Pagar " + numeral(total).format('$ 0,0.00'));
        }

        function updateHtmlPaymethods(data) {
            $('#modalPayLiquidation2').find(".modal-body #bodyContent").prepend("<div class='alert' role='alert'>Metodo de pago agregado con exito</div>");
//             $('#myModalAddPaymentMethod2').modal('toggle');

            $('#modalPayLiquidation2').find(".modal-body #paymethods").empty();
            $('#modalPayLiquidation2').find(".modal-body #paymethods").prepend('<h6>Selecciona un método de pago:</h6>');

            $.each( data['payment-methods'], function( key, value ) {

                html = "<div class='col-sm-12'>" +
                    "<input type='radio' name='paymentMethodLiq' value='" + value['method-id'] + "' required />" +
                    " Cuenta o tarjeta de crédito terminada en: " + value['account'] + "<br>" +
                "</div>";

                $('#modalPayLiquidation2').find(".modal-body #paymethods").append(html);
            });
        }

        function updatePaymethods(documentNumber) {
            $.ajax({
                url: '/api/public/v1/clients/' + documentNumber + '/list/paymentmethods',
                type: 'GET',
            }).done(function (data) {
                $('#modalPayLiquidation2').find(".modal-body .row-fluid").prepend("Metodo de pago agregado con exito");
                $('#myModalAddPaymentMethod2').modal('toggle');

                $('#modalPayLiquidation2').find(".modal-body #paymethods").empty();
                $('#modalPayLiquidation2').find(".modal-body #paymethods").prepend('<p style="font-size: 20px">Selecciona un método de pago:</p>');

                $.each( data['payment-methods'], function( key, value ) {

                    html = "<div>" +
                        "<input type='radio' name='paymentMethodLiq' value='" + value['method-id'] + "' required />" +
                        "Tarjeta terminada en: " + value['account'] + "<br>" +
                    "</div>";

                    $('#modalPayLiquidation2').find(".modal-body #paymethods").append(html);
                });

            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus + " - " + errorThrown);
                alert(jqXHR);
            });
        }
    </script>
{% endblock %}