{% extends '::base.html.twig' %}
{% block title %}Symplifica - Liquidación final del empleado{% endblock %}
{% block fos_user_content %}
{% block stylesheets %}
    <style>
        .glyphicon-th-large{
            color:#00CDCC;
        }
        .glyphicon-th-large:hover{
            color:#00CDCC;
            cursor: pointer;
        }
        .glyphicon-th-list{
            color:#00CDCC;
        }
        .employee_data_info{
            display: inline-block;
            text-align: center;
        }
        .employee_head_liquidation{
            width: 100%;
            padding: 10px;
            display: -webkit-inline-box;
            border-bottom: solid #efefef;
            border-top: solid #efefef;
            border-width: 2px;
        }
        .contador_logo{
            height: 50px;
        }
        a:hover{
            text-decoration: none;
        }
        .liq-container {
            width: 100%;
            padding: 10px;
            display: -webkit-inline-box;
        }
        h5 {
            font-weight: bold;
            font-size: 17px;
        }

        .txthelp {
            font-size: 17px;
            font-weight: 200;
        }

        .employee_data_info {
            border-right: 1px solid #E6E6E7;
            min-height: 100px;
        }
        .employee_data_info:last-child {
            border-right: none;
        }
        #rocketseller_twopickbundle_liquidation_liquidationReason {
            width: 80%;
            margin: 0 auto;
        }
        #rocketseller_twopickbundle_liquidation_liquidationReason .radio {
                width: 50%;
                float: left;
                margin-top: 0;
        }
        #rocketseller_twopickbundle_liquidation_lastWorkDay select {
            margin-right: 10px;
        }

        #liquidationValue {
            text-align: center;
            font-size: 40px;
            font-weight: bold;
            color: #3C4B5A;
        }
    </style>
{% endblock %}
<div class="col-sm-12 col-xs-12 align-Resp" style="margin-bottom: 30px;">
            <div id="" class="col-sm-12 col-xs-12 blockStep inline">
                <div id="" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">
                    <img src="/img/block-complete.png" class="center-block">                    
                </div>
                <div id="" class="col-md-10 col-xs-12 txt-AD1">
                    <div id="" class="text-left">
                        <strong>Liquidación final</strong><br /><span style="font-weight: 200; font-size: 24px;">del empleado</span>
                    </div>
                </div>
            </div>
        </div>
<form action="{{ path('api_public_post_final_pre_liquidation_submit') }}" method="post" {{ form_enctype(form) }} name="rocketseller_twopickbundle_liquidation">
{{ form_errors(form) }}
    <div class="col-xs-12">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <h4><strong>{{ employeeInfo.name }}</strong><br />{{ employeeInfo.lastName1 }} {{ employeeInfo.lastName2 }}</h4>
                </div>
            </div>
        </div>
        <div class="employee_head_liquidation">
            <div class="col-sm-12 employee_data">
                <div class="row">
                    <div class="col-sm-3 employee_data_info">
                        <span class="txthelp text-left"><h5 class="text-left">Documento</h5><p>{{ employeeInfo.documentType }} {{ employeeInfo.document }}<br />{{ employeeInfo.docExpeditionPlace }}</p></span>
                    </div>
                    <div class="col-sm-3 employee_data_info">
                        <span class="txthelp"><h5>Tipo de contrato</h5><p>{{ contractInfo.contractType }}</p></span>
                    </div>
                    <div class="col-sm-3 employee_data_info">
                        <span class="txthelp"><h5>Duración contrato</h5><p>{{ contractInfo.contractPeriod }}</p></span>
                    </div>
                    <div class="col-sm-3 employee_data_info">
                        <span class="txthelp"><h5>Salario</h5><p>${{ contractInfo.salary|number_format }}</p></span>
                    </div>
                </div>
            </div>
        </div>
        <div id="liquidationStep1">
            <div class="liq-container text-center" style="width: 100%;">
                <h4 style="width: 100%;">Completa los siguientes datos para calcular el valor de la liquidación</h4>
            </div>
            <div class="liq-container">
                <div class="col-sm-6 text-center">
                   <span class="txthelp"><h5 style="font-weight: 200">¿Cuál es el último día de trabajo de tu empleado?</h5></span>
                    {{ form_widget(form.lastWorkDay) }}
                </div>
                <div class="col-sm-6">
                    <span class="txthelp"><h5><strong>Fecha inicio del contrato</strong></h5></span>
                    <span class="txthelp" id="startDate" startdate="{{ contractInfo.startDate|date("Y-m-d") }}">{{ contractInfo.startDay }}</span>
                </div>
            </div>
            <div class="liq-container">
                <div class="col-sm-12">
                    <p><h5  style="font-weight: 200; margin-bottom: 30px;" class="text-center">¿Cuál es la razón para finalizar el contrato?</h5></p>
                    {{ form_widget(form.liquidationReason) }}
                    <div class="row"></div>
                    <p><h5 style="font-weight: 200; margin-top: 30px;" class="text-center">El valor de la liquidación es:</h5></p>
                    <span class="txthelp" id="liquidationValue">$ 0</span>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 remember text-center">
                        <span style="color:#666; font-weight:300; margin-bottom: 30px;"><i class="fa fa-info-circle"></i> Basado en la información que actualmente registra el sistema. Puede variar si debe reportar novedades.</span>
                    </div>
            <div class="col-sm-12 col-xs-12 center">
                <div class="col-sm-6 col-sm-push-3">
                    <a id="liquidation-newstep1" disabled=true href="{{ path("api_public_post_final_liquidation_step1" ) }}" class="btn btn-orange notAjax">Continuar el proceso de liquidación</a>
                    <input name="rocketseller_twopickbundle_liquidation[id_liq]" value="{{ id_liq }}" type="hidden" />
                    <input name="rocketseller_twopickbundle_liquidation[idEmperHasEmpee]" type="hidden" value="{{ employeeInfo.idEmperHasEmpee }}" />
                    <input name="rocketseller_twopickbundle_liquidation[username]" type="hidden" value="{{ employeeInfo.usernameEmployer }}" />
                    <input name="rocketseller_twopickbundle_liquidation[api_public_post_pre_liquidation]" type="hidden" value="{{ path('api_public_post_pre_liquidation') }}" />
                    <input name="rocketseller_twopickbundle_liquidation[frequency]" type="hidden" value="{{ contractInfo.frequency }}" />
                    <br /><br />
                </div>
            </div>
        </div>
    </div>
</form>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body" id="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}