{% extends '::base.html.twig' %}
{% block title %}Symplifica - Liquidación final del empleado{% endblock %}
{% block fos_user_content %}
{# <div class="col-sm-12 col-xs-12 align-Resp" style="margin-bottom: 30px;">#}
{#     <div id="" class="col-sm-12 col-xs-12 blockStep inline">#}
{#         <div id="" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">#}
{#             <img src="/img/block-complete.png" class="center-block">#}
{#         </div>#}
{#         <div id="" class="col-md-10 col-xs-12 txt-AD1">#}
{#             <div id="" class="text-left">#}
{#                 <strong>Liquidación final</strong><br /><span style="font-weight: 200; font-size: 24px;">del empleado</span>#}
{#             </div>#}
{#         </div>#}
{#     </div>#}
{# </div>#}
{% include 'RocketSellerTwoPickBundle:Liquidation:header-liquidation.html.twig' %}
<form action="{{ path('api_public_post_final_pre_liquidation_submit') }}" method="post" {{ form_enctype(form) }} name="rocketseller_twopickbundle_liquidation">
{{ form_errors(form) }}
    <div class="col-sm-12">
        {% include 'RocketSellerTwoPickBundle:Liquidation:header-info-liquidation.html.twig' %}
        <div id="liquidationStep1" class="col-sm-12" style="margin-top: 35px;">
            <div class="text-center col-sm-12" style="margin-bottom: 35px;">
                <h4 style="font-size: 23px;color: #8C8C8C;font-weight: lighter;">Completa los siguientes datos para calcular el valor de la liquidación</h4>
            </div>
            <div class="col-sm-10 col-sm-offset-1">
                <div class="col-sm-6 text-center">
                    <span class="txthelp" ><i style="color: #3C4B5A">¿Cuál es el último día de trabajo de tu empleado?</i></span>
                    {{ form_widget(form.lastWorkDay) }}
                </div>
                <div class="col-sm-6 text-center">
                    <h5><strong style="color: #3C4B5A">Fecha de inicio del contrato</strong></h5>
                    <span id="startDate" style="color:#00858C" startdate="{{ contractInfo.startDate|date("Y-m-d")|trans }}">{{ contractInfo.startDay|localizeddate('none', 'none', 'es-CO', null, "dd 'de' MMMM 'de' Y") }}</span>
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-1" style="margin-top: 35px;">
                <div class="panel panel-default table-responsive">
                    <div class="headingazul text-center">¿Cuál es la razón para finalizar el contrato?</div><!--estaba en class panel-heading -->
                    <table class="table table-bordered">
                        <tbody>
                            {% set i = 0 %}
                            {% set reasons = {} %}
                            {% if (contractInfo.testPeriod) %}
                                {% for reason in form.liquidationReason %}
                                    {% if reason.vars.value in [7, 9] %}
                                        {% set reasons = reasons|merge({ (i) : reason}) %}
                                        {% set i = i + 1 %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for reason in form.liquidationReason %}
                                    {% if reason.vars.value not in [9] %}
                                        {% set reasons = reasons|merge({ (i) : reason}) %}
                                        {% set i = i + 1 %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            {% for child in reasons %}
                                {% if loop.index == 1%}
                                    <tr>
                                {% endif %}
                                    <td>
                                        {{ form_widget(child, { 'attr': {'class': 'col-sm-12 text-center'}}) }}
                                        {{ form_label(child) }}
                                    </td>
                                {% if loop.index is divisibleby(2) and not loop.last%}
                                    </tr><tr>
                                {% elseif loop.last %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-12 text-center" style="margin-top: 30px;">
              <div id="recuadro-precio">
                <i>El valor de la liquidación es:</i>
                <h2 style="font-weight: 600;margin:0" id="liquidationValue">$ 0</h2>
              </div>
            </div>
            <div class="col-sm-12"><hr /></div>
            <div class="col-sm-12 col-xs-12 center" style="margin-top: 20px;">
                <div class="col-sm-6 col-sm-push-3">
                    <a id="liquidation-newstep1" disabled=true href="{{ path("api_public_post_final_liquidation_step1" ) }}" class="btn btn-orange notAjax">Continuar el proceso</a>
                    <input name="rocketseller_twopickbundle_liquidation[id_liq]" value="{{ id_liq }}" type="hidden" />
                    <input name="rocketseller_twopickbundle_liquidation[idEmperHasEmpee]" type="hidden" value="{{ employeeInfo.idEmperHasEmpee }}" />
                    <input name="rocketseller_twopickbundle_liquidation[username]" type="hidden" value="{{ employeeInfo.usernameEmployer }}" />
                    <input name="rocketseller_twopickbundle_liquidation[api_public_post_preview_pre_liquidation]" type="hidden" value="{{ path('api_public_post_preview_pre_liquidation') }}" />
                    <input name="rocketseller_twopickbundle_liquidation[frequency]" type="hidden" value="{{ contractInfo.frequency }}" />
                    <br /><br />
                </div>
            </div>
        </div>
    </div>
</form>

<div class="col-sm-12 col-xs-12 remember text-center">
    <span style="color: #B9BABD;font-size: 12px;"><i class="fa fa-info-circle"></i> Basado en la información que actualmente registra el sistema. Puede variar si debe reportar novedades.</span>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body" id="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
