{% extends '::base.html.twig' %}
{% block title %}Symplifica - Liquidación final del empleado{% endblock %}
{% block fos_user_content %}
{% block stylesheets %}
    <style>
        .glyphicon-th-large{
            color:#00CDCC;
        }
        .glyphicon-th-large:hover{
            color:#00CDCC;
            cursor: pointer;
        }
        .glyphicon-th-list{
            color:#00CDCC;
        }
        .employee_data_info{
            padding: 5px 30px 5px 30px;
            display: inline-block;
            text-align: center;
        }
        .employee_head_liquidation{
            padding: 10px;
            display: -webkit-inline-box;
            border-bottom: solid #efefef;
            border-top: solid #efefef;
            border-width: 2px;
        }
        .contador_logo{
            height: 50px;
        }
        a:hover{
            text-decoration: none;
        }
        .liq-container {
            border-bottom: solid #efefef;
            padding: 10px;
            display: -webkit-inline-box;
        }
    </style>
{% endblock %}
<form action="{{ path('api_public_post_final_pre_liquidation_submit') }}" method="post" {{ form_enctype(form) }} name="rocketseller_twopickbundle_liquidation">
{{ form_errors(form) }}

    <h2>Liquidación final de empleado</h2>
    <div class="employee_head_liquidation">
        <div class="col-sm-12 employee_data">
            <div class="col-sm-3 employee_data_info">
                <h4><strong>{{ employeeInfo.name }} {{ employeeInfo.lastName1 }} {{ employeeInfo.lastName2 }}</strong></h4>
                <span class="txthelp"><p>{{ employeeInfo.documentType }} {{ employeeInfo.document }}</p></span>
                <span class="txthelp"><p>de {{ employeeInfo.docExpeditionPlace }}</p></span>
            </div>
            <div class="col-sm-3 employee_data_info">
                <p><strong>Tipo contrato</strong></p>
                <span class="txthelp"><p>{{ contractInfo.contractType }}</p></span>
            </div>
            <div class="col-sm-3 employee_data_info">
                <p><strong>Duración contrato</strong></p>
                <span class="txthelp"><p>{{ contractInfo.contractPeriod }}</p></span>
            </div>
            <div class="col-sm-3 employee_data_info">
                <p><strong>Salario</strong></p>
                <span class="txthelp"><p>{{ contractInfo.salary }}</p></span>
            </div>
{#             <div class="col-sm-2 col-sm-20 employee_data_info">#}
{#                 <p><strong>Días tomados de vacaciones</strong></p>#}
{#                 <span class="txthelp"><p></p></span>#}
{#             </div>#}
        </div>
    </div>
    <div id="liquidationStep1">
        <div class="liq-container">
            <h3>Diligencie los siguientes datos y calcularemos el valor de la liquidación</h3>
        </div>
        <div class="liq-container">
            <div class="col-sm-6">
                ¿Cuál es el último día de trabajo de su empleado?
                {{ form_widget(form.lastWorkDay) }}
            </div>
            <div class="col-sm-6">
                <span class="txthelp"><strong>Fecha inicio del contrato</strong></span>
                <span class="txthelp" id="startDate" startdate="{{ contractInfo.startDate|date("Y-m-d") }}">{{ contractInfo.startDay }}</span>
            </div>
        </div>
        <div class="liq-container">
            <div class="col-sm-12">
                <p>¿Cuál es la razón para finalizar el contrato?</p>
                {{ form_widget(form.liquidationReason) }}
                <p>El valor de la liquidación es:</p>
                <span class="txthelp" id="liquidationValue"></span>
                <span class="txthelp"><p>* Basado en la información que actualmente registra el sistema. Puede variar si debe reportar novedades.</p></span>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12 center">
            <div class="col-sm-6 col-sm-push-3">
                <a id="liquidation-step1" href="{{ path("api_public_post_final_liquidation_step1") }}" class="notAjax">Continuar el proceso de liquidación</a>
                <br /><br />
            </div>
        </div>
    </div>
    <div id="liquidationStep2" style="display:none">
        <div class="liq-container">
            <div class="col-sm-12">
                <h3>1. Estas son las novedades vigentes asociadas a {{ employeeInfo.name }} ¿Desea reportar alguna otra como vacaciones, auxilios, licencias, etc.?</h3>
            </div><br />
            <div class="col-sm-12">
                <ul class="list-group">
                    {% for novelty in novelties %}
                        <li class="list-group-item">
                            {{ novelty.name }}
                            {{ novelty.dateStart.date }}
                        </li>
                    {% endfor %}
                </ul>
{#                 <a id="btn-1" href="/novelty/select/{{ payroll.idPayroll }}" class="btn btn-primary btnNext btn-orange">Agregar novedad</a>#}

                <div id="agregarNovedad"></div>

            </div>
        </div>
        <div class="liq-container" id="liqSinJustaCausa">
            <div class="col-sm-12">
                <h3>2. Descagar el documento para ser firmado por el empleado</h3>
            </div>
            <br />
            <div class="col-sm-12">
                <span class="txthelp">Encontrará el formato de la carta de retiro que deberá ser firmada por el empleado.
                Una vez lo haya hecho <b>deberá tomarle una foto al documento firmado</b> y guardarlo en Symplifica.</span>
            </div>
            <br />
            <div class="col-sm-12 col-xs-12 center">
                <div class="col-sm-6 col-sm-push-3">
                    <a id="btn-1" href="" class="btn btn-primary btnNext btn-orange">Continuar el proceso de liquidación</a>
                    <br /><br />
                </div>
            </div>
        </div>
        <div class="liq-container" id="liqJustaCausa">
            <div class="col-sm-12">
                <h3>2. Razones para liquidación con justa causa</h3>
            </div>
            <br/>
            <div class="col-sm-12">
                <span class="txthelp">Para finalizar el contrato con un empleado de forma unilateral
                debido a una razón que vaya en contra del reglamento interno de trabajo, lo cual exime al
                empleador del pago de indemnización, debe tener el documento donde se le haya llamado la
                atención así como también sus correspondientes descargos.</span>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12 center">
            <div class="col-sm-6 col-sm-push-3">
                <a id="btn-1" href="" class="btn btn-primary btnNext btn-orange">Continuar</a>
                <br /><br />
            </div>
        </div>
        <div class="liq-container">
            <div class="col-sm-6">
                <strong>Le puede interesar este contenido de nuestro blog:</strong>
                <ol>
                    <li>Qué es una justa causa de terminación de contrato</li>
                    <li>Cúrese en salud y haga finalización de contrato como lo exige la ley</li>
                </ol>
            </div>
            <div class="col-sm-6">
                <span class="txthelp">¿Necesita ayuda? Contamos con un</span>
                <span class="txthelp"><strong>Consultorio Jurídico</strong></span>
                <span class="txthelp">a su disposición</span>
            </div>
        </div>
    </div>

{#     {{ form_rest(form) }}#}
<input type="submit" />
</form>

{# {{ form_start(form) }}#}
{# {{ form_end(form) }}#}

{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
$.getScript("{{ asset('public/js/liquidation.js') }}").done(function () {
    validateLiqForm();
});

$('input[name="rocketseller_twopickbundle_liquidation[liquidationReason]"]:radio').on("change", function(){

    var form = $("form");
    var day = form.find("select[name='rocketseller_twopickbundle_liquidation[lastWorkDay][day]']").val();
    var month = form.find("select[name='rocketseller_twopickbundle_liquidation[lastWorkDay][month]']").val();
    var year = form.find("select[name='rocketseller_twopickbundle_liquidation[lastWorkDay][year]']").val();

    var processDate = (0 + day).slice(-2) + "-" + (0 + month).slice(-2) + "-" + year;

    var employer_has_employee_id = "{{ employeeInfo.idEmperHasEmpee }}" ;
    var username = "{{ employeeInfo.usernameEmployer }}";

//    var url = "{{ path('api_plublic_post_add_final_liquidation_parameters') }}";
    var url = "{{ path('api_public_post_pre_liquidation') }}";

    var frequency = "{{ contractInfo.frequency }}";

    $.ajax({
        url: url,
        type: 'POST',
        data: {
            employee_id: employer_has_employee_id,
            username: username,
            year: year,
            month: month,
            day: day,
            frequency: frequency,
            cutDate: processDate,
            processDate: processDate,
            retirementCause: form.find("input[name='rocketseller_twopickbundle_liquidation[liquidationReason]']:checked").val()
        }
    }).done(function (data) {
        $("#liquidationValue").html(data["totalLiq"]);
        formatMoney($("#liquidationValue"));
    }).fail(function (jqXHR, textStatus, errorThrown) {
        alert(jqXHR + "Server might not handle That yet" + textStatus + " " + errorThrown);
    });
});

$("form").on("submit", function (e) {
    e.preventDefault();

    $('#createdModal').modal('toggle');

    var form = $("form");
    var day = form.find("select[name='rocketseller_twopickbundle_liquidation[lastWorkDay][day]']").val();
    var month = form.find("select[name='rocketseller_twopickbundle_liquidation[lastWorkDay][month]']").val();
    var year = form.find("select[name='rocketseller_twopickbundle_liquidation[lastWorkDay][year]']").val();

    var processDate = (0 + day).slice(-2) + "-" + (0 + month).slice(-2) + "-" + year;

    var employer_has_employee_id = "{{ employeeInfo.idEmperHasEmpee }}" ;
    var username = "{{ employeeInfo.usernameEmployer }}";

    var url = form.attr('action');

    var frequency = "{{ contractInfo.frequency }}";

    $.ajax({
        url: url,
        type: form.attr('method'),
        data: {
            employee_id: employer_has_employee_id,
            username: username,
            year: year,
            month: month,
            day: day,
            frequency: frequency,
            cutDate: processDate,
            processDate: processDate,
            retirementCause: form.find("input[name='rocketseller_twopickbundle_liquidation[liquidationReason]']:checked").val()
        }
    }).done(function (data) {
        if (data["url"] != null) {
            console.log(data["url"]);
            redirUri = data["url"];

            sendAjax(redirUri);
        } else {
            $('#main').replaceWith(
                    // ... with the returned one from the AJAX response.
                    $(data).find('#main'));
            addClick();
            if (!jsLoader(url)) {
                addSumbit();
            }
        }
    }).fail(function (jqXHR, textStatus, errorThrown) {
        alert(jqXHR + "Server might not handle That yet" + textStatus + " " + errorThrown);
    });

});
</script>
{% endblock %}