<div class="col-sm-12">
    <h4><strong>{{ employeeInfo.name }}</strong><br />{{ employeeInfo.lastName1 }} {{ employeeInfo.lastName2 }}</h4>
</div>
<div class="col-sm-12 table-responsive">
    <table class="table table-bordered text-center">
        <tbody>
            <tr>
                <td><i>Documento</i><h4>{{ employeeInfo.documentType }} {{ employeeInfo.document }} de {{ employeeInfo.docExpeditionPlace }}</h4></td>
                <td><i>Tipo de contrato</i><h4>{{ contractInfo.contractType }}</h4></td>
                <td><i>Duración contrato</i><h4>{{ contractInfo.contractPeriod }}</h4></td>
                <td><i>Salario</i><h4>$ {{ contractInfo.salary|number_format(0) }}</h4></td>
            </tr>
        </tbody>
    </table>
</div>