<div class="col-sm-12">
    <h4><strong>{{ employeeInfo.name }} {{ employeeInfo.lastName1 }} {{ employeeInfo.lastName2 }}</strong></h4>
    <h4>{{ employeeInfo.documentType }} {{ employeeInfo.document }} de {{ employeeInfo.docExpeditionPlace }}</h4>
</div>
<div class="col-sm-12 table-responsive">
    <table class="table table-bordered text-center">
        <tbody>
            <tr>
                <!--<td><i>Documento</i><h4><strong>{{ employeeInfo.documentType }} {{ employeeInfo.document }} de {{ employeeInfo.docExpeditionPlace }}</strong></h4></td>-->
                <td><i>Tipo de contrato</i><h4><strong>{{ contractInfo.contractType }}</strong></h4></td>
                <td><i>Duración contrato</i><h4><strong>{{ contractInfo.contractPeriod }}</strong></h4></td>
                <td><i>Sueldo</i><h4><strong>$ {{ contractInfo.salary|number_format(0) }}</strong></h4></td>
            </tr>
        </tbody>
    </table>
</div>
