<!DOCTYPE html>
<html lang="es">
<head>
<title>Liquidación definitiva</title>
<meta charset="utf-8" />
<style>
body {
    height: 792px;
    width: 612px;
    /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;
}

.col-sm-3 {
    width: 25%;
    display: inline-block;
    float: left;
}

.level {
    width: 100%;
    overflow: auto;
    text-align: justify;
}

.col-sm-4 {
    width: 33%;
    overflow:auto;
    float: left;
    text-align: center;
}

.table-responsive {
    border: 1px solid #ddd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.table {
    width: 100%;
    max-width: 100%;
}

.table-footer {
    text-align: center;
    border-top: 1px solid #ddd;
}

.formatValue {
    text-align: center;
}
</style>
<head>
<body>
<hr />
{# {% set local = "now"|date("d-m-y") %}#}
{# <p><strong>{{ data.contract.city }}, {{ "now"|localizeddate('long', 'none', local) }}</strong><br />#}
<p style="text-align: center; font-size: 26px; font-weight: 700;">LIQUIDACIÓN DEFINITIVA</p>
<div class="employee_head_liquidation level" style="text-align: center;">
    <div class="col-sm-3 employee_data_info">
        <h4><strong>{{ employeeInfo.name }} {{ employeeInfo.lastName1 }} {{ employeeInfo.lastName2 }}</strong></h4>
        <span class="txthelp"><p>{{ employeeInfo.documentType }} {{ employeeInfo.document }}</p></span>
        <span class="txthelp"><p>de {{ employeeInfo.docExpeditionPlace }}</p></span>
    </div>
    <div class="col-sm-3 employee_data_info">
        <p><strong>Tipo contrato</strong></p>
        <span class="txthelp"><p>{{ contractInfo.contractType }}</p></span>
    </div>
    <div class="col-sm-3 employee_data_info">
        <p><strong>Duración contrato</strong></p>
        <span class="txthelp"><p>{{ contractInfo.contractPeriod }}</p></span>
    </div>
    <div class="col-sm-3 employee_data_info">
        <p><strong>Salario</strong></p>
        <span class="txthelp"><p>{{ contractInfo.salary }}</p></span>
    </div>
</div>
<div class="col-sm-12 level">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Concepto</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th style="text-align: center;"><strong>Deducciones</strong></th>
                    <th></th>
                </tr>
                {% for ded in deducciones %}
                    <tr>
                        <td>{{ ded.novelty.name }}</td>
                        <td class="formatValue">{{ ded.liq.NOMI_VALOR_LOCAL }}</td>
                    </tr>
                {% endfor %}
                <tr class="info">
                    <td><strong>Total deducciones</strong></td>
                    <td style="text-align: center;"><strong class="formatValue">{{ totalDeducciones }}</strong></td>
                </tr>
                <tr>
                    <th style="text-align: center;"><strong>Devengos</strong></th>
                    <th></th>
                </tr>
                {% for dev in devengos %}
                    <tr>
                        <td>{{ dev.novelty.name }}</td>
                        <td class="formatValue">{{ dev.liq.NOMI_VALOR_LOCAL }}</td>
                    </tr>
                {% endfor %}
                <tr class="info">
                    <td><strong>Total devengos</strong></td>
                    <td style="text-align: center;"><strong class="formatValue">{{ totalDevengos }}</strong></td>
                </tr>
                <tr class="info">
                    <td><strong>Valor de la liquidación</strong></td>
                    <td id="totLiq"><strong class="formatValue">{{ totalLiq }}</strong></td>
                </tr>
            </tbody>
            <tfoot class="table-footer">
                <tr class="warning">
                    <td class="text-center"><strong>Valor a pagar</strong></td>
                    <td><strong class="formatValue">{{ totalLiq }}</strong></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="col-sm-12 level">
    <h4><strong>Se hace constar:</strong></h4>
    <span class="txthelp"><strong>1.</strong> Que el empleador ha incorporado en la presente liquidación los importes
    correspondientes a salarios, horas extras, descansos compensatorios, cesantías, vacaciones,
    prima de servicios, auxilio de transporte, y en sí, todo concepto relacionado con salarios,
    prestaciones o indemnizaciones causadas al quedar extinguido el contrato de trabajo.</span>
    <span class="txthelp"><strong>2.</strong> Que con el pago del dinero anotado en la presente liquidación, queda
    transada cualquier diferencia relativa al contrato de trabajo extinguido, o a cualquier diferencia
    anterior. Por lo tanto, esta transacción tiene como efecto la terminación de las obligaciones
    provenientes de la relación laboral que existió entre {{ employer.name }} {{ employer.lastName1 }} {{ employer.lastName2 }}.
    y el empleado, quienes declaran estar a paz y salvo por todo concepto.</span>
</div>

<div class="col-sm-12 level" style="margin-top: 20px">
    <div class="col-sm-4">
        <h4><strong>{{ employeeInfo.name }} {{ employeeInfo.lastName1 }} {{ employeeInfo.lastName2 }}</strong></h4>
        <span>{{ employeeInfo.documentType }} {{ employeeInfo.document }}</span>
        <span>Empleado</span>
    </div>
    <div class="col-sm-4">
        <h4><strong>{{ employer.name }} {{ employer.lastName1 }} {{ employer.lastName2 }}</strong></h4>
        <span>{{ employer.documentType }} {{ employer.document }}</span>
        <span>Empleador</span>
    </div>
    <div class="col-sm-4">
    <small><i>Powered by</i></small>
        <img src="/img/logo.png" class="img-responsive" alt="Symplifica" />
    </div>
</div>
</p>
<hr />
</body>
</html>