{% extends "::base.html.twig" %}

{% block title %}Liquidación Nómina{% endblock %}

{% block fos_user_content %}

    <div class="col-sm-12 col-xs-12 align-Resp">
        <a id="" class="btn col-sm-12 col-xs-12 blockStep inline  nav-link" href="/register/edit">
            <div id="" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">
                <img src="/img/block-inline.png" class="center-block">                    
            </div>
            <div id="" class="col-md-10 col-xs-12 txt-AD1">
                <div id="" class="text-left">
                    Pago de empleados
                    {% if "now"|date('j') <= 15%}
                        {% set quincena = '(1ª Quincena)' %}
                    {% else %}
                        {% set quincena = '(2ª Quincena)' %}
                    {% endif %}
                    <p>{{ "now"|date('F')|trans }} {{ "now"|date('Y') }}  {{ quincena }} </p>
                </div>
            </div>
        </a>
    </div>

    <div class="payroll calculate">

        <div class="calculateHeader">
            <br />
            <h2>El cálculo final para efectuar el pago fue realizado existosamente.</h2>
            <h3>Verifique a continuación la información.</h3>
        </div>        

        <div class="row details col-xs-12">
            <div class="col-xs-4">
                <h4 class="media-heading">Fecha Pago</h4>
                {{ "now"|localizeddate('long', 'short', "es") }}

            </div>
            <div class="col-xs-4">
                <h4 class="media-heading">Total por pagar</h4>
                <span id="totalPay"></span>
            </div>
            <div class="col-xs-4">
                <h4 class="media-heading">Total Personas</h4>
                <span id="totalEmployees">{{ dataNomina|length }}</span>
            </div>
        </div>

        <form method="post" action="{{ path('payroll_confirm') }}" id="formPay">
            <div class="row">
                {% for key,data in dataNomina %}
                    {% set employerHasEmployee = data['employerHasEmployee'] %}
                    {% set employee = employerHasEmployee.employeeEmployee %}
                    {% set employer = employerHasEmployee.employerEmployer %}
                    {% set personEmployee = employee.personPerson %}
                    {% set personEmployer = employer.personPerson %}
                    {% set idPayroll = data['idPayroll'] %}

                    <div class="col-xs-12">
                        <div class="row-fluid clearfix employee">
                            {#<div class="col-xs-1">
                                <img class="{{ personEmployee.gender == 'FEM'?'female':'male'  }}" src="{{ personEmployee.gender == 'FEM'?'/img/female.png':'/img/male.png'  }}" alt="Icono" height="42" width="42">
                            </div>#}
                            <div class="col-xs-12">
                                <div class="col-xs-9">
                                    <span class="name">{{ personEmployee.names }} {{ personEmployee.lastName1 }}</span>
                                </div>
                                <div class="col-xs-2">
                                    <span class="pull-right">
                                        Pagar <input type="checkbox" class="pay" name="payrollToPay[{{ idPayroll }}]" value="{{ idPayroll }}" checked="checked">
                                    </span>
                                </div>
                                <div class="row info col-xs-11">
                                    <!--<div class="col-md-3">
                                        <h4>Salario:</h4>
                                        $ {# salaries[payroll.idPayroll]|number_format #}
                                        <h4>Novedades:</h4>
                                        $0
                                    </div>-->
                                    <div class="col-md-4">
                                        <h4>Pago a empleado:</h4>
                                        $ {{ data['totalLiquidation']['total']|number_format }}
                                        <h5>Forma de pago:</h5>
                                        <span>{{ data['payMethod'].payTypePayType.name }}</span>
                                    </div>
                                    <div class="col-md-4">
                                        <h4>Pago aportes Seguridad Social:</h4>
                                        $ {{ data['PILA']['total']|number_format }}
                                    </div>
                                    <div class="col-md-4">
                                        <h3>Pago final:</h3>
                                        {% if data['payMethod'].payTypePayType.name|lower == 'en efectivo' %}
                                            <span>$ {{ data['PILA']['total']|number_format }}</span>
                                        {% else %}
                                            <span>$ {{ (data['totalLiquidation']['total'] + data['PILA']['total'])|number_format }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-xs-11">
                                    <div class="col-xs-3" style="display: -webkit-inline-box;vertical-align: middle;">
                                        <strong>Medio de pago: </strong>
                                    </div>
                                    <div class="col-xs-7" style="display: -webkit-inline-box;vertical-align: middle;">
                                        <select name="paymentMethod[{{ idPayroll }}]" class="form-control paymentMethod" required="required">
                                            {% for paymentMethod in paymentMethods %}
                                                <option value="{{ paymentMethod['method-id'] }}">{{ paymentMethod['account'] }}</option>
                                            {% endfor  %}
                                        </select>
                                    </div>
                                    <div class="col-xs-1" style="display: -webkit-inline-box;vertical-align: middle;">
                                        <span type="button" id="addPayMethod" class="btn btn-default" value="Agregar" href="{{ path('add_credit_card') }}">Agregar</span>                                   
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row buttons center">
                <div class="col-xs-12 center">
                    <input type="button" class="btn btn-default" id="btnBack" value="Volver Atrás" onclick="history.go(-1);"/> <input type="button" id="btnPay" class="btn btn-default btn-orange" value="Pagar $" />
                </div>
            </div>
        </form>
    </div>


    <!-- Modal loader-->
    <div class="modal fade" role="dialog" id="modal_loader">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <img src="/img/loader.gif">
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- Modal add metodo de pago-->
    <div id="modal_add_pay_method">

    </div>
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/payroll.css') }}">
    <style type="text/css">
        .row{
            display: inline-block;
        }
        .reminder{
            margin: 10px;
            padding: 10px;
            border-top: 1px #000 dotted;
            border-bottom: 1px #000 dotted;
        }
        .media-body{
            width: 100%;
        }
        .row .buttons{
            display: inline;
        }
        #lbl_chkAccept{
            font-weight: normal;
            margin-top: 30px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script>
        $(document).ready(function () {

            updateValues();
            $('#btnPay').click(function () {
                var total = 0;
                $('.employee .pay').each(function (index, element) {
                    if ($(element)[0].checked) {
                        total += (salaries[$(element)[0].value] + aportes[$(element)[0].value]);
                    }
                });
                var dialog = bootbox.dialog({
                    title: "Confirmación de pago",
                    closeButton: false,
                    message: '<div class="row">  ' +
                            '<div class="col-md-12 text-center"> ' +
                            'La suma total para pago corresponde a <h2>' + numeral(total).format('$ 0,0') + '</h2>' +
                            '</div>' +
                            '<div class="col-md-12"> ' +
                            ' <label id="lbl_chkAccept" for="chkAccept" ><input type="checkbox" class="chkAccept" id="chkAccept"/> Acepto que los valores calculados por Symplifica corresponden a la información que como pagador declaro que es verdadera.</label>' +
                            '</div>  </div>',
                    buttons: {
                        cancel: {
                            label: "Cancelar",
                            className: "btn-default",
                            callback: function () {
                                $("#btnPay").prop('disabled', false);
                                console.log("Prueba");
                            }
                        },
                        success: {
                            label: "Pagar",
                            className: "btn-default btn-orange btn-pay",
                            callback: function () {
                                $('#formPay').submit();
                                $("#btnPay").prop('disabled', true);
                            }
                        }
                    }
                });
                $(dialog.find('.btn-pay')[0]).prop('disabled', true);
                $(dialog.find('.chkAccept')).change(function (e) {
                    $(dialog.find('.btn-pay')[0]).prop('disabled', !e.currentTarget.checked);
                });
                $("#btnPay").prop('disabled', true);
            });
            $('#addPayMethod').click(function (event) {
                event.preventDefault();
                url = $(this).attr('href');
                $.ajax({
                    url: url,
                    //data: data,
                    //success: success,
                    //dataType: dataType,
                    beforeSend: function (xhr) {
                        $('#modal_loader').modal('show');
                    }
                }).done(function (data) {
                    //$('#modal_add_pay_method').html($(data).find("#main"));
                    $('#modal_add_pay_method').html(data);

                    $('#modal_add_credit_card').modal({
                        show: false,
                        keyboard: false,
                        backdrop: 'static'
                    });

                    $('#modal_add_credit_card').modal('show');
                    $.getScript("/public/js/addCreditCard.js").done(function () {
                        startAddCreditCard();
                    });
                }).fail(function (data) {
                    //$("#modal_body_add_novelty").html(data);
                }).always(function () {
                    $('#modal_loader').modal('hide');
                });
                //document.location = "/novelty/select/" + payroll;
            });
        });
        var salaries = [];
        var aportes = [];
        {% for key,data in dataNomina %}
            {% if data['payMethod'].payTypePayType.name|lower == 'en efectivo' %}
                salaries[{{data['idPayroll']}}] = 0;
            {% else %}
                        salaries[{{data['idPayroll']}}] = {{ data['totalLiquidation']['total'] }};
            {% endif %}

            {% if data['PILA']['total'] is defined %}
                        aportes[{{data['idPayroll']}}] = {{ data['PILA']['total'] }};
            {% else %}
                        aportes[{{data['idPayroll']}}] = 0;
            {% endif %}
        {% endfor %}
                    $('.employee .pay').on('change', updateValues);
            function updateValues() {
                var i = 0;
                var total = 0;
                $('.employee .pay').each(function (index, element) {
                    if ($(element)[0].checked) {
                        i++;
                        total += (salaries[$(element)[0].value] + aportes[$(element)[0].value]);
                    }
                });
                $('#totalPay').html(numeral(total).format('$ 0,0'));
                $('#totalEmployees').html(i);
                $('#btnPay').val("Pagar " + numeral(total).format('$ 0,0'));
                $('#btnPay').prop('disabled', i == 0 || total == 0);
            }
            function updateListPaymentMethods(data) {
                //console.log(data);
                $(".paymentMethod").each(function () {
                    $(this).html(jsonToSelect(data));
                });
            }
            function jsonToSelect(data) {
                html = '';
                $.each(data['payment-methods'], function (key, obj) {
                    html += '<option value="' + obj['method-id'] + '">' + obj['account'] + '</option>';
                });
                return html;
            }
    </script>
{% endblock %}
