{% extends "::base.html.twig" %}

{% block title %}Liquidación Nómina{% endblock %}

{% block fos_user_content %}

    <div class="col-sm-12 col-xs-12 align-Resp">
        <a id="" class="btn col-sm-12 col-xs-12 blockStep inline  nav-link" href="/register/edit">
            <div id="" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">
                <img src="/img/block-inline.png" class="center-block">                    
            </div>
            <div id="" class="col-md-10 col-xs-12 txt-AD1">
                <div id="" class="text-left">
                    Pago de empleados
                    {% if "now"|date('j') <= 15%}
                        {% set quincena = '(1ª Quincena)' %}
                    {% else %}
                        {% set quincena = '(2ª Quincena)' %}
                    {% endif %}
                    <p>{{ "now"|date('F')|trans }} {{ "now"|date('Y') }}  {{ quincena }} </p>
                </div>
            </div>
        </a>
    </div>

    <div class="payroll calculate">

        <div class="calculateHeader">
            <br />
            <h2>El cálculo final para efectuar el pago fue realizado existosamente.</h2>
            <h3>Verifique a continuación la información.</h3>
        </div>
        <form method="post" action="{{ path('payroll_confirm') }}" id="formPay">

        <div class="row details col-xs-12">
            <div class="col-xs-4">
                <h4 class="media-heading">Fecha Pago</h4>
                {{ "now"|localizeddate('long', 'short', "es") }}
            </div>
            <div class="col-xs-4">
                <h4 class="media-heading">Total por pagar</h4>
                <span id="totalPay"> $ {{ toPay.value|number_format }}</span>
            </div>
            <div class="col-xs-4">
                <h4 class="media-heading">Método de pago</h4>
                <select name="paymentMethod" class="form-control paymentMethod" required="required">
                    {% for paymentMethod in payMethods %}
                        <option value="{{ paymentMethod['method-id'] }}">{{ paymentMethod['account'] }}</option>
                    {% endfor  %}
                </select>
            </div>
        </div>

            <div class="row">
                {% set dataNomina = toPay.purchaseOrderDescriptions %}
                {% for pod in dataNomina %}


                    <div class="col-xs-12">
                        <div class="row-fluid clearfix employee">
                            {#<div class="col-xs-1">
                                <img class="{{ personEmployee.gender == 'FEM'?'female':'male'  }}" src="{{ personEmployee.gender == 'FEM'?'/img/female.png':'/img/male.png'  }}" alt="Icono" height="42" width="42">
                            </div>#}
                            <div class="col-xs-12">
                                <div class="col-xs-2">
                                    <span class="pull-right">
                                        Item <input type="hidden" class="pay" name="{{ pod.idPurchaseOrdersDescription }}" value="{{ pod.idPurchaseOrdersDescription }}">
                                    </span>
                                </div>
                                <div class="row info col-xs-11">
                                    <div class="col-md-4">
                                        <h4>{{ pod.description }}</h4>
                                        $ {{ pod.value|number_format }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row buttons center">
                <div class="col-xs-12 center">
                    <input type="button" class="btn btn-default" id="btnBack" value="Volver Atrás" onclick="history.go(-1);"/> <input type="submit" id="btnPay" class="btn btn-default btn-orange" value="Pagar $" />
                </div>
            </div>
        </form>
    </div>


    <!-- Modal loader-->
    <div class="modal fade" role="dialog" id="modal_loader">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <img src="/img/loader.gif">
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- Modal add metodo de pago-->
    <div id="modal_add_pay_method">

    </div>
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/payroll.css') }}">
    <style type="text/css">
        .row{
            display: inline-block;
        }
        .reminder{
            margin: 10px;
            padding: 10px;
            border-top: 1px #000 dotted;
            border-bottom: 1px #000 dotted;
        }
        .media-body{
            width: 100%;
        }
        .row .buttons{
            display: inline;
        }
        #lbl_chkAccept{
            font-weight: normal;
            margin-top: 30px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script>

    </script>
{% endblock %}
