{% extends "::base.html.twig" %}

{% block title %}Liquidación Nómina{% endblock %}

{% block fos_user_content %}

    <div class="col-sm-12 col-xs-12 align-Resp azulclaro">
      <a id="" class="btn col-sm-12 col-xs-12 blockStep inline  nav-link" href="/register/edit" style="margin-bottom:0;padding: 5px 5px 0 !important">
        <div id="" class=" col-sm-12 col-xs-12 blockStep inline  nav-link" >
            <div id="" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">
                 <img src="/img/block-inline.png" class="center-block">
            </div>
            <div id="" class="col-md-10 col-xs-12">
                <div id="" class="text-left">
                    <h1 style="color:#FFF;margin:25px 0 0;font-size:25px" class="bold">Pago de empleados</h1>
                    <span clas="light" style="color:#FFF;margin:0;font-weight:100;font-size:20px">
                      {% if "now"|date('j') <= 15%}
                          {% set quincena = '(1ª Quincena)' %}
                      {% else %}
                          {% set quincena = '(2ª Quincena)' %}
                      {% endif %}
                      <p>{{ "now"|date('F')|trans }} {{ "now"|date('Y') }}  {{ quincena }} </p>
                    </span>
                </div>
            </div>
          </div>
        </a>
    </div>

    <!-- <div class="col-sm-12 col-xs-12 align-Resp">
        <a id="" class="btn col-sm-12 col-xs-12 blockStep inline  nav-link" href="/register/edit">
            <div id="" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">
                <img src="/img/block-inline.png" class="center-block">
            </div>
            <div id="" class="col-md-10 col-xs-12 txt-AD1">
                <div id="" class="text-left">
                    Pago de empleados
                    {% if "now"|date('j') <= 15%}
                        {% set quincena = '(1ª Quincena)' %}
                    {% else %}
                        {% set quincena = '(2ª Quincena)' %}
                    {% endif %}
                    <p>{{ "now"|date('F')|trans }} {{ "now"|date('Y') }}  {{ quincena }} </p>
                </div>
            </div>
        </a>
    </div> -->

    <div class="payroll calculate" style="clear:both">
        {% set dataNomina = toPay.purchase_order_descriptions %}
        {% if dataNomina == null %}
            <div class="calculateHeader" style="margin: 30px auto;color:#00858C">
                <br />
                <h2>Gracias por reportar su pago</h2>
                <p>En la siguiente pantalla encontrará una notificación para generar su comprobante de pago. Debe descargarlo, hacerlo firmar por su empleado y subirlo nuevamente a nuestra plataforma para mantener el registro de sus pagos al día.</p>
                <a class="btn btn-orange notAjax" href="{{ path("show_dashboard") }}">Ver las notificaciones</a>
            </div>
        {% else %}
            <div class="calculateHeader" style="margin: 30px auto;color:#00858C">
                <br />
                <h2>El cálculo final para efectuar el pago fue realizado existosamente.</h2>
                <h3>Verifique a continuación la información</h3>
            </div>
            <form method="post" action="{{ path('payroll_confirm') }}" id="formPay" style="width: 90%;margin: 0 auto;">

                <div class="row col-xs-12 bordertotales">
                    <div class="col-xs-4 resppay" style="padding: 20px 0 0 20px;color:#1FCECB;">
                        <h4 class="media-heading" style="color: #00858C;font-weight: bold;font-style: italic;">Fecha de pago</h4>
                        {{ "now"|localizeddate('long', 'short', false) }}
                    </div>
                    <div class="col-xs-4 borders resppay" style="color:#1FCECB;">
                        <h4 class="media-heading" style="color: #00858C;font-weight: bold;font-style: italic;">Total a pagar</h4>
                        <span id="totalPay"> $ {{ toPay.value|number_format(0, '.', ',')  }}</span>
                    </div>
                    <div class="col-xs-4 resppay" style="padding: 20px 15px 0 20px;color:#1FCECB;">
                        <h4 class="media-heading" style="color: #00858C;font-weight: bold;font-style: italic;">Método de pago</h4>
                        <select name="paymentMethod" class="form-control paymentMethod" required="required">
                            {% for paymentMethod in payMethods %}
                                <option value="{{ paymentMethod['method-id'] }}">{{ paymentMethod['account'] }}</option>
                            {% endfor  %}
                        </select>
                    </div>
                </div>

                <div class="row">
                    {% for pod in dataNomina %}
                        <div class="col-xs-12">
                            <div class="row-fluid clearfix employee">
                                {#<div class="col-xs-1">
                                    <img class="{{ personEmployee.gender == 'FEM'?'female':'male'  }}" src="{{ personEmployee.gender == 'FEM'?'/img/female.png':'/img/male.png'  }}" alt="Icono" height="42" width="42">
                                </div>#}
                                <div class="col-xs-12">
                                    <div class="row info col-xs-11 width">
                                        <div class="col-md-4 width">
                                            <h4 class="izquierda bold azulmediofont" style="font-size:15px">{{ pod.description }}</h4>
                                            <span class="derecha extrabold azuloscurofont" style="font-size:20px;color: #3C4B5A;">$ {{ pod.value|number_format(0, '.', ',')  }}</span>
                                            {% if pod.id_purchase_orders_description is defined %}
                                                <input type="hidden" class="pay" name="{{ pod.id_purchase_orders_description }}" value="{{ pod.id_purchase_orders_description }}">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% if paid.purchase_order_descriptions != null  %}
                        <div class="calculateHeader" style="margin: 30px auto;color:#00858C">
                            <br />
                            <h2>Gracias por reportar su pago.</h2>
                            <h3>En tu tablero de control encontrarás una notificación para generar su comprobante de pago. Debe descargarlo, hacerlo firmar por su empleado y subirlo nuevamente a nuestra plataforma para mantener el registro de sus pagos al día.</h3>
                        </div>
                    {% endif %}
                </div>
                <div class="row buttons center">
                    <div class="col-xs-12 center" style="border-top: 1px solid #CCC;padding: 35px 0 0 0;">
                        <input type="button" class="btn btn-grey btnPrevious-form btnPrevious" id="btnBack" value="Volver Atrás" onclick="history.go(-1);"/> <input type="submit" id="btnPay" class="btn btn-orange" value="Pagar" />
                    </div>
                </div>
            </form>
        {% endif %}

    </div>


    <!-- Modal loader-->
    <div class="modal fade" role="dialog" id="modal_loader">
        <div class="modal-dialog">
            <div class="modal-content text-center">
                <img src="/img/loader.gif">
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- Modal add metodo de pago-->
    <div id="modal_add_pay_method">

    </div>
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/payroll.css') }}">
    <style type="text/css">
        .row{
            display: inline-block;
            padding: 0;
        }
        .reminder{
            margin: 10px;
            padding: 10px;
            border-top: 1px #000 dotted;
            border-bottom: 1px #000 dotted;
        }
        .media-body{
            width: 100%;
        }
        .row .buttons{
            display: inline;
        }
        #lbl_chkAccept{
            font-weight: normal;
            margin-top: 30px;
        }

        @media only screen and (max-width: 640px) {
          .resppay {
            width: 100%;
            padding: 15px 25px 15px 25px !important;
          }
          .borders {
            border-top: 1px #CCC solid;
            border-bottom: 1px #CCC solid;
            padding: 20px 15px;
            border-left: none;
            border-right: none;
          }
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script>

    </script>
{% endblock %}
