{% extends "::base_pdf.html.twig" %}

{% block title %}Comprobante Nómina{% endblock %}

{% block stylesheet %}    
    {{ parent() }}
    <style type="text/css">
        .row{
            display: inline-flex;
        }
        .employer{
            border-bottom: 1px black solid;
            padding: 10px;
        }
        .employee{
            border-bottom: 1px black dotted;
            padding: 10px;
            margin-top: 10px;
        }
        .employer .name{
            display: inherit;
        }
        .buttons{            
            display: inline;
        } 
        .h2{
            font-family: 'Arial Bold', 'Arial';
            font-weight: 700;
            font-style: normal;
            font-size: 32px;
            color: #333333;
            text-align: left;
            line-height: normal;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="payroll voucher">
        <h2>Comprobante de pago</h2>
        <div class="row employer col-xs-12">
            <div class="col-xs-4 name">
                <div class="col-xs-1">
                    <img class="{{ employeer.personPerson.gender == 'FEM'?'female':'male'  }}" src="{{ employeer.personPerson.gender == 'FEM'? (asset('img/female.png', absolute = true)) : (asset('img/male.png', absolute = true)) }}" alt="Icono" height="42" width="42">
                </div>
                <div class="col-xs-11">
                    <div class="col-xs-12">
                        <b>Empleador</b>
                    </div>
                    <div class="col-xs-12">
                        {{ employeer.personPerson.names ~ ' ' ~ employeer.personPerson.lastName1 }}
                    </div>
                </div>
            </div>
            <div class="col-xs-4 date">
                <div class="col-xs-1">
                    <img src="{{ asset('img/date_pay.png', absolute = true) }}" alt="Icono" height="42" width="42">
                </div>
                <div class="col-xs-11">
                    <div class="col-xs-12">
                        <b>Fecha pago</b>
                    </div>
                    <div class="col-xs-12">
                        {{ "now"|localizeddate('long', 'short', "es") }}
                    </div>
                </div>
            </div>
            <div class="col-xs-4 periodo">
                <div class="col-xs-1">
                    <img src="{{ (asset('img/calendar.png', absolute = true)) }}" alt="Icono" height="42" width="42">                    
                </div>
                <div class="col-xs-11">
                    <div class="col-xs-12">
                        <b>Periodo</b>
                    </div>
                    <div class="col-xs-12">
                        {{ periodo }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row employee col-xs-12">
            <div class="col-xs-4 name">
                <div class="col-xs-1">
                    <img class="{{ employee.personPerson.gender == 'FEM'?'female':'male'  }}" src="{{ employee.personPerson.gender == 'FEM'? (asset('img/female.png', absolute = true)) : (asset('img/male.png', absolute = true)) }}" alt="Icono" height="42" width="42">
                </div>
                <div class="col-xs-11">
                    <div class="col-xs-12">
                        <b>Empleado</b>
                    </div>
                    <div class="col-xs-12">
                        {{ employee.personPerson.names ~ ' ' ~ employee.personPerson.lastName1 }}
                    </div>
                </div>
            </div>
            <div class="col-xs-4 date">
                <div class="col-xs-1">
                    <img src="{{ (asset('img/date_pay.png', absolute = true)) }}" alt="Icono" height="42" width="42">
                </div>
                <div class="col-xs-11">
                    <div class="col-xs-12">
                        <b>Fecha pago</b>
                    </div>
                    <div class="col-xs-12">
                        {{ "now"|localizeddate('long', 'short', "es") }}
                    </div>
                </div>
            </div>
            <div class="col-xs-4 periodo">
                <div class="col-xs-1">
                    <img src="{{ (asset('img/calendar.png', absolute = true)) }}" alt="Icono" height="42" width="42">                    
                </div>
                <div class="col-xs-11">
                    <div class="col-xs-12">
                        <b>Periodo</b>
                    </div>
                    <div class="col-xs-12">
                        {{ periodo }}
                    </div>
                </div>
            </div>
        </div> 

    </div>
{% endblock %}

