{% extends "::base.html.twig" %}

{% block title %}Confirmación Pago{% endblock %}

{% block fos_user_content %}
    <div class="payroll confirm">
        <h2>Resultado a pago de empleados</h2>
        <div class="row reminder">
            <div class="media">
                <div class="media-left">
                    <span class="glyphicon glyphicon-ok"></span>
                </div>
                <div class="media-body">
                    {% if "now"|date('j') <= 15%}
                        {% set quincena = 'I (1ª Quincena)' %}
                    {% else %}
                        {% set quincena = 'II (2ª Quincena)' %}
                    {% endif %}
                    <h4 class="media-heading">El pago de sueldo y aportes a Seguridad social para la {{ quincena }} de {{ "now"|date('F')|trans }} {{ "now"|date('Y') }} fue realizado exitosamente</h4>
                </div>
            </div>
        </div>
        <div class="row details col-md-12">
            <div class="col-xs-1">

            </div>
            <div class="col-xs-4">
                <div class="media">
                    <div class="media-left">
                        <i class="fa fa-refresh fa-2x"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Fecha Pago</h4>
                        {{ "now"|localizeddate('long', 'short', 'es-CO'") }}
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="media">
                    <div class="media-left">
                        <i class="fa fa-credit-card fa-2x"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Total pagado</h4>
                        <span id="totalPay">${{ total|number_format }}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="media">
                    <div class="media-left">
                        <i class="fa fa-users fa-2x"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Total Personas</h4>
                        {{ dataNomina|length }}
                    </div>
                </div>
            </div>
            <div class="col-xs-1">

            </div>
        </div>
        <div class="row">

            {% for key,data in dataNomina %}
                {% set employerHasEmployee = data['employerHasEmployee'] %}
                {% set employee = employerHasEmployee.employeeEmployee %}
                {% set employer = employerHasEmployee.employerEmployer %}
                {% set personEmployee = employee.personPerson %}
                {% set personEmployer = employer.personPerson %}
                {% set idPayroll = data['idPayroll'] %}

                <div class="col-sm-6">
                    <div class="row-fluid clearfix employee">
                        <div class="col-xs-12">
                            {#<div class="col-xs-2">
                                <img class="{{ personEmployee.gender == 'FEM'?'female':'male'  }}" src="{{ personEmployee.gender == 'FEM'?'/img/female.png':'/img/male.png'  }}" alt="Icono" height="42" width="42">
                            </div>#}
                            <div class="col-xs-12 vertical-align-center">
                                <span class="name">{{ personEmployee.names }} {{ personEmployee.lastName1 }}</span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="row aportes">
                                <div class="col-md-6">
                                    <div class="col-xs-12">
                                        <h4>Pago a empleado</h4>
                                        $ {{ data['totalLiquidation']['total']|number_format }}
                                    </div>
                                    <div class="col-xs-12 payType">
                                        <strong>Medio de pago: </strong><br><span>{{ data['payMethod'].payTypePayType.name }}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h4>Aportes Seguridad Social</h4>
                                    {% if data['PILA']['total'] is defined %}
                                        $ {{ data['PILA']['total']|number_format }}
                                    {% else %}
                                        $ 0
                                    {% endif %}
                                </div>
                            </div>
                            <div class="total row-fluid clearfix">
                                <div class="col-xs-12 text-center">
                                    <h4>Pago final</h4>
                                    {% if data['payMethod'].payTypePayType.name|lower == 'en efectivo' %}
                                        {% if data['PILA']['total'] is defined %}
                                            $ {{ data['PILA']['total']|number_format }}
                                        {% else %}
                                            $ 0
                                        {% endif %}
                                    {% else %}
                                        {% if data['PILA']['total'] is defined %}
                                            $ {{ (data['totalLiquidation']['total'] + data['PILA']['total'])|number_format }}
                                        {% else %}
                                            $ {{ (data['totalLiquidation']['total'])|number_format }}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row novedades">
                                <div class="col-xs-12 text-center">
                                    <h4>Comprobante de pago</h4>
                                </div>
                                <div class="col-xs-12 text-center botones">
                                    <a class="btn btn-default btn-vouher notAjax" target="_blank" href="{{ path('payroll_voucher_to_pdf',{'idPayroll':idPayroll}) }}" value="Ver/Imprimir">Ver/Imprimir</a> <input type="button" class="btn btn-default" value="Enviar" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!--<div class="row buttons center">
            <div class="col-xs-12 center">
                <input type="button" class="btn btn-default glyphicon glyphicon-print" value="Imprimir" /> <input type="button" class="btn btn-default" value="Volver Atrás" />
            </div>
        </div>-->
    </div>
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/payroll.css') }}">
    <style type="text/css">
        .payType span{
            font-size: 12px;
        }
        .row{
            display: inline-block;
        }
        .reminder{
            margin: 10px;
            padding: 10px;
            border-top: 1px #000 dotted;
            border-bottom: 1px #000 dotted;
        }
        .row .buttons{
            display: inline;
        }
        .payroll.confirm .details{
            padding-top: 10px;
        }
        .payroll.confirm .employee h4{
            font-weight: bold;
        }
    </style>
{% endblock %}
