{% extends "::base.html.twig" %}

{% block title %}Pagar Nómina{% endblock %}

{% block fos_user_content %}
    <div class="payroll pay">
        <form method="post" action="/payroll/calculate" id="form_calculate">
            <h1>Pagar a empleados</h1>
            {% if "now"|date('j') <= 15%}
                {% set quincena = 'I (1ª Quincena)' %}
            {% else %}
                {% set quincena = 'II (2ª Quincena)' %}
            {% endif %}
            <h2>{{ "now"|date('F')|trans }} {{ "now"|date('Y') }}  {{ quincena }} </h2>
            <div class="row">
                {% for employee in employees %}
                    <input type="hidden"  name="payroll[{{ employee.idEmployerHasEmployee }}]" value="{{ payrolls[employee.idEmployerHasEmployee].idPayroll }}" >
                    <div class="col-sm-6">
                        <div class="row-fluid clearfix employee">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <img class="{{ employee.employeeEmployee.personPerson.gender == 'FEM'?'female':'male'  }}" src="{{ employee.employeeEmployee.personPerson.gender == 'FEM'?'/img/female.png':'/img/male.png'  }}" alt="Icono" height="42" width="42">
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="name">{{employee.employeeEmployee.personPerson.names}} {{employee.employeeEmployee.personPerson.lastName1}}</span>
                                    </div>
                                    <div class="col-xs-4 text-right">
                                        Pagar <input type="checkbox" class="pay" name="employee[]" value="{{employee.idEmployerHasEmployee}}" checked="checked">
                                    </div>
                                </div>
                                <div class="row aportes">
                                    <div class="col-md-4">
                                        <h4>Salario</h4>
                                        $ {{salaries[employee.idEmployerHasEmployee]|number_format}}
                                    </div>
                                    <div class="col-md-4">
                                        <h4>Aportes Seguridad Social</h4>
                                        $ {{aportes[employee.idEmployerHasEmployee]|number_format}}
                                    </div>
                                    <div class="col-md-4">
                                        <h4>Total</h4>
                                        $ {{salaries[employee.idEmployerHasEmployee]|number_format}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 detail">
                                        <div class="row-fluid">
                                            <span class="view_detail" data-employee-name="{{ employee.employeeEmployee.personPerson.names }}"  href="{{ path('payroll_detail',{'idPayroll': payrolls[employee.idEmployerHasEmployee].idPayroll}) }}">&gt; Ver detalle de la liquidación</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row novedades">
                                    <div class="col-xs-12">
                                        <h2>Novedades reportadas en este periodo</h2>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row row-centered">
                                            {% for novelty in novelties[employee.idEmployerHasEmployee] %}
                                                {% if novelty %}
                                                    <div class="col-md-4 col-centered novedad">
                                                        <div class="row-fluid clearfix">
                                                            <div class="col-xs-12">
                                                                {{novelty.noveltyTypeNoveltyType.name}} <br/>
                                                                {% if novelty.startDate is defined %}
                                                                    {{ novelty.startDate|date('d/m/Y') }}
                                                                {% endif %}
                                                                {% if novelty.duration is defined %}
                                                                    {{ novelty.duration }}
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% else %}
                                                <div class="col-xs-12 text-center">
                                                    <span style="font-size: 12px; font-style: italic;">No hay novedades reportadas para este empleado</span>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-xs-12 center">
                                        <button class="btn btn-default center btn-add-novelty" value="Agregar Novedad" data-employee-name="{{ employee.employeeEmployee.personPerson.names }}"  href="{{ path('novelty_select',{'idPayroll':payrolls[employee.idEmployerHasEmployee].idPayroll}) }}"/>Agregar Novedad</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row reminder">
                <div class="media">
                    <div class="media-left">
                        <i class="fa fa-lightbulb-o"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Importante</h4>
                        Evite cualquier inconveniente a futuro reportando las novedades a las que haya a lugar, ya sea porque afectan a la nómina o a los aportes a Seguridad Social los cuales son regulados por entidades del estado.
                    </div>
                </div>
            </div>
            <div class="row buttons">
                <div class="col-xs-12">
                    <input type="submit" id="btnCalculate" class="btn btn-default center-block" value="Cálculo final del pago" />
                </div>
            </div>
        </form>
    </div>


    <!-- Modal add novelty-->
    <div class="modal fade"  role="dialog" id="modal_add_novelty">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal-title_add_novelty"></h4>
                </div>
                <div class="modal-body" id="modal_body_add_novelty">
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Volver atrás</button>
                    <button type="button" class="btn btn-default btn-change-state-contract-confirm">Confirmar</button>-->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- Modal payroll detail-->
    <div class="modal fade"  role="dialog" id="modal_payroll_detail">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal-title_payroll_detail"></h4>
                </div>
                <div class="modal-body" id="modal_body_payroll_detail">
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Volver atrás</button>
                    <button type="button" class="btn btn-default btn-change-state-contract-confirm">Confirmar</button>-->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- Modal loader-->
    <div class="modal fade"  role="dialog" id="modal_loader">
        <div class="modal-dialog">
            <div class="modal-content">
                <img src="/img/loader.gif">

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/payroll.css') }}">
    <style type="text/css">
        .view_detail:hover{
            cursor: pointer;
            color: blue;
        }
        .reminder{
            margin: 10px;
            padding: 10px;
            border-top: 1px #000 dotted;
            border-bottom: 1px #000 dotted;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/public/js/payroll.js') }}"></script>
{% endblock %}
