{% extends "::base.html.twig" %}

{% block title %}Pagar Nómina{% endblock %}

{% block fos_user_content %}
    {% if dataNomina %}

        <div class="col-sm-12 col-xs-12 align-Resp">
            <a id="" class="btn col-sm-12 col-xs-12 blockStep inline  nav-link" href="/register/edit">
                <div id="" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">
                    <img src="/img/block-inline.png" class="center-block">
                </div>
                <div id="" class="col-md-10 col-xs-12 txt-AD1">
                    <div id="" class="text-left">
                        Pago de empleados
                        {% if "now"|date('j') <= 15%}
                            {% set quincena = '(1ª Quincena)' %}
                        {% else %}
                            {% set quincena = '(2ª Quincena)' %}
                        {% endif %}
                        <p>{{ "now"|date('F')|trans }} {{ "now"|date('Y') }}  {{ quincena }} </p>
                    </div>
                </div>
            </a>
        </div>

        <link rel="stylesheet" type="text/css" href="{{ asset('css/public/pagospage.css') }}"/>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,800,600italic,700' rel='stylesheet' type='text/css'>
        <div class="payroll pay">
            <form method="post" action="{{ path('payroll_calculate') }}" id="form_calculate">
                {% set pilaData=null %}
                <div id="cont-payment">
                    <div>
                        <div>
                            Nombre del empleado
                        </div>
                        <div>
                            Novedades
                        </div>
                        <div>
                            Valor a pagar
                        </div>
                        <div>
                            Solucionar estado de pago
                        </div>
                    </div>

                    {% for data in dataNomina %}
                        {% if data.payrollPayroll != null %}
                            <div class="borderclass">
                                <div class="tittle-pay">
                                    <div class="left light-italic">
                                      {%  set employeeName = data.payrollPayroll.contractContract.employerHasEmployeeEmployerHasEmployee.employeeEmployee.personPerson.names %}
                                      {{ employeeName }}
                                    </div>
                                    <div class="right">
                                        <label style="font-weight: 100;"><input type="radio" class="toPayArray" name="{{ data.idPurchaseOrdersDescription }}" value="p-{{ data.idPurchaseOrdersDescription }}"> Pagar </label>
                                        <label style="font-weight: 100;"><input type="radio" class="alreadyPaid" name="{{ data.idPurchaseOrdersDescription }}" value="ap-{{ data.idPurchaseOrdersDescription }}"> Ya pagué </label>
                                    </div>
                                </div>
                                <div class="height center">
                                    <div class="left borderight">
                                        <span class="semi-italic azulmediofont title-span">Novedades reportadas</span>
                                        {% if data.payrollPayroll.novelties|length > 0 %}
                                            Novedades:
                                            {%  set novelties = data.payrollPayroll.novelties %}
                                            {% for novelty in novelties %}
                                                {{ novelty.name }}
                                            {% endfor %}
                                        {% else %}
                                            <span class="grisclarofont light novelspan">No tiene novedades</span>
                                        {% endif %}
                                    </div>

                                    <div class="left">
                                        <span class="semi-italic azulmediofont title-span">Monto a pagar</span>
                                        <div class="bold precio-pay">${{ data.value }}</div>
                                    </div>
                                </div>

                            </div>

                        {% else %}
                            {%  set pilaData = data %}
                        {% endif %}
                        <br>
                    {% endfor %}
                    {% if pilaData!=null %}
                        <div class="borderclass">
                            <div class="tittle-pay">
                                  <div class="light-italic left">
                                    Pila de los empleados:
                                    {%  set payrolls = pilaData.payrollsPila %}
                                  </div>

                                <div class="right">
                                    <label style="font-weight:100"><input type="radio" class="toPayArray" name="{{ pilaData.idPurchaseOrdersDescription }}" value="p-{{ pilaData.idPurchaseOrdersDescription }}"> Pagar </label>
                                    <label style="font-weight:100"><input type="radio" class="alreadyPaid" name="{{ pilaData.idPurchaseOrdersDescription }}" value="ap-{{ pilaData.idPurchaseOrdersDescription }}"> Ya pagué </label>
                                </div>
                            </div>
                                    <div class="pila-empl title-span azulmediofont semi-italic">
                                        <ul>
                                            {% for payroll in payrolls %}
                                                <li>{{ payroll.contractContract.employerHasEmployeeEmployerHasEmployee.employeeEmployee.personPerson.names }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                            <div></div>
                            <div class="height">
                                  <div class="center borderight">
                                      <div class="center" style="padding: 10px 0 0 0">
                                        <span class="semi-italic azulmediofont">Monto a pagar<span>
                                        <span class="bold precio-pay">${{ pilaData.value }}</span>
                                      </div>
                                  </div>

                            </div>
                        </div>

                    {% endif %}
                    {% if debt|length >0 %}
                      <div class="deuda light grisclarofont">
                          <div align="center" colspan="4"> Nominas en deuda</div>
                      </div>
                    {% endif %}
                    {% for po in debt %}
                        {% set pods = po.purchaseOrderDescriptions  %}
                        {% for data in pods %}
                            {% if data.payrollPayroll != null %}
                                <div class="borderclass">
                                    <div class="tittle-pay">
                                        <div class="left light-italic">
                                            {%  set employeeName = data.payrollPayroll.contractContract.employerHasEmployeeEmployerHasEmployee.employeeEmployee.personPerson.names %}
                                            Nómina de {{ employeeName }} mes {{ data.payrollPayroll.month }}
                                        </div>
                                        <div class="right">
                                            <label style="font-weight:100"><input type="radio" class="toPayArray" name="{{ data.idPurchaseOrdersDescription }}" value="p-{{ data.idPurchaseOrdersDescription }}"> Pagar </label>
                                            <label style="font-weight:100"><input type="radio" class="alreadyPaid" name="{{ data.idPurchaseOrdersDescription }}" value="ap-{{ data.idPurchaseOrdersDescription }}"> Ya pagué </label>
                                        </div>
                                    </div>
                                        <div class="height center">
                                          <div class="left borderight">
                                              <span class="semi-italic azulmediofont title-span">Novedades reportadas</span>
                                              {% if data.payrollPayroll.novelties|length > 0 %}
                                                  Novedades:
                                                  {%  set novelties = data.payrollPayroll.novelties %}
                                                  {% for novelty in novelties %}
                                                      {{ novelty.name }}
                                                  {% endfor %}
                                              {% else %}
                                                  <span class="grisclarofont light novelspan">No tiene novedades</span>
                                              {% endif %}
                                          </div>
                                          <div class="left">
                                              <span class="semi-italic azulmediofont title-span">Monto a pagar</span>
                                              <span class="bold precio-pay">${{ data.value }}</span>
                                          </div>
                                        </div>
                                </div>

                            {% else %}
                                {%  set pilaData = data %}
                            {% endif %}
                            <br>
                        {% endfor %}
                        {% if pilaData!=null %}
                            <div class="borderclass">

                                    <div class="tittle-pay">
                                      <div class="left light-italic">
                                        Pila de los empleados mes {{ pilaData.payrollsPila.0.month }}:
                                        {%  set payrolls = pilaData.payrollsPila %}
                                      </div>
                                      <div class="right">
                                          <label style="font-weight:100"><input type="radio" class="toPayArray" name="{{ pilaData.idPurchaseOrdersDescription }}" value="p-{{ pilaData.idPurchaseOrdersDescription }}"> Pagar </label>
                                          <label style="font-weight:100"><input type="radio" class="alreadyPaid" name="{{ pilaData.idPurchaseOrdersDescription }}" value="ap-{{ pilaData.idPurchaseOrdersDescription }}"> Ya pagué </label>
                                      </div>
                                    </div>


                                    <div class="pila-empl title-span azulmediofont semi-italic">
                                          <ul>
                                              {% for payroll in payrolls %}
                                                  <li>{{ payroll.contractContract.employerHasEmployeeEmployerHasEmployee.employeeEmployee.personPerson.names }}</li>
                                              {% endfor %}
                                          </ul>
                                    </div>

                                <div></div>
                                <div class="height">
                                    <div class="center borderight">
                                      <div class="center" style="padding: 10px 0 0 0">
                                        <span class="semi-italic azulmediofont">Monto a pagar<span>
                                        <span class="bold precio-pay">${{ pilaData.value }}</span>
                                      </div>
                                    </div>

                                </div>
                            </div>

                        {% endif %}
                    {% endfor %}
                </div>

                <!--
                {# for key,data in dataNomina %}
                    {% set employerHasEmployee = data['employerHasEmployee'] %}
                    {% set employee = employerHasEmployee.employeeEmployee %}
                    {% set employer = employerHasEmployee.employerEmployer %}
                    {% set personEmployee = employee.personPerson %}
                    {% set personEmployer = employer.personPerson %}
                    {% set idPayroll = data['idPayroll']

                    <div class="row clearfix employee">
                        <div class="col-xs-12">
                            <div class="row initialDetail">
                                {#<div class="col-xs-2">
                                    <img class="{{ personEmployee.gender == 'FEM'?'female':'male'  }}" src="{{ personEmployee.gender == 'FEM'?'/img/female.png':'/img/male.png'  }}" alt="Icono" height="42" width="42">
                                </div>
                                <div class="col-xs-6">
                                    <span class="name">{{ personEmployee.names }} {{ personEmployee.lastName1 }}</span>
                                </div>
                                <div class="col-xs-2 text-left">
                                    Pagar <input type="radio" class="pay" name="payrollToPay[]" value="{{ idPayroll }}" checked="checked">
                                </div>
                                <div class="col-xs-4 text-right" style="float:right">
                                    <span class="view_detail" data-employee-name="{{ personEmployee.names }}"  href="{{ path('payroll_detail',{'idPayroll': idPayroll}) }}">Ver detalle de la liquidación</span>
                                </div>

                            </div>
                            <div class="row aportes">
                                <div class="col-md-4">
                                    <h4>Salario</h4>
                                    $ {{ data['totalLiquidation']['total']|number_format }}
                                </div>
                                <div class="col-md-4">
                                    <h4>Aportes de Seguridad Social</h4>
                                    $ {{ data['PILA']['total']|number_format }}
                                </div>
                                <div class="col-md-4">
                                    <h4>Total</h4>
                                    $ {{ (data['totalLiquidation']['total']+data['PILA']['total'])|number_format }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 detail">
                                    <div class="row-fluid">

                                    </div>
                                </div>
                            </div>
                            <div class="row novedades">
                                <div class="col-xs-12">

                                    <div class="text-left" style="width:48%;float:left">
                                        <h2>Novedades reportadas en este periodo</h2>
                                    </div>
                                    <div class="text-right" style="width:48%;float:right;margin:5px 18px 0 0;">
                                        <button class="btn center btn-add-novelty" value="Agregar Novedad" data-employee-name="{{ personEmployee.names }}"  href="{{ path('novelty_select',{'idPayroll':data['idPayroll']}) }}"/>Agregar Novedad</button>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="row row-centered">
                                        {% if novelties[idPayroll] is defined %}
                                            {% for novelty in novelties[idPayroll] %}
                                                {% if novelty['CON_CODIGO_DETAIL'] is defined %}
                                                    <div class="col-md-4 col-centered novedad">
                                                        <div class="col-xs-12">
                                                            <b>{{ novelty['CON_CODIGO_DETAIL']['name'] }}</b>
                                                        </div>
                                                        <div class="col-xs-12">
                                                            {{ novelty['NOMI_FECHA_NOV']|date('d/m/Y') }}
                                                        </div>
                                                        <div class="col-xs-12">
                                                            {{ novelty['NOMI_UNIDADES'] }} {{ novelty['CON_CODIGO_DETAIL']['period'] }}(s)
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <div class="col-xs-12 text-center">
                                                <span style="font-size: 12px; font-style: italic;">No hay novedades reportadas para este empleado</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-xs-12 center">

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}#}
                -->
                <div class="row importante">
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-lightbulb-o"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading azulmediofont bold">Importante</h4>
                            <p class="light grisclarofont">Evite cualquier inconveniente a futuro reportando las novedades a las que haya a lugar, ya sea porque afectan a la nómina o a los aportes a Seguridad Social los cuales son regulados por entidades del estado.</p>
                        </div>
                    </div>
                </div>
                <div class="row buttons">
                    <div class="col-xs-12">
                        <input type="submit" id="btnCalculate" class="btn btn-symplifica center-block" value="Cálculo final del pago" />
                    </div>
                </div>
            </form>
        </div>
    {% else %}
        <div style="clear: both;height: 60px;"></div>
        <div class="nopagospen">
            <img src="{{ asset('img/noerror.png') }}"/>
            <h1>No hay pagos de nómina pendientes</h1>
        </div>
    {% endif %}



    <!-- Modal add novelty-->

    <div id="modal_add_novelty_test">

    </div>
    <div class="modal fade"  role="dialog" id="modal_add_novelty">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal-title_add_novelty"></h4>
                </div>
                <div class="modal-body" id="modal_body_add_novelty">
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Volver atrás</button>
                    <button type="button" class="btn btn-default btn-change-state-contract-confirm">Confirmar</button>-->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- Modal payroll detail-->
    <div class="modal fade"  role="dialog" id="modal_payroll_detail">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal-title_payroll_detail"></h4>
                </div>
                <div class="modal-body" id="modal_body_payroll_detail">
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Volver atrás</button>
                    <button type="button" class="btn btn-default btn-change-state-contract-confirm">Confirmar</button>-->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- Modal loader-->
    <div class="modal fade"  role="dialog" id="modal_loader">
        <div class="modal-dialog">
            <div class="modal-content">
                <img src="/img/loader.gif">

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/payroll.css') }}">
    <style type="text/css">
        .view_detail:hover{
            cursor: pointer;
            color: blue;
        }
        .reminder{
            margin: 10px;
            padding: 10px;
            border-top: 1px #000 dotted;
            border-bottom: 1px #000 dotted;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/public/js/payroll.js') }}"></script>
{% endblock %}
