{% extends "::base.html.twig" %}

{% block title %}Pagar Nómina{% endblock %}

{% block fos_user_content %}
    <!-- INTERCOM SESSION START-->
    <script>
        window.intercomSettings = {
            app_id: "mydavhzb",
            name: '{{ app.user.username }}', // Full name
            email: '{{ app.user.email }}', // Email address
            created_at: {{ app.user.dateCreated|date("U") }}, // Signup date as a Unix timestamp
        };
    </script>
    <script>
        (function(){
                    var w=window;
                    var ic=w.Intercom;
                    if(typeof ic==="function"){
                        ic('reattach_activator');
                        ic('update',intercomSettings);
                    }else{
                        var d=document;
                        var i=function(){
                            i.c(arguments)
                        };
                        i.q=[];
                        i.c=function(args){i.q.push(args)};
                        w.Intercom=i;
                        function l(){
                            var s=d.createElement('script');
                            s.type='text/javascript';
                            s.async=true;
                            s.src='https://widget.intercom.io/widget/mydavhzb';
                            var x=d.getElementsByTagName('script')[0];
                            x.parentNode.insertBefore(s,x);
                        }
                        if(w.attachEvent){
                            w.attachEvent('onload',l);
                        }else{
                            w.addEventListener('load',l,false);
                        }
                    }
                }
        )()
    </script>
    <script>
        window.Intercom("trackEvent", "payroll");
    </script>

    <!-- INTERCOM SESSION END-->
    {% if flagAtLeastOne == "true" or dataNomina!=null or debt|length != 0  %}
        {% if dataNomina or debt|length > 0 %}

            <!-- <div class="col-sm-12 col-xs-12 align-Resp">
                <a id="" class="btn col-sm-12 col-xs-12 blockStep inline  nav-link" href="/register/edit">
                    <div id="" class="col-md-2 col-xs-2 txt-AD0" style="text-align: left;">
                        <img src="/img/block-inline.png" class="center-block">
                    </div>
                    <div id="" class="col-md-10 col-xs-10 txt-AD1">
                        <div id="" class="text-left">
                            Pago a empleados
                            {% if "now"|date('j') <= 15%}
                                {% set quincena = '(1ª Quincena)' %}
                            {% else %}
                                {% set quincena = '(2ª Quincena)' %}
                            {% endif %}
                            <p>{{ "now"|date('F')|trans }} {{ "now"|date('Y') }}  {{ quincena }} </p>
                        </div>
                    </div>
                </a>
            </div> -->
            <div>
                <div class="col-sm-12 col-xs-12 align-Resp azulclaro">
                    <div id="" class=" col-sm-12 col-xs-12 blockStep inline  nav-link" >
                        <div id="" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">
                             <img src="/img/block-inline.png" class="center-block">
                        </div>
                        <div id="" class="col-md-10 col-xs-12">
                            <div id="" class="text-left">
                                <h1 style="color:#FFF;margin:25px 0 0;font-size:25px" class="bold">Pago a empleados</h1>
                                <span clas="light" style="color:#FFF;margin:0;font-weight:100;font-size:20px">
                                  {% if "now"|date('j') <= 15%}
                                      {% set quincena = '(1ª Quincena)' %}
                                  {% else %}
                                      {% set quincena = '(2ª Quincena)' %}
                                  {% endif %}
                                  <p>{{ "now"|date('F')|trans }} {{ "now"|date('Y') }}  {{ quincena }} </p>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <link rel="stylesheet" type="text/css" href="{{ asset('css/public/pagospage.css') }}"/>
            <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,800,600italic,700' rel='stylesheet' type='text/css'>
            <div id="agregarNovedad"></div>
            <div id="cambiarDias"></div>
            <div id="SQLNovelties"></div>

            <div class="payroll pay">
                <form method="post" action="{{ path('payroll_calculate') }}" id="form_calculate">
                    {% set pilaData=null %}
                    <div id="cont-payment">
                      {% set titleIndex = false %}
                        {% for data in dataNomina %}
                            {% if data.payroll_payroll != null %}
                                {% set employee = data.payroll_payroll.contract_contract.employer_has_employee_employer_has_employee.employee_employee.person_person %}
                                {% set payType = data.payroll_payroll.contract_contract.pay_method_pay_method.pay_type_pay_type.payroll_code %}
                                {% set employeeName = employee.names ~' '~ employee.last_name1 %}
                                {% set id_payroll = data.payroll_payroll.id_payroll %}
                                {% if titleIndex == false %}
                                  <div class="deuda light grisclarofont">
                                      <div align="center" colspan="4">Pago de nómina</div>
                                  </div>
                                  {% set titleIndex = true %}
                                {% endif %}
                                <div class="borderclass">
                                    <div class="tittle-pay nominaBack">
                                        <div class="pagoforma">

                                            {% if payType != 'EFE' %}
                                                <label style="font-weight: 100;"><input type="radio" class="toPayArray"
                                                                                        name="{{ data.id_purchase_orders_description }}"
                                                                                        value="p-{{ data.id_purchase_orders_description }}">
                                                    Pagar </label>
                                                <label style="font-weight: 100;margin-left: 15px;"><input type="radio"
                                                                                                          class="alreadyPaid"
                                                                                                          name="{{ data.id_purchase_orders_description }}"
                                                                                                          value="ap-{{ data.id_purchase_orders_description }}">
                                                    Pagaré fuera de la plataforma </label>
                                            {% else %}
                                                <label style="font-weight: 100;margin-left: 15px;"><input type="radio"
                                                                                                          class="alreadyPaid"
                                                                                                          name="{{ data.id_purchase_orders_description }}"
                                                                                                          value="ap-{{ data.id_purchase_orders_description }}">
                                                    Pago en efectivo - Generar comprobante </label>
                                            {% endif %}

                                        </div>

                                        {% if data.payroll_payroll.contract_contract.time_commitment_time_commitment.code == "XD" %}
                                            <div class="numerodias light-italic">
                                                {% if data.payroll_payroll.sql_novelties|length > 0 %}
                                                    {% set novelties = data.payroll_payroll.sql_novelties %}
                                                    {% for novelty in novelties if (novelty.novelty_type_novelty_type.payroll_code == 1 and novelty.sql_nov_consec != "") %}
                                                        Días trabajados este mes: <span class="diasMes">{{ novelty.units }}</span>
                                                        <a class="notAjax workedDays btn-xs" href="/novelty/workableDays/{{ novelty.id_novelty }}">
                                                            <span class="editarDias">&#10095; Editar</span></a>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        {% endif %}

                                    </div>
                                    <div class="datadesc nominaBorder col-sm-12">
                                        <div class="col-md-4 col-sm-12 col-xs-12">
                                            <h2 class="h2">{{ employeeName }}</h2>
                                            <span><a class="notAjax addNovelty btn-xs btn-lightBlue" href="/novelty/select/{{ id_payroll }}">Agregar novedad</a></span>
                                        </div>
                                        <div class="col-md-2 col-sm-3 col-xs-6 col3">
                                            <p>Novedades</p>
                                            <h2 class="h2">{{ data.payroll_payroll.novelties|length }}</h2>
                                        </div>
                                        {% set total = 0 %}
                                        {% set dev = 0 %}
                                        {% set ded = 0 %}
                                        {% set deducidos = [] %}
                                        {% set devengados = [] %}
                                        {% for nov in data.payroll_payroll.sql_novelties %}
                                            {% if nov.novelty_type_novelty_type.naturaleza=="DEV" %}
                                                {% set total = total + nov.sql_value %}
                                                {% set dev = dev + nov.sql_value %}
                                                {% set devengados = devengados|merge([nov]) %}
                                            {% else %}
                                                {% set total = total + nov.sql_value %}
                                                {% set ded = ded +  nov.sql_value %}
                                                {% set deducidos = deducidos|merge([nov]) %}
                                            {% endif %}
                                        {% endfor %}
                                        <div class="col-md-2 col-sm-3 col-xs-6 col3">
                                            <p>Ingresos</p>
                                            <h2 class="h2">${{ dev|number_format(0, '.', ',')  }}</h2>
                                        </div>
                                        <div class="col-md-2 col-sm-3 col-xs-6 col3">
                                            <p>Deducciones</p>
                                            <h2 class="h2">${{ ded|number_format(0, '.', ',')  }}</h2>
                                        </div>
                                        <div class="col-md-2 col-sm-3 col-xs-6 col3">
                                            <p>Total</p>
                                            <h2 class="h2">${{ data.value|number_format(0, '.', ',') }}</h2>
                                            <span style="color:#5D5D5D;font-weight: 600;font-size:13px" class="notAjax" data-toggle="modal" data-target="#detailModal{{ loop.index }}" >&#10093; Detalles</span>
                                        </div>
                                        <div class="modal fade" id="detailModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title bold azulmediofont" id="myModalLabel">Detalles</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                      <div class="left">
                                                        <h4 class="bold azulmediofont">Devengados</h4>
                                                        {% for dev in devengados %}
                                                            <p><strong>{{ dev.novelty_type_novelty_type.name }}</strong> ${{ dev.sql_value|number_format(0, '.', ',')  }}</p>
                                                        {% endfor %}
                                                      </div>
                                                      <div class="right">
                                                        <h4 class="bold azulmediofont">Deducidos</h4>
                                                        {% for ded in deducidos %}
                                                            <p><strong>{{ ded.novelty_type_novelty_type.name }}</strong> ${{ ded.sql_value|number_format(0, '.', ',')  }}</p>
                                                        {% endfor %}
                                                      </div>
                                                    </div>
                                                    <div class="modal-footer" style="clear:both">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="height center col-sm-12">
                                        <div class="left borderight">
                                            <span class="semi-italic azulmediofont title-span">Novedades reportadas
                                            {% if data.payroll_payroll.novelties|length > 0 %}
                                                Novedades:
                                                {% set novelties = data.payroll_payroll.novelties %}
                                                {% for novelty in novelties %}
                                                    </br>{{ novelty.name }}
                                                {% endfor %}
                                            {% else %}
                                                <a class="grisclarofont light novelspan">No tiene novedades</a>
                                            {% endif %}
                                        </div>

                                        <div class="left">
                                            <span class="semi-italic azulmediofont title-span">Monto a pagar</span>
                                            <div class="bold precio-pay">
                                                ${{ data.value|number_format(0, '.', ',') }}</div>
                                        </div>
                                    </div>
                                    <div class="center" style="clear: both;background: #CCC;padding: 10px 0;">
                                        <span style="color:#5D5D5D;font-weight: 600" class="notAjax showDetails" href="/payroll/show/details/{{ id_payroll }}">&#10093; Detalles</span>
                                    </div>-->
                                </div>

                            {% else %}
                                {% if pilaData!=null %}
                                    {% set pilaData = pilaData|merge([data]) %}
                                {% else %}
                                    {% set pilaData = [data] %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if pilaData!=null %}
                            {% set titleIndexPila = false %}
                            {% for dataPila in pilaData %}
                                <div class="deuda light grisclarofont">
                                    {% if titleIndexPila == false %}
                                      <div align="center" colspan="4">Pago de aportes</div>
                                      {% set titleIndexPila = true %}
                                    {% endif %}
                                    {% set payrolls = dataPila.payrolls_pila %}
                                </div>
                                <div class="borderclass">
                                    <div class="tittle-pay-aportes">
                                        <div class="pagoforma">
                                            <label style="font-weight:100"><input type="radio" class="toPayArray"
                                                                                  name="{{ dataPila.id_purchase_orders_description }}"
                                                                                  value="p-{{ dataPila.id_purchase_orders_description }}">
                                                Pagar </label>
                                            {#<label style="font-weight:100;margin-left: 15px;"><input type="radio"
                                                                                                     class="alreadyPaid"
                                                                                                     name="{{ dataPila.id_purchase_orders_description }}"
                                                                                                     value="ap-{{ dataPila.id_purchase_orders_description }}">
                                                Pagaré fuera de la plataforma </label>#}
                                        </div>
                                    </div>
                                    <div class="datadesc aportesBorder col-sm-12">
                                        <div class="col-sm-6 title-span pila-empl azulmediofont bold">
                                            <ul>
                                                {% for payroll in payrolls %}
                                                    {% set employeePP = payroll.contract_contract.employer_has_employee_employer_has_employee.employee_employee.person_person %}
                                                    <li>{{ employeePP.names ~' '~ employeePP.last_name1 }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="col-sm-6">
                                            <p>Total</p>
                                            <h2 class="h2">${{ dataPila.value|number_format(0, '.', ',') }}</h2>
                                            {# <span style="color:#5D5D5D;font-weight: 600;font-size:14px" class="notAjax showDetails" href="#">&#10093; Detalles</span> #}
                                        </div>
                                    </div>
                                    {#<div class="center" style="clear: both;background: #CCC;padding: 10px 0;">#}
                                    {#<a style="color:#5D5D5D;font-weight: 600" class="notAjax" href="">&#10093; Detalles</a>#}
                                    {#</div>#}
                                </div>
                            {% endfor %}

                        {% endif %}
                        {% if debt|length >0 %}
                        <!--<div class="deuda light grisclarofont">
                            <div align="center" colspan="4"> Nominas en deuda</div>
                        </div>-->
                        {% endif %}
                        {% set titleIndexDebt = false %}
                        {% for po in debt %}
                            {% set pods = po.purchase_order_descriptions %}
                            {% set pilaData=null %}
                            {% for data in pods %}
                                {% if data.product_product.simple_name == "PN" %}
                                    {% if titleIndexDebt == false %}
                                      <div class="deuda light grisclarofont">
                                          <div align="center" colspan="4">Nóminas Pendientes</div>
                                      </div>
                                      {% set titleIndexDebt = true %}
                                    {% endif %}
                                    <div class="borderclass">
                                        <div class="tittle-pay moraNomina">
                                            {% set employee = data.payroll_payroll.contract_contract.employer_has_employee_employer_has_employee.employee_employee.person_person %}
                                            {% set employeeName = employee.names ~' '~ employee.last_name1 %}
                                            {% set payType = data.payroll_payroll.contract_contract.pay_method_pay_method.pay_type_pay_type.payroll_code %}
                                            <div class="center">
                                                {% if payType != 'EFE' %}
                                                    <label style="font-weight: 100;"><input type="radio" class="toPayArray"
                                                                                            name="{{ data.id_purchase_orders_description }}"
                                                                                            value="p-{{ data.id_purchase_orders_description }}">
                                                        Pagar </label>
                                                    <label style="font-weight: 100;margin-left: 15px;"><input type="radio"
                                                                                                              class="alreadyPaid"
                                                                                                              name="{{ data.id_purchase_orders_description }}"
                                                                                                              value="ap-{{ data.id_purchase_orders_description }}">
                                                        Pagaré fuera de la plataforma </label>
                                                {% else %}
                                                    <label style="font-weight: 100;margin-left: 15px;"><input type="radio"
                                                                                                              class="alreadyPaid"
                                                                                                              name="{{ data.id_purchase_orders_description }}"
                                                                                                              value="ap-{{ data.id_purchase_orders_description }}">
                                                        Pago en efectivo - Generar comprobante </label>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="datadesc moraNominaBorder col-sm-12">
                                            <div class="col-sm-4">
                                                <h2 class="h2">{{ employeeName }}<br />
                                                    {{ utils.period_number_to_name(data.payroll_payroll.period) }} {{ utils.month_number_to_name(data.payroll_payroll.month) }}</h2>
                                            </div>
                                            <div class="col-sm-2">
                                                <p>Novedades</p>
                                                <h2 class="h2">{{ data.payroll_payroll.novelties|length }}</h2>
                                            </div>
                                            {% set total = 0 %}
                                            {% set dev = 0 %}
                                            {% set ded = 0 %}
                                            {% set deducidos = [] %}
                                            {% set devengados = [] %}
                                            {% for nov in data.payroll_payroll.sql_novelties %}
                                                {% if nov.novelty_type_novelty_type.naturaleza=="DEV" %}
                                                    {% set total = total + nov.sql_value %}
                                                    {% set dev = dev + nov.sql_value %}
                                                    {% set devengados = devengados|merge([nov]) %}
                                                {% else %}
                                                    {% set total = total + nov.sql_value %}
                                                    {% set ded = ded +  nov.sql_value %}
                                                    {% set deducidos = deducidos|merge([nov]) %}
                                                {% endif %}
                                            {% endfor %}
                                            <div class="col-sm-2">
                                                <p>Ingresos</p>
                                                <h2 class="h2">${{ dev|number_format(0, '.', ',')  }}</h2>
                                            </div>
                                            <div class="col-sm-2">
                                                <p>Deducciones</p>
                                                <h2 class="h2">${{ ded|number_format(0, '.', ',')  }}</h2>
                                            </div>
                                            <div class="col-sm-2">
                                                <p>Total</p>
                                                <h2 class="h2">${{ data.value|number_format(0, '.', ',') }}</h2>
                                                <span style="color:#5D5D5D;font-weight: 600;font-size:14px" class="notAjax" data-toggle="modal" data-target="#detailDebtModal{{ loop.parent.loop.index }}{{ loop.index }}" >&#10093; Detalles</span>
                                            </div>
                                            <div class="modal fade" id="detailDebtModal{{ loop.parent.loop.index }}{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keyboard="false" data-backdrop="static">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title" id="myModalLabel">Detalles</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h4>Devengados<br/></h4>
                                                            {% for dev in devengados %}
                                                                {{ dev.novelty_type_novelty_type.name }} ${{ dev.sql_value|number_format(0, '.', ',')  }} <br/>
                                                            {% endfor %}
                                                            <h4>Deducidos<br/></h4>
                                                            {% for ded in deducidos %}
                                                                {{ ded.novelty_type_novelty_type.name }} ${{ ded.sql_value|number_format(0, '.', ',')  }} <br/>
                                                            {% endfor %}

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--<div class="height center">
                                            <div class="left borderight">
                                                <span class="semi-italic azulmediofont title-span">Novedades reportadas</span>
                                                {% if data.payroll_payroll.novelties|length > 0 %}
                                                    Novedades:
                                                    {% set novelties = data.payroll_payroll.novelties %}
                                                    {% for novelty in novelties %}
                                                        {{ novelty.name }}
                                                    {% endfor %}
                                                {% else %}
                                                    <span class="grisclarofont light novelspan">No tiene novedades</span>
                                                {% endif %}
                                            </div>
                                            <div class="left">
                                                <span class="semi-italic azulmediofont title-span">Monto a pagar</span>
                                                <span class="bold precio-pay">${{ data.value|number_format(0, '.', ',') }}</span>
                                            </div>
                                        </div>
                                        <div class="center" style="clear: both;background: #CCC;padding: 10px 0;">
                                            <a style="color:#5D5D5D;font-weight: 600" class="notAjax" href="">&#10093; Detalles</a>
                                        </div>-->
                                    </div>
                                {% elseif data.product_product.simple_name == "PRM"  %}
                                    <div class="deuda light grisclarofont">
                                        <div align="center" colspan="4">Primas Pendientes por Pagar</div>
                                    </div>
                                    <div class="borderclass">

                                        <div class="aportesFecha light">
                                            Prima del mes de Diciembre
                                            {% set payType = data.prima.contract_contract.pay_method_pay_method.pay_type_pay_type.payroll_code %}
                                            <div class="center">
                                                {% if payType != 'EFE' %}
                                                    <label style="font-weight: 100;"><input type="radio" class="toPayArray"
                                                                                            name="{{ data.id_purchase_orders_description }}"
                                                                                            value="p-{{ data.id_purchase_orders_description }}">
                                                        Pagar </label>
                                                    <label style="font-weight: 100;margin-left: 15px;"><input type="radio"
                                                                                                              class="alreadyPaid"
                                                                                                              name="{{ data.id_purchase_orders_description }}"
                                                                                                              value="ap-{{ data.id_purchase_orders_description }}">
                                                        Pagaré fuera de la plataforma </label>
                                                {% else %}
                                                    <label style="font-weight: 100;margin-left: 15px;"><input type="radio"
                                                                                                              class="alreadyPaid"
                                                                                                              name="{{ data.id_purchase_orders_description }}"
                                                                                                              value="ap-{{ data.id_purchase_orders_description }}">
                                                        Pago en efectivo - Generar comprobante </label>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="datadesc moraNominaBorder col-sm-12">
                                            <div class="col-sm-10 title-span pila-empl azulmediofont bold">

                                            </div>
                                            <div class="col-sm-2">
                                                <p>Total</p>
                                                <h2 class="h2">${{ data.value|number_format(0, '.', ',') }}</h2>
                                            </div>
                                        </div>
                                    </div>
                                {% elseif data.product_product.simple_name == "SVR"  %}
                                    <div class="deuda light grisclarofont">
                                        <div align="center" colspan="4">Cesantías Pendientes por Pagar</div>
                                    </div>
                                    <div class="borderclass">
                                        <div class="tittle-pay moraNomina">
                                            <div class="pagoforma">
                                                <label style="font-weight:100"><input type="radio" class="toPayArray"
                                                                                      name="{{ data.id_purchase_orders_description }}"
                                                                                      value="p-{{ data.id_purchase_orders_description }}">
                                                    Pagar </label>
                                            </div>
                                        </div>
                                        <div class="aportesFecha light">
                                            Cesantías a pagar en el año {{ data.severance.year }}:
                                            {% set contracts = data.severance.contracts %}
                                        </div>
                                        <div class="datadesc moraNominaBorder col-sm-12">
                                            <div class="col-sm-10 title-span pila-empl azulmediofont bold">
                                                <ul>
                                                    {% for contract in contracts %}
                                                        {% set employeePP = contract.employer_has_employee_employer_has_employee.employee_employee.person_person %}
                                                        <li>{{ employeePP.names ~' '~ employeePP.last_name1 }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="col-sm-2">
                                                <p>Total</p>
                                                <h2 class="h2">${{ data.value|number_format(0, '.', ',') }}</h2>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    {% if data.product_product.simple_name == "PP" %}
                                        {% set pilaData = data %}
                                    {% endif %}

                                {% endif %}
                            {% endfor %}
                            {% if pilaData!=null %}
                                <div class="deuda light grisclarofont">
                                    <div align="center" colspan="4">Aportes Pendientes por Pagar</div>
                                </div>
                                <div class="borderclass">
                                    <div class="tittle-pay moraNomina">
                                        <div class="pagoforma">
                                            <label style="font-weight:100"><input type="radio" class="toPayArray"
                                                                                  name="{{ pilaData.id_purchase_orders_description }}"
                                                                                  value="p-{{ pilaData.id_purchase_orders_description }}">
                                                Pagar </label>
                                            {#<label style="font-weight:100;margin-left: 15px;"><input type="radio"
                                                                                                     class="alreadyPaid"
                                                                                                     name="{{ pilaData.id_purchase_orders_description }}"
                                                                                                     value="ap-{{ pilaData.id_purchase_orders_description }}">
                                                Pagaré fuera de la plataforma </label>#}
                                        </div>
                                    </div>
                                    <div class="aportesFecha light">
                                        Aportes a seguridad social mes {{ utils.month_number_to_name(pilaData.payrolls_pila.0.month) }}:
                                        {% set payrolls = pilaData.payrolls_pila %}
                                    </div>
                                    <div class="datadesc moraNominaBorder col-sm-12">
                                        <div class="col-sm-10 title-span pila-empl azulmediofont bold">
                                            <ul>
                                                {% for payroll in payrolls %}
                                                    {% set employeePP = payroll.contract_contract.employer_has_employee_employer_has_employee.employee_employee.person_person %}
                                                    <li>{{ employeePP.names ~' '~ employeePP.last_name1 }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="col-sm-2">
                                            <p>Total</p>
                                            <h2 class="h2">${{ pilaData.value|number_format(0, '.', ',') }}</h2>
                                            {#<span style="color:#5D5D5D;font-weight: 600;font-size:14px" class="notAjax showDetails" href="">&#10093; Detalles</span>#}
                                        </div>
                                    </div>
                                    <!--<div class="height">
                                        <div class="title-span pila-empl left azulmediofont semi-italic">
                                            <ul>
                                                {% for payroll in payrolls %}
                                                    {% set employeePP = payroll.contract_contract.employer_has_employee_employer_has_employee.employee_employee.person_person %}
                                                    <li>{{ employeePP.names ~' '~ employeePP.last_name1 }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>

                                        <div class="right" style="border-left: 1px #CCC solid;">
                                            <div class="center borderight">
                                                <div class="center">
                                                    <span class="title-span semi-italic azulmediofont">Monto a pagar</span>
                                                    <span class="bold precio-pay">${{ pilaData.value|number_format(0, '.', ',') }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="center" style="clear: both;background: #CCC;padding: 10px 0;">
                                        <a style="color:#5D5D5D;font-weight: 600" class="notAjax" href="">&#10093; Detalles</a>
                                    </div>-->
                                </div>

                            {% endif %}
                        {% endfor %}
                    </div>{#
                    <div class="row border1">
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-lightbulb-o"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading azulmediofont bold">Pagaré fuera de la plataforma*</h4>
                                <p class="light grisclarofont">Selecciona esta opción se pagarás en efectivo o desde tu cuenta débito.</p>
                            </div>
                        </div>
                    </div>#}
                    <div class="row importante">
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-lightbulb-o"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading azulmediofont bold">¡Recuerda!</h4>
                                <p class="light grisclarofont">Es importante que reportes novedades de nómina para que
                                    los aportes
                                    y liquidación de tus empleados sean reales y así evites posibles contratiempos con
                                    ellos o con las entidades de seguridad social.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row buttons">
                        <div class="col-xs-12 center">
                            <input type="submit" id="btnCalculate" class="btn btn-symplifica"
                                   value="Cálculo final del pago"/>
                        </div>
                    </div>
                    <!-- INTERCOM TRACK EVENT PAGO-->
                    <script>
                        jQuery(document).ready(function () {
                            $('#btnCalculate').on("click",function () {
                                window.Intercom("trackEvent", "Pago");
                            });
                        });
                    </script>
                    <!-- IINTERCOM TRACK EVENT END-->
                </form>
            </div>

        {% else %}
            <link rel="stylesheet" type="text/css" href="{{ asset('/../css/pantallas.css') }}"/>
            <div>
                <div class="col-sm-12 col-xs-12 align-Resp azulclaro">
                    <div id="" class=" col-sm-12 col-xs-12 blockStep inline  nav-link" >
                        <div id="" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">
                             <img src="/img/block-inline.png" class="center-block">
                        </div>
                        <div id="" class="col-md-10 col-xs-12">
                            <div id="" class="text-left">
                                <h1 style="color:#FFF;margin:25px 0 0;font-size:25px" class="bold">Pago a empleados</h1>
                                <span clas="light" style="color:#FFF;margin:0;font-weight:100;font-size:20px">No tienes pagos pendientes</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear: both;height: 60px;"></div>
            <div id="cont-succesdocs">
              <div id="texto-succesdocs">
                    <div id="pagoadelantado">
                        <div id="contenidopagoadelando">
                            <img src="{{ asset('/public/img/landing/benefit3.png') }}" width="80px" height="auto"><br /><br />
                            <h2 class="h2 light grisclarofont">No tienes pagos pendientes</h2>
                            <h1 class="azulclarofont bold centrar">¿Puedo realizar adelantos en efectivo?</h1>
                            <p class="light grisclarofont">Sí, sólo debes dar clic en botón de abajo o dirigirte al menú
                                sección de empleados y reportar la novedad de <strong>“Prestamos o anticipos”</strong></p>
                            <a href="/manage/employees">
                                <div class="light btn-azulnopagos">Reportar novedad</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ asset('/../css/pantallas.css') }}"/>
        <div>
            <div class="col-sm-12 col-xs-12 align-Resp azulclaro">
                <div id="" class=" col-sm-12 col-xs-12 blockStep inline  nav-link" >
                    <div id="" class="col-md-2 col-xs-12 txt-AD0" style="text-align: left;">
                         <img src="/img/block-inline.png" class="center-block">
                    </div>
                    <div id="" class="col-md-10 col-xs-12">
                        <div id="" class="text-left">
                            <h1 style="color:#FFF;margin:25px 0 0;font-size:25px" class="bold">Pago a empleados</h1>
                            <span clas="light" style="color:#FFF;margin:0;font-weight:100;font-size:20px">No tienes pagos pendientes</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear: both;height: 60px;"></div>
        <div id="cont-succesdocs">
            <div id="texto-succesdocs">
                <div id="pagoadelantado">
                    <div id="contenidopagoadelando">
                        <img src="{{ asset('/public/img/home/icon6.png') }}" width="100px" height="auto">
                        <h1 class="azulclarofont bold centrar">Estamos en proceso de validación</h1>
                        <p style="font-size: 18px;" class="light grisclarofont">Tus empleados están en proceso de
                            validación. ¡Pronto podrás pagar la nómina de tus empleados aquí!</p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}



    <!-- Modal add novelty-->

    <div id="modal_add_novelty_test">

    </div>
    <div class="modal fade" role="dialog" id="modal_add_novelty">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal-title_add_novelty"></h4>
                </div>
                <div class="modal-body" id="modal_body_add_novelty">
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Volver atrás</button>
                    <button type="button" class="btn btn-default btn-change-state-contract-confirm">Confirmar</button>-->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- Modal payroll detail-->
    <div class="modal fade" role="dialog" id="modal_payroll_detail">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal-title_payroll_detail"></h4>
                </div>
                <div class="modal-body" id="modal_body_payroll_detail">
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Volver atrás</button>
                    <button type="button" class="btn btn-default btn-change-state-contract-confirm">Confirmar</button>-->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- Modal loader-->
    <div class="modal fade" role="dialog" id="modal_loader">
        <div class="modal-dialog">
            <div class="modal-content">
                <img src="/img/loader.gif">

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/payroll.css') }}">
    <style type="text/css">
        .view_detail:hover {
            cursor: pointer;
            color: blue;
        }

        .reminder {
            margin: 10px;
            padding: 10px;
            border-top: 1px #000 dotted;
            border-bottom: 1px #000 dotted;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/public/js/payroll.js') }}"></script>
{% endblock %}
