<!--button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#noveltyModal">Agregar Novedad</button>

	<!-- Modal -->
<div id="modal_show_SQLNovelties_details" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="padding: 0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute; right: 15px; top: 15px;z-index: 100; color: #fff;"><span aria-hidden="true">&times;</span></button>
                <div class="row-fluid block-Intro-green clearfix" id="msgSinVerificar1" style="margin-top: 0;">
                    <div class="col-sm-12 col-xs-12 up-Intro" style="font-size: 26px;">Detalles de nómina</div>
                </div>
                <div class="row-fluid clearfix cuerpoNovelty center" style="padding: 30px;">
                    {% if novelties is defined %}
                        <div><h2><strong>Detalles del costo</strong></h2></div>
                        <div class="row">
                            <div class="row" style="font-size: 24px;text-align: left;margin-left: 20px"><strong>Devengos</strong></div>
                            <div class="row">
                            {% for nov in novelties %}
                                {% if nov.noveltyTypeNoveltyType.naturaleza == 'DEV' %}
                                    <div class="col-md-5" style="font-size: 18px;margin-left: 20px; text-align: left"><strong>{{  nov.name }}</strong></div><div class="col-md-5" style="font-size: 18px;margin-right: 20px;text-align: right">${{ nov.sqlValue|number_format(0, '.', ',') }}</div>
                                {% endif %}
                            {% endfor %}
                            <div class="col-md-5" style="font-size: 22px; text-align: left; margin-left: 20px;"><strong>Total</strong></div><div class="col-md-5" style="font-size: 22px;margin-right: 20px;text-align: right"><strong>${{ dev|number_format(0, '.', ',') }}</strong></div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="row" style="font-size: 24px;text-align: left;margin-left: 20px;"><strong>Deducciones</strong></div>
                            <div class="row">
                            {% for nov in novelties %}
                                    {% if nov.noveltyTypeNoveltyType.naturaleza == 'DED' %}
                                        <div class="col-md-5" style="font-size: 18px;margin-left: 20px; text-align: left"><strong>{{  nov.name }}</strong></div><div class="col-md-5" style="font-size: 18px;margin-right: 20px;text-align: right">${{ nov.sqlValue|number_format(0, '.', ',') }}</div>
                                    {% endif %}
                            {% endfor %}
                            <div class="col-md-5" style="font-size: 22px; text-align: left; margin-left: 20px;"><strong>Total</strong></div><div class="col-md-5" style="font-size: 22px;margin-right: 20px;text-align: right"><strong>${{ ded|number_format(0, '.', ',') }}</strong></div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-5" style="font-size: 25px; text-align: left"><strong>Neto a pagar</strong></div><div class="col-md-5" style="font-size: 25px;text-align: right"><strong>${{ total|number_format(0, '.', ',') }}</strong></div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div>
                            <button type="button" class="btn btnPrevious" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
