{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}{% autoescape false %}{{ subject }}{% endautoescape %}{% endblock %}
{% block body_text %}
    {% autoescape false %}
        &#161;Ayuda&#33;
        {{ name }} Tiene una duda sobre {{ subject }}
    {% endautoescape %}
{% endblock %}
{% block body_html %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700" rel="stylesheet" type="text/css">
<title>Seccion de ayuda symplifica</title>
<style type="text/css">
  @media only screen and (max-width: 480px) {
    table {width: 100% !important}
  }
</style>
</head>
<body style="margin: 0; padding: 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="900" style="border-collapse: collapse;">
        <tr>
            <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr><!--espacios-->
                    <tr>
                        <td align="center" style="font-family: 'Open Sans', sans-serif; font-weight: 600; font-size: 20px;color:#858789">
                            {{ subject }}
                        </td>
                    </tr>
                     <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr><!--espacios-->
                    <tr>
                        <td style="font-family: 'Open Sans', sans-serif; font-weight: 600; font-style:italic; font-size: 20px;color:#858789">
                            {{ message }}
                        </td>
                    </tr>
                    <tr><td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td></tr><!--espacios-->
                    <tr>
                        <td style="font-family: 'Open Sans', sans-serif; font-weight: 500; font-size: 15px;color:#5D5D5D">
                            Mensaje Enviado desde la zona de ayuda de Symplifica.<br>
                            Nombre: {{ name }}<br>
                            IP: {{ ip }}<br>
                            Email: {{ fromEmail }}<br>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
{% endblock %}