    {% extends "::base.html.twig" %}

    {% block title %}back office{% endblock %}

    {% block stylesheet %}
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.10.1/bootstrap-social.css"/>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"
              integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg=="
              crossorigin="anonymous"/>
        <link href='//fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,800,600italic,700' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet'
              type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet'
              type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Roboto+Slab:700' rel='stylesheet' type='text/css'>
        <link href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.16/css/bootstrap-slider.min.css'
              rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('public/css/noUiSlider.8.2.1/nouislider.min.css') }}">
        <link rel="stylesheet" href="{{ asset('public/css/subscriptionChoise.css') }}">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
    {% endblock %}

    {% block scriptImport %}

    {% endblock %}

    {% block clickLogo %}
        /backoffice
    {% endblock %}

    {% block menuInicio %}
        <style>
            .back-panel-title {
                margin: 0px 0px 10px 5px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.28);
                border-radius: 0px 0px 40px 40px;
                clear: both;
                padding: 3px 0px 13px 25px;
                font-weight: bold;
            }

            .backoffice-headding {
                color: #fff;
                background-color: rgb(14, 65, 68);
                border: 1px solid #0d3031;
                border-radius: 15px 15px 0px 0px;
                margin: 15px 0px 0px 0px;
                padding: 3px 21px;
                font-size: 16px;
                font-weight: 500;
                clear: both;
            }
            .backoffice-headding-hide {
                color: #fff;
                background-color: rgb(14, 65, 68);
                border: 1px solid #0d3031;
                border-radius: 15px 15px 0px 0px;
                margin: 15px 0px 0px 0px;
                padding: 3px 21px;
                font-size: 16px;
                font-weight: 500;
                clear: both;
            }
            .backoffice-headding-show {
                color: #fff;
                background-color: rgb(14, 65, 68);
                border: 1px solid #0d3031;
                border-radius: 15px;
                margin: 15px 0px 0px 0px;
                padding: 3px 21px;
                font-size: 16px;
                font-weight: 500;
                clear: both;
            }
            .back-table {
                margin: -1px 0px -1px 0px;
                border: 1px solid #0e4144;
            }
            .a-back {
                color: #ffffff;
                text-decoration: none;
            }

            a:focus, a:hover {
                color: rgb(98, 212, 0);
                text-decoration: underline;
                font-weight: 4000;
            }

            .back-link {
                color: #2b7375;
                text-decoration: none;
                font-weight: bolder;
            }

            .btn-back {
                text-transform: none;
                background-color: #FD9224;
                border-bottom: 0px solid #DA7D1F;
                outline: 0;
                color: #fff;
                font-weight: 700;
                letter-spacing: 1px;
                font-family: "Open Sans",Helvetica,Arial;
                margin: 6% 40% 7% 0%;
            }

            th {
                vertical-align: middle;
                padding: 0px 5px;
                border: 1px solid rgb(16, 52, 53);
                font-size: 11px;
                background-color: rgb(44, 142, 146);
                color: #f8fffa;
                font-weight: inherit;
            }

            tr {
                vertical-align: middle;
            }

            td {
                vertical-align: middle;
                border: 1px solid rgb(79, 127, 128);
                font-size: 9px;
                color: #0d3031;
                padding: 1px 0px 1px 3px;
                background-color: white;
                font-weight: bold;
            }

            .form-group input {
                font-size: 12px;
                padding: 5px 5px;
            }

            label {
                font-size: 12px;
                font-weight: 700;
                padding: 0px 0px 0px 5px;
            }

            .form-group select {
                font-size: 12px;
                height: 30px;
            }
            .back-panel {
                background-color: #fff;
                border: 1px solid transparent;
                clear: both;
                margin: 0px;
            }

            .back-employee-headding {
                color: rgb(255, 255, 255);
                background-color: rgb(28, 98, 101);
                padding: 0px 5px;
                margin: -1px 0px 0px 0px;
                border: 1px solid #0e4144;
                clear: both;
                font-size: 12px;
            }
        </style>
        <div class="{% if app.request.get('_route') == 'back_office' %}activeMenu{% endif %} well well-lg"
             style="margin-top: 30px;">
            <a class="notAjax" href="{{ path('back_office') }}">Back Office</a>
        </div>
    {% endblock %}

    {% block menu %}
        <div class="{% if app.request.get('_route') == 'show_procedures' %}activeMenu{% endif %} well well-lg">
            <a class="notAjax" href="{{ path('show_procedures') }}">Tramites</a>
        </div>
        <div class="{% if app.request.get('_route') == 'show_request' %}activeMenu{% endif %} well well-lg">
            <a class="notAjax" href="{{ path('show_request') }}">Consulta</a>
        </div>
        <div class="{% if app.request.get('_route') == 'legal_ass' %}activeMenu{% endif %} well well-lg">
            <a class="notAjax" href="{{ path('legal_ass') }}">Asistencia Legal</a>
        </div>
        <div class="{% if app.request.get('_route') == 'register_express' %}activeMenu{% endif %} well well-lg">
            <a class="notAjax" href="{{ path('register_express') }}">Registro Express</a>
        </div>
        <div class="{% if app.request.get('_route') == 'show_pilas' %}activeMenu{% endif %} well well-lg">
            <a class="notAjax" href="{{ path('show_pilas') }}" >Pila</a>
        </div>
        <div class="{% if app.request.get('_route') == 'back_entities_view' %}activeMenu{% endif %} well well-lg">
            <a class="notAjax" href="{{ path('back_entities_view') }}" >Entidades Empleados Activos</a>
        </div>
        <div class="{% if app.request.get('_route') == 'back_pay_state_view' %}activeMenu{% endif %} well well-lg">
            <a class="notAjax" href="{{ path('back_pay_state_view') }}" >Estado pagos</a>
        </div>
        <div class="{% if app.request.get('_route') == 'back_pay_state_view' %}activeMenu{% endif %} well well-lg separador">
            <a class="notAjax" href="{{ path('back_frequency_state_view') }}" >Frecuencia pagos</a>
        </div>
        <div class="{% if app.request.get('_route') == 'show_rejected_pods' %}activeMenu{% endif %} well well-lg separador">
            <a class="notAjax" href="{{ path('show_rejected_pods') }}" >Manejo de devoluciones</a>
        </div>
        <div class="{% if app.request.get('_route') == 'marketing' %}activeMenu{% endif %} well well-lg">
            <a class="notAjax" href="{{ path('marketing') }}" >Marketing</a>
        </div>
        <div class="{% if app.request.get('_route') == 'show_unfinished_users' %}activeMenu{% endif %} well well-lg">
            <a class="notAjax" href="{{ path('show_unfinished_users') }}" >Estado del registro</a>
        </div>
        <div class="{% if app.request.get('_route') == 'employer_state' %}activeMenu{% endif %} well well-lg">
            <a class="notAjax" href="{{ path('employer_state') }}" >Estado altas BackOffice</a>
        </div>
        <div class="{% if app.request.get('_route') == 'show_base_users_register' %}activeMenu{% endif %} well well-lg">
            <a class="notAjax" href="{{ path('show_base_users_register') }}" >Base Usuarios Registros </a>
        </div>


    {% endblock %}
    {% block content_style %} style="width: 98%"{% endblock %}
    {% block classSideBarBase %}class="col-sm-2"{% endblock %}
    {% block classMainBase %}class="col-sm-10 clearfix"{% endblock %}
    {% block usrName %}BACK OFFICE{% endblock %}
    {% block footer %}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
    {% block UserLogin %}
    {% endblock %}
    {% block intercom %}
    {% endblock %}

    {% block logout %}
        <span id="logout" style="display: inline">
            <a class="notAjax" href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
        </span>
    {% endblock %}

    {% block fos_user_content %}
        <div></div>
    {% endblock %}


