{% extends "::base.html.twig" %}

    {% block title %}back office{% endblock %}

    {% block stylesheet %}
        <style>
            .sidebar-back{font-family: "Open Sans",Helvetica,Arial;font-size: 14px;text-transform: initial;text-align: left;background-image: none;background-color: transparent;border: none;box-shadow: none;padding: 0px 10px;margin-bottom: 5px;padding-left: 0;}
            .sidebar-back-little{font-family: "Open Sans",Helvetica,Arial;font-size: 10px;text-transform: initial;text-align: left;background-image: none;background-color: transparent;border: none;box-shadow: none;padding: 0px 10px;margin-bottom: 5px;padding-left: 0;}
            .sidebar-back a{color: #1fcecb;}
        </style>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.10.1/bootstrap-social.css"/>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"
              integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg=="
              crossorigin="anonymous"/>
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,800,600italic,700' rel='stylesheet' type='text/css'>
        <link href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.16/css/bootstrap-slider.min.css'
              rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="//cdn.datatables.net/autofill/2.1.2/css/autoFill.bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('public/css/noUiSlider.8.2.1/nouislider.min.css') }}">
        <link rel="stylesheet" href="{{ asset('public/css/subscriptionChoise.css') }}">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
        <link rel="stylesheet" href="{{ asset('public/css/backOfficeHome.css') }}" type="text/css">
    {% endblock %}


    {% block clickLogo %}
        /backoffice
    {% endblock %}

    {% block menuInicio %}
        <div class="{% if app.request.get('_route') == 'back_office' %}activeMenu{% endif %} sidebar-back"
             style="margin-top: 10px;">
            <a class="notAjax" href="{{ path('back_office') }}">Back Office</a>
        </div>
    {% endblock %}

    {% block menu %}
        <div class="{% if app.request.get('_route') == 'show_procedures' %}activeMenu{% endif %} well sidebar-back">
            <a class="notAjax" href="{{ path('show_procedures') }}">Tramites</a>
        </div>
        {#<div class="{% if app.request.get('_route') == 'show_request' %}activeMenu{% endif %} well well-lg">#}
            {#<a class="notAjax" href="{{ path('show_request') }}">Consulta</a>#}
        {#</div>#}
        {#<div class="{% if app.request.get('_route') == 'legal_ass' %}activeMenu{% endif %} well well-lg">#}
            {#<a class="notAjax" href="{{ path('legal_ass') }}">Asistencia Legal</a>#}
        {#</div>#}
        {#<div class="{% if app.request.get('_route') == 'register_express' %}activeMenu{% endif %} well well-lg">#}
            {#<a class="notAjax" href="{{ path('register_express') }}">Registro Express</a>#}
        {#</div>#}
        <div class="{% if app.request.get('_route') == 'show_pilas' %}activeMenu{% endif %} well sidebar-back">
            <a class="notAjax" href="{{ path('show_pilas') }}" >Pila</a>
        </div>
        <div class="{% if app.request.get('_route') == 'back_entities_view' %}activeMenu{% endif %} well sidebar-back">
            <a class="notAjax" href="{{ path('back_entities_view') }}" >Entidades Empleados Activos</a>
        </div>
        <div class="{% if app.request.get('_route') == 'back_pay_state_view' %}activeMenu{% endif %} well sidebar-back">
            <a class="notAjax" href="{{ path('back_pay_state_view') }}" >Estado pagos</a>
        </div>
        <div class="{% if app.request.get('_route') == 'back_pay_state_view' %}activeMenu{% endif %} well sidebar-back">
            <a class="notAjax" href="{{ path('back_frequency_state_view') }}" >Frecuencia pagos</a>
        </div>
        {#<div class="{% if app.request.get('_route') == 'back_pila_operator_state_view' %}activeMenu{% endif %} well well-lg separador">
            <a class="notAjax" href="{{ path('back_pila_operator_state_view') }}" >Afiliaciones Pila</a>
        </div>#}
        <div class="{% if app.request.get('_route') == 'show_rejected_pods' %}activeMenu{% endif %} well sidebar-back separador">
            <a class="notAjax" href="{{ path('show_rejected_pods') }}" >Manejo de devoluciones</a>
        </div>
        <div class="{% if app.request.get('_route') == 'marketing' %}activeMenu{% endif %} well sidebar-back">
            <a class="notAjax" href="{{ path('marketing') }}" >Marketing</a>
        </div>
        <div class="{% if app.request.get('_route') == 'back_personal_info_view' %}activeMenu{% endif %} well sidebar-back">
            <a class="notAjax" href="{{ path('back_personal_info_view') }}" >Info Personal Despues Paso 3</a>
        </div>
        <div class="{% if app.request.get('_route') == 'show_unfinished_users' %}activeMenu{% endif %} well sidebar-back">
            <a class="notAjax" href="{{ path('show_unfinished_users') }}" >Estado del registro</a>
        </div>
        <div class="{% if app.request.get('_route') == 'employer_state' %}activeMenu{% endif %} well sidebar-back">
            <a class="notAjax" href="{{ path('employer_state') }}" >Estado altas BackOffice</a>
        </div>
        <div class="{% if app.request.get('_route') == 'show_base_users_register' %}activeMenu{% endif %} well sidebar-back">
            <a class="notAjax" href="{{ path('show_base_users_register') }}" >Base Usuarios Registros </a>
        </div>

    {% endblock %}
    {% block content_style %} style="width: 98%"{% endblock %}
    {% block classSideBarBase %}class="col-sm-2"{% endblock %}
    {% block classMainBase %}class="col-sm-10 clearfix" style="overflow:auto"{% endblock %}
    {% block usrName %}BACK OFFICE{% endblock %}
    {% block footer %}
    {% endblock %}
    {% block javascripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        {#<--!script>window.jQuery || document.write('<script-- src="{{ asset('js/vendor/jquery-1.11.2.min.js') }}"><\/script>')</script--!>#}
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        {#             <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>#}
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
                integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
                crossorigin="anonymous"></script>
        <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script src="//cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
        <script src="//cdn.datatables.net/autofill/2.1.2/js/dataTables.autoFill.min.js"></script>
        <script src="//cdn.datatables.net/autofill/2.1.2/js/autoFill.bootstrap.min.js"></script>
        <script>
            jQuery(document).ready(function () {
                if (!jsLoader(location.href)) {
                    $("#main").find("a").not(".notAjax").on("click", function (e) {
                        e.preventDefault();
                        var href = $(this).attr('href');
                        history.pushState({}, '', href);
                        sendAjax(href);
                    });
                } else {

                }
                $(window).on("popstate", function (e) {
                    sendAjax(location.href);
                });
                $(window).keydown(function (event) {
                    if (event.keyCode == 13) {
                        event.preventDefault();
                        return false;
                    }
                });
                // Simple ajax url manager
                var redirector = getParameterByName('redirector');
                //console.log(redirector);
                if (redirector) {
                    sendAjax(redirector);
                }
                $.getScript("{{ asset('public/js/remaind.js') }}").done(function () {
                    startReminder();
                });
                //                  addNoClick();
            });
            function getParameterByName(name) {
                name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
                var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                        results = regex.exec(location.search);
                return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            }
            function errorHandleTry(data) {
                if (typeof data.responseJSON != 'undefined') {
                    if (typeof data.responseJSON["url"] != 'undefined') {
                        window.location.href = data.responseJSON["url"];
                        data = false;
                    }
                }
                return data;
            }
            function sendAjax(url, form) {
                if (url == "") {
                    return false;
                }
                $.ajax({
                    url: url,
                    type: $(form).attr('method'),
                    data: $(form).serializeArray(),
                    statusCode: {
                        500: function () {
                            $("#errorModal").modal("show");
                        }
                    }
                }).done(function (data) {
                    window.scrollTo(0, 0);
                    if (data["url"] != null) {
                        console.log(data["url"]);
                        sendAjax(data["url"]);
                    } else {
                        $('#main').replaceWith(
                                // ... with the returned one from the AJAX response.
                                $(data).find('#main'));
                        addClick();
                        if (!jsLoader(url)) {
                            addSumbit();
                        }
                        // This thing is not working, we should check this later
                        //var currentPage = document.location;
                        //document.location = currentPage + "?redirector=" + url;
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR == errorHandleTry(jqXHR)) {
                        $("#errorModal").modal("show");
                    }
                });
            }
            function jsLoader(url) {
                if (typeof url !== 'undefined') {
                    if (url.indexOf("/backoffice/procedure/") !== -1) {
                        $.getScript("{{ asset('public/js/vendor/procedures.js') }}").done(function () {
                            startProcedure();
                        });

                        return true;
                    } else if (url.indexOf("/daviplata/") !== -1) {
                        $.getScript("{{ asset('public/js/daviplata.js') }}").done(function () {
                            startDaviplata();
                        });

                        return true;
                    }
                }
            }
        </script>

    {% endblock %}
    {% block UserLogin %}
    {% endblock %}
    {% block intercom %}
    {% endblock %}

    {% block logout %}
        <span id="logout" style="display: inline">
            <a class="notAjax" href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
        </span>
        <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-body" style="padding: 0">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                style="position: absolute; right: 15px; top: 7px;z-index: 100; color: #fff;"><span
                                    aria-hidden="true" style="color: white">&times;</span></button>
                        <div class="row-fluid block-Intro-green clearfix" id="msgSinVerificar1" style="margin-top: 0; padding: 7px;">
                            <div class="col-sm-12 col-xs-12 up-Intro" style="font-size: 26px;">¡Oops!</div>
                        </div>
                        <div class="row-fluid clearfix" style="padding: 30px 15px;">
                            <div class="row">
                                <div class="col-md-10 col-md-push-1" style="font-size: 16px;">
                                    Perdón, algo salió mal. Nuestro equipo esta buscando una solución, dale cerrar para continuar.
                                </div>
                            </div>
                            <div class="row" style="margin-top: 30px;">
                                <div class="col-xs-12 text-center">
                                    <button type="button" class="btn btnPrevious" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block fos_user_content %}
        <div></div>
    {% endblock %}


