    {% extends "::base.html.twig" %}

    {% block title %}back office{% endblock %}

    {% block stylesheet %}
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.10.1/bootstrap-social.css"/>
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet'
              type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet'
              type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:700' rel='stylesheet' type='text/css'>
        <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.16/css/bootstrap-slider.min.css'
              rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('public/css/noUiSlider.8.2.1/nouislider.min.css') }}">
        <link rel="stylesheet" href="{{ asset('public/css/subscriptionChoise.css') }}">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
    {% endblock %}

    {% block scriptImport %}

    {% endblock %}

    {% block clickLogo %}
        /backoffice
    {% endblock %}

    {% block menuInicio %}
        <div class="{% if app.request.get('_route') == 'back_office' %}activeMenu{% endif %} well well-lg"
             style="margin-top: 40px;">
            <a class="notAjax" href="{{ path('back_office') }}">Back Office</a>
        </div>
    {% endblock %}

    {% block menu %}
        <div class="{% if app.request.get('_route') == 'show_procedures' %}activeMenu{% endif %} well well-lg">
            <a class="notAjax" href="{{ path('show_procedures') }}">Tramites</a>
        </div>
        <div class="{% if app.request.get('_route') == 'show_request' %}activeMenu{% endif %} well well-lg">
            <a class="notAjax" href="{{ path('show_request') }}">Consulta</a>
        </div>
        <div class="{% if app.request.get('_route') == 'legal_ass' %}activeMenu{% endif %} well well-lg">
            <a class="notAjax" href="{{ path('legal_ass') }}">Asistencia Legal</a>
        </div>
        <div class="{% if app.request.get('_route') == 'register_express' %}activeMenu{% endif %} well well-lg">
            <a class="notAjax" href="{{ path('register_express') }}">Registro Express</a>
        </div>
        <div class="{% if app.request.get('_route') == 'show_pilas' %}activeMenu{% endif %} well well-lg separador">
            <a class="notAjax" href="{{ path('show_pilas') }}" >Pila</a>
        </div>
        <div class="{% if app.request.get('_route') == 'show_rejected_pods' %}activeMenu{% endif %} well well-lg separador">
            <a class="notAjax" href="{{ path('show_rejected_pods') }}" >Manejo de devoluciones</a>
        </div>
        <div class="{% if app.request.get('_route') == 'marketing' %}activeMenu{% endif %} well well-lg">
            <a class="notAjax" href="{{ path('marketing') }}" >Marketing</a>
        </div>
        <div class="{% if app.request.get('_route') == 'show_unfinished_users' %}activeMenu{% endif %} well well-lg">
            <a class="notAjax" href="{{ path('show_unfinished_users') }}" >Estado del registro</a>
        </div>
        <div class="{% if app.request.get('_route') == 'employer_state' %}activeMenu{% endif %} well well-lg">
            <a class="notAjax" href="{{ path('employer_state') }}" >Estado altas BackOffice</a>
        </div>

    {% endblock %}
    {% block content_style %} style="width: 95%"{% endblock %}
    {% block classSideBarBase %}class="col-sm-2"{% endblock %}
    {% block classMainBase %}class="col-sm-10 clearfix"{% endblock %}
    {% block usrName %}BACK OFFICE{% endblock %}

    {% block logout %}
        <span id="logout" style="display: inline">
            <a class="notAjax" href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
        </span>
    {% endblock %}

    {% block fos_user_content %}
        <div></div>
    {% endblock %}

    {% block footer %}
    {% endblock %}
