{% extends "::base.html.twig" %}
{% block header %}
<div class="row-fluid up-Help-Phone">
    <div class="container">
        <div class="txthelp">
            <span><em><strong>¿Necesita ayuda?</strong></em> <i class="fa fa-mobile"></i>Bogotá: 350 833 0000</span>
        </div>
    </div>
</div>
{% endblock header %}
{% block body %}
                <div class="container body-container navbar">
                    <div class="row mainContentRow">
                        <div id="sidebar" class="col-sm-3">
                            {% block sidebar %}
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarSidebar" aria-expanded="false" aria-controls="navbar2">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand sidebar visible-xs" href="#">
                                        <img src="{{ asset('img/logo.png') }}" alt="Sympifica"/>
                                    </a>
                                </div>
                                <div id="navbarSidebar" class="section about navbar-collapse collapse">
                                    <div class="well well-lg leftColumnLogo">
                                        <a href=""><img class="hidden-sm img-responsive" alt="Symplifica" src="/img/logo-oscuro.png"></a>
                                    </div>
                                    <div class="{% if app.request.get('_route') == 'show_dashboard' %}activeMenu{% endif %} well well-lg separador" style="margin-top: 40px;">
                                        <a href="{{ path('back_office')}}">Inicio</a>
                                    </div>
                                    <div class="{% if app.request.get('_route') == 'show_dashboard' %}activeMenu{% endif %} well well-lg separador" style="margin-top: 40px;">
                                        <a href="{{ path('register_express')}}">Registro express</a>
                                    </div>
                                    <div class="{% if app.request.get('_route') == 'show_dashboard' %}activeMenu{% endif %} well well-lg separador" style="margin-top: 40px;">
                                        <a href="{{ path('legal_ass')}}">Asistencia legal</a>
                                    </div>
                                    <div class="{% if app.request.get('_route') == 'show_dashboard' %}activeMenu{% endif %} well well-lg separador" style="margin-top: 40px;">
                                        <a href="{{ path('show_procedures')}}">Tramites</a>
                                    </div>                                      
                                </div>
                            {% endblock %}
                        </div>
                        <div id="main" class="col-sm-9">
                        	<div class="col-md-8">
                                <h4>Datos basicos</h4>
                                <ul>
                                    <li>
                                        <p><strong>Entidad</strong>
                                        {{ action.entityEntity.name }}</p>
                                    </li>
                                    <li>
                                        <p><strong>Nombres</strong>
                                        {{ action.personPerson.names }}</p>
                                    </li>
                                    <li>
                                        <p><strong>Apellido</strong>
                                        {{ action.personPerson.lastName1 }}</p>
                                    </li>
                                    <li>
                                        <p><strong>Segundo apellido</strong>
                                        {{ action.personPerson.lastName2 }}</p>
                                    </li>
                                    <li>
                                        <p><strong>Documento</strong>
                                            {{ action.personPerson.documentType }} {{ action.personPerson.document }}</p>
                                    </li>
                                    <li>
                                        <p><strong>Fecha de nacimiento</strong>
                                        {{ action.personPerson.birthDate|date('d/m/Y') }}</p>
                                    </li>
                                </ul>                                                                
                            </div>
                            <div class="col-md-4">
                                <div class="col-md-12">
                                    <h4>Esta en la entidad</h4>
                                    <a class="btn btn-orange notAjax" href="{{ path('change_action_status',{'procedureId':action.realProcedureRealProcedure.idProcedure , 'actionId':action.idAction ,'status':'Completado'})}}">Correcto</a>
                                </div>                                                                 
                            </div>
                            <div class="col-md-12" style="border-top:dotted 1px;">
                                <div class="col-md-12">
                                    {{ render(controller('RocketSellerTwoPickBundle:BackOffice:reportError',{'idAction':action.idAction}))}}  
                                </div> 
                            </div>
                            <div class="col-md-12" style="border-top:dotted 1px;margin-top:20px;text-align:center;">
                                <a class="btn btn-default notAjax" href="{{ path('show_procedure',{'procedureId':action.realProcedureRealProcedure.idProcedure})}}">Volver al tramite</a>
                            </div>
                                                                
                            </div>
                            
                            
                            
                        </div>
                    </div>
                </div>
{% endblock %}
{% block footer %}
            <footer>
                <div class="container">
                    <div class="col-sm-2 logo">
                        <img src="{{ asset('img/logo-oscuro.png') }}" alt="Sympifica" class="hidden-sm img-responsive"/>
                        <img src="{{ asset('img/logo-oscuro-responsive.png') }}" alt="Sympifica" class="visible-sm img-responsive"/>
                    </div>
                    <div class="col-sm-5 links">
                        <div class="col-sm-4"><a href="#">Inicio</a></div>                        
                        <div class="col-sm-4"><a href="{{ path('_nosotros') }}">Registro express</a></div>
                        <div class="col-sm-4"><a href="{{ path('show_help') }}">Tramites</a></div>                        

                    </div>
                    <div class="col-sm-5 social">
                        <div class="red facebook"><a href="#" target="_blank"></a></div>
                        <div class="red linkedin"><a href="#" target="_blank"></a></div>
                        <div class="red twitter"><a href="#" target="_blank"></a></div>
                        <div class="terminos">
                            <a href="{{ path('terminos_condiciones') }}">Términos y Condiciones</a><br />
                            Copyright© Todos los derechos reservados Symplifica
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}