{% extends "@RocketSellerTwoPick/BackOffice/backOfficeBase.html.twig" %}

{% block title %}Ver Informacion del Empleado{% endblock %}
{% block fos_user_content %}
    <div id="main" class="col-sm-15">
        <div class="col-md-15">
            <div class="panel panel-title">
                {% if action.actionTypeActionType.name == 'Validar Informacion del Empleado' %}
                    Ver Información de {{ person.fullName }}
                {% else %}
                    {{ action.actionTypeActionType.name }} de {{ person.fullName }}
                {% endif %}
            </div>
            <div class="panel panel-default">
                <h4 class="col-md-12 panel-heading">Información Registrada</h4>
                <div class="col-md-12">
                    <table class="table">
                        <thead class="tab-header">
                        <tr>
                            <th style="vertical-align: middle" >Campo</th>
                            <th style="vertical-align: middle" >Valor</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr >
                                <td><strong>Nombre</strong></td>
                                <td>{{ person.names}}</td>
                            </tr>
                            <tr>
                                <td><strong>Primer Apellido</strong></td>
                                <td>{{ person.lastName1}}</td>
                            </tr>
                            <tr>
                                <td><strong>Segundo Apellido</strong></td>
                                <td>{{ person.lastName2}}</td>
                            </tr>
                            <tr>
                                <td><strong>Segundo Apellido</strong></td>
                                <td>{{ person.lastName2}}</td>
                            </tr>
                            <tr>
                                <td><strong>Dirección</strong></td>
                                <td>{{ person.mainAddress}}</td>
                            </tr>
                            {% for phone in person.phones %}
                            <tr>
                                <td><strong>celular</strong></td>
                                <td>{{ phone.phoneNumber }}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td><strong>Ciudad/Municipio</strong></td>
                                <td>{{ person.city }}</td>
                            </tr>
                            <tr>
                                <td><strong>Departamento</strong></td>
                                <td>{{ person.department }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        {% if person.documentType == 'CC'%}
                                            Cédula de Ciudadanía
                                        {% elseif person.documentType == 'CE'%}
                                            Cédula de Estranjería
                                        {% elseif person.documentType == 'TI'%}
                                            Tarjeta de Identidad
                                        {% endif %}
                                    </strong>
                                </td>
                                <td>{{ person.document }}</td>
                            </tr>
                            <tr>
                                <td><strong>Fecha de Expedición del documento</strong></td>
                                <td>{{ person.documentExpeditionDate.format('d/m/Y') }}</td>
                            </tr>
                            <tr>
                                <td><strong>Lugar de Expedición del documento</strong></td>
                                <td>{{ person.documentExpeditionPlace }}</td>
                            </tr>
                            <tr>
                                <td><strong>Fecha de Nacimiento</strong></td>
                                <td>{{ person.birthDate.format('d/m/Y') }}</td>
                            </tr>
                            <tr>
                                <td><strong>Estdo Civil</strong></td>
                                <td>{{ person.civilStatus}}</td>
                            </tr>
                            <tr>
                                <td><strong>Genero</strong></td>
                                <td>{{ person.gender}}</td>
                            </tr>
                            <tr>
                                <td><strong>Correo Electrónico</strong></td>
                                {% if person.email == '' %}
                                    <td style="color: #2f2f2f"> No tiene</td>
                                {% else %}
                                    <td>{{ person.email }}</td>
                                {% endif %}
                            </tr>

                        </tbody>
                    </table>

                </div>
                <div class="col-md-12" style="margin-top:40px;text-align:center;margin-bottom:40px">
                    <a class="btn btn-orange notAjax" style="background-color: #CB6D6C; border-color: #CB6D6C" href="{{ path('change_action_status',{'procedureId':action.realProcedureRealProcedure.idProcedure , 'actionId':action.idAction ,'status':'Error'})}}">Cancelar</a>
                    <a class="btn btn-orange notAjax" style="background-color: #1b7e5a ; border-color: #1b7e5a" href="{{ path('change_action_status',{'procedureId':action.realProcedureRealProcedure.idProcedure , 'actionId':action.idAction ,'status':'Completado'})}}">Aceptar</a>
                    <a class="btn btn-bitbucket notAjax" href="{{ path('show_procedure',{'procedureId':action.realProcedureRealProcedure.idProcedure})}}">Volver al tramite</a>
                </div>

            </div>
            <div class="col-md-12" style="border-top:dotted 1px;">
                <div class="col-md-12">
                    {{ render(controller('RocketSellerTwoPickBundle:BackOffice:reportError',{'idAction':action.idAction}))}}
                </div>
            </div>

        </div>
    </div>
{% endblock %}




