{% extends "::base.html.twig" %}
{% block content %}
<div class="col-md-8">
	<div class="col-md-12">
		<ul>
			<li>
				{{ person.names}}
			</li>
			<li>
				{{ person.lastName1}}
			</li>
			<li>
				{{ person.lastName2}}
			</li>
			<li>
				{{ person.documentType}}
			</li>
		</ul>
	</div>
</div>

	{{ render(controller('RocketSellerTwoPickBundle:BackOffice:reportError',{'idAction':idAction}))}}

{% endblock %}