{% extends "::base.html.twig" %}
{% block header %}
<div class="row-fluid up-Help-Phone">
    <div class="container">
        <div class="txthelp">
            <span><em><strong>¿Necesita ayuda?</strong></em> <i class="fa fa-mobile"></i>Bogotá: 350 833 0000</span>
        </div>
    </div>
</div>
{% endblock header %}
{% block body %}
	<div class="container body-container navbar">
        <div class="row mainContentRow">
			<div id="sidebar" class="col-sm-3">
	            {% block sidebar %}
	                <div class="navbar-header">
	                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarSidebar" aria-expanded="false" aria-controls="navbar2">
	                        <span class="sr-only">Toggle navigation</span>
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                    </button>
	                    <a class="navbar-brand sidebar visible-xs" href="#">
	                        <img src="{{ asset('img/logo.png') }}" alt="Sympifica"/>
	                    </a>
	                </div>
	                <div id="navbarSidebar" class="section about navbar-collapse collapse">
	                    <div class="well well-lg leftColumnLogo">
	                        <a href=""><img class="hidden-sm img-responsive" alt="Symplifica" src="/img/logo-oscuro.png"></a>
	                    </div>
	                    <div class="{% if app.request.get('_route') == 'show_dashboard' %}activeMenu{% endif %} well well-lg separador" style="margin-top: 40px;">
	                        <a href="{{ path('back_office')}}">Inicio</a>
	                    </div>
	                    <div class="{% if app.request.get('_route') == 'show_dashboard' %}activeMenu{% endif %} well well-lg separador" style="margin-top: 40px;">
	                        <a href="{{ path('register_express')}}">Registro express</a>
	                    </div>
	                    <div class="{% if app.request.get('_route') == 'show_dashboard' %}activeMenu{% endif %} well well-lg separador" style="margin-top: 40px;">
                            <a href="{{ path('legal_ass')}}">Asistencia legal</a>
                        </div>
	                    <div class="{% if app.request.get('_route') == 'show_dashboard' %}activeMenu{% endif %} well well-lg separador" style="margin-top: 40px;">
	                        <a href="{{ path('show_procedures')}}">Tramites</a>
	                    </div>                                      
	                </div>
	            {% endblock %}
	        </div>
			<div id="main" class="col-sm-9" style="color:black;">
				{{ form_start(form) }}
				{{ form_widget(form, { 'attr': {'class': 'form-black'} }) }}			
				{{ form_end(form)}}				
	        </div>
	    </div>
	</div>				
{% endblock %}