{% extends "@RocketSellerTwoPick/BackOffice/backOfficeBase.html.twig" %}

{% block fos_user_content %}
    <style>
        .back-panel-body{
            min-height: 80px;
        }
    </style>
    <div id="main">
        <div class="back-panel-title">
            Back Office
        </div>
        <div class="col-md-12" style="display: inline-block">
            <div class="back-panel back-content">
                <div class="backoffice-headding">Tramites</div>
                <div class="back-panel-body">
                    <a class="notAjax" href="{{ path('show_procedures',{'orderType':'none','order':'ASC'}) }}">Click para entrar a los tramites</a>
                </div>
            </div>
            <div class="back-panel back-content">
                <div class="backoffice-headding">Empelados Post Registro</div>
                <div class="back-panel-body">
                    <a class="notAjax" href="{{ path('post_register') }}">Click para ver empleados post registro</a>
                </div>
            </div>
            <div class="back-panel back-content">
                <div class="backoffice-headding">Estados Validación Backoffice</div>
                <div class="back-panel-body">
                    <a class="notAjax" href="{{ path('employer_state') }}">Click para ver el estado de backoffice</a>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="display: inline-block">
            <div class="back-panel back-content">
                <div class="backoffice-headding">Grupos de correo</div>
                <div class="back-panel-body">
                    <a class="notAjax" href="{{ path('show_email_groups') }}"> Click para ver los grupos de correo</a>
                </div>
            </div>
            <div class="back-panel back-content">
                <div class="backoffice-headding">Información Nómina </div>
                <div class="back-panel-body">
                    <a class="notAjax" href="{{ path('show_novelties_info') }}"> Click para ver la información de nómina</a>
                </div>
            </div>
            <div class="back-panel back-content">
                <div class="backoffice-headding">Pila</div>
                <div class="back-panel-body">
                    <a class="notAjax" href="{{ path('show_pilas') }}"> Click para ver información de las pilas</a>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="display: inline-block">
            <div class="back-panel back-content">
                <div class="backoffice-headding">Información Entidades</div>
                <div class="back-panel-body">
                    <a class="notAjax" href="{{ path('back_entities_view') }}"> Click para ver las entidades</a>
                </div>
            </div>
            <div class="back-panel back-content">
                <div class="backoffice-headding">Información Calendarios</div>
                <div class="back-panel-body">
                    <a class="notAjax" href="{{ path('show_calendar_info') }}"> Click para ver la información de calendarios</a>
                </div>
            </div>
            <div class="back-panel back-content">
                <div class="backoffice-headding">Estado de Pagos</div>
                <div class="back-panel-body">
                    <a class="notAjax" href="{{ path("back_pay_state_nomina_view",{
                        'index':1}) }}"> Click para ver el estado de pagos de nomina</a>
                </div>
            </div>
            <div class="back-panel back-content">
                <div class="backoffice-headding">Estado de Pagos</div>
                <div class="back-panel-body">
                    <a class="notAjax" href="{{ path("back_pay_state_pila_view",{
                        'index':1}) }}"> Click para ver el estado de pagos de Pila</a>
                </div>
            </div>
            <div class="back-panel back-content">
                <div class="backoffice-headding">Estado de Pagos</div>
                <div class="back-panel-body">
                    <a class="notAjax" href="{{ path("back_pay_state_prima_view",{
                        'index':1}) }}"> Click para ver el estado de pagos de Prima</a>
                </div>
            </div>
            {#<div class="back-panel back-content">#}
                {#<div class="backoffice-headding">Modificar Usuarios y Contratos </div>#}
                {#<div class="back-panel-body">#}
                    {#<a class="notAjax" href="{{ path('change_contracts') }}"> Click para modificar información</a>#}
                {#</div>#}
            {#</div>#}
        </div>
    </div>
{% endblock %}

