{% extends "@RocketSellerTwoPick/BackOffice/backOfficeBase.html.twig" %}

{% block title %}Marketing{% endblock %}

{% block fos_user_content %}
    <div id="main" class="col-sm-15">
        <div class="col-md-11">
            <div class="panel panel-title">
                Marketing
            </div>
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Landing Symplifica</h4>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <td class="tbHeader">Tipo de Inscripción</td>
                        <td class="tbHeader">Nombre</td>
                        <td class="tbHeader">E-Mail</>
                        <td class="tbHeader">Teléfono</td>
                        <td class="tbHeader">Fecha Inscripción</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for landing in landings %}
                        <tr>
                            <td>{{ landing.entityType}}</td>
                            <td>{{ landing.name}}</td>
                            <td>{{ landing.email }}</td>
                            <td>{{ landing.phone }}</td>
                            <td>{{ landing.createdAt|date('y-m-d h:i:s a') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
