{% extends "@RocketSellerTwoPick/BackOffice/backOfficeBase.html.twig" %}

{% block title %}Vista Usuarios{% endblock %}

{% block fos_user_content %}


<div id="main">
    <div class="back-panel-title">
        BackOffice Estado Pagos
    </div>
    <div class="back-panel">
        <div class="backoffice-headding">
            <h4>Información de los pagos de Prima - Los colores por días son basados en días calendario</h4>
        </div>

        <table class="table" style="padding: 0px; margin: 0px">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Cédula Empleador</th>
                    <th>Nombre Empleador</th>
                    <th>Periodo al que corresponde el pago</th>
                    <th>Valor</th>
                    <th>Estado</th>
                    <th>Fecha en que solicitó el recaudo</th>
                </tr>
            </thead>
            <tbody>
            {% for podP in podsPr %}
                {% if podP.purchaseOrders != NULL and (podP.purchaseOrdersStatus.idNovoPay == "S2" or podP.purchaseOrdersStatus.idNovoPay == "00") %}
                    {% if "now"|date('Y-m-d') == podP.purchaseOrders.dateCreated|date_modify("+3 days")|date('Y-m-d')  %}
                        <tr bgcolor="#FFFF00">
                    {% elseif "now"|date('Y-m-d') > podP.purchaseOrders.dateCreated|date_modify("+3 days")|date('Y-m-d') %}
                        <tr bgcolor="#FF0000">
                    {% endif %}
                {% else %}
                    <tr>
                {% endif %}
                    {% if podP.prima != NULL > 0 and podP.purchaseOrders != NULL %}
                        {% if podP.prima.contractContract.employerHasEmployeeEmployerHasEmployee.employerEmployer.personPerson.document != NULL %}
                            <td>{{ podP.idPurchaseOrdersDescription }}</td>
                            <td>{{ podP.prima.contractContract.employerHasEmployeeEmployerHasEmployee.employerEmployer.personPerson.document }}</td>
                            <td>{{ podP.prima.contractContract.employerHasEmployeeEmployerHasEmployee.employerEmployer.personPerson.fullName }}</td>
                            <td>{{ utils.month_number_to_name(podP.prima.month) }} - {{ podP.prima.year }}</td>
                            <td>$ {{ podP.value|number_format(0, '.', ',') }}</td>
                            <td>
                                {% if podP.purchaseOrdersStatus.idNovoPay == "S2" %}
                                    El recaudo del dinero está en proceso
                                {% elseif podP.purchaseOrdersStatus.idNovoPay == "P1" %}
                                    El usuario no ha autorizado el pago
                                {% elseif podP.purchaseOrdersStatus.idNovoPay == "00" %}
                                    El recaudo se aprobó y el pago de la planilla está en proceso
                                {% elseif podP.purchaseOrdersStatus.idNovoPay == "-1" %}
                                    Dispersión aprobada, planilla paga
                                {% elseif podP.purchaseOrdersStatus.idNovoPay == "-2" %}
                                    Dispersión rechazada, la planilla no pudo ser pagada
                                {% elseif podP.purchaseOrdersStatus.idNovoPay == "-3" %}
                                    Se devolvió el dinero a la cuenta del empleador
                                {% else %}
                                    {{ podP.purchaseOrdersStatus.description }}
                                {% endif %}
                            </td>
                            <td>
                                {% if podP.purchaseOrders != NULL and podP.purchaseOrdersStatus.idNovoPay != "P1" %}
                                    {{ podP.purchaseOrders.dateCreated|localizeddate('long', 'none', 'es-CO') }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        {% endif %}
                    {% else %}
                        {% if podP.purchaseOrders != null and podP.purchaseOrders.idUser.personPerson.document != NULL %}
                            <td>{{ podP.idPurchaseOrdersDescription }}</td>
                            <td>{{ podP.purchaseOrders.idUser.personPerson.document }}</td>
                            <td>{{ podP.purchaseOrders.idUser.personPerson.fullName }}</td>
                            <td>{{ podP.description }}</td>
                            <td>$ {{ podP.value|number_format(0, '.', ',') }}</td>
                            <td>
                                {% if podP.purchaseOrdersStatus.idNovoPay == "S2" %}
                                    El recaudo del dinero está en proceso
                                {% elseif podP.purchaseOrdersStatus.idNovoPay == "P1" %}
                                    El usuario no ha autorizado el pago
                                {% elseif podP.purchaseOrdersStatus.idNovoPay == "00" %}
                                    El recaudo se aprobó y el pago de la planilla está en proceso
                                {% elseif podP.purchaseOrdersStatus.idNovoPay == "-1" %}
                                    Dispersión aprobada, planilla paga
                                {% elseif podP.purchaseOrdersStatus.idNovoPay == "-2" %}
                                    Dispersión rechazada, la planilla no pudo ser pagada
                                {% elseif podP.purchaseOrdersStatus.idNovoPay == "-3" %}
                                    Se devolvió el dinero a la cuenta del empleador
                                {% else %}
                                    {{ podP.purchaseOrdersStatus.description }}
                                {% endif %}
                            </td>
                            <td>
                                {% if podP.purchaseOrders != NULL and podP.purchaseOrdersStatus.idNovoPay != "P1" %}
                                    {{ podP.purchaseOrders.dateCreated|localizeddate('long', 'none', 'es-CO') }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if maxIndex > 1 %}
            {% set nextIndex = index + 1 %}
            {% set prevIndex = 0 %}
            {% if index > 1 and index <= maxIndex %}
                {% set prevIndex = index - 1 %}
            {% endif %}
            <div class="text-center col-md-12" style="display: inline-flex">
                <a class="btn btn-back notAjax" style="margin: 10px 1px 0px auto;background-color: #0a0908;border-bottom: 0px solid #000000;" href="{{ path("back_pay_state_prima_view",{
                    'index':1}) }}">&#10094;&#10094;</a>
                {% if index > 1 and index <= maxIndex %}
                    <a class="btn btn-back notAjax" style="margin: 10px 1px 0px 1px;background-color: #0a0908;border-bottom: 0px solid #000000;" href="{{ path("back_pay_state_prima_view",{
                        'index':prevIndex}) }}">&#10094;</a>
                {% endif %}
                {% if index-3 > 0 %}
                    {% for actual in (index-3)..(index-1) %}
                        <a class="btn btn-back notAjax" style="margin: 10px 1px 0px 1px;background-color: #0a0908;border-bottom: 0px solid #000000;" href="{{ path("back_pay_state_prima_view",{
                            'index':actual}) }}">{{ actual }}</a>
                    {% endfor %}
                {% elseif index > 1 %}
                    {% for actual in 1 .. (index-1) %}
                        <a class="btn btn-back notAjax" style="margin: 10px 1px 0px 1px;background-color: #0a0908;border-bottom: 0px solid #000000;" href="{{ path("back_pay_state_prima_view",{
                            'index':actual}) }}">{{ actual }}</a>
                    {% endfor %}
                {% endif %}
                <a class="btn btn-back notAjax" style="margin: 10px 1px 0px 1px;background-color: #33d7d6;;border-bottom: 0px solid #33d7d6;" href="{{ path("back_pay_state_prima_view",{
                    'index':index}) }}">{{ index }}</a>
                {% if index+3 <= maxIndex %}
                    {% for actual in (index+1)..(index+3) %}
                        <a class="btn btn-back notAjax" style="margin: 10px 1px 0px 1px;background-color: #0a0908;border-bottom: 0px solid #000000;" href="{{ path("back_pay_state_prima_view",{
                            'index':actual}) }}">{{ actual }}</a>
                    {% endfor %}
                {% elseif index < maxIndex %}
                    {% for actual in (index+1)..maxIndex %}
                        <a class="btn btn-back notAjax" style="margin: 10px 1px 0px 1px;background-color: #0a0908;border-bottom: 0px solid #000000;" href="{{ path("back_pay_state_prima_view",{
                            'index':actual}) }}">{{ actual }}</a>
                    {% endfor %}
                {% endif %}
                {% if index > 0 and index < maxIndex %}
                    <a class="btn btn-back notAjax" style="margin: 10px 1px 0px 1px;background-color: #0a0908;border-bottom: 0px solid #000000;" href="{{ path("back_pay_state_prima_view",{
                        'index':nextIndex}) }}">&#10095;</a>
                {% endif %}
                <a class="btn btn-back notAjax" style="margin: 10px auto 0px 1px;background-color: #0a0908;border-bottom: 0px solid #000000;" href="{{ path("back_pay_state_prima_view",{
                    'index':maxIndex}) }}">&#10095;&#10095;</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
