{% extends "@RocketSellerTwoPick/BackOffice/backOfficeBase.html.twig" %}

{% block title %}Vista Usuarios{% endblock %}

{% block fos_user_content %}
    <div id="main" class="col-sm-15">
        <div class="col-md-12">
            <div class="panel panel-title">
                BackOffice Estado Pagos
            </div>
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Información de los pagos de nómina</h4>
                </div>
                <div>
                    <table class="table">
                        <tr>
                            <th>Cédula Empleador</th>
                            <th>Nombre Empleador</th>
                            <th>Cédula Empleado</th>
                            <th>Nombre Empleado</th>
                            <th>Periodo al que corresponde el pago</th>
                            <th>Metodo de pago</th>
                            <th>Valor</th>
                            <th>Estado</th>
                        </tr>
                        {% for pod in podsN %}
                        <tr>
                            {% if pod.payrollPayroll.contractContract.employerHasEmployeeEmployerHasEmployee.employerEmployer.personPerson.document != NULL %}
                                <td>{{ pod.payrollPayroll.contractContract.employerHasEmployeeEmployerHasEmployee.employerEmployer.personPerson.document }}</td>
                                <td>{{ pod.payrollPayroll.contractContract.employerHasEmployeeEmployerHasEmployee.employerEmployer.personPerson.fullName }}</td>
                                <td>{{ pod.payrollPayroll.contractContract.employerHasEmployeeEmployerHasEmployee.employeeEmployee.personPerson.document }}</td>
                                <td>{{ pod.payrollPayroll.contractContract.employerHasEmployeeEmployerHasEmployee.employeeEmployee.personPerson.fullName }}</td>
                                <td>
                                    {{ utils.month_number_to_name(pod.payrollPayroll.month) }} -
                                    {% if pod.payrollPayroll.period == 2 %}
                                        1ra Quincena
                                    {% elseif pod.payrollPayroll.period == 4 %}
                                        {% if pod.payrollPayroll.contractContract.frequencyFrequency.payrollCode == "Q" %}
                                            2da Quincena
                                        {% else %}
                                            Mensual
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>{{ pod.payrollPayroll.contractContract.payMethodPayMethod.payTypePayType.simpleName }}</td>
                                <td>$ {{ pod.value|number_format(0, '.', ',') }}</td>
                                <td>
                                    {% if pod.purchaseOrdersStatus != NULL %}
                                        {% if pod.payrollPayroll.contractContract.payMethodPayMethod.payTypePayType.simpleName == "EFE" %}
                                            {% if pod.purchaseOrdersStatus.idNovoPay == -1 %}
                                                Empleador confirmó el pago
                                            {% else %}
                                                Empleador aún no confirma el pago
                                            {% endif %}
                                        {% else %}
                                            {{ pod.purchaseOrdersStatus.name }}
                                        {%  endif %}
                                    {% else %}
                                        {% if pod.payrollPayroll.contractContract.payMethodPayMethod.payTypePayType.simpleName == "EFE" %}
                                            Empleador aún no confirma el pago
                                        {% else %}
                                            Pendiente de pago
                                        {%  endif %}
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Información de los pagos de pila</h4>
            </div>
            <div>
                <table class="table">
                    <tr>
                        <th>Cédula Empleador</th>
                        <th>Nombre Empleador</th>
                        <th>Periodo al que corresponde el pago</th>
                        <th>Valor</th>
                        <th>Estado</th>
                    </tr>
                    {% for podP in podsP %}
                        <tr>
                            {% if podP.payrollsPila|length > 0 %}
                                {% if podP.payrollsPila[0].contractContract.employerHasEmployeeEmployerHasEmployee.employerEmployer.personPerson.document != NULL %}
                                    <td>{{ podP.payrollsPila[0].contractContract.employerHasEmployeeEmployerHasEmployee.employerEmployer.personPerson.document }}</td>
                                    <td>{{ podP.payrollsPila[0].contractContract.employerHasEmployeeEmployerHasEmployee.employerEmployer.personPerson.fullName }}</td>
                                    <td>{{ utils.month_number_to_name(podP.payrollsPila[0].month) }}</td>
                                    <td>$ {{ podP.value|number_format(0, '.', ',') }}</td>
                                    <td>{{ podP.purchaseOrdersStatus.name }}</td>
                                {% endif %}
                            {% else %}
                                {% if podP.purchaseOrders.idUser.personPerson.document != NULL %}
                                    <td>{{ podP.purchaseOrders.idUser.personPerson.document }}</td>
                                    <td>{{ podP.purchaseOrders.idUser.personPerson.fullName }}</td>
                                    <td>{{ podP.description }}</td>
                                    <td>$ {{ podP.value|number_format(0, '.', ',') }}</td>
                                    <td>{{ podP.purchaseOrdersStatus.name }}</td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
