{% extends "@RocketSellerTwoPick/BackOffice/backOfficeBase.html.twig" %}

{% block title %}Vista Frecuencias de Pago{% endblock %}

{% block fos_user_content %}
    <div id="main" class="col-sm-15">
        <div class="col-md-12">
            <div class="panel panel-title">
                BackOffice Frecuencias de pago
            </div>
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Empleados Activos Quincenales</h4>
                </div>

                <table class="table">
                    <tr>
                        <th>Empleador</th>
                        <th>Cédula</th>
                        <th>Correo Empleador</th>
                        <th>Empleado</th>
                        <th>Cédula</th>
                        <th>Tipo de pago</th>
                        <th>Tipo de contrato</th>
                    </tr>
                    {% for ehe in ehes %}
                        {% set locIndex = loop.index - 1 %}
                        {% for contract in ehe.contracts %}
                            {% if contract.state == 1 and contract.frequencyFrequency.payrollCode == "Q" %}
                                <tr>
                                    <td> {{ ehe.employerEmployer.personPerson.names }} {{ ehe.employerEmployer.personPerson.lastName1 }}</td>
                                    <td> {{ ehe.employerEmployer.personPerson.document }} </td>
                                    <td> {{ usersEmail[locIndex] }} </td>
                                    <td> {{ ehe.employeeEmployee.personPerson.names }} {{ ehe.employeeEmployee.personPerson.lastName1 }}</td>
                                    <td> {{ ehe.employeeEmployee.personPerson.document }} </td>
                                    <td> {{ contract.payMethodpayMethod.payTypePayType.simpleName }}</td>
                                    <td> {{ contract.timeCommitmentTimeCommitment.name }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </table>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Empleados Activos Mensuales</h4>
                </div>

                <table class="table">
                    <tr>
                        <th>Empleador</th>
                        <th>Cédula</th>
                        <th>Correo Empleador</th>
                        <th>Empleado</th>
                        <th>Cédula</th>
                        <th>Tipo de pago</th>
                        <th>Tipo de contrato</th>
                    </tr>
                    {% for ehe in ehes %}
                        {% set locIndex = loop.index - 1 %}
                        {% for contract in ehe.contracts %}
                            {% if contract.state == 1 and contract.frequencyFrequency.payrollCode == "M" %}
                                <tr>
                                    <td> {{ ehe.employerEmployer.personPerson.names }} {{ ehe.employerEmployer.personPerson.lastName1 }}</td>
                                    <td> {{ ehe.employerEmployer.personPerson.document }} </td>
                                    <td> {{ usersEmail[locIndex] }} </td>
                                    <td> {{ ehe.employeeEmployee.personPerson.names }} {{ ehe.employeeEmployee.personPerson.lastName1 }}</td>
                                    <td> {{ ehe.employeeEmployee.personPerson.document }} </td>
                                    <td> {{ contract.payMethodpayMethod.payTypePayType.simpleName }}</td>
                                    <td> {{ contract.timeCommitmentTimeCommitment.name }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </table>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Empleados Activos Totales</h4>
                </div>

                <table class="table">
                    <tr>
                        <th>Empleador</th>
                        <th>Cédula</th>
                        <th>Correo Empleador</th>
                        <th>Empleado</th>
                        <th>Cédula</th>
                        <th>Tipo de pago</th>
                        <th>Tipo de contrato</th>
                        <th>Número de días trabajados por semana</th>
                        <th>Frecuencia de pago</th>
                    </tr>
                    {% for ehe in ehes %}
                        {% set locIndex = loop.index - 1 %}
                        {% for contract in ehe.contracts %}
                                <tr>
                                    <td> {{ ehe.employerEmployer.personPerson.names }} {{ ehe.employerEmployer.personPerson.lastName1 }}</td>
                                    <td> {{ ehe.employerEmployer.personPerson.document }} </td>
                                    <td> {{ usersEmail[locIndex] }} </td>
                                    <td> {{ ehe.employeeEmployee.personPerson.names }} {{ ehe.employeeEmployee.personPerson.lastName1 }}</td>
                                    <td> {{ ehe.employeeEmployee.personPerson.document }} </td>
                                    <td>
                                        {% if contract.payMethodPayMethod is not null and contract.payMethodPayMethod.payTypePayType is not null %}
                                        {{ contract.payMethodPayMethod.payTypePayType.simpleName }}</td>
                                        {% endif %}
                                    <td> {{ contract.timeCommitmentTimeCommitment.name }}</td>
                                    <td>
                                        {% if contract.workableDaysMonth != 30 %}
                                            {{ contract.workableDaysMonth / 4 }}
                                        {% endif %}
                                    </td>
                                    <td> {{ contract.frequencyFrequency.name }}</td>
                                </tr>
                        {% endfor %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
