{% extends "@RocketSellerTwoPick/BackOffice/backOfficeBase.html.twig" %}

{% block title %}Vista Frecuencias de Pago{% endblock %}

{% block fos_user_content %}
    <div id="main" class="col-sm-15">
        <div class="col-md-12">
            <div class="panel panel-title">
                BackOffice Info Personal
            </div>
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Despues del paso 3</h4>
                </div>

                <table class="table">
                    <tr>
                        <th>Empleador</th>
                        <th>Cédula</th>
                        <th>Correo Empleador</th>
                        <th>Celular Empleador</th>
                    </tr>
                    {% for ehe in ehes %}
                        {% set locIndex = loop.index - 1 %}
                        {% for contract in ehe.contracts %}
                                <tr>
                                    <td> {{ ehe.employerEmployer.personPerson.names }} {{ ehe.employerEmployer.personPerson.lastName1 }}</td>
                                    <td> {{ ehe.employerEmployer.personPerson.document }} </td>
                                    <td> {{ usersEmail[locIndex] }} </td>
                                    <td> {{ usersPhone[locIndex] }} </td>
                                </tr>
                        {% endfor %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
