{% extends "@RocketSellerTwoPick/BackOffice/backOfficeBase.html.twig" %}

{% block title %}Vista Usuarios{% endblock %}

{% block fos_user_content %}
    <div id="main" class="col-sm-15">
        <div class="col-md-12">
            <div class="panel panel-title">
                BackOffice Estado Operador Pila
            </div>
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Información de la afiliación de los diferentes operadores a Enlace Operativo</h4>
                </div>
                <div>
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>Cédula Empleador</th>
                            <th>Nombre Empleador</th>
                            <th>Estado Inscripción</th>
                            <th>Imagen del error</th>
                            <th>Descripción del error</th>
                            <th>Número Radicado</th>
                            <th>Actualizar estado</th>
                        </tr>
                        {% for employer in employers %}
                            {% set localTran = NULL %}
                            {% if employer.existentPila != -1 %}
                                {% for transaction in employer.transactions %}
                                    {% if transaction.idTransaction == employer.existentPila %}
                                        {% set localTran = transaction %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <tr>
                                <td>{{ employer.idEmployer }}</td>
                                <td>{{ employer.personPerson.document }}</td>
                                <td>{{ employer.personPerson.fullName }}</td>
                                <td>
                                    {% if employer.existentPila == NULL %}
                                        No hay información acerca de la afiliación
                                    {% elseif employer.existentPila == -1 %}
                                        El empleador ya está inscrito en Enlace Operativo
                                    {% elseif employer.existentPila == -2 %}
                                        El empleador terminó su registro antes de la implementación de PilaBot
                                    {% else %}
                                        {{ localTran.purchaseOrdersStatus.name }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if employer.existentPila != -1 and employer.existentPila != NULL and employer.existentPila != -2 %}
                                        <a class="btn btn-bitbucket notAjax" style="margin-bottom: 20px" href="{{path('export_error_pila_afiliation',{'idTransaction':localTran.idTransaction})}}">Descargar Imagenes</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if employer.existentPila != -1 and employer.existentPila != NULL and employer.existentPila != -2 %}
                                        {{ localTran.transactionState.log }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if employer.existentPila != -1 and employer.existentPila != NULL and employer.existentPila != -2 %}
                                        {{ localTran.radicatedNumber }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if employer.existentPila != -1 and employer.existentPila != NULL and employer.existentPila != -2 %}
                                        <a class ='notAjax' href="{{ path('back_pila_state_register_update',{'idEmployer': employer.idEmployer }) }}">Actualizar Información</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}