{% extends "@RocketSellerTwoPick/BackOffice/backOfficeBase.html.twig" %}

{% block title %}Pila{% endblock %}

{% block fos_user_content %}
    <div id="main" class="col-sm-15">
        <div class="col-md-12">
            <div class="panel panel-title">
                BackOffice Pila
            </div>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Información de las pilas</h4>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th style="vertical-align: middle" rowspan="2">Empleador</th>
                        <th style="vertical-align: middle" rowspan="2">Cedula</th>
                        <th style="vertical-align: middle" rowspan="2">Tipo de Pila</th>
                        <th style="..." rowspan="2">Valor de la Pila</th>
                        <th style="vertical-align: middle" rowspan="2">Número de planilla</th>
                        <th style="vertical-align: middle" rowspan="2">Archivo de pila</th>
                    </tr>
                    <tbody>
                    {% for pila in pilas %}
                        {% set index = loop.index0 %}
                        {% set fileType =  tipoPlanilla[index] %}
                        {% set fileStoredName = pila.enlaceOperativoFileName %}
                        {% set idFileName = "fileName" ~ pila.idPurchaseOrdersDescription  %}
                        {% set idFileNameButton = pila.idPurchaseOrdersDescription  %}
                        <tr>
                          <td style="vertical-align: middle">{{ pila.payrollsPila[0].contractContract.employerHasEmployeeEmployerHasEmployee.employerEmployer.personPerson.fullName }}</td>
                          <td style="vertical-align: middle">{{ pila.payrollsPila[0].contractContract.employerHasEmployeeEmployerHasEmployee.employerEmployer.personPerson.document }}</td>
                          <td style="vertical-align: middle">Id: {{ pila.idPurchaseOrdersDescription }} - Planilla de pila tipo: {{ fileType }}</td>
                          <td style="vertical-align: middle">$ {{ pila.value|number_format(0) }} </td>
                          <td style="vertical-align: middle"> <input id= {{idFileName}} value= "{{ fileStoredName }}" size="10"></input> <button id= {{idFileNameButton}} class="saveId">Guardar</button></td>
                          <td style="vertical-align: middle"> <button type"button" onclick="location.href = '/api/public/v1/secured/monthlies/{{pila.idPurchaseOrdersDescription}}/plain/text';">Generar Archivo</button></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </thead>
            </table>
        </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
    $(document).ready(function () {
        $(".saveId").on("click", function() {
            var idToRetrieve = $(this).attr("id");
            var valToStoreFrom = "fileName" + idToRetrieve;
            var valToStore = $("#" + valToStoreFrom).val();

            if(valToStore != ""){
              location.href = "/backoffice/planilla/persista/"+valToStore+"/"+idToRetrieve;
            }
        });
    });
    </script>

{% endblock %}
