{% extends "@RocketSellerTwoPick/BackOffice/backOfficeBase.html.twig" %}

{% block title %}Pila{% endblock %}

{% block fos_user_content %}
    <div id="main">
        <div class="back-panel-title">
            Pilas
        </div>
        <div class="back-panel">
            <div class="backoffice-headding">
                <h4>Información de las pilas</h4>
            </div>
            <table id="table-pilas" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th style="width: 10%">Empleador</th>
                    <th style="width: 10%">Cedula</th>
                    <th style="width: 10%">Mes Pila</th>
                    <th style="width: 10%">Tipo</th>
                    <th style="width: 10%">Valor</th>
                    <th style="width: 30%">Número de planilla</th>
                    <th style="width: 10%">Estado carga</th>
                    <th style="width: 10%">Detalle del estado</th>
                    <th style="width: 10%">Archivo de pila</th>
                </tr>
                <tr>
                    <th class="th1" style="width: 10%">Empleador</th>
                    <th class="th1" style="width: 10%">Cedula</th>
                    <th class="th1" style="width: 10%">Mes Pila</th>
                    <th class="th1" style="width: 10%">Tipo de Pila</th>
                    <th class="th1" style="width: 10%">Valor de la Pila</th>
                    <th class="th1" style="width: 30%">Número de planilla</th>
                    <th class="th1" style="width: 10%">Estado carga</th>
                    <th class="th1" style="width: 10%">Archivo de Errores/Advertencias</th>
                    <th class="th1" style="width: 10%">Archivo de pila</th>
                </tr>
                </thead>
                <tbody>
                {% for pila in pilas %}
                    {% set index = loop.index0 %}
                    {% set fileType =  tipoPlanilla[index] %}
                    {% if pila.enlaceOperativoFileName == null %}
                        {% set fileStoredName = "" %}
                    {% else %}
                        {% set fileStoredName = pila.enlaceOperativoFileName %}
                    {% endif %}
                    {% set idFileName = "fileName" ~ pila.idPurchaseOrdersDescription  %}
                    {% set idFileNameButton = pila.idPurchaseOrdersDescription  %}
                    <tr>
                        <td style="vertical-align: middle">{{ pila.payrollsPila[0].contractContract.employerHasEmployeeEmployerHasEmployee.employerEmployer.personPerson.fullName }}</td>
                        <td style="vertical-align: middle">{{ pila.payrollsPila[0].contractContract.employerHasEmployeeEmployerHasEmployee.employerEmployer.personPerson.document }}</td>
                        <td style="vertical-align: middle">{{ utils.month_number_to_name(pila.payrollsPila[0].month) }}</td>
                        <td style="vertical-align: middle">Id: {{ pila.idPurchaseOrdersDescription }} - Tipo: {{ fileType }}</td>
                        <td style="vertical-align: middle">$ {{ pila.value|number_format(0) }} </td>
                        <td style="vertical-align: middle;"> <input id= {{idFileName}} value="{{ fileStoredName }}" size="10"></input> <div style="display: inline-block"><button id= "GS{{idFileNameButton}}" class="saveId" onclick=" if( document.getElementById('{{idFileName}}').value != '') location.href = '/backoffice/planilla/persista/'+document.getElementById('{{idFileName}}').value+'/{{pila.idPurchaseOrdersDescription}}/notok';">Guardar Sin Aprobar</button><button id= "GA{{idFileNameButton}}" class="okId" onclick=" if( document.getElementById('{{idFileName}}').value != '') location.href = '/backoffice/planilla/persista/'+document.getElementById('{{idFileName}}').value+'/{{pila.idPurchaseOrdersDescription}}/ok';">Guardar y Aprobar</button></div></td>
                        <td style="vertical-align: middle">
                            {% if pila.uploadedFile == NULL %}
                                El usuario no ha pagado aún
                            {% elseif pila.uploadedFile == -1 %}
                                La planilla subió sin errores ni advertencias
                            {% elseif pila.uploadedFile == -2 %}
                                Operaciones no ha aprobado la planilla
                            {% elseif pila.uploadedFile > 0 %}
                                {% for trans in pila.transactions %}
                                    {% if trans.idTransaction ==  pila.uploadedFile %}
                                        {{ trans.purchaseOrdersStatus.name }}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td style="vertical-align: middle">
                            {% if pila.uploadedFile != NULL and pila.uploadedFile > 0 %}
                                {% for trans in pila.transactions %}
                                    {% if trans.idTransaction ==  pila.uploadedFile and ( (trans.purchaseOrdersStatus.idNovoPay == "CarPla-PlaErr") or (trans.purchaseOrdersStatus.idNovoPay == "CarPla-PlaWar") ) %}
                                        {% if trans.transactionState.document != NULL %}
                                            <button id= "DI{{idFileNameButton}}" class="downloadId" onclick="location.href = '/backoffice/download/{{idFileNameButton}}/planilla/log';">Descargar imagen</button>
                                        {% else %}
                                            {% if pila.payrollsPila[0].contractContract.employerHasEmployeeEmployerHasEmployee.employerEmployer.existentPila == -1 %}
                                                Está inscrito a Enlace Operativo pero presentó un error al subir
                                            {% elseif pila.payrollsPila[0].contractContract.employerHasEmployeeEmployerHasEmployee.employerEmployer.existentPila != NULL %}
                                                La inscripción a Enlace Operativo se envió pero al parecer falló
                                            {% else %}
                                                No está inscrito a Enlace Operativo
                                            {% endif %}
                                        {% endif %}
                                    {% elseif  trans.idTransaction ==  pila.uploadedFile and  trans.purchaseOrdersStatus.idNovoPay == "CarPla-ErrSer" %}
                                        <button id= "VE{{idFileNameButton}}" class="uploadId" onclick="location.href = '/backoffice/upload/{{idFileNameButton}}/planilla';">Volver a enviar</button>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td style="vertical-align: middle"> <button type"button" onclick="location.href = '/api/public/v1/secured/monthlies/{{pila.idPurchaseOrdersDescription}}/plains/download/text';">Generar Archivo</button></td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        $('#table-pilas .th1').each( function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Buscar" style="width: 75%;margin: 1px 2px;padding: 1px 5px;color:black"/>' );
        });

        // DataTable
        var table = $('#table-pilas').DataTable();


        // Apply the search
        table.columns().every( function () {
            var that = this;
            $( 'input', this.header() ).on( 'keyup change', function () {
                if (that.search() !== this.value ) {
                    that
                    .search( this.value )
                    .draw();
                }
            } );
        } );

        /*$(".saveId").on("click", function() {
            var idToRetrieve = $(this).attr("id");
            idToRetrieve = idToRetrieve.substring(2);
            var valToStoreFrom = "fileName" + idToRetrieve;
            var valToStore = $("#" + valToStoreFrom).val();

            if(valToStore != ""){
              location.href = "/backoffice/planilla/persista/"+valToStore+"/"+idToRetrieve+"/notok";
            }
        });

        $(".okId").on("click", function() {
            var idToRetrieve = $(this).attr("id");
            idToRetrieve = idToRetrieve.substring(2);
            var valToStoreFrom = "fileName" + idToRetrieve;
            var valToStore = $("#" + valToStoreFrom).val();

                if(valToStore != ""){
                    location.href = "/backoffice/planilla/persista/"+valToStore+"/"+idToRetrieve+"/ok";
                }
        });

        $(".uploadId").on("click", function() {
            var podId = $(this).attr("id");
            podId = podId.substring(2);
            location.href = "/backoffice/upload/"+podId+"/planilla";
        });

        $(".downloadId").on("click", function() {
            var podId = $(this).attr("id");
            podId = podId.substring(2);
            location.href = "/backoffice/download/"+podId+"/planilla/log";
        });*/
    });
    </script>

{% endblock %}
