{% extends "@RocketSellerTwoPick/BackOffice/backOfficeBase.html.twig" %}

{% block title %}Pila{% endblock %}

{% block fos_user_content %}
    <div id="main">
        <div class="back-panel-title">
            Pilas
        </div>
        <div class="back-panel">
            <div class="backoffice-headding">
                <h4>Información de las pilas</h4>
            </div>
            <table id="table-pilas" class="col-md-12">
                <thead>
                    <tr>
                        <th style="width: 20%">Empleador</th>
                        <th style="width: 7%">Cedula</th>
                        <th style="width: 7%">Mes Pila</th>
                        <th style="width: 10%">Tipo de Pila</th>
                        <th style="width: 8%">Valor de la Pila</th>
                        <th>Número de planilla</th>
                        <th style="width: 15%">Estado carga de planilla</th>
                        <th style="width: 10%">Archivo de pila</th>
                    </tr>
                    <tbody>
                    {% for pila in pilas %}
                        {% set index = loop.index0 %}
                        {% set fileType =  tipoPlanilla[index] %}
                        {% set fileStoredName = pila.enlaceOperativoFileName %}
                        {% set idFileName = "fileName" ~ pila.idPurchaseOrdersDescription  %}
                        {% set idFileNameButton = pila.idPurchaseOrdersDescription  %}
                        <tr>
                          <td style="vertical-align: middle">{{ pila.payrollsPila[0].contractContract.employerHasEmployeeEmployerHasEmployee.employerEmployer.personPerson.fullName }}</td>
                          <td style="vertical-align: middle">{{ pila.payrollsPila[0].contractContract.employerHasEmployeeEmployerHasEmployee.employerEmployer.personPerson.document }}</td>
                          <td style="vertical-align: middle">{{ utils.month_number_to_name(pila.payrollsPila[0].month) }}</td>
                          <td style="vertical-align: middle">Id: {{ pila.idPurchaseOrdersDescription }} - Tipo: {{ fileType }}</td>
                          <td style="vertical-align: middle">$ {{ pila.value|number_format(0) }} </td>
                          <td style="vertical-align: middle;"> <input id= {{idFileName}} value="{{ fileStoredName }}" size="10"></input> <div style="display: inline-block"><button id= {{idFileNameButton}} class="saveId">Guardar Sin Aprobar</button><button id= {{idFileNameButton}} class="okId">Guardar y Aprobar</button></div></td>
                          <td style="vertical-align: middle">
                              {% if pila.uploadedFile == NULL %}
                                  El usuario no ha pagado aún
                              {% elseif pila.uploadedFile == -1 %}
                                  La planilla subió sin errores ni advertencias
                              {% elseif pila.uploadedFile == -2 %}
                                  Operaciones no ha aprobado la planilla
                              {% elseif pila.uploadedFile > 0 %}
                                {% for trans in pila.transactions %}
                                    {% if trans.idTransaction ==  pila.uploadedFile %}
                                       {{ trans.purchaseOrdersStatus.name }}
                                    {% endif %}
                                {% endfor %}
                              {% endif %}
                          </td>
                          <td style="vertical-align: middle"> <button type"button" onclick="location.href = '/api/public/v1/secured/monthlies/{{pila.idPurchaseOrdersDescription}}/plains/download/text';">Generar Archivo</button></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </thead>
            </table>
        </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
    $(document).ready(function () {
        $('#table-pilas').DataTable();
        $(".saveId").on("click", function() {
            var idToRetrieve = $(this).attr("id");
            var valToStoreFrom = "fileName" + idToRetrieve;
            var valToStore = $("#" + valToStoreFrom).val();

            if(valToStore != ""){
              location.href = "/backoffice/planilla/persista/"+valToStore+"/"+idToRetrieve+"/notok";
            }
        });

        $(".okId").on("click", function() {
            var idToRetrieve = $(this).attr("id");
            var valToStoreFrom = "fileName" + idToRetrieve;
            var valToStore = $("#" + valToStoreFrom).val();

            if(valToStore != ""){
                location.href = "/backoffice/planilla/persista/"+valToStore+"/"+idToRetrieve+"/ok";
            }
        });
    });
    </script>

{% endblock %}
