{% extends "@RocketSellerTwoPick/BackOffice/backOfficeBase.html.twig" %}

{% block title %}Tramites{% endblock %}

{% block fos_user_content %}
    <div id="main" class="col-sm-15">
        <div class="col-md-9">
            <div class="panel panel-title">
                Tramites
            </div>
            <br>
            <div class="back-panel">
                <div class="backoffice-headding" >
                    <h7>Tramites Pendientes {{ "now"|date("m/d/Y") }}</h7>
                </div>
                {% if order is not defined %}
                    {% set order = 'ASC' %}
                {% endif %}
                {% if order == 'ASC' %}
                    {% set order = 'DESC' %}
                {% else %}
                    {% set order = 'ASC' %}
                {% endif %}
            </div>
            <table class="col-md-12 back-table">
                <thead>
                <tr>
                    <th rowspan="2">
                        <a id="orderByName" class ='notAjax' href="{{ path('show_procedures',{'orderType':'name','order':order}) }}">Empleador</a>
                    </th>
                    <th rowspan="2">
                        <a id="orderByName" class ='notAjax' href="{{ path('show_procedures',{'orderType':'document','order':order}) }}">Identificación</a>
                    </th>
                    <th rowspan="2">Tipo de Tramite</th>
                    <th rowspan="2">estado</th>
                    <th rowspan="2">
                        <a id="orderByName" class ='notAjax' href="{{ path('show_procedures',{'orderType':'date','order':order}) }}">Fecha Pago</a>
                    </th>
                    <th rowspan="2">Accion</th>
                </tr>
                </thead>
                <tbody>
                {% for procedure in procedures %}
                    {% set estado =  procedure.employerEmployer.status %}
                    <tr{% if estado == 0%}
                        style="background-color: rgba(21, 204, 11, 0.26);"
                    {% elseif estado ==1 %}
                    {% elseif estado == 2 %}
                    {% elseif estado == 3 %}
                    {% elseif estado == 4 %}
                    {% elseif 5 %}
                    {% endif %}>
                        <td>{{ procedure.employerEmployer.personPerson.fullName}}</td>
                        <td>{{ procedure.employerEmployer.personPerson.document}}</td>
                        <td>{{ procedure.procedureTypeProcedureType.name }}</td>
                        <td {%  if  estado == 2 %}
                            style="color: #9C2F2F"
                        {% elseif estado == 1 %}
                            style="color: #666666"
                        {% elseif estado == 0 %}
                            style="color: black"
                        {% elseif estado == 3 %}
                            style="color: #d59401"
                        {% elseif estado == 4 %}
                            style="color: #008800"
                        {% elseif estado == 5 %}
                            style="color: #008800"
                        {% endif %}>
                            {%  if  estado == 2 %}
                                Error
                            {% elseif estado == 1 %}
                                En tramite
                            {% elseif estado == 0 %}
                                Nuevo
                            {% elseif estado == 3 %}
                                Corregido
                            {% elseif estado == 4 %}
                                Terminado
                            {% elseif estado == 5 %}
                                Contrato Validado
                            {% endif %}</td>
                        <td>{{ procedure.createdAt|date('y-m-d h:i:s a') }}</td>
                        <td><a class="notAjax" href="{{ path('show_procedure',{'procedureId':procedure.idProcedure})}}">Ver</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% block rightContent %}
            <div class="col-sm-3 col-md-3" id="form_procedures" style="margin-top: 30px; border-left: 1px solid lightgrey">
                {{ form_start(form) }}
                {{ form_end(form) }}
            </div>

        {% endblock %}

        <br>
    </div>
{% endblock %}
