{% extends "@RocketSellerTwoPick/BackOffice/backOfficeBase.html.twig" %}

{% block title %}Tramites{% endblock %}

{% block fos_user_content %}
    <div id="main" class="col-sm-15">
        <div class="col-md-11">
            <div class="panel panel-title">
                Tramites
            </div>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Tramites Pendientes</h4>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Empleador</th>
                        <th>Cedula</th>
                        <th>tipo de tramite</th>
                        <th>fecha</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                {% for procedure in procedures %}
                    <tr>
                        <td>{{ procedure.employerEmployer.personPerson.fullName}}</td>
                        <td>{{ procedure.employerEmployer.personPerson.document}}</td>
                        <td>{{ procedure.procedureTypeProcedureType.name }}</td>
                        <td>{{ procedure.createdAt|date('y-m-d h:i:s a') }}</td>
                        <td><a href="{{ path('show_procedure',{'procedureId':procedure.idProcedure})}}">Ver</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
{% endblock %}
