{% extends "@RocketSellerTwoPick/BackOffice/backOfficeBase.html.twig" %}

{% block title %}Tramite No {{ procedure.idProcedure }}{% endblock %}

{% block fos_user_content %}
	<div id="main" class="col-sm-15">
		<div class="col-md-11">
			<div class="panel panel-title">
				<p>Tramite No: {{ procedure.idProcedure }}</p>
			</div>
			<br>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Empleador: {{ procedure.userUser.personPerson.fullName }}</h4>
				</div>
				<table class="table">
					<thead>
					<tr>
						<th>Vuelta</th>
						<th>persona</th>
						<th>entidad</th>
						<th>Estado</th>
						<th>Acción</th>
					</tr>
					</thead>
					<tbody>
					{% for action in procedure.action if action.personPerson == employerHasEmployees[0].employerEmployer.personPerson %}

						{% if action.actionErrorActionError %}
							{% if action.status|lower == "completado" %}
								<tr style="background-color:#A2E383;">
							{% else %}
								<tr style="background-color:#FF5555;">
							{% endif %}
						{% elseif  action.status|lower == "nuevo" %}
							<tr>
						{% elseif  action.status|lower == "completado" %}
							<tr style="background-color:#A2E383;">
						{% elseif action.status|lower == "iniciado" %}
							<tr>
						{% endif %}
						<td class="{{action.personPerson.idPerson}}">{{ action.ActionTypeActionType.name }}</td>
						<td>{{ action.personPerson.fullName }}</td>
						<td>
							{% if action.entityEntity %}
								{{ action.entityEntity.name }}
							{% else %}
								-
							{% endif %}
						</td>
						<td>{% if action.actionErrorActionError %}
								{% if action.status|lower == "completado" %}
									{{ action.status }}
								{% else %}
									Error
								{% endif %}
							{% else %}
								{{ action.status}}
							{% endif %}
						</td>
						{% if action.status|lower != "completado" %}
							{% if action.ActionTypeActionType.name|lower == "validar informacion del empleador" %}
								<td><a class="notAjax" href="{{ path('check_register',{'idAction':action.idAction})}}">Validar Datos Empleador</a></td>
							{% elseif action.ActionTypeActionType.name|lower == "validar documentos" %}
								<td>Validar documentos</td>
							{% elseif action.ActionTypeActionType.name|lower == "inscripcion" %}
								<td><a class="notAjax" href="{{ path('make_afiliation',{'idAction':action.idAction})}}">Hacer incripción</a></td>
							{% elseif action.ActionTypeActionType.name|lower == "llamar entidad" %}
								<td><a class="notAjax" href="{{ path('call_entity',{'idAction':action.idAction})}}">Llamar entidad</a></td>
							{% elseif action.ActionTypeActionType.name|lower == "llamar cliente" %}
								<td><a class="notAjax" href="{{ path('call_person',{'idAction':action.idAction})}}">Llamar cliente</a></td>
							{% endif %}
						{% else %}
							{% if action.ActionTypeActionType.name|lower == "validar informacion del empleador" %}
									<td><a class="notAjax" href="{{ path('show_info',{'idAction':action.idAction})}}">Consultar Información</a></td>
							{% else %}
							<td>Terminaste</td>
							{% endif %}
						{% endif %}
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="panel panel-default">
				{% for employerHasEmployee in employerHasEmployees %}
					<div class="panel-heading">
						<h4>Empleado: {{ employerHasEmployee.employeeEmployee.personPerson.fullName}}</h4>
					</div>
					<table class="table">
						<thead>
						<tr>
							<th>Vuelta</th>
							<th>persona</th>
							<th>entidad</th>
							<th>Estado</th>
							<th>Acción</th>
						</tr>
						</thead>
						<tbody>
						{% for action in employerHasEmployee.employeeEmployee.personPerson.action %}
							{% if action.actionErrorActionError %}
								{% if action.status|lower == "completado" %}
									<tr style="background-color:#A2E383;">
								{% else %}
									<tr style="background-color:#FF5555;">
								{% endif %}
							{% elseif  action.status|lower == "nuevo" %}
								<tr>
							{% elseif  action.status|lower == "completado" %}
								<tr style="background-color:#A2E383;">
							{% elseif action.status|lower == "iniciado" %}
								<tr>
							{% endif %}
							<td class="{{action.personPerson.idPerson}}">{{ action.ActionTypeActionType.name }}</td>
							<td>{{ action.personPerson.fullName }}</td>
							<td>
								{% if action.entityEntity %}
									{{ action.entityEntity.name }}
								{% else %}
									-
								{% endif %}
							</td>
							<td>{% if action.actionErrorActionError %}
									{% if action.status|lower == "completado" %}
										{{ action.status }}
									{% else %}
										Error
									{% endif %}
								{% else %}
									{{ action.status}}
								{% endif %}
							</td>
							{% if action.status|lower != "completado" %}
								{% if action.ActionTypeActionType.name|lower == "Validar Informacion del Empleador" %}
									<td><a class="notAjax" href="{{ path('check_register',{'idPerson':action.personPerson.idPerson,'idAction':action.idAction})}}">Validar registro</a></td>
								{% elseif action.ActionTypeActionType.name|lower == "validar documentos" %}
									<td>Validar documentos</td>
								{% elseif action.ActionTypeActionType.name|lower == "inscripcion" %}
									<td><a class="notAjax" href="{{ path('make_afiliation',{'idAction':action.idAction})}}">Hacer incripción</a></td>
								{% elseif action.ActionTypeActionType.name|lower == "llamar entidad" %}
									<td><a class="notAjax" href="{{ path('call_entity',{'idAction':action.idAction})}}">Llamar entidad</a></td>
								{% elseif action.ActionTypeActionType.name|lower == "llamar cliente" %}
									<td><a class="notAjax" href="{{ path('call_person',{'idAction':action.idAction})}}">Llamar cliente</a></td>
								{% endif %}
							{% else %}
								<td>Terminaste</td>
							{% endif %}
							</tr>
						{% endfor %}
					</tbody>
					</table>
				{% endfor %}
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4>Errores</h4>
				</div>
				<table class="table">
					<thead>
					<tr>
						<th>Vuelta</th>
						<th>persona</th>
						<th>entidad</th>
						<th>Estado</th>
						<th>Acción</th>
					</tr>
					</thead>
					<tbody>
					{% for action in procedure.action %}
						{% if action.actionErrorActionError %}
							<tr>
								<td>{{action.actionErrorActionError.id}}</td>
								<td>{{ action.personPerson.names}} {{action.personPerson.lastName1}}</td>
								<td>{{ action.realProcedureRealProcedure.employerEmployer.personPerson.phones[0].phoneNumber}}</td>
								<td>{{action.actionErrorActionError.description}}</td>
								<td>{{action.actionErrorActionError.status}}</td>
								{% if action.actionErrorActionError.status|lower == "sin contactar" %}
									<td><a class="notAjax" href="{{ path('change_action_error_status',{'procedureId':action.realProcedureRealProcedure.idProcedure , 'actionError':action.actionErrorActionError.id,'status':"Contactado"})}}">Contactado</a></td>
								{% elseif action.actionErrorActionError.status|lower =="contactado" %}
									<td><a class="notAjax" href="{{ path('change_action_error_status',{'procedureId':action.realProcedureRealProcedure.idProcedure , 'actionError':action.actionErrorActionError.id,'status':"Corregido"})}}">Corregido</a></td>
								{% elseif action.actionErrorActionError.status|lower == "corregido" %}
									<td>-</td>
								{% endif %}
							</tr>
						{% endif %}
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="col-sm-12">

				<p style="background-color:red;">
					{% for flashMessage in app.session.flashbag.get('error') %}

						{{ flashMessage }}

					{% endfor %}
				</p>
				<p style="background-color:green;">
					{% for flashMessage in app.session.flashbag.get('success') %}

						{{ flashMessage }}

					{% endfor %}
				</p>
				{% for employerHasEmployee in employerHasEmployees %}
					{% if employerHasEmployee.state == 4 %}
						<p>Terminar proceso de: {{ employerHasEmployee.employeeEmployee.personPerson.names}}Terminado</p>
					{% else %}
						<p>Terminar proceso de: {{ employerHasEmployee.employeeEmployee.personPerson.names}}<a href="{{ path('complete_employee',{'idEmployerHasEmployee':employerHasEmployee.idEmployerHasEmployee,'procedureId':procedure.idProcedure })}}">Terminar</a> </p>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}

