{% extends "@RocketSellerTwoPick/BackOffice/backOfficeBase.html.twig" %}

{% block title %}Validar Documentos Empleado{% endblock %}
{% block fos_user_content %}
    <div id="main" class="col-sm-15">
        <div class="col-md-15">
            <div class="panel panel-title">
                {% if action.actionTypeActionType.name == 'Validar Documentos' %}
                    Validar Documentos de {{ person.fullName }}
                {% else %}
                    {{ action.actionTypeActionType.name }} de {{ person.fullName }}
                {% endif %}
            </div>
            <div class="panel panel-default">
                <h4 class="col-md-6 panel-heading">CEDULA</h4>
                <h4 class="col-md-6 panel-heading">CARTA DE AUTORIZACIÓN</h4>
            </div>
            <div class="col-md-12">
                {% if person.documentDocument=='' %}
                    <div class="col-md-6" style="margin-top:250px; text-align:center">
                        <p>Llamar al cliente {{ user.personPerson.fullName}} y recordarle que suba la cedula de este empleado</p>
                    </div>
                {% else %}
                    <div class="col-md-6">
                        <embed width="400" height="500" src={{ path_document}}  alt=”pdf” pluginspage=”//www.adobe.com/products/acrobat/readstep2.html”>
                        </embed>
                    </div>
                {% endif %}

                {% if eHE.authDocument == '' %}
                    <div class="col-md-6" style="margin-top:250px; text-align:center">
                        <p>Llamar al cliente {{ user.personPerson.fullName}} y recordarle que suba la carta de autorización para este empleado</p>
                    </div>
                {% else %}
                    <div class="col-md-6">
                        <embed width="400" height="500" src={{ pathCarta }}  alt=”pdf” pluginspage=”//www.adobe.com/products/acrobat/readstep2.html”>
                        </embed>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6" style="margin-top: 20px; text-align:center">
                <td><button class="checked"></button></td>
            </div>
            <div class="col-md-6" style="margin-top: 20px; text-align:center">
                <td><button class="checked"></button></td>
            </div>
            <div class="panel panel-default">
                <div class="col-sm-6" style="margin-top: 30px; text-align:center">
                    {% if nameDoc=='' and nameCarta==''%}

                    {% elseif nameCarta=='' %}
                        <h4>Descargar documentos</h4>
                        <p>{{ cedula.documentTypeDocumentType.name}} {{ person.fullName }}</p>
                        <p>El usuario no a subido la carta de autorizacón a Symplifica</p>
                        <a class="btn btn-orange notAjax" href="{{ path('export_document_by_id',{'idDoc':cedula.idDocument})}}">Descargar</a>
                        <br>
                    {% elseif nameDoc=='' %}
                        <h4>Descargar documentos</h4>
                        <p>El usuario no a subido la cedula de este empleado</p>
                        <p>{{ carta.documentTypeDocumentType.name }} {{ person.fullName }}</p>
                        <a class="btn btn-orange notAjax" href="{{ path('export_document_by_id',{'idDoc':carta.idDocument})}}">Descargar</a>
                        <br>
                    {% else %}
                        <h4>Descargar documentos</h4>
                        <a class="btn btn-bitbucket notAjax" href="{{ path('export_document_by_id',{'idDoc':cedula.idDocument})}}" style="width: 230px;margin-bottom: 10px">Descargar Cédula</a>
                        <a class="btn btn-bitbucket notAjax" href="{{ path('export_document_by_id',{'idDoc':carta.idDocument})}}" style="width: 230px;margin-bottom: 10px">Descargar Carta Autorización</a>
                        <br>
                    {% endif %}
                    <br>
                </div>
            </div>
            <div class="col-sm-6" style="margin-top: 20px; text-align:center">
                <div>
                    <h4>Generar archivo Excel</h4>
                    <a class="btn btn-orange notAjax" target="_blank" href="{{ path('back_person_cvs_export', {'idAction':action.idAction })}}">Generar</a>
                    <br>
                </div>
            </div>
            <div class="col-sm-6" style="margin-top: 10px; text-align:center">

                <div style="margin-top: 30px">
                    <a class="btn btn-orange notAjax" href="{{ path('change_action_status',{'procedureId':action.realProcedureRealProcedure.idProcedure , 'actionId':action.idAction ,'status':'Completado'})}}">Validar</a>
                    <a class="btn btn-bitbucket notAjax" href="{{ path('show_procedure',{'procedureId':action.realProcedureRealProcedure.idProcedure})}}">Volver al tramite</a>
                </div>
            </div>
            <div class="col-md-12" style="margin-top:30px;border-top:dotted 1px;">
                <div class="col-md-12">
                    {{ render(controller('RocketSellerTwoPickBundle:BackOffice:reportError',{'idAction':action.idAction}))}}
                </div>
            </div>
        </div>
    </div>


{% endblock %}