{% extends "@RocketSellerTwoPick/BackOffice/backOfficeBase.html.twig" %}

{% block title %}Validar Documentos Empleador{% endblock %}
{% block fos_user_content %}
    <div id="main" class="col-sm-15">
        <div class="col-md-15">
            <div class="panel panel-title">
                {% if action.actionTypeActionType.name == 'Validar Contrato' %}
                    Validar Contrato de {{ person.fullName }}
                {% else %}
                    {{ action.actionTypeActionType.name }} de {{ person.fullName }}
                {% endif %}
            </div>
            <div class="panel panel-default center">
                <h4 class="col-md-12 panel-heading">CONTRATO</h4>
            </div>
            <div class="col-md-12 center">
                {% if path_document == '' %}
                    <div class="col-md-12" style="margin-top:250px;margin-bottom: 150px; text-align:center">
                        <p>Llamar al cliente {{ user.personPerson.fullName}} y recordarle que suba el contrato firmado</p>
                    </div>
                {% else %}
                    <div class="col-md-12">
                        <embed width="600" height="750" src={{ path_document}}  alt=”pdf” pluginspage=”//www.adobe.com/products/acrobat/readstep2.html”>
                        </embed>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-12" style="margin-top: 20px; text-align:center">
                <td><button class="checked"></button></td>
            </div>
            <div class="panel panel-default">
                <div class="col-sm-12" style="margin-top: 10px; text-align:center">
                    {% if nameDoc==''%}
                        <p>El usuario no a subido el contrato</p>
                    {% else %}
                        <h4>Descargar documentos</h4>
                        <p>{{ contrato.documentTypeDocumentType.name}} {{ person.fullName }}</p>
                        <a class="btn btn-orange notAjax" href="{{ path('export_documents_person',{'idPerson':action.personPerson.idPerson})}}">Descargar</a>
                        <br>
                    {% endif %}
                    <br>
                </div>
            </div>
            <div class="col-sm-12" style="margin-top: 5px; text-align:center">
                <div style="margin-top: 30px">
                    <a class="btn btn-orange notAjax" href="{{ path('change_action_status',{'procedureId':action.realProcedureRealProcedure.idProcedure , 'actionId':action.idAction ,'status':'Completado'})}}">Validar</a>
                    <a class="btn btn-bitbucket notAjax" href="{{ path('show_procedure',{'procedureId':action.realProcedureRealProcedure.idProcedure})}}">Volver al tramite</a>
                </div>
            </div>
            <div class="col-md-12" style="margin-top:30px;border-top:dotted 1px;">
                <div class="col-md-12">
                    {{ render(controller('RocketSellerTwoPickBundle:BackOffice:reportError',{'idAction':action.idAction}))}}
                </div>
            </div>
        </div>
    </div>


{% endblock %}